<?php 
    if($this->totalItemCount <= 0) {
        echo 'Không có dữ liệu'; return false;
    }
    
	// Link
	$this->currentURL	= $this->currentURL . '-page-';
	$linkStart		= $this->currentURL . $this->first;
	$linkEnd		= $this->currentURL . $this->last;
	$linkNext		= $this->currentURL . $this->next;
	$linkPrevious	= $this->currentURL . $this->previous;
	
	// Button
	$startXhtml		= '<a href="javascript:;" class="prev disabled"><i class="fa fa-angle-double-left"></i></a>';
	$previousXhtml	= '<a href="javascript:;" class="prev disabled"><i class="fa fa-angle-left"></i></a>';
	$nextXhtml		= '<a href="javascript:;" class="next disabled"><i class="fa fa-angle-right"></i></a>';
	$endXhtml		= '<a href="javascript:;" class="next disabled"><i class="fa fa-angle-double-right"></i></a>';
	
	if($this->current != 1){
		$startXhtml		= sprintf('<a href="%s" class="prev"><i class="fa fa-angle-double-left"></i></a>', $linkStart);
		$previousXhtml	= sprintf('<a href="%s" class="prev"><i class="fa fa-angle-left"></i></a>', $linkPrevious);
	}
	
	if($this->current != $this->last){
		$nextXhtml		= sprintf('<a href="%s" class="next"><i class="fa fa-angle-right"></i></a>', $linkNext);
		$endXhtml		= sprintf('<a href="%s" class="next"><i class="fa fa-angle-double-right"></i></a>', $linkEnd);
	}
	
	$pagesInRange	= '';
	foreach ($this->pagesInRange as $key) {
		$linkPage	=	$this->currentURL . $key;
		
		if($this->current == $key) {
			$pagesInRange	.= sprintf('<a href="javascript:;" class="active">%s</a> ',$key);
		}else{
			$pagesInRange	.= sprintf('<a href="%s">%s</a> ', $linkPage, $key);
		}
	}
	if ($this->pageCount > 1) {
?>
<div class="row">
	<div class="col-sm-12">
		<div class="box_pagination">
			<?php echo $startXhtml;?>
        	<?php echo $previousXhtml;?>
        	<?php echo $pagesInRange;?>
        	<?php echo $nextXhtml;?>
        	<?php echo $endXhtml;?>
		</div>
	</div>
</div>
<?php
	}
?>