<?php
    // Thiết lập Meta
    $this->headTitle($this->course['meta_title'] ? $this->course['meta_title'] : $this->course['name']);
    $this->headMeta()
         ->appendName('description', $this->course['meta_description'] ? $this->course['meta_description'] : $this->settings['General.Meta.Description']['description'])
         ->appendName('keywords', $this->course['meta_keywords'] ? $this->course['meta_keywords'] : $this->settings['General.Meta.Keywords']['description']);
?>

<div class="page_course">
    <div class="course_info">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <?php
                    if(!empty($this->course['video'])) {
                        $vid = 'vid_' . rand(1000,999999);
                        $filename = URL_FILES .'/course/'. $this->course['id'] .'/'. $this->course['video'] .'.mp4';
                        if (strpos($this->course['video'], 'youtube.com') > 0) {
                            $filename = $this->course['video'];
                        }
                    ?>
                    <div class="video_intro" id="<?php echo $vid;?>"></div>
                    <?php $this->headScript()->captureStart() ?>
                    	jwplayer("<?php echo $vid;?>").setup({
                    		file: "<?php echo $filename;?>",
                    		image: "<?php echo $this->course['image'];?>",
                    		autostart: false,
                    		width: "100%",
                    		aspectratio: "16:9"
                    	});
                    <?php $this->headScript()->captureEnd() ?>
                    <?php
                    } else {
                        echo '<img style="max-width: 100%;" src="'. $this->course['image'] .'">';
                    } 
                    ?>
                </div>
                <div class="col-md-8">
                    <div class="info">
                        <h1 class="name"><?php echo $this->course['name'];?></h1>
                        <?php
                        if(empty($this->contact_course) && $this->userInfo['group'] != 'full') { 
                            $price = $this->course['price'] ? '<span class="mask_currency">'. $this->course['price'] .'</span> đ' : '';
                        ?>
                            <div class="price"><?php echo $price;?></div>
                            <?php
                            if($this->course['type'] == 'default') { 
                            ?>
                            <div class="controls">
                                <a href="<?php echo $this->url('routeBuy', array('alias' => $this->course['alias']));?>" class="btn-buy">Mua khóa học</a>
                            </div>
                            <?php
                            } else {
                            ?>
                            <div class="controls">
                                <a href="javascript:;" class="btn-buy">Quà tặng kèm</a>
                            </div>
                            <?php
                            } 
                            ?>
                        <?php
                        } 
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php
    if(!empty($this->contact_course) && $this->contact_course['pending'] == 0) {
        echo '<div class="alert alert-success"><div class="container">Bạn đã đăng ký mua khóa học này. Đơn hàng đang chờ xác nhận thanh toán</div></div>';
    } 
    ?>
    <div class="wrapper">
        <div class="container">
            <div class="page_content">
                <?php
                if(empty($this->contact_course)) {
                    $content            = '';
                    if(!empty($this->course['content'])) {
                        $content = explode('<hr />', $this->course['content']);
                        $content = '<div class="widget"><div class="widget_title">Khóa học có những gì?</div><div class="widget_content"><div class="group_1">' . $content[0] . '</div><div class="group_2">' . $content[1] . '</div><div class="read_more">Xem thêm</div></div></div>';
                    }
                    $content_teacher    = $this->course['content_teacher'] ? '<div class="widget"><div class="widget_title">Giảng viên sẽ dạy bạn?</div><div class="widget_content">' . $this->course['content_teacher'] . '</div></div>' : '';
                    $content_result     = $this->course['content_result'] ? '<div class="widget"><div class="widget_title">Hiệu quả mà bạn sẽ đạt được?</div><div class="widget_content">' . $this->course['content_result'] . '</div></div>' : '';
                    $content_for        = $this->course['content_for'] ? '<div class="widget"><div class="widget_title">Khóa học dành cho những ai?</div><div class="widget_content">' . $this->course['content_for'] . '</div></div>' : '';
                    $content_prepare    = $this->course['content_prepare'] ? '<div class="widget"><div class="widget_title">Bạn cần chuẩn bị gì?</div><div class="widget_content">' . $this->course['content_prepare'] . '</div></div>' : '';
                    
                    echo $content . $content_teacher . $content_result . $content_for . $content_prepare;
                }
                ?>
                
                <div class="widget">
                    <div class="widget_title">Cùng xem nội dung khóa học nhé!</div>
                    <div class="widget_content">
            	        <?php
            	        foreach ($arrTopic AS $keyTopic =>  $valueTopic) {
            	        ?>
            	        <div class="topic">
            	            <div class="topic_title"><h2 class="title"><?php echo $valueTopic['name'];?></h2></div>
            	            <div class="topic_content">
            	                <div class="row">
            	                    <?php
            	                    foreach ($arrUnit AS $keyUnit => $valueUnit) {
            	                        $lesson = array();
            	                        if($valueUnit['topic_id'] == $valueTopic['id']) {
            	                            foreach ($arrLesson AS $keyLesson => $valueLesson) {
            	                                if($valueLesson['unit_id'] == $valueUnit['id']) {
            	                                    $lesson[] = $valueLesson;
            	                                    
            	                                    unset($arrLesson[$keyLesson]);
            	                                }
            	                            }
            	                                
            	                            $linkUnit       = $this->url('routeCourse/lesson', array('alias' => $this->course['alias'], 'id' => $lesson[0]['id']));
            	                            if($valueUnit['option'] == 'ielts' || $valueUnit['option'] == 'toeic') {
            	                                $linkUnit   = $this->url('routeCourse/unit', array('alias' => $this->course['alias'], 'id' => $valueUnit['id']));
            	                            }
            	                            $image          = '<a href="'. $linkUnit .'"><img src="'. $valueUnit['image_medium'] .'"><span class="icon-view"></span></a>';
            	                            $title          = '<a href="'.$linkUnit.'">'.$valueUnit['name'].'</a>';
            	                            $description    = nl2br($valueUnit['description']);
            	                            
            	                            $blockClass = '';
            	                            /* if($valueUnit['type'] != 'all' && $this->contact_course['pending'] != 1 && $this->userInfo['group'] != 'full') {
            	                                $image      = '<a href="javascript:;" onclick="javascript:modalAlert(\'Hãy mua khóa học để được học các bài tiếp theo\');"><img src="'. $valueUnit['image_thumb'] .'"></a>';
            	                                $blockClass = ' block';
            	                            } */
            	                            
            	                            $xhtml = sprintf(
            	                                '<div class="col-md-2 col-sm-3 col-xs-6 min-height">
            	                                    <div class="item%s">
            	                                        <div class="image">
            	                                            %s
            	                                        </div>
            	                                        <h3 class="title">%s</h3>
            	                                        <div class="description">%s</div>
            	                                    </div>
            	                                </div>',
            	                                $blockClass,
            	                                $image,
            	                                $title,
            	                                $description
            	                            );
            	                            
            	                            echo $xhtml;
            	                            
            	                            unset($arrUnit[$keyUnit]);
            	                        }
            	                    } 
            	                    ?>
            	                </div>
            	            </div>
            	        </div>
            	        <?php
            	        } 
            	        ?>
    	            </div>
	            </div>
            </div>
            <div class="box_comment">
            	<div class="fb-comments" data-href="" data-width="100%" data-numposts="10" data-order-by="reverse_time"></div>
            </div>
        </div>
    </div>
</div>

<?php $this->headScript()->captureStart() ?>
	$(document).ready(function() {
        $('div.read_more').click(function() {
            $('.widget_content .group_2').show();
            $(this).hide();
        });
	});
	
	<?php
    if(!empty($this->userInfo) && 1 == 2){
    ?>
    	$.ajax({
            url: '/user/survey',
    		type: 'POST',
    		data: {id : '<?php echo $this->userInfo['id']; ?>', course_id : '<?php echo $this->course['id']; ?>'},
    		success: function(result) {
        		$('body').append(result);
        		$('#survey').modal('show');
    		}
    	});
	<?php 
	    }
	?>
	
<?php $this->headScript()->captureEnd() ?>