<?php
$dateFormat = new \ZendX\Functions\Date();

if ($this->items->count() > 0) {
    foreach ($items as $item) {
        $item_url       = $item['meta_url'] ? $item['meta_url'] : $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));   
        $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $image_cover    = $item['image_cover'] ? '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_cover'] .'" alt="'. $item['name'] .'"></a>' : $image_medium;
        $description    = nl2br($item['description']);
        $course_price   = $item['course_price'] ? '<span class="text"><i class="fa fa-tag" aria-hidden="true"></i> <span class="mask_currency">'. number_format($item['course_price'], 0, ",", ".") .'</span>đ</span>' : '';
        
        $course_option  = !empty($item['course_option']) ? unserialize($item['course_option']) : array();
        $location       = '';
        if(!empty($course_option)) {
            foreach ($course_option AS $option) {
                $course_date    = $option['date'] ? '<span class="date">'. $dateFormat->formatToView($option['date']) .'</span>' : '';
                $course_address = $option['address'] ? '<span class="address"> | '. $option['address'] .'</span>' : '';
                $location  .= $course_date . $course_address .'<br>';
            }
        }

        $course_date    = $course_option['date'] ? '<span class="text"><i class="fa fa-bell" aria-hidden="true"></i> '. $dateFormat->formatToView($course_option['date']) .'</span>' : '';
        $course_address = $course_option['address'] ? '<span class="text"><i class="fa fa-paper-plane" aria-hidden="true"></i> '. $course_option['address'] .'</span>' : '';
        $status         = !empty($item['status']) ? '<span class="status green">Sắp diễn ra</span>' : '<span class="status red">Đã kết thúc</span>';
        echo '<div class="col-md-4">
            <div class="item clearfix">
                <div class="image">'. $image_cover .'</div>
                    <div class="info">
                        <h2 class="title">'. $name .'</h2>
                        <div class="location">'. $location .'</div>
                    </div>
                </div>
            </div>';
        }
    }
?>