<?php
    $boxLink = $this->url('routeSearch') .'?keyword='. $_GET['keyword'];
    $boxName = $this->category['name'];
?>
<div class="box_module">
    <div class="box_title"><h1 class="title">Kế quả tìm kiếm</h1></div>
	<div class="box_content">
		<?php echo $this->partial($this->params['module'] . '/view/category/search.phtml', array( 'params' => $this->params, 'items' => $this->items )); ?>
		<?php echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $boxLink, 'type' => 'search')); ?>
	</div>
</div>