@font-face {
	font-family: 'DP-Bold';
	src:url('DP-Bold.eot');
	src:url('DP-Bold.eot?#iefix') format('embedded-opentype'),  
		url('DP-Bold.woff') format('woff'), 
		url('DP-Bold.woff2') format('woff2'), 
		url('DP-Bold.ttf')  format('truetype'), 
		url('DP-Bold.svg#DP-Bold') format('svg');
}

@font-face {
	font-family: 'Montserrat-SemiBold';
	src:url('Montserrat-SemiBold.eot');
	src:url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),  
		url('Montserrat-SemiBold.woff') format('woff'), 
		url('Montserrat-SemiBold.woff2') format('woff2'), 
		url('Montserrat-SemiBold.ttf')  format('truetype'), 
		url('Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
}

@font-face{
	font-family:'SVN-Kelson-Sans-Bold';
	src:url('SVN-Kelson-Sans-Bold.eot');
	src:url('SVN-Kelson-Sans-Bold.eot?#iefix') format('embedded-opentype'),
		url('SVN-Kelson-Sans-Bold.woff2') format('woff2'),
		url('SVN-Kelson-Sans-Bold.woff') format('woff'),
		url('SVN-Kelson-Sans-Bold.ttf') format('truetype'),
		url('SVN-Kelson-Sans-Bold.svg#SVN-Kelson-Sans-Bold') format('svg');
}

@font-face{
	font-family:'SVN-Kelson-Sans-Regular';
	src:url('SVN-Kelson-Sans-Regular.eot');
	src:url('SVN-Kelson-Sans-Regular.eot?#iefix') format('embedded-opentype'),
		url('SVN-Kelson-Sans-Regular.woff2') format('woff2'),
		url('SVN-Kelson-Sans-Regular.woff') format('woff'),
		url('SVN-Kelson-Sans-Regular.ttf') format('truetype'),
		url('SVN-Kelson-Sans-Regular.svg#SVN-Kelson-Sans-Regular') format('svg');
}