<?php
?>

<form method="post" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
	<?php
        if(count($this->errors) > 0) {
    ?>
	<div class="alert alert-block alert-danger">
		<button type="button" class="close" data-dismiss="alert"></button>
		<?php
		foreach ($this->errors AS $error) {
		    echo '<p>'. $error .'</p>';
		}
		?>
	</div>
	<?php
        }
	?>
    <div class="page-content">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="form-group">
					<label class="control-label">Mật khẩu hiện tại<span class="required">*</span></label>
					<div class="control-element">
						<input type="password" name="password_current" class="form-control">
					</div>
				</div>
			</div>
		</div>
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="form-group">
					<label class="control-label">Mật khẩu mới<span class="required">*</span></label>
					<div class="control-element">
						<input type="password" name="password_new" class="form-control" placeholder="Bao gồm cả chữ và số. Lớn hơn 8 ký tự">
					</div>
				</div>
			</div>
		</div>
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="form-group">
					<label class="control-label">Xác nhận mật khẩu mới<span class="required">*</span></label>
					<div class="control-element">
						<input type="password" name="password_confirm" class="form-control" placeholder="Nhập lại mật khẩu mới">
					</div>
				</div>
			</div>
		</div>
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="form-group">
					<div class="control-element">
						<button type="submit" class="btn green">Cập nhật</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
