<?php
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $arrControl = array(
        array('name' => 'save', 'caption' => 'Lưu', 'link' => 'javascript:;', 'icon' => 'fa-check', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save\');', 'class' => 'btn')),
        array('name' => 'save-new', 'caption' => 'Lưu &amp; Mới', 'link' => 'javascript:;', 'icon' => 'fa-paste', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-new\');', 'class' => 'btn')),
        array('name' => 'save-close', 'caption' => 'Lưu &amp; Đóng', 'link' => 'javascript:;', 'icon' => 'fa-save', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-close\');', 'class' => 'btn')),
        array('name' => 'close', 'caption' => 'Hủy', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),
    );
    
    $requirePassword = true;
    if(!empty($myForm->get('id')->getValue())) {
        $requirePassword = false;
    }
    
    $elements = array(
        array('section' => 'Tài khoản', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('fullname'), 'label' => 'Họ và tên', 'validate' => array('require' => true)),
        array('element' => $myForm->get('username'), 'label' => 'Tên đăng nhập', 'validate' => array('require' => true)),
        array('element' => $myForm->get('password'), 'label' => 'Mật khẩu', 'validate' => array('require' => $requirePassword)),
        array('element' => $myForm->get('email'), 'label' => 'Email'),
        array('element' => $myForm->get('phone'), 'label' => 'Điện thoại'),
        array('element' => $myForm->get('ordering'), 'label' => 'Thứ tự', 'boxClass' => 'col-md-1'),
        array('element' => $myForm->get('status'), 'label' => 'Hiển thị', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('active_code'), 'label' => 'Kích hoạt', 'boxClass' => 'col-md-1'),
        array('element' => $myForm->get('password_status'), 'label' => 'Đổi mật khẩu', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('user_group_id'), 'label' => 'Nhóm quyền', 'boxClass' => 'col-md-12', 'validate' => array('require' => true)),
        array('element' => $myForm->get('sign'), 'label' => 'Chữ ký', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true)),
    );
    
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<form method="post" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
	<?php echo @$this->xViewElementErrors($elements);?>
    <div class="page-content">
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
	</div>
</form>

<?php $this->headScript()->captureStart() ?>
	var editor = CKEDITOR.replace( 'sign', {
		customConfig	: 'config-basic.js'
	});
<?php $this->headScript()->captureEnd() ?>
