<?php
    $myForm = $this->myForm;
    $myForm->prepare();
    
    $msgError = !empty($this->msgError) ? '<div class="alert alert-danger display"><button class="close" data-close="alert"></button><span>' . $this->msgError . '</span></div>' : '';
?>
<div class="content">
	<!-- BEGIN LOGIN FORM -->
	<form class="login-form" action="" method="post">
		<h3 class="form-title">Đăng nhập vào tài khoản của bạn</h3>
		<?php echo $this->flashMessenger()->render();?>
		<?php echo $msgError;?>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Tên đăng nhập</label>
			<div class="input-icon">
				<i class="fa fa-user"></i>
				<?php echo $this->formelement($myForm->get('username'));?>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Mật khẩu</label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<?php echo $this->formelement($myForm->get('password'));?>
			</div>
		</div>
		<div class="form-actions">
			<label class="checkbox"><input type="checkbox" name="remember" value="1"/> Ghi nhớ đăng nhập</label>
			<button type="submit" class="btn green pull-right">Đăng nhập <i class="m-icon-swapright m-icon-white"></i></button>
		</div>
		<div class="forget-password">
			<h4>Bạn quên mật khẩu ?</h4>
			<p>Vui lòng <a href="javascript:;" id="forget-password">bấm vào đây</a> để lấy lại mật khẩu</p>
		</div>
		<div class="create-account">
			<p>Bạn chưa có tài khoản ?&nbsp; <a data-toggle="modal" href="#basic">Đăng ký tài khoản</a></p>
		</div>
	</form>
	<!-- END LOGIN FORM -->
	
	<!-- BEGIN FORGOT PASSWORD FORM -->
	<form class="forget-form" action="index.html" method="post">
		<h3>Quên mật khẩu ?</h3>
		<p>Nhập địa chỉ email của bạn để lấy lại mật khẩu.</p>
		<div class="form-group">
			<div class="input-icon">
				<i class="fa fa-envelope"></i>
				<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"/>
			</div>
		</div>
		<div class="form-actions">
			<button type="button" id="back-btn" class="btn"><i class="m-icon-swapleft"></i> Hủy </button>
			<button type="button" class="btn green pull-right">Gửi <i class="m-icon-swapright m-icon-white"></i></button>
		</div>
	</form>
	<!-- END FORGOT PASSWORD FORM -->
	
	<!-- BEGIN MODAL -->
	<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">Thông báo</h4>
				</div>
				<div class="modal-body">
					 Vui lòng liên hệ với Admin
				</div>
				<div class="modal-footer">
					<button type="button" class="btn default" data-dismiss="modal">Đóng</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END MODAL -->
</div>
