<?php
    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="col-50">STT</th>';
    $xhtmlHead .= '<th>Tên đăng nhập</th>';
    $xhtmlHead .= '<th>Mã nhân viên</th>';
    $xhtmlHead .= '<th>Họ tên</th>';
    $xhtmlHead .= '<th>Email</th>';
    $xhtmlHead .= '<th>Điện thoại</th>';
    $xhtmlHead .= '<th>Chức vụ</th>';
    $xhtmlHead .= '<th>Level</th>';
    $xhtmlHead .= '<th>Đăng nhập cuối</th>';
    $xhtmlHead .= '</tr>';

    // Danh sách
    $xhtmlItems = '';
    if(!empty($this->items)) {
        $index = 0;
        foreach ($this->items AS $item) {
            $index++;
            $id                     = $item['id'];
            $username               = $item['username'];
            $code                   = $item['code'];
            $email                  = $item['email'];
            $name                   = $item['name'];
            $phone                  = $item['phone'];
            $login_time             = $item['login_time'] ? date_format(date_create($item['login_time']), 'd/m/Y H:i:s') : '';
            $company_branch_id      = $item['company_branch_id'] ? $this->company_branch[$item['company_branch_id']]['name'] : '';
            $company_department_id  = $item->company_department_id ? $this->company_department[$item->company_department_id]['name'] : '';
            $company_position_id    = $item->company_position_id ? $this->company_position[$item->company_position_id]['name'] : '';
            $sale_group_id          = $this->sale_group[$item->sale_group_id]['name'];
            $staff_level            = $this->staff_level[$item['level']]['name'];
            
            $sale_branch_id         = $item->sale_branch_id ? $this->sale_branch[$item->sale_branch_id]['name'] : '';
            
            $permission_ids         = explode(',', $item->permission_ids);
            $permissions            = '';
            foreach ($permission_ids AS $permission) {
                $permissions    .= '<p>'. $this->permission[$permission]['name'] .'</p>';
            }
            
            $ordering               = @$this->xFormInput('ordering['. $id .']', $item->ordering, array('class' => 'form-control input-xs'));
            $cid                    = @$this->xFormInput('cid[]', $id, array('type' => 'checkbox', 'class' => 'checkboxes'));
            
            // Link Action
            $linkEdit       = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form', 'id' => $id));
            
            // Control Action
            $controlEdit    = $this->linkAdminHtml($linkEdit, array('type' => 'icon', 'title' => 'Sửa', 'class' => 'btn btn-xs yellow', 'icon' => 'fa fa-edit'));
            $controlStatus  = $this->linkAdminStatus($id, $item->status);
            $controls       = $controlStatus . $controlEdit;
            
            $xhtmlItems .= '<tr id="tr_'. $id .'">
                                <td>'. $index .'</td>
                                <td>'. $username .'</td>
                                <td>'. $code .'</td>
                                <td><a href="'. $linkEdit .'"><b>'. $name .'</b></a></td>
                                <td>'. $email .'</td>
                                <td>'. $phone .'</td>
                                <td>'. $company_position_id .'</td>
                                <td>'. $staff_level .'</td>
                                <td>'. $login_time .'</td>
                            </tr>';
        }
    }
?>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
    <form action="" name="adminFormFilter" id="adminFormFilter" method="post">
        <div class="table-manager" id="table-manager">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <?php echo $xhtmlHead;?>
                    </thead>
                    <tbody>
                        <?php echo $xhtmlItems;?>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>


