<?php
    $cookie_name = '';
    $cookie_phone = "user";
    $cookie_email = "user";
    setcookie($cookie_name, $cookie_phone, time() + (84600 * 7));
    if(isset($_POST['name']) && !empty($_POST['name'])){
    $cookie_value=$_POST['name'];
    setcookie($cookie_value, time() + 3600, '/');
    }
    
    $date_sale = 5;
    if(5 < date('d') && date('d') <= 10 ) {
        $date_sale = 10;
    }
    if(10 < date('d') && date('d') <= 15 ) {
        $date_sale = 15;
    }
    if(15 < date('d') && date('d') <= 20 ) {
        $date_sale = 20;
    }
    if(20 < date('d') && date('d') <= 25 ) {
        $date_sale = 25;
    }
    if(25 < date('d') && date('d') <= 30 ) {
        $date_sale = 30;
    }
    if(30 < date('d') && date('d') <= 31 ) {
        $date_sale = 31;
    }

?>
<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
    $course     = $this->viewModel['params']['course'];
?>
<html>
<head>
    <?php 
    // Title
    echo $this->headTitle($item['name']);
    
    // Meta
    echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
              ->appendName('viewport', 'width=device-width, initial-scale=1.0')
              ->setCharset('utf-8');
    
    // CSS
    echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
    
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php'; ?>
    <div class="box_menu" id="box_menu">
        <div class="navbar navbar-inverse navbar-fixed-top" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" aria-expanded="true">
                        <span class="sr-only">Togglen</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/khoa-hoc-online" class="navbar-brand"><img alt="" src="<?php echo $this->arrParams['template']['urlThemeTemplate'] . $template;?>/images/logo.png"></a>
                </div>
                <nav class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:;" class="go_box_gioiThieu">Giới thiệu khóa học</a></li>
                        <li><a href="javascript:;" class="go_box_noiDung">Nội dung khóa học</a></li>
                        <li><a href="javascript:;" class="go_box_mucTieu">Lợi ích khóa học</a></li>
                        <li><a href="javascript:;" class="go_box_dienGia">Chuyên gia</a></li>
                        <li><a href="javascript:;" class="go_box_dangKy btn btn-default">Đăng ký ngay</a></li>
                    </ul>
                </nav>
            </div>
            <div class="navbar-collapse-background"></div>
        </div>
    </div>

    <div class="box_banner" id="box_banner">
        <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>
    </div>
    
    <div class="box_gioiThieu" id="box_gioiThieu">
        <div class="container">
        	<div class="content">
                <p class="title">90% DOANH NGHIỆP GẶP VẤN ĐỀ TRONG TUYỂN DỤNG NHÂN SỰ</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="image">
                        <a href="javascript:;" onclick="play_video('?autoplay=1');"><img src="<?php echo $urlImg;?>/gioithieu-10.jpg"></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="info">
                    	<div class="item">Công ty đổ nhiều chi phí cho tuyển dụng nhưng CV về ít, chất lượng thấp.</div>
                    	<div class="item">Tuyển sai người gây lãng phí thời gian, công sức của các phòng ban.</div>
                    	<div class="item">Không tìm được ứng viên, tuyển dụng xong thì đã qua chu kỳ kinh doanh.</div>
                    	<div class="item">Người tuyển không có chuyên môn nhân sự, lựa chọn ứng viên dựa trên cảm tính.</div>
                        <div class="item">Doanh nghiệp không xây dựng được thương hiệu tuyển dụng, không thu hút được ứng viên chất lượng.</div>
                        <div class="item">Ứng viên năng lực tốt nhưng không phù hợp với giá trị văn hóa công ty.</div>
                    </div>
                </div>
            </div>
            <h3 class="box_title">"TÀI SẢN LỚN NHẤT CỦA DOANH NGHIỆP KHÔNG PHẢI CON NGƯỜI, MÀ LÀ NHỮNG NGƯỜI PHÙ HỢP!"</h3>
        </div>
    </div>
    
    <div class="box_text" id="box_text">
    	<div class="container">
    		<div class="col-sm-4"><div class="img"><img src="<?php echo $urlImg;?>/diengia-1.png"></div></div>
    		<div class="col-sm-8">
    			<div class="box_content">
    				<p class="item">Nhà điều hành biết cách thu hút và tuyển dụng người tài không chỉ mang đến lợi thế cạnh tranh vô cùng lớn cho doanh nghiệp mà còn giúp nâng cao thương hiệu tuyển dụng của công ty. Tuy nhiên làm sao để thu hút và tuyển chọn nhân tài, đặc biệt trong bối cảnh thị trường lao động ngày một cạnh tranh gay gắt như hiện nay?</p>
    				<p class="item">Nắm được nhu cầu cần thiết của việc thu hút và tuyển dụng nhân sự của các doanh nghiệp, Trường Doanh Nhân HBR kết hợp cùng TS. Lê Thẩm Dương xây dựng khóa học Online độc quyền: “Bí Quyết Thu hút & Tuyển Dụng Nhân Tài” dành cho Ban Lãnh đạo, Trưởng Phòng đặc biệt là Bộ phận Tuyển dụng trong doanh nghiệp có mong muốn cải thiện hoạt động tuyển dụng một cách hiệu quả.</p>
    				<a class="go_box_dangKy btn">đăng ký ngay</a>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="box_noiDung" id="box_noiDung">         
        <div class="box_content">
            <div class="box_title">NỘI DUNG KHÓA HỌC</div>
            <div class="wrapper">
                 <?php
                  $group = $this->getHelperPluginManager()->getServiceLocator()->get('Admin\Model\CourseGroupTable')->listItem(array('course_item_id' => '1552288290-0n87-606b-v63b-58oxh2n60l1t'), array('task' => 'course-page'));
                  $detail = $this->getHelperPluginManager()->getServiceLocator()->get('Admin\Model\CourseDetailTable')->listItem(array('item_id' => '1552288290-0n87-606b-v63b-58oxh2n60l1t'), array('task' => 'course-page'));
                ?>
                <?php
                    foreach ($group as $key => $value) {
                        $group_id = $value['id'];
                        $group_name = $value['name'];
                ?>
                    <div class="my_panel active item_<?php echo $key; ?>">
                        <div class="title"><?php echo $group_name;; ?></div>
                        <div class="content">
                        <?php
                            foreach ($detail as $key => $val) {
                                $group_detail_id = $val['group_id'];
                                if ($group_detail_id == $group_id) {
                                    $detail_id      = $val['id'];    
                                    $detail_name    = $val['name'];

                        ?>
                        <p class="item_content"><i class="fa fa-play-circle-o"></i><?php echo $detail_name; ?></p>
                        <?php
                                }
                            }
                        ?>
                    </div>
                </div>
                <?php
                    }
                ?>
            </div>
        </div>
    </div>
    <!-- end box_noiDung -->

    <div class="box_mucTieu" id="box_mucTieu">
        <div class="container">
            <div class="row">
                <div class="title text-center">LỢI ÍCH KHÓA HỌC</div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/icon.png"></div>
                        <div class="text"><span>Tháo gỡ những vướng mắc</span> về thu hút và tuyển dụng nhân tài cho các nhà lãnh đạo, quản lý doanh nghiệp.</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/icon-1.png"></div>
                        <div class="text"><span>Thực thi những nguyên tắc tối quan trọng</span> trong quá trình tuyển dụng để thu hút và tìm kiếm nhân tài.</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/icon-2.png"></div>
                        <div class="text"><span>Chuẩn hóa quy trình tuyển dụng</span> một cách chuyên nghiệp và bài bản, xây dựng được tiêu chí đánh giá ứng viên hiệu quả.</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/icon-3.png"></div>
                        <div class="text"><span>Hệ thống kiến thức bài bản</span>, bài giảng thực tế, liên tục cập nhật kiến thức mới nhất.</div>
                    </div>
                </div>
                <div class="col-sm-12"><a class="go_box_dangKy btn">đăng ký ngay</a></div>
            </div>
        </div>
    </div>
    
    <div class="box_aiNen" id="box_aiNen">
        <div class="container">
            <div class="title text-center">KHÓA HỌC NÀY DÀNH CHO AI</div>
            <div class="row">
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen1.png"></div>
                        <div class="text text-center">Ban lãnh đạo doanh nghiệp: Chủ tịch, Thành viên HĐQT, Ban cố vấn doanh nghiệp.</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen2.png"></div>
                        <div class="text text-center">Ban giám đốc: Tổng Giám đốc, Giám đốc nhân sự.</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen3.png"></div>
                        <div class="text text-center">Trưởng phòng ban, bộ phận, đội nhóm tuyển dụng... của các công ty trong và ngoài nước.</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen4.png"></div>
                        <div class="text text-center">Các chuyên gia muốn cập nhật thêm kiến thức, kỹ năng và xu hướng mới.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_aiNen -->
    
    <div class="box_tienSiHT" id="box_dienGia">
        <div class="container">
            <div class="row">
                <div class="col-sm-6"><div class="img hidden-md hidden-lg"><img src="<?php echo $urlImg;?>/diengia-2.png"></div></div>
                <div class="col-sm-6">
                    <div class="box_right">
                        <div class="head">
                            <h2 class="box_title"><span>Tiến sĩ</span> Lê Thẩm Dương</h2>
                        </div>
                        <div class="desc">
                            <p>Là một trong những cố vấn của Thống đốc ngân hàng nhà nước Việt Nam, khách mời thường xuyên của chương trình CEO chìa khóa thành công VTV1. Chuyên gia tư vấn quản trị cho rất nhiều tập đoàn và doanh nghiệp vừa và nhỏ trong và ngoài nước.</p>
                            <p>Khách mời, chủ toạ thường xuyên của các diễn đàn cấp quốc gia và khu vực như diễn đàn “Triển vọng kinh tế, tìm vốn cho doanh nghiệp vừa và nhỏ, Thị trường chứng khoán Việt Nam qua từng giai đoạn, các giải pháp hạn chế lạm phát.</p>
                            <p>Trực tiếp giảng dạy tại các NH BIDV, Nông nghiệp &amp; Phát triển Nông thôn, Công thương Việt Nam, Ngoại thương Việt Nam – với số lượng lớn các chi nhánh – và các ngân hàng cổ phần, dầu khí, Nam Á, Á Châu, Việt Á.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box_giaoDien" id="box_giaoDien">
        <div class="container">
            <div class="box_title text-center">GIAO DIỆN KHÓA HỌC</div>
            <div class="img"><img src="<?php echo $urlImg;?>/banner-7.jpg"></div>
        </div>
    </div>
    
    <?php echo $this->blkDocument($this->arrParams, 'feedback', array('cache' => true, 'type' => array('ltd')));?>   

    <div class="box_loiIch" id="box_loiIch">
        <div class="container">
            <div class="box_title text-center">lợi ích chỉ có tại <br class="hidden-lg hidden-md">hbr online</div>
            <div class="row">
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/icon-4.png"></div>
                        <div class="text">
                            <p class="title text-center">ts. LÊ THẨM DƯƠNG GIẢNG DẠY 100%</p>
                            <p class="detail text-center">Khóa học được TS Lê Thẩm Dương biên soạn và trực tiếp giảng dạy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/icon-5.png"></div>
                        <div class="text">
                            <p class="title text-center">KHÓA HỌC ĐỘC QUYỀN</p>
                            <p class="detail text-center">Khóa học duy nhất do TS Lê Thẩm Dương kết hợp với Trường doanh nhân HBR phát hành.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/icon-6.png"></div>
                        <div class="text">
                            <p class="title text-center">HỆ THỐNG KIẾN THỨC BÀI BẢN</p>
                            <p class="detail text-center">Bài giảng chi tiết, chất lượng, liên tục cập nhật những xu hướng kiến thức mới nhất.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/icon-7.png"></div>
                        <div class="text">
                            <p class="title text-center">HỌC ONLINE MỌI LÚC MỌI NƠI</p>
                            <p class="detail text-center">Chỉ cần có internet và các thiết bị truy cập mạng là bạn có thể tham gia học dù ở bất cứ đâu.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_aiNen -->
    
    <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">    
        <div class="box_dangKy" id="box_dangKy">
            <div class="box_content">
                <div class="container">
                    <div class="col-sm-12">
                        <h5 class="box_title">đăng ký khóa học ngay hôm nay <br>để được <span>giảm hơn 50%</span></h5>
                        <p class="note">*Duy nhất 100 khách hàng đăng ký trước ngày <span>30/3/2019</span></p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="box_content">
                            <div class="gift">Tặng trọn bộ khóa học <span>“Mật mã lãnh đạo”</span> <br>của <span>TS Lê Thẩm Dương</span> trị giá 399.000 đồng</div>
                            <div class="icon">Chỉ còn</div>
                            <div class="gia">
                              <div class="sales">1.800.000 đ</div>
                              <div class="price"><p>899.000 đ</p></div>
                            </div>
                        </div>
                        <div class="end_sales">
                            <div id="countdown">
                                <div id='tiles'></div>
                                <div class="clock" id="clock">
                                    <div class="boxe"><span id="days"></span>Ngày</div>
                                    <div class="boxe"><span id="hours"></span>Giờ</div>
                                    <div class="boxe"><span id="minutes"></span>Phút</div>
                                    <div class="boxe"><span id="seconds"></span>Giây</div>
                                </div>
                            </div>
                        </div>
                        <div class="hotline">HOTLINE: <?php echo $this->viewModel['settings']['General.System.HotlineOnline']['value'];?></div>
                    </div>
                     <div class="col-md-6 col-sm-12">
                         <div class="row">
                            <div class="col-sm-12 hidden">
                                <div class="form-group" id="input-location_city_id">
                                    <input type="hidden" class="form-control" name="location_city_id" value="1471419543-77s5-83it-g000-9j600uz74950">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" id="input-name">
                                    <input name="name" type="text" class="form-control" placeholder="Họ và tên">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" id="input-phone">
                                    <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" id="input-email">
                                    <input name="email" type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6 hidden">
                                <div class="form-group" id="input-price">
                                    <input name="price" type="text" class="form-control" value="899000">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="btnSuccess">
                                    <input type="hidden" name="form_id" value="<?php echo $item['form_id'];?>">
                                    <input type="hidden" name="type" value="form">
                                    <?php 
                                    if ($link == '') {
                                        $input = '<input type="hidden" name="source" value="landing_page">';
                                    }else{
                                        $input = '<input type="hidden" name="source" value="'.$link.'">';
                                    }
                                    ?>
                                    <?php
                                    echo $input;
                                    ?>
                                    <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                    <input type="button" onclick="javascript:formRegisterCRM('frmRegister');" class="input-lg btn-blue" value="Đăng ký ngay">
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </form>

    <div class="box_thanhToan" id="box_thanhToan">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="thanhToan">
                        <div class="box_title">THÔNG TIN TÀI KHOẢN</div>
                        <div class="box_content">
                            <div class="item">
                                <div class="item_title"><b>1. Chuyển khoản</b></div>
                                <div class="item_detail">
                                    Vui lòng liên hệ Hotline <span>035.688.2929</span> để được tư vấn rõ hơn.
                                </div>
                            </div>
                            <div class="item">
                                <div class="item_title"><b>2. Ship COD Viettel</b></div>
                                <div class="item_detail">
                                    Học viên vui lòng để lại địa chỉ và số điện thoại liên lạc.
                                </div>
                            </div>
                            <div class="item">
                                <p class="item_title"><b>3. Nộp tiền mặt trực tiếp</b></p>
                                <p class="item_detail">Tại văn phòng của HBR, tầng 15 tòa nhà CTM Complex, số 139 Cầu Giấy, Hà Nội.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="dangKy">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0066982756643!2d105.79666931548647!3d21.032417985996346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab46d9c86b9b%3A0x4879c19d8ad4be47!2zMTM5IEPhuqd1IEdp4bqleSwgUXVhbiBIb2EsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1516414158828" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_thanhtoan -->

    <div class="box_comment">
        <?php
        $link_page = explode('?', $_SERVER['REQUEST_URI']);
        $link_page = 'http://'. $_SERVER['HTTP_HOST'] . $link_page[0];
        ?>
        <div class="container">
            <div class="fb-comments" data-href="<?php echo $link_page;?>" width="1200" data-numposts="10" order_by="reverse_time"></div>
        </div>
    </div>

    <div class="box_images">
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-5.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-6.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-7.jpg"></div></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-8.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-9.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-10.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-11.jpg"></div></td>
            </tr>
        </table>
    </div>

    <?php
    echo $this -> headScript()
               -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] .'/me.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->
    
    <script type="text/javascript">
    // slide
    $(document).ready(function() {
        var maxSlides = 3;
        var slideWidth = 368; 
        if ($(window).width() < 800) {
            maxSlides = 1;
            slideWidth = 0;
        }
        $("#box_student").show();
        $("#box_student .slider").bxSlider({
            auto: false,
            minSlides: maxSlides,
            maxSlides: maxSlides,
            slideWidth: slideWidth,
            slideMargin: 30,
            moveSlides: maxSlides,
            responsive: true,
            pause: 3000,
            speed: 1500,
            autoHover: true
        });
    });

    // Hiệu ứng text các box
    if ($(window).width() > 991) {
        $('.box_thongTin .box_content .info .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp2 animated-2s fadeInUp');}
        });
        $('.box_noiDung .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-3s fadeInUp');}
        });
        $('.box_mucTieu .row_1 .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
        });
    }
    
    // Menu
    var id_menu = '#box_menu';
    $(id_menu + ' .collapsed').click(function() {
        $(id_menu + ' .navbar-collapse').addClass('open');
        $(id_menu + ' .navbar-collapse-background').css({'left': 0});
    });
    
    $(id_menu + ' .navbar-collapse-background').click(function() {
        $(id_menu + ' .navbar-collapse').removeClass('open');
        $(id_menu + ' .navbar-collapse-background').css({'left': '-100%'});
    });
    $('a[class^="go_"]').click(function() {
    
        $(id_menu + ' .navbar-collapse li').removeClass('active');
        $(this).parent().addClass('active');
    
        var str = $(this).attr('class');;
        var res = str.split(" ");
        var box = res[0].substring(3);
        var top_scroll = 0;
        top_scroll = $("#" + box).offset().top;
        $('html,body').animate({
            scrollTop: top_scroll -70
        }, 'slow');
    
        $('.collapse.navbar-collapse').removeClass('open');
        $('.navbar-collapse-background').css('left', '-100%');
    });
    
    $('.box_diaDiem .item .btnDangKy .hcm').click(function(){
        $("#input-workshop .form-control").val("Hồ Chí Minh");
    });
    $('.box_diaDiem .item .btnDangKy .hn').click(function(){
        $("#input-workshop .form-control").val("Hà Nội");
    });

    $('.mask_currency').autoNumeric("init",{
        mDec: 0,
        aSep: '.',
        aDec: ',', 
    });

    $('input[type="number"]').bind('keyup change', function(){
        var price = parseInt($(this).val()) * 3000000;
        if($(this).val() >= 1) {
            price = parseInt($(this).val()) * 2700000;
        }
        if($(this).val() >= 2) {
            price = parseInt($(this).val()) * 2500000;
        }
        $(".mask_currency").autoNumeric("set", price);
    });   

     //clock 
    var timer;
    var then = '<?php echo date('Y-m-'. $date_sale); ?> 23:59:59';
    var now = new Date();

    var compareDate = new Date(then.replace(' ', 'T')) - now.getDate();
    timer = setInterval(function () {
        timeBetweenDates(compareDate);
    }, 1000);

    function timeBetweenDates(toDate) {
        var dateEntered = new Date(toDate);
        var now = new Date();
        var difference = dateEntered.getTime() - now.getTime();

        if (difference <= 0) {
            clearInterval(timer);
        } else {
            var seconds = Math.floor(difference / 1000);
            var minutes = Math.floor(seconds / 60);
            var hours = Math.floor(minutes / 60);
            var days = Math.floor(hours / 24);

            hours %= 24;
            minutes %= 60;
            seconds %= 60;

            $("#days").text(days);
            $("#hours").text(hours);
            $("#minutes").text(minutes);
            $("#seconds").text(seconds);
        }
    }  
    </script>
</body>
</html>
