<?php
$item       = $this->viewModel['item'];
$itemAll    = $this->viewModel['itemAll'];
$params     = $this->viewModel['params'];
$template   = '/' . basename(__DIR__);
$urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
$settings   = $this->viewModel['settings'];
?>
<html>
    <head>
        <?php
        // Title
        echo $this->headTitle($item['name']);
        
        // Meta
        echo $this->headMeta()
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->setCharset('utf-8');
        
        // CSS
        echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
        ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
        ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
        ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
        ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
        ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
        ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
        
        include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
        ?>
        <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
    </head>
    <body>
        <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>
        <?php include_once $this->arrParams['template']['pathHtml'] . '/box/top.php';?>
        <div class="box_header" id="box_menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <a href="/" class="logo"><img src="<?php echo $urlImg;?>/logo.png"></a>
                    </div>
                    <div class="col-md-4">
                        <span class="hotline hidden-xs hidden-sm">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <?php
                            $hotline = explode(' - ', $setting['General.System.Hotline']['value']);
                            foreach ($hotline AS $key => $val) {
                            if($key == 0) {
                            echo '<a href="tel:'. str_replace('.', '', $val) .'">'. $val .'</a>';
                            } else {
                            echo ' - <a href="tel:'. str_replace('.', '', $val) .'">'. $val .'</a>';
                            }
                            }
                            ?>
                        </span>
                    </div>
                    <div class="col-md-7">
                        <div class="clr"></div>
                        <ul class="menu hidden-xs hidden-sm">
                            <li><a href="javascript:;" class="go_box btn_book" data-box="frmRegisterCRM">Đăng ký ngay</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu_mobile hidden-md hidden-lg">
                    <span class="hotline">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <?php
                        $hotline = explode(' - ', $setting['General.System.Hotline']['value']);
                        foreach ($hotline AS $key => $val) {
                        if($key == 0) {
                        echo '<a href="tel:'. str_replace('.', '', $val) .'">'. $val .'</a>';
                        } else {
                        echo ' - <a href="tel:'. str_replace('.', '', $val) .'">'. $val .'</a>';
                        }
                        }
                        ?>
                    </span>
                    <a href="javascript:;" class="go_box btn_book" data-box="frmRegisterCRM">Đăng ký ngay</a>
                </div>
            </div>
        </div>
        <!-- end box_header -->
        <div class="box_banner" id="box_banner">
            <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>
        </div>
        <div class="box_gioiThieu" id="box_gioiThieu">
            <div class="container">
                <div class="content">
                    <div class="col-sm-8 col-sm-offset-2">
                        <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">
                            <div class="form" id="box_dangKy">
                                <div class="row">
                                    <div class="box_content">
                                        <div class="col-md-12"><h3 class="title">BẠN VUI LÒNG CẬP NHẬT THÔNG TIN ĐỂ TIẾP TỤC</h3></div>
                                        <div class="step_1">
                                            <div class="col-md-6">
                                                <div class="form-group" id="input-name">
                                                    <input name="name" type="text" class="form-control" placeholder="Họ và tên">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="input-phone">
                                                    <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="input-email">
                                                    <input name="email" type="text" class="form-control" placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="input-address">
                                                    <input name="address" type="text" class="form-control" placeholder="Tỉnh thành">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="step_2 hidden">
                                            <div class="col-sm-6">
                                                <div class="form-group" id="input-company_name">
                                                    <input name="company_name" type="text" class="form-control" placeholder="Công ty">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <?php
                                                $company_position = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-position" )), array('task' => 'cache'));
                                                ?>
                                                <div class="form-group" id="input-company_position">
                                                    <select name="company_position" class="form-control">
                                                        <option class="company_position" value="">Chức vụ</option>
                                                        <?php
                                                            foreach ($company_position AS $val) {
                                                            $id     = $val['id'];
                                                            $name   = $val['name'];
                                                        ?>
                                                        <option class="company_position" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                        <?php } ?>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <?php
                                                $company_size = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-size" )), array('task' => 'cache'));
                                                ?>
                                                <div class="form-group" id="input-company_size">
                                                    <select name="company_size" class="form-control">
                                                        <option class="company_size" value="">Quy mô công ty</option>
                                                        <?php
                                                            foreach ($company_size AS $val) {
                                                            $id     = $val['id'];
                                                            $name   = $val['name'];
                                                        ?>
                                                        <option class="company_size" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                        <?php } ?>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <?php
                                                $company_problem = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-problem" )), array('task' => 'cache'));
                                                ?>
                                                <div class="form-group" id="input-company_problem">
                                                    <select name="company_problem[]" class="selectpicker form-control" multiple data-selected-text-format="count > 4" title="Vấn đề các anh/Chị đang gặp phải.">
                                                        <?php
                                                        foreach ($company_problem AS $value) {
                                                        $id     = $value['id'];
                                                        $name   = $value['name'];
                                                        ?>
                                                        <option class="company_problem" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                        <?php } ?>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="btnSuccess">
                                                <input type="hidden" name="form_id" value="<?php echo $item['form_id'];?>">
                                                <input type="hidden" name="source_id" value="1567218785g45t7vh99653">
                                                <input type="hidden" name="contact_id" value="">
                                                <input type="hidden" name="type" value="form">
                                                <?php
                                                if ($link == '') {
                                                $input = '<input type="hidden" name="source" value="landing_page">';
                                                }else{
                                                $input = '<input type="hidden" name="source" value="'.$link.'">';
                                                }
                                                ?>
                                                <?php
                                                echo $input;
                                                ?>
                                                <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                                <input type="button" onclick="formRegisterSigninCRM('frmRegister'); fbq('track', 'CompleteRegistration'); " class="input-lg btn-blue step_1" value="Đăng ký ngay">
                                                <input type="button" onclick="javascript:formRegisterSigninUpdateCRM('frmRegister');" class="input-lg btn-blue step_2 hidden" value="Hoàn tất đăng ký">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="box_video hidden" id="box_video">
            <div class="container">
                <div class="row">
                    <div class="content">
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/fN34G6AeGAc?autoplay=1')"><img src="<?php echo $urlImg;?>/0.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Làm thế nào để đo lường hiệu quả chiến dịch Marketing để có thể tối ưu chiến dịch đó?</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/IVjGAwaPM3Y?autoplay=1')"><img src="<?php echo $urlImg;?>/1.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Ngoài Facebook & Google, nên triển khai kênh Marketing nào phù hợp và tối ưu hơn?</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/BBX1yeU2NP4?autoplay=1')"><img src="<?php echo $urlImg;?>/2.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Làm thế nào để biết hệ thống bán hàng hiệu quả không và làm sao để cải thiện hệ thống bán hàng?</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/ZmL5gMlXUMA?autoplay=1')"><img src="<?php echo $urlImg;?>/3.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Muốn triển khai hoạt động Marketing hiệu quả cho doanh nghiệp thì nên bắt đầu từ đâu?</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/lotIETEaUSU?autoplay=1')"><img src="<?php echo $urlImg;?>/4.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Nhân sự được đưa lên làm lãnh đạo chưa phù hợp thì nên có cách giải quyết như thế nào?</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/N_BKf1RjU6A?autoplay=1')"><img src="<?php echo $urlImg;?>/5.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Cách xây dựng câu hỏi phỏng vấn để nhận biết tính cách, giá trị, động cơ và tư duy ứng viên</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/St0SGwS8GnU?autoplay=1')"><img src="<?php echo $urlImg;?>/6.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Khó khăn về tuyển dụng nhân sự đầu vào cho công ty, làm thế nào để tìm được nhân sự phù hợp</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/cz3oPGIAgt8?autoplay=1')"><img src="<?php echo $urlImg;?>/7.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Khó khăn trong tuyển dụng và giữ chân nhân tài - Nguyên nhân và cách khắc phục như thế nào?</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/RVcrGFRy9Y4?autoplay=1')"><img src="<?php echo $urlImg;?>/8.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Để phát triển Startup của mình, nên xây bộ phận nhân sự như thế nào?</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/X_TCCCooR2A?autoplay=1')"><img src="<?php echo $urlImg;?>/9.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Có nên hợp nhất 2 phòng SALES & MARKETING - Làm thế nào để phòng ban đó hoạt động hiệu quả?</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/6ObhGCyxLek?autoplay=1')"><img src="<?php echo $urlImg;?>/10.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Khóa học CEO dành cho lãnh đạo, giám đốc - Cách xây dựng hệ thống Sales & Marketing hiệu quả</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/0pFRxtYGhug?autoplay=1')"><img src="<?php echo $urlImg;?>/11.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Khóa học CEO dành cho lãnh đạo, giám đốc - Chiến lược Marketing phát triển chuỗi cửa hàng cà phê</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/sjTZ_vwPXQI?autoplay=1')"><img src="<?php echo $urlImg;?>/12.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Khóa học CEO dành cho lãnh đạo, giám đốc - Xây dựng chiến lược Marketing để giữ chân khách hàng</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/qGkHHrE141M?autoplay=1')"><img src="<?php echo $urlImg;?>/13.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Khóa học CEO dành cho lãnh đạo, giám đốc - Cách đo lường hiệu quả hệ thống Marketing hiện đại</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/Zfn4NrFX2Ik?autoplay=1')"><img src="<?php echo $urlImg;?>/14.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Khóa học dành cho Lãnh đạo/ Giám đốc/ CEO /Quản lý - Xây dựng chiến lược cạnh tranh cho doanh nghiệp</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/pICbHSvyZHM?autoplay=1')"><img src="<?php echo $urlImg;?>/15.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Khóa học dành cho Lãnh đạo/ Giám đốc/ CEO - Chiến lược Marketing cho sản phẩm mới như thế nào?</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/3DrOqZpN8d0?autoplay=1')"><img src="<?php echo $urlImg;?>/16.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Khóa học dành cho Lãnh đạo/ Giám đốc/ CEO /Quản lý - Cách xây dựng khách hàng trung thành hiệu quả</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/sWwnWvYYY4Y?autoplay=1')"><img src="<?php echo $urlImg;?>/17.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Khóa học dành cho Lãnh đạo/ Giám đốc/ CEO /Quản lý - Quản trị trải nghiệm khách hàng hiệu quả</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/aKQAEP1eEYc?autoplay=1')"><img src="<?php echo $urlImg;?>/18.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Khóa học dành cho Lãnh đạo/ Giám đốc/ CEO - Cách tìm kiếm khách hàng thân thiết, khách hàng FAN?</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/H0ylfApYyFg?autoplay=1')"><img src="<?php echo $urlImg;?>/19.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Khóa học dành cho Lãnh đạo/ Giám đốc/ CEO - Cách tối ưu & tăng chuyển đổi khách hàng trong Marketing</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/YkAud1Z5cxQ?autoplay=1')"><img src="<?php echo $urlImg;?>/20.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Khóa học CEO tại Hà Nội, HCM - Làm thế nào để thu được nhiều dữ liệu khách hàng trong ngành hàng?</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/MVqwCDljtG4?autoplay=1')"><img src="<?php echo $urlImg;?>/21.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Làm sao để các nhân viên có thể chia sẻ kinh nghiệm & đào tạo cho nhau mà vẫn đảm bảo lợi ích chung</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/jnTcCHQNZHA?autoplay=1')"><img src="<?php echo $urlImg;?>/22.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Khóa học CEO - Doanh nghiệp nhỏ có lợi thế như nào so với doanh nghiệp lớn để phát triển</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item">
                                <div class="image"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/FX80pfVfX7A?autoplay=1')"><img src="<?php echo $urlImg;?>/23.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                                <div class="name">Khóa học CEO tại Hà Nội, HCM - Công cụ xác định tính cách của nhân viên bán hàng & Marketing</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box_formDangKy hidden box_dangKy" id="box_dangKy">
            <div class="container">
                <div class="container_box">
                    <div class="col-md-12">
                        <div class="border_title">
                            <div class="formDangKy_title">
                                Đăng ký khóa học tại HBR
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="container">
                            <div class="formDangKyNgay">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="timer">
                                            <div class="price text-center">
                                                <div class="col-md-5 price_left">Học phí gốc</div>
                                                <div class="col-md-7 price_right">7.000.000 VNĐ</div>
                                            </div>
                                        </div>
                                        <div class="timer">
                                            <div class="price text-center">
                                                <div class="col-md-5 price_left">1 vé</div>
                                                <div class="col-md-7 price_right">CHỈ CÒN 6.500.000 VNĐ</div>
                                            </div>
                                        </div>
                                        <div class="timer">
                                            <div class="price text-center">
                                                <div class="col-md-5 price_left">2 - 4 Vé</div>
                                                <div class="col-md-7 price_right">CHỈ CÒN 6.300.000 VNĐ</div>
                                            </div>
                                        </div>
                                        <div class="timer">
                                            <div class="price text-center">
                                                <div class="col-md-5 price_left">5 Vé trở lên</div>
                                                <div class="col-md-7 price_right">CHỈ CÒN 6.000.000 VNĐ</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="price_title">
                                            Thời gian ưu đãi còn:
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="end_sales">
                                            <div id="countdown">
                                                <div id='tiles'></div>
                                                <div class="clock" id="clock">
                                                    <div class="boxe"><span id="days"></span>ngày</div>
                                                    <div class="boxe"><span id="hours"></span>giờ</div>
                                                    <div class="boxe"><span id="minutes"></span>phút</div>
                                                    <div class="boxe"><span id="seconds"></span>giây</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <div class="mainForm">
                                        <form action="#" id="frmRegisterCRM" name="frmRegisterCRM" method="POST" >
                                            <div class="form" id="box_dangKy" >
                                                <div class="box_content">
                                                    <div class="step_1">
                                                        <div class="col-md-12">
                                                            <div class="form-group" id="input-option">
                                                                <select name="option" class="form-control">
                                                                    <option value="">Chọn khóa học tham gia</option>
                                                                    <option value="XÂY DỰNG HỆ THỐNG TUYỂN DỤNG & ĐÀO TẠO NHÂN SỰ NỘI BỘ CHUYÊN NGHIỆP">XÂY DỰNG HỆ THỐNG TUYỂN DỤNG & ĐÀO TẠO NHÂN SỰ NỘI BỘ CHUYÊN NGHIỆP</option>
                                                                    <option value="HỆ THỐNG CHĂM SÓC KHÁCH HÀNG CHUYÊN NGHIỆP">HỆ THỐNG CHĂM SÓC KHÁCH HÀNG CHUYÊN NGHIỆP</option>
                                                                    <option value="CHIẾN LƯỢC PHÁT TRIỂN CHUỖI CHO DOANH NGHIỆP VỪA VÀ NHỎ">CHIẾN LƯỢC PHÁT TRIỂN CHUỖI CHO DOANH NGHIỆP VỪA VÀ NHỎ</option>
                                                                    <option value="XÂY DỰNG NĂNG LỰC LÃNH ĐẠO DOANH NGHIỆP">XÂY DỰNG NĂNG LỰC LÃNH ĐẠO DOANH NGHIỆP</option>
                                                                    <option value="XÂY DỰNG VĂN HÓA - YẾU TỐ QUYẾT ĐỊNH SỰ TRƯỜNG TỒN CỦA DOANH NGHIỆP">XÂY DỰNG VĂN HÓA - YẾU TỐ QUYẾT ĐỊNH SỰ TRƯỜNG TỒN CỦA DOANH NGHIỆP</option>
                                                                    <option value="BÍ QUYẾT XÂY DỰNG ĐỘI NHÓM LÀM VIỆC HIỆU QUẢ">BÍ QUYẾT XÂY DỰNG ĐỘI NHÓM LÀM VIỆC HIỆU QUẢ</option>
                                                                </select>
                                                             </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group" id="input-location_city_id">
                                                                <select name="location_city_id" class="form-control">
                                                                    <option value=""  selected="selected">Chọn địa điểm tham gia</option>
                                                                    <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                                                    <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                                                </select>
                                                             </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group" id="input-name">
                                                                <input name="name" type="text" class="form-control" placeholder="Họ và tên">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group" id="input-phone">
                                                                <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group" id="input-email">
                                                                <input name="email" type="text" class="form-control" placeholder="Email">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group" id="input-number">
                                                                <input name="number" type="number" class="form-control" min="0" placeholder="Số vé">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group" id="input-price">
                                                                <input name="price" type="text" class="form-control mask_currency" placeholder="Thành tiền" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        
                                                    <div class="step_2 hidden">
                                                        <div class="col-sm-6">
                                                            <div class="form-group" id="input-company_name">
                                                                <input name="company_name" type="text" class="form-control" placeholder="Công ty">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <?php
                                                                $company_position = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-position" )), array('task' => 'cache'));
                                                            ?>
                                                            <div class="form-group" id="input-company_position">
                                                                <select name="company_position" class="form-control">
                                                                    <option class="company_position" value="">Chức vụ</option>
                                                                    <?php
                                                                        foreach ($company_position AS $val) {
                                                                            $id     = $val['id'];
                                                                            $name   = $val['name'];
                                                                    ?>  
                                                                    <option class="company_position" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                                    <?php } ?>
                                                                </select> 
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <?php
                                                                $company_problem = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-problem" )), array('task' => 'cache'));
                                                            ?>
                                                            <div class="form-group" id="input-company_problem">
                                                                <select name="company_problem[]" class="selectpicker form-control" multiple data-selected-text-format="count > 4" title="Vấn đề các anh/Chị đang gặp phải.">
                                                                    <?php
                                                                        foreach ($company_problem AS $value) {
                                                                            $id     = $value['id'];
                                                                            $name   = $value['name'];
                                                                    ?>  
                                                                    <option class="company_problem" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                                    <?php } ?>
                                                                </select> 
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group" id="input-content">
                                                                <input name="content" type="text" class="form-control" placeholder="Anh/Chị vui lòng mô tả chi tiết vấn đề của mình">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="btnSuccess">
                                                            <input type="hidden" name="course_id" value="">
                                                            <input type="hidden" name="form_id" value="<?php echo $item['form_id'];?>">
                                                            <input type="hidden" name="form_data_id" value="">
                                                            <input type="hidden" name="type" value="form">
                                                            <?php 
                                                                if ($link == '') {
                                                                    $input = '<input type="hidden" name="source" value="landing_page">';
                                                                }else{
                                                                    $input = '<input type="hidden" name="source" value="'.$link.'">';
                                                                }
                                                                ?>
                                                            <?php
                                                                echo $input;
                                                            ?>
                                                            <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                                            <div class="button-register step_1" style="width: 100%;" onclick="javascript:formRegisterDefault('frmRegisterCRM');">
                                                                <input type="button" class="btn-register text-center" value="Đăng ký ngay">
                                                            </div>
                                                            <div class="button-register step_2 hidden" style="width: 100%;" onclick="javascript:formRegisterDefaultUpdate('frmRegisterCRM');">
                                                                <input type="button" class="btn-register text-center" value="Hoàn tất">
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <?php echo $this->blkDocument($this->arrParams, 'feedback', array('cache' => true, 'type' => array('alok')));?>

        <div class="box_dienGia" id="box_dienGia">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="content">
                            <div class="box_title">
                                <div class="title_1">TS. Alok Bharadwaj</p></div>
                                <div class="title_2">Tiến sĩ Alok Bharadwaj từng là Phó chủ tịch cao cấp, phụ trách chiến lược của <br>Canon châu Á, nơi ông đã điều hành và phát triển kinh doanh tại 23 quốc gia. </div>
                            </div>
                            <div class="box_content">
                                <p class="text">Các vị trí từng đảm nhiệm:</p>
                                <ul>
                                    <li><p class="item">Giám đốc bán hàng Voltas (Tata Group) 06/1985 - 02/1989 </p></li>
                                    <li><p class="item">Giám đốc Marketing Usha International 03/1989 - 09/1994     </p></li>
                                    <li><p class="item">Giám đốc bán hàng Motorola khu vực Nam Á 10/1994 - 05/2001</p></li>
                                    <li><p class="item">Phó chủ tịch kiêm giám đốc điều hành Canon Ấn Độ 06/2001 - 12/2014</p></li>
                                    <li><p class="item">Giám đốc Marketing giỏi nhất của năm 2009 do Hiệp hội Giám đốc Marketing tại Mỹ (CMO Council USA) công nhận.</p></li>
                                    <li><p class="item">Nguyên chủ tịch hiệp hội Marketing Châu Á.</p></li>
                                    <li><p class="item">Phó chủ tịch cao cấp, phụ trách chiến lược Canon tại 23 quốc gia ở châu Á 01/2015 - 06/2017</p></li>
                                    <li><p class="item">Giám đốc điều hành công ty tư vấn CreoVate 7/2017 - Hiện tại.</p></li>
                                    <li><p class="item">Thành viên trong hội đồng cố vấn của Tạp chí Kinh doanh Harvard.</p></li>
                                    <li><p class="item">Đối tác tư vấn, cố vấn của Tập đoàn AON Hewitt – Tập đoàn tư vấn quản trị & nguồn nhân lực lớn nhất thế giới có trụ sở tại 120 quốc gia.</p></li>
                                </ul>         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="box_comment">
            <?php
            $link_page = explode('?', $_SERVER['REQUEST_URI']);
            $link_page = 'http://'. $_SERVER['HTTP_HOST'] . $link_page[0];
            ?>
            <div class="container">
                <div class="fb-comments" data-href="<?php echo $link_page;?>" width="1200" data-numposts="10" order_by="reverse_time"></div>
            </div>
        </div>
        <div class="box_images">
            <table>
                <tr>
                    <td><div><img src="<?php echo $urlImg;?>/image-5.jpg"></div></td>
                    <td><div><img src="<?php echo $urlImg;?>/image-6.jpg"></div></td>
                    <td><div><img src="<?php echo $urlImg;?>/image-7.jpg"></div></td>
                    <td><div><img src="<?php echo $urlImg;?>/image-8.jpg"></div></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><div><img src="<?php echo $urlImg;?>/image-9.jpg"></div></td>
                    <td><div><img src="<?php echo $urlImg;?>/image-10.jpg"></div></td>
                    <td><div><img src="<?php echo $urlImg;?>/image-11.jpg"></div></td>
                    <td><div><img src="<?php echo $urlImg;?>/image-12.jpg"></div></td>
                </tr>
            </table>
        </div>

        <?php
            echo $this  -> headScript()
                        -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
                        -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
                        -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
                        -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
                        -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
                        -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
                        -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
                        -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
        ?>
        <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
        <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
        <!-- end box_footer -->
    
        <script type="text/javascript">
            // slide
            $(document).ready(function() {
                var maxSlides = 3;
                var slideWidth = 368; 
                if ($(window).width() < 800) {
                    maxSlides = 1;
                    slideWidth = 0;
                }
                $("#box_student").show();
                $("#box_student .slider").bxSlider({
                    auto: false,
                    minSlides: maxSlides,
                    maxSlides: maxSlides,
                    slideWidth: slideWidth,
                    slideMargin: 30,
                    moveSlides: maxSlides,
                    responsive: true,
                    pause: 3000,
                    speed: 1500,
                    autoHover: true
                });


                if (sessionStorage.getItem('name') !== null || sessionStorage.getItem('name') !== '') {
                    $('.box_video').removeClass('hidden');
                    $('.box_gioiThieu').addClass('hidden');
                    $('.box_formDangKy').removeClass('hidden');
                }

                if (sessionStorage.getItem('name') === null || sessionStorage.getItem('name') === '') {
                    $('.box_video').addClass('hidden');
                    $('.box_gioiThieu').removeClass('hidden');
                    $('.box_formDangKy').addClass('hidden');
                }

            });
            //formRegister
            function formRegisterSigninCRM(form) {
                var idForm  = "#" + form;
                var urlAjax = "https://langmaster.vn/erp/api/hbr-form-data/add-contact";
                var textBtn = $(idForm + ' .btnSuccess .btn.step_1').val();
                    
                $.ajax({
                    type: "POST",
                    url: urlAjax,
                    data: $(idForm).serialize(),
                    dataType: "json",
                    cache: false,
                    beforeSend: function() {
                        $(idForm + ' .form-group').removeClass('has-error');
                        $(idForm + ' .alert').remove();
                        $(idForm + ' .btnSuccess .btn.step_1').val('Đang gửi thông tin...').attr('disabled', 'disabled');
                        $('body').append('<div class="page-loading"><div class="loader"></div></div>');
                    },
                    success: function(result){
                        if(result.error) {
                            if(result.error.form_id) {
                                $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">'+ result.error.form_id +'</div>');
                            } else {
                                $.each(result.error, function(key, value) {
                                    $(idForm + ' #input-'+ key).addClass('has-error');
                                })
                                $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">Vui lòng điền đầy đủ các thông tin bắt buộc</div>');
                            }
                        } else {
                            $(idForm +' input[name="contact_id"]').val(result.save);

                            $('.step_2').removeClass('hidden');
                            $('.step_1').addClass('hidden');
                            $('.title_2').removeClass('hidden');
                            $('.title_1').addClass('hidden');
                        }

                        $(idForm + ' .btnSuccess .btn.step_1').val(textBtn).removeAttr('disabled', 'disabled');
                        $('body .page-loading').remove();
                    }
                });
            }

            //formUpdate
            function formRegisterSigninUpdateCRM(form) {
                var idForm  = "#" + form;
                var urlAjax = "https://langmaster.vn/erp/api/hbr-form-data/update-contact";
                var textBtn = $(idForm + ' .btnSuccess .btn.step_2').val();

                if($(idForm + ' input[name="company_name"]').val() == '') {
                    $(idForm + ' #input-company_name').addClass('has-error');
                    $(idForm + ' #input-company_position').addClass('has-error');
                    $(idForm + ' #input-company_size').addClass('has-error');
                    $(idForm + ' #input-company_career').addClass('has-error');
                    $(idForm + ' #input-company_problem').addClass('has-error');
                    $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">Vui lòng điền đầy đủ các thông tin bắt buộc</div>');
                } else {
                    $.ajax({
                        type: "POST",
                        url: urlAjax,
                        data: $(idForm).serialize(),
                        dataType: "json",
                        cache: false,
                        beforeSend: function() {
                            $(idForm + ' .form-group').removeClass('has-error');
                            $(idForm + ' .alert').remove();
                            $(idForm + ' .btnSuccess .btn.step_2').val('Đang gửi thông tin...').attr('disabled', 'disabled');
                            $('body').append('<div class="page-loading"><div class="loader"></div></div>');
                        },
                        success: function(result){
                            if(result.error) {
                                if(result.error.form_id) {
                                    $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">'+ result.error.form_id +'</div>');
                                } else {
                                    $.each(result.error, function(key, value) {
                                        $(idForm + ' #input-'+ key).addClass('has-error');
                                    })
                                    $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">Vui lòng điền đầy đủ các thông tin bắt buộc</div>');
                                }
                            } else {
                                $(idForm + ' .form').html('<div class="alert alert-success">Thông tin của bạn đã được gửi thành công!</div>');

                            }

                            $(idForm + ' .btnSuccess .btn.step_2').val(textBtn).removeAttr('disabled', 'disabled');
                            $('body .page-loading').remove();
                        }
                    });

                    $('.box_video').removeClass('hidden');
                    $('.box_gioiThieu').addClass('hidden');

                    sessionStorage.setItem('name', $('[name="name"]').val());
                    sessionStorage.setItem('phone', $('[name="phone"]').val());
                    sessionStorage.setItem('email', $('[name="email"]').val());
                    sessionStorage.setItem('address', $('[name="address"]').val());
                    sessionStorage.setItem('company_name', $('[name="company_name"]').val());
                    sessionStorage.setItem('company_size', $('[name="company_size"]').val());
                    sessionStorage.setItem('company_position', $('[name="company_position"]').val());
                }
            }
                        // Popup video
            function play_video(url) {
                var html = '';
                html += '<div class="popup_video" onclick="close_popup()">';
                    html += '<div class="popup_content">';
                        html += '<div class="embed-responsive embed-responsive-16by9">';
                            html += '<iframe class="embed-responsive-item" src="'+ url +'" frameborder="0" allowfullscreen></iframe>';
                        html += '</div>';
                        html += '<a href="javascript:void(0)" onclick="close_popup()" class="popup_close"><i class="fa fa-times"></i></a>';
                    html += '</div>';
                html += '</div>';
                $('body').append(html);
            }
            
            // Close Popup video
            function close_popup() {
                $('.popup_video').remove();
            }

            $('.box_noidung .box_student .go_box').addClass('dangKy_05');
            $('.box_header .go_box').addClass('dangKy_01');
            // Hiệu ứng text các box
            if ($(window).width() > 991) {
                $('.box_thongTin .box_content .info .item').one('inview', function (event, visible) {
                    if (visible) {$(this).addClass('animated delayp2 animated-2s fadeInUp');}
                });
                $('.box_noiDung .my_panel').one('inview', function (event, visible) {
                    if (visible) {$(this).addClass('animated delayp3 animated-3s fadeInUp');}
                });
                $('.box_muctieu .item').one('inview', function (event, visible) {
                    if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
                });
                $('.box_doituong .item').one('inview', function (event, visible) {
                    if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
                });
            }

            $('.mask_currency').autoNumeric("init",{
                mDec: 0,
                aSep: '.',
                aDec: ',', 
            });

            $('input[type="number"]').bind('keyup change', function(){
                var price = parseInt($(this).val()) * 7000000;
                if($(this).val() >= 1) {
                    price = parseInt($(this).val()) * 6500000;
                }
                if($(this).val() >= 2) {
                    price = parseInt($(this).val()) * 6300000;
                }
                if($(this).val() > 4) {
                    price = parseInt($(this).val()) * 6000000;
                }
                $(".mask_currency").autoNumeric("set", price);
            });    

            var timer;
            var then = '<?php echo date('Y-m-d'); ?> 23:59:59';
            var now = new Date();

            var compareDate = new Date(then) - now.getDate();
            timer = setInterval(function () {
                timeBetweenDates(compareDate);
            }, 1000);

            function timeBetweenDates(toDate) {
                var dateEntered = new Date(toDate);
                var now = new Date();
                var difference = dateEntered.getTime() - now.getTime();

                if (difference <= 0) {
                    clearInterval(timer);
                } else {
                    var seconds = Math.floor(difference / 1000);
                    var minutes = Math.floor(seconds / 60);
                    var hours = Math.floor(minutes / 60);
                    var days = Math.floor(hours / 24);

                    hours %= 24;
                    minutes %= 60;
                    seconds %= 60;

                    $("#days").text(days);
                    $("#hours").text(hours);
                    $("#minutes").text(minutes);
                    $("#seconds").text(seconds);
                }
            }  
        </script>
            <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '448074915756702');
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=448074915756702&ev=PageView&noscript=1"
        />
        </noscript>
        <!-- End Facebook Pixel Code -->
    </body>
</html>