<?php
$urlHelper = $this->getView()->plugin('url');

if(!empty($params['breadcrumb'])) {
    $xhtml = '<li><a href="'. $view->url('routeHome') .'">Trang chủ</a></li>';
    foreach ($params['breadcrumb'] AS $item) {
        $link = $item['url'];
        $name = '<a href="'. $link .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        if(empty($link)) {
            $name = $item['name'];
        }
        
        $xhtml .= sprintf('<li>%s</li>', $name);
    }
    
    $result = sprintf('
        <div class="box_breadcrumb">
            <div class="container">
        		<ul class="breadcrumb">
        			%s
        		</ul>
            </div>
        </div>', $xhtml
    );
}
?>