<?php
$url  = $_SERVER['REQUEST_URI'];
$link = strstr($url, "utm");
?>
    <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">
        <div class="box_dangKy" id="box_dangKy">
            <div class="container">
                <div class="row">
                    <div class="dangKy">
                        <div class="box_title">ĐĂNG KÝ THAM DỰ <br>KHÓA ĐÀO TẠO</div>
                        <div class="box_content">
                            <div class="row">
                                <div class="col-md-12">
                                	<div class="form-group" id="input-location_city_id">
                                        <select name="location_city_id" class="form-control">
                                            <option value=""  selected="selected">Chọn địa điểm tham gia</option>
                                            <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                            <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                        </select>
                                     </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" id="input-name">
                                        <input name="name" type="text" class="form-control" placeholder="Họ và tên">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="input-phone">
                                        <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="input-email">
                                        <input name="email" type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="input-number">
                                        <input name="number" type="number" class="go_box form-control" placeholder="Số vé" min="0">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="input-price">
                                        <input name="price" type="text" class="form-control mask_currency" placeholder="Học phí" readonly>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="btnSuccess">
                                        <input type="hidden" name="course_id" value="">
                                        <input type="hidden" name="form_id" value="1534235277n01r44i0l888">
                                        <input type="hidden" name="type" value="form">
                                        <?php 
                                        if ($link == '') {
                                            $input = '<input type="hidden" name="source" value="landing_page">';
                                        }else{
                                            $input = '<input type="hidden" name="source" value="'.$link.'">';
                                        }
                                        ?>
                                        <?php
                                        echo $input;
                                        ?>
                                        <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                        <input type="button" onclick="javascript:formRegisterCRM('frmRegister');" class="input-lg btn-blue" value="Đăng ký ngay">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end box_dangKy -->
<?php $this->headScript()->captureStart() ?>
    function formRegisterCRM(form) {
    var idForm  = "#" + form;
    var urlAjax = "http://ele.crm/admin/api/add";
    var textBtn = $(idForm + ' .btnSuccess .btn').val();
    
    $.ajax({
        type: "POST",
        url: urlAjax,
        data: $(idForm).serialize(),
        dataType: "json",
        cache: false,
        beforeSend: function() {
            $(idForm + ' .form-group').removeClass('has-error');
            $(idForm + ' .alert').remove();
            $(idForm + ' .btnSuccess .btn').val('Đang gửi thông tin...').attr('disabled', 'disabled');
            $('body').append('<div class="page-loading"><div class="loader"></div></div>');
        },
        success: function(result){
            if(result.error) {
                if(result.error.form_id) {
                    $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">'+ result.error.form_id +'</div>');
                } else {
                    $.each(result.error, function(key, value) {
                        $(idForm + ' #input-'+ key).addClass('has-error');
                    })
                    $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">Vui lòng điền đầy đủ các thông tin bắt buộc</div>');
                }
            } else {
                $(idForm + ' .btnSuccess').prepend('<div class="alert alert-success">Thông tin của bạn đã được gửi thành công</div>');
                $(idForm + ' .form-control').val('');
                window.location.href = "<?php echo '/'.$item['alias'].'/thankyou'; ?>";
            }
            
            $(idForm + ' .btnSuccess .btn').val(textBtn).removeAttr('disabled', 'disabled');
            $('body .page-loading').remove();
        }
    });
}
<?php $this->headScript()->captureEnd() ?>