<?php
    $dateFormat = new \ZendX\Functions\Date();
    
    $myForm = $this->myForm;
    $myForm->prepare();
    
    if(count($myForm->get('filter_sale_branch')->getValueOptions()) == 1) {
        $myForm->get('filter_sale_branch')->setEmptyOption('');
    }
    if(count($myForm->get('filter_sale_group')->getValueOptions()) == 1) {
        $myForm->get('filter_sale_group')->setEmptyOption('');
    }
    if(count($myForm->get('filter_user')->getValueOptions()) == 1) {
        $myForm->get('filter_user')->setEmptyOption('');
    }
    $elements = array(
        array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_begin'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_end'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_type'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_product_interest'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),       
        array('element' => $myForm->get('filter_sale_branch'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_sale_group'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_user'),'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_history_status'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_contact_level'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('order')),
        array('element' => $myForm->get('order_by')),
    );

    if(!empty($this->userInfo['sale_group_id'])){
        $elements = array(
            array('element' => $myForm->get('filter_contact_type'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_product_interest'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_location_city'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_location_district'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_history_status'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_inventory'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('order')),
            array('element' => $myForm->get('order_by')),
        );
    }
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= $this->linkAdminSort('Ngày đăng ký', 'date', $this->params['ssFilter'], array('class' => 'col-150'));
    $xhtmlHead .= '<th>Loại Contact</th>';
    $xhtmlHead .= '<th>Họ và tên</th>';
    $xhtmlHead .= '<th>Số điện thoại</th>';
    $xhtmlHead .= '<th>Địa chỉ</th>';
    $xhtmlHead .= '<th>Level khách hàng</th>';
    $xhtmlHead .= '<th>Trạng thái chăm sóc</th>';
    $xhtmlHead .= '<th>Ngày gọi gần nhất</th>';
    $xhtmlHead .= '<th>Sản phẩm quan tâm</th>';
    $xhtmlHead .= '<th>Ghi chú</th>';
    $xhtmlHead .= '<th>Giới tính</th>';
    $xhtmlHead .= '<th>Số lượng sản phẩm</th>';
    $xhtmlHead .= '<th>Người chăm sóc</th>';
    $xhtmlHead .= '<th>Giá trị đơn hàng</th>';
    $xhtmlHead .= '<th>Trạng thái giao vận</th>';
    $xhtmlHead .= '<th>Nguyên nhân hoàn trả</th>';
	$xhtmlHead .= '</tr>';

    // Danh sách
    $xhtmlItems = '';
    if($this->items->count() > 0) {
        foreach ($this->items AS $item) {
            $cid                    = $this->xFormInput('cid[]', $item->id, array('type' => 'checkbox', 'class' => 'checkboxes'));
            
            $id                     = $item->id;
            $date                   = $dateFormat->formatToView($item->date, 'd/m/Y');
            $phone                  = $item->phone;
            $name                   = $item->name;
            $email                  = $item->email;
            $level                  = $item->level ? $this->level[$item->level]['name'] : '';
            $history_created        = $item->history_created;
            $sex                    = $this->sex[$item->sex]['name'];
            $birthday_year          = $item->birthday_year;
            $date_return            = $dateFormat->formatToView($item->date_return, 'd/m/Y');
            $product_id             = $this->product_interest[$item->product_id]['name'];
            $user_id                = $item->user_id ? $this->user[$item->user_id]['name'] : '';
            $user                   = ($this->user[$item->user_id]['status'] == 1) ? $user_id : '<mark>'. $user_id .'</mark>';
            $sale_group_id          = $item->sale_group_id ? ' - '. $this->sale_group[$item->sale_group_id]['name'] : '';
            $sale_branch_id         = $item->sale_branch_id ? ' - '. $this->sale_branch[$item->sale_branch_id]['name'] : '';
            $address                = $item->address;
            $type_color             = !empty($this->sale_contact_type[$item->type]['color']) ? ' style="color: '. $this->sale_contact_type[$item->type]['color'] .'; font-weight: bold;"' : '';
            $type                   = '<span'. $type_color .'>'. $this->sale_contact_type[$item->type]['name'] .'</span>';
            $history_status         = $item->history_status_id ? $this->history_status_id[$item->history_status_id]['name'] : '';

            $contract_total         = '';
            if(!empty($item->contract_total)) {
                $contract_total     = '<div style="color: #FF0000; font-weight: bold;">Hợp đồng ('. $item->contract_total .')</div>';
            }
            
            $lost_id                = '';
            if(!empty($item->lost_id)) {
                $lost_id            = '<br>'. $this->sale_lost[$item->lost_id]['name'];
            }
            
            $store                  = '';
            if(!empty($item->store)) {
                $store              = '<div><a href="'. $this->url('routeAdmin/default', array('controller' => 'contact', 'action' => 'store', 'id' => $id)) .'" class="btn btn-xs red" style="margin: 2px 0 0;">Nhập lại kho</a></div>';
            }
            
            $option                 = unserialize($item->options) ? unserialize($item->options) : array();
            $history_created        = $dateFormat->formatToView($item['history_created']);
            $history_return         = !empty($item['history_return']) ? $dateFormat->formatToView($item['history_return'], 'd/m/Y') : '';
            $history_return_content = $options['history_return_content'];
            $history_created_by     = $options['history_created_by'] ? $this->user[$options['history_created_by']]['name'] : '';
            $history_content        = $option['note'];
            $history_action         = $this->sale_history_action[$options['history_action_id']]['name'];
            $history_result         = $this->sale_history_result[$options['history_result_id']]['name'];
            //$note                   = nl2br($options['history_content']);
            
            $x_history = '';
            if(!empty($history_created)) {
            	$x_history  = $history_created .' - '. $history_action .': '. $history_result;
            	$x_history .= '<div>'. $history_content .'</div>';
            	$x_history .= '<a style="font-size: 11px;" href="javascript:;" title="Xem lịch sử chăm sóc" onclick="javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'history-list')) .'\', {\'id\': \''. $id .'\'});">Xem thêm ...</a>';
            }
            
            // Link Action
            $linkEdit               = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form', 'id' => $id));
            
            // Control Action
            $linkEditName           = $this->linkAdminHtml('javascript:;', array('onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'edit')) .'\', {\'id\': \''. $id .'\'});'));
            $controlView            = $this->linkAdminHtml('javascript:;', array('type' => 'icon', 'title' => 'Xem chi tiết', 'class' => 'btn btn-xs blue', 'icon' => 'fa fa-info', 'onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'view')) .'\', {\'id\': \''. $id .'\'});'));
            $controlEdit            = $this->linkAdminHtml('javascript:;', array('type' => 'icon', 'title' => 'Sửa thông tin', 'class' => 'btn btn-xs yellow', 'icon' => 'fa fa-edit', 'onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'edit')) .'\', {\'id\': \''. $id .'\'});'));
            $controlHistory         = $this->linkAdminHtml('javascript:;', array('type' => 'icon', 'title' => 'Thêm lịch sử chăm sóc', 'class' => 'btn btn-xs purple', 'icon' => 'fa fa-history', 'onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'history-add')) .'\', {\'id\': \''. $id .'\'});'));
            $controlPassword        = $this->linkAdminHtml('javascript:;', array('type' => 'icon', 'title' => 'Đổi mật khẩu', 'class' => 'btn btn-xs default', 'icon' => 'fa fa-lock', 'onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'change-password', 'id' => $id)) .'\', {\'id\': \''. $id .'\'});'));
            $controls               = $controlEdit;
            
            $xhtmlItems .= '<tr id="tr_'. $id .'">';
    		$xhtmlItems .= '<td>'. $cid .'</td>';
    		$xhtmlItems .= '<td>'. $date .'</td>';
            $xhtmlItems .= '<td>'. $type .'</td>';
            $xhtmlItems .= '<td><a href="javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'edit')) .'\', {\'id\': \''. $id .'\'});">'. $name .'</a></td>';
            $xhtmlItems .= '<td>'. $phone .'</td>';
            $xhtmlItems .= '<td>'. $address .'</td>';
    		$xhtmlItems .= '<td>'. $level .'</td>';
    		$xhtmlItems .= '<td>'. $history_status .'</td>';
            $xhtmlItems .= '<td>'. $history_created .'</td>';
            $xhtmlItems .= '<td>'. $product_id .'</td>';
            $xhtmlItems .= '<td>'. $history_content .'</td>';
            $xhtmlItems .= '<td>'. $sex .'</td>';
            $xhtmlItems .= '<td>'. 'Số lượng sản phẩm' .'</td>';
            $xhtmlItems .= '<td>'. $user .'</td>';
            $xhtmlItems .= '<td>'. 'Giá trị đơn hàng' .'</td>';
            $xhtmlItems .= '<td>'. 'Trạng thái giao vận' .'</td>';
            $xhtmlItems .= '<td>'. 'Nguyên nhân hoàn' .'</td>';
        }
    }
    
    // Control
    $arrControl = array(
        array( 'name' => 'add', 'caption' => 'Thêm', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'add')), 'icon' => 'fa-plus', 'attributes' => array( 'onclick' => '', 'class' => 'btn', ) ),
        array( 
            'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', ),
            'children' => array(
                array( 'name' => 'transfer', 'caption' => 'Chuyển quyền quản lý', 'link' => 'javascript:;', 'icon' => 'fa-refresh', 'attributes' => array( 'onclick' => 'javascript:contactChangeUser();') ),
                array( 'name' => 'divider' ),
                array( 'name' => 'delete', 'caption' => 'Xóa', 'link' => 'javascript:;', 'icon' => 'fa-trash', 'attributes' => array( 'onclick' => 'javascript:deleteItem(\'multi\', \'all\');' ) ),
                array( 'name' => 'divider' ),
                array( 'name' => 'import', 'caption' => 'Import dữ liệu', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'import')), 'icon' => 'fa fa-upload' ),
                array( 'name' => 'export', 'caption' => 'Xuất bản excel', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'export')), 'icon' => 'fa-file-excel-o', ),
            ), 
            'children-class' => 'dropdown-menu pull-right' 
        ),
    );
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminFormFilter" id="adminFormFilter" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
    	<div class="row">
    		<?php echo $xhtmlFilter;?>
    	</div>
    </div>
    <div class="page-content">
    	<div class="table-manager" id="table-manager">
            <!-- <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover" cellspacing="0" id="gvMain" style="width: 100px; border-collapse: collapse;">
                    <thead>
                        <?php echo $xhtmlHead;?>
                    </thead>
                    <tbody>
                        <?php echo $xhtmlItems;?>
                    </tbody>
                </table>
            </div> -->
    		<div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <?php echo $xhtmlHead;?>
                    </thead>
                    <tbody>
                        <?php echo $xhtmlItems;?>
                    </tbody>
                </table>
            </div>
    		<?php
            	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'options' => $this->params['paginator']['options'])); 
            ?>
    	</div>
	</div>
</form>

<?php $this->headScript()->captureStart() ?>
    //Tính khoảng cách chiều cao phần nội dung
   var h_window = $(window).height();
   var h_content = h_window - $('.header.navbar').outerHeight() - $('.page-control').outerHeight() - $('.page-filter').outerHeight() - $('.paginations').outerHeight() - 10;
   $('#table-manager .table-scrollable').css({'height': h_content + 'px'});
   $( window ).resize(function() {
       var h_window = $(window).height();
       var h_content = h_window - $('.header.navbar').outerHeight() - $('.page-control').outerHeight() - $('.page-filter').outerHeight() - $('.paginations').outerHeight() - 10;
       $('#table-manager .table-scrollable').css({'height': h_content + 'px'});
   });
<?php $this->headScript()->captureEnd() ?>