<?php
$url  = $_SERVER['REQUEST_URI'];
$link = strstr($url, "utm");
?>
<div class="container" style="padding-top: 50px;">
    <form action="#" class="frmData" name="frmData" method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" id="input-name">
                    <input name="name" type="text" class="form-control" placeholder="Họ và tên">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" id="input-phone">
                    <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" id="input-email">
                    <input name="email" type="text" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" id="input-product_id">
                    <select name="product_id" class="form-control">
    					<option class="product_id" value="">Chọn sản phẩm</option>
                        <?php
                            foreach ($this -> product AS $value) {
                                $id     = $value['id'];
                                $name   = $value['name'];
                        ?>  
                        <option class="product_id" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                        <?php } ?>
                    </select> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" id="input-number">
                    <input name="number" type="number" class="form-control" placeholder="Số lượng" min="0">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" id="input-content">
                    <input name="content" type="text" class="form-control" placeholder="Vấn đế cần tư vấn">
                </div>
            </div>
            <div class="col-md-12">
                <div class="btnSuccess">
                    <input type="submit" class="input-lg btn-blue" value="Đăng ký ngay">
                </div>
            </div>
        </div>
    </form>
</div>

    
