<form method="POST" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">
    <div class="page-content">
        <?php
        $html       = file_get_contents('http://www.englishspeak.com/vi/english-phrases.cfm?sortby=25');
        preg_match_all('#<tr class = \"Data.*?\">(.*?)<\/tr>#s', $html, $matchs, PREG_PATTERN_ORDER);
        $xhtml = '';
        $i = 0;
        foreach ($matchs[1] AS $item) {
            preg_match_all('!onclick="javascript:playMp3\(\'http://[a-z0-9\-\.\/]+\.(?:mp3)!Ui' , $item , $audio_match);
            
            $audio_slow = str_replace('onclick="javascript:playMp3(\'', '', $audio_match[0][0]);
            $audio_fast = str_replace('onclick="javascript:playMp3(\'', '', $audio_match[0][1]);
            
            $name_slow = array_pop(explode('/', $audio_slow));
            $name_fast = array_pop(explode('/', $audio_fast));
            
            
            $xhtml .= '<tr><td>'. $audio_slow .'</td><td>'. $audio_fast .'</td></tr>';
            $fileNameSlow   = file_put_contents(PATH_FILES . '/audio/Y/slow/'.$name_slow, file_get_contents($audio_slow));
            $fileNameFast   = file_put_contents(PATH_FILES . '/audio/Y/fast/'.$name_fast, file_get_contents($audio_fast));
         }
        ?>
    	<div class="row">
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead> <tr> <th>Chậm</th> <th>Nhanh</th></tr> </thead>
                    <tbody>
                        <?php echo $xhtml; ?>
                    </tbody>
                </table>
            </div>
		</div>
	</div>
</form>
