<?php
use Zend\Dom\Query;
    if(empty($this->params['data']['data'])){
        $error = 'Nhập dữ liệu';
    } else {
        $strData = $this->params['data']['data'];
        $datas = explode(' ', $strData);
        
        foreach ($datas AS $key => $data){
            $flag = false;
            $html = file_get_contents('http://www.oxfordlearnersdictionaries.com/search/english/?q='. $data . '');
            $query = new Query($html);
            $results = $query->execute('span.phon');
            $resErrors = $query->execute('#search-results h1');
            
            foreach ($results as $result) {
                if(strpos($result->textContent, 'NAmE') === 0) {
                    $spelling .= str_replace('//', '/', str_replace('NAmE', '', $result->textContent)) . ' ';
                    $flag = true;
                    break;
                } 
            } 
            
            if($flag == false) {
                $spelling .= '<span style="color: #FF0000;">('. $data .' - Lỗi)</span> ';
            }
        }
    }
?>
<form method="POST" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">
    <div class="page-content">
    	<div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <textarea class="form-control" name="data" rows="" cols="" style="height: 100px;"><?php echo $this->params['data']['data']; ?></textarea>
                </div>
                <input type="submit" class="btn btn-default">
            </div>
		</div>
		<br><br>
		<?php echo $error.$spelling; ?>
	</div>
</form>

<?php



?>
