<?php
    $dateFormat = new \ZendX\Functions\Date();

    if (count($this->items) > 0) {
        foreach ($items as $item) {
            $course_options = unserialize($item['course_options']);
            $item_url       = $item['meta_url'] ? $item['meta_url'] : $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));

            $name           = '<a href="/'. str_replace('//', '/', $item_url) .'" target="_blank" title="'. $item['name'] .'">'. $item['name'] .'</a>';

            $image          = '<a href="/'. str_replace('//', '/', $item_url) .'" target="_blank" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
            
            $city_list      = array(
                '1515592631-4119-4wp5-bvf6-508266bh4390',
                '1515772408-os39-361d-439b-810tgw5430nb',
                '1515857484-8213-4827-05s6-26z725603988'
            );
            $location       = '';
            foreach ($city_list as $value) {
                if (!empty($course_options[$value]['date'])) {
                    $course_date    = $course_options[$value]['date'] ? '<span class="date">'. $dateFormat->formatToView($course_options[$value]['date']) .'</span>' : '';
                    $course_address = $course_options[$value]['name'] ? '<span class="address"> | '. $course_options[$value]['name'] .'</span>' : '';
                    $location  .= $course_date . $course_address .'<br>';
                }
            }

            echo '<div class="col-md-4">
                <div class="item clearfix">
                    <div class="image">'. $image .'</div>
                        <div class="info">
                            <h2 class="title">'. $name .'</h2>
                            <div class="location">'. $location .'</div>
                        </div>
                    </div>
                </div>'; 
        }
    }
?>