<?php
if($this->items->count() > 0) {
    $dateFormat = new \ZendX\Functions\Date();
    $numberFormat = new \ZendX\Functions\Number();
    
    // Định nghĩa
    $arrName = array(
        'user_id' => 'Người quản lý',
        'sale_branch_id' => 'Cơ sở',
        'sale_group_id' => 'Nhóm',
        'date' => 'Ngày',
        'index' => 'Mã',
        'code' => 'Mã',
        'price' => 'Giá',
        'price_total' => 'Thành tiền',
        'paid_price' => 'Tiền thu',
        'product_id' => 'Sản phẩm',
        'promotion_id' => 'Ưu đãi',
        'phone' => 'Điện thoại',
        'phone_2' => 'Điện thoại 2',
        'phone_3' => 'Điện thoại 3',
        'name' => 'Tên',
        'email' => 'Email',
        'source_group_id' => 'Nguồn khách hàng',
        'marketing_channel_id' => 'Kênh marketing',
        'contact_ids' => 'Số khách hàng',
        'content' => 'Nội dung',
        'note' => 'Nội dung/Ghi chú',
        'address' => 'Địa chỉ',
        'location_city_id' => 'Tỉnh thành',
        'location_district_id' => 'Quận huyện',
        'birthday' => 'Ngày sinh',
        'birthday_year' => 'Năm sinh',
        'created' => 'Ngày tạo',
        'created_by' => 'Người tạo',
        'action_id' => 'Hành động',
        'result_id' => 'Kết quả',
        'return' => 'Hẹn lại',
        'status' => 'Trạng thái',
        'note_log' => 'Lý do',
        'date_register' => 'Ngày đăng ký thi',
        'date_speaking' => 'Ngày thi speaking',
        'level' => 'Level',
    );
    
    $arrSource = array_merge($this->document, $this->user, $this->product);
    
    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th>STT</th>';
    $xhtmlHead .= '<th>Ngày thực hiện</th>';
    $xhtmlHead .= '<th>Người thực hiện</th>';
    $xhtmlHead .= '<th>Tiêu đề</th>';
    $xhtmlHead .= '<th>Số điện thoại</th>';
    $xhtmlHead .= '<th>Tên khách hàng</th>';
    $xhtmlHead .= '<th>Hành động</th>';
    $xhtmlHead .= '<th>Nội dung</th>';
	$xhtmlHead .= '</tr>';
    
    // Danh sách
    $xhtmlItems = '';
    $index = 0;
    foreach ($this->items AS $item) {
        $index++;
        
        $id                 = $item->id;
        $title              = $item->title;
        $phone              = $item->phone;
        $name               = $item->name;
        $action             = $item->action;
        $created            = $dateFormat->formatToView($item->created, 'd/m/Y H:i:s');
        $created_by         = $this->user[$item->created_by]['name'];
        $created_by_branch  = !empty($this->user[$item->created_by]['sale_branch_id']) ? ' - '. $this->document[$this->user[$item->created_by]['sale_branch_id']]['name'] : '';
        $created_by_group   = !empty($this->user[$item->created_by]['sale_group_id']) ? ' - '. $this->document[$this->user[$item->created_by]['sale_group_id']]['name'] : '';
        $options            = !empty($item->options) ? unserialize($item->options) : array();
        $content            = '';
        if(count($options) > 0) {
            foreach ($options AS $k => $v) {
                $check_date = explode('-', $v);
                if(strlen($numberFormat->formatToNumber($check_date[0])) == 4) {
                    $v = $dateFormat->formatToView($v);
                }
                if(is_array($v)) {
                    $v = count($v);
                }
                if($k == 'matter_ids') {
                    $val_tmp = explode(',', $v);
                    $val_text = '';
                    if(strlen($val_tmp[0]) == 22) {
                        foreach ($val_tmp AS $k_tmp => $v_tmp) {
                            $val_text .= ', '. $arrSource[$v_tmp]['name'];
                        }
                        
                        $v = substr($val_text, 2);
                    }
                }
                
                $text = !empty($arrSource[$v]) ? $arrSource[$v]['name'] : $v;
                $content .= $arrName[$k] .': '. $text .'<br>';
            }
        }
        
        // Link Action
        $linkEdit       = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form', 'id' => $id));
        
        // Control Action
        $controlEdit    = $this->linkAdminHtml($linkEdit, array('type' => 'icon', 'title' => 'Sửa', 'class' => 'btn btn-xs yellow', 'icon' => 'fa fa-edit'));
        $controlStatus  = $this->linkAdminStatus($id, $item->status);
        $controls       = $controlStatus . $controlEdit;
        
        $xhtmlItems .= '<tr id="tr_'. $id .'">
							<td>'. $index .'</td>
							<td>'. $created .'</td>
							<td>'. $created_by . $created_by_group . $created_by_branch .'</td>
							<td>'. $title .'</td>
							<td>'. $phone .'</td>
							<td>'. $name .'</td>
							<td>'. $action .'</td>
							<td>'. $content .'</td>
						</tr>';
    }

?>
    <div class="table-manager" id="table-manager">
    	<div class="table-scrollable">
    		<table class="table table-striped table-bordered table-hover">
    			<thead>
    				<?php echo $xhtmlHead;?>
    			</thead>
    			<tbody>
    				<?php echo $xhtmlItems;?>
    			</tbody>
    		</table>
    	</div>
    </div>
<?php
	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator-ajax.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-logs')), 'ajax_content_id' => $this->params['data']['box_id'], 'options' => array('contact_id' => $this->params['data']['contact_id'], 'contract_id' => $this->params['data']['contract_id'], 'box_id' => $this->params['data']['box_id']))); 
} else {
    echo '<span class="text-danger">Không có dữ liệu</span>';
} 
?>
