<?php
if($this->items->count() > 0) {
	$dateFormat = new \ZendX\Functions\Date();

	// Head
	$xhtmlHead  = '<tr>';
	$xhtmlHead .= '<th>STT</th>';
	$xhtmlHead .= '<th>Ngày nhập</th>';
	$xhtmlHead .= '<th>Người chăm sóc</th>';
	$xhtmlHead .= '<th>Trạng thái chăm sóc</th>';
	$xhtmlHead .= '<th>Level</th>';
	$xhtmlHead .= '<th>Nhóm bệnh</th>';
	$xhtmlHead .= '<th>Thời gian bệnh</th>';
	$xhtmlHead .= '<th>Thói quen sinh hoạt</th>';
	$xhtmlHead .= '<th>Bệnh kèm theo</th>';
	$xhtmlHead .= '<th>Triệu chứng bệnh</th>';
	$xhtmlHead .= '<th>Tiền sử bệnh</th>';
	$xhtmlHead .= '<th>Liều dùng tư vấn</th>';
	$xhtmlHead .= '<th>Đối tượng sử dụng</th>';
	$xhtmlHead .= '<th>Trạng thái cuộc gọi</th>';
	$xhtmlHead .= '<th>Ngày hẹn gọi lại</th>';
	$xhtmlHead .= '<th>Ghi chú</th>';
	$xhtmlHead .= '</tr>';
	
	$xhtmlItems = '';
	$index = 0;
	foreach ($this->items AS $item) {
		$index++;
		$id               = $item->id;
		$created          = $dateFormat->formatToView($item->created, 'd/m/Y H:i');
		$return			  = $dateFormat->formatToView($item->return);
		$user_id          = $item->created_by ? $this->user[$item->created_by]['name'] : '';
		$level            = $item->level ? $this->level[$item->level]['name'] : '';
		$history_status   = $item->status_id ? $this->history_status[$item->status_id]['name'] : '';
		$sick_time        = $item->sick_time_id ? $this->sick_time[$item->sick_time_id]['name'] : '';
		$options          = unserialize($item->options) ? unserialize($item->options) : array();
		$disease_group	  = $options['history']['sick_group'] ? $this->disease_group[$options['history']['sick_group']]['name'] : '';
		$content          = $options['history']['history_content'];
		$living_habits    = $options['history']['living_habits'];
		$sick_attach      = $options['history']['sick_attach'];
		$symptom_sick     = $options['history']['symptom_sick'];
		$prehistoric_sick = $options['history']['prehistoric_sick'];
		$dosage           = $options['history']['dosage'] ? $this->dosage[$options['history']['dosage']]['name'] : '';
		$objects_used     = $options['history']['objects_used'];
		$call_info        = $options['history']['call_info'] ? $this->call_status[$options['history']['call_info']]['name'] : '';

		$xhtmlItems .= '<tr id="tr_'. $id .'">
							<td>'. $index .'</td>
							<td>'. $created .'</td>
							<td>'. $user_id .'</td>
							<td>'. $history_status .'</td>
							<td>'. $level .'</td>
							<td>'. $disease_group .'</td>
							<td>'. $sick_time .'</td>
							<td>'. $living_habits .'</td>
							<td>'. $sick_attach .'</td>
							<td>'. $symptom_sick .'</td>
							<td>'. $prehistoric_sick .'</td>
							<td>'. $dosage .'</td>
							<td>'. $objects_used .'</td>
							<td>'. $call_info .'</td>
							<td>'. $return .'</td>
							<td>'. $content .'</td>
						</tr>';
	}
?>
<div class="table-manager" id="table-manager">
	<div class="table-scrollable">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<?php echo $xhtmlHead;?>
			</thead>
			<tbody>
				<?php echo $xhtmlItems;?>
			</tbody>
		</table>
	</div>
</div>
<?php
} else {
    echo '<span class="text-danger">Không có dữ liệu</span>';
} 
?>
