<?php
    $xhtml = '';
    
    $mkt_group_hidden = explode(',', $this->params['data']['mkt_group_hidden']);
    if($this->items->count() > 0) {
        foreach ($this->items AS $item) {
            $id     = $item['id'];
            $name   = $item['name'];
            if(!empty($item['content'])) {
                $name .= ' - '. $item['content'];
            }
                
            $checked = '';
            if(in_array($id, $mkt_group_hidden)) {
                $checked = ' checked="checked"';
            }
                
            $xhtml .= sprintf('
                <label class="checkbox-inline checkbox2 col-md-2 col-xs-12">
                    <input type="checkbox" name="mkt_group_ids[]" value="%s"%s>%s
                </label>', $id, $checked, $name
            );
        }
?>
<div class="col-md-12" id="load_mkt_group">
    <div class="form-group">
    	<label class="control-label" style="padding-bottom: 5px;">Quản lý đội nhóm</label>
        <div class="control-element">
            <?php echo $xhtml;?>
            <div class="clr" style="padding-bottom: 20px;"></div>
        </div>
    </div>
</div>
<?php
    }
?>