@charset "utf-8";
@import "font.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body{ font-size: 17px; font-family: "Roboto", sans-serif;}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
b { font-family: "Roboto-Bold", "Segoe UI";}
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}
ul{list-style: none;}
.clr { clear: both; }
input[type="date"]::-webkit-inner-spin-button {display: none;}

.box_top{ background-color: #FFF; border-bottom: 1px solid #e1e1e1; height: 32px; line-height: 32px; color: red;}
.box_top .contact .hotline {margin-right: 35px; float: left; font-size: 12px; font-weight: 500;}
.box_top .contact .hotline a{ color: red;}
.box_top .contact .hotline a:HOVER{ color: #000;}
.box_top .contact .hotline a i{ margin-right: 2px;}
.box_top .contact:AFTER{ content: ""; display: block; clear: both;}
.box_top .social{ text-align: right; float: right;}
.box_top .social a{ color: #4c607d; display: inline-block; width: 32px; height: 32px; border-right: 1px solid #e1e1e1; text-align: center; font-size: 13px; float: right;}
.box_top .social a:HOVER{ color: #000;}
.box_top .social a:LAST-CHILD{ border-left: 1px solid #e1e1e1;}
.box_top .social:AFTER{ content: ""; display: block; clear: both;}

.box_header{ background-color: #FFF; width: 100%; top: 0; left: 0; z-index: 99999; position: relative; height: 70px;}
.box_header .container{ position: relative;}
.box_header .logo{ display: inline-block; margin-top: 20px; line-height: 100%;}
.box_header .menu{ padding: 18px 0 0; list-style: none; float: right; margin: 0;}
.box_header .menu li{ display: inline-block; padding-left: 40px; text-align: center; vertical-align: middle;}
.box_header .menu li a{ font-size: 15px; color: #282828; font-family: "SVNKelsonSansRegular"; padding: 8px 0 6px; display: inline-block; text-transform: uppercase;}
.box_header .menu li a.active{color: #ed1c24;}
.box_header .menu li a:hover{ color: #ed1c24;}
.box_header .menu li a.btn_book{ border-radius: 10px;display: inline-block; background: #eb1c3b; color: #FFF; padding: 0; width: 120px; height: 30px; line-height: 28px; font-weight: normal; font-family: "SVNKelsonSansRegular";}
.box_header .menu li a.btn_book.active{ background-color: #202b53;}
.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}
.box_header .container .row .hotline{display: none;}

.box_header.sticky{ position: fixed; top: 0px; z-index: 99999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
.box_header.sticky .menu li a.last{ padding-right: 20px;}
.box_header.sticky .container .row .hotline{display: block; margin-top: 25px; color: red;}
.box_header.sticky .container .row .hotline a{color: red;}
.box_header.sticky .box_user{ display: block; padding: 10px 0 0;}
.box_header.sticky .box_user li a{ display: inline-block; padding: 5px 20px; color: #404041; font-size: 13px; font-weight: 600; height: auto; line-height: normal;}
.box_header.sticky .box_user li a:hover{ color: #0088cc;}
.box_header.sticky .box_user_login{ display: block;}
.box_header.sticky .box_user_login .dropdown-toggle{ background: none !important; height: 50px; line-height: 50px; margin: 0 0 0 20px;}
.box_header.sticky .box_user_login .dropdown-toggle:focus{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle:hover{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle img{ vertical-align: top; margin-top: 5px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:BEFORE{ right: 12px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:AFTER{ right: 13px;}
.box_header.sticky .box_user_login.navbar-nav>li>a{ padding: 15px 20px;}
.box_header.sticky .box_user_login.navbar-nav>li>a:hover{ background: none; color: #000;}

.box_banner .image img{ width: 100%;}

.box_gioiThieu{background: url("../images/banner-1.jpg") no-repeat center; background-size:cover; padding: 70px 0;}
.box_gioiThieu .form {width: 480px; max-width: 100%; float: right;}
.box_gioiThieu .form .title{font-size: 25px; font-weight: 900; color: #fff; padding-bottom: 25px; position: relative;}
.box_gioiThieu .form .title:before{position: absolute; content: ""; background: #fff; height: 5px; width: 70px; left: 0; bottom: 15px;}
.box_gioiThieu .form .form-row .col-md-6{padding-left: 0; }
.box_gioiThieu .form .form-row .group{padding-right: 0;}
.box_gioiThieu .form .btnSuccess .btn-blue{display: block; margin: 0 auto; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 0; border:0; background: #bb0000; color: #fff; height: 40px; font-size: 25px; line-height: 20px; text-transform:uppercase; font-family: "Roboto"; font-weight: 700; text-align: center; width: 70%; max-width: 100%;}
.box_gioiThieu .form .btnSuccess .btn-blue:hover{background: #202b53;}
.box_gioiThieu .form-control{ font-family: "Roboto"; font-weight: 400; border-radius: 0; background: rgba(22, 61, 116, 0.8) !important; color: #fff !important; height: 40px; padding: 0 15px; font-size: 17px; border: 1px solid transparent;}
.box_gioiThieu .alert{ border-radius: 0;}
.box_gioiThieu input{color: #fff;}
.box_gioiThieu label{font-weight: normal;}
.box_gioiThieu input::placeholder{color: #fff !important; font-family: "Roboto"; font-weight: 400; font-size: 17px; line-height: 27px; text-transform: capitalize;}

.box_vanDe{background: url("../images/banner-2.jpg") no-repeat center; background-size: cover; padding: 50px 0;}
.box_vanDe .box_content .title{display: flex; text-align: justify; font-size: 30px; font-weight: 900; color: #01234f; padding-bottom: 25px; line-height: 38px;}
.box_vanDe .box_content .title .img{padding-right: 25px;}
.box_vanDe .box_content .left .item{padding-bottom: 10px; font-size: 16px; font-weight: 500; padding-left: 50px; position: relative;}
.box_vanDe .box_content .left .item:before{position: absolute; content: ""; width: 15px; height: 15px; background: url("../images/icon-5.png") no-repeat center; left: 15px; top: 3px;}
.box_vanDe .box_content .right{width: 480px; max-width: 100%; border: 5px solid #bb0000; padding: 120px 30px 30px 30px; font-size: 16px; font-family: "Roboto"; font-weight: 500; float: right;}
.box_vanDe .box_content .right .item{padding-top: 30px; text-align: justify;}
.box_vanDe .btn{float: right; width: 480px; max-width: 100%;}
.box_vanDe .btn .btn-blue{display: block; margin: 50px auto 0 auto; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 0; border:0; background: #bb0000; color: #fff; height: 40px; font-size: 25px; line-height: 20px; text-transform:uppercase; font-family: "Roboto"; font-weight: 700; text-align: center; width: 70%; max-width: 100%;}

.box_noiDung{padding: 20px 0 70px 0; background: url("../images/banner-4.jpg") no-repeat center; background-size: cover;}
.box_noiDung .thongTin .title{padding: 50px 0; font-family: "Roboto"; font-weight: 900; font-size: 30px; color: #01234f; position: relative;}
.box_noiDung .thongTin .title:before{position: absolute; content: ""; background: #01234f; width: 100px; height: 7px; left: 0; bottom: 35px;}
.box_noiDung .thongTin .item{ display: table; font-size: 17px; margin-bottom: 15px; line-height: 30px;color: #0f2a51;}
.box_noiDung .thongTin .item .key{display: table-cell; font-size:20px; line-height:25px; width: 180px; max-width:100%; vertical-align: middle; color: #111; border: 1px solid #222831; padding: 5px 10px; text-align: center; font-weight: 700;}
.box_noiDung .thongTin .item .value{background:#fff; color:#fff; display: block; font-size:15px; line-height:30px; width: 350px; max-width:100%; border: 1px solid #222831; color:#111; vertical-align: middle; margin-left: 30px; font-weight: 500; padding: 5px 10px;}
.box_noiDung .uudai{width: 480px; max-width: 100%; float: right;}
.box_noiDung .uudai .title{padding: 50px 0; font-family: "Roboto"; font-weight: 900; font-size: 25px; color: #01234f; position: relative;}
.box_noiDung .uudai .title:before{position: absolute; content: ""; background: #01234f; width: 100px; height: 7px; left: 0; bottom: 35px;}
.box_noiDung .uudai .content{padding: 30px; color: #01234f;}
.box_noiDung .uudai .content .price{font-size: 20px; padding-bottom: 25px; font-weight: "500"; text-align: justify;}
.box_noiDung .uudai .content .hotline{font-size: 17px; padding-bottom: 25px; font-weight: "500";}
.box_noiDung .uudai .content .hotline span{font-weight: 900;}
.box_noiDung .uudai .content .text{font-size: 13px; font-weight: 300; padding-bottom: 100px;}
.box_noiDung .uudai .content .text span{font-style: italic;}
.box_noiDung .btn-blue{display: block; margin: 0 auto; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 0; border:0; background: #bb0000; color: #fff; height: 40px; font-size: 25px; line-height: 20px; text-transform:uppercase; font-family: "Roboto"; font-weight: 700; text-align: center; width: 60%; max-width: 100%;}

.box_student{padding: 70px 0; background: url("../images/banner-3.jpg") no-repeat top center; background-size: cover;}
.box_student .box_title .title{ text-align: center; color: #FFF; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 50px;}
.box_student .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 50%; width: 50px; height: 5px; margin-left: -25px; background: -webkit-linear-gradient(left, #0039ae 25%,#7db9e8 100%);}
.box_student .item{min-height: 280px;}
.box_student .item .fa{position: absolute; font-size: 50px; color: #fff; top: 50%; left: 50%; margin: -25px 0 0 -25px; }
.box_student .item .image{ margin-bottom: 12px; text-align: center; padding-top: 20px;}
.box_student .item .image img{ width: auto; display: inline-block; width: 100%;}
.box_student .item .name{ font-size: 15px; font-weight: 500; text-transform: uppercase; text-align: center; margin-bottom: 2px; color: #0f2a51;}
.box_student .item .info{ color: #a1a1a1; font-size: 13px; text-align: center;}
.box_student .item .content{ font-size: 14px; padding-top: 20px;}
.box_student .bx-wrapper { position: relative; padding-bottom: 0;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a{ background-color: #FFF; width: 12px; height: 12px; display: inline-block; text-indent: -99999px; margin: 0 8px; border: 0; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; border-radius: 50% !important;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.box_student .bx-wrapper .bx-pager.bx-default-pager a.active{ background-color: #d3a23b;}
.box_student .bx-wrapper .bx-viewport{ max-height: 520px;}
.box_student .bx-pager{ display: none; position: absolute; bottom: 0px; left: 0; width: 100%; margin: 0; padding: 0; text-align: center; z-index: 999;}
.box_student .bx-pager-item{ display: inline-block;}
.box_student .bx-controls-direction{display: contents; position: absolute; top: 13px; right: 0; z-index: 9999;}
.box_student .bx-controls-direction a{ display: inline-block; width: 20px; height: 20px; margin-top: 0; text-indent: -99999px; overflow: hidden;}
.box_student .bx-controls-direction a.bx-prev, 
.box_student .bx-controls-direction a.bx-prev:hover{ background: url("../images/prev.png") no-repeat center center; background-size: 100%; margin-right: 30px; position: absolute; top: 40%; margin-top: -10px; right: 100%;}
.box_student .bx-controls-direction a.bx-next,
.box_student .bx-controls-direction a.bx-next:hover{ background: url("../images/next.png") no-repeat center center; background-size: 100%; left: auto; position: absolute; top: 40%; margin-top: -10px; right: -4%;}
.box_student .item a{display: block; position: relative;}
.box_student .go_box{display: block; margin: 0 auto; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 0; border:0; background: #bb0000; color: #fff; height: 40px; font-size: 25px; line-height: 20px; text-transform:uppercase; font-family: "Roboto"; font-weight: 700; text-align: center; width: 300px; max-width: 100%;}
.box_student .go_box:hover{cursor: pointer; background: #05295f;}

.box_chuyenGia{background: url("../images/banner-6.jpg") no-repeat top center; background-size: cover; }

.box_loiIch{padding: 70px 0;}
.box_loiIch .title{padding-bottom: 50px; font-family: "Roboto"; font-weight: 900; font-size: 30px; color: #01234f; position: relative; text-align: center;}
.box_loiIch .title:before{position: absolute; content: ""; background: #01234f; width: 100px; height: 7px; left: 50%; bottom: 35px; margin-left: -50px;}
.box_loiIch .box_content{background: url("../images/icon-6.png") no-repeat top center; display: inline-block;}
.box_loiIch .box_content .item .img{text-align: center; padding: 30px 0; min-height: 180px;}
.box_loiIch .box_content .item .text{padding: 0 50px 0 15px; text-align: justify; font-size: 16px; font-weight: 500; border-left: 2px solid #8e0812; min-height: 80px;}
.box_loiIch .box_content .item-2 .text{border-left: 2px solid #53132c;}
.box_loiIch .box_content .item-3 .text{border-left: 2px solid #271b3f;}
.box_loiIch .box_content .item-4 .text{border-left: 2px solid #01234f;}
.box_loiIch .go_box{display: block; margin: 20px auto 0 auto; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 0; border:0; background: #bb0000; color: #fff; height: 40px; font-size: 25px; line-height: 20px; text-transform:uppercase; font-family: "Roboto"; font-weight: 700; text-align: center; width: 300px; max-width: 100%;}
.box_loiIch .go_box:hover{cursor: pointer; background: #05295f;}

.box_dienGia{position: relative;}
.box_dienGia .img{text-align: center;}
.box_dienGia .content{padding: 40px 0;}
.box_dienGia .pro{font-size: 20px; font-weight: 700; color: #01234f; padding-bottom: 15px;}
.box_dienGia .box_title{padding: 10px 20px; border: 1px solid #01234f; margin-bottom: 30px;}
.box_dienGia .box_title .title_1{font-size: 30px; font-weight: 900; color: #b90100;}
.box_dienGia .box_title .title_2{font-weight: 300; font-style: italic;}
.box_dienGia .box_content{font-size: 16px; font-weight: 500;}
.box_dienGia .box_content .note{padding-bottom: 10px;}
.box_dienGia .box_content .item{padding-bottom: 10px; position: relative;}
.box_dienGia .box_content .item:before{position: absolute; content: ""; width: 15px; height: 15px; background: url("../images/icon-5.png") no-repeat center; left: -40px; top: 3px;}
.box_dienGia .go_box{display: block; margin: 20px auto 0 auto; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 0; border:0; background: #bb0000; color: #fff; height: 40px; font-size: 25px; line-height: 20px; text-transform:uppercase; font-family: "Roboto"; font-weight: 700; text-align: center; width: 300px; max-width: 100%;}
.box_dienGia .go_box:hover{cursor: pointer; background: #05295f;}

.box_dangKyTuVan{display: none !important;}

.box_comment{ padding: 40px 0; background: #fff;}
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {min-width: 100% !important;}

.box_images{ overflow: hidden;}
.box_images img{ width: 100%; transform: scale(1); transition: transform .5s;}
.box_images img:hover{ transform: scale(1.2); position: relative; z-index: 1;} 
.box_images table{ width: 100%;} 
.box_images table td{ padding: 2px; overflow: hidden;} 
.box_images table div{ overflow: hidden;} 
.box_images .go_box{display: block; margin: 20px auto; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 0; border:0; background: #bb0000; color: #fff; height: 40px; font-size: 25px; line-height: 20px; text-transform:uppercase; font-family: "Roboto"; font-weight: 700; text-align: center; width: 300px; max-width: 100%;}
.box_images .go_box:hover{cursor: pointer; background: #05295f;}

.box_footer{ padding: 60px 0 20px; position: relative; background: #071831; color: #FFF;}
.box_footer .container{ padding: 0 15px;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}
.box_footer .wrap{ margin: 0 -15px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px; margin-bottom: 40px;}
.box_footer .col-1{ width: 440px; max-width: 100%;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 10px;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-2{ width: 250px; max-width: 100%;}
.box_footer .col-3{ width: 280px; max-width: 100%;}
.box_footer .col-4{ width: 250px; max-width: 100%;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #d3a23b; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #1e2b52;}
.box_footer .alert{ font-size: 11px; border-radius: 0; padding: 5px 10px;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}

.btn_Dangky{width: 70px; background: #eb1c3b; padding: 15px; position: fixed; top: 50%; margin-top: -35px; text-align: center; font-size: 17px; font-weight: bold; text-transform: uppercase; color: #fff; border-radius: 10px 0 0 10px; height: auto; right: 0;}
.btn_Dangky:hover{cursor: pointer; background: #0e0e1a; transition: color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}

.box_menuFooter ul{ margin: 0; padding: 0; list-style: none;}
.box_menuFooter ul>li{ display: block;}
.box_menuFooter ul>li>a{ text-transform: uppercase; margin-bottom: 5px; display: block; font-size: 13px;}
.box_menuFooter ul>li>ul{ display: none;}

.box_adsFooter{ overflow: hidden; margin-right: 40px;}
.box_adsFooter a{ display: inline-block; font-size: 10px; padding: 5px 10px 3px; border: 1px solid #FFF; border-radius: 14px; text-transform: uppercase; margin: 0 5px 5px 0;}
.box_adsFooter a:HOVER{ background-color: #FFF; color: #071831 !important;}

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}
.has-error .form-control{border: 1px solid #ec1c3c;}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

.modal-dialog{top: 30%;}
.modal-header{border: 0;}
.modal-dialog .modal-body p{text-transform: uppercase; text-align: center; color: #01234f; font-size: 20px; padding: 5px 20px; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s;}
.modal-dialog .modal-body p:hover a{color: #bb0000;}
.modal-dialog .modal-body .hotline{font-weight: 900;}
.modal-dialog .modal-body a span{font-weight: 700;}

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

iframe[name="google_conversion_frame"]{ height: 0;}

/*RESPONSIVE*/


@media ( max-width : 1200px){
}

@media ( min-width : 1200px) {
  	.popup_video .popup_content{ width: 60%;}
}

@media ( max-width : 1000px) {
	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}
	
	.box_header{ height: 43px; position: fixed; border: 0; padding: 0 0 10px 0; top: 32px; z-index: 100000000;}
	.box_header.sticky{ position: fixed; top: 0px; z-index: 9999999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }
	.box_header .container{ position: relative;}
	.box_header .logo{ margin-top: 12px !important;}
	.box_header .logo img{ height: 20px;}
	.box_header .menu_mobile{ top: 7px; width: auto;}
	.box_header .menu_mobile .menu-item{padding-top: 5px;}
	.box_header .menu_mobile .hotline{font-size: 11px; color: red;}
	.box_header .menu_mobile .hotline a{color: red;}
	.box_header .menu_mobile a{display: inline-block;}
	.box_header .menu_mobile .btn_book{margin: 0 8px;}
	.box_header .menu_mobile .btn_book{background-color: #ec1c3c; color: #FFF; text-align: center; padding: 0; width: 100px; height: 30px; line-height: 28px; font-weight: normal; font-family: "SVNKelsonSansBold";}
	.box_header .menu_mobile a .item{ background-color: #999; width: 30px;display: grid;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 60%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	.box_header .menu li:first-child{ padding-left: 20px; }
	.box_header .menu{ margin: 0 !important;}

	.popup_video .popup_content{ width: calc(100% - 40px); top: 10%;}

	.box_student .item{padding: 0 25px;}
	.box_student .bx-controls-direction a.bx-next, .box_student .bx-controls-direction a.bx-next:hover{right: -1%;}
	.box_student .bx-controls-direction a.bx-prev, .box_student .bx-controls-direction a.bx-prev:hover{right: 90%;}
}

@media ( max-width : 768px) {
	body{ color: #282828; font-size: 15px;}
	
	.box_banner .image img{ margin-top: 43px; }
	
	.box_header.sticky{ padding: 0px;}
	
	.box_student{padding-top: 30px;}
	.box_student .box_title .title{margin: 0;}
	
	.box_gioiThieu .img img{width: 100%; padding-bottom: 30px;}
	.box_gioiThieu .form{width: 100%;}
	.box_gioiThieu .form .btnSuccess .btn-blue{width: 100%;}
	
	.box_vanDe{padding: 30px 0;}
	.box_vanDe .box_content .title .img{width: 160px;}
	.box_vanDe .box_content .title .img img{width: 100%;}
	.box_vanDe .box_content .title{font-size: 20px; line-height: 25px;}
	.box_vanDe .box_content .left .item{font-size: 14px;}
	.box_vanDe .btn{padding: 0;}
	
	.box_vanDe .box_content .right{max-width: 100%; padding: 30px;}
	.box_vanDe .box_content .right .item:nth-child(1){padding-top: 0;}
	.box_vanDe .btn .btn-blue{margin-top: 20px; width: 100%;}
	
	.box_noiDung .thongTin .title{padding: 20px 0 40px 0;}
	.box_noiDung .thongTin .item{display: block;}
	.box_noiDung .thongTin .item .key{ display: block; width: auto;}
	.box_noiDung .thongTin .item .value{ display: block; width: 100%; padding: 10px; font-size: 15px; margin: 10px 0; text-align: center;}
	.box_noiDung .uudai .title{padding: 30px 0 40px 0;}
	.box_noiDung .uudai .content .price{padding-bottom: 15px; font-size: 16px;}
	.box_noiDung .uudai .content .hotline{font-size: 14px; padding-bottom: 15px;}
	.box_noiDung .uudai .content .text{padding-bottom: 15px;}
	.box_noiDung .btn-blue{width: 100%;}
	.box_noiDung .uudai .content{padding: 20px 0;}
	
	.box_loiIch{padding: 30px 0;}
	.box_loiIch .box_content{background: none;}
	.box_loiIch .box_content .item{border: 1px solid #01234f; min-height: 220px; padding: 10px; margin-bottom: 15px;}
	.box_loiIch .box_content .item .img{padding: 15px 0; min-height: 100px;}
	.box_loiIch .box_content .col-xs-6:nth-child(3){clear: left;}
	.box_loiIch .box_content .item .text{padding: 0; border: 0; font-size: 14px;}
	
	.box_dienGia .box_title .title_1{font-size: 25px;}
	.box_dienGia .box_content{font-size: 14px;}
}

@media ( max-width : 480px) {
	
}
