<?php 
$item       = $this->viewModel['item'];
$itemAll    = $this->viewModel['itemAll'];
$params     = $this->viewModel['params'];
$template   = '/' . basename(__DIR__);
$urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
$settings   = $this->viewModel['settings'];

if(!empty($_GET['book_id'])) {
    $item = $this->getHelperPluginManager()->getServiceLocator()->get('Api\Model\PostItemTable')->getItem(array('id' => $_GET['book_id']));

    if(!empty($item)) {
?>
<html>
<head>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/header.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';?>
</head>
<body class="body">
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>
    
    <div class="mobile_book">
        <div class="mobile_book_content">
            <div class="content">
                <?php echo htmlspecialchars_decode($item['content']);?>
            </div>
        </div>
    </div>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
</body>
</html>
<?php
    }
}
?>
