<?php
    $dateFomart = new \ZendX\Functions\Date();

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th>Ngày</th>';
    $xhtmlHead .= '<th>Điện thoại</th>';
    $xhtmlHead .= '<th>Tên khách hàng</th>';
    $xhtmlHead .= '<th>Khóa học</th>';
    $xhtmlHead .= '<th>Số tiền thu</th>';
    $xhtmlHead .= '<th>Người quản lý</th>';
    $xhtmlHead .= '<th>Công cụ</th>';
	$xhtmlHead .= '</tr>';
    
    // Danh sách
    $xhtmlItems = '';
    if($this->items->count() > 0) {
        foreach ($this->items AS $item) {
            $id                     = $item->id;
            $contact_phone          = $item->contact_phone;
            $contact_name           = $item->contact_name;
            $price_paid             = $item->price_paid ? $item->price_paid : '';
            $course_id              = $this->course[$item->course_id]['name'];
            $user_id                = $item->user_id ? $this->user[$item->user_id]['fullname'] : '';
            $created                = $dateFomart->fomartToView($item->created);
            $status_class           = ($item->id == $this->params['data']['contract_id']) ? ' class="danger"' : '';
            
            // Link Action
            $linkView               = $this->url('routeHbr/default', array('controller' => 'contract', 'action' => 'view', 'id' => $id));
            $linkEdit               = $this->url('routeHbr/default', array('controller' => 'contract', 'action' => 'edit', 'id' => $id));
            
            // Control Action
            $controlView            = $this->linkAdminHtml($linkView, array('type' => 'icon', 'title' => 'Xem chi tiết', 'class' => 'btn btn-xs blue', 'icon' => 'fa fa-info'));
            $controlEdit            = $this->linkAdminHtml($linkEdit, array('type' => 'icon', 'title' => 'Sửa', 'class' => 'btn btn-xs yellow', 'icon' => 'fa fa-edit'));
            $controls               = $controlView;
            
            $xhtmlItems .= '<tr id="tr_'. $id .'"'. $status_class .'>
    							<td>'. $created .'</td>
    							<td>'. $contact_phone .'</td>
    							<td><a href="'. $linkView .'"><b>'. $contact_name .'</b></a></td>
							    <td>'. $course_id .'</td>
    							<td><span class="mask_currency">'. $price_paid .'</span></td>
							    <td>'. $user_id .'</td>
							    <td>'. $controls .'</td>
    						</tr>';
        }
?>
<?php echo $this->flashMessenger()->render();?>
<div class="table-manager" id="table-manager">
	<div class="table-scrollable">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<?php echo $xhtmlHead;?>
			</thead>
			<tbody>
				<?php echo $xhtmlItems;?>
			</tbody>
		</table>
	</div>
</div>
<?php
    } else {
        echo '<span class="text-danger">Không có dữ liệu</span>';
    } 
?>
