<?php

if(!empty($arrMenu)) {
    $xhtml .= '<ul>';
    $parentRight = array();
    $maxLevel = 1;
    $minLevel = 1;
    foreach ($arrMenu AS $menu) {
        if($menu['level'] > 1) {
            $name   = $menu['name'];
            $target = $menu['target'];
            $icon   = $menu['icon'] ? $menu['icon'] : 'link';
            $class  = $menu['class'] ? $menu['class'] : '';
            
            $link   = '';
            if(!empty($menu['category_alias'])) {
                $link = $view->url('routePostCategory', array('alias' => $menu['category_alias']));
            }
            if(!empty($menu['link'])) {
                $link   = $menu['link'];
            }
             
            if($menu['level'] > $maxLevel) {
                $maxLevel = $menu['level'];
            }
             
            if($menu['right'] - $menu['left'] == 1) {
                $xhtml .= sprintf('<li><a href="%s" target="%s" title="%s" class="%s"><span class="title">%s</span></a></li>', $link, $target, $name, $class, $name);
                 
                for ($j = $minLevel; $j < $maxLevel; $j++) {
                    if(in_array($menu['right'] + $j, $parentRight)) {
                        $xhtml .= '</ul></li>';
                    }
                }
            } else {
                $parentRight[] = $menu['right'];
                $xhtml .= sprintf('<li><a href="%s" target="%s" title="%s" class="%s"><span class="title">%s</span></a><ul>', $link, $target, $name, $class, $name);
            }
        }
    }
    $xhtml .= '</ul>';
    
    $result = sprintf('
        <div class="box_menuFooter">
			%s
        </div>', $xhtml
    );
}
?>