<?php
$userInfo = new \ZendX\System\UserInfo();

if(!empty($arrMenu)) {
    $xhtml .= '<ul>';
    $parentRight = array();
    $maxLevel = 1;
    $minLevel = 1;
    foreach ($arrMenu AS $key => $menu) {
        if($menu['level'] > 1) {
            $name   = $menu['name'];
            $target = $menu['target'];
            $icon   = $menu['icon'] ? $menu['icon'] : 'link';
            $class  = $menu['class'] ? $menu['class'] : '';
            
            $link   = '';
            if(!empty($menu['category_alias'])) {
                $link = $view->url('routePostCategory', array('alias' => $menu['category_alias']));
            }
            if(!empty($menu['link'])) {
                $link   = $menu['link'];
            }
             
            if($menu['level'] > $maxLevel) {
                $maxLevel = $menu['level'] - 1;
            }
            
            if($_SERVER['REQUEST_URI'] == $link) {
                $class .= !empty($class) ? ' active' : 'active';
            }
            
            if($menu['right'] - $menu['left'] == 1) {
                $xhtml .= sprintf('<li data-level="%s" data-max="%s" data-key="%s"><a href="%s" target="%s" class="%s"><span class="title">%s</span></a></li>', $menu['level'], $maxLevel, $key, $link, $target, $class, $name);
                
                for ($j = $minLevel; $j < $maxLevel; $j++) {
                    foreach ($parentRight AS $key_parent => $value_parent) {
                        if($menu['right'] + $j == $value_parent) {
                            if(($arrMenu[$key + 1]['level'] != $menu['level']) || empty($arrMenu[$key + 1])) {
                                $xhtml .= '</ul></li>';
                            }
                        }
                    }
                }
            } else {
                $parentRight[] = $menu['right'];
                $xhtml .= sprintf('<li class="dropdown" data-level="%s"><a href="%s" target="%s" class="%s"><span class="title">%s</span></a><ul>', $menu['level'], $link, $target, $class, $name);
            }
        }
    }
    $xhtml .= '</ul>';
    
    $logo = '<a class="logo" href="/" title="'. $settings['General.Meta.Title']['value'] .'"><img src="'. $settings['General.System.Logo']['image'] .'"></a>';
    $language = '<div class="language">
                    <a href="'. $view->url('routeLanguage', array('code' => 'vi')) .'"><img src="'. $params['template']['urlImg'] .'/vi.png' .'"></a>
                    <a href="'. $view->url('routeLanguage', array('code' => 'jp')) .'"><img src="'. $params['template']['urlImg'] .'/jp.png' .'"></a>
                </div>';
    
    $result = sprintf('
        <div class="box_menuMain" id="box_menuMain">
            <div class="container">
                <div class="header">
        			%s
        			<a href="javascript:;" class="toggle hidden-md hidden-lg">
        				<span class="line"></span>
        				<span class="line"></span>
        				<span class="line"></span>
        				<span class="line"></span>
        			</a>
        		</div>
        		<div class="menu hidden-xs hidden-sm">
        			%s
    			</div>
            </div>
            <div class="clr"></div>
        </div>', $logo, $xhtml
    );
}
?>

<?php $view->headScript()->captureStart() ?>
    function close_menu_mobile() {
        $('.bg_menu_mobile').remove();
        $('.box_menuMobile').remove();
    }
    
    $(document).ready(function() {
    	$('#box_menuMain .header .toggle').click(function() {
    	    var xhtmlMenu = $('#box_menuMain .menu').html();
            $('body').append('<div class="box_menuMobile">'+ xhtmlMenu +'</div>');
            $('body').append('<div class="bg_menu_mobile" onclick="close_menu_mobile()"></div>');
    	});
    });
<?php $view->headScript()->captureEnd() ?>