<?php
if(!empty($arrMenu)) {
    $xhtml .= '<ul>';
    $parentRight = array();
    $maxLevel = 1;
    $minLevel = 1;
    foreach ($arrMenu AS $menu) {
        if($menu['level'] > 1) {
            $name   = $menu['name'];
            $target = $menu['target'];
            $icon   = $menu['icon'] ? $menu['icon'] : 'link';
            $class  = $menu['class'] ? $menu['class'] : '';
            $link   = $menu['link'];
             
            if($menu['level'] > $maxLevel) {
                $maxLevel = $menu['level'];
            }
             
            if($menu['right'] - $menu['left'] == 1) {
                $xhtml .= sprintf('<li><a href="%s" target="%s" title="%s" class="%s"><span class="title">%s</span></a></li>', $link, $target, $name, $class, $name);
                 
                for ($j = $minLevel; $j < $maxLevel; $j++) {
                    if(in_array($menu['right'] + $j, $parentRight)) {
                        $xhtml .= '</ul></li>';
                    }
                }
            } else {
                $parentRight[] = $menu['right'];
                $xhtml .= sprintf('<li><a href="%s" target="%s" title="%s" class="%s"><span class="title">%s</span></a><ul>', $link, $target, $title, $class, $name);
            }
        }
    }
    $xhtml .= '</ul>';
    
    $result = sprintf('<div class="box_category">
				        <div class="box_title"><h2 class="title titleSidebar">Chuyên mục</h2></div>
				        <div class="box_content">
                            %s
				        </div>
				    </div>', $xhtml);
}
?>