@charset "utf-8";
@import "../fonts/font.css";

body{ font-size: 17px; font-family: "Roboto-Regular"; background: #eaeaea; color: #000;}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}
.clr { clear: both; }
input[type="date"]::-webkit-inner-spin-button {display: none;}
.fa{color: #b6b6b6;}

.box_header{ background-color: #eaeaea; width: 100%; top: 0; left: 0; z-index: 99999; position: relative; height: 70px;}
.box_header .container{ position: relative;}
.box_header .logo{ display: inline-block; margin-top: 20px; line-height: 100%;}
.box_header .menu{ padding: 18px 0 0; list-style: none; float: right; margin: 0;}
.box_header .menu li{ display: inline-block; padding-left: 40px; text-align: center; vertical-align: middle;}
.box_header .menu li a{ font-size: 15px; color: #282828; font-family: "SVNKelsonSansRegular"; padding: 8px 0 6px; display: inline-block; text-transform: uppercase;}
.box_header .menu li a.active{color: #ed1c24;}
.box_header .menu li a:hover{ color: #ed1c24;}
.box_header .menu li a.btn_book{ border-radius: 5px;display: inline-block; background: #eb1c3b; color: #FFF; padding: 0; width: 120px; height: 30px; line-height: 28px; font-weight: normal; font-family: "SVNKelsonSansRegular";}
.box_header .menu li a.btn_book.active{ background-color: #202b53;}
.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}

.box_header.sticky{ position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
.box_header.sticky .menu li a.last{ padding-right: 20px;}
.box_header.sticky .box_user{ display: block; padding: 10px 0 0;}
.box_header.sticky .box_user li a{ display: inline-block; padding: 5px 20px; color: #404041; font-size: 13px; font-weight: 600; height: auto; line-height: normal;}
.box_header.sticky .box_user li a:hover{ color: #0088cc;}
.box_header.sticky .box_user_login{ display: block;}
.box_header.sticky .box_user_login .dropdown-toggle{ background: none !important; height: 50px; line-height: 50px; margin: 0 0 0 20px;}
.box_header.sticky .box_user_login .dropdown-toggle:focus{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle:hover{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle img{ vertical-align: top; margin-top: 5px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:BEFORE{ right: 12px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:AFTER{ right: 13px;}
.box_header.sticky .box_user_login.navbar-nav>li>a{ padding: 15px 20px;}
.box_header.sticky .box_user_login.navbar-nav>li>a:hover{ background: none; color: #000;}

.box_banner {margin-bottom: 60px;}
.box_banner .image img{ width: 100%;}

.box_gioiThieu{padding-bottom: 100px;}
.box_gioiThieu .title{width: 1000px; max-width: 100%; margin: 0 auto;position: relative; font-family: "UTM-Bebas"; font-size: 40px; color: #055199;}

.box_gioiThieu .info{width: 1000px; max-width: 100%; margin: 0 auto; margin-top: 45px;}
.box_gioiThieu .info p{ line-height: 26px; margin-bottom: 25px;}
.box_gioiThieu .info p span{font-family: "Roboto-Bold";}
.box_gioiThieu .content{margin-top: 135px;}
.box_gioiThieu .content p{line-height: 26px;}
.box_gioiThieu .content .left{padding-left: 40px;}
.box_gioiThieu .content .left p{margin-bottom: 45px; position: relative;}
.box_gioiThieu .content .text-1:before{position: absolute; content: "1"; width: 25px; height: 55px;  top: 10px; left: -35px; font-family: "SVNKelsonSansBold"; font-size: 50px; color: #eb1c3b; }
.box_gioiThieu .content .text-2:before{position: absolute; content: "2"; width: 25px; height: 55px;  top: 10px; left: -35px; font-family: "SVNKelsonSansBold"; font-size: 50px; color: #eb1c3b; }
.box_gioiThieu .content .text-3:before{position: absolute; content: "3"; width: 25px; height: 55px;  top: 0px; left: -35px; font-family: "SVNKelsonSansBold"; font-size: 50px; color: #eb1c3b; }
.box_gioiThieu .content .text-4:before{position: absolute; content: "4"; width: 25px; height: 55px;  top: 0px; left: -35px; font-family: "SVNKelsonSansBold"; font-size: 50px; color: #eb1c3b; }
.box_gioiThieu .content .text-5:before{position: absolute; content: "5"; width: 25px; height: 55px;  top: 0px; left: -35px; font-family: "SVNKelsonSansBold"; font-size: 50px; color: #eb1c3b; }
.box_gioiThieu .content .right{padding-left: 80px;}

.box_noiDung{ display: flow-root;}
.box_noiDung .left{width: 50%; max-width: 100%; background: url("../images/banner-3.jpg") no-repeat center; float: left; height: 556px;}
.box_noiDung .right{width: 50%; float: right; max-width: 100%; background:  #fff; height: 556px; color: #111;}
.box_noiDung .right .box_content{width: 700px; max-width: 100%; margin-top: 35px; color: #fff; padding: 30px 0 0 100px; display: flow-root;}
.box_noiDung .right .box_content .info{width: 500px; max-width: 100%; float: left; font-family: "Roboto-Regular"; font-size: 17px; padding-top: 30px;}
.box_noiDung .right .box_content .info .item{font-family: "Roboto-Medium";padding: 0 0 15px 40px; position: relative; color: #111;}
.box_noiDung .right .box_content .info .item:before{position: absolute; content: ""; background: url("../images/icon-2.png") no-repeat center; top: 3px; left: 0; width: 20px; height: 20px;}
.box_noiDung .title-1{font-family: "UTM-Bebas"; font-size: 52px; color: #152b50;}
.box_noiDung .title-2{font-family: "UTM-Bebas"; font-size: 42px; color: #055199;}

.box_dienGia .box_title{font-family: "UTM-Bebas"; font-size: 40px; color: #fff; background: #152b50; padding: 40px 0;}
.box_dienGia .box_content{background: url("../images/bg-diengia.jpg"); background-size: cover; padding: 60px 0;}
.box_dienGia .box_content .box_info{width: 800px; margin: auto; padding: 45px 0 55px 0; color: #fff; max-width: 100%;}
.box_dienGia .box_content .list{width: 1200px; margin: auto; max-width: 100%; }
.box_dienGia .box_content .right{margin-left: 5px;background: #fff; padding-left: 40px; padding-bottom: 35px; padding-right: 20px; width: 100%; min-height: 200px; cursor: pointer;}
.box_dienGia .item{margin-bottom: 5px;}
.box_dienGia .item .title{font-family: "UTM-Bebas"; font-size: 40px; color: #e71f41;}
.box_dienGia .item .info{font-family: "UTM-Bebas"; font-size: 20px; color: #414042;}
.box_dienGia .item ul{margin-top: 25px;}
.box_dienGia .item ul .btn{background: #e71f41; padding: 5px 10px; border-radius: 5px; color: #fff; font-family: "Roboto-Regular"; display: table; margin: 0 auto;}
.box_dienGia .item .content1{display: none;}
.box_dienGia .item button{width: 100%; margin-left: 5px; height: 45px;}

.box_khoaHoc{margin-bottom: 100px;}
.box_khoaHoc .box_title{font-family: "SVNKelsonSansBold"; font-size: 30px; text-align:center; padding:60px 0 45px 0; color: #152b50;}
.box_khoaHoc .table {text-align: center;font-size: 15px;}
.box_khoaHoc .table th{vertical-align: middle; height: 50px; color: #fff; background: #eb1c3b; text-align: center; font-size: 17px; line-height: 35px; font-family: "SVNKelsonSansBold";}
.box_khoaHoc .table td{text-transform:uppercase; vertical-align: middle; font-size: 17px; line-height: 23px; font-family: "SVNKelsonSansBold"; border: 1px solid #ccc; color: #414042;}
.box_khoaHoc .table thead tr th{border: 1px solid #ccc;}
.box_khoaHoc .table thead tr th select{ text-align-last:center; border-radius: 10px; border: 1px solid transparent;}
.box_khoaHoc .table .odd {background: #ffffff;color: #000;}
.box_khoaHoc .table .odd .text{text-align: left; padding: 20px;}
.box_khoaHoc .table .odd input{margin-left: 10px; margin-top: 3px; vertical-align: baseline;}

.box_dangKy{background: none; background-size: cover; padding: 100px 0;}
.box_dangKy .uudai{background: #fff; width: 90%; max-width: 100%;}
.box_dangKy .title_1{font-size:30px; line-height:27px; font-family: "SVNKelsonSansBold"; color: #fff; padding: 0 0 50px 0; width:90%; max-width:100%; text-align: center;}
.box_dangKy .uudai .text{height: 95px; text-align: center; font-size: 23px; line-height: 95px; color: #fff; background: #eb1c3c; font-family: "SVNKelsonSansBold";}
.box_dangKy .uudai .box_content{color: #111; font-family: "Roboto-Bold"; font-size: 20px; line-height: 27px; text-align: center;}
.box_dangKy .uudai .box_content .text_1{padding: 25px 0; font-family: "Roboto-Light";}
.box_dangKy .uudai .box_content .table{padding: 0 60px; margin-bottom: 0;}
.box_dangKy .uudai .box_content .table>tbody>tr>td{height: 55px; vertical-align: inherit; padding: 0; font-size: 17px; line-height: 27px; font-family: "Roboto-Bold"; text-align: center;}
.box_dangKy .uudai .box_content .text_2{padding: 20px 60px 25px 60px; font-size: 17px; line-height: 27px; font-family: "Roboto-Regular";}
.box_dangKy .uudai .box_content .text_2 span{font-size: 17px; line-height: 27px; font-family: "Roboto-Bold";}
.box_dangKy .title_2{font-size:30px; line-height:40px; font-family: "SVNKelsonSansBold"; color: #fff; text-align: center; line-height: 40px; margin-top: -50px; padding-bottom: 50px;}
.box_dangKy .form .form-row .col-md-6{padding-left: 0;}
.box_dangKy .form .form-row .group{padding-right: 0;}
.box_dangKy .form .btnSuccess .btn-blue{ transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 0; border:0; background: #eb1c3c; color: #fff; height: 60px; font-size: 25px; line-height: 27px; text-transform:uppercase; font-family: "SVNKelsonSansBold"; text-align: center; width: 100%;}
.box_dangKy .form .btnSuccess .btn-blue:hover{background: #1ec95e;}
.box_dangKy .form-control{ font-family: "Roboto-Medium"; border-radius: 0; padding-right: 0; background: #fff; color: #585858 !important; height: 57px; padding-left: 19px; font-size: 15px; border: 1px solid transparent; line-height: 43px;}
.box_dangKy .note{padding: 0; padding-left: 10px; line-height: 57px}
.box_dangKy .alert{ border-radius: 0; margin-top: 20px;}
.box_dangKy label{ font-size: 15px;}
.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100%; background: #fff !important; height: 57px; border-radius: 0; padding: 0 19px; font-family: "Roboto-Regular"; font-size: 15px;}
.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{color: #111; height: 57px; background: #fff !important; border-radius: 0; border: 0; "Roboto-Regular"; font-size: 15px; padding: 0;}
.box_dangKy .btn-group.open .dropdown-toggle{color: #111; height: 57px; background: #fff !important; border-radius: 0; border: 0; "Roboto-Regular"; font-size: 15px;}
.box_dangKy .bootstrap-select>.dropdown-toggle{color: #111; height: 57px; background: #fff !important; border-radius: 0; border: 0; "Roboto-Regular"; font-size: 15px;}
.box_dangKy input{color: #fff; vertical-align: sub;}
.box_dangKy input[type="checkbox"]{margin: 0 10px 0 0;}
.box_dangKy label{font-weight: normal; }
.box_dangKy input::placeholder{color: #585858 !important; font-family: "Roboto-Medium"; font-weight:normal; font-size: 15px; line-height: 27px;}
.box_dangKy .info{color: #fff; font-family: "Roboto-Medium"; padding: 10px 20px; font-size: 15px;}

.box_dangKy{ color: #30373d; position: relative; padding: 70px 0;}
.box_dangKy .title{font-family: "UTM-Bebas"; font-size: 40px; line-height: 40px;}
.box_dangKy .title .title1{color: #1e2b52; padding-bottom: 70px;}
.box_dangKy .title .title2{color: #e71f41;     margin-bottom: 70px;}
.box_dangKy .thanhToan { padding: 0 15px 0 15px;}
.box_dangKy .box_title{ font-family: "SVNKelsonSansBold"; text-align: center; padding-bottom: 45px; color: #1e2b52; font-size: 30px; text-transform: uppercase; line-height: 45px;}
.box_dangKy .thanhToan .item { margin-bottom: 30px;}
.box_dangKy .thanhToan .item .item_title{ font-family: "HelveticaNeue-Medium"; padding-bottom: 5px;line-height: 45px;}
.box_dangKy .thanhToan .item .item_detail{ font-size: 18px; padding-bottom: 20px; line-height: 23px; font-family: "Roboto-Light"; color: #252525;}
.box_dangKy .thanhToan .item .item_image{ width: 300px; max-width: 100%; margin: 0 auto; background: #1e2b52; color: #FFF; padding: 28px 0;}
.box_dangKy .thanhToan .item .item_image .image_title{ background: #FFF; color: #49556a; text-align: center; height: 38px; line-height: 38px;}
.box_dangKy .thanhToan .item .item_image .image_desc{ padding: 15px; font-size: 15px;}
.box_dangKy .thanhToan .hotline{font-size: 35px; line-height: 45px; font-family: "UTM-Bebas"; text-align: center; color: #eb1c3c; text-transform: uppercase;}
.box_dangKy .dangky .row:first-child{ padding: 25px 20px; background: #122c50;}
.box_dangKy .dangky .button{padding: 0;}
.box_dangKy .dangKy .box_title{ font-family: "Montserrat-SemiBold";; text-align: center; padding-bottom: 20px; color: #252525; font-size: 35px; line-height45px; text-transform: uppercase;}
.box_dangKy .dangKy .box_title span{color: #ec1b3c;}
.box_dangKy .dangKy .has-error .form-control{ border-color: #FF0000;}
.box_dangKy .dangKy .error{ color: #FF0000;}
.box_dangKy .dangKy .alert{margin-top: 10px;}
.box_dangKy .dangKy .btnSuccess{ text-align: center; margin-top: 10px;}
.box_dangKy .dangKy .btnSuccess .input-lg{border: none; border-radius: 5px; width: 100%; background: #ed243c; color: #fff;font-family: "HelveticaNeue-Medium"; padding: 10px 25px; font-size: 17px; text-transform: uppercase;}
.box_dangKy .dangKy .btnSuccess .input-lg:FOCUS{ outline: none;}
.box_dangKy .dangKy .hotLine{ text-align: center; font-size: 25px; line-height:45px; color: #898989; padding-top: 20px; font-family:"HelveticaNeue-Bold"; }
.box_dangKy .dangKy .hotLine i{width: 35px; height: 35px; line-height: 35px; text-align: center; border: 1px solid #898989; border-radius: 50%; margin-right: 10px;}
.box_dangKy .thanhToan .item .item_detail span{font-family: "Roboto-Bold";}
.box_dangKy .show{float: right; border: none; background: #fff; }
.box_dangKy .show-1{float: right; border: none; background: #fff; }
.box_dangKy .checkall{cursor: pointer;}
.box_dangKy .checkall-1{cursor: pointer;}
.box_dangKy .show i{font-size: 25px; padding-right: 15px;}
.box_dangKy .show-1 i{font-size: 25px}

.box_map{height: 169px;}

.box_student{padding: 90px 0 0; background: url("../images/bg_student.jpg") no-repeat top center; background-size: cover;}
.box_student .box_title .title{ text-align: center; color: #FFF; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 50px;}
.box_student .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 50%; width: 50px; height: 5px; margin-left: -25px; background: -webkit-linear-gradient(left, #0039ae 25%,#7db9e8 100%);}
.box_student .item{min-height: 280px;}
.box_student .item .fa{position: absolute; font-size: 50px; color: #fff; top: 50%; left: 50%; margin: -25px 0 0 -25px; }
.box_student .item .image{ margin-bottom: 12px; text-align: center; padding-top: 20px;}
.box_student .item .image img{ width: auto; display: inline-block; width: 100%;}
.box_student .item .name{ font-size: 15px; font-weight: 500; text-transform: uppercase; text-align: center; margin-bottom: 2px; color: #0f2a51;}
.box_student .item .info{ color: #a1a1a1; font-size: 13px; text-align: center;}
.box_student .item .content{ font-size: 14px; padding-top: 20px;}
.box_student .bx-wrapper { position: relative; padding-bottom: 0;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a{ background-color: #FFF; width: 12px; height: 12px; display: inline-block; text-indent: -99999px; margin: 0 8px; border: 0; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; border-radius: 50% !important;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.box_student .bx-wrapper .bx-pager.bx-default-pager a.active{ background-color: #d3a23b;}
.box_student .bx-wrapper .bx-viewport{ max-height: 520px;}
.box_student .bx-pager{ display: none; position: absolute; bottom: 0px; left: 0; width: 100%; margin: 0; padding: 0; text-align: center; z-index: 999;}
.box_student .bx-pager-item{ display: inline-block;}
.box_student .bx-controls-direction{display: contents; position: absolute; top: 13px; right: 0; z-index: 9999;}
.box_student .bx-controls-direction a{ display: inline-block; width: 20px; height: 20px; margin-top: 0; text-indent: -99999px; overflow: hidden;}
.box_student .bx-controls-direction a.bx-prev, 
.box_student .bx-controls-direction a.bx-prev:hover{ background: url("../images/prev.png") no-repeat center center; background-size: 100%; margin-right: 30px; position: absolute; top: 40%; margin-top: -10px; right: 100%;}
.box_student .bx-controls-direction a.bx-next,
.box_student .bx-controls-direction a.bx-next:hover{ background: url("../images/next.png") no-repeat center center; background-size: 100%; left: auto; position: absolute; top: 40%; margin-top: -10px; right: -4%;}
.box_student .item a{display: block; position: relative;}

.box_images{ overflow: hidden; background: #fff; padding: 40px 0;}
.box_images img{ width: 100%; transform: scale(1); transition: transform .5s;}
.box_images img:hover{ transform: scale(1.2); position: relative; z-index: 1;} 
.box_images table{ width: 100%;} 
.box_images table td{ padding: 2px; overflow: hidden;} 
.box_images table div{ overflow: hidden;} 

.box_comment{ padding: 0 0 40px 0; background: #fff;}

.box_footer{ padding: 60px 0 20px; position: relative; background: #071831; color: #FFF;}
.box_footer .container{ padding: 0 15px;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}
.box_footer .wrap{ margin: 0 -15px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px; margin-bottom: 40px;}
.box_footer .col-1{ width: 440px; max-width: 100%;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 10px;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-2{ width: 250px; max-width: 100%;}
.box_footer .col-3{ width: 280px; max-width: 100%;}
.box_footer .col-4{ width: 250px; max-width: 100%;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #d3a23b; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #1e2b52;}
.box_footer .alert{ font-size: 11px; border-radius: 0; padding: 5px 10px;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}

.box_menuFooter ul{ margin: 0; padding: 0; list-style: none;}
.box_menuFooter ul>li{ display: block;}
.box_menuFooter ul>li>a{ text-transform: uppercase; margin-bottom: 5px; display: block; font-size: 13px;}
.box_menuFooter ul>li>ul{ display: none;}

.box_adsFooter{ overflow: hidden; margin-right: 40px;}
.box_adsFooter a{ display: inline-block; font-size: 10px; padding: 5px 10px 3px; border: 1px solid #FFF; border-radius: 14px; text-transform: uppercase; margin: 0 5px 5px 0;}
.box_adsFooter a:HOVER{ background-color: #FFF; color: #071831 !important;}

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}
.has-error .form-control{border: 1px solid #ec1c3c;}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

iframe[name="google_conversion_frame"]{ height: 0;}

/*RESPONSIVE*/

@media ( max-width : 1200px){
	.box_tinTuc .bx-controls-direction a{display: none;}
	.box_noiDung .right .box_content{margin-top: 0;}
}

@media ( min-width : 1200px) {
  	.popup_video .popup_content{ width: 60%;}
}

@media ( max-width : 1000px) {
	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

	.box_header{ height: 43px; position: fixed; border: 0; padding: 0 0 10px 0;}
	.box_header.sticky{ position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }
	.box_header .container{ position: relative;}
	.box_header .logo{ margin-top: 8px !important;}
	.box_header .logo img{ height: 20px;}
	.box_header .menu_mobile{ top: 13px;}
	.box_header .menu_mobile .item{ background-color: #999;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 60%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	.box_header .menu li:first-child{ padding-left: 20px; }
	.box_header .menu{ margin: 0 !important;}

	.box_gioiThieu .content_1{padding: 0;}

	.box_noiDung .left{display: none;}
	.box_noiDung .right{width: 100%; height: auto;}
	.box_noiDung .right .box_content{width: 100%;}
	.box_noiDung .right .box_content .info{width: 100%; padding-right: 100px;}
	
}

@media ( max-width : 768px) {
	body{ color: #282828; font-size: 15px;}
	.hide{display: block !important;}
	.box_loiIch br{display: none;}

	.box_banner{margin-bottom: 50px;}
	.box_banner .image img{ margin-top: 43px; }
	
	.box_header.sticky{ padding: 0px;}
	
	.box_gioiThieu .content{margin-top: 50px;}
	.box_gioiThieu .content .right{padding-left: 20px;}
	.box_gioiThieu .title{text-align: center;}
	.box_gioiThieu .title:before{display: none;}
	.box_gioiThieu .img-responsive{margin: auto;}

	.box_dieuKien{margin-bottom: 50px;}
	.box_dieuKien .info{font-size: 15px; line-height: 22px;}
	.box_dieuKien .info .title{font-size: 25px; margin-bottom: 20px;}
	.box_dieuKien .info .detail{margin-bottom: 15px;}
	.box_dieuKien .info .text_1{padding:15px 0 35px 60px;}
	.box_dieuKien .info .text_2{padding:0 0 0 60px;}
	
	.box_noiDung br{display: none;}
	.box_noiDung .left{display: none;}
	.box_noiDung .right{width: 100%;}
	.box_noiDung .right .box_content{width: 100%; margin: 0; padding-left: 15px;}
	.box_noiDung .right .box_content .info{padding-right: 15px;}

	.box_khoaHoc{margin-bottom: 50px;}
	.box_khoaHoc .box_title{padding-left: 15px; font-size: 25px;}
	.box_khoaHoc .table th{font-size: 12px;}
	.box_khoaHoc .table td{font-size: 11px; text-align: left;}
	.box_khoaHoc .table .odd .text{padding: 0 5px;}
	.box_khoaHoc .table .odd .col-xs-2{padding: 0 5px;}
	
	.box_dangKy{ margin-bottom: 50px; padding: 0;}
	.box_dangKy .title_1{width: 100%; padding: 50px 0; font-size: 25px;}
	.box_dangKy .uudai .box_content .text_1{padding: 20px 0;}
	.box_dangKy .title_2{line-height: 45px; padding: 0 0 50px 0; font-size: 25px; margin: 0;}
	.box_dangKy .form {margin-bottom: 50px;}
	.box_dangKy .form .form-control{height: 40px; font-size: 14px; padding: 0 15px;}
	.box_dangKy .form .form-group input::placeholder{font-size: 14px;}
	.box_dangKy .form .btnSuccess .btn-blue{height: 40px; font-size: 17px; vertical-align: middle; line-height: 20px;}
	.box_dangKy .form .form-row .col-md-6{padding-right: 0;}
	.box_dangKy .uudai{padding: 0; width: 100%;}
	.box_dangKy .uudai .box_content .table{padding: 0 15px;}
	.box_dangKy .uudai .box_content .table>tbody>tr>td{font-size: 17px; height: 45px;}
	.box_dangKy .uudai .box_content .text_2{padding: 30px 15px; margin-bottom: 40px;}
	.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ height: 40px; padding: 0; font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{ height: 40px; font-size: 14px;}
	.box_dangKy .btn-group.open .dropdown-toggle{ height: 40px font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle{ height: 40px;font-size: 14px;}
	
	.box_dienGia .col-md-2{text-align: center;}
	.box_dienGia .box_title{padding: 20px 0;}
	.box_dienGia .row{margin: 0 0 20px 0; }
	.box_dienGia .content1{display: block !important;}
	.box_dienGia .box_content{background: #1e2b52}
	.box_dienGia .item ul .btn{display: none;}
	
	.box_dangKy{ padding: 0 0 30px 0; }
	.box_dangKy .container .box_title{ margin: 0; padding: 0 15px 30px; font-size: 25px; text-align: center; padding: 0;}
	.box_dangKy .container{ padding: 0 10px;}
	.box_dangKy .info{ padding: 10px;}
	.box_dangKy .info .title{ padding: 0;}
	.box_dangKy .info .head{ padding-top: 30px; padding-bottom: 10px;}
	.box_dangKy .bank{ padding: 0 30px 50px;}
	.box_dangKy .bank .title{ padding-bottom: 0;}
	.box_dangKy .bank .item{ padding-top: 30px;}
	.box_dangKy label{font-size: 14px;}

	.box_images{margin: 0;}
}

@media(max-width:480px){
	.box_gioiThieu{padding-bottom: 0;}
	.box_gioiThieu .image img{width: 100%;}
	.box_gioiThieu .content_2{ display: block;}
	.box_gioiThieu .content_2 .info{padding-left: 0;}
	.box_gioiThieu .content_2 .info .title{text-align: center;}
	.box_gioiThieu .content_2 .image{text-align: center; width: 100%;}
	.box_gioiThieu .content_2 .image img{width: 50%;}
	.box_gioiThieu p{padding: 0 10px; font-size: 15px;}
	.box_gioiThieu .text{padding: 0 10px 0 35px; font-size: 24px;}
	.box_gioiThieu .info .text-1, .box_gioiThieu .info .text-2{padding-right: 10px;}
	.box_gioiThieu .info .title{font-size: 25px;}
	.box_gioiThieu .text .item:before{left: -35px;}
	.box_gioiThieu .box_content .detail{padding: 20px 10px 20px 40px; margin: 40px 0}
	.box_gioiThieu .box_content .detail:before{left: 5px; top: 8px;}

	.box_thongTin{margin-top: 0; padding: 50px 15px;}
	.box_thongTin .box_title{margin-bottom: 0;}
	.box_thongTin .box_content .info .title{padding: 15px 0;}
	.box_thongTin .box_content .info .item .key{font-size: 20px;}
	.box_thongTin .box_content .info .item .value{font-size: 12px;}
	.box_thongTin .box_content .info .item .value .text{font-size: 12px;}
	.box_thongTin .box_content .info .item .value .btn{font-size: 12px; padding: 5px;}
	
	.box_aiNen .title{font-size: 25px; padding: 0;}
	.box_aiNen .box_content .list_item{ display: block;}
	.box_aiNen .box_content .list_item .item{width: 100%; margin: 25px 0; text-align: center;}
	.box_aiNen .box_content .list_item .item img{width: 100%;}
	.box_aiNen .item{padding: 30px 15px; height: auto;}

	
	.box_khoaHoc .box_title{padding: 0 15px; font-size: 20px; text-align: center; padding-bottom: 30px;}
	
	.box_dangKy .uudai .box_content .text_2{font-size: 15px;}
	.box_dangKy .uudai .text{height: 60px; line-height: 60px;}

	.box_thongTin .box_content .info .item .value.btn_book{font-size: 20px;}
	
	.box_dieuKien{display: -webkit-inline-box;}
	.box_dieuKien .img{display: none;}
	.box_dieuKien .info .title{padding-top: 30px;}
	.box_dieuKien .info .text_1{padding-top: 0;}
	
	.box_dangKy .dangKy .box_title{font-size: 30px;margin-top: 25px;}
	.box_dangKy .container .box_title{font-size: 25px;padding-bottom: 0;}
	.box_dangKy .dangKy{padding: 0;}
	.box_dangKy .dangKy .box_content{margin-top: 15px;}
}

@media(max-width:360px){
	.box_dienGia .box_title .title_2:before{line-height: 35px;}
}