<?php
    // Thiết lập Meta
    $this->headTitle('Kích hoạt tài khoản');
    $this->headMeta()
         ->appendName('description', $this->settings['General.Meta.Description']['description'])
         ->appendName('keywords', $this->settings['General.Meta.Keywords']['description']);
    
    $linkLogin = $this->url('routeUser/default', array('controller' => 'index', 'action' => 'login'));
?>

<div class="box_notice" style="padding-bottom: 100px;">
	<div class="page-header">
        <h1>Thông báo</h1>
	</div>
	<p class="lead">Tài khoản của bạn đã được kích hoạt thành công</p>
	<p>Vui lòng <a href="<?php echo $linkLogin;?>">nhấn vào đây</a> để đăng nhập</p>
</div>
