<?php
    // Thiết lập Meta
    $this->headTitle('Not found');
    $this->headMeta()
         ->appendName('description', $this->settings['General.Meta.Description']['description'])
         ->appendName('keywords', $this->settings['General.Meta.Keywords']['description']);
    
    $linkLogin = $this->url('routeUser/default', array('controller' => 'index', 'action' => 'login'));
?>

<div class="box_notice" style="padding-bottom: 100px;">
	<div class="page-header">
        <h1>Thông báo</h1>
	</div>
	<p class="lead">Không tìm thấy dữ liệu hoặc đường dẫn không tồn tại.</p>
	<p>Vui lòng <a href="/">nhấn vào đây</a> để quay lại trang chủ</p>
</div>