<?php
    // Thiết lập Meta
    $this->headTitle('Not found');
    $this->headMeta()
         ->appendName('description', $this->settings['General.Meta.Description']['description'])
         ->appendName('keywords', $this->settings['General.Meta.Keywords']['description']);
    
    $linkHome = $this->url('routeHome');
?>

<div class="box_notice" style="padding-bottom: 100px;">
	<div class="page-header">
        <h1>Thông báo</h1>
	</div>
	<p class="lead">Đường dẫn bạn truy cập không hợp lệ</p>
	<p>Vui lòng <a href="<?php echo $linkHome;?>">nhấn vào đây</a> để quay lại trang chủ</p>
</div>
