<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
    
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'https://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>
    <script>fbq('track', 'CompleteRegistration');</script>

    <div class="box_header" id="box_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><a href="/" class="logo"><img src="<?php echo $urlImg;?>/logo.png"></a></div>
                <div class="col-md-10">
                    <div class="clr"></div>
                    <ul class="menu hidden-xs hidden-sm">
                        <li><a href="javascript:;" class="go_box" data-box="box_thongTin">Thông tin khóa học</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_aiNen">Đối tương tham gia</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_noiDung">Nội dung khóa học</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_dienGia">Chuyên gia đào tạo</a></li>
                        <li><a href="javascript:;" class="go_box btn_book" data-box="box_dangKy">Đăng ký ngay</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <a href="javascript:;">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- end box_header -->

    <div class="box_banner" id="box_banner">
        <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>
    </div>
    <!-- end box_banner -->

    <div class="box_gioiThieu" id="box_gioiThieu">
        <div class="container">
            <div class="row">
                <div class="title text-center">VÌ SAO DOANH NGHIỆP MUỐN TĂNG TRƯỞNG DOANH THU NHƯNG VẪN DẬM CHÂN TẠI CHỖ?</div>
                <div class="box_content">
                    <div class="col-md-5">
                        <div class="img"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/M_L2WZ3_aFw?autoplay=1');"><img alt="" src="<?php echo $urlImg;?>/gt1.jpg"></a></div>
                    </div>
                    <div class="col-md-7">
                        <div class="text">
                            <div class="item">Sản phẩm và dịch vụ tốt nhưng không tiếp cận được khách hàng tiềm năng.</div>
                            <div class="item">Marketing “cày cuốc” mang lại nhiều data khách hàng, tốn rất nhiều chi phí và nguồn lực nhưng tỉ lệ chốt Sale thấp.</div>
                            <div class="item">Doanh thu sụt giảm trong khi đối thủ cạnh tranh liên tục mở rộng thị phần.</div>
                            <div class="item">Sales chăm chăm chốt khách hàng mới, “ngó lơ” khách hàng cũ gây ảnh hưởng đến thương hiệu dài hạn.</div>
                            <div class="item">Khó khăn trong thu hút, đào tạo, giữ chân đội ngũ Sales. Người tài dứt áo ra đi gây hao tổn nguồn lực, tiền bạc và chi phí cơ hội của doanh nghiệp.</div>
                            <div class="item">Bộ máy hoạt động cồng kềnh, nhân sự nhiều nhưng hiệu quả chưa tối ưu.</div>
                            <div class="item">Không có phần mềm quản trị thông tin khách hàng, gây khó khăn trong việc gia tăng trải nghiệm khách hàng trước, trong và sau bán. Đồng thời, khi nhân sự ra đi cũng mang theo toàn bộ dữ liệu và thông tin khách hàng.</div>
                        </div>
                    </div>
                </div>
                <div class="clr"></div>
                <p class="text-center note">Doanh nghiệp không thể lúc nào cũng chạy theo những vấn đề này một cách bị động, hổng đâu vá đấy và giải quyết  các  vấn đề một cách cục bộ, không có góc nhìn tổng thể và toàn diện. Một chiến lược Sales và Marketing bài bản ngay từ đầu sẽ giúp doanh nghiệp có hướng đi rõ ràng, tăng trưởng doanh thu, dễ dàng mở rộng quy mô tổ chức. Từ đó, giúp doanh nghiệp tạo ra những đột phá trong kinh doanh, phát triển nhanh và bền vững trước bối cảnh cạnh tranh ngày một khốc liệt.</p>
            </div>
        </div>
    </div>
    <!-- end box_gioiThieu -->
    
     <div class="box_thongTin" id="box_thongTin">
        <div class="container">
            <div class="title text-center">THÔNG TIN KHÓA HỌC</div>
            <div class="box_content">
                <div class="text">Với mong muốn mang đến giải pháp cho ban lãnh đạo, các quản lý cấp cao trong công ty về vấn đề này, <span>trường doanh nhân HBR</span> đã kết hợp cùng <span>TS. Alok Bharadwaj – Cựu phó chủ tịch cao cấp, phụ trách chiến lược của Canon Châu Á, nơi ông đã điều hành và phát triển kinh doanh tại 23 quốc gia</span> xây dựng chương trình đào tạo: <span>“THIẾT KẾ TỔ CHỨC & VẬN HÀNH CHIẾN LƯỢC SALES & MARKETING HIỆU QUẢ”</span>.</div>
                <div class="info">
                    <div class="item">
                        <div class="key">HÀ NỘI</div>
                        <div class="value">
                            <p>18h15 - 21h15 05/04/2019</p>
                            <p>Phòng hội trường tầng 1, trung tâm văn hóa Ulis - Jonathan KS Choi, ĐH Quốc Gia Hà Nội, 144 Xuân Thủy</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="key">HỒ CHÍ MINH</div>
                        <div class="value red">
                            <p>18h15 - 21h15 09/04/2019</p>
                            <p>Phòng Tulip Lầu 9,  KS Sen Việt, 33 Cao Thắng, Phường 2, Quận 3, TP.HCM</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="key">CHUYÊN GIA</div>
                        <div class="value">Tiến sĩ Alok Bharadwaj - Cựu Phó Chủ tịch cao cấp, phụ trách chiến lược của Canon Châu Á, nơi ông đã điều hành và phát triển kinh doanh tại 23 quốc gia. Thành viên Hội đồng cố vấn của Tạp chí Kinh doanh Harvard. Đối tác tư vấn của Tập đoàn AON Hewitt – Tập đoàn tư vấn quản trị & nguồn nhân lực lớn nhất thế giới có trụ sở tại 120 quốc gia.</div>
                    </div>
                    <div class="item">
                        <div class="key">HỌC PHÍ</div>
                        <div class="value">1.000.000Đ</div>
                    </div>
                    <div class="item">
                        <div class="key">ƯU ĐÃI</div>
                        <div class="value red">
                            <p>ƯU ĐÃI KHI ĐĂNG KÝ TRƯỚC NGÀY 15/03/2019:</p>
                            <p>1 VÉ: 900.000Đ/ HỌC VIÊN</p>
                            <p>2 - 4 VÉ: 800.000Đ/ HỌC VIÊN</p>
                            <p>5 VÉ TRỞ LÊN: 700.000Đ/ HỌC VIÊN</p>
                            <p>HỌC VIÊN CŨ VÀ ĐĂNG KÝ THEO NHÓM VUI LÒNG LIÊN HỆ HOTLINE ĐỂ NHẬN ƯU ĐÃI</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="key">HOTLINE</div>
                        <div class="value">082.999.6886 Hoặc 082.999.6633</div>
                    </div>
                    <div class="item">
                        <div class="key"></div>
                        <div class="value btn_book">
                            <a href="javascript:;" class="go_box" data-box="box_dangKy">ĐĂNG KÝ KHÓA HỌC</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_thongTin -->
    
    <div class="box_muctieu" id="box_mucTieu">
        <div class="left"></div>
        <div class="right">
            <div class="box_content">
                <div class="box_title">LỢI ÍCH KHÓA HỌC</div>
                <div class="item item-1">Nắm vững kiến thức nền tảng, những yếu tố cần thiết để xây dựng, triển khai chiến lược Sales & Marketing một cách bài bản và hiệu quả.</div>
                <div class="item item-2">Nắm bắt các xu hướng lớn định hình nền kinh doanh toàn cầu nhằm xây dựng chiến lược Sales & Marketing ăn nhập với bối cảnh và đón đầu xu hướng.</div>
                <div class="item item-3">Sử dụng thành thạo các công cụ, biểu mẫu để đánh giá, đo lường tiến độ và hiệu quả công việc Sales & Marketing.</div>
                <div class="item item-4">Tháo gỡ vướng mắc, tư vấn chiến lược cho các nhà lãnh đạo và doanh nghiệp.</div>
            </div>
        </div>
    </div>
    
    <div class="box_aiNen" id="box_aiNen">
        <div class="container">
            <div class="title text-center">ĐỐI TƯỢNG THAM DỰ</div>
            <div class="row">
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen1.png"></div>
                        <div class="text text-center">Ban lãnh đạo doanh nghiệp: Chủ tích, thành viên HĐQT, ban cố vấn doanh nghiệp.</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen2.png"></div>
                        <div class="text text-center">Ban giám đốc: Tổng GĐ, các GĐ chức năng.</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen3.png"></div>
                        <div class="text text-center">Trưởng phòng ban, bộ phận, đội nhóm…của các công ty trong và ngoài nước..</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen4.png"></div>
                        <div class="text text-center">Các doanh nhân muốn cập nhật thêm kiến thức, kĩ năng và xu hướng mới trong kinh doanh.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_aiNen -->

    <div class="box_noiDung" id="box_noiDung">         
        <div class="box_content">
            <div class="box_title">NỘI DUNG KHÓA HỌC</div>
            <div class="wrapper">
                <div class="my_panel active item_1">
                    <div class="title"><span>PHẦN 01:</span> TẦM QUAN TRỌNG CỦA CHIẾN LƯỢC SALES & MARKETING</div>
                    <div class="content">
                    	<p class="item_content">Xác định giá trị doanh nghiệp</p>
                    	<p class="item_content">Mảnh ghép Sales & Marketing trong bức tranh Giá trị tổ chức</p>
                    </div>
                </div>
                <div class="my_panel item_2">
                    <div class="title"><span>PHẦN 02:</span> PHƯƠNG PHÁP X Y DỰNG VÀ VẬN HÀNH CHIẾN LƯỢC SALES & MARKETING HIỆU QUẢ</div>
                    <div class="content">
                        <p class="item_content">Các bước xây dựng chiến lược Sales & Marketing</p>
                        <p class="item_content">Quy trình và công cụ triển khai chiến lược Sales & Marketing hiệu quả</p>
                    </div> 
                </div>
                <div class="my_panel item_3">
                    <div class="title"><span>PHẦN 03:</span> NẮM BẮT CÁC XU HƯỚNG LỚN ĐỊNH HÌNH NỀN KINH DOANH TOÀN CẦU ĐỂ XÂY DỰNG CHIẾN LƯỢC SALES VÀ MARKETING THÍCH NGHI VỚI BỐI CẢNH VÀ ĐÓN ĐẦU XU HƯỚNG</div>
                </div>
                <div class="my_panel item_4">
                    <div class="title"><span>PHẦN 04:</span> HỎI ĐÁP, GIẢI QUYẾT CÁC VẤN ĐỀ DOANH NGHIỆP</div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_noiDung -->

    <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">
        <div class="box_dienGia" id="box_dienGia">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                    </div>
                    <div class="col-md-8 col-sm-12 content">
                        <div class="box_title">
                            <div class="title_1">Tiến sĩ <br>Alok Bharadwaj</div>
                        </div>
                        <div class="box_content">
                            <p class="text-1">Các vị trí từng đảm nhiệm:</p>
                            <ul>
                                <li><p class="item">Giám đốc bán hàng Voltas (Tata Group) 06/1985 - 02/1989</p></li>
                                <li><p class="item">Giám đốc Marketing Usha International 03/1989 - 09/1994</p></li>
                                <li><p class="item">Giám đốc bán hàng Motorola khu vực Nam Á 10/1994 - 05/2001</p></li>
                                <li><p class="item">Phó chủ tịch kiêm giám đốc điều hành Canon Ấn Độ 06/2001 - 12/2014</p></li>
                                <li><p class="item">Giám đốc Marketing giỏi nhất của năm 2009 do Hiệp hội Giám đốc Marketing tại Mỹ (CMO Council USA) công nhận.</p></li>
                                <li><p class="item">Nguyên chủ tịch hiệp hội Marketing Châu Á </p></li>
                                <li><p class="item">Phó chủ tịch cao cấp, phụ trách chiến lược Canon tại 23 quốc gia ở châu Á 01/2015 - 06/2017</p></li>
                                <li><p class="item">Giám đốc điều hành công ty tư vấn CreoVate 7/2017 - Hiện tại.</p></li>
                                <li><p class="item">Thành viên trong hội đồng cố vấn của Tạp chí Kinh doanh Harvard.</p></li>
                                <li><p class="item">Đối tác tư vấn, cố vấn của Tập đoàn AON Hewitt – Tập đoàn tư vấn quản trị & nguồn nhân lực lớn nhất thế giới có trụ sở tại 120 quốc gia.</p></li>
                            </ul>         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end box_dienGia -->
        
        <div class="box_dangKy" id="box_dangKy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                    <div class="title_1">ƯU ĐÃI ĐẶC BIỆT</div>
                        <div class="uudai">
                            <div class="text">Ưu đãi khi đăng ký chương trình trước ngày 15/03/2019</div>
                            <div class="box_content">
                                <p class="text_1"></p>
                                <div class="table">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>1 vé: 900.000đ/ Học viên</td>
                                            </tr>
                                            <tr>
                                                <td>2 -4 vé: 800.000đ/ Học viên</td>
                                            </tr>
                                            <tr>
                                                <td>5 vé trở lên: 700.000đ/ Học viên</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="text_2">Học viên cũ và đăng ký theo nhóm vui lòng liên hệ Hotline <span>082.999.6886</span> Hoặc <span>082.999.6633</span> để nhận ưu đãi và hỗ trợ riêng.  </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="dangky">
                            <div class="title_2">ĐĂNG KÝ THAM DỰ <br>KHÓA ĐÀO TẠO</div>
                            <div class="form">
                                <div class="row">
                                    <div class="col-sm-12">
                                    	<div class="form-group" id="input-location_city_id">
                                            <select name="location_city_id" class="form-control">
                                                <option value=""  selected="selected">Chọn địa điểm tham gia</option>
                                                <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                                <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                            </select>
                                         </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="input-name">
                                            <input name="name" type="text" class="form-control" placeholder="Họ và tên">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="input-phone">
                                            <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group" id="input-email">
                                            <input name="email" type="text" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="input-company_name">
                                            <input name="company_name" type="text" class="form-control" placeholder="Công ty">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    <?php
                                        $company_position = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-position" )), array('task' => 'cache'));
                                    ?>
                                    <div class="form-group" id="input-company_position">
                                        <select name="company_position" class="form-control">
                                            <option class="company_position" value="">Chức vụ</option>
                                            <?php
                                                foreach ($company_position AS $val) {
                                                    $id     = $val['id'];
                                                    $name   = $val['name'];
                                            ?>  
                                            <option class="company_position" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                            <?php } ?>
                                        </select> 
                                    </div>
                                </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="input-number">
                                            <input name="number" type="number" class="go_box form-control" placeholder="Số vé">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="input-price">
                                            <input name="price" type="text" class="form-control mask_currency" placeholder="Thành tiền" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <?php
                                            $company_problem = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-problem" )), array('task' => 'cache'));
                                        ?>
                                        <div class="form-group" id="input-company_problem">
                                            <select name="company_problem[]" class="selectpicker form-control" multiple data-selected-text-format="count > 4" title="Vấn đề các anh/Chị đang gặp phải.">
                                                <?php
                                                    foreach ($company_problem AS $value) {
                                                        $id     = $value['id'];
                                                        $name   = $value['name'];
                                                ?>  
                                                <option class="company_problem" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                <?php } ?>
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-content">
                                            <input name="content" type="text" class="form-control" placeholder="Anh/Chị vui lòng mô tả chi tiết vấn đề của mình">
                                        </div>
                                    </div>               
                                    <div class="col-sm-12">
                                        <div class="btnSuccess">
                                            <input type="hidden" name="course_id" value="">
                                            <input type="hidden" name="form_id" value="<?php echo $item['form_id'];?>">
                                            <input type="hidden" name="type" value="form">
                                            <?php 
                                            if ($link == '') {
                                                $input = '<input type="hidden" name="source" value="landing_page">';
                                            }else{
                                                $input = '<input type="hidden" name="source" value="'.$link.'">';
                                            }
                                            ?>
                                            <?php
                                            echo $input;
                                            ?>
                                            <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                            <input type="button" onclick="javascript:formRegisterCRM('frmRegister');" class="input-lg btn-blue" value="Đăng ký ngay">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <div class="box_thanhToan" id="box_thanhToan">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="thanhToan">
                        <div class="box_title">THÔNG TIN TÀI KHOẢN</div>
                        <div class="box_content">
                            <div class="item">
                                <div class="item_title"><b>1. Chuyển khoản</b></div>
                                <div class="item_detail">
                                    Vui lòng liên hệ Hotline <span>082.999.6886</span> hoặc <span>082.999.6633</span> để được tư vấn rõ hơn.
                                </div>
                            </div>
                            <div class="item">
                                <p class="item_title"><b>2. Nộp tiền mặt trực tiếp</b></p>
                                <p class="item_detail">Tại văn phòng của Langmaster, tầng 15 tòa nhà CTM Complex, số 139 Cầu Giấy, Hà Nội.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="dangKy">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0066982756643!2d105.79666931548647!3d21.032417985996346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab46d9c86b9b%3A0x4879c19d8ad4be47!2zMTM5IEPhuqd1IEdp4bqleSwgUXVhbiBIb2EsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1516414158828" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_thanhtoan -->

    <?php echo $this->blkDocument($this->arrParams, 'feedback', array('cache' => true, 'type' => array('alok')));?>

    <div class="box_comment">
        <div class="container">
            <div class="fb-comments" data-href="https://www.facebook.com/hbr.edu.vn/" data-width="100%" data-numposts="10" data-order-by="reverse_time"></div>
        </div>
    </div>

    <div class="box_images">
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-5.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-6.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-7.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-8.jpg"></div></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-9.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-10.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-11.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-12.jpg"></div></td>
            </tr>
        </table>
    </div>
    
    <?php
    echo $this -> headScript()
               -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] .'/me.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->
    
    <script type="text/javascript">
    // slide
    $(document).ready(function() {
        var maxSlides = 3;
        var slideWidth = 368; 
        if ($(window).width() < 800) {
            maxSlides = 1;
            slideWidth = 0;
        }
        $("#box_student").show();
        $("#box_student .slider").bxSlider({
            auto: false,
            minSlides: maxSlides,
            maxSlides: maxSlides,
            slideWidth: slideWidth,
            slideMargin: 30,
            moveSlides: maxSlides,
            responsive: true,
            pause: 3000,
            speed: 1500,
            autoHover: true
        });
    });

    $(document).ready(function() {
        $('.list_2 p').hide();
        $('.box_gioiThieu .list_2 .item').css('height','auto');
        $('.click, .box_gioiThieu .list_2 .item').click(function(){
            $('.list_2 p').fadeIn();
            $('.box_gioiThieu .list_2 .item').css('height','470px');
            $('.box_gioiThieu .list_2 .item').css('min-height','auto');
            $('.click').hide();
        });
    });

    // Hiệu ứng text các box
    if ($(window).width() > 991) {
        $('.box_thongTin .box_content .info .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp2 animated-2s fadeInUp');}
        });
        $('.box_aiNen .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-3s fadeInUp');}
        });
        $('.box_loiich .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
        });
        $('.box_dieukien .info').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-0.5s fadeInRight');}
        });
    }

    $('.mask_currency').autoNumeric("init",{
        mDec: 0,
        aSep: '.',
        aDec: ',', 
    });

    $('input[type="number"]').bind('keyup change', function(){
        var price = parseInt($(this).val()) * 1000000;
        if($(this).val() >= 1) {
            price = parseInt($(this).val()) * 900000;
        }
        if($(this).val() >= 2) {
            price = parseInt($(this).val()) * 800000;
        }
        if($(this).val() >= 5) {
            price = parseInt($(this).val()) * 700000;
        }
        $(".mask_currency").autoNumeric("set", price);
    });     

    // Thêm course_id
    $('select[name="location_city_id"]').change(function(e) {
      // this  gives me the value after the change event.
        if ($(this).val() == '1471419030-5m0i-1336-1k80-275892616r50') {
            $('input[name="course_id"]').val('155246589382t6709sz5q9')
        }else if ($(this).val() == '1471419543-77s5-83it-g000-9j600uz74951'){
            $('input[name="course_id"]').val('15526471239r65ly937v32')
        }
    });
    </script>
</body>
</html>
