<style>
    #table-marketer{}
    #table-marketer tbody tr td input.form-control{
        padding: 0px 5px;
        min-width: 100px;
    }
</style>
<?php
    $myForm = $this->myForm;
    $myForm->prepare();
    
    $arrControl = array(
        array('name' => 'save', 'caption' => 'Lưu', 'link' => 'javascript:;', 'icon' => 'fa-check', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save\');', 'class' => 'btn')),
        array('name' => 'save-new', 'caption' => 'Lưu &amp; Mới', 'link' => 'javascript:;', 'icon' => 'fa-paste', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-new\');', 'class' => 'btn')),
        array('name' => 'save-close', 'caption' => 'Lưu &amp; Đóng', 'link' => 'javascript:;', 'icon' => 'fa-save', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-close\');', 'class' => 'btn')),
        array('name' => 'close', 'caption' => 'Hủy', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),
    );
    
    $requirePassword = true;
    
    // Set lại các giá trị của từng element

    $elements = array(
        array('element' => $myForm->get('name'), 'label' => 'Tên chiến dịch', 'boxClass' => 'col-md-2'),
        // array('element' => $myForm->get('month'), 'label' => 'Tháng', 'boxClass' => 'col-md-2 hidden'),
        // array('element' => $myForm->get('year'), 'label' => 'Năm', 'boxClass' => 'col-md-2 hidden'),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true))
    );

    $xhtml          = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements); 
    $item_option    = !empty($this->item['options']) ? unserialize($this->item['options']) : array();
    $options        = !empty($this->params['data']['options']) ? $this->params['data']['options'] : $item_option;
?>

<form method="post" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">
    <div class="page-control">
        <div class="title pull-left">
            <?php echo $this->caption;?>
        </div>
        <div class="control pull-right">
            <?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
        </div>
        <div class="clearfix"></div>
    </div>
    <?php echo $this->flashMessenger()->render();?>
    <?php echo @$this->xViewElementErrors($elements);?>
    <div class="page-content">
        <div class="row">

            <?php echo $xhtml;?>

            <div class="col-md-12">
                <h3 class="form-section">Danh sách nhân viên marketing</h3>
                <div class="table-scrollable" id="table-marketer">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th rowspan="2" class="" style="vertical-align:middle">Nhân viên/Ngày</th>
                                <?php for ($i=1; $i <= $this->month_days; $i++) { ?>
                                    <?php $datetime = $this->year . '-' . $this->month . '-' . ($i < 10 ? '0' . $i : $i); ?>
                                    <th colspan="3" class="text-center "><?php echo $datetime ?></th>
                                <?php }unset($i); ?>
                            </tr>
                            <tr>
                                <?php for ($i=1; $i <= $this->month_days; $i++) { ?>
                                    <th class="text-center">ME</th>
                                    <th class="text-center">C1</th>
                                    <th class="text-center">C2</th>
                                <?php }unset($i); ?>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            if (isset($this->user) && count($this->user) && is_array($this->user)){
                                foreach ($this->user as $val){ ?>
                                    <tr>
                                        <td style="vertical-align: middle" class="text-center"><?php echo $val['name']; ?></td>
                                        <?php for($i=1; $i<= $this->month_days; $i++){ ?>
                                            <?php
                                                $datetime = $this->year . '-' . $this->month . '-' . ($i < 10 ? '0' . $i : $i);
                                            ?>
                                            <td>
                                                <input type="text" name="options[<?php echo $val['id'] ?>][<?php echo $datetime ?>][me]" value="<?php echo (!empty($options[$val['id']][$datetime]['me'])? $options[$val['id']][$datetime]['me']:null) ?>" 
                                                placeholder="ME <?php echo $i ?>" class="form-control mask_currency">
                                            </td>
                                            <td>
                                                <input type="number" name="options[<?php echo $val['id'] ?>][<?php echo $datetime ?>][c1]" value="<?php echo (!empty($options[$val['id']][$datetime]['c1'])? $options[$val['id']][$datetime]['c1']:null) ?>" placeholder="C1 <?php echo $i ?>" class="form-control">
                                            </td>
                                            <td>
                                                <input type="number" name="options[<?php echo $val['id'] ?>][<?php echo $datetime ?>][c2]" value="<?php echo (!empty($options[$val['id']][$datetime]['c2'])? $options[$val['id']][$datetime]['c2']:null) ?>" placeholder="C2 <?php echo $i ?>" class="form-control">
                                            </td>
                                        <?php };unset($i) ?>
                                    </tr>
                                <?php }unset($val);
                            }
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
<?php $this->headScript()->captureStart() ?>
    $(document).ready(function() {
        let month = $('.choose-month')[1];
        let year  = $('.choose-year')[1];

        let curent_m = new Date().getMonth() + 1;
        if(curent_m < 10){
            curent_m = '0'+curent_m.toString();
        }
        else{
                curent_m = curent_m.toString();
        }
        let curent_y = new Date().getFullYear(); 

        if ($.trim($('.inputName').val()) == '') {
            $('.inputName').val('Chiến dịch Marketing ' + curent_m + '/' + curent_y);
        } 

        /*$(month).change(function (e) {
            e.preventDefault();
            $('.inputName').val('Chiến dịch Marketing ' + $(this).val() + '/' + $(year).val()); 
        });

        $(year).change(function (e) {
            e.preventDefault();
            $('.inputName').val('Chiến dịch Marketing ' + $(month).val() + '/' + $(this).val()) ;
            console.log('month: ',$(year).val(),'-',$(month).val());
        });*/

    })
<?php $this->headScript()->captureEnd() ?>

<!-- <script>
    $(document).ready(function() {
        let month = $('.choose-month')[1];
        let year  = $('.choose-year')[1];
        
        if ($.trim($('.inputName')) === '') {
            $('.inputName').val('Chiến dịch Marketing ' + $(month).val() + '/' + $(year).val())
        } 
        $(month).change(function (e) {
            e.preventDefault();
            $('.inputName').val('Chiến dịch Marketing ' + $(this).val() + '/' + $(year).val()) 
        });
        $(year).change(function (e) {
            e.preventDefault();
            $('.inputName').val('Chiến dịch Marketing ' + $(month).val() + '/' + $(this).val()) 
        });
    })
</script> -->