<?php
    $myForm = $this->myForm;
    $myForm->prepare();
    
    $arrControl = array(
        array('name' => 'save', 'caption' => 'Lưu', 'link' => 'javascript:;', 'icon' => 'fa-check', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save\');', 'class' => 'btn')),
        array('name' => 'save-new', 'caption' => 'Lưu &amp; Mới', 'link' => 'javascript:;', 'icon' => 'fa-paste', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-new\');', 'class' => 'btn')),
        array('name' => 'save-close', 'caption' => 'Lưu &amp; Đóng', 'link' => 'javascript:;', 'icon' => 'fa-save', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-close\');', 'class' => 'btn')),
        array('name' => 'close', 'caption' => 'Hủy', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'target')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),
    );
    
    $elements = array(
        array('element' => $myForm->get('name'), 'label' => 'Tên chiến dịch', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('month'), 'label' => 'Tháng', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('year'), 'label' => 'Năm', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true))
    );
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminForm" id="adminForm" class="">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
	
    <?php echo $this->flashMessenger()->render();?>
	<?php echo @$this->xViewElementErrors($elements);?>
	
    <div class="page-content">
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
    	<div class="row">
			<div class="col-md-12"><h3 class="form-section">Chỉ tiêu chi tiết</h3></div>
			<div class="col-md-12">
			    <?php
			    if(!empty($this->params['data']['control-action'])) {
			        $params = $this->params['data']['params'];
			    } else {
			        $params = !empty($this->item['options']) ? unserialize($this->item['options']) : array();
			    }
			    ?>
                <div class="table-manager" id="table-manager" style="margin-bottom: 50px;">
            		<div class="table-scrollable table-small">
            			<table class="table table-striped table-bordered">
            				<thead>
            					<tr>
                                    <th class="col-150">Đội nhóm</th>
                                    <th>INCOME - RE</th>
                                    <th>ME</th>
                                    <th>ARPU Đơn</th>
                                    <th>ME/RE</th>
                                    <th>Đơn/C3</th>
                                    <th>Số C3</th>
                                    <th>Giá C3</th>
                                    <th>CTS Tiềm Năng</th>
                                    <th>Số L2.2</th>
            					</tr>
        					</thead>
            				<tbody>
            				    <tr id="tr_total" class="danger text-bold total">
                                    <td>Tổng</td>
                                    <?php $i = 1; ?>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[total][income]" value="<?php echo $params['total']['income'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[total][me]" value="<?php echo $params['total']['me'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[total][arpu]" value="<?php echo $params['total']['arpu'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[total][me/re]" value="<?php echo $params['total']['me/re'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[total][contract_c3]" value="<?php echo $params['total']['contract_c3'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[total][c3_number]" value="<?php echo $params['total']['c3_number'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[total][c3_price]" value="<?php echo $params['total']['c3_price'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[total][cts_potential]" value="<?php echo $params['total']['cts_potential'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[total][l2.2_number]" value="<?php echo $params['total']['l2.2_number'];?>" class="form-control input-xs mask_currency"></td>
        						</tr>
            				    <?php
            				    foreach ($this->sale_branch AS $key_branch => $val_branch) { 
            				    ?>
            					<tr id="tr_<?php echo $val_branch['id'];?>" class="success text-bold sale_branch">
                                    <td></td>
                                    <?php $i = 1; ?>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[<?php echo $val_branch['id'];?>][income]" value="<?php echo $params[$val_branch['id']]['income'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[<?php echo $val_branch['id'];?>][me]" value="<?php echo $params[$val_branch['id']]['me'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[<?php echo $val_branch['id'];?>][arpu]" value="<?php echo $params[$val_branch['id']]['arpu'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[<?php echo $val_branch['id'];?>][me/re]" value="<?php echo $params[$val_branch['id']]['me/re'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[<?php echo $val_branch['id'];?>][contract_c3]" value="<?php echo $params[$val_branch['id']]['contract_c3'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[<?php echo $val_branch['id'];?>][c3_number]" value="<?php echo $params[$val_branch['id']]['c3_number'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[<?php echo $val_branch['id'];?>][c3_price]" value="<?php echo $params[$val_branch['id']]['c3_price'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[<?php echo $val_branch['id'];?>][cts_potential]" value="<?php echo $params[$val_branch['id']]['cts_potential'];?>" class="form-control input-xs mask_currency"></td>
                                    <td class="column" id="column_<?php echo $i++;?>"><span class="mask_currency"></span><input type="hidden" name="params[<?php echo $val_branch['id'];?>][l2.2_number]" value="<?php echo $params[$val_branch['id']]['l2.2_number'];?>" class="form-control input-xs mask_currency"></td>
        						</tr>
        							<?php
                				    foreach ($this->sale_group AS $key_group => $val_group) { 
                				        if ($val_group['type'] == 'mkt'){
                				            if ($val_group['document_id'] == $val_branch['id']){
                				    ?>
                    					<tr id="tr_<?php echo $val_group['id'];?>" class="active text-bold sale_group target_item" data-branch="tr_<?php echo $val_branch['id'];?>">
                                            <td><?php echo $val_group['name'];?></td>
                                            <?php $i = 1; ?>
                                            <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_branch['id'] .'_'. $val_group['id'];?>][income]" value="<?php echo $params[$val_branch['id'] .'_'. $val_group['id']]['income'];?>" class="form-control input-xs mask_currency"></td>
                                            <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_branch['id'] .'_'. $val_group['id'];?>][me]" value="<?php echo $params[$val_branch['id'] .'_'. $val_group['id']]['me'];?>" class="form-control input-xs mask_currency"></td>
                                            <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_branch['id'] .'_'. $val_group['id'];?>][arpu]" value="<?php echo $params[$val_branch['id'] .'_'. $val_group['id']]['arpu'];?>" class="form-control input-xs mask_currency"></td>
                                            <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_branch['id'] .'_'. $val_group['id'];?>][me/re]" value="<?php echo $params[$val_branch['id'] .'_'. $val_group['id']]['me/re'];?>" class="form-control input-xs mask_currency"></td>
                                            <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_branch['id'] .'_'. $val_group['id'];?>][contract_c3]" value="<?php echo $params[$val_branch['id'] .'_'. $val_group['id']]['contract_c3'];?>" class="form-control input-xs mask_currency"></td>
                                            <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_branch['id'] .'_'. $val_group['id'];?>][c3_number]" value="<?php echo $params[$val_branch['id'] .'_'. $val_group['id']]['c3_number'];?>" class="form-control input-xs mask_currency"></td>
                                            <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_branch['id'] .'_'. $val_group['id'];?>][c3_price]" value="<?php echo $params[$val_branch['id'] .'_'. $val_group['id']]['c3_price'];?>" class="form-control input-xs mask_currency"></td>
                                            <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_branch['id'] .'_'. $val_group['id'];?>][cts_potential]" value="<?php echo $params[$val_branch['id'] .'_'. $val_group['id']]['cts_potential'];?>" class="form-control input-xs mask_currency"></td>
                                            <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_branch['id'] .'_'. $val_group['id'];?>][l2.2_number]" value="<?php echo $params[$val_branch['id'] .'_'. $val_group['id']]['l2.2_number'];?>" class="form-control input-xs mask_currency"></td>
                						</tr>
                						    <?php
                						    foreach ($this->user AS $key_user => $val_user) {
                						        if((($val_user['mkt_group_id'] == $val_group['id']))) {
                						    ?>
                        					<tr class="" id="tr_<?php echo $val_group['id'];?>" data-group="tr_<?php echo $val_group['id'];?>">
                                                <td><?php echo $val_user['name'];?></td>
                                                <?php $i = 1; ?>
                                                <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_user['id'];?>][income]" value="<?php echo $params[$val_user['id']]['income'];?>" class="form-control input-xs mask_currency"></td>
                                                <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_user['id'];?>][me]" value="<?php echo $params[$val_user['id']]['me'];?>" class="form-control input-xs mask_currency"></td>
                                                <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_user['id'];?>][arpu]" value="<?php echo $params[$val_user['id']]['arpu'];?>" class="form-control input-xs mask_currency"></td>
                                                <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_user['id'];?>][me/re]" value="<?php echo $params[$val_user['id']]['me/re'];?>" class="form-control input-xs mask_currency"></td>
                                                <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_user['id'];?>][contract_c3]" value="<?php echo $params[$val_user['id']]['contract_c3'];?>" class="form-control input-xs mask_currency"></td>
                                                <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_user['id'];?>][c3_number]" value="<?php echo $params[$val_user['id']]['c3_number'];?>" class="form-control input-xs mask_currency"></td>
                                                <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_user['id'];?>][c3_price]" value="<?php echo $params[$val_user['id']]['c3_price'];?>" class="form-control input-xs mask_currency"></td>
                                                <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_user['id'];?>][cts_potential]" value="<?php echo $params[$val_user['id']]['cts_potential'];?>" class="form-control input-xs mask_currency"></td>
                                                <td class="column" id="column_<?php echo $i++;?>"><input type="text" name="params[<?php echo $val_user['id'];?>][l2.2_number]" value="<?php echo $params[$val_user['id']]['l2.2_number'];?>" class="form-control input-xs mask_currency"></td>
                    						</tr>
            						    <?php
                						           }
    						                    }
            						        }
            						    }
                				    }
            				    }
        						?>
    						</tbody>
            			</table>
            		</div>
                </div>
			</div>
		</div>
	</div>
</form>

<?php $this->headScript()->captureStart() ?>
    $(document).ready(function() {
        function update_target() {
            // Lấy tổng tiền cho các cơ sở
            $('tr.sale_branch').each(function() {
                var id_branch = $(this).attr('id');
                console.log(id_branch);
                $('.column', this).each(function() {
                    var result = 0;
                    var id_column = $(this).attr('id');
                    $('tr.target_item[data-branch="'+ id_branch +'"]').each(function() {
                        if($('#'+ id_column +' input', this).val() == '') {
                            result = result + 0;
                            
                        } else {
                            result = result + parseInt($('#'+ id_column +' input', this).autoNumeric('get'));
                        }
                    });
                    $('span.mask_currency', this).autoNumeric('set', result);
                    $('input.mask_currency', this).autoNumeric('set', result);
                });
            });
            
            // Lấy tổng tiền cho các nhóm
<!--             $('tr.sale_group').each(function() { -->
<!--                 var id_group = $(this).attr('id'); -->
<!--                 $('.column', this).each(function() { -->
<!--                     var result = 0; -->
<!--                     var id_column = $(this).attr('id'); -->
<!--                     $('tr.target_item[data-group="'+ id_group +'"]').each(function() { -->
<!--                         if($('#'+ id_column +' input', this).val() == '') { -->
<!--                             result = result + 0; -->
<!--                         } else { -->
<!--                             result = result + parseInt($('#'+ id_column +' input', this).autoNumeric('get')); -->
<!--                         } -->
<!--                     }); -->
<!--                     $('span.mask_currency', this).autoNumeric('set', result); -->
<!--                     $('input.mask_currency', this).autoNumeric('set', result); -->
<!--                 }); -->
<!--             }); -->
            
            // Lấy tổng tiền
            $('tr.total').each(function() {
                $('.column', this).each(function() {
                    var result = 0;
                    var id_column = $(this).attr('id');
                    $('tr.target_item').each(function() {
                        if($('#'+ id_column +' input', this).val() == '') {
                            result = result + 0;
                        } else {
                            result = result + parseInt($('#'+ id_column +' input', this).autoNumeric('get'));
                        }
                    });
                    $('span.mask_currency', this).autoNumeric('set', result);
                    $('input.mask_currency', this).autoNumeric('set', result);
                });
            });
        }
        update_target();
        
        $('.target_item input').blur(function() {
            update_target();
        });
    });
    
<?php $this->headScript()->captureEnd() ?>