@charset "utf-8";
@import "../../fonts/font.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese');

body{ font-size: 15px; }
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}
ul{list-style: none;}
.clr { clear: both; }
label span{font-weight: normal;}

.title{font-weight: bold;}

.box_form .top img{height: 45px;}

.box_dangKy{ background: #FFF;  max-width: 100%; padding-bottom: 50px;}
.box_dangKy .info{padding: 0 0 70px 0; background: url("../images/banner-1.jpg") no-repeat center; border-bottom: 15px solid #112c4f;}
.box_dangKy .info .box_title{font-size: 30px; font-weight:600; font-family:"Roboto"; text-align: left; color: #112c4f; padding-bottom: 70px;}
.box_dangKy .info .title{font-size: 16px; padding: 2px 0 2px 20px; text-align: left; font-weight: 400;  margin: 60px 0 20px 0; background: #112c4f; color: #fff;}
.box_dangKy .info p{font-size: 16px; font-weight: 500; font-family:"Roboto"; color: #112c4f;}
.box_dangKy .info p:nth-child(2){ padding: 20px 0;}
.box_dangKy .info p:nth-child(2){ padding: 20px 0;}
.box_dangKy .info .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{background: #fff;}
.box_dangKy .info .top{text-align: right;}
.box_dangKy .info .row{padding-top: 25px;}
.box_dangKy .box_content{ padding: 30px 0;}
.box_dangKy .form-control{ border: 1px solid #6d6e71; height: 40px; line-height: 40px; padding: 0 20px; box-shadow: 0 0 0; -webkit-box-shadow: 0 0 0; border-radius: 0; -webkit-border-radius: 0;}
.box_dangKy .form-control.btn-submit{ text-transform: uppercase; border: 0; background-color: #d29d42; color: #FFF; height: 85px; line-height: 85px; font-size: 50px; font-weight: 600; font-family: "Roboto"; width: 700px; max-width: 100%; margin: auto; margin-top: 50px;}
.box_dangKy .form-control.btn-submit:hover{background-color: #0f2a51;}
.box_dangKy .has-error .form-control{ border: 1px solid #FF0000;}
.box_dangKy .alert{ border-radius: 0; -webkit-border-radius: 0; padding: 10px 20px; font-size: 13px;}
.box_dangKy .item{margin-bottom: 30px;}
.box_dangKy .input-data.error .form-control{ border: 1px solid #FF0000; }
.box_dangKy .input-data.error .title{ color: #FF0000;}
.box_dangKy .check-inline{width: 100%;}
.box_dangKy input[type="radio"]{position: inherit; margin: 1px 5px 0 0;  width: 18px; height: 18px;}
.box_dangKy input[type="text"]{width: 100%; padding: 10px; font-family: "Roboto"; font-weight: 400;}
.box_dangKy input[type="checkbox"]{margin: 1px 5px 0 0; position: inherit; width: 20px; height: 20px; border-radius: 0; background: transparent;}
.box_dangKy .check-inline{font-weight: normal;}
.box_dangKy .radio{display: flex; font-size: 16px; }
.box_dangKy .checkbox{font-size: 16px;}
.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100%; background: #fff !important; height: 38px; border-radius: 0; padding: 0 30px; font-size: 15px;}
.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{padding: 0; color: #333; height: 38px; background: #fff !important; border-radius: 0; border: 0; font-size: 15px;}
.box_dangKy .btn-group.open .dropdown-toggle{padding: 0; color: #333; height: 38px; background: #fff !important; border-radius: 0; border: 0; font-size: 15px;}
.box_dangKy .bootstrap-select>.dropdown-toggle{padding: 0; color: #333; height: 38px; background: #fff !important; border-radius: 0; border: 0; font-size: 15px;}
.box_dangKy textarea{height: 50px;}

.part_1 .box_title, .part_2 .box_title, .part_3 .box_title, .part_4 .box_title{color: #fff; z-index: 100000; position: relative; text-transform: uppercase; margin-top: 20px; padding: 7px 0; font-size: 30px; font-weight:600; font-family:"Roboto"; text-align: left; }
.part_1 .box_title h3, .part_2 .box_title h3, .part_3 .box_title h3, .part_4 .box_title h3{position: relative; z-index: 100000;}
.part_1 .box_title:before{position: absolute; content: ""; background: #112c4f; height: 40px; width: 900px; left: 0; top: 0;}
.part_2 .box_title:before{position: absolute; content: ""; background: #112c4f; height: 40px; width: 1100px; left: 0; top: 0;}
.part_3 .box_title:before{position: absolute; content: ""; background: #112c4f; height: 40px; width: 1100px; left: 0; top: 0;}
.part_4 .box_title:before{position: absolute; content: ""; background: #112c4f; height: 40px; width: 1100px; left: 0; top: 0;}
form .box_content .title{font-size: 20px; font-weight: 500; font-family: "Roboto"; padding-bottom: 10px;}
form .box_content .fa{color: #d29d42;}

.box_footer{ padding: 60px 0 60px; position: relative; background: #071831; color: #FFF;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}
.box_footer .wrap{ margin: 0 -10px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 15px; padding-bottom: 15px; position: relative;}
.box_footer .col-1 .slogan:before{position: absolute; content: ""; width: 70px; height: 5px; background: #fff; bottom: 0; left: 0;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social {padding-top: 10px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .langtech .title{font-size: 16px; text-transform: uppercase; font-weight: 500; padding: 20px 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #d3a23b; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #C9353D;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}
.box_footer .box_menuFooter ul{padding: 0;}
.box_footer .box_menuFooter .title{font-weight: normal;}

.box_dangKyTuVan{display: none;}

.box_reportCart{display: none;}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }
textarea{height: auto!important; margin-top: 20px;}
/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

iframe[name="google_conversion_frame"]{ height: 0;}

/*RESPONSIVE*/
@media ( max-width : 1200px){
}

@media ( min-width : 1200px) {
}

@media ( max-width : 1000px) {
	.box_dangKy .info{background-size: cover; padding-bottom: 20px;}
	.box_dangKy .info .row{padding-top: 0;}
	.box_dangKy .info .top{padding: 10px; text-align: center;}
	
	.box_dangKy .info .box_title{font-size: 20px; padding-bottom: 20px; text-align: center;}
	.box_dangKy .info p{font-size: 14px;}
	.box_dangKy .info p:nth-child(2){padding: 10px 0;}
	.box_dangKy .info p:nth-child(3){padding-bottom: 10px;}
	.box_dangKy .info .title{margin: 20px 0;}
	
	.part_1 .container, .part_2 .container, .part_3 .container, .part_4 .container {padding: 0 20px;}
	.part_1 .box_title, .part_2 .box_title, .part_3 .box_title, .part_4 .box_title{background: #112c4f; height: auto; z-index: 0;}
	.part_1 .box_title h3, .part_2 .box_title h3, .part_3 .box_title h3, .part_4 .box_title h3{font-size: 18px; background: #112c4f; font-size: 16px; z-index: 0;}
	.part_1 .box_title:before, .part_2 .box_title:before, .part_3 .box_title:before, .part_4 .box_title:before{display: none;}
	
	form .box_content .title {font-size: 17px; }
	
	.box_dangKy .form-control.btn-submit{width: 100%; font-size: 20px; height: 40px; line-height: 40px;}
	
	.box_footer .col-2{padding-bottom: 25px; padding-top: 25px;}
	
	.box_dangKy .radio{font-size: 13px;}
	.box_dangKy input[type="checkbox"]{height: 15px; width: 15px;}	
}


@media ( max-width : 768px) {
	.box_dangKy .box_content{padding: 15px 0;}
}

@media(max-width:480px){
}

@media(max-width:360px){
}