<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <div class="box_top" id="top">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="hotline">
                        <i class="fa fa-phone"></i><a href="tel:012.9999.6886"><?php echo $this->viewModel['settings']['General.System.Hotline']['value'];?></a>
                        <i class="fa fa-paper-plane" aria-hidden="true"></i><a><?php echo $this->viewModel['settings']['General.System.Address']['value'];?></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="social">
                        <a href="<?php echo $this->viewModel['settings']['General.System.Facebook']['value'];?>" target="_blank"><i class="fa fa-facebook"></i></a> 
                        <a href="<?php echo $this->viewModel['settings']['General.System.Youtube']['value'];?>" target="_blank"><i class="fa fa-youtube-play"></i></a>
                        <a href="" href="#" ><i class="fa fa-instagram"></i></a>
                        <a href="<?php echo $this->viewModel['settings']['General.System.Google']['value'];?>" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end box_top-->
    
    <div class="box_header" id="box_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><a href="/" class="logo"><img src="<?php echo $urlImg;?>/logo.png"></a></div>
                <div class="col-md-10">
                    <div class="clr"></div>
                    <ul class="menu hidden-xs hidden-sm">
                        <li><a href="javascript:;" class="go_box" data-box="box_gioiThieu">Giới thiệu</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_video">Video giới thiệu</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_loiIch">Lợi ích bộ tài liệu</a></li>                       
                        <li><a href="javascript:;" class="go_box btn_book" data-box="box_dangKy">Đăng ký nhận tài liệu</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <a href="javascript:;">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- end box_header -->

    <div class="box_banner" id="box_banner">
        <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>
    </div>
    <!-- end box_banner -->

  

    <div class="box_gioiThieu" id="box_gioiThieu">
        <div class="container">
            <div class="title">THÔNG THƯỜNG,<br>ĐỂ BẮT ĐẦU MỘT CÔNG VIỆC KINH DOANH<br>CHỈ CẦN CÓ Ý TƯỞNG & VỐN.</div>
            <div class="content">
                <p>Tuy nhiên, doanh nghiệp càng phát triển, các vấn đề về Sale - Marketing, Lãnh đạo, Quản trị vận hành, Chiến lược,... càng lớn dần, khiến quỹ đạo hoạt động của doanh nghiệp bị xáo trộn, tốc độ phát triển theo đó cũng bị chững lại. Lúc này, các nhà lãnh đạo,quản lý doanh nghiệp bắt đầu phải suy nghĩ đến những giải pháp mang tính dài hạn, không ngừng học hỏi những kiến thức bài bản, tân tiến nhất của thời đại để tìm ra con đường phát triển doanh nghiệp nhanh và bền vững.</p>
                <p>Hiểu được tầm quan trọng của những kiến thức về Lãnh đạo & Quản trị đối với cộng đồng doanh nghiệp Việt Nam, Trường Doanh nhân HBR đã nghiên cứu, thiết kế để triển khai:</p>
            </div>
        </div> 
    </div>
    <!-- end box_gioiThieu -->

    <div class="box_video" id="box_video">
        <div class="container">
            <div class="title text-center">BỘ TÀI LIỆU ONLINE VẼ LÃNH ĐẠO VÀ QUẢN TRỊ CẬP NHẬT NHỮNG KIẾN THỨC BÀI BẢN HAY NHẤT</div>
            <div class="img"><a href="https://www.youtube.com/embed/BXQz2klXZIE?autoplay=1" class="fancybox-button fancybox-video" data-rel="fancybox-video"><img alt="" src="<?php echo $urlImg;?>/video.jpg"></a></div>
            <div class="desc text-center">Xem Video giới thiệu bộ tài liệu về Lãnh đạo & Quản trị độc quyền của HBR</div>
        </div>       
    </div>

   

    <div class="box_loiIch" id="box_loiIch">
        <div class="row">
            <div class="col-md-6 left">
                <img class="img-responsive" src="<?php echo $urlImg;?>/laptop.png">
            </div>
            <div class="col-md-6">
                <div class="wrapper">
                    <div class="title">LỢI ÍCH BỘ TÀI LIỆU</div>
                    <div class="content">
                        <p class="text-1">Kiến thức nền tảng và bài bản trên tất cả các lĩnh vực then chốt, 100% tài liệu đều cập nhật từ các trường đại học hàng đầu thế giới như Wharton, Harvard, MIT, SMU,...</p>
                        <p class="text-2">Được trang bị tư duy và nhận thức cốt lõi của một nhà lãnh đạo, quản lý trong môi trường kinh doanh toàn cầu.</p>
                        <p class="text-3">Cung cấp khung năng lực – một bức chân dung cụ thể của một Lãnh đạo/ CEO chuyên nghiệp: Biết được ai phù hợp; Phải làm như thế nào; Cần trải nghiệm những gì để trở thành một nhà Lãnh đạo, Quản trị điều hành chuyên nghiệp.</p>
                        <p class="text-4">Có tầm nhìn rõ ràng cho con đường sự nghiệp, trở thành Lãnh đạo/ CEO chuyên nghiệp.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end box_loiIch -->
    <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">
        <div class="box_dangKy" id="box_dangKy">
            <div class="container">
                <div class="title">ĐĂNG KÝ NHẬN TÀI LIỆU MIỄN PHÍ</div>
                <div class="content">
                    <div class="row">   
                        <div class="col-md-12">
                            <div class="form-group" id="input-name">
                                <input type="text" name="name" class="form-control" placeholder="Họ tên">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" id="input-phone">
                                <input type="text" name="phone" class="form-control" placeholder="Điện thoại">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" id="input-email">
                                <input type="text" name="email" class="form-control" placeholder="Email đăng nhập">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" id="input-workshop">
                                <input name="password" type="password" class="form-control" placeholder="Mật khẩu">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btnSuccess">
                                <div class="alert alert-danger hidden"></div>
                                <input type="hidden" name="form_id" value="1523592718-47s1-2s6z-d988-l6t77244126d">
                                <input type="button" class="input-lg btn-blue" value="ĐĂNG KÝ TÀI KHOẢN">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    
    <div class="box_comment">
        <div class="container">
            <div class="fb-comments" data-href="" data-width="100%" data-numposts="10" data-order-by="reverse_time"></div>
        </div>
    </div>

    
    <?php
    echo $this -> headScript()
			   -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->
    
    <script type="text/javascript">
        $('#frmRegister .btn-blue').click(function() {
            $.ajax({
                url     : '/user/index/register/',
                type    : 'POST',
                data    : $('#frmRegister').serialize(),
                beforeSend: function() {
                    $('body').append('<div class="page-loading"><div class="loader"></div></div>');
                },
                success : function(data){
                    var result = JSON.parse(data);
                    if(result.error) {
                       $('#frmRegister .alert').html(result.error).removeClass('hidden');
                    } else if(result.success == 1) {
                        window.location.href = "/user/index/index/";
                    }
                    $('body .page-loading').remove();

                }
            });
        });
    </script>
</body>
</html>
