@charset "utf-8";
@import "../fonts/font.css";

body{ color: #202b53; font-size: 17px;}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
b { font-family: "Roboto-Bold", "Segoe UI";}
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}
input[type="date"]::-webkit-inner-spin-button { display: none;}
.clr { clear: both; }

.box_top{ background-color: #FFF; border-bottom: 1px solid #e1e1e1; height: 32px; line-height: 32px; color: #4c607d;}
.box_top .contact .hotline {margin-right: 35px; float: left; font-size: 12px; font-weight: 500;}
.box_top .contact .hotline a{ color: #4c607d;}
.box_top .contact .hotline a:HOVER{ color: #000;}
.box_top .contact .hotline a i{ margin-right: 2px;}
.box_top .contact:AFTER{ content: ""; display: block; clear: both;}
.box_top .social{ text-align: right; float: right;}
.box_top .social a{ color: #4c607d; display: inline-block; width: 32px; height: 32px; border-right: 1px solid #e1e1e1; text-align: center; font-size: 13px; float: right;}
.box_top .social a:HOVER{ color: #000;}
.box_top .social a:LAST-CHILD{ border-left: 1px solid #e1e1e1;}
.box_top .social:AFTER{ content: ""; display: block; clear: both;}

.box_header{ background-color: #FFF; width: 100%; top: 0; left: 0; z-index: 99999; position: relative; height: 70px;}
.box_header .container{ position: relative;}
.box_header .logo{ display: inline-block; margin-top: 20px; line-height: 100%;}
.box_header .menu{ padding: 18px 0 0; list-style: none; float: right; margin: 0;}
.box_header .menu li{ display: inline-block; padding-left: 40px; text-align: center; vertical-align: middle;}
.box_header .menu li a{ font-size: 15px; color: #282828; font-family: "Roboto-Bold", "Segoe UI"; padding: 8px 0 6px; display: inline-block;}
.box_header .menu li a.active{color: #ed1c24;}
.box_header .menu li a:hover{ color: #ed1c24;}
.box_header .menu li a.btn_book{ display: inline-block; background-color: #ec1c3c; color: #FFF; padding: 0; width: 120px; height: 30px; line-height: 28px; font-weight: normal; font-family: "SVNKelsonSansBold";}
.box_header .menu li a.btn_book:hover{ background-color: #202b53;}
.box_header .menu li a.btn_book.active{ background-color: #202b53;}
.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}

.box_header.sticky{ position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
.box_header.sticky .menu li a.last{ padding-right: 20px;}
.box_header.sticky .box_user{ display: block; padding: 10px 0 0;}
.box_header.sticky .box_user li a{ display: inline-block; padding: 5px 20px; color: #404041; font-size: 13px; font-weight: 600; height: auto; line-height: normal;}
.box_header.sticky .box_user li a:hover{ color: #0088cc;}
.box_header.sticky .box_user_login{ display: block;}
.box_header.sticky .box_user_login .dropdown-toggle{ background: none !important; height: 50px; line-height: 50px; margin: 0 0 0 20px;}
.box_header.sticky .box_user_login .dropdown-toggle:focus{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle:hover{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle img{ vertical-align: top; margin-top: 5px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:BEFORE{ right: 12px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:AFTER{ right: 13px;}
.box_header.sticky .box_user_login.navbar-nav>li>a{ padding: 15px 20px;}
.box_header.sticky .box_user_login.navbar-nav>li>a:hover{ background: none; color: #000;}

.box_banner {margin-bottom: 100px;}
.box_banner .image img{ width: 100%;}

.box_gioiThieu{ font-size: 17px; color: #252525; margin-bottom: 100px;}
.box_gioiThieu .content_1{ width: 800px; padding-left: 100px;margin: 0 auto; max-width: 100%;}
.box_gioiThieu .content_1 .title{ font-family: "Montserrat-SemiBold"; font-size: 39px; line-height:53px; color: #152b50;padding-bottom: 25px; position: relative;}
.box_gioiThieu .content_1 .title:before{position: absolute; content: ""; width: 60px; height: 13px; background: rgba(235, 28, 60, 1); top: 37px; left: -10px;}
.box_gioiThieu .content_1 .title p{position: relative; z-index: 1000;}
.box_gioiThieu .content_1 .title img{padding-top: 15px;}
.box_gioiThieu .content_1 .detail{ font-family: "Roboto-Medium"; font-size: 17px; line-height:27px; color: #111;padding-bottom: 50px;}
.box_gioiThieu .content_2{ width: 900px; max-width: 100%; margin: 0 auto; display: flex;}
.box_gioiThieu .content_2 .image{ width: 330px; max-width: 100%; float: left;}
.box_gioiThieu .content_2 .info{ width: 590px; max-width: 100%; float: left;}
.box_gioiThieu .content_2 .info .title{ font-family: "SVNKelsonSansBold"; font-size: 15px; line-height:27px; padding-top: 20px; padding-bottom: 15px; color: #111;}
.box_gioiThieu .content_2 .info .box{font-family: "SVNKelsonSansBold"; font-size: 21px; line-height: 27px; color: #111; border: 2px solid #152b50; padding: 15px 50px; margin-bottom: 30px;}
.box_gioiThieu .content_2 .info .text{ font-size: 17px; line-height: 27px; font-family: "Roboto-Regular";}

.box_triThuc{ height: 550px; margin-bottom: 100px;}
.box_triThuc .box_content .left{width: 50%; max-width:100%; float: left; background: url("../images/banner-1.jpg") no-repeat left center; height: 550px;}
.box_triThuc .box_content .right{width: 50%; max-width:100%; float: left; color: #fff; background: url("../images/banner-2.jpg") no-repeat left;}
.box_triThuc .box_content .right .info{padding: 130px 0 0 100px; width: 600px; max-width: 100%; font-family: "Roboto-Regular"; line-height: 27px; height: 440px;}
.box_triThuc .box_content .right .info .detail{padding-bottom: 20px;}
.box_triThuc .box_content .right .info .text{font-family: "SVNKelsonSansBold"; font-size: 15px; line-height: 27px; margin-bottom: 55px;}
.box_triThuc .box_content .right .info .text span{color: #eb1c3c; font-family: "SVNKelsonSansBold"; font-size: 15px; line-height: 27px;}
.box_triThuc .box_content .right .info .img img{padding-right: 10px;}
.box_triThuc .box_content .right .img{padding: 0 0 58px 100px;}
.box_triThuc .bs-wrapper{position: relative;}
.box_triThuc .bxslider{ display: none; position: relative;}
.box_triThuc .bx-pager{ display: none;}
.box_triThuc .bx-wrapper{ position: relative;}
.box_triThuc .bx-controls-direction a{ position: absolute; text-indent: -99999px; overflow: hidden; width: 54px; height: 54px; margin-top: -15px; }
.box_triThuc .bx-controls-direction a:hover{ box-shadow: 0 0 20px rgba(34, 30, 31, 0.4);}
.box_triThuc .bx-controls-direction a.bx-prev{ background: url("../images/left.png") no-repeat center center; left: 100px; bottom: 15px;}
.box_triThuc .bx-controls-direction a.bx-next{ background: url("../images/right.png") no-repeat center center; left: 140px; bottom: 15px;}
.box_triThuc .bx-controls-direction a{position: absolute; width: 30px; height: 30px; text-indent: -99999px; overflow: hidden;}
.box_triThuc .bx-controls-direction {background: url("../images/prev.png") no-repeat center; }
.box_triThuc .box_content .right .w3-content .bx-wrapper .bx-pager{display: none;}

.box_thongTin{ margin-bottom: 100px;}
.box_thongTin .box_content{ width: 1000px; max-width: 100%; background: #FFF; margin: 0 auto; padding: 0 100px;}
.box_thongTin .box_content .text{ padding-bottom: 55px; font-size: 17px; line-height: 27px; font-family: "Roboto-Regular"; color: #111;}
.box_thongTin .box_content .info .title{font-family: "Montserrat-SemiBold"; font-size: 30px; line-height: 27px; color: #152b50; margin-bottom: 50px;}
.box_thongTin .box_content .info .item{ display: table; font-family: "Roboto-Bold"; font-size: 17px; margin-bottom: 15px;}
.box_thongTin .box_content .info .item .key{ display: table-cell; width: 150px; vertical-align: middle; font-family: "SVNKelsonSansBold"; font-size: 20px;}
.box_thongTin .box_content .info .item .value{ display: table-cell; width: 670px; border: 1px solid #959595; vertical-align: middle; padding: 20px 50px;}
.box_thongTin .box_content .info .item .value a{float: right;}
.box_thongTin .box_content .info .item .value .text{line-height: 50px; font-family: "Roboto-Bold"; color: #152b50;}
.box_thongTin .box_content .info .item:hover .value { color: #fff; background: #eb1c3c; transition: color 0.15s ease-in-out 0s,  background-color 0.8s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.box_thongTin .box_content .info .item:hover .text{color: #fff;}

.box_aiNen{width: 100%; padding:115px 0 120px 0; background: #ebebeb; margin-bottom: 100px;}
.box_aiNen .box_content { width: 1000px; max-width: 100%; margin: 0 auto;}
.box_aiNen .box_content .box_title{ font-size: 30px; font-family: "Montserrat-SemiBold"; color: #FFF; padding-left: 100px; line-height: 27px; color: #152b50; margin-bottom: 75px;}
.box_aiNen .box_content .list_item{display: flex;}
.box_aiNen .box_content .list_item .item{width: 30%; max-width:100%; float: left; margin: 0 2.5%; color: #111;}
.box_aiNen .box_content .list_item .item:first-child{margin-left: 0;}
.box_aiNen .box_content .list_item .item:last-child{margin-right: 0;}
.box_aiNen .box_content .list_item .item .title{font-family: "Montserrat-SemiBold"; margin: 25px 0 15px 0; font-size: 20px; line-height: 27px;}
.box_aiNen .box_content .list_item .item .title:hover{cursor:pointer; -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%); -webkit-mask-size: 200%; animation: shine 2s infinite;}
.box_aiNen .box_content .list_item .item .detail{font-family: "Roboto-Regular"; line-height: 27px; font-size: 17px;}

.box_dieuKien{height: 375px; margin-bottom: 100px;}
.box_dieuKien .img{background: url("../images/image-6.jpg") no-repeat center center; height: 375px;}
.box_dieuKien .info{color: #111; font-size: 17px; line-height: 27px; font-family: "Roboto-Regular";}
.box_dieuKien .info .title{font-size: 30px; line-height: 27px; color: #152b50; font-family: "Montserrat-SemiBold"; margin-bottom: 35px;}
.box_dieuKien .info .detail{margin-bottom: 35px;}
.box_dieuKien .info .text_1{padding: 0 0 40px 80px; background: url("../images/icon-3.png") no-repeat top left;}
.box_dieuKien .info .text_2{background: url("../images/icon-4.png") no-repeat top left; padding-left: 80px;}
.box_dieuKien .info .text_2>ul{padding-left: 18px;}
.box_dieuKien .info .text_2>ul>li{padding-bottom: 10px;}
.box_dieuKien .info .text_2 .item{margin-bottom: 10px;}

.box_loiIch{ padding-bottom: 100px; margin-bottom:100px; background: url("../images/banner-3.jpg") no-repeat center; color: #fff; background-size:cover; }
.box_loiIch .box_title{ font-family: "Montserrat-SemiBold"; font-size: 30px; line-height:27px; padding-top:100px; margin-bottom: 30px; text-align: center;}
.box_loiIch .box_detail{font-size: 17px; line-height: 27px; font-family: "Roboto-Regular"; text-align: center; margin-bottom: 55px;}
.box_loiIch .box_content{ width: 800px; max-width: 100%; margin: 0 auto;}
.box_loiIch .box_content .item{background: #fff; margin-bottom: 15px; color: #152b50; }
.box_loiIch .box_content .item .item_title{ padding: 15px 77px; color: #FFF; font-family: "Roboto-Medium"; font-size: 20px;}
.box_loiIch .box_content .item .item_content{ padding: 0 45px 0 95px ; margin-left: 45px;}
.box_loiIch .box_content .item .item_content p{ font-size: 17px; line-height27px; padding: 35px 0;}
.box_loiIch .box_content .item .item_1{background: url("../images/icon-5.png") no-repeat left center; }
.box_loiIch .box_content .item .item_2{background: url("../images/icon-6.png") no-repeat left center; }
.box_loiIch .box_content .item .item_3{background: url("../images/icon-7.png") no-repeat left center; }
.box_loiIch .box_content .item .item_4{background: url("../images/icon-8.png") no-repeat left center; }

.box_khoaHoc{margin-bottom: 100px;}
.box_khoaHoc .box_title{font-family: "Montserrat-SemiBold"; font-size: 30px; line-height:27px; padding-left: 200px; margin-bottom: 50px;}
.box_khoaHoc .table {text-align: center;font-size: 14px;}
.box_khoaHoc .table th{vertical-align: middle; height: 50px; color: #fff; background: #eb1c3b; text-align: center; font-size: 15px; line-height: 35px; font-family: "Roboto-Medium";}
.box_khoaHoc .table td{text-transform:uppercase; vertical-align: middle; font-size: 15px; line-height: 23px; font-family: "Roboto-Medium"; border: 1px solid #ccc;}
.box_khoaHoc .table thead tr th{border: 1px solid #ccc;}
.box_khoaHoc .table thead tr th select{ text-align-last:center; }
.box_khoaHoc .table .odd {background: #ffffff;color: #000;}
.box_khoaHoc .table .odd .text{text-align: left; padding: 0 20px;}
.box_khoaHoc .table .odd input{margin-left: 10px; margin-top: 3px; vertical-align: text-top;}

.box_dangKy{background: url("../images/banner-4.jpg") no-repeat; background-size: cover; padding: 100px 0;}
.box_dangKy .uudai{background: #fff; width: 90%; max-width: 100%;}
.box_dangKy .title_1{font-size:30px; line-height:27px; font-family: "Montserrat-SemiBold"; color: #fff; padding: 0 0 50px 0; width:90%; max-width:100%; text-align: center;}
.box_dangKy .uudai .text{height: 85px; text-align: center; font-size: 25px; line-height: 27px; color: #fff; background: #eb1c3c; font-family: "Roboto-Bold"; padding: 30px 0;}
.box_dangKy .uudai .box_content{color: #111; font-family: "Roboto-Bold"; font-size: 20px; line-height: 27px; text-align: center;}
.box_dangKy .uudai .box_content .text_1{padding: 17px 0;}
.box_dangKy .uudai .box_content .table{padding: 0 60px;}
.box_dangKy .uudai .box_content .table>tbody>tr>td{height: 55px; vertical-align: inherit; padding: 0; font-size: 20px; line-height: 27px; font-family: "Roboto-Bold"; text-align: center;}
.box_dangKy .uudai .box_content .text_2{padding: 40px 60px 65px 60px; margin-bottom:120px; font-size: 17px; line-height: 27px; font-family: "Roboto-Regular";}
.box_dangKy .uudai .box_content .text_2 span{font-size: 17px; line-height: 27px; font-family: "Roboto-Bold";}
.box_dangKy .title_2{font-size:30px; line-height:27px; font-family: "Montserrat-SemiBold"; color: #fff; padding: 0 0 50px 0; text-align: center;}
.box_dangKy .form .form-row .col-md-6{padding-left: 0;}
.box_dangKy .form .form-row .group{padding-right: 0;}
.box_dangKy .form .btnSuccess .btn-blue{ transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 0; border:0; background: #eb1c3c; color: #fff; height: 65px; font-size: 23px; line-height: 27px; font-family: "Montserrat-SemiBold"; text-align: center; width: 100%;}
.box_dangKy .form .btnSuccess .btn-blue:hover{background: #202b53;}
.box_dangKy .form-control{ font-family: "Roboto-Medium"; border-radius: 0; background: rgba(115, 129, 150, 0.3) !important; color: #fff !important; height: 65px; padding: 0 45px; font-size: 20px; border: 1px solid transparent;}
.box_dangKy .alert{ border-radius: 0;}
.box_dangKy input{color: #fff;}
.box_dangKy label{font-weight: normal;}
.box_dangKy input::placeholder{color: #fff !important; font-family: "Roboto-Medium"; font-weight:normal; font-size: 20px; line-height: 27px;}
.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100%; background: rgba(115, 129, 150, 0) !important; height: 65px; border-radius: 0; padding: 0 40px; font-family: "Roboto-Regular"; font-size: 20px;}
.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{color: #fff; height: 65px; background: rgba(115, 129, 150, 0) !important; border-radius: 0; border: 0; font-family:"Roboto-Regular"; font-size: 20px;}
.box_dangKy .btn-group.open .dropdown-toggle{color: #fff; height: 65px; background: rgba(115, 129, 150, 0) !important; border-radius: 0; border: 0; font-family:"Roboto-Regular"; font-size: 20px;}
.box_dangKy .bootstrap-select>.dropdown-toggle{color: #fff; height: 65px; background: rgba(115, 129, 150, 0) !important; border-radius: 0; border: 0; font-family:"Roboto-Regular"; font-size: 20px;}

.box_thanhToan{  color: #30373d; position: relative; margin: 50px 0;}
.box_thanhToan .thanhToan { padding: 0 15px 0 15px;}
.box_thanhToan .thanhToan .box_title{ font-family: "Montserrat-SemiBold"; padding-bottom: 20px; color: #202b53 ; font-size: 35px; line-height:45px; text-transform: uppercase;}
.box_thanhToan .thanhToan .item { margin-bottom: 30px;}
.box_thanhToan .thanhToan .item .item_title{ font-family: "HelveticaNeue-Medium"; padding-bottom: 5px; font-size:17px; line-height: 45px;}
.box_thanhToan .thanhToan .item .item_detail{ font-size: 18px; padding-bottom: 20px;line-height: 23px;font-family: "Roboto-Regular";}
.box_thanhToan .thanhToan .item .item_detail span{font-family: "Roboto-Bold";}
.box_thanhToan .thanhToan .item .item_image{ width: 300px; max-width: 100%; margin: 0 auto; background: #f2ad21; color: #FFF; border-radius: 5px; padding: 28px 0;}
.box_thanhToan .thanhToan .item .item_image .image_title{font-family:"Roboto-Medium"; background: #FFF; color: #49556a; text-align: center; height: 38px; line-height: 38px;}
.box_thanhToan .thanhToan .item .item_image .image_desc{ padding: 15px; font-size: 15px; font-family:"Roboto-Medium"; line-height: 30px; color: #111;}
.box_thanhToan .dangKy{border: 2px solid #007acf;}

.box_dienGia{ background: url("../images/banner-5.jpg") no-repeat center; font-size: cover; color: #FFF; overflow: hidden; position: relative; height: 700px;margin-bottom: 100px;}
.box_dienGia .content { padding: 165px 0 80px 0;}
.box_dienGia .box_title{ padding-left: 140px;}
.box_dienGia .box_title .title_1{ font-size: 15px; font-family: "SVNKelsonSansBold"; color: #FFF;line-height: 23px;padding-bottom: 15px;}
.box_dienGia .box_title .title_2{ font-size: 35px; line-height:23px; font-family: "SVNKelsonSansBold"; color: #FFF; padding-bottom: 35px;text-transform: uppercase;}
.box_dienGia .box_content { width: 500px; max-width: 100%; float: right;}
.box_dienGia .box_content p{ padding-bottom: 15px; position: relative; padding-left: 40px; font-size: 15px; line-height: 23px;}
.box_dienGia .box_content p:before{ content: ""; width: 17px; height: 17px; background: url("../images/icon-9.png") no-repeat; position: absolute; top: 8px; left: 0;}

.box_student{padding: 90px 0 0; background: url("../images/bg_student.jpg") no-repeat top center; background-size: cover;}
.box_student .box_title .title{ text-align: center; color: #FFF; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 50px;}
.box_student .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 50%; width: 50px; height: 5px; margin-left: -25px; background: -webkit-linear-gradient(left, #0039ae 25%,#7db9e8 100%);}
.box_student .item{min-height: 280px;}
.box_student .item .fa{position: absolute; font-size: 50px; color: #fff; top: 50%; left: 50%; margin: -25px 0 0 -25px; }
.box_student .item .image{ margin-bottom: 12px; text-align: center; padding-top: 20px;}
.box_student .item .image img{ width: auto; display: inline-block; width: 100%;}
.box_student .item .name{ font-size: 15px; font-weight: 500; text-transform: uppercase; text-align: center; margin-bottom: 2px; color: #0f2a51;}
.box_student .item .info{ color: #a1a1a1; font-size: 13px; text-align: center;}
.box_student .item .content{ font-size: 14px; padding-top: 20px;}
.box_student .bx-wrapper { position: relative; padding-bottom: 0;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a{ background-color: #FFF; width: 12px; height: 12px; display: inline-block; text-indent: -99999px; margin: 0 8px; border: 0; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; border-radius: 50% !important;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.box_student .bx-wrapper .bx-pager.bx-default-pager a.active{ background-color: #d3a23b;}
.box_student .bx-wrapper .bx-viewport{ max-height: 520px;}
.box_student .bx-pager{ display: none; position: absolute; bottom: 0px; left: 0; width: 100%; margin: 0; padding: 0; text-align: center; z-index: 999;}
.box_student .bx-pager-item{ display: inline-block;}
.box_student .bx-controls-direction{display: contents; position: absolute; top: 13px; right: 0; z-index: 9999;}
.box_student .bx-controls-direction a{ display: inline-block; width: 20px; height: 20px; margin-top: 0; text-indent: -99999px; overflow: hidden;}
.box_student .bx-controls-direction a.bx-prev, 
.box_student .bx-controls-direction a.bx-prev:hover{ background: url("../images/prev.png") no-repeat center center; background-size: 100%; margin-right: 30px; position: absolute; top: 40%; margin-top: -10px; right: 100%;}
.box_student .bx-controls-direction a.bx-next,
.box_student .bx-controls-direction a.bx-next:hover{ background: url("../images/next.png") no-repeat center center; background-size: 100%; left: auto; position: absolute; top: 40%; margin-top: -10px; right: -4%;}
.box_student .item a{display: block; position: relative;}

.box_images{ overflow: hidden;}
.box_images img{ width: 100%; transform: scale(1); transition: transform .5s;}
.box_images img:hover{ transform: scale(1.2); position: relative; z-index: 1;} 
.box_images table{ width: 100%;} 
.box_images table td{ padding: 2px; overflow: hidden;} 
.box_images table div{ overflow: hidden;} 

.box_comment{ padding: 40px 0;}
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {min-width: 100% !important;}

.box_footer{ padding: 60px 0 60px; position: relative; background: #071831; color: #FFF;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}
.box_footer .wrap{ margin: 0 -15px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 15px; padding-bottom: 15px; position: relative;}
.box_footer .col-1 .slogan:before{position: absolute; content: ""; width: 70px; height: 5px; background: #fff; bottom: 0; left: 0;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social {padding-top: 10px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .langtech .title{font-size: 16px; text-transform: uppercase; font-weight: 500; padding: 20px 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #d3a23b; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #C9353D;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}

.box_menuFooter ul{ margin: 0; padding: 0; list-style: none;}
.box_menuFooter ul>li{ display: block;}
.box_menuFooter ul>li>a{ text-transform: uppercase; margin-bottom: 5px; display: block; font-size: 13px;}
.box_menuFooter ul>li>ul{ display: none;}

.box_adsFooter{ overflow: hidden; margin-right: 40px;}
.box_adsFooter a{ display: inline-block; font-size: 10px; padding: 5px 10px 3px; border: 1px solid #FFF; border-radius: 14px; text-transform: uppercase; margin: 0 5px 5px 0;}
.box_adsFooter a:HOVER{ background-color: #FFF; color: #071831 !important;}

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}
.has-error .form-control{border: 1px solid #ec1c3c !important;}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

iframe[name="google_conversion_frame"]{ height: 0;}

/*RESPONSIVE*/
@media ( min-width : 1200px) {
  .popup_video .popup_content{ width: 60%;}
}

@media ( max-width : 1000px) {
	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

	.box_header{ height: 43px; position: fixed; border: 0; padding: 0 0 10px 0; top: 32px; z-index: 100000000;}
	.box_header.sticky{ position: fixed; top: 0px; z-index: 9999999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }
	.box_header .container{ position: relative;}
	.box_header .logo{ margin-top: 12px !important;}
	.box_header .logo img{ height: 20px;}
	.box_header .menu_mobile{ top: 7px; width: auto;}
	.box_header .menu_mobile .menu-item{padding-top: 5px;}
	.box_header .menu_mobile .hotline{font-size: 12px;}
	.box_header .menu_mobile a{display: inline-block;}
	.box_header .menu_mobile .btn_book{margin: 0 10px;}
	.box_header .menu_mobile .btn_book{background-color: #ec1c3c; color: #FFF; text-align: center; padding: 0; width: 120px; height: 30px; line-height: 28px; font-weight: normal; font-family: "SVNKelsonSansBold";}
	.box_header .menu_mobile a .item{ background-color: #999; width: 30px;display: grid;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 60%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	.box_header .menu li:first-child{ padding-left: 20px; }
	.box_header .menu{ margin: 0 !important;}

	.box_gioiThieu .content_1{padding: 0;}

	.box_triThuc{height: auto; display: flex;}
	.box_triThuc .box_content .left{width: 100%;}
	.box_triThuc .box_content .right{width: 100%;}
	.box_triThuc .box_content .right .info{width: 100%; padding-right: 100px;}
	
	.box_thongTin .box_content{padding: 0;}
	.box_thongTin .container{width: 800px; max-width: 100%;}
	.box_aiNen .box_content .list_item .item{margin: 0 25px;}
	
	.box_dieuKien{height: auto;}
	.box_dieuKien .img{margin-bottom: 30px;}
	
	.popup_video .popup_content{ width: calc(100% - 40px); top: 10%;}

	.box_student .bx-controls-direction a.bx-next, .box_student .bx-controls-direction a.bx-next:hover{right: -1%;}
	.box_student .bx-controls-direction a.bx-prev, .box_student .bx-controls-direction a.bx-prev:hover{right: 90%;}
}

@media ( max-width : 768px) {
	body{ color: #282828; font-size: 15px;}
	br{display: none;}

	.box_banner{margin-bottom: 50px;}
	.box_banner .image img{ margin-top: 43px; }
	
	.box_header.sticky{ padding: 0px;}
	
	.box_gioiThieu{ margin-bottom: 50px;}
	.box_gioiThieu .content_1{ padding-bottom: 40px;}
	.box_gioiThieu .content_1 .title{font-size: 25px; line-height: 40px;}
	.box_gioiThieu .content_1 .title:before{top:28px; left: 0;}
	.box_gioiThieu .content_1 .detail{padding-bottom: 0;}
	.box_gioiThieu .content_1 .text_1 br{ display: none;}
	.box_gioiThieu .content_1 .text_2{ font-size: 22px;}
	.box_gioiThieu .content_2 .info .box{padding: 10px 15px; font-size: 17px;}
	
	.box_triThuc{margin-bottom: 50px;}
	.box_triThuc .box_content .left{background: url("../images/banner-6.jpg") no-repeat center;}
	.box_triThuc .box_content .right{background: #152b50; height: auto;}
	.box_triThuc .box_content .right .bx-wrapper{width: 100%;}
	.box_triThuc .box_content .right .info{padding: 30px 15px; height: auto;}
	.box_triThuc .box_content .right .img{padding-left: 15px;}

	.box_thongTin{padding-bottom: 50px; margin-bottom: 50px;}
	
	.box_thongTin .box_content .text{ padding-bottom: 40px; font-size: 15px;}
	.box_thongTin .box_content .info .item{ display: block;}
	.box_thongTin .box_content .info .title{font-size: 25px; text-align: center; margin-bottom: 25px;}
	.box_thongTin .box_content .info .item .key{ display: block; width: auto;}
	.box_thongTin .box_content .info .item .value{ display: block; width: auto; padding: 10px; font-size: 15px;}
	.box_thongTin .box_content .info .item .value .text{line-height: 0;}
	.box_thongTin .box_content .info .item .value a{font-size: 12px; padding: 5px;}
	
	.box_aiNen{padding: 50px 0; margin-bottom: 50px;}
	.box_aiNen .box_content .box_title{padding: 0; text-align: center; font-size: 25px; margin-bottom: 25px;}
	.box_aiNen .box_content .list_item{margin: 0 15px;}
	.box_aiNen .box_content .list_item .item{width: 30%; margin: 0 2.5%;}
	.box_aiNen .box_content .list_item .item .detail{font-size: 15px; line-height: 21px;}

	.box_dieuKien{margin-bottom: 50px;}
	.box_dieuKien .info{font-size: 15px; line-height: 22px;}
	.box_dieuKien .info .title{font-size: 25px; margin-bottom: 20px;}
	.box_dieuKien .info .detail{margin-bottom: 15px;}
	.box_dieuKien .info .text_1{padding:15px 0 35px 60px;}
	.box_dieuKien .info .text_2{padding:0 0 0 60px;}
	
	.box_loiIch {margin-bottom: 50px;}
	.box_loiIch .box_title{padding-top: 35px;}
	.box_loiIch .box_detail{margin-bottom: 40px;}
	.box_loiIch .item .item_content p{padding: 15px 0; font-size: 15px;}
	.box_loiIch .item .item_content{padding: 0 15px 0 70px ; margin-left: 15px; }
	
	.box_mucTieu { margin: 0;}
	.box_mucTieu .box_title{ font-size: 35px;}
	.box_mucTieu .image{ display: none;}
	.box_mucTieu .text .wrapper{ width: auto; padding: 0 15px 50px;}
	.box_mucTieu .box_content p{ font-size: 15px; line-height: 22px;}

	.box_noiDung .item .item_title{ padding: 10px 15px; font-size: 16px;}
	.box_noiDung .item .item_content{ padding: 15px;}
	.box_noiDung .item .item_content p{ font-size: 15px; line-height: 22px; font-family: "Roboto-Regular"; padding-left: 20px;}
	.box_noiDung .item .item_content p:after{ width: 6px; height: 6px; top: 8px;}
	
	.box_khoaHoc .box_title{padding-left: 15px; font-size: 25px;}
	.box_khoaHoc .table th{font-size: 12px;}
	.box_khoaHoc .table td{font-size: 11px; text-align: left;}
	.box_khoaHoc .table .odd .text{padding: 0 5px;}
	.box_khoaHoc .table .odd .col-xs-2{padding: 0 5px;}
	
	.box_dangKy{background: #202A4E; margin-bottom: 50px;}
	.box_dangKy .title_1{width: 100%; padding: 50px 0; font-size: 25px;}
	.box_dangKy .uudai .box_content .text_1{padding: 20px 0;}
	.box_dangKy .title_2{line-height: 45px; padding: 0 0 50px 0; font-size: 25px;}
	.box_dangKy .form {margin-bottom: 50px;}
	.box_dangKy .form .form-control{height: 40px; font-size: 14px; padding: 0 15px;}
	.box_dangKy .form .form-group input::placeholder{font-size: 14px;}
	.box_dangKy .form .btnSuccess .btn-blue{height: 40px; font-size: 17px; vertical-align: middle; line-height: 20px;}
	.box_dangKy .form .form-row .col-md-6{padding-right: 0;}
	.box_dangKy .uudai{padding: 0; width: 100%;}
	.box_dangKy .uudai .box_content .table{padding: 0 15px;}
	.box_dangKy .uudai .box_content .table>tbody>tr>td{font-size: 17px; height: 45px;}
	.box_dangKy .uudai .box_content .text_2{padding: 30px 15px; margin-bottom: 40px;}
	.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ height: 40px; padding: 0; font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{ height: 40px; font-size: 14px;}
	.box_dangKy .btn-group.open .dropdown-toggle{ height: 40px font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle{ height: 40px;font-size: 14px;}
	
	.box_dienGia{ padding: 30px 0; background: #202A4E; height: auto; margin-bottom: 50px;}
	.box_dienGia .image{ margin-bottom: 20px;}
	.box_dienGia .image img{ width: 100%;}
	.box_dienGia .box_title .title_1{ font-size: 25px; line-height: 35px}
	.box_dienGia .box_title .title_2{ font-size: 17px;}
	.box_dienGia .content{ padding: 0 15px;}
	.box_dienGia .box_title{ font-size: 35px; padding-left: 25px;}
	.box_dienGia .box_content{ font-size: 17px; padding: 0; width: 100%;}
	.box_dienGia .box_content p{ font-size: 13px; padding-left: 25px;}
	
	.box_thanhToan{ padding: 0 0 30px 0; }
	.box_thanhToan .container .box_title{ margin: 0; padding: 0 15px 30px; font-size: 25px; text-align: center; padding: 0;}
	.box_thanhToan .container{ padding: 0 10px;}
	.box_thanhToan .info{ padding: 30px;}
	.box_thanhToan .info .title{ padding: 0;}
	.box_thanhToan .info .head{ padding-top: 30px; padding-bottom: 10px;}
	.box_thanhToan .form{ padding: 30px;}
	.box_thanhToan .bank{ padding: 0 30px 50px;}
	.box_thanhToan .bank .title{ padding-bottom: 0;}
	.box_thanhToan .bank .item{ padding-top: 30px;}
}

@media(max-width:540px){
	.box_gioiThieu{margin-bottom: 30px;}
	.box_gioiThieu .content_2{ display: block;}
	.box_gioiThieu .content_2 .info{padding-left: 0;}
	.box_gioiThieu .content_2 .info .title{text-align: center;}
	.box_gioiThieu .content_2 .image{text-align: center; width: 100%;}
	.box_gioiThieu .content_2 .image img{width: 50%;}
	
	.box_aiNen .box_content .list_item{ display: block;}
	.box_aiNen .box_content .list_item .item{width: 100%; margin: 25px 0; text-align: center;}
	.box_aiNen .box_content .list_item .item img{width: 100%;}
	
	.box_triThuc .bx-controls-direction a.bx-prev{left: 0;}
	.box_triThuc .bx-controls-direction a.bx-next{left: 20px;}
	
	.box_loiIch .box_detail{margin-bottom: 20px; font-size: 14px;}
	.box_loiIch .box_title{font-size: 20px; margin-bottom: 20px;}
	.box_loiIch .item .item_content p{font-size: 14px;}
	
	.box_khoaHoc .box_title{padding: 0 15px; font-size: 20px; text-align: center;}
	
	.box_dieuKien{display: -webkit-inline-box;}
	.box_dieuKien .img{display: none;}
	.box_dieuKien .info .title{padding-top: 30px;}
	.box_dieuKien .info .text_1{padding-top: 0;}
	
	.box_thanhToan .dangKy .box_title{font-size: 30px;margin-top: 25px;}
	.box_thanhToan .container .box_title{font-size: 25px;padding-bottom: 0;}
	.box_thanhToan .dangKy{padding: 0;}
	.box_thanhToan .dangKy .box_content{margin-top: 15px;}
}

@media(max-width: 400px){
	.box_header .menu_mobile .btn_book{width: 85px; font-size: 12px; margin: 0 5px;}
}