<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
<?php 
	echo $this->headTitle($this->arrParams['meta']['title']);
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8')
			  ->appendName('author', $this->arrParams['meta']['author'])
			  ->appendName('description', $this->arrParams['meta']['description'])
			  ->appendName('keywords', $this->arrParams['meta']['keywords'])
			  ->appendProperty('og:type', 'website')
			  ->appendProperty('og:title', $this->arrParams['meta']['title'])
			  ->appendProperty('og:description', $this->arrParams['meta']['description'])
			  ->appendProperty('og:image', $this->arrParams['meta']['image']);
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <form action="#" id="frmRegister" name="frmRegister" method="POST">
		<div class="box_image""><img class="img-responsive" src="<?php echo $item['image'];?>"></div>
		<div class="box_dangKy" id="box_dangKy">
			<div class="box_title"><?php echo $this->arrParams['meta']['title'];?></div>
			<div class="box_content"><?php echo htmlspecialchars_decode($item['content']);?></div>
			<div class="box_form">
				<div class="note">*Bắt buộc</div>
				<div class="row">
    				<div class="col-sm-6">
    			        <div class="form-group" id="input-location_city_id">
    			        	<label>Chọn địa điểm tham gia <span class="required">*</span></label>
                            <select name="location_city_id" class="form-control">
                                <option value=""  selected="selected">Lựa chọn của bạn</option>
                                <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                            </select>
                        </div>
    			    </div>
    			</div>
    			<div class="row">
					<div class="col-sm-6">
						<div class="form-group" id="input-name">
							<label>Họ và tên <span class="required">*</span></label>
							<input name="name" type="text" class="form-control" placeholder="Câu trả lời của bạn">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group" id="input-phone">
							<label>Điện thoại <span class="required">*</span></label>
							<input name="phone" type="text" class="form-control" placeholder="Câu trả lời của bạn">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group" id="input-email">
							<label>Email <span class="required">*</span></label>
							<input name="email" type="text" class="form-control" placeholder="Câu trả lời của bạn">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group" id="input-number">
							<label>Số vé đăng ký <span class="required">*</span></label>
							<input name="number" type="number" class="form-control" min="1" placeholder="Câu trả lời của bạn">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="btnSuccess">
							<input type="hidden" name="form_id" value="<?php echo $item['form_id'];?>">
							<input type="hidden" name="type" value="form">
							<?php 
                                if ($link == '') {
                                    $input = '<input type="hidden" name="source" value="landing_page">';
                                }else{
                                    $input = '<input type="hidden" name="source" value="'.$link.'">';
                                }
                                ?>
                            <?php
                                echo $input;
                            ?>
                            <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
							<input type="button" onclick="javascript:formDefaultRegisterCRM('frmRegister');" class="btn-submit btn-dangky" value="Gửi">
						</div>
					</div>
				</div>
			</div>
		</div>	
	</form>
    
    <?php
	echo $this  -> headScript ()
				-> appendFile ( $this->arrParams ['template'] ['urlJs'] . '/jquery.min.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlJs'] . '/bootstrap.min.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlPlugin'] . '/numeric.min.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/jquery.inview.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/fancybox.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/bxslider.min.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/me.js', 'text/javascript' );
	?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->

	<script type="text/javascript">
    $('.mask_currency').autoNumeric("init",{
        mDec: 0,
        aSep: '.',
        aDec: ',', 
    });

    /**
	 * Desciption: Form đăng ký
	 */
	function formDefaultRegisterCRM(form) {
		var idForm 	= "#" + form;
		var urlAjax = "https://langmaster.vn/erp/api/hbr-form-data/add";
		var textBtn = $(idForm + ' .btnSuccess .btn').val();
		
		$.ajax({
			type: "POST",
			url: urlAjax,
			data: $(idForm).serialize(),
			dataType: "json",
			cache: false,
			beforeSend: function() {
				$(idForm + ' .form-group').removeClass('has-error');
				$(idForm + ' .alert').remove();
				$(idForm + ' .btnSuccess .btn').val('Đang gửi thông tin...').attr('disabled', 'disabled');
				$('body').append('<div class="page-loading"><div class="loader"></div></div>');
			},
			success: function(result){
				if(result.error) {
					if(result.error.form_id) {
						$(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">'+ result.error.form_id +'</div>');
					} else {
						$.each(result.error, function(key, value) {
							$(idForm + ' #input-'+ key).addClass('has-error');
						})
						$(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">Vui lòng điền đầy đủ các thông tin bắt buộc</div>');
					}
				} else {
					$(idForm + ' .btnSuccess').prepend('<div class="alert alert-success">Thông tin của bạn đã được gửi thành công</div>');
					$(idForm + ' .form-control').val('');
					window.location.href = "<?php echo '/'.$item['alias'].'/thankyou'; ?>";
				}
				
				$(idForm + ' .btnSuccess .btn').val(textBtn).removeAttr('disabled', 'disabled');
				$('body .page-loading').remove();
			}
		});
	}
    </script>
</body>
</html>