@charset "utf-8";
@import "../fonts/font.css";

body{ color: #282828; font-size: 17px;}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}

.clr { clear: both; }

.box_header{ background-color: #FFF; width: 100%; top: 0; left: 0; z-index: 99999; position: relative; height: 60px;}
.box_header .container{ position: relative;}
.box_header .logo{ display: inline-block; margin-top: 13px;}
.box_header .menu{ padding: 12px 0 0; list-style: none; float: right; margin: 0;}
.box_header .menu li{ display: inline-block; padding-left: 35px; text-align: center; vertical-align: middle;}
.box_header .menu li a{ font-size: 15px; color: #282828; font-family: "Roboto-Regular"; text-transform:uppercase; padding: 8px 0 6px; display: inline-block;}
.box_header .menu li a.active{color: #ed1c24;}
.box_header .menu li a:hover{ color: #ed1c24;}
.box_header .menu li a.btn_book{ display: inline-block; background-color: #ed1a4f; color: #FFF; padding: 0; width: 175px; height: 35px; line-height: 35px; font-size: 17px; font-weight: normal; font-family: "Roboto-Medium", "Segoe UI"; border-radius: 3px;}
.box_header .menu li a.btn_book:hover{ background-color: #122c50; transition:color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box_header .menu li a.btn_book.active{ background-color: #ed1c24;}
.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}

.box_header.sticky{ position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
.box_header.sticky .menu li a.last{ padding-right: 20px;}
.box_header.sticky .box_user{ display: block; padding: 10px 0 0;}
.box_header.sticky .box_user li a{ display: inline-block; padding: 5px 20px; color: #404041; font-size: 13px; font-weight: 600; height: auto; line-height: normal;}
.box_header.sticky .box_user li a:hover{ color: #0088cc;}
.box_header.sticky .box_user_login{ display: block;}
.box_header.sticky .box_user_login .dropdown-toggle{ background: none !important; height: 50px; line-height: 50px; margin: 0 0 0 20px;}
.box_header.sticky .box_user_login .dropdown-toggle:focus{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle:hover{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle img{ vertical-align: top; margin-top: 5px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:BEFORE{ right: 12px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:AFTER{ right: 13px;}
.box_header.sticky .box_user_login.navbar-nav>li>a{ padding: 15px 20px;}
.box_header.sticky .box_user_login.navbar-nav>li>a:hover{ background: none; color: #000;}

.box_banner .image img{ width: 100%;}

.box_gioiThieu{ padding: 50px 0;}
.box_gioiThieu .box_content{width: 1200px; max-width: 100%; margin: 0 auto;}
.box_gioiThieu .box_content .title-1{font-size: 55px; font-family: "DP-Bold"; color: #fff; padding: 25px 50px; margin: 0 auto 25px auto; display: table; background: #ed1a4f; border: 5px solid #fff; box-shadow: 0px 0px 0px 5px #ed1a4f; text-align: center;}
.box_gioiThieu .box_content .note{font-size: 25px; font-family: "DP-Bold"; color: #ed1a4f; padding-bottom: 25px; text-align: center; text-transform: uppercase;}
.box_gioiThieu .box_content .note span{position: relative;}

.box_CRM{background: #ebebeb; padding: 50px 0;}
.box_CRM .title{font-size: 35px; font-family: "DP-Bold"; text-align: center; padding-bottom: 50px; color: #ed1a4f;}
.box_CRM .box_content{display: inline-block;}
.box_CRM .box_content .detail{padding: 30px 0;}
.box_CRM .box_content .detail p{padding:0 0 30px 30px; background: url(../images/icon-16.png) no-repeat left; background-position: 0 5px;}
.box_CRM .text{font-family: "DP-Bold"; text-transform: uppercase; font-size: 25px; text-align: center; padding-top: 40px; color: #ec1c3c;}

.box_aiNen{ margin: 0; display: table; width: 100%; color: #222831;}
.box_aiNen .box_title{ color: #ed1a4f; font-family: "DP-Bold"; font-size: 30px; position: relative; padding-bottom: 20px; margin-bottom: 40px;}
.box_aiNen .box_title::after{ content: ""; position: absolute; bottom: 0; left: 0; width: 50px; height: 5px; background-color: #426ffe;}
.box_aiNen .box_content .item{ padding-bottom: 10px; font-size: 16px;}
.box_aiNen .image{ display: table-cell; width: 45%; background: url(../images/ainen-1.jpg) no-repeat top right; background-size: cover;}
.box_aiNen .text{ display: table-cell; width: 55%; background: #FFF;}
.box_aiNen .text .wrapper{ padding: 50px 0 40px 70px; width: 700px; max-width: 100%; text-align: justify;}
.box_aiNen .text .wrapper .note{ font-size: 20px; line-height: 100%; margin-bottom: 20px; line-height: 25px;}
.box_aiNen .row_1{ display: table; width: 100%;}
.box_aiNen .row_1 .item{ font-size: 20px; line-height: 25px; margin-bottom: 20px; padding-left: 50px; position: relative;}
.box_aiNen .row_1 .item:after{ content: "\f005"; position: absolute; font-family: "FontAwesome"; top: 2px; left: 0;}

.box_Giupdo{padding: 100px 0;}
.box_Giupdo .box_title{font-size: 35px; font-family: "DP-Bold"; text-align: center; color: #ed1a4f; padding-bottom: 40px;}
.box_Giupdo .box_content .item{display: flex; padding: 20px; background: #ebebeb;}
.box_Giupdo .box_content .item .img{padding-right: 20px;}

.box_camKet{background: #ed1a4f; height: 450px; }
.box_camKet .left{width: 44%; max-width: 100%; height: 450px; float: left; background: url("../images/banner-2.jpg") no-repeat center center; background-size: cover;}
.box_camKet .right{width: 56%; max-width: 100%; height: 450px; float: left;}
.box_camKet .right .box_content{width: 715px; max-width: 100%; float: left; color: #fff; padding: 50px 0 0 100px;}
.box_camKet .right .box_content .box_title{font-family: "DP-Bold"; font-size: 32px; line-height: 45px; margin-bottom: 70px;}
.box_camKet .right .box_content .item{padding: 0 0 40px 85px; font-family: "Roboto-Regular"; font-size: 17px; line-height: 25px; position: relative;}
.box_camKet .right .box_content .item:before{position: absolute; content: ""; width: 15px; height: 15px; background: url("../images/icon-14.png") no-repeat center; top: 7px; left: 0;}

.box_dangKy{margin-bottom:60px; color: #30373d; position: relative; padding-bottom: 150px; background: #eee;}
.box_dangKy .container{width: 1000px; max-width: 100%;}
.box_dangKy .text{color: #122c50; padding-bottom: 30px; font-size: 20px; text-align: center;}
.box_dangKy .text span{font-size: 25px; font-weight: bold; color: #ed1a4f;}
.box_dangKy .dangKy{ padding: 100px 0 0 15px; margin-top: 15px;}
.box_dangKy .dangKy .box_title{ font-family: "DP-Bold"; text-align: center; padding-bottom: 20px; color: #ed1a4f; font-size: 35px; line-height:40px;}
.box_dangKy .dangKy .form-control{border:1px solid rgba(38, 49, 85, 0.7); color:#fff; height: 65px; background:rgba(38, 49, 85, 1); border-radius: 0; padding: 6px 30px; font-size: 17px; line-height:27px; font-family: "Roboto-Regular";}
.box_dangKy .dangKy .form-control::placeholder{color: #fff;}
.box_dangKy .dangKy select{font-size: 17px; color: #fff;}
.box_dangKy .dangKy option{font-size: 17px; color: #fff;}
.box_dangKy .dangKy .error{ color: #FF0000;}
.box_dangKy .dangKy .alert{margin-top: 10px; border-radius: 0;}
.box_dangKy .dangKy .btnSuccess{ text-align: center;}
.box_dangKy .dangKy .btnSuccess .input-lg{padding-top:15px; border: none; border-radius: 0; width: 100%; background: #e71e42; color: #fff;font-family: "DP-Bold"; font-size: 23px; line-height:27px; text-transform: uppercase; height: 65px; vertical-align: middle;}
.box_dangKy .dangKy .btnSuccess .input-lg:hover{background: #0e0e1a; transition: color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box_dangKy .dangKy .btnSuccess .input-lg:FOCUS{ outline: none;}
.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100%; background: rgba(38, 49, 85, 0.7) !important; height: 65px; border-radius: 0; padding: 0 30px; font-family: "Roboto-Regular"; font-size: 20px;}
.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{color: #fff; height: 52px; padding: 0; background: rgba(38, 49, 85, 0) !important; border-radius: 0; border: 0; font-family: "Roboto-Regular"; font-size: 17px;}
.box_dangKy .btn-group.open .dropdown-toggle{color: #fff; height: 52px; padding: 0; background: rgba(38, 49, 85, 0) !important; border-radius: 0; border: 0; font-family: "Roboto-Regular"; font-size: 17px;}
.box_dangKy .bootstrap-select>.dropdown-toggle{color: #fff; height: 52px; padding: 0; background: rgba(38, 49, 85, 0) !important; border-radius: 0; border: 0;font-family:  "Roboto-Regular"; font-size: 17px;}
.box_dangKy .bootstrap-select.btn-group .dropdown-menu{background: rgba(38, 49, 85, 1) !important;}
.box_dangKy .bootstrap-select.btn-group .dropdown-menu.inner{background: rgba(38, 49, 85, 1) !important;}
.box_dangKy .bootstrap-select.btn-group .dropdown-menu li a{height: 30px; font-size: 17px !important;}
.box_dangKy .bootstrap-select.btn-group .dropdown-menu li a:hover{background: #4d90fe;}
.box_dangKy .bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{color: #fff;}
.box_dangKy .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark{color: #fff;}

.box_thanhToan{  color: #30373d; position: relative; margin: 50px 0; display: none;}
.box_thanhToan .thanhToan { padding: 0 15px 0 15px;}
.box_thanhToan .thanhToan .box_title{ font-family: "DP-Bold"; padding-bottom: 20px; color: #202b53 ; font-size: 35px; line-height:45px; text-transform: uppercase;}
.box_thanhToan .thanhToan .item { margin-bottom: 30px;}
.box_thanhToan .thanhToan .item .item_title{ font-family: "HelveticaNeue-Medium"; padding-bottom: 5px; font-size:17px; line-height: 45px;}
.box_thanhToan .thanhToan .item .item_detail{ font-size: 18px; padding-bottom: 20px;line-height: 23px;font-family: "Roboto-Regular";}
.box_thanhToan .thanhToan .item .item_detail span{font-family: "Roboto-Bold";}
.box_thanhToan .thanhToan .item .item_image{ width: 300px; max-width: 100%; margin: 0 auto; background: #f2ad21; color: #FFF; border-radius: 5px; padding: 28px 0;}
.box_thanhToan .thanhToan .item .item_image .image_title{font-family:"Roboto-Medium"; background: #FFF; color: #49556a; text-align: center; height: 38px; line-height: 38px;}
.box_thanhToan .thanhToan .item .item_image .image_desc{ padding: 15px; font-size: 15px; font-family:"Roboto-Medium"; line-height: 30px; color: #111;}
.box_thanhToan .dangKy{border: 2px solid #007acf;}

.box_images{ overflow: hidden; display: none;}
.box_images img{ width: 100%; transform: scale(1); transition: transform .5s;}
.box_images img:hover{ transform: scale(1.2); position: relative; z-index: 1;} 
.box_images table{ width: 100%;} 
.box_images table td{ padding: 3px; overflow: hidden;} 
.box_images table div{ overflow: hidden;} 
.box_images .row_1 .image_1{ width: 24.2%; float: left; padding-right: 2px; }
.box_images .row_1 .image_2{ width: 34.73%; float: left; padding: 0 2px; }
.box_images .row_1 .image_3{ width: 19.46%; float: left; padding: 0 2px; }
.box_images .row_1 .image_4{ width: 21.23%; float: left; padding-left: 2px;}

.box_comment{ padding: 40px 0;}

.box_footer{ padding: 60px 0 20px; position: relative; background: #071831; color: #FFF;}
.box_footer .container{ padding: 0 15px;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}
.box_footer .wrap{ margin: 0 -15px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px; margin-bottom: 40px;}
.box_footer .col-1{ width: 440px; max-width: 100%;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 10px;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-2{ width: 250px; max-width: 100%;}
.box_footer .col-2 .box_content .box_menuFooter>ul{padding: 0;}
.box_footer .col-2 .box_content .box_menuFooter>ul>li{list-style: none;}
.box_footer .col-3{ width: 280px; max-width: 100%;}
.box_footer .col-3 a{padding-right: 10px;}
.box_footer .col-4{ width: 250px; max-width: 100%;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #ec1c3c; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #122c50;}
.box_footer .alert{ font-size: 11px; border-radius: 0; padding: 5px 10px;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}
.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }
.has-error .form-control{border: 1px solid #ec1c3c !important;}

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

iframe[name="google_conversion_frame"]{ height: 0;}

/*RESPONSIVE*/
@media ( min-width : 1200px) {
  .popup_video .popup_content{ width: 60%;}
}
@media ( max-width : 1000px) {
	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

	.box_header{ height: 43px; position: fixed; border: 0; padding: 0 0 10px 0;}
	.box_header.sticky{ position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }
	.box_header .container{ position: relative;}
	.box_header .logo{ margin-top: 8px !important;}
	.box_header .logo img{ height: 20px;}
	.box_header .menu_mobile{ top: 13px;}
	.box_header .menu_mobile .item{ background-color: #999;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 60%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	.box_header .menu li:first-child{ padding-left: 20px; }
	.box_header .menu{ margin: 0 !important;}
	
	.popup_video .popup_content{ width: calc(100% - 40px); top: 10%;}
}
@media ( max-width : 768px) {
	body{ color: #282828; font-size: 15px;}
	br{display: none;}

	.box_banner .image img{ margin-top: 43px; }
	.box_header.sticky{ padding: 0px;}

	.box_gioiThieu{ padding: 40px 0 10px;}
	.box_gioiThieu .box_content .title-1{padding: 0 15px; font-size: 25px;}
	.box_gioiThieu .box_content .note{padding:15px; font-size: 17px;}

	.box_CRM{padding: 30px 0;}
	.box_CRM .title{font-size: 25px;}
	.box_CRM .box_content .detail p{padding-bottom: 15px;}
	.box_CRM .text{padding: 0;}
	
	.box_aiNen .image{ display: none;}
	.box_aiNen .box_title{font-size: 25px;}
	.box_aiNen .text{ width: auto; display: block;}
	.box_aiNen .text .wrapper{ width: auto; padding: 30px 15px;}
	.box_aiNen .text .wrapper .note{font-size: 18px;}
	.box_aiNen .row_1 .item{padding-left: 30px; font-size: 15px; margin: 0;}

	.box_Giupdo{padding: 0 0 40px 0;}
	.box_Giupdo .box_title{font-size: 25px;}
	.box_Giupdo .box_content .item{margin-bottom: 15px;}
	
	.box_camKet{height: auto; display: flex;}
	.box_camKet .left{display: none;}
	.box_camKet .right{width: 100%; height: auto;}
	.box_camKet .right .box_content{padding: 30px 10px;}
	.box_camKet .right .box_content .box_title{font-size: 25px; text-align: center; margin-bottom: 30px;}
	.box_camKet .right .box_content .item{padding: 0 0 15px 45px;}

	.box_dangKy{padding-bottom: 40px; margin-bottom: 30px;}
	.box_dangKy .title_1{padding: 30px;}
	.box_dangKy .dangKy{padding: 30px 0 0 0; margin: 0;}
	.box_dangKy .dangKy .box_title{padding-bottom: 15px; font-size: 25px;}
	.box_dangKy .dangKy .form-control{height: 50px; font-size: 15px;}
	.box_dangKy .dangKy .btnSuccess .input-lg{height: 50px;}
	.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ height: 40px; padding: 0; font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{ height: 40px; font-size: 14px;}
	.box_dangKy .btn-group.open .dropdown-toggle{ height: 40px font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle{ height: 40px;font-size: 14px;}

	.box_thanhToan .thanhToan .box_title{font-size: 25px; padding: 0;}

	.box_footer .text br{ display: block;}
}

@media ( max-width : 540px) {
	.box_CRM .box_content .img img{width: 100%;}
}
