<?php
    $dateFormat = new \ZendX\Functions\Date();
    
    $myForm = $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('filter_date_begin'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_end'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_user_action'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('order')),
        array('element' => $myForm->get('order_by')),
    );

    if(!empty($this->userInfo['sale_group_id'])){
        $elements = array(
            array('element' => $myForm->get('filter_date_begin'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_date_end'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_user_action'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('order')),
            array('element' => $myForm->get('order_by')),
        );
    }
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= $this->linkAdminSort('Ngày đăng ký', 'date', $this->params['ssFilter'], array('class' => 'col-150'));
    $xhtmlHead .= '<th>Loại Contact</th>';
    $xhtmlHead .= '<th>Họ và tên</th>';
    $xhtmlHead .= '<th>Số điện thoại</th>';
    $xhtmlHead .= '<th>Email</th>';
    $xhtmlHead .= '<th>Địa chỉ</th>';
    $xhtmlHead .= '<th>Level khách hàng</th>';
    $xhtmlHead .= '<th>Trạng thái chăm sóc</th>';
    $xhtmlHead .= '<th>Ngày gọi gần nhất</th>';
    $xhtmlHead .= '<th>Sản phẩm quan tâm</th>';
    $xhtmlHead .= '<th>Số lượng</th>';
    $xhtmlHead .= '<th>Ghi chú</th>';
	$xhtmlHead .= '</tr>';

	$contact_count          = count($this->contact);
    // Danh sách
    $xhtmlItems = '';
    if(count($this->items) > 0) {
        foreach ($this->items AS $item) {
            $cid                    = $this->xFormInput('cid[]', $item->id, array('type' => 'checkbox', 'class' => 'checkboxes'));
            $id                     = $item[id];
            $date                   = $dateFormat->formatToView($item['created'], 'd/m/Y');
            $phone                  = $item['contact_phone'];
            $name                   = $item['contact_name'];
            $email                  = $item['contact_email'];
            $level_contact          = $item['contact_level'] ? $this->level[$item['contact_level']]['name'] : '';
            $sex_contact            = $item['contact_sex'] ? $this->sex[$item['contact_sex']]['name'] : '';
            $address                = $item['contact_address'];
            $contact_type           = $item['contact_type'];
            $type_color             = !empty($this->sale_contact_type[$contact_type]['color']) ? ' style="color: '. $this->sale_contact_type[$contact_type]['color'] .'; font-weight: bold;"' : '';
            $type                   = '<span'. $type_color .'>'. $this->sale_contact_type[$contact_type]['name'] .'</span>';
            $number                 = $item['number'];
            $content                = $item['content'];
            $history_created        = $dateFormat->formatToView($item['contact_history_created'], 'd/m/Y');
            $history_status         = $item['contact_history_status_id'] ? $this->history_status_id[$item['contact_history_status_id']]['name'] : '';
            $product                = $item['form_id'] ? $this->product[$item['form_id']]['name'] : '';
            
            $count                  = count($this->items);
            $count_item_call        = count($this->item_call);
            $count_item_call_out    = count($this->item_call_out);
   
            $contact = 0;
            if ($contact_count >= 0){
                $contact           = $contact_count - $count;
            }
            $item_call      = 0;
            $item_call_out  = 0;
            if ($count_item_call > 0){
                $item_call = $count_item_call;
            }
            
            if ($count_item_call_out > 0){
                $item_call_out = $count_item_call_out;
            }
            
            $xhtmlItems .= '<tr id="tr_'. $id .'">';
    		$xhtmlItems .= '<td>'. $cid .'</td>';
    		$xhtmlItems .= '<td>'. $date .'</td>';
            $xhtmlItems .= '<td>'. $type .'</td>';
            $xhtmlItems .= '<td><a href="javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => 'contact', 'action' => 'edit')) .'\', {\'id\': \''. $item['contact_id'] .'\'});">'. $name .'</a></td>';
            $xhtmlItems .= '<td>'. $phone .'</td>';
            $xhtmlItems .= '<td>'. $email .'</td>';
            $xhtmlItems .= '<td>'. $address .'</td>';
    		$xhtmlItems .= '<td>'. $level_contact .'</td>';
    		$xhtmlItems .= '<td>'. $history_status .'</td>';
            $xhtmlItems .= '<td>'. $history_created .'</td>';
            $xhtmlItems .= '<td>'. $product .'</td>';
            $xhtmlItems .= '<td>'. $number .'</td>';
            $xhtmlItems .= '<td>'. $content .'</td>';
        }
    }
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminFormFilter" id="adminFormFilter" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
    	<div class="row">
    		<?php echo $xhtmlFilter;?>
    	</div>
    </div>
    <div class="page-content">
    	<div class="table-manager" id="table-manager">
            <div class="table-manager" style="margin-bottom: 50px;">
                <table class="table" >
                    <tbody>
                    	<tr>
                        	<td class="col-150" rowspan="4" style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; vertical-align: middle;">Khối lượng công việc</td>
                        	<td rowspan="2" style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd; vertical-align: middle;">Số lượng phải gọi</td>
                        	<td colspan="2" style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd;">Số lượng đã gọi</td>
                        	<td rowspan="2" style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd; vertical-align: middle;">Số lượng chưa gọi</td>
                        	<td rowspan="2" style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd; vertical-align: middle;">Số lượng tồn trước đó</td>
                    	</tr>  
                    	<tr>
                        	<td style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd;">Trong lịch</td>
                        	<td style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd;">Ngoài lịch</td>
                    	</tr>   
                    	<tr>
                        	<td style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd;">1</td>
                        	<td style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd;">2</td>
                        	<td style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd;">3</td>
                        	<td style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd;">4 = 1 - 2</td>
                        	<td style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd;">5</td>
                    	</tr>  
                    	<tr>
                        	<td style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;"><?php echo $count; ?></td>
                        	<td style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;"><?php echo $item_call; ?></td>
                        	<td style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;"><?php echo $item_call_out; ?></td>
                        	<td style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;"><?php echo $count; ?></td>
                        	<td style="text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;"><?php echo $contact_count; ?></td>
                    	</tr>    
                    </tbody>
                </table>
            </div>
    		<div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <?php echo $xhtmlHead;?>
                    </thead>
                    <tbody>
                        <?php echo $xhtmlItems;?>
                    </tbody>
                </table>
            </div>
    		<?php
            	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'options' => $this->params['paginator']['options'])); 
            ?>
    	</div>
	</div>
</form>

<?php $this->headScript()->captureStart() ?>
    //Tính khoảng cách chiều cao phần nội dung
   var h_window = $(window).height();
   var h_content = h_window - $('.header.navbar').outerHeight() - $('.page-control').outerHeight() - $('.page-filter').outerHeight() - $('.paginations').outerHeight() - 10;
   $('#table-manager .table-scrollable').css({'height': h_content + 'px'});
   $( window ).resize(function() {
       var h_window = $(window).height();
       var h_content = h_window - $('.header.navbar').outerHeight() - $('.page-control').outerHeight() - $('.page-filter').outerHeight() - $('.paginations').outerHeight() - 10;
       $('#table-manager .table-scrollable').css({'height': h_content + 'px'});
   });
<?php $this->headScript()->captureEnd() ?>