@charset "utf-8";
@import "../fonts/font.css";

body{ font-size: 17px; font-family: "Roboto-Regular"; background: #fff;}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
b { font-family: "Roboto-Bold", "Segoe UI";}
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}
ul{list-style: none;}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{border: 1px solid #9c9a99;}
.clr { clear: both; }

.box_top{ height:40px; line-height: 40px; background:#161f37; color: #FFF;}
.box_top .hotline a{line-height:40px; color:#fff; padding:0 11px 0 10px; font-size:12px; position: relative; font-family: "Roboto-regular"; text-decoration: none;}
.box_top .hotline a:last-child:after{content:none;}
.box_top .hotline i{ padding: 0; color: #FFF;}
.box_top .hotline .fa{font-size: 12px;}
.box_top .hotline{ont-size:12px; font-family: "Roboto-regular";}
.box_top .hotline span{}
.box_top .social { text-align: right;}
.box_top .social .fa{font-size: 13px;}
.box_top .social a{ display: inline-block; margin: 0 8px;}
.box_top .social a:last-child{margin-right: 0;}
.box_top .social i{ color: #FFF;}
.box_top .social .item{display: inline-block; float: right; height: 38px; background: #fb6030; padding: 0 25px; text-align: center;}
.box_top .social .item:hover{transition:color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; background: #eb1c3c;}
.box_top .social .item a{font-family: "Roboto-regular"; color: #fff; font-size: 13px; line-height: 38px; text-transform: uppercase; text-decoration: none; text-align: center;}

.box_header{ background-color: #FFF; width: 100%; top: 0; left: 0; z-index: 99999; position: relative; height: 80px; display: flex;}
.box_header .container{ position: relative;}
.box_header .logo{ display: inline-block; margin-top: 20px; line-height: 100%;}
.box_header .menu{ padding: 23px 0 0; list-style: none; float: right; margin: 0;}
.box_header .menu li{ display: inline-block; padding-left: 40px; text-align: center; vertical-align: middle;}
.box_header .menu li a{ font-size: 13px; line-height:18px; color: #282828; font-family: "Roboto-Medium"; padding: 8px 0 6px; display: inline-block; text-transform: uppercase;}
.box_header .menu li a.active{color: #faba33;}
.box_header .menu li a:hover{ color: #faba33;}
.box_header .menu li a.btn_book{display: inline-block; background: #faba33; color: #FFF; padding: 0 13px; line-height: 35px; font-size: 13px; font-family: "Roboto-Medium";}
.box_header .menu li a.btn_book:hover{background: #0e0e1a; transition:color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box_header .menu li a.btn_book.active{ background-color: #202b53;}
.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}

.box_header.sticky{ position: fixed; top: 0px; z-index: 999999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
.box_header.sticky .menu li a.last{ padding-right: 20px;}
.box_header.sticky .box_user{ display: block; padding: 10px 0 0;}
.box_header.sticky .box_user li a{ display: inline-block; padding: 5px 20px; color: #404041; font-size: 13px; font-weight: 600; height: auto; line-height: normal;}
.box_header.sticky .box_user li a:hover{ color: #0088cc;}
.box_header.sticky .box_user_login{ display: block;}
.box_header.sticky .box_user_login .dropdown-toggle{ background: none !important; height: 50px; line-height: 50px; margin: 0 0 0 20px;}
.box_header.sticky .box_user_login .dropdown-toggle:focus{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle:hover{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle img{ vertical-align: top; margin-top: 5px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:BEFORE{ right: 12px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:AFTER{ right: 13px;}
.box_header.sticky .box_user_login.navbar-nav>li>a{ padding: 15px 20px;}
.box_header.sticky .box_user_login.navbar-nav>li>a:hover{ background: none; color: #000;}

.box_banner {margin-bottom: 100px;}
.box_banner .image img{ width: 100%;}
.box_popup{position: fixed;top: 30%;z-index: 1000; width: 15%;}

.box_popup button{background: transparent; border: none; float: right;}

.box_gioiThieu .container{width: 800px; max-width: 100%;}
.box_gioiThieu .title{font-family: "DP-Bold"; font-size: 37px; line-height: 48px; color: #161f37; padding-left: 66px; position: relative;}
.box_gioiThieu .title:before{position: absolute; content: ""; background: url("../images/gt1.png") no-repeat; width: 100px; height: 100%; top: -20px; left: 25px;}
.box_gioiThieu .title:after{position: absolute; content: ""; background: url("../images/gt2.png") no-repeat; width: 100px; height: 100%; top: 115px; left: 500px;}
.box_gioiThieu .content{line-height: 26px; padding: 60px 100px;}
.box_gioiThieu .content p:nth-child(2){margin-top: 30px;}

.box_video{background: url("../images/bg-video.jpg") no-repeat top; margin-bottom: 100px;}
.box_video .container{width: 800px; max-width: 100%;}
.box_video .title{font-family: "DP-Bold"; font-size: 27px; line-height: 35px; color: #fff; padding-top: 125px;}
.box_video .img{padding: 45px 0 35px 0;}
.box_video .img img{width: 100%;}

.box_loiIch .wrapper{width: 600px; max-width: 100%; padding-top: 100px}
.box_loiIch .title{font-family: "DP-Bold"; font-size: 27px; line-height: 35px; color: #161f37; margin-bottom: 55px;}
.box_loiIch .content{line-height: 26px; padding-left: 85px;}
.box_loiIch .content p{padding-bottom: 30px; position: relative;}
.box_loiIch .content .text-1:before{position: absolute; content: ""; background: url("../images/loiich1.png") no-repeat; width: 100%; height: 100%; top: 0; left: -85px;}
.box_loiIch .content .text-2:before{position: absolute; content: ""; background: url("../images/loiich2.png") no-repeat; width: 100%; height: 100%; top: 0; left: -85px;}
.box_loiIch .content .text-3:before{position: absolute; content: ""; background: url("../images/loiich3.png") no-repeat; width: 100%; height: 100%; top: 0; left: -85px;}
.box_loiIch .content .text-4:before{position: absolute; content: ""; background: url("../images/loiich4.png") no-repeat; width: 100%; height: 100%; top: 0; left: -85px;}
.box_loiIch .row{margin: 0 !important;}
.box_loiIch .left{padding-left: 0;}

.box_dangKy{background: #161f37; padding: 215px 0 100px 0; margin-top: -95px;}
.box_dangKy .container{width: 500px; max-width: 100%;}
.box_dangKy .title{font-family: "DP-Bold"; font-size: 30px; line-height: 26px; color: #fff; margin-bottom: 40px;}
.box_dangKy .form-control{ border-radius: 0; border: 0; border-bottom: 1px solid #d7d7d7; color: #fff;	 font-size: 17px; font-family: "Roboto-Regular"; box-shadow:none; padding: 0; background: transparent;}
.box_dangKy .form-control::placeholder{color: #fff; font-size: 17px; font-family: "Roboto-LightItalic"; line-height: 26px; }
.box_dangKy .col-md-12{margin-bottom: 10px;}
.box_dangKy .input-lg {width: 100%; border: none; border-radius: 0; background: #f2ad21; font-size: 20px; line-height: 26px; font-family: "DP-Bold"; color: #fff; height: 75px; margin-top: 20px;}

.box_images{ overflow: hidden; background: #fff; padding: 0 100px 100px 100px;}
.box_images img{ width: 100%; transform: scale(1); transition: transform .5s;}
.box_images img:hover{ transform: scale(1.2); position: relative; z-index: 1;} 
.box_images table{ width: 100%;} 
.box_images table td{ padding: 2px; overflow: hidden;} 
.box_images table div{ overflow: hidden;} 

.box_comment{ padding: 70px 0 100px 0; background: #fff; background: #161f37;}
.box_comment .container{width: 1000px; max-width: 100%; background: #fff;}

.box_footer{ padding: 60px 0 20px; position: relative; background: #071831; color: #FFF;}
.box_footer .container{ padding: 0 15px;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}
.box_footer .wrap{ margin: 0 -15px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px; margin-bottom: 40px;}
.box_footer .col-1{ width: 440px; max-width: 100%;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 10px;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-2{ width: 250px; max-width: 100%;}
.box_footer .col-3{ width: 280px; max-width: 100%;}
.box_footer .col-4{ width: 250px; max-width: 100%;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #d3a23b; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #1e2b52;}
.box_footer .alert{ font-size: 11px; border-radius: 0; padding: 5px 10px;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}

.box_menuFooter ul{ margin: 0; padding: 0; list-style: none;}
.box_menuFooter ul>li{ display: block;}
.box_menuFooter ul>li>a{ text-transform: uppercase; margin-bottom: 5px; display: block; font-size: 13px;}
.box_menuFooter ul>li>ul{ display: none;}

.box_adsFooter{ overflow: hidden; margin-right: 40px;}
.box_adsFooter a{ display: inline-block; font-size: 10px; padding: 5px 10px 3px; border: 1px solid #FFF; border-radius: 14px; text-transform: uppercase; margin: 0 5px 5px 0;}
.box_adsFooter a:HOVER{ background-color: #FFF; color: #071831 !important;}

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}
.has-error .form-control{border: 1px solid #ec1c3c !important;}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; }

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

iframe[name="google_conversion_frame"]{ height: 0;}

/*RESPONSIVE*/




@media ( max-width : 1600px) {
	.box_loiIch .wrapper{padding-top: 40px; width: 680px;}
	.box_loiIch .title{margin-bottom: 25px;}
	.box_dangKy .title{padding-top: 70px;}

	.box_dangKy{margin-top: -75px; padding-top: 100px;}
}

@media ( max-width : 1000px) {
	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

	.box_header{ height: 43px; position: fixed; border: 0; padding: 0 0 10px 0;}
	.box_header.sticky{ position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }
	.box_header .container{ position: relative;}
	.box_header .logo{ margin-top: 8px !important;}
	.box_header .logo img{ height: 20px;}
	.box_header .menu_mobile{ top: 13px;}
	.box_header .menu_mobile .item{ background-color: #999;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 60%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	.box_header .menu li:first-child{ padding-left: 20px; }
	.box_header .menu{ margin: 0 !important;}
	
	.box_video{margin-bottom: 0;}

	.box_loiIch .left{display: none;}
	.box_loiIch .wrapper{width: 100%;}
	.box_loiIch .title{text-align: center;}
	
	.box_dangKy{margin-top: 0; padding-top: 50px; padding-bottom: 50px;}

	.box_comment{padding: 0;}

	.box_images{margin: 0;}
	
	.popup_video .popup_content{ width: calc(100% - 40px); top: 10%;}
}

@media ( max-width : 768px) {
	body{ color: #282828; font-size: 15px;}
	br{display: none;}
	.prev, .next{display: none;}

	.box_top{display: none;}
	
	.box_banner{margin-bottom: 50px;}
	.box_banner .image img{ margin-top: 43px; }
	
	.box_header{display: block;}
	.box_header.sticky{ padding: 0px; display: flow-root; z-index: 999999;}
	
	.box_gioiThieu .title{font-size: 25px; padding-left: 10px;}
	.box_gioiThieu .title:before{display: none;}
	.box_gioiThieu .title:after{display: none;}
	.box_gioiThieu .content{padding: 0}
	
	.box_video .title{padding-top: 35px;}
	.box_video .desc{color: #fff;}

	.box_loiIch .content{padding-right: 10px;}

	.box_dangKy .title{font-size: 20px; text-align: center;}

	.box_comment{padding: 0;}
	
	.box_dienGia{ padding: 30px 0; background: #202A4E; height: auto; margin-bottom: 50px;}
	.box_dienGia .image{ margin-bottom: 20px;}
	.box_dienGia .image img{ width: 100%;}
	.box_dienGia .box_title .title_1{ font-size: 25px; line-height: 35px; position: relative; padding-bottom: 500px;}
	.box_dienGia .box_title .title_1:before{position: absolute; content: ""; background: url("../images/diengia.jpg") no-repeat top center; bottom: 0; width: 100%; height: 500px;}
	.box_dienGia .box_title .title_2 img{display: none;}
	.box_dienGia .content{ padding: 0 15px;}
	.box_dienGia .box_title{ font-size: 35px; padding-left: 0;}
	.box_dienGia .box_content{ font-size: 17px; padding: 0; width: 100%;}
	.box_dienGia .box_content p{ font-size: 13px; padding-left: 0;}

	.box_images{padding: 0;}
}

@media(max-width:480px){
	
	.box_noiDung .img_list{width: 15%;}
	.box_noiDung .img_show{width: 85%; height: auto;}
	.box_noiDung .box_content .info{position: relative; top: -80px; padding-right: 0;}
	
	.box_loiich .box_content .box_info .title{font-size: 25px; }
	.box_loiich .box_content .box_info .item{font-size: 15px;}
	
	.box_dangKy .uudai .box_content .text_2{font-size: 15px;}
	.box_dangKy .uudai .text{height: 60px; line-height: 60px;}

	.box_tinTuc .box_title{font-size: 25px; padding: 30px 0;}
}

@media(max-width:360px){
	.box_dienGia .box_title .title_2:before{line-height: 35px;}
}