<?php 
    $prodcutCarts 	= $this->productCart;
    $i 				= 1;
    $xhtml 			= '';
    $totalPrice     = 0;
    
    if(!empty($prodcutCarts)) {
    foreach ($prodcutCarts AS $key_cart => $prodcutCart){
        $id             = $prodcutCart['product']['id'];
        $image          = $prodcutCart['product']['image_thumb'];
        $name           = $prodcutCart['product']['name'];
        $product_price	= 0;
        if(!empty($prodcutCart['product']['product_price'])) {
        	if(!empty($prodcutCart['product']['product_sale_percent'])) {
        		$product_price	= $prodcutCart['product']['product_price'] - ($prodcutCart['product']['product_sale_percent'] / 100 * $prodcutCart['product']['product_price']);
        	} else {
        		$product_price	= $prodcutCart['product']['product_price'];
        	}
        }
        $amount         = $prodcutCart['amount'];
        if($product_price > 0) {
            $price      = $product_price * $amount;
            $totalPrice = $totalPrice + $price;
        } else {
            $product_price = 'Liên hệ';
            $price      = '';
        }
        
        $xhtml .= '<tr>
                    <td>'. $i .'</th>
                    <td><img src="'. $image .'" style="width: 80px;"></td>
                    <td>'. $name .'</td>
                    <td class="text-right"><span class="mask_currency">'. $product_price .'</span>đ</td>
                    <td class="text-right"><input type="number" name="amount" value="'. $amount .'" style="width: 60px; padding: 3px; border: 1px solid #DDD;" data-key="'. $key_cart .'"></td>
                    <td class="text-right"><span class="mask_currency">'. $price .'</span>đ</td>
                    <td class="text-center"><a href="'. $this->url('routePost/default', array( 'controller' => 'product', 'action' => 'delete-cart', 'id' => $key_cart )) .'">Xóa</a></td>
                   </tr>';
        $i++;
    }
    
    $xhtml .= '<tr>
                    <th class="text-right" colspan="5">Tổng tiền</th>
                    <th class="text-right"><span class="mask_currency">'. $totalPrice .'</span>đ</th>
                    <th class="text-center"></th>
                   </tr>';
?>

<div class="box_module cart">
	<div class="box_title">
		<h3 class="title">Giỏ hàng</h3>
	</div>
	<div class="box_content">
		<div class="layout_item_product">
		    <div class="table_productCart">
		        <table class="table">
		            <thead>
		            	<tr> 
			            	<th>STT</th> 
			            	<th>Ảnh</th> 
			            	<th>Tên</th> 
			            	<th class="text-right">Giá</th> 
			            	<th class="text-right">Số Lượng</th> 
			            	<th class="text-right">Thành tiền</th> 
			            	<th class="text-center">Công cụ</th>
		            	</tr> 
		            </thead> 
		            <tbody> 
		                <?php echo $xhtml; ?>
		            </tbody> 
		        </table>
		    </div>
	    </div>
    </div>
</div>

<div class="box_module cart">
	<div class="box_title">
		<h3 class="title">Gửi thông tin đặt hàng</h3>
	</div>
	<div class="box_content">
		<div class="layout_item_product">
		    <div class="box_form">
		        <form action="#" id="frmContact" name="frmContact" method="POST" class="">
		            <div class="row">
		                <div class="col-sm-6">
		                    <div class="form-group" id="input-name">
		                        <input type="text" name="name" class="form-control" placeholder="Họ và tên">
		                    </div>
		                    <div class="form-group" id="input-phone">
		                        <input type="text" name="phone" class="form-control" placeholder="Số điện thoại">
		                    </div>
		                </div>
		                <div class="col-sm-6">
		                    <div class="form-group" id="input-email">
		                        <input type="text" name="email" class="form-control" placeholder="Email">
		                    </div>
		                    <div class="form-group" id="input-address">
		                        <input type="text" name="address" class="form-control" placeholder="Địa chỉ">
		                    </div>
		                </div>
		                <div class="col-sm-12">
		                    <div class="form-group" id="input-email">
		                        <textarea class="form-control" name="note" placeholder="Ghi chú"></textarea>
		                    </div>
		                </div>
		            </div>
		            <div class="error"></div>
		            <div class="btnSuccess">
		                <input type="button" value="Đặt hàng ngay" class="btn btn-lg btn-success submit" onclick="successCart();">
		            </div>
		        </form>
		    </div>
	    </div>
    </div>
</div>

<?php 
} else {
    echo '<div class="box_module cart"><div class="alert alert-danger">Bạn chưa có sản phẩm nào trong giỏ hàng, bạn hãy <a href="/">nhấn vào đây</a> để mua hàng.</div></div>';
}
?>

<?php $this->headScript()->captureStart() ?>
    function successCart() {
        var frmData = '#frmContact';
        $.ajax({
			url: '<?php echo $this->url('routePost/default', array('controller' => $this->params['controller'], 'action' => 'cart'));?>',
			type: 'POST',
			data: $(frmData).serialize(),
			beforeSend: function() {
				 $('body').append('<div class="submit_loading"></div>');
			},
			success: function(result) {
			    if(result == 'success') {
			        window.location.href = '<?php echo $this->url('routePost/default', array('controller' => $this->params['controller'], 'action' => 'success-cart'));?>';
			    } else {
			        $(frmData +' .error').html('<div class="alert alert-danger">' + result + '</div>');
			    }
				
				$('.submit_loading').remove();
			}
		});
    }
<?php $this->headScript()->captureEnd() ?>











