<?php 
$language = $this->language;
$language_active = $this->language['language_active'];

if(!empty($this->productCart)) {
    $prodcutCarts 	= $this->productCart;
    $i 				= 1;
    $xhtml 			= '';
    $totalPrice     = 0;
    foreach ($prodcutCarts AS $key_cart => $prodcutCart){
        $id             = $prodcutCart['product']['id'];
        $image          = $prodcutCart['product']['image_thumb'];
        $name           = $prodcutCart['product']['name'];
        $color          = $prodcutCart['product']['color'];
        $price_old      = '';
        $product_price	= 0;
        if(!empty($prodcutCart['product']['product_price'])) {
        	if(!empty($prodcutCart['product']['product_sale_percent'])) {
        		$product_price	= $prodcutCart['product']['product_price'] - ($prodcutCart['product']['product_sale_percent'] / 100 * $prodcutCart['product']['product_price']);
        	} else if(!empty($prodcutCart['product']['product_sale_price'])) {
        	    $product_price	= $prodcutCart['product']['product_price'] - $prodcutCart['product']['product_sale_price'];
        	} else {
        		$product_price	= $prodcutCart['product']['product_price'];
        	}
        }
        $amount         = $prodcutCart['amount'];
        if($product_price > 0) {
            $price      = $product_price * $amount;
            $totalPrice = $totalPrice + $price;
            
            if($product_price != $prodcutCart['product']['product_price']) {
                $price_old = '<span class="price_old mask_currency">'. $prodcutCart['product']['product_price'] .'</span>';
            }
        } else {
            $product_price = 'Liên hệ';
            $price      = '';
        }
        
        $xhtml .= '<tr>
                    <td>'. $i .'</th>
                    <td><img src="'. $image .'" style="width: 80px;"></td>
                    <td>'. $name .'</td>
                    <td class="text-right">'. $price_old .'<span class="mask_currency">'. $product_price .'</span></td>
                    <td class="text-right"><input type="number" name="amount" value="'. $amount .'" style="width: 60px; padding: 3px; border: 1px solid #DDD;" data-key="'. $key_cart .'"></td>
                    <td class="text-right"><span class="mask_currency">'. $price .'</span></td>
                    <td class="text-center"><a href="javascript:;" class="btn_delete" data-key="'. $key_cart .'">'. $language['delete'][$language_active] .'</a></td>
                   </tr>';
        $i++;
    }
    
    $xhtml .= '<tr>
                    <th class="text-right" colspan="5">'. $language['cart_total_price'][$language_active] .'</th>
                    <th class="text-right"><span class="mask_currency">'. $totalPrice .'</span></th>
                    <th class="text-center"></th>
                   </tr>';
?>

<table class="table">
    <thead>
    	<tr> 
        	<th><?php echo $language['cart_index'][$language_active];?></th> 
        	<th><?php echo $language['image'][$language_active];?></th> 
        	<th><?php echo $language['product_name'][$language_active];?></th> 
        	<th class="text-right"><?php echo $language['price'][$language_active];?></th> 
        	<th class="text-right"><?php echo $language['number'][$language_active];?></th> 
        	<th class="text-right"><?php echo $language['intro_money'][$language_active];?></th> 
        	<th class="text-center"><?php echo $language['control'][$language_active];?></th>
    	</tr> 
    </thead> 
    <tbody> 
        <?php echo $xhtml; ?>
    </tbody> 
</table>
<?php
} else {
    echo '<div class="alert alert-danger">'. $language['cart_null'][$language_active] .'</div>';
}
?>








