<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
<?php 
	echo $this->headTitle($this->arrParams['meta']['title']);
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8')
			  ->appendName('author', $this->arrParams['meta']['author'])
			  ->appendName('description', $this->arrParams['meta']['description'])
			  ->appendName('keywords', $this->arrParams['meta']['keywords'])
			  ->appendProperty('og:type', 'website')
			  ->appendProperty('og:title', $this->arrParams['meta']['title'])
			  ->appendProperty('og:description', $this->arrParams['meta']['description'])
			  ->appendProperty('og:image', $this->arrParams['meta']['image']);
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <form action="#" id="frmRegister" name="frmRegister" method="POST">
		<div class="box_image""><img class="img-responsive" src="<?php echo $item['image'];?>"></div>
		<div class="box_dangKy" id="box_dangKy">
			<div class="box_form">
				<div class="row">
					<div class="alert alert-success">Thông tin của bạn đã được gửi thành công. Bộ phận chăm sóc sẽ liên lạc với bạn trong thời gian sớm nhất. Xin cảm ơn</div>
    			</div>
			</div>
		</div>	
	</form>
    
    <?php
	echo $this  -> headScript ()
				-> appendFile ( $this->arrParams ['template'] ['urlJs'] . '/jquery.min.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlJs'] . '/bootstrap.min.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlJs'] . '/me.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlPlugin'] . '/numeric.min.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/jquery.inview.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/fancybox.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/bxslider.min.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/me.js', 'text/javascript' );
	?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->

	<script type="text/javascript">
    $('.mask_currency').autoNumeric("init",{
        mDec: 0,
        aSep: '.',
        aDec: ',', 
    });
    </script>
</body>
</html>