<?php
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $arrControl = array(
        array('name' => 'save', 'caption' => 'Lưu', 'link' => 'javascript:;', 'icon' => 'fa-check', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save\');', 'class' => 'btn')),
        array('name' => 'save-new', 'caption' => 'Lưu &amp; Mới', 'link' => 'javascript:;', 'icon' => 'fa-paste', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-new\');', 'class' => 'btn')),
        array('name' => 'save-close', 'caption' => 'Lưu &amp; Đóng', 'link' => 'javascript:;', 'icon' => 'fa-save', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-close\');', 'class' => 'btn')),
        array('name' => 'close', 'caption' => 'Hủy', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),
    );
    
    $elements = array(
        array('element' => $myForm->get('code'), 'label' => 'Mã', 'validate' => array('require' => true)),
        array('element' => $myForm->get('name'), 'label' => 'Tên', 'validate' => array('require' => true)),
        array('element' => $myForm->get('ordering'), 'label' => 'Thứ tự', 'validate' => array('require' => true)),
        array('element' => $myForm->get('status'), 'label' => 'Hiển thị', 'validate' => array('require' => true)),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true)),
    );
    
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<form method="post" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
	<?php echo @$this->xViewElementErrors($elements);?>
	<div class="page-tabs">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#tab_0" data-toggle="tab">Thông tin chung</a>
			</li>
			<li class="">
				<a href="#tab_1" data-toggle="tab">Phân quyền</a>
			</li>
		</ul>
	</div>
    <div class="page-content">
    	<div class="tab-content">
    		<div class="tab-pane active" id="tab_0">
        		<div class="row">
        			<?php echo $xhtml;?>
        		</div>
    		</div>
    		<div class="tab-pane permission-choice" id="tab_1">
        		<?php
        		$permissions = array();
        		
        		if(!empty($this->item['permission'])) {
        		    $permissions = explode(',', $this->item['permission']);
        		}
        		
        		if(!empty($this->params['data']['permission'])) {
        		    $permissions = $this->params['data']['permission'];
        		}
        		
        		$wordFirst = new \ZendX\Functions\WordFirst('-', ' ');
        		$i = 0;
        		foreach ($this->permission AS $module => $controllers) {
        		    $arrSystem = array('system' => array('index' => array('id' => 'full', 'name' => 'Toàn quyền hệ thống')));
        		    $controllers = array_merge($arrSystem, $controllers);
        		    
        		    foreach ($controllers AS $controller => $actions) {
        		        $i++;
        		        $xhtmlController = $wordFirst->upperFirst($controller);
        		        $xhtmlAction = '';
        		        foreach ($actions AS $action) {
        		            $checked = '';
        		            if(in_array($action['id'], $permissions)) {
        		                $checked = ' checked="checked"';
        		            }
        		            $checkBox = '<label class="checkbox-inline"><input type="checkbox" class="checkboxes" name="permission[]" value="'. $action['id'] .'"'. $checked .'> '. $action['name'] .'</label>';
        		            $xhtmlAction .= sprintf('<div class="col-md-2 col-sm-6"><div class="form-group"><div class="control-element">%s</div></div></div>', $checkBox);
        		        }
        		        
        		        echo sprintf('<div class="row" id="group_permission_'. $i .'"><div class="col-md-12"><a href="javascript:void(0)" onclick="javascript:checkAllGroup(\'group_permission_'. $i .'\');" class="title group-check">%s</a><div class="row">%s</div></div></div>', $xhtmlController, $xhtmlAction);
        		    }
        		}
        		?>
    		</div>
    	</div>
	</div>
</form>