<?php
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $elements = array(
    	array('element' => $myForm->get('name'), 'label' => 'Họ và tên', 'validate' => array('require' => true), 'boxClass' => 'col-md-12'),
    	array('element' => $myForm->get('phone'), 'label' => 'Điện thoại', 'validate' => array('require' => true), 'boxClass' => 'col-md-12'),
    	array('element' => $myForm->get('email'), 'label' => 'Email', 'validate' => array('require' => true), 'boxClass' => 'col-md-12'),
    	array('element' => $myForm->get('sex'), 'label' => 'Giới tính', 'validate' => array('require' => true), 'boxClass' => 'col-md-12'),
    	array('element' => $myForm->get('birthday_year'), 'label' => 'Năm sinh', 'validate' => array('require' => true), 'boxClass' => 'col-md-12'),
    	array('element' => $myForm->get('location_city_id'), 'label' => 'Tỉnh thành', 'validate' => array('require' => true), 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('company_name'), 'label' => 'Tên công ty', 'validate' => array('require' => true), 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('company_position'), 'label' => 'Chức vụ/ Vị trí', 'validate' => array('require' => true), 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('company_size'), 'label' => 'Quy mô công ty', 'validate' => array('require' => true), 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('company_career'), 'label' => 'Chuyên ngành hoạt động', 'validate' => array('require' => true), 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('company_problem'), 'label' => 'Lĩnh vực bạn đang gặp phải trong kinh doanh', 'validate' => array('require' => true), 'boxClass' => 'col-md-12 multicheck'),
    );
    
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<div class="user_box_login">
	<form action="" method="post" autocomplete="off" class="form">
        <div class="box_title">DOWNLOAD BROCHURE</div>
        <div class="box_text">THÔNG TIN CÁC CHƯƠNG TRÌNH ĐÀO TẠO CỦA HBR 2018 - 2019</div>
        <div class="box_content">
        	<div class="row">
        		<div class="col-sm-6">
				    <?php echo @$this->xViewElementErrors($elements);?>
					<div class="row">
						<?php echo $xhtml;?>
						<div class="col-md-12">
							<div class="form-button">
								<button type="submit" name="register-submit" class="form-control btn_download">DOWNLOAD</button>
							</div>
						</div>
					</div>
        		</div>
        	</div>
        </div>
	</form>
</div>
