<?php

$xhtml = '<div class="layout_category_default">';
if(!empty($this->items)) {
    foreach ($this->items AS $key => $item) {
        $item_url       = $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'category_index' => $item['category_index'], 'alias' => $item['alias'], 'index' => $item['index']));
                
        $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = $item['description'];
        
        if($key == 0 && $this->params['paginator']['currentPageNumber'] == 1) {
            $xhtml .= sprintf('
                <div class="item first">
                    <div class="image">%s</div>
                    <div class="info">
                        <h2 class="title">%s</h2>
                        <div class="description">%s</div>
                    </div>
                    <div class="clr"></div>
                </div>', $image_medium, $name, $description
            );
        } else {
            $xhtml .= sprintf('
                <div class="item">
                    <div class="image">%s</div>
                    <div class="info">
                        <h3 class="title">%s</h3>
                        <div class="description">%s</div>
                    </div>
                    <div class="clr"></div>
                </div>', $image_thumb, $name, $description
            );
        }
    }
}
$xhtml .= '</div>';

echo $xhtml;