<?php

$xhtml = '<div class="layout_category_video"><div class="row">';
if(!empty($this->items)) {
    foreach ($this->items AS $key => $item) {
        $item_url       = $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'category_index' => $item['category_index'], 'alias' => $item['alias'], 'index' => $item['index']));
                
        $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        $image          = '<a class="content" href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a class="content" href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a class="content" href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = $item['description'];
        
        $xhtml .= sprintf('
            <div class="col-xs-6 col-sm-4">
                <div class="item">
                    <div class="image play_video">%s</div>
                    <div class="info">
                        <h3 class="title">%s</h3>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>', $image_thumb, $name
        );
    }
}
$xhtml .= '</div></div>';

echo $xhtml;