<?php

    $cookie_name = '';

    $cookie_phone = "user";

    $cookie_email = "user";

    setcookie($cookie_name, $cookie_phone, time() + (84600 * 7));

    if(isset($_POST['name']) && !empty($_POST['name'])){

    $cookie_value=$_POST['name'];

    setcookie($cookie_value, time() + 3600, '/');

    }

    

    $date_sale = 1;

    if(5 < date('d') && date('d') <= 10 ) {

        $date_sale = 10;

    }

    if(10 < date('d') && date('d') <= 15 ) {

        $date_sale = 15;

    }

    if(15 < date('d') && date('d') <= 20 ) {

        $date_sale = 20;

    }

    if(20 < date('d') && date('d') <= 25 ) {

        $date_sale = 25;

    }

    if(25 < date('d') && date('d') <= 30 ) {

        $date_sale = 30;

    }

    if(30 < date('d') && date('d') <= 31 ) {

        $date_sale = 31;

    }



?>

<?php 

    $item       = $this->viewModel['item'];

    $itemAll    = $this->viewModel['itemAll'];

    $params     = $this->viewModel['params'];

    $template   = '/' . basename(__DIR__);

    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';

    $settings   = $this->viewModel['settings'];

?>

<html>

<head>

    <?php 

	// Title

	echo $this->headTitle($item['name']);

	

	// Meta

	echo $this->headMeta()

              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')

	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')

			  ->setCharset('utf-8');

	

	// CSS

	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')

            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')

            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')

            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')

            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')

            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')

            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');

	

    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';

    ?>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />

</head>

<body>

    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/top.php';?>

    <div class="box_header" id="box_menu">

        <div class="container">

            <div class="row">

                <div class="col-md-1">

                    <a href="" class="logo"><img src="<?php echo $urlImg;?>/logo.png"></a>

                </div>

                <div class="col-md-3">

                    <span class="hotline hidden-xs hidden-sm">

                        <i class="fa fa-phone" aria-hidden="true"></i>

                        <?php

                        $hotline = explode(' - ', $setting['General.System.Hotline']['value']);

                        foreach ($hotline AS $key => $val) {

                        if($key == 0) {

                        echo '<a href="tel:'. str_replace('.', '', $val) .'">'. $val .'</a>';

                        } else {

                        echo ' - <a href="tel:'. str_replace('.', '', $val) .'">'. $val .'</a>';

                        }

                        }

                        ?>

                    </span>

                </div>

                <div class="col-md-8">

                    <div class="clr"></div>

                        <ul class="menu hidden-xs hidden-sm">

                            <ul class="nav navbar-nav navbar-right">

                            <li><a href="javascript:;" class="go_box_noiDung">Nội dung khóa học</a></li>

                            <li><a href="javascript:;" class="go_box_dienGia">Giảng viên</a></li>

                            <li><a href="javascript:;" class="go_box_camNhanHocVien">Cảm nhận học viên</a></li>

                            <li><a href="javascript:;" class="go_box_cauHoiThuongGap">Câu hỏi thường gặp</a></li>

                            <li><a href="javascript:;" class="go_box btn_book" data-box="box_dangKy">Đăng ký ngay</a></li>

                        </ul>

                    </ul>

                </div>

            </div>

            <div class="menu_mobile hidden-md hidden-lg">

                <span class="hotline">

                    <i class="fa fa-phone" aria-hidden="true"></i>

                    <?php

                    $hotline = explode(' - ', $setting['General.System.Hotline']['value']);

                    foreach ($hotline AS $key => $val) {

                    if($key == 0) {

                    echo '<a href="tel:'. str_replace('.', '', $val) .'">'. $val .'</a>';

                    } else {

                    echo ' - <a href="tel:'. str_replace('.', '', $val) .'">'. $val .'</a>';

                    }

                    }

                    ?>

                </span>

                <a href="javascript:;" class="go_box btn_book" data-box="box_dangKy form">Đăng ký ngay</a>

            </div>

        </div>

    </div>

    <!-- end box_header -->



    <div class="box_banner" id="box_banner">

        <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>

    </div>

    <!-- end box_banner -->



    <div class="benefit">

        <div class="container">

            <div class="bodder-class">

                <div class="title-benefit title-bodder-double">

                    Anh/chị nhận được gì từ khóa học &quest;

                </div>

            </div>



            <div class="col-md-12">

                <div class="benefit-content">

                    <div class="benefit-content-item col-md-2 col-sm-6">

                        <img class="icon" src="<?php echo $urlImg; ?>/loiich/loiich1.png" />

                        <div class="content">

                            Khóa học cung cấp tư duy mới về dịch vụ chăm sóc khách hàng trong thời đại 4.0.

                        </div>

                    </div>



                    <div class="benefit-content-item col-md-2 col-sm-6">

                        <img class="icon" src="<?php echo $urlImg; ?>/loiich/loiich2.png" />

                        <div class="content">

                            Hiểu sâu về Dịch vụ chăm sóc khách hàng toàn diện (từ chiến lược đến các chỉ số đo lường), hành trình khách hàng & các điểm chạm.

                        </div>

                    </div>



                    <div class="benefit-content-item col-md-2 col-sm-6">

                        <img class="icon" src="<?php echo $urlImg; ?>/loiich/loiich3.png" />

                        <div class="content">

                            Phân tích các ví dụ thực tế, thông qua đó cung cấp cho học viên hệ thống kiến thức/bài học có tính ứng dụng cao.

                        </div>

                    </div>



                    <div class="benefit-content-item col-md-2 col-sm-6">

                        <img class="icon" src="<?php echo $urlImg; ?>/loiich/loiich4.png" />

                        <div class="content">

                            Thấu hiểu chân dung khách hàng & nắm vững các bí quyết vàng để tạo ra khách hàng trung thành / khách hàng fans, qua đó giúp tăng trưởng doanh số vượt bậc.

                        </div>

                    </div>



                    <div class="benefit-content-item col-md-2 col-sm-6">

                        <img class="icon" src="<?php echo $urlImg; ?>/loiich/loiich2.png" />

                        <div class="content">

                            Hỏi-đáp, giao lưu trực tiếp với diễn giả, tháo gỡ vướng mắc, tư vấn chiến lược cho các nhà lãnh đạo & quản lý doanh nghiệp.

                        </div>

                    </div>

                </div>



                 <div class="button-register text-center">

                    <button class="btn-register go_box" data-box="box_dangKy" type="button">Đăng ký ngay</button>

                </div>

            </div>

        </div>

    </div>



    <section class="box_noiDung" id="box_noiDung">

        <div class="box_content">

            <div class="container">

                <div class="col-sm-3"><div class="img img_1"><img src="<?php echo $urlImg; ?>/icon.png"></div></div>

                <div class="col-sm-9">

                    <h3 class="box_title">NỘI DUNG KHÓA HỌC</h3>

                </div>

            </div>

            <div class="container">

                <div class="content">

                    <div class="item item_1">

                        <div class="col-sm-4"><div class="img"><img src="<?php echo $urlImg; ?>/icon-2.png"></div></div>

                        <div class="col-sm-8">

                            <div class="value">

                                <h3 class="title">TƯ DUY MỚI VỀ DỊCH VỤ CHĂM SÓC KHÁCH HÀNG</h3>

                                <div class="text">

                                    <p class="text_item">Định nghĩa mới về lợi thế cạnh tranh & vai trò của Dịch vụ Chăm sóc Khách hàng trong Dòng lợi thế cạnh tranh.</p>

                                    <p class="text_item">Phân loại 4 kiểu công ty hiện nay: tập trung vào con người, tập trung vào hệ thống nội bộ, tập trung vào sự cạnh tranh, tập trung vào khách hàng.</p>

                                    <p class="text_item">Thảo luận nhóm về 10 tội ác/tội phạm đối với khách hàng và các tác động tiêu cực tới doanh nghiệp.</p>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="item item_2">

                        <div class="col-sm-4"><div class="img"><img src="<?php echo $urlImg; ?>/icon-3.png"></div></div>

                        <div class="col-sm-8">

                            <div class="value">

                                <h3 class="title">XÂY DỰNG VĂN HÓA LẤY KHÁCH HÀNG LÀM TRỌNG TÂM - NGUYÊN LÝ CỐT LÕI ĐỂ TẠO RA SỰ KHÁC BIỆT TRÊN THỊ TRƯỜNG</h3>

                                <div class="text">

                                    <p class="text_item">Xây dựng & đồng bộ Chiến Lược với Văn Hóa lấy khách hàng làm trọng tâm.</p>

                                    <p class="text_item">4 giai đoạn của lấy khách hàng làm trung tâm & 5 cấp độ phục vụ khách hàng.</p>

                                    <p class="text_item">Thực hành nhóm đánh giá về dịch vụ chăm sóc khách hàng & phân tích các tình huống thực tế.</p>

                                    <p class="text_item">Các yếu tố phổ biến của doanh nghiệp đạt cấp độ phục vụ 5.</p>

                                    <p class="text_item">7 bước đối xử với khách hàng & nguyên tắc vàng của hành vi.</p>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="item item_3">

                        <div class="col-sm-4"><div class="img"><img src="<?php echo $urlImg; ?>/icon-4.png"></div></div>

                        <div class="col-sm-8">

                            <div class="value">

                                <h3 class="title">THIẾT KẾ HỆ THỐNG DỊCH VỤ CHĂM SÓC KHÁCH HÀNG & CÁC ĐIỂM CHẠM</h3>

                                <div class="text">

                                    <p class="title-child">1. Chiến lược chăm sóc khách hàng chuyên nghiệp</p>

                                    <p class="text_item">Sự dịch chuyển về tư duy chiến lược chăm sóc khách hàng trong kỷ nguyên số.</p>

                                    <p class="text_item">Thảo luận về các kỳ vọng của khách hàng.</p>

                                    <p class="text_item">Ứng dụng 7 cấp độ thân mật khách hàng để nâng cao trải nghiệm.</p>

                                    <p class="text_item">Thấu hiểu 5 mong muốn của khách hàng để tạo ra sự khác biệt về dịch vụ.</p>

                                    <p class="text_item">Thực hành 5 bước tạo chiến lược dịch vụ chăm sóc khách hàng.</p>
                                    <p class="title-child">2. Bản đồ hành trình khách hàng</p>
                                    <p class="text_item">Hiểu về 7 giai đoạn của hành trình khách hàng.</p>

                                    <p class="text_item">Danh sách 10 điểm chạm trải nghiệm khách hàng quan trọng trong kỷ nguyên 4.0.</p>

                                    <p class="text_item">Thực hành 7 bước thiết kế dịch vụ chăm sóc khách hàng.</p>

                                    <p class="text_item">Thấu hiểu biểu đồ Swim - Lane của các điểm chạm trải nghiệm khách hàng & phân tích các ví dụ thực tế.</p><p class="title-child">3. Hệ sinh thái tiêu dùng</p>
                                    <p class="text_item">5 nhân tố để xây dựng chiến lược sản phẩm khác biệt hóa.</p>

                                    <p class="text_item">9 nhân tố để thấu hiểu Insight khách hàng mục tiêu.</p>

                                    <p class="text_item">5 nguyên tắc để đánh giá trải nghiệm WOW.</p>

                                    <p class="text_item">Thảo luận nhóm & thực hành thiết kế dịch vụ chăm sóc khách hàng mới cho công ty bạn.</p>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="item item_4">

                        <div class="col-sm-4"><div class="img"><img src="<?php echo $urlImg; ?>/icon-5.png"></div></div>

                        <div class="col-sm-8">

                            <div class="value">

                                <h3 class="title">CHÂN DUNG KHÁCH HÀNG & CÁC CHỈ SỐ ĐO LƯỜNG DỊCH VỤ CHĂM SÓC KHÁCH HÀNG</h3>

                                <div class="text">

                                    <p class="title-child">1. Chân dung khách hàng</p>

                                    <p class="text_item">9 nhân tố để xây dựng chân dung khách hàng mục tiêu của doanh nghiệp.</p>

                                    <p class="text_item">Công thức "Ký ức trải nghiệm".</p>
                                    <p class="title-child">2. Các chỉ số đo lường dịch vụ chăm sóc khách hàng</p>

                                    <p class="text_item">Khái niệm đo lường dịch vụ chăm sóc khách hàng.</p>

                                    <p class="text_item">Phương pháp xây dựng bộ tiêu chí VoC đánh giá tiếng nói khách hàng.</p>

                                    <p class="text_item">Thấu hiểu 5 mục đích khách hàng ghé thăm doanh nghiệp / cửa hàng của bạn.</p>

                                    <p class="text_item">Thảo luận nhóm & thực hành các case - studies thực tế.</p>


                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="container">

                <div class="button-register">

                    <button class="btn-register go_box" data-box="box_dangKy">Đăng ký ngay</button>

                </div>

            </div>

        </div>

    </section>



    <section class="evaluate">

        <div class="container">

            <div class="bodder-class">

                <div class="title-evaluate title-bodder-double">

                    Rất nhiều học viên nổi tiếng đánh giá tốt về khóa học

                </div>

            </div>



            <div class="face-evaluate">

                <div class="item-face-valuate col-6 col-md-6 col-lg-3">

                    <img src="<?php echo $urlImg; ?>/danhgia/danhgia1.png">

                    <div class="content-evaluate">

                        <p class="name">Anh Nguyễn Văn Hùng</p>

                        <p class="ponsition">Founder & CEO công ty An Phú Việt</p>

                    </div>

                </div>



                <div class="item-face-valuate col-6 col-md-6 col-lg-3">

                    <img src="<?php echo $urlImg; ?>/danhgia/danhgia2.png">

                    <div class="content-evaluate">

                        <p class="name">Chị Junhee.Ngọc Nguyễn</p>

                        <p class="ponsition">Founder & CEO của Junhee Beauty Group</p>

                    </div>

                </div>



                <div class="item-face-valuate col-6 col-md-6 col-lg-3">

                    <img src="<?php echo $urlImg; ?>/danhgia/danhgia3.png">

                    <div class="content-evaluate">

                        <p class="name">Anh Lê Thành Vân</p>

                        <p class="ponsition">Founder & CEO tại GUMAC</p>

                    </div>

                </div>



                <div class="item-face-valuate col-6 col-md-6 col-lg-3">

                    <img src="<?php echo $urlImg; ?>/danhgia/danhgia4.png">

                    <div class="content-evaluate">

                        <p class="name">Anh Nguyễn Việt Hòa</p>

                        <p class="ponsition">Founder & CEO công ty thời trang Yody</p>

                    </div>

                </div>



            </div>



            <div class="button-register">

                <button class="btn-register go_box" data-box="box_dangKy" type="button">Đăng ký ngay</button>

            </div>

        </div>

    </section>



    <section class="box_student">

        <div class="container">

            <div class="col-md-12">

                <div class="border_title">

                    <div class="box_student_tieuDe">

                        Câu chuyện thành công

                    </div>

                </div>

            </div>

        </div>

        <?php echo $this->blkDocument($this->arrParams, 'feedback', array('cache' => true, 'type' => array('alok')));?>

    </section>



    <section class="box_dienGia" id="box_dienGia">

        <div class="container">

            <div class="col-md-12 box_dienGia_col_12">

                <div class="box_content">

                    <div class="col-md-5">

                        <div class="speaker-alok-video text-center">

                            <div class="image" onclick="play_video('https://www.youtube.com/embed/WydiGa2Iy0Y');"></div>

                        </div>

                    </div>

                    <div class="col-md-7">

                        <div class="box_content_detail">

                            <div class="speaker-name">TS. Alok Bharadwaj</div>

                            <div class="speaker-about">

                                Tiến sĩ Alok Bharadwaj từng là Phó chủ tịch cao cấp, phụ trách chiến lược của Canon châu Á, nơi ông đã điều hành và phát triển kinh doanh tại 23 quốc gia. Thành viên trong hội đồng cố vấn của tạp chí kinh doanh Harvard. Hiện nay là Giám đốc điều hành công ty tư vấn CreoVate.

                            </div>

                            <div class="speaker-detail">

                                <p class="item">Giám đốc bán hàng Voltas (Tata Group) 06/1985 - 02/1989.</p>

                                <p class="item">Giám đốc Marketing Usha International 03/1989 - 09/1994.</p>

                                <p class="item">Giám đốc bán hàng Motorola khu vực Nam Á 10/1994 - 05/2001.</p>

                                <p class="item">Phó chủ tịch kiêm giám đốc điều hành Canon Ấn Độ 06/2001 - 12/2014.</p>

                                <p class="item">Giám đốc Marketing giỏi nhất của năm 2009 do Hiệp hội Giám đốc Marketing tại Mỹ (CMO Council USA) công nhận.</p>

                                <p class="item">Nguyên chủ tịch hiệp hội Marketing Châu Á.</p>

                                <p class="item">Phó chủ tịch cao cấp, phụ trách chiến lược Canon tại 23 quốc gia ở châu Á 01/2015 - 06/2017.</p>

                                <p class="item">Giám đốc điều hành công ty tư vấn CreoVate 7/2017 - Hiện tại.</p>

                                <p class="item">Thành viên trong hội đồng cố vấn của Tạp chí Kinh doanh Harvard.</p>

                                <p class="item">Đối tác tư vấn, cố vấn của Tập đoàn AON Hewitt – Tập đoàn tư vấn quản trị & nguồn nhân lực lớn nhất thế giới có trụ sở tại 120 quốc gia.</p>

                            </div>

                        </div>

                        <div class="button-register">

                            <button class="btn-register go_box" data-box="box_dangKy">Đăng ký ngay</button>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>



    <section class="box_thongTinKhoaHoc" id="box_thongTinKhoaHoc">

        <div class="container">

            <div class="col-md-12">

                <div class="border_title">

                    <div class="thongTinKhoaHoc_tieuDe">

                        Thông tin khóa học

                    </div>

                </div>

            </div>



            <div class="col-md-12">

                <div class="thongTinKhoaHoc_content">

                    <div class="col-md-5">

                        <div class="col-md-12 content_detail">

                            <div class="col-md-3 location">HÀ NỘI</div>

                            <div class="col-md-9 infor">

                                <span class="infor_time">9H - 17H, NGÀY 12 - 13/10/2019</span>

                                <span>TẦNG 2,KHÁCH SẠN SUPER CANDLE, SỐ 287 ĐỘI CẤN, BA ĐÌNH, HÀ NỘI</span>

                            </div>

                        </div>



                        <div class="col-md-12 content_detail">

                            <div class="col-md-3 location">TP.HCM</div>

                            <div class="col-md-9 infor">

                                <span class="infor_time">9H - 17H, NGÀY 9 - 10/10/2019</span>

                                <span>Tầng G, Phòng Roman Theatre, Gracy R&J Hotel số 102-104-106 Lê Thị Hồng Gấm, Quận 1, TP.Hồ Chí Minh</span>

                            </div>

                        </div>



                        <div class="col-md-12 content_detail">

                            <div class="col-md-3 location">HOTLINE</div>

                            <div class="col-md-9 infor">082.999.6886 – 082.999.6633</div>

                        </div>

                    </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-6">

                        <div class="col-md-12 content_right">

                            <div class="hocPhi">

                                HỌC PHÍ: 7.000.000Đ/ HỌC VIÊN

                            </div>

                            <div class="uuDai">

                                ƯU ĐÃI KHI ĐĂNG KÝ TRƯỚC NGÀY 1/10/2019

                            </div>

                            <div class="giaVe">

                                <p class="item">01 VÉ: 6.500.000Đ/ HỌC VIÊN</p>

                                <p class="item">02-04 VÉ: 6.200.000Đ/ HỌC VIÊN</p>

                                <p class="item">TỪ 05 VÉ TRỞ LÊN: 6.000.000Đ/ HỌC VIÊN</p>

                            </div>

                            <div class="hotLine">

                                Học viên cũ và đăng ký theo nhóm vui lòng liên hệ. Hotline 082.999.6886 Hoặc 082.999.6633 để nhận ưu đãi và hỗ trợ riêng

                            </div>

                            <div class="note">

                                Khóa học thuộc chuỗi Quản trị điều hành chuyên nghiệp 2019

                            </div>

                        </div>

                        <div class="btnTTKH text-center" style="cursor: pointer;">

                            <div class="button-register">

                                <button class="btn-register go_box" data-box="box_dangKy">Đăng ký ngay</button>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>



    <section class="box_formDangKy" id="box_dangKy">

        <div class="container container_box">

            <div class="col-md-12">

                <div class="border_title">

                    <div class="formDangKy_title">

                        Đăng ký nhanh tay nhận ngay ưu đãi

                    </div>

                </div>

            </div>



            <div class="col-md-12">
                <div class="container">
                    <div class="formDangKyNgay">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="timer">
                                    <div class="price text-center">
                                        <div class="col-md-5 price_left">7.000.000Đ</div>
                                        <div class="col-md-7 price_right">CHỈ CÒN 6.000.000Đ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="price_title">
                                    Thời gian ưu đãi
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="end_sales">
                                    <div id="countdown">
                                        <div id='tiles'></div>
                                        <div class="clock" id="clock">
                                            <div class="boxe"><span id="days"></span>ngày</div>
                                            <div class="boxe"><span id="hours"></span>giờ</div>
                                            <div class="boxe"><span id="minutes"></span>phút</div>
                                            <div class="boxe"><span id="seconds"></span>giây</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1"></div>

                        <div class="col-md-5">

                            <div class="mainForm">

                                <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">

                                    <div class="form" id="box_dangKy">

                                        <div class="box_content">

                                            <div class="step_1">

                                                <div class="col-md-12">

                                                    <div class="form-group" id="input-location_city_id">

                                                        <select name="location_city_id" class="form-control">

                                                            <option value="">Chọn địa điểm tham gia</option>

                                                            <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>

                                                            <option value="1471419543-77s5-83it-g000-9j600uz74951">TP. Hồ Chí Minh</option>

                                                        </select>

                                                     </div>

                                                </div>

                                                <div class="col-md-12">

                                                    <div class="form-group" id="input-name">

                                                        <input name="name" type="text" class="form-control" placeholder="Họ và tên">

                                                    </div>

                                                </div>

                                                <div class="col-md-12">

                                                    <div class="form-group" id="input-phone">

                                                        <input name="phone" type="text" class="form-control" placeholder="Điện thoại">

                                                    </div>

                                                </div>

                                                <div class="col-md-12">

                                                    <div class="form-group" id="input-email">

                                                        <input name="email" type="text" class="form-control" placeholder="Email">

                                                    </div>

                                                </div>

                                                <div class="col-sm-6 number_left">

                                                    <div class="form-group" id="input-number">

                                                        <input name="number" type="number" class="form-control" min="0" placeholder="Số vé">

                                                    </div>

                                                </div>

                                                <div class="col-sm-6 price2_right">

                                                    <div class="form-group" id="input-price">

                                                        <input name="price" type="text" class="form-control mask_currency" placeholder="Thành tiền" readonly>

                                                    </div>

                                                </div>

                                            </div>

                                                

                                            <div class="step_2 hidden">

                                                <div class="col-sm-6">

                                                    <div class="form-group" id="input-company_name">

                                                        <input name="company_name" type="text" class="form-control" placeholder="Công ty">

                                                    </div>

                                                </div>

                                                <div class="col-md-6">

                                                    <?php

                                                        $company_position = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-position" )), array('task' => 'cache'));

                                                    ?>

                                                    <div class="form-group" id="input-company_position">

                                                        <select name="company_position" class="form-control">

                                                            <option class="company_position" value="">Chức vụ</option>

                                                            <?php

                                                                foreach ($company_position AS $val) {

                                                                    $id     = $val['id'];

                                                                    $name   = $val['name'];

                                                            ?>  

                                                            <option class="company_position" value="<?php echo $id; ?>"><?php echo $name; ?></option>

                                                            <?php } ?>

                                                        </select> 

                                                    </div>

                                                </div>

                                                <div class="col-md-12">

                                                    <?php

                                                        $company_problem = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-problem" )), array('task' => 'cache'));

                                                    ?>

                                                    <div class="form-group" id="input-company_problem">

                                                        <select name="company_problem[]" class="selectpicker form-control" multiple data-selected-text-format="count > 4" title="Vấn đề các anh/Chị đang gặp phải.">

                                                            <?php

                                                                foreach ($company_problem AS $value) {

                                                                    $id     = $value['id'];

                                                                    $name   = $value['name'];

                                                            ?>  

                                                            <option class="company_problem" value="<?php echo $id; ?>"><?php echo $name; ?></option>

                                                            <?php } ?>

                                                        </select> 

                                                    </div>

                                                </div>

                                                <div class="col-md-12">

                                                    <div class="form-group" id="input-content">

                                                        <input name="content" type="text" class="form-control" placeholder="Anh/Chị vui lòng mô tả chi tiết vấn đề của mình">

                                                    </div>

                                                </div>

                                            </div>

                                            <div class="col-md-12">

                                                <div class="btnSuccess">

                                                    <input type="hidden" name="course_id" value="">

                                                    <input type="hidden" name="form_id" value="<?php echo $item['form_id'];?>">

                                                    <input type="hidden" name="form_data_id" value="">

                                                    <input type="hidden" name="type" value="form">

                                                    <?php 

                                                        if ($link == '') {

                                                            $input = '<input type="hidden" name="source" value="landing_page">';

                                                        }else{

                                                            $input = '<input type="hidden" name="source" value="'.$link.'">';

                                                        }

                                                        ?>

                                                    <?php

                                                        echo $input;

                                                    ?>

                                                    <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">

                                                    <div class="button-register step_1" style="width: 100%;" onclick="javascript:formRegisterDefault('frmRegister'); fbq('track', 'CompleteRegistration');">

                                                        <input type="button" class="btn-register text-center" value="Đăng ký ngay">

                                                    </div>

                                                    <div class="button-register step_2 hidden" style="width: 100%;" onclick="javascript:formRegisterDefaultUpdate('frmRegister');">

                                                        <input type="button" class="btn-register text-center" value="Hoàn tất">

                                                    </div>

                                                </div>

                                            </div> 

                                        </div>

                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>



    <section class="box_cauHoiThuongGap" id="box_cauHoiThuongGap">

        <div class="container">

            <div class="col-md-12">

                <div class="border_title">

                    <div class="cauHoiThuongGap_tieuDe">

                        Một số câu hỏi thường gặp

                    </div>

                </div>

            </div>

            <div class="col-md-12 content_main">

                <div class="col-md-6 content_left">

                    <div class="question">

                        <div class="question_name">

                            <p class="q_title">Câu hỏi 1:</p>

                            <p class="q_text">Thưa tiến sĩ, làm thế nào để giảm chi phí, tăng tỉ lệ tiếp cận và chuyển đổi khách hàng trong hoạt động Marketing</p>

                        </div>

                        <div class="question_answer">

                            <p class="a_title">Trả lời:</p>

                            <p class="a_text text-center">

                                <div class="image_01" onclick="play_video('https://www.youtube.com/embed/H0ylfApYyFg');"></div>

                            </p>

                        </div>

                    </div>



                    <div class="question">

                        <div class="question_name">

                            <p class="q_title">Câu hỏi 3:</p>

                            <p class="q_text">Thưa tiến sĩ, xây dựng chiến lược MKT khi phát triển sản phẩm mới như thế nào</p>

                        </div>

                        <div class="question_answer">

                            <p class="a_title">Trả lời:</p>

                            <p class="a_text text-center">

                                <div class="image_03" onclick="play_video('https://www.youtube.com/embed/pICbHSvyZHM');"></div>

                            </p>

                        </div>

                    </div>

                </div>

                <div class="col-md-6 content_right">

                    <div class="question">

                        <div class="question_name">

                            <p class="q_title">Câu hỏi 2:</p>

                            <p class="q_text">Thưa Tiến sĩ, đầu tư vào điểm chạm nào (Online hay Offline) để tối ưu trải nghiệm khách hàng</p>

                        </div>

                        <div class="question_answer">

                            <p class="a_title">Trả lời:</p>

                            <p class="a_text text-center">

                                <div class="image_02" onclick="play_video('https://www.youtube.com/embed/sWwnWvYYY4Y');"></div>

                            </p>

                        </div>

                    </div>



                    <div class="question">

                        <div class="question_name">

                            <p class="q_title">Câu hỏi 4:</p>

                            <p class="q_text">Làm sao để biết được khách hàng đang ở trong giai đoạn nào để thúc đẩy khách hàng mua sản phẩm của mình, trở thành khách hàng trung thành</p>

                        </div>

                        <div class="question_answer">

                            <p class="a_title">Trả lời:</p>

                            <p class="a_text text-center">

                                <div class="image_04" onclick="play_video('https://www.youtube.com/embed/3DrOqZpN8d0');"></div>

                            </p>

                        </div>

                    </div>

                </div>

            </div>

            <!-- <div class="col-md-12 btnDangBoLoKhoaHoc text-center" style="cursor: pointer;">

                <a href="javascript:;" class="go_box" data-box="box_dangKy">

                    <img src="<?php echo $urlImg;?>/btn-dungBoLoKhoaHoc.png" alt="">

                </a>

            </div> -->

            <div class="button-register">

                <button class="btn-register go_box" data-box="box_dangKy">Đừng bỏ lỡ khóa học</button>

            </div>

        </div>

    </section>



    <section class="box_camNhanHocVien" id="box_camNhanHocVien">

        <div class="container">

            <div class="col-md-12">

                <div class="border_title">

                    <div class="camNhanHocVien_tieuDe">

                        Cảm nhận học viên

                    </div>

                </div>

            </div>

        </div>

        <div class="container">

            <div class="box_content">

                <div class="col-md-12">

                    <div class="col-sm-4">

                        <div class="item item_1">

                            <div class="img"><img src="<?php echo $urlImg;?>/hoc-vien-01.jpg"></div>

                            <div class="value">

                                <h3 class="title">Anh Lucas Nguyễn</h3>

                                <div class="text">Mình thuộc thế hệ 7X nên gặp rất nhiều khó khăn trong việc tiếp cận thị trường công nghệ 4.0, nhất là trong tuyển dụng, xây dựng đội ngũ MKT chuyên nghiệp để nắm bắt hành vi, tiến tới áp dụng công nghệ để phục vụ trải nghiệm khách hàng.</div>

                                <div class="text">Sau buổi chia sẻ của thầy Alok, mình đã nhận thức được rất nhiều điều, đầu tiên mình cần quan tâm nhất là để triển khai cho đến sản phẩm là tập trung phân tích hành vi khách hàng, insight khách hàng, bản chất mình tìm được mong mỏi của khách hàng là gì và từ đó đưa ra chiến lược thực thi đến áp dụng.</div>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-4">

                        <div class="item item_2">

                            <div class="img mai-anh-img-top"><img src="<?php echo $urlImg;?>/hoc-vien-02.jpg"></div>

                            <div class="value">

                                <h3 class="title">Chị Ánh Mai - Founder Công ty TNHH Bestbay Việt Nam</h3>

                                <div class="text">Những kiến thức thầy dạy rất thực tế và sau mỗi khóa của thầy, mình về và áp dụng vào doanh nghiệp. Thực tế doanh nghiệp của mình đang tốt lên từng ngày kể cả về doanh số, văn hóa, cũng như là tất cả mọi mặt đều tốt lên.</div>

                                <div class="text" style="padding-bottom: 15px;">Mình cảm thấy rất vui và biết ơn Thầy, cái mình nhận được nhiều nhất là việc đồng bộ giữa mục đich học tập và mục tiêu của công ty, cái đấy rất quan trọng để mình có thể xây dựng được lộ trình học tập cho nhân viên cũng như là cái xây dựng lộ trình sự nghiệp cho người <b>Hi- Potential</b></div>

                            </div>

                            <div class="img mai-anh-img-bottom"><img src="<?php echo $urlImg;?>/hoc-vien-02.jpg"></div>

                            <div class="button-register">

                                <button class="btn-register go_box" data-box="box_dangKy">Đăng ký ngay</button>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-4">

                        <div class="item item_3">

                            <div class="img tran-quoc-anh-img-top"><img src="<?php echo $urlImg;?>/hoc-vien-03.jpg"></div>

                            <div class="value">

                                <h3 class="title">Anh Trần Quốc Anh</h3>

                                <div class="text">Trước khi tham gia khóa học của thầy Alok, Beta gặp rất nhiều khó khăn về chiến lược, tầm nhìn, sứ mệnh, thực thi chiến lược, Các phòng ban chưa có sự phối hợp với nhau, thực thi gặp rất nhiều thử thách khiến kết quả chưa đạt được như kì vọng.</div>

                                <div class="text">Trước mình là một giáo viên dạy toán, khi mình trở thành một người đứng đầu tổ chức, nhất là mô hình chuỗi cần rất nhiều kiến thức về lãnh đạo, quản lý, điều hành, chiến lược, ...</div>

                                <div class="text">Mình đã học ở rất nhiều nơi khác nhau nhưng đều là những mảnh ghép rất tủn mủn, một chút một. Khi gặp được thầy Alok thì mình cảm thấy rằng có góc nhìn tổng quan hơn và nó nhất quán từ trên xuống dưới, cảm thấy việc vận hành logic, rõ ràng, hiệu quả hơn rất nhiều.</div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    

    <section class="box_baoChi" id="box_baoChi">

        <div class="container">

            <div class="col-md-12">

                <div class="border_title">

                    <div class="baoChi_tieuDe">

                        BÁO CHÍ NÓI VỀ TS.ALOK

                    </div>

                </div>

            </div>



            <div class="col-md-12">

                <div class="baoChi_news">

                    <div class="col-md-3 col-xs-6">

                        <a href="https://www.tienphong.vn/gioi-tre/thach-thuc-song-con-thoi-dai-40-1205770.tpo" target="_blank"><img src="<?php echo $urlImg;?>/news-tien-phong.png" alt=""></a>

                    </div>

                    <div class="col-md-3 col-xs-6">

                        <a href="http://cafef.vn/tien-si-alok-bharadwaj-cac-nha-lanh-dao-doanh-nghiep-o-viet-nam-rat-doi-khat-kien-thuc-20190322161527882.chn" target="_blank"><img src="<?php echo $urlImg;?>/news-cafef.png" alt=""></a>

                    </div>

                    <div class="col-md-3 col-xs-6">

                        <a href="https://tuoitrethudo.com.vn/xay-dung-nang-luc-to-chuc-trong-thoi-dai-40-d2038170.html" target="_blank"><img src="<?php echo $urlImg;?>/news-tuoi-tre-thu-do.png" alt=""></a>

                    </div>

                    <div class="col-md-3 col-xs-6">

                        <a href="http://cafebiz.vn/3-chia-khoa-then-chot-tao-nen-thanh-cong-cho-doanh-nghiep-20180403170214962.chn" target="_blank"><img src="<?php echo $urlImg;?>/news-cafebiz.png" alt=""></a>

                    </div>

                </div>

            </div>

        </div>

    </section>



    <div class="box_comment">

        <?php

            $link_page = explode('?', $_SERVER['REQUEST_URI']);

            $link_page = 'http://'. $_SERVER['HTTP_HOST'] . $link_page[0];

        ?>

        <div class="container">

            <div class="fb-comments" data-href="<?php echo $link_page;?>" width="1200" data-numposts="10" order_by="reverse_time"></div>

        </div>

    </div>



    <div class="box_images">

        <table>

            <tr>

                <td><div><img  src="<?php echo $urlImg;?>/image-01.jpg"></div></td>

                <td><div><img  src="<?php echo $urlImg;?>/image-02.jpg"></div></td>

                <td><div><img src="<?php echo $urlImg;?>/image-03.jpg"></div></td>

                <td><div><img  src="<?php echo $urlImg;?>/image-04.jpg"></div></td>

            </tr> 

        </table>

        <table>

            <tr>

                <td><div><img src="<?php echo $urlImg;?>/image-05.jpg"></div></td>

                <td><div><img src="<?php echo $urlImg;?>/image-06.jpg"></div></td>

                <td><div><img src="<?php echo $urlImg;?>/image-07.jpg"></div></td>

                <td><div><img src="<?php echo $urlImg;?>/image-08.jpg"></div></td>

            </tr>

        </table>

    </div>

    <!-- end box_images -->

    

    <div class="btnAfterAlbum">

        <div class="button-register">

            <button class="btn-register go_box" data-box="box_dangKy">Đăng ký ngay</button>

        </div>

    </div>



    <a href="javascript:;" style="position: fixed; bottom: 10%; right: 20px;" data-toggle="modal" data-target="#myModal">

        <img src="<?php echo $urlImg; ?>/icon-phone-new.gif" alt="icon-phone" style="width: 55px;">

    </a>

    <div class="modal fade" id="myModal" role="dialog">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>

                <div class="modal-body">

                    <p class="hotline">Gọi ngay để nhận tư vấn</p>

                    <p class="text">Hãy gọi ngay cho chúng tôi để nhận được những ưu đãi mới nhất và tư vấn của chuyên gia.</p>

                    <p><a href="tel:0829996886"> <span>082.999.6886 - 082.999.6633</span> </a></p>

                </div>

            </div>

        </div>

    </div>

    

    <?php

    echo $this -> headScript()

               -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')

               -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')

               -> appendFile($this->arrParams['template']['urlJs'] .'/me.js?v='. date('dmyHis'), 'text/javascript')

               -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')

               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')

               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')

               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')

               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')

               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');

    ?>

    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>

    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>

    <!-- end box_footer -->

    

    <script type="text/javascript">

    $(document).ready(function() {

        var maxSlides = 3;

        var slideWidth = 368; 

        if ($(window).width() < 800) {

            maxSlides = 1;

            slideWidth = 0;

        }

        $("#box_student").show();

        $("#box_student .slider").bxSlider({

            auto: false,

            minSlides: maxSlides,

            maxSlides: maxSlides,

            slideWidth: slideWidth,

            slideMargin: 30,

            moveSlides: maxSlides,

            responsive: true,

            pause: 3000,

            speed: 1500,

            autoHover: true

        });

    });



    var id_menu = '#box_menu';

    // $(id_menu + ' .collapsed').click(function() {

    //     $(id_menu + ' .navbar-collapse').addClass('open');

    //     $(id_menu + ' .navbar-collapse-background').css({'left': 0});

    // });

    

    // $(id_menu + ' .navbar-collapse-background').click(function() {

    //     $(id_menu + ' .navbar-collapse').removeClass('open');

    //     $(id_menu + ' .navbar-collapse-background').css({'left': '-100%'});

    // });



    $('a[class^="go_"]').click(function() {

    

        $(id_menu + ' .navbar-collapse li').removeClass('active');

        $(this).parent().addClass('active');

    

        var str = $(this).attr('class');;

        var res = str.split(" ");

        var box = res[0].substring(3);

        var top_scroll = 0;

        top_scroll = $("#" + box).offset().top;

        $('html,body').animate({

            scrollTop: top_scroll -70

        }, 'slow');

    

        $('.collapse.navbar-collapse').removeClass('open');

        $('.navbar-collapse-background').css('left', '-100%');

    });



    // Hiệu ứng text các box

    if ($(window).width() > 991) {

        $('.box_thongTin .box_content .info .item').one('inview', function (event, visible) {

            if (visible) {$(this).addClass('animated delayp2 animated-2s fadeInUp');}

        });

        $('.box_aiNen .item').one('inview', function (event, visible) {

            if (visible) {$(this).addClass('animated delayp3 animated-3s fadeInUp');}

        });

        $('.box_loiich .item').one('inview', function (event, visible) {

            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}

        });

        $('.box_dieukien .info').one('inview', function (event, visible) {

            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInRight');}

        });

    }



    $(document).ready(function() {

        var maxSlides = 3;

        var slideWidth = 368;

        if ($(window).width() < 800) {

            maxSlides = 1;

            slideWidth = 0;

        }

        $("#box_student").show();

        $("#box_student .slider").bxSlider({

            auto: false,

            minSlides: maxSlides,

            maxSlides: maxSlides,

            slideWidth: slideWidth,

            slideMargin: 30,

            moveSlides: maxSlides,

            responsive: true,

            pause: 3000,

            speed: 1500,

            autoHover: true

            });

        });

        $('.mask_currency').autoNumeric("init",{

        mDec: 0,

        aSep: '.',

        aDec: ',',

    });



    $('input[type="number"]').bind('keyup change', function(){

        var price = parseInt($(this).val()) * 7000000;

        if($(this).val() >= 1) {

            price = parseInt($(this).val()) * 6500000;

        }

        if($(this).val() >= 2) {

            price = parseInt($(this).val()) * 6200000;

        }

        if($(this).val() >= 5) {

            price = parseInt($(this).val()) * 6000000;

        }

        $(".mask_currency").autoNumeric("set", price);

    });

    </script>



    <script>

        //clock 

        var timer;

        var then = '<?php echo date('Y-m-d'); ?> 23:59:59';

        var now = new Date();



        var compareDate = new Date(then) - now.getDate();

        timer = setInterval(function () {

            timeBetweenDates(compareDate);

        }, 1000);



        function timeBetweenDates(toDate) {

            var dateEntered = new Date(toDate);

            var now = new Date();

            var difference = dateEntered.getTime() - now.getTime();



            if (difference <= 0) {

                clearInterval(timer);

            } else {

                var seconds = Math.floor(difference / 1000);

                var minutes = Math.floor(seconds / 60);

                var hours = Math.floor(minutes / 60);

                var days = Math.floor(hours / 24);



                hours %= 24;

                minutes %= 60;

                seconds %= 60;



                $("#days").text(days);

                $("#hours").text(hours);

                $("#minutes").text(minutes);

                $("#seconds").text(seconds);

            }

        }  

    </script>



    <script>

        $('.box_student .go_box').removeClass('input-lg btn-blue');

        $('.box_student .go_box').addClass('text-center');

        $('.box_student .go_box').html(

            '<div class="button-register button-register_student">' +

            '<button class="btn-register go_box" data-box="box_dangKy" type="button">Đăng ký ngay</button>' +

            '</div>'

        );

    </script>

    <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '2378204829079076');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=2378204829079076&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</body>

</html>

