<?php
    // Filter
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $elements = array(

    );
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= '<th class="col-50">ID</th>';
    $xhtmlHead .= '<th class="col-50">Họ Tên</th>';
    $xhtmlHead .= '<th class="col-50">Email</th>';
    $xhtmlHead .= '<th class="col-50">Số điện thoại</th>';
    $xhtmlHead .= '<th class="col-50">Thời gian xem</th>';
    $xhtmlHead .= '<th class="col-50">Ngày xem</th>';
    $xhtmlHead .= '</tr>';

    // Danh sách
    $xhtmlItems = '';
    if(!empty($this->detail)) {
        $index = 0;
        
        // Link Action
        $linkEdit       	= $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form', 'id' => $id));
        $linkDetail       	= $this->url('routeAdmin/default', array('controller' => 'course-detail', 'action' => 'filter', 'id' => $id));
        
        // Control Action
        $controlEdit    	= $this->linkAdminHtml($linkEdit, array('type' => 'icon', 'title' => 'Sửa', 'class' => 'btn btn-xs yellow', 'icon' => 'fa fa-edit'));
        $controlStatus  	= $this->linkAdminStatus($id, $this -> detail['status']);
        $controls       	= $controlStatus;
        
        $cid            	= @$this->xFormInput('cid[]', $id, array('type' => 'checkbox', 'class' => 'checkboxes'));
        $options = $this->detail['options'] ? unserialize($this->detail['options']) : array();
        if (!empty($options['view'])){
            foreach ($options['view'] AS $item){
                foreach ($item['date'] AS $val) {
                    $contact_user_id        = $val['contact_user_id'];
                    $contact_user_name      = $val['contact_user_name'];
                    $contact_user_email     = $val['contact_user_email'];
                    $contact_user_phone     = $val['contact_user_phone'];
                    $contact_second_view    = CEIL($val['seconds_view'] / 60);
                    $date_view              = strtotime($val['date_view']);
                    $date                   = date("Y-m-d", $date_view);

                    if($contact_second_view >= 1){
                        $xhtmlItems .= '<tr id="tr_'. $id .'">
                                            <td>'. $cid .'</td>
                                            <td>'. $contact_user_id .'</td>
                                            <td>'.$contact_user_name.'</td>
                                            <td>'.$contact_user_email.'</td>
                                            <td>'.$contact_user_phone.'</td>
                                            <td>'.$contact_second_view.' - phút</td>
                                            <td>'.$date.'</td>
                						</tr>';
                    }
                }
            }
        }
    }
    
    // Control
    $arrControl = array(
        //array( 'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', ), 'children' => array( array( 'name' => 'sort', 'caption' => 'Sắp xếp', 'link' => 'javascript:;', 'icon' => 'fa-sort-alpha-asc', 'attributes' => array( 'onclick' => 'javascript:changeOrdering();', ) ), array( 'name' => 'divider' ), array( 'name' => 'delete', 'caption' => 'Xóa', 'link' => 'javascript:;', 'icon' => 'fa-trash', 'attributes' => array( 'onclick' => 'javascript:deleteItem(\'multi\', \'all\');', ) ), array( 'name' => 'divider' ), array( 'name' => 'print', 'caption' => 'In', 'link' => 'javascript:;', 'icon' => 'fa-print', 'attributes' => array( 'onclick' => 'javascript:printPage();', ) ), array( 'name' => 'export', 'caption' => 'Xuất bản excel', 'link' => 'javascript:;', 'icon' => 'fa-file-excel-o', 'attributes' => array( 'onclick' => 'javascript:exportList();', ) ), ), 'children-class' => 'dropdown-menu pull-right' ),
        array('name' => 'close', 'caption' => 'Quay lại', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),
    );
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminForm" id="adminForm" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
    	<div class="row">
    		<?php echo $xhtmlFilter;?>
    	</div>
    </div>
    <div class="page-content">
    	<div class="table-manager" id="table-manager">
    		<div class="table-scrollable">
    			<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<?php echo $xhtmlHead;?>
    				</thead>
    				<tbody>
    					<?php echo $xhtmlItems;?>
    				</tbody>
    			</table>
    		</div>
    		<?php
            	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'viewers')), 'options' => $this->params['paginator']['options']));
        	?>
    	</div>
	</div>
</form>
