<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <div class="box_header" id="box_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><a href="" class="logo"><img src="<?php echo $urlImg;?>/logo.png"></a></div>
                <div class="col-md-10">
                    <div class="clr"></div>
                    <ul class="menu hidden-xs hidden-sm">
                        <li><a href="javascript:;" class="go_box" data-box="box_gioiThieu">Giới thiệu</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_thongTin">Quy trình đào tạo</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_loiIch">Lợi ích đào tạo in-house</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_dienGia">Giảng viên đào tạo</a></li>
                        <li><a href="javascript:;" class="go_box btn_book" data-box="box_dangKy">Đăng ký ngay</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <a href="javascript:;">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- end box_header -->

    <div class="box_banner" id="box_banner">
        <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>
    </div>
    <!-- end box_banner -->

    <div class="box_gioiThieu" id="box_gioiThieu">
        <div class="container">
            <div class="info_session">
                <div class="row">
                    <div class="col-md-6" >
                        <iframe src="https://www.youtube.com/embed/liA18n3BGog?controls=0&amp;start=7" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen width="100%"></iframe>
                    </div>
                    <div class="info_box col-md-6">    
                        <div class="title">
                            <img class="image" src="<?php echo $urlImg;?>/logo-1.png">
                        </div>
                        <div class="info" id="box_thongTin">
                            <p>Bên cạnh các khóa học public, Trường doanh nhân HBR cũng cung cấp các chương trình đào tạo theo yêu cầu riêng của các doanh nghiệp. Những khóa học được thiết kế chuyên biệt, phù hợp với từng mục tiêu và đặc thù riêng của doanh nghiệp, và được tổ chức trên khắp mọi miền Tổ quốc.</p>
                            <p>Để triển khai các chương trình đào tạo một cách tối ưu và hiệu quả, không làm mất thời gian cũng như chi phí và nguồn lực của doanh nghiệp, Trường doanh nhân HBR đã đúc rút nên một quy trình làm việc gồm <span>5 bước</span> như sau:</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6 left">
                        <p class="text-1">Tư vấn, thiết lập mục tiêu đào tạo chung, phù hợp với nhu cầu và đặc thù doanh nghiệp</p>
                        <p class="text-2">Phân tích đặc điểm, các nguồn lực của doanh nghiệp dựa trên nhu cầu để thiết lập những bài giảng hiệu quả và kinh tế nhất dành cho doanh nghiệp</p>
                        <p class="text-3">Thiết kế bài giảng khoa học và tối ưu, phù hợp với đặc thù nhóm đào tạo, kết hợp giữa giáo dục truyền thống và công nghệ hiện đại để học viên có thể tiếp thu bài giảng một cách nhanh chóng và dễ hiểu nhất</p>
                        <p class="text-4">Triển khai chương trình đào tạo, không ngừng tiếp thu phản hồi của học viên để khóa học diễn ra thành công nhất</p>
                        <p class="text-5">Đánh giá sau đào tạo, giúp doanh nghiệp có thêm cơ sở để phát huy tối đa điểm mạnh cũng như giảm thiểu những điểm yếu của học viên</p>
                    </div>
                    <div class="col-md-6 right">
                        <img class="img-responsive" src="<?php echo $urlImg;?>/gt.png">
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <!-- end box_gioiThieu -->

    <!-- end box_aiNen -->
        
    <div class="box_loiIch" id="box_loiIch">
        <div class="left">
        </div>
        <div class="right">
            <div class="title">LỢI ÍCH ĐÀO TẠO <br>IN-HOUSE</div>
            <div class="content">
                <p>Kiến thức bài bản, thực tiễn, có thể ứng dụng ngay vào nội bộ doanh nghiệp và thấy được kết quả</p>
                <p>Chương trình học thiết kế phù hợp mục tiêu và đặc thù riêng của doanh nghiệp</p>     
                <p>Tối ưu chi phí</p>
                <p>Tiết kiệm thời gian, không mất công di chuyển</p>
            </div>
        </div>
        <div class="clr"></div>
    </div>
    <!-- end box_loiich -->
    <div class="box_dienGia" id="box_dienGia">
        <div class="box_title text-center">GIẢNG VIÊN ĐÀO TẠO</div>
        <div class="box_content">
            <div class="box_info">Giảng viên đào tạo của HBR đều là những lãnh đạo, quản lý cấp cao đến từ các tập đoàn lớn nhất ở Việt Nam và trên thế giới, có trải nghiệm thực tế, kiến thức khoa học bài bản về lãnh đạo và quản trị, phương pháp giảng dạy hiện đại.</div>
            <div class="list">
                <div class="item" id="item4">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="<?php echo $urlImg;?>/diengia4.jpg">
                        </div>
                        <div class="col-md-10">
                            <div class="right">
                                <div class="title">GS. DAVE ULRICH</div>
                                <div class="info">BỘ ÓC SỐ MỘT THẾ GIỚI, CHA ĐẺ CỦA NHÂN SỰ HIỆN ĐẠI</div>
                                <ul class="content">
                                    <li>Nhân vật số một thế giới về nhân sự (HR Magazine, 2010).</li>
                                    <li>Bộ óc quản trị có ảnh hưởng nhất thế giới (Business Week, 2001).</li>
                                    <li>Giải thưởng Nobels Colloquia dành cho những tên tuổi dẫn dắt nền tư tưởng và kinh doanh năm 2010 (Forbes, 2000).</li>
                                    <li>Một trong 5 nhà cố vấn quản trị hàng đầu thế giới (Thinkers50, 2009).</li>
                                    <li>Thành viên trong hội đồng cố vấn của Tạp chí Kinh doanh <b>Harvard (Harvard Business Review)</b>.</li>
                                    <li>Diễn giả số 1 về Quản trị/ Kinh doanh theo xếp hạng của trang web Speaking.com (2014)</li>                          
                                </ul>
                                <ul>
                                    <li class="btn" style="display: none;">XEM CHI TIẾT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" id="item1">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="<?php echo $urlImg;?>/diengia1.jpg">
                        </div>
                        <div class="col-md-10">
                            <div class="right">
                                <div class="title">TS. ALOK BHARADWAJ </div>
                                <div class="info">CỰU PHÓ CHỦ TỊCH CAO CẤP, PHỤ TRÁCH CHIẾN LƯỢC TẠI 23 QUỐC GIA CỦA CANON CHÂU Á</div>
                                <ul class="content content1">
                                    <li>Giám đốc bán hàng Voltas (Tata Group) 06/1985 - 02/1989</li>
                                    <li>Giám đốc Marketing Usha International 03/1989 - 09/1994</li>
                                    <li>Giám đốc bán hàng Motorola khu vực Nam Á 10/1994 - 05/2001</li>
                                    <li>Phó chủ tịch kiêm giám đốc điều hành Canon Ấn Độ 06/2001 - 12/2014</li>
                                    <li>Giám đốc Marketing giỏi nhất của năm 2009 do Hiệp hội Giám đốc Marketing tại Mỹ (CMO Council USA) công nhận.</li>
                                    <li>Nguyên chủ tịch hiệp hội Marketing Châu Á.</li>
                                    <li>Phó chủ tịch cao cấp, phụ trách chiến lược Canon tại 23 quốc gia ở châu Á 01/2015 - 06/2017</li>
                                    <li>Giám đốc điều hành công ty tư vấn CreoVate 7/2017 - Hiện tại.</li>
                                    <li>Thành viên trong hội đồng cố vấn của Tạp chí Kinh doanh Harvard.</li>
                                    <li>Đối tác tư vấn, cố vấn của Tập đoàn AON Hewitt – Tập đoàn tư vấn quản trị & nguồn nhân lực lớn nhất thế giới có trụ sở tại 120 quốc gia.</li>
                                </ul>
                                <ul>
                                    <li class="btn">XEM CHI TIẾT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" id="item2">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="<?php echo $urlImg;?>/diengia2.jpg">
                        </div>
                        <div class="col-md-10">
                            <div class="right">
                                <div class="title">MR. TONY DZUNG</div>
                                <div class="info">CHUYÊN GIA TƯ VẤN VỀ QUẢN TRỊ & LÃNH ĐẠO</div>
                                <ul class="content content1">
                                    <li>Nhà sáng lập, Chủ tịch hội đồng quản trị công ty Langmaster.</li>
                                    <li>Tổng giám đốc Trường doanh nhân HBR.</li>
                                    <li>Một trong những người Việt Nam đầu tiên được cấp bằng NLP Master do đại học NLP và hiệp hội NLP Hoa Kỳ chứng nhận.</li>
                                    <li>Được đào tạo trực tiếp về lãnh đạo và quản trị từ các chuyên gia đến từ các ngôi trường hàng đầu trên thế giới: Harvard, Wharton (Upen), Học viện Quân sự Hoa Kỳ West Point, SMU,…</li>
                                    <li>Được huấn luyện và đào tạo trực tiếp về nhân sự bởi các chuyên gia nhân sự hàng đầu thế giới như Dave Ulrich, Peter Cappelli,…</li>
                                    <li>Một trong những người đầu tiên ở Việt Nam được cấp chứng chỉ đào tạo MBTI trên toàn thế giới.</li>              
                                    <li>Được huấn luyện bởi các chuyên gia đào tạo con người hàng đầu trên thế giới:  Anthony Robbins, Robert Dilts, Mr Vas…</li>     
                                </ul>
                                <ul>
                                    <li class="btn">XEM CHI TIẾT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" id="item3">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="<?php echo $urlImg;?>/diengia3.jpg">
                        </div>
                        <div class="col-md-10">
                            <div class="right">
                                <div class="title">THS. PHẠM THU THỦY </div>
                                <div class="info">CHUYÊN GIA HUẤN LUYỆN VỀ QUẢN TRỊ NHÂN SỰ VÀ QUẢN TRỊ TỔ CHỨC</div>
                                <ul class="content content1">
                                    <li>Giám đốc Nhân sự - Đào tạo Vincom Retail – Tập đoàn Vingroup.</li>
                                    <li>Giám đốc Đào tạo Vincommerce - Tập đoàn Vingroup.</li>
                                    <li>Giám đốc Nhân sự - Đào tạo VinPro - Tập đoàn Vingroup.</li>
                                    <li>Giám đốc Quản lý dự án - Ngân hàng TPBank.</li>
                                    <li>Giám đốc Nhân sự Công ty chứng khoán FPT- Tập đoàn FPT.</li>
                                </ul>
                                <ul>
                                    <li class="btn">XEM CHI TIẾT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
        

    
    <div class="box_dangKy" id="box_dangKy">
        <div class="container">
            <div class="title text-center">
                <div class="title1">GỬI YÊU CẦU ĐÀO TẠO</div>
                <div class="title2">IN-HOUSE</div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="thanhToan">
                        <div class="box_title">THÔNG TIN TÀI KHOẢN</div>
                        <div class="box_content">
                            <div class="item">
                                <div class="item_title"><b>1. Chuyển khoản</b></div>
                                <div class="item_detail">
                                    Vui lòng liên hệ Hotline <span>082.999.6886</span> hoặc <span>082.999.6633</span> để được tư vấn rõ hơn.
                                </div>
                            </div>
                            <div class="item">
                                <p class="item_title"><b>2. Nộp tiền mặt trực tiếp</b></p>
                                <p class="item_detail"><span>Địa chỉ:</span> tầng 15 tòa nhà CTM Complex, số 139 Cầu Giấy, Hà Nội.</p>
                                <p class="hotline">Hotline:<br> 082.999.6886 <br> 082.999.6633</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                        <div class="dangky">
                           <div class="box_title">ĐĂNG KÝ THAM DỰ</div>
                            <div class="form">
                                <form action="#" id="frmContact" name="frmContact" method="POST" class="">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input name="name" type="text" class="form-control input-name" placeholder="Họ và tên">
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-phone">
                                                <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-email">
                                                <input name="email" type="text" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-address">
                                                <input name="address" type="text" class="form-control" placeholder="Địa chỉ">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-company">
                                                <input name="company" type="text" class="form-control" placeholder="Công ty">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-job">
                                                <input name="job" type="text" class="form-control" placeholder="Chức vụ">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="info">Chuyên gia đào tạo:</div>
                                            </div>
                                        </div>
                                         <div class="col-sm-6">
                                            <div class="form-group" id="input-content">
                                                <div class="form-control">
                                                    <input type="checkbox" name="chuyengia[]" value="GS. Dave Ulrich">
                                                    <label>GS. Dave Ulrich</label>      
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-content">
                                                <div class="form-control">
                                                    <input type="checkbox" name="chuyengia[]" value="TS. Alok">
                                                    <label class="label-1">TS. Alok</label>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-content">
                                                <div class="form-control">
                                                    <input type="checkbox" name="chuyengia[]" value="TS. Lê Thẩm Dương">
                                                    <label>TS. Lê Thẩm Dương</label>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-content">
                                                <div class="form-control">
                                                    <input type="checkbox" name="chuyengia[]" value="Ths. Phạm Thu Thuỷ">
                                                    <label>Ths. Phạm Thu Thuỷ</label>
                                                    
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-md-12">
                                            <?php
                                                $company_problem = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-problem" )), array('task' => 'cache'));
                                            ?>
                                            <div class="form-group" id="input-option">
                                                <select name="option[]" class="selectpicker form-control" multiple data-selected-text-format="count > 4" title="Vấn đề các anh/Chị đang gặp phải.">
                                                    <?php
                                                        foreach ($company_problem AS $value) {
                                                            $id     = $value['id'];
                                                            $name   = $value['name'];
                                                    ?>  
                                                    <option class="option" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                    <?php } ?>
                                                </select> 
                                            </div>
                                        </div>
                                       
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input name="content" type="text" class="form-control" placeholder="Anh/Chị vui lòng mô tả chi tiết vấn đề của mình">
                                            </div>
                                        </div>                                   
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 button">
                                            <div class="btnSuccess error">
                                                <input type="hidden" name="form_id" value="1521443757-1e10-u05k-8s1j-btc9011866y7">
                                                <input type="button" class="input-lg btn-blue" value="Đăng ký ngay" onclick="successCart();">
                                            </div>
                                        </div>
                                    </div> 
                                </form>
                                
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- end box_thanhtoan -->
    <div class="box_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0066982756643!2d105.79666931548647!3d21.032417985996346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab46d9c86b9b%3A0x4879c19d8ad4be47!2zMTM5IEPhuqd1IEdp4bqleSwgUXVhbiBIb2EsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1516414158828" width="100%" height="169px" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>


    <div class="box_images">
        <table>
            <tr>
                <td><div><img  src="<?php echo $urlImg;?>/image-5.jpg"></div></td>
                <td><div><img  src="<?php echo $urlImg;?>/image-6.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-7.jpg"></div></td>
                <td><div><img  src="<?php echo $urlImg;?>/image-8.jpg"></div></td>
            </tr> 
        </table>
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-9.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-10.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-11.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-12.jpg"></div></td>               
            </tr>
        </table>
    </div>
    <!-- end box_images -->
    
    <div class="box_comment">
        <div class="container">
            <div class="fb-comments" data-href="" data-width="100%" data-numposts="10" data-order-by="reverse_time"></div>
        </div>
    </div>

    <?php
    echo $this -> headScript()
			   -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->
    
    <script type="text/javascript">
    $(document).ready(function() {
    	var maxSlides = 3;
        var slideWidth = 368; 
        if ($(window).width() < 800) {
            maxSlides = 1;
            slideWidth = 0;
        }
        $('#bxslider').show();
        $('#bxslider').bxSlider({
            auto: true,
            autoControls: false,
            minSlides: 1,
            maxSlides: maxSlides,
            moveSlides: 1,
            slideWidth: slideWidth,
            slideMargin: 48,
            adaptiveHeight: true,
            responsive: true
        });
    });

    // Hiệu ứng text các box
    if ($(window).width() > 991) {
        $('.box_thongTin .box_content .info .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp2 animated-2s fadeInUp');}
        });
        $('.box_aiNen .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-3s fadeInUp');}
        });
        $('.box_loiich .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
        });
        $('.box_dieukien .info').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInRight');}
        });
    }

    $('.mask_currency').autoNumeric("init",{
        mDec: 0,
        aSep: '.',
        aDec: ',', 
    });

    function updatePrice() {
        var total = 0;
        $('#input-workshop input').each(function() {
            if($(this).is(':checked')) {
                total++;
            }
        });

        var total_price = total * 7000000;
        var total_price_sale = total * 7000000;
        if(total < 3) {
            total_price_sale = total * 6500000;
        } else if(total >=3 && total < 5) {
            total_price_sale = total * 6100000;
        }else if(total >= 5) {
            total_price_sale = total * 5800000;
        }
        
        $('#input-workshop .total_price').autoNumeric('set', total_price);
        $('#input-workshop .total_price_sale').autoNumeric('set', total_price_sale);
        $('#input-number input').val(total);
        $('#input-price input').autoNumeric('set', total_price_sale);
    }

    $('#input-workshop input').click(function() {
        updatePrice();
    });

    $('select.selectall').change(function(){
         var val = $(this).val();
         if(val == 'a') {
            $('#input-workshop input.hn').prop("checked", true);
        } 
    });

    $('.box_dienGia .col-md-10').click(function() {
        var parent = $(this).parents('.item');
        var id = "#" + $(parent).attr("id");
        $(id + ' .content').slideToggle();
        if($(id +' .fa-chevron-up').hasClass('hidden')) {
            $(id +' .fa-chevron-up').removeClass('hidden');
            $(id +' .fa-chevron-down').addClass('hidden');
        }else{
             $(id +' .fa-chevron-down').removeClass('hidden');
            $(id +' .fa-chevron-up').addClass('hidden');
        }
        $(id + ' .right .btn').slideToggle();        
        /* $(this).css('padding','50px 24px 20px 60px'); */
    });
    
    function successCart() {
        var frmData = '#frmContact';
        $.ajax({
            url: '/user/public/inhouse/',
            type: 'POST',
            data: $(frmData).serialize(),
            beforeSend: function() {
                 $('body').append('<div class="page-loading"><div class="loader"></div></div>');
            },
            success: function(result) {  
                $(frmData +' .btnSuccess').prepend('<div class="alert alert-success">Thông tin của bạn đã được gửi thành công</div>');                           
                $('body .page-loading').remove();
            }
        });
    }
    </script>
</body>
</html>
