<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

        <form action="#" id="frmRegister" name="frmRegister" method="POST"class="">
            <div class="box_dangKy" id="box_dangKy">
                <div class="box_image"><img class="img-responsive" src="<?php echo $item['image'];?>"></div>
                <div class="box_title text-center">BẢNG KHẢO SÁT NHU CẦU ĐÀO TẠO IN-HOUSE DOANH NGHIỆP</div>
                <div class="box_form">  
                    <div class="info">
                        <p>Xin chào anh/chị,</p>
                        <p>Với mong muốn hỗ trợ anh/chị tốt hơn trong các chương trình hội thảo sắp tới của HBR, rất mong anh/chị có thể hoàn thành bảng khảo sát nhu cầu của HBR. Thông tin anh/ chị cung cấp sẽ rất hữu ích trong việc nâng cao chất lượng đào tạo của HBR, và chúng tôi cam kết mọi thông tin anh/chị cung cấp sẽ được giữ bí mật. </p>
                        <p>Xin trân trọng cảm ơn!</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group input-data"><input type="text" name="name" class="form-control" placeholder="Họ tên" required="required"></div>   
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input-data"><input type="text" name="email" class="form-control" placeholder="Email"></div>   
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input-data"><input type="text" name="phone" class="form-control" placeholder="Số điện thoại"></div>                                  
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input-data">
                                    <select name="city" class="form-control" required>
                                        <option value="">-- Tỉnh thành --</option>
                                        <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà nội</option>
                                        <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                        <option value="0">Tỉnh khác</option>
                                    </select>
                                </div>                                  
                            </div>
                        </div>
                    </div>     
                    <div class="part_1">
                        <div class="box_title">I. Thông tin cá nhân</div>
                        <div class="box_content">
                            <div class="input-data item">
                                <div class="title">1. Độ tuổi của anh/chị:</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="birthday" value="Dưới 27 tuổi" class="result"> <span>A.  Dưới 27 tuổi</span></label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="birthday" value=" Trên 27 đến 35 tuổi" class="result"> <span>B.   Trên 27 đến 35 tuổi</span></label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="birthday" value="Trên 35 đến 45 tuổi" class="result"> <span>C.  Trên 35 đến 45 tuổi</span></label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="birthday" value="Trên 45 tuổi" class="result"> <span>D.   Trên 45 tuổi</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-data item">
                                <div class="title">2. Chức vụ/ Vị trí của anh chị trong doanh nghiệp</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="position" value="Chủ tịch hội đồng quản trị<" class="result"> <span>A.  Chủ tịch hội đồng quản trị</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="position" value="Tổng giám đốc" class="result"> <span>B.  Tổng giám đốc</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="position" value="Giám đốc" class="result"> <span>C.   Giám đốc</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="position" value="Quản lý cấp trung" class="result"> <span>D.  Quản lý cấp trung</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="position" value="Nhân viên" class="result"> <span>E.  Nhân viên</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-data item">
                                <div class="title">3. Thâm niên công tác ở vị trí hiện tại anh/chị đang đảm nhiệm</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="seniority" value="Dưới 3 năm" class="result"> <span>A.  Dưới 3 năm</span></label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="seniority" value="Trên 3 đến 5 năm" class="result"> <span>B.  Trên 3 đến 5 năm</span></label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="seniority" value="Trên 5 đến 10 năm" class="result"> <span>C.  Trên 5 đến 10 năm</span></label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="seniority" value="Trên 10 năm" class="result"> <span>D.  Trên 10 năm</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                    <div class="part_2">
                        <div class="box_title">II. Thông tin doanh nghiệp anh/chị đang làm việc</div>
                        <div class="box_content">
                            <div class="input-data item">
                                <div class="title">4. Doanh nghiệp của anh/chị sản xuất, kinh doanh trong lĩnh vực</div>
                                <div class="content">
                                    <div class="row">
                                       <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="field" value="Nông, lâm, thủy sản" class="result"> <span>A.  Nông, lâm, thủy sản</span></label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="field" value="Công nghiệp và xây dựng" class="result"> <span>B.  Công nghiệp và xây dựng</span></label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="field" value="Thương mại và dịch vụ" class="result"> <span>C.  Thương mại và dịch vụ</span></label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="field" value="Khác" class="result"> <span>D.  Khác</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-data item">
                                <div class="title">5. Quy mô doanh nghiệp</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="scale" value="Dưới 10 thành viên" class="result"> <span>A.   Dưới 10 thành viên</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="scale" value="11-50 thành viên" class="result"> <span>B.  11-50 thành viên</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="scale" value="51-250 thành viên" class="result"> <span>C.  51-250 thành viên</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="scale" value="251-500 thành viên" class="result"> <span>D.  251-500 thành viên</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="scale" value="501-1000 thành viên" class="result"> <span>E.  501-1000 thành viên</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="scale" value="Trên 1000 thành viên" class="result"> <span>F.  Trên 1000 thành viên</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-data item">
                                <div class="title">6. Số năm hoạt động của doanh nghiệp</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="job" value="Dưới 3 năm" class="result"> <span>A.  Dưới 3 năm</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="job" value="Trên 3 đến 5 năm" class="result"> <span>B.  Trên 3 đến 5 năm</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="job" value="Trên 5 đến 7 năm" class="result"> <span>C.  Trên 5 đến 7 năm</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="job" value="Trên 7 đến 10 năm" class="result"> <span>D.  Trên 7 đến 10 năm</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="job" value="Trên 10 năm" class="result"> <span>E.  Trên 10 năm</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-data item">
                                <div class="title">7. Tổng doanh thu của doanh nghiệp/ năm</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="revenue" value="Dưới 10 tỷ" class="result"> <span>A.  Dưới 10 tỷ</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="revenue" value="Từ 10 đến 20 tỷ" class="result"> <span>B.  Từ 10 đến 20 tỷ</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="revenue" value="Trên 20 tỷ đến 50 tỷ" class="result"> <span>C.  Trên 20 tỷ đến 50 tỷ</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="revenue" value="Trên 50 tỷ đến 100 tỷ" class="result"> <span>D.  Trên 50 tỷ đến 100 tỷ</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="revenue" value="Trên 100 tỷ đến 500 tỷ" class="result"> <span>E.  Trên 100 tỷ đến 500 tỷ</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="revenue" value="Trên 500 tỷ" class="result"> <span>F.  Trên 500 tỷ</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-data item">
                                <div class="title">8. Vấn đề các anh/ chị đang gặp phải: </div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="problems[]" value="Xây dựng và thực thi chiến lược công ty" class="result"> <span>A.  Xây dựng và thực thi chiến lược công ty</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="problems[]" value="Thu hút và tuyển dụng nhân tài" class="result"> <span>B.  Thu hút và tuyển dụng nhân tài</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="problems[]" value="Đào tạo, phát triển và giữ chân nhân tài" class="result"> <span>C.  Đào tạo, phát triển và giữ chân nhân tài</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="problems[]" value="Xây dựng hệ thống marketing và truyền thông" class="result"> <span>D.  Xây dựng hệ thống marketing và truyền thông.</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="problems[]" value="Xây dựng hệ thống bán hàng chuyên nghiệp" class="result"> <span>E.  Xây dựng hệ thống bán hàng chuyên nghiệp</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="problems[]" value="Xây dựng thương hiệu" class="result"> <span>F.  Xây dựng thương hiệu</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="problems[]" value="Xây dựng văn hóa doanh nghiệp" class="result"> <span>G.   Xây dựng văn hóa doanh nghiệp </span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="problems[]" value=" Nghiên cứu và phát triển sản phẩm<" class="result"> <span>H.  Nghiên cứu và phát triển sản phẩm</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="problems[]" value="Xây dựng hệ thống Tài chính kế toán" class="result"> <span>I. Xây dựng hệ thống Tài chính kế toán</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="problems[]" value="Ứng dụng công nghệ để tự động hóa các quy trình doanh nghiệp/ mở rộng hệ thống kinh doanh" class="result"> <span>J.  Ứng dụng công nghệ để tự động hóa các quy trình doanh nghiệp/ mở rộng hệ thống kinh doanh.</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-data item" data-required="1">
                                <div class="title">9. Anh/chị có thể mô tả chi tiết vấn đề mà anh chị đang gặp phải</div>
                                <textarea class="form-control" rows="5" name="content"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="part_3">
                        <div class="box_title">III. Thói quen tham dự hội thảo/ khóa học</div>
                        <div class="box_content">
                            <div class="input-data item">
                                <div class="title">10. Anh/chị đã đăng ký bao nhiêu khóa học tại HBR</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="number_course" value="1-3 khóa" class="result"> <span>A. 1-3 khóa</span></label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="number_course" value="4-8 khóa" class="result"> <span>B. 4-8 khóa</span></label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="number_course" value="9-15 khóa" class="result"> <span>C. 9-15 khóa</span></label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="radio"><input type="radio" name="number_course" value="Trên 15 khóa" class="result"> <span>D. Trên 15 khóa</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-data item">
                                <div class="title">11. Anh/chị biết đến HBR qua</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="source[]" value="Bạn bè, người thân" class="result"> <span>A.  Bạn bè, người thân</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="source[]" value="Chuyên gia trong lĩnh vực" class="result"> <span>B.   Chuyên gia trong lĩnh vực</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="source[]" value="Facebook" class="result"> <span>C.  Facebook</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="source[]" value="Website" class="result"> <span>D.  Website</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="source[]" value="Youtube" class="result"> <span>E.  Youtube</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="source[]" value="Báo điện tử" class="result"> <span>F.  Báo điện tử</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="source[]" value="Khác" class="result"> <span>G.  Khác</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-data item">
                                <div class="title">12. Tại sao anh/chị lựa chọn tham dự khóa học tại HBR</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="reason[]" value="Nội dung khóa học phù hợp với nhu cầu doanh nghiệp" class="result"> <span>A.  Nội dung khóa học phù hợp với nhu cầu doanh nghiệp</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="reason[]" value="Thương hiệu của giảng viên" class="result"> <span>B.  Thương hiệu của giảng viên </span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="reason[]" value="Uy tín của HBR" class="result"> <span>C.  Uy tín của HBR</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="reason[]" value="Mức giá hợp lý" class="result"> <span>D.  Mức giá hợp lý</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="reason[]" value="Khác" class="result"> <span>E.  Khác</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-data item">
                                <div class="title">13. Anh chị thường tìm hiểu các chương trình đào tạo qua các kênh</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="channel[]" value="Bạn bè, người thân" class="result"> <span>A.  Bạn bè, người thân</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="channel[]" value="Đối tác" class="result"> <span>B.  Đối tác</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="channel[]" value="Chuyên gia trong lĩnh vực" class="result"> <span>C.  Chuyên gia trong lĩnh vực</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="channel[]" value="Facebook" class="result"> <span>D.  Facebook</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="channel[]" value="Website" class="result"> <span>E.  Website</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="channel[]" value="Youtube" class="result"> <span>F.  Youtube</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="channel[]" value="Báo điện tử/span" class="result"> <span>G.  Báo điện tử/span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="channel[]" value="Truyền hình" class="result"> <span>H.  Truyền hình</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="channel[]" value="Báo, tạp chí giấy" class="result"> <span>I. Báo, tạp chí giấy</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="checkbox"><input type="checkbox" name="channel[]" value="Khác" class="result"> <span>J.  Khác</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-data item">
                                <div class="title">14. Ngân sách học tập của anh/chị</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="budget_study" value="Dưới 20 triệu/ năm" class="result"> <span>A.  Dưới 20 triệu/ năm</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="budget_study" value=" Từ 20 đến 50 triệu/năm" class="result"> <span>B.  Từ 20 đến 50 triệu/năm</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="budget_study" value="Trên 50 đến 100 triệu/năm" class="result"> <span>C.  Trên 50 đến 100 triệu/năm</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="budget_study" value="Trên 100 đến 200 triệu/ năm" class="result"> <span>D.  Trên 100 đến 200 triệu/ năm</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="budget_study" value="Trên 200 đến 300 triệu/ năm" class="result"> <span>E.  Trên 200 đến 300 triệu/ năm</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="budget_study" value="Trên 300 triệu/ năm" class="result"> <span>F.  Trên 300 triệu/ năm</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-data item">
                                <div class="title">15. Khi tham dự hội thảo, anh chị thường đi với</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="partner" value="Đi một mình" class="result"> <span>A.  Đi một mình</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="partner" value="Bạn bè, người thân" class="result"> <span>B.  Bạn bè, người thân</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="partner" value="Đồng nghiệp" class="result"> <span>C.  Đồng nghiệp</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="partner" value="Đối tác" class="result"> <span>D.  Đối tác</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="partner" value="Khác" class="result"> <span>E.  Khác</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-data item" data="budget_invest">
                                <div class="title">16. Công ty anh/chị có đầu tư cho việc học tập và phát triển nhân viên không? Nếu có thì ngân sách đầu tư trung bình cho 1 cán bộ quản lý là?</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="budget_invest" value="Không đầu tư" class="result"> <span>A.  Không đầu tư</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="budget_invest" value="Đầu tư dưới 5 triệu/ năm" class="result"> <span>B. Đầu tư dưới 5 triệu/ năm/<span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="budget_invest" value="Trên 5 triệu đến 10 triệu/năm" class="result"> <span>C.  Trên 5 triệu đến 10 triệu/năm</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="budget_invest" value="Trên 10 triệu đến 20 triệu/ năm" class="result"> <span>D.  Trên 10 triệu đến 20 triệu/ năm</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="budget_invest" value="Trên  20 triệu/ năm" class="result"> <span>E.  Trên  20 triệu/ năm</span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="radio"><input type="radio" name="budget_invest" value="Không có thông tin" class="result"> <span>F.  Không có thông tin</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="btnSuccess">
                                    <input type="hidden" name="campaign_code" value="<?php echo $this->arrParams['route']['code'];?>">
                                    <input type="button" onclick="validate();" class="form-control btn-submit" value="Gửi thông tin">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </form>
    
    
    
    <?php
	echo $this  -> headScript ()
				-> appendFile ( $this->arrParams ['template'] ['urlJs'] . '/jquery.min.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlJs'] . '/bootstrap.min.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlPlugin'] . '/numeric.min.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/jquery.inview.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/fancybox.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/bxslider.min.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/me.js', 'text/javascript' );
	?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->

	<script type="text/javascript">

    // function validate() {
    //     $('.item .title').css('border','none');
    //     $('.info .row').css('border','none');
    //     if ($.trim($("#frmRegister input").val()) == '' || $("select option:selected").val() == '') {
    //         alert('Bạn cần điền đầy đủ thông tin');
    //         $('.info .row').css('border','1px solid red');
    //     }else{
    //         for (var i = 0; i < $('.item').length+1; i++) {
    //             if (i==9) {continue;}
    //             item = '.item' + i;
    //             data = $(item).attr('data');
    //             if(!$(item +' input[type=radio]').is(":checked") && !$(item +' input[type=checkbox]').is(":checked")){
    //                 $(item +' .title').css('border','1px solid red');
    //             }else if($('#frmRegister textarea').val() == ''){
    //                 $('.item9 .title').css('border','1px solid red');
    //             }else{
    //                 successCart();
    //                 break;
    //             }
    //         }
    //     }    
    // }

    function validate() {
        var error = 0;
        $(".input-data").each(function(){
            if($(this).attr('data-required') != '0') {
                if ($('input', this).attr('type') == 'text') {
                    if ($('input[type=text]', this).val() == '') {
                        $(this).addClass('error');
                        error++;
                    } else {
                        $(this).removeClass('error');
                    }
                }
                if ($('textarea', this).length > 0) {
                    if ($('textarea', this).val() == '') {
                        $(this).addClass('error');
                        error++;
                    } else {
                        $(this).removeClass('error');
                    }
                }
                if ($('select', this).length > 0) {
                    if ($('select option:selected',this).val() == '') {
                        $(this).addClass('error');
                        error++;
                    } else {
                        $(this).removeClass('error');   
                    }
                }
                if ($('input', this).attr('type') == 'radio' || $('input', this).attr('type') == 'checkbox') {
                    if (!$('input[type=radio]',this).is(":checked") && !$('input[type=checkbox]',this).is(":checked")) {
                        $(this).addClass('error');
                        error++;
                    } else {
                        $(this).removeClass('error');
                    }
                }
            }
        });

        if(error > 0) {
            alert('Bạn chưa hoàn thành hết câu hỏi. Vui lòng kiểm tra lại');
            $(".input-data.error:first .form-control, .input-data.error:first input").focus();
        }else{
            successCart();
        }
    }


    function successCart() {
        var idForm = '#frmRegister';
        $.ajax({
            url: '/user/public/campaign/',
            type: 'POST',
            data: $(idForm).serialize(),
            beforeSend: function() {
                 $('body').append('<div class="page-loading"><div class="loader"></div></div>');
            },
            success: function(result) {  
                $(idForm +' .btnSuccess').prepend('<div class="alert alert-success">Thông tin của bạn đã được gửi thành công</div>');                           
                $('body .page-loading').remove();
            }
        });
    }
    </script>
</body>
</html>
