<div class="user_box_page">
	<div class="row">
		<div class="col-sm-9 col-sm-push-3">
  			<div class="user_box_content" id="user_box_content">
  				<div class="box_title"><?php echo $this->caption;?></div>
  				<div class="box_content">
  					<?php
  					if(!empty($this->item['content'])) {
  						echo '<div class="info_content">'. htmlspecialchars_decode($this->item['content']) .'</div>';
  					} 
  					if(!empty($this->item['video'])) {
  						$filename = URL_FILES .'/course/'. $this->item['item_id'] .'/'. $this->item['video'] .'.mp4' ; // <== dung code de lay ten file trong database
  						if(strpos($this->item['video'], "ttp") > 0) {
  							$filename = $this->item['video'];
  						}
  						
  						echo '<div class="info_video"><div id="video_course"></div></div>';
  					?>
  					<?php $this->headScript()->captureStart() ?>
		            	jwplayer("video_course").setup({
		            		file: "<?php echo $filename;?>",
		            		autostart: true,
		            		width: "100%",
		            		aspectratio: "16:9"
		            	});
		            <?php $this->headScript()->captureEnd() ?>
		            <?php
  					}
		            ?>
            
  					<?php
  					if(count($this->detail_list) > 0) { 
  					?>
  					<div class="courseList">
  						<?php
  						foreach ($this->detail_list AS $key => $item) {
  							$item_url 		= $this->url('routeUser/default', array('controller' => 'course', 'action' => 'detail', 'id' => $item['id']));
  							
  							$name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
  							$image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
  							$image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
  							$image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
  							$description    = nl2br($item['description']);
  							$class			= ($item['id'] == $this->item['id']) ? ' active' : '';
  							
  							echo '<div class="item'. $class .'">
				                      <div class="info">
				                          <h3 class="title">'. $name .'</h3>
				                      </div>
  									  <div class="control"><a href="'. $item_url .'">Xem video</a></div>
				                 </div>';
  						} 
  						?>
  					</div>
  					<?php
  					} else {
  						echo '<div class="alert alert-danger">Không có bài giảng nào</div>';
  					}
  					?>
  				</div>
  			</div>
  			<?php
  			if($this->item_other->count() > 0) { 
  			?>
  			<div class="user_box_content">
  				<div class="box_title">TÀI LIỆU KHÁC CÙNG CHUYÊN MỤC</div>
  				<div class="box_content">
  					<div class="courseGrid">
  						<div class="row">
  							<?php
  							foreach ($this->item_other AS $key => $item) {
  								if($item['id'] != $this->item['item_id']) {
	  								$item_url 		= $this->url('routeUser/default', array('controller' => 'course', 'action' => 'item', 'id' => $item['id']));
	  								
	  								$name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
	  								$image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
	  								$image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
	  								$image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
	  								$description    = nl2br($item['description']);
	  								
	  								echo '<div class="col-xs-6 col-sm-4">
											<div class="item">
					                            <div class="image">'. $image .'</div>
					                            <div class="info">
					                                <h3 class="title">'. $name .'</h3>
					                            </div>
					                        </div>
				                        </div>';
  								}
  							} 
  							?>
  						</div>
  					</div>
  				</div>
  			</div>
  			<?php
  			} 
  			?>
		</div>
		<div class="col-sm-3 col-sm-pull-9">
			<?php include_once $this->params['template']['pathHtml'] . '/user/left.php';?>
		</div>
	</div>
</div>
