<div class="user_box_page">
	<div class="row">
		<div class="col-sm-9 col-sm-push-3">
  			<div class="user_box_content">
  				<div class="box_title"><?php echo $this->caption;?></div>
  				<div class="box_content">
  					<?php
  					if(count($this->items) > 0) { 
  					?>
  					<div class="courseGrid">
  						<div class="row">
  							<?php
  							foreach ($this->items AS $key => $item) {
  								$item_url 		= $this->url('routeUser/default', array('controller' => 'course', 'action' => 'item', 'id' => $item['id']));
  								
  								$name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
  								$image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
  								$image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
  								$image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
  								$description    = nl2br($item['description']);
  								
  								echo '<div class="col-xs-6 col-sm-4">
										<div class="item">
				                            <div class="image">'. $image .'</div>
				                            <div class="info">
				                                <h3 class="title">'. $name .'</h3>
				                            </div>
				                        </div>
			                        </div>';
  							} 
  							?>
  						</div>
  					</div>
  					<?php
  					} else {
  						echo '<div class="alert alert-danger">Không có khóa học nào</div>';
  					}
  					?>
  				</div>
  			</div>
		</div>
		<div class="col-sm-3 col-sm-pull-9">
			<?php include_once $this->params['template']['pathHtml'] . '/user/left.php';?>
		</div>
	</div>
</div>
