<?php 
    $setting 			= $this->viewModel['settings'];
    $aclInfo            = new \ZendX\System\ContactInfo(); 
    $userInfo           = $aclInfo->getContactInfo();
    $contact_user_id    = $aclInfo->getContactInfo('id');
    $contact_user_name  = $aclInfo->getContactInfo('name');
    $contact_user_email = $aclInfo->getContactInfo('email');
    $contact_user_phone = $aclInfo->getContactInfo('phone');
?>
<?php
$arrVideo = array(); 
foreach ($this->detail AS $key => $item) {
	$arrVideo[$key] = $item;
} 

if(count($arrVideo) > 0) { 
?>
<div class="user_box_course_detail">
	<div class="box_title">
		<?php echo $this->caption; ?>
		<a class="back" href="/user/index/index/"><i class="fa fa-chevron-circle-left"></i> Quay lại</a>
		<a class="fanpage" href="https://www.facebook.com/groups/truongdoanhnhanhbr/" target="_blank"><i class="fa fa-facebook-square"></i> Cộng đồng học viên HBR</a>
	</div>
	<div class="box_content">
		<?php
		$item_video = !empty($_GET['video']) ? $arrVideo[$_GET['video']] : $arrVideo[0];
		if(!empty($item_video['video'])) {
			$filename = URL_FILES .'/course/'. $item_video['item_id'] .'/'. $item_video['video'] .'.mp4' ; // <== dung code de lay ten file trong database
			$filename = 'https://media.hbr.edu.vn/hbr/'. $item_video['item_id'] .'_'. $item_video['video'] .'.mp4/playlist.m3u8';
			//$filename = 'https://media.hbr.edu.vn/hbr/1552289253-p985-6dkq-6i0y-3va95599449e_c1.mp4/playlist.m3u8';
			//$filename = 'http://hbr.edu.vn'. $this->url('routeUser/default', array('controller' => $this->params['controller'], 'action' => 'video')) .'?course='. $item_video['item_id'] .'&id='. $item_video['video'] .'&token='. $this->ssFilter['token']; // <== dung code de lay ten file trong database
			//$filename = $this->url('routeUser/default', array('controller' => $this->params['controller'], 'action' => 'video')) .'?course='. $item_video['item_id'] .'&id='. $item_video['video'] .'&token='. $this->ssFilter['token']; // <== dung code de lay ten file trong database
			
			if(strpos($item_video['video'], "youtube") > 0) {
				$filename = $item_video['video'];
				$urlValue = strip_tags($filename);
				if (stripos($urlValue, "https://youtu.be") !== false) {
					$idVideo = explode('be/', $urlValue);
				} elseif (stripos($urlValue, "https://www.youtube.com/embed") !== false) {
					$idVideo = explode('embed/', $urlValue);
				} else {
					$idVideo = explode('?v=', $urlValue);
				}
				
				$id = $idVideo[1];
				if (strpos($idVideo[1], '?')) {
					$idVideo = explode('?', $idVideo[0]);
				}
				if (strpos($idVideo[1], '&')) {
					$idVideoTmp = explode('&', $idVideo[1]);
					$id = $idVideoTmp[0];
				}
				
				$xvideo = '<div class="info_video"><div class="embed-responsive embed-responsive-16by9" id="video">
								<iframe id="video" class="embed-responsive-item" src="//www.youtube.com/embed/'. $id .'?rel=0&autoplay=1"></iframe>
							</div></div>';
				//echo $xvideo;
				echo '<div class="info_video"><div id="video_course_youtube"></div></div>';
				echo '<script type="text/javascript">
						jwplayer("video_course_youtube").setup({
							file: "'. $item_video['video'] .'",
							autostart: true,
							width: "100%",
							aspectratio: "16:9"
						});
					</script>';
			} else {
				echo '<div class="info_video"><div id="video_course"></div></div>';
			}
		
			$info_content = '';
			if(!empty($this->item['content'])) {
				$info_content = '<div class="info_content">'. htmlspecialchars_decode($this->item['content']) .'</div>';
			}
		}
		?>
		
		<?php
		if(count($arrVideo) > 0) {
		?>
		<div class="menuList_title">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#list-menu"><i class="fa fa-align-justify"></i> Giáo trình</a></li>
				<li><a data-toggle="tab" href="#document"><i class="fa fa-book"></i>Tài Liệu</a></li>
				<li><a data-toggle="tab" href="#chat"><i class="fa fa-comments"></i>Thảo luận</a></li>
			</ul>
		</div>
		<div class="menuList_content">
			<div class="tab-pane fade in active" id="list-menu">
				<div class="menu">
				<?php
				foreach ($this->group AS $value) {
					$group_id = $value['id'];
					$group_name = $value['name'];
					$i = 0;
					echo '<div class="group">'. $group_name .'</div>';
					foreach ($arrVideo AS $key => $val) {
						if ($val['group_id'] == $group_id){
							$i++;
							$info_content_video = '';
							if ($val['content'] != '') {
								$info_content_video = '<div class="info_content_video">'. $val['content'] .'</div>';
							}
							$name = '<a href="?video='. $key .'" title="'. $val['name'] .'" id="'.$val['id'].'">'.$i.'. '. $val['name'] .'</a>';
							$class = ($item_video['id'] == $val['id']) ? ' active' : '';
							
							echo '<div class="item'. $class .'">
									<div class="title">'. $name .'</div>
									'. $info_content_video .'
								</div>';
						}
					}
				}
				?>
				</div>
			</div>
			<div class="tab-pane fade" id="document">
				<div class="menu">
					<div class="group">Tài liệu khóa học</div>
				</div>
			</div>
			<div class="tab-pane fade" id="chat">
				<div class="menu">
					<div class="group">Thảo luận khóa học</div>
				</div>
			</div>
		</div>
		<?php
		}
		?>
	</div>
	<input type="hidden" name="time_view" value="0">
</div>

<?php $this->headScript()->captureStart() ?>
	flowplayer(function (api, root) {
		flowplayer.common.xhrGet("https://media.hbr.edu.vn/auth", api.load);
	});

	window.onload = function () {
		flowplayer("#video_course", {
			ratio: 9/16,
			//splash: true,
			bgcolor: "#333333",
			share: false,
			autoplay: true,
			clip: {
				sources: [{
					type: "application/x-mpegurl",
					src:  "<?php echo $filename; ?>" 
				}]
			}
		});
	};

	// Tính chiều cao trình duyệt
	var w_window = $(window).width();
	if(w_window > 1000) {
		var h_window = $(window).height();
		var h_video = h_window - 42;
		$('#video_course').css({'height': h_video + 'px'});
		$( window ).resize(function() {
			var h_window = $(window).height();
			var h_video = h_window - 42;
			$('#video_course').css({'height': h_video + 'px'});
		});
	}

	function countView() {
		var time_view = parseInt($('input[name="time_view"]').val()) + 30;
		$('input[name="time_view"]').val(time_view);
		$.ajax({
            url: '<?php echo $this->url('routeUser/default', array('controller' => $this->params['controller'], 'action' => 'add-contact-user'));?>',
            type: 'POST',
            data:{
            	contact_user_id: 	'<?php echo $contact_user_id;?>',
            	contact_user_name: 	'<?php echo $contact_user_name;?>',
            	contact_user_email:	'<?php echo $contact_user_email;?>',
            	contact_user_phone:	'<?php echo $contact_user_phone;?>',
             	id: 				'<?php echo $item_video['id'];?>',
             	seconds_view: 		time_view
            },
    		success: function(result){
    			if(result != '') {
    				xToastr('error', '');
    			}
        	}
        });
	}
	countView();
    $(document).ready(function(){
     	setInterval(function() {
     		countView();
     	}, 30000);
    });
<?php $this->headScript()->captureEnd() ?>

<?php
} else {
	echo '<div class="alert alert-danger">Không tìm thấy khóa học. Vui lòng <a href="/">nhấn vào đây</a> quay lại trang chủ</div>';
}
?>