<?php
$user                       = new \ZendX\System\ContactInfo();
$userInfo                   = $user->getContactInfo();
$contact_user_id            = $user->getContactInfo('id');
$contact_user_name          = $user->getContactInfo('name');

$flag = false;
if(!empty($this->item['course_id']) && !empty($userInfo['course_ids'])) {
	if(strtolower($this->item['course_id']) == 'all') {
		$flag = true;
	} else {
		$course_ids = explode(',', $this->item['course_id']);
		foreach ($course_ids AS $key => $val) {
			if(in_array($val, $userInfo['course_ids'])) {
				$flag = true;
			}
		}
	}
}
if(empty($userInfo['course_ids']) || $flag == false) {
?>
<div class="user_box_content">
	<div class="box_title"><?php echo $this->caption;?></div>
	<div class="box_content">
		<div class="alert alert-danger">
			Khóa học này chỉ dành cho học viên của HBR đã đăng ký khóa học <b><?php echo $this->caption;?></b>.
			<?php
			if(!empty($this->item['url'])) {
				echo 'Bạn có thể tham khảo khóa học <a href="'. $this->item['url'] .'" target="_blank"><b>TẠI ĐÂY</b></a>';
			} 
			?>
		</div>
	</div>
</div>
<?php
} else {
?>
<div class="user_box_content">
	<div class="box_title"><?php echo $this->caption;?></div>
	<div class="box_content">
		<?php echo htmlspecialchars_decode($this->item['content']); ?>
	</div>
</div>
<div class="user_box_content">
	<div class="box_title">Địa điểm</div>
	<div class="box_content">
		<?php echo htmlspecialchars_decode($this->item['location']); ?>
	</div>
</div>
<div class="user_box_content">
	<div class="box_title">Tài liệu chuẩn bị</div>
	<div class="box_content">
		<?php echo htmlspecialchars_decode($this->item['document']); ?>
	</div>
</div>
<div class="user_box_content">
	<div class="box_title">Liên kết thành viên</div>
	<div class="box_content">
		<?php echo htmlspecialchars_decode($this->item['networking']); ?>
	</div>
</div>
<div class="user_box_content">
	<div class="box_title">Tiện ích</div>
	<div class="box_content">
		<?php echo htmlspecialchars_decode($this->item['utility']); ?>
	</div>
</div>
<?php
	if($this->detail->count() > 0) { 
?>
<div class="user_box_content">
	<div class="box_title">Video khóa học</div>
	<div class="box_content">
		<?php
		$arrVideo = array();
		foreach ($this->detail AS $key => $item) {
			if(!empty($item['video'])) {
				$filename = URL_FILES .'/course/'. $item['item_id'] .'/'. $item['video'] .'.mp4' ; // <== dung code de lay ten file trong database
				if(strpos($item['video'], "ttp") > 0) {
					$filename = $item['video'];
				}
	 			
				echo '<div class="info_video" id="video"><div id="video_course_'. $key .'"><p id="second_view" class="hidden"></p></div></div>';
				$arrVideo['video_course_'. $key] = $filename;
			}
		} 
		?>
  		
  		<?php
  		if(!empty($arrVideo)) { 
  		?>
		<?php $this->headScript()->captureStart() ?>
			<?php
			foreach ($arrVideo AS $key => $val) { 
			?>
			jwplayer("<?php echo $key;?>").setup({ file: "<?php echo $val;?>", image: "<?php echo $this->item['image'];?>", autostart: false, width: "100%", aspectratio: "16:9" });
			<?php
			} 
			?>
	    <?php $this->headScript()->captureEnd() ?>
	    <?php
  		} 
	    ?>
	</div>
</div>
<?php
	}
} 
?>

<?php
if($this->item_other->count() > 0) { 
?>
<div class="user_box_content hidden">
    <div class="box_title">CÁC KHÓA HỌC KHÁC</div>
    <div class="box_content">
        <div class="courseGrid">
            <div class="row">
                <?php
                foreach ($this->item_other AS $key => $item) {
                    if($item['id'] != $this->item['id']) {
                        $item_url 		= $this->url('routeUser/default', array('controller' => 'course', 'action' => 'item', 'id' => $item['id']));
                        
                        $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                        $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                        $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                        $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                        $description    = nl2br($item['description']);
                        
                        echo '<div class="col-xs-6 col-sm-4">
                                <div class="item">
                                    <div class="image">'. $image .'</div>
                                    <div class="info">
                                        <h3 class="title">'. $name .'</h3>
                                    </div>
                                </div>
                            </div>';
                    }
                } 
                ?>
            </div>
        </div>
    </div>
</div>
<?php
} 
?>

<?php $this->headScript()->captureStart() ?>
	var time_view = 0;
    var video = document.getElementById("video");
    video.ontimeupdate = function() {
		document.getElementById("second_view").innerHTML = video.currentTime;
        time_view = video.currentTime;
    };

	function countView() {
		$.ajax({
            url: '<?php echo $this->url('routeUser/default', array('controller' => $this->params['controller'], 'action' => 'add-contact-user'));?>',
            type: 'POST',
            data:{
            	contact_user_id: 	'<?php echo $contact_user_id;?>',
            	contact_user_name: 	'<?php echo $contact_user_name;?>',
             	id: 				'<?php echo $item_video['id'];?>',
             	seconds_view: 		time_view
            },
    		success: function(result){
    			if(result != '') {
    				xToastr('error', '');
    			}
        	}
        });
	}
	
	//countView();
    $(document).ready(function(){
     	setInterval(function() {
     		countView();
     	}, 30000);
    });
<?php $this->headScript()->captureEnd() ?>