<?php
    $dateFormat = new \ZendX\Functions\Date();

    $myForm = $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_begin'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_end'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('transport_service'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('transport_status'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        //array('element' => $myForm->get('order_by'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        //array('element' => $myForm->get('order'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
    );
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= '<th>Công cụ</th>';
    $xhtmlHead .= '<th>Tỉnh/Thành phố</th>';
    $xhtmlHead .= '<th>Quận/Huyện</th>';
    $xhtmlHead .= '<th>Mã đơn hàng</th>';
    $xhtmlHead .= '<th>Mã vận đơn</th>';
    $xhtmlHead .= '<th>Người nhận</th>';
    $xhtmlHead .= '<th>Đơn vị vận chuyển</th>';
    $xhtmlHead .= '<th>Trạng thái trên hệ thống</th>';
    $xhtmlHead .= '<th>Trạng thái đơn vị giao vận</th>';
    $xhtmlHead .= '<th>Ngày tạo</th>';
    $xhtmlHead .= '<th>Giá trị đơn hàng</th>';
    $xhtmlHead .= '<th>Tổng cước</th>';
    $xhtmlHead .= '</tr>';
    
    // Danh sách
    $xhtmlItems = '';
    if($this->items->count() > 0) {
        $stt = 0;
        foreach ($this->items AS $key => $item) {
            $stt++;
            $cid                    = @$this->xFormInput('cid[]', $item->id, array('type' => 'checkbox', 'class' => 'checkboxes'));
            // echo '<pre>'; print_r($this->location_city); echo '</pre>'; die;
            $id                     = $item->id;
            $location_city          = $this->location_city[$item->contact_location_city_id]->name;
            $location_district      = $this->location_district[$item->contact_location_district_id]->name;
            $index                  = $item->index;
            $contract_code          = $item->code;
            $contact_name           = $item->contact_name;
            $tracking_code          = $item->tracking_code? $item->tracking_code : 'Chưa có mã';
            $transport_service      = $item->transport_service? $this->transport_service[$item->transport_service] : 'Chưa có';
            $transport_status       = $item->transport_status;
            $transport_type        = $item->transport_type? $this->transport_type[$item->transport_type] : 'Chưa có';
            $date                   = $dateFormat->formatToView($item->date);
            $contract_price         = number_format($item->price).' đ';
            $total_price            = number_format($item->transport_fee).' đ';

            switch ($transport_status) {
                case 101:
                    $transport_status = '<span class="label label-default">'. $this->transport_status[$item->transport_status] .'</span>';
                    break;
                case 102:
                    $transport_status = '<span class="label label-warning">'. $this->transport_status[$item->transport_status] .'</span>';
                    break;
                case 103:
                    $transport_status = '<span class="label label-info">'. $this->transport_status[$item->transport_status] .'</span>';
                    break;
                case 104:
                    $transport_status = '<span class="label label-success">'. $this->transport_status[$item->transport_status] .'</span>';
                    break;
                case 105:
                    $transport_status = '<span class="label label-primary">'. $this->transport_status[$item->transport_status] .'</span>';
                    break;
                case 106:
                    $transport_status = '<span class="label label-important">'. $this->transport_status[$item->transport_status] .'</span>';
                    break;
                default:
                    $transport_status = '<span class="label label-success">'. $item->transport_status .'</span>';
                    break;
            }
            
            // Link Action
            $linkView               = $this->url('routeAdmin/default', array('controller' => 'contract', 'action' => 'view', 'id' => $id));
            $linkEdit               = 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'edit')) .'\', {\'id\': \''. $id .'\'});';
            $linkEditNote           = 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'edit-note')) .'\', {\'id\': \''. $id .'\'});';
            $linkDelete             = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'delete', 'id' => $id));
            $linkBillAdd            = 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'bill-add')) .'\', {\'id\': \''. $id .'\'});';
            $linkContactEdit        = 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'contact-edit')) .'\', {\'id\': \''. $item['contact_id'] .'\'});';
            
            // Control Action
            $controlView            = $this->linkAdminHtml($linkView, array('type' => 'icon', 'title' => 'Xem chi tiết', 'class' => 'btn btn-xs blue', 'icon' => 'fa fa-info'));
            
            $controls               = $controlView;
            /*$controls              .= ' <div class="btn-group">
                                            <button class="btn green btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                               <i class="fa fa-cog"></i> <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="javascript:;" onclick="'. $linkBillAdd .'"><i class="fa fa-money"></i> Thêm hóa đơn</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:;" onclick="'. $linkContactEdit .'"><i class="fa fa-user"></i> Sửa khách hàng</a></li>
                                                <li><a href="javascript:;" onclick="'. $linkEdit .'"><i class="fa fa-edit"></i> Sửa hợp đồng</a></li>
                                                <li><a href="javascript:;" onclick="'. $linkEditNote .'"><i class="fa fa-file-text-o"></i> Sửa ghi chú</a></li>
                                                <li class="divider"></li>
                                                <li><a href="'. $linkDelete .'"><i class="fa fa-trash"></i> Xóa</a></li>
                                            </ul>
                                        </div>';*/

            $xhtmlItems .= '<tr id="tr_'. $id .'">
                                <td>'. $cid .'</td>
                                <td>'. $controls .'</td>
                                <td>'. $location_city .'</td>
                                <td>'. $location_district .'</td>
                                <td>'. $contract_code .'</td>
                                <td>'. $tracking_code .'</td>
                                <td>'. $contact_name .'</td>
                                <td>'. $transport_service .'</td>
                                <td>'. $transport_status .'</td>
                                <td>'. $transport_status .'</td>
                                <td>'. $date .'</td>
                                <td>'. $contract_price .'</td>
                                <td>'. $total_price .'</td>
                            </tr>';
        }
    }
    
    // Control
    $arrControl = array(
        array( 'name' => 'add', 'caption' => 'Thêm', 'link' => $this->url('routeAdmin/default', array('controller' => 'contract', 'action' => 'add')), 'icon' => 'fa-plus', 'attributes' => array( 'onclick' => '', 'class' => 'btn' ) ),
        array( 'name' => 'create', 'caption' => 'Tạo đơn hàng', 'link' => 'javascript:;', 'icon' => 'fa-plus', 'attributes' => array( 'onclick' => 'javascript:createTransport();', 'class' => 'btn' ) ),
        array( 
            'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown' ), 
            'children' => array(
                array( 'name' => 'export', 'caption' => 'Xuất bản excel', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'export')), 'icon' => 'fa-file-excel-o') 
            ), 'children-class' => 'dropdown-menu pull-right' ),
    );
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminFormFilter" id="adminFormFilter" method="post">
    <div class="page-control">
        <div class="title pull-left">
            <?php echo $this->caption;?>
        </div>
        <div class="control pull-right">
            <?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
        </div>
        <div class="clearfix"></div>
    </div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
        <div class="row">
            <?php echo $xhtmlFilter; ?>
        </div>
    </div>
    <div class="page-content">
        <div class="table-manager" id="table-manager">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <?php echo $xhtmlHead;?>
                    </thead>
                    <tbody>
                        <?php echo $xhtmlItems;?>
                    </tbody>
                </table>
            </div>
            <?php
                echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'options' => $this->params['paginator']['options'])); 
            ?>
        </div>
    </div>
</form>
