<?php
	$result = sprintf('
        <div class="box_support">
    		<div class="box_title"><div class="title">Hỗ trợ trực tuyến</div></div>
    		<div class="box_content">
				<div class="hotline"><span>Hotline: </span>'. $settings['General.System.Hotline']['value'] .'</div>
				<div class="email">'. $settings['General.System.Email']['value'] .'</div>
    		</div>
        </div>', $xhtml
    );
?>