@charset "utf-8";
@import "../fonts/font.css";

body{ font-size: 17px; font-family: "Roboto-Regular"; background: #fff;}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
b { font-family: "Roboto-Regular", "Segoe UI", sans-serif;}
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}
ul{list-style: none;}
.clr { clear: both; }
input[type="date"]::-webkit-inner-spin-button {display: none;}
.container, .col-md-12, .col-md-6, .col-md-5 { padding: 0; }

.box_top{ background-color: #FFF; border-bottom: 1px solid #e1e1e1; height: 32px; line-height: 32px; color: red;}
.box_top .contact .hotline {margin-right: 35px; float: left; font-size: 12px; font-weight: 500;}
.box_top .contact .hotline a{ color: red;}
.box_top .contact .hotline a:HOVER{ color: #000;}
.box_top .contact .hotline a i{ margin-right: 2px;}
.box_top .contact:AFTER{ content: ""; display: block; clear: both;}
.box_top .social{ text-align: right; float: right;}
.box_top .social a{ color: #4c607d; display: inline-block; width: 32px; height: 32px; border-right: 1px solid #e1e1e1; text-align: center; font-size: 13px; float: right;}
.box_top .social a:HOVER{ color: #000;}
.box_top .social a:LAST-CHILD{ border-left: 1px solid #e1e1e1;}
.box_top .social:AFTER{ content: ""; display: block; clear: both;}

.box_header{ background-color: #FFF; width: 100%; top: 0; left: 0; z-index: 99999; position: relative; height: 70px;}
.box_header .container{ position: relative;}
.box_header .logo{ display: inline-block; margin-top: 20px; line-height: 100%;}
.box_header .menu{ padding: 18px 0 0; list-style: none; float: right; margin: 0;}
.box_header .menu li{ display: inline-block; padding-left: 40px; text-align: center; vertical-align: middle;}
.box_header .menu li a{ font-size: 15px; color: #282828; padding: 8px 0 6px; display: inline-block; text-transform: uppercase;}
.box_header .menu li a.active{color: #ed1c24;}
.box_header .menu li a:hover{ color: #ed1c24;}
.box_header .menu li a.btn_book{ border-radius: 10px;display: inline-block; background: #eb1c3b; color: #FFF; padding: 0; width: 120px; height: 30px; line-height: 28px; font-weight: 500;}
.box_header .menu li a.btn_book.active{ background-color: #202b53;}
.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}
.box_header .container .row .hotline{display: none;}

.box_header.sticky{ position: fixed; top: 0px; z-index: 99999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
.box_header.sticky .menu li a.last{ padding-right: 20px;}
.box_header.sticky .container .row .hotline{display: block; margin-top: 25px; color: red;}
.box_header.sticky .container .row .hotline a{color: red;}
.box_header.sticky .box_user{ display: block; padding: 10px 0 0;}
.box_header.sticky .box_user li a{ display: inline-block; padding: 5px 20px; color: #404041; font-size: 13px; font-weight: 600; height: auto; line-height: normal;}
.box_header.sticky .box_user li a:hover{ color: #0088cc;}
.box_header.sticky .box_user_login{ display: block;}
.box_header.sticky .box_user_login .dropdown-toggle{ background: none !important; height: 50px; line-height: 50px; margin: 0 0 0 20px;}
.box_header.sticky .box_user_login .dropdown-toggle:focus{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle:hover{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle img{ vertical-align: top; margin-top: 5px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:BEFORE{ right: 12px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:AFTER{ right: 13px;}
.box_header.sticky .box_user_login.navbar-nav>li>a{ padding: 15px 20px;}
.box_header.sticky .box_user_login.navbar-nav>li>a:hover{ background: none; color: #000;}

.box_banner .image img { width: 100%;}

.box_formDangKy { background: url(../images/bg-formDangKy.jpg) no-repeat center; background-size: cover; padding: 160px 0; }
.box_formDangKy .border_title { border: 3px solid #fff; padding: 8px; margin-bottom: 60px; }
.box_formDangKy .formDangKy_title { font-family: "UTM Alexander", Roboto, sans-serif; font-size: 27px; text-transform: uppercase; background: transparent; padding: 25px 0; color: #fff; text-align: center; border: 3px solid #fff; }
.box_formDangKy .formDangKyNgay .price_left { font-family: "Roboto-Bold"; font-size: 20px; color: #fff; border: 3px solid #fff; border-right: none; padding: 15px 0; }
.box_formDangKy .formDangKyNgay .price_right { background-color: #d39e42; font-family: "Roboto-Bold"; font-size: 20px; color: #fff; border: 3px solid #d39e42; padding: 15px 0; }
.box_formDangKy .formDangKyNgay .price_title { color: #fff; padding: 70px 0; font-family: "Roboto-Regular"; font-size: 25px; text-align: center; }
.box_formDangKy .form-control { border-radius: 0; padding-left: 30px; height: 50px; }
.box_formDangKy .form-group { margin-bottom: 10px; }
.box_formDangKy .form-group select { color: #163052; font-size: 20px; font-family: "Roboto-Light"; }
.box_formDangKy .form-control::placeholder { color: #163052; font-size: 20px; font-family: "Roboto-Light"; }
.box_formDangKy .number_left { padding-left: 0; }
.box_formDangKy .price2_right { padding-right: 0; }
.box_formDangKy .end_sales { color: #58595b;}
.box_formDangKy .end_sales .title { color: #58595b; font-size: 26px; font-weight: 700; text-align: center;}
.box_formDangKy .end_sales .title span{ color: #ad1933;}
.box_formDangKy .end_sales .price{ text-align: center; font-size: 40px; padding: 30px 0; color: #ad1933; font-weight: 600;}
.box_formDangKy .end_sales .price .old{ text-decoration: line-through; color: #999; font-size: 20px;}
.box_formDangKy .end_sales .apdung{ text-align: center; font-size: 26px;}
.box_formDangKy .end_sales .thoigian{ text-align: center; font-size: 20px; padding: 32px 0 20px;}
.box_formDangKy .end_sales .clock{ margin: 0 auto; text-align: center;}
.box_formDangKy .end_sales .clock:after{ content: ""; display: block; clear: both;}
.box_formDangKy .end_sales .clock .boxe{ font-family: "Roboto-Bold"; font-size: 17px; width: 70px; height: 95px; text-align: center; background: #fff; color: #303753; display: inline-block; margin-left: 10px; border-radius: 5px; }
.box_formDangKy .end_sales .clock .boxe:FIRST-CHILD{ margin-left: 0;}
.box_formDangKy .end_sales .clock .boxe span{ font-size: 44px; display: block; height: 60px; line-height: 60px; font-weight: 700;}
.box_formDangKy .container_box { padding-bottom: 260px; }
.box_formDangKy .border-btn-register { border: 2px solid #fff; padding: 2px 3px; }
.box_formDangKy .btn-register {width: 100%; color: #ffffff; font-size: 26px; background-color: #D3A23B; border: 0px; padding: 10px 0; text-transform: uppercase; font-family: UTM Alexander; }

.box_courses { background: url(../images/box_courses.png) no-repeat; background-size: contain; padding: 160px 0; }
.box_courses .container { background: #fff; }
.box_courses fieldset.scheduler-border { border: 2px solid #132c50 !important; padding: 0 1.4em 1.4em 1.4em !important; margin: 0 0 1.5em 0 !important; -webkit-box-shadow:  0px 0px 0px 0px #000; box-shadow:  0px 0px 0px 0px #000; }
.box_courses legend.scheduler-border { font-family: "Roboto-Medium"; font-size: 25px !important; font-weight: bold !important; text-align: center !important; width: auto; padding: 0 10px; border-bottom: none; text-transform: uppercase; color: #132c50; }
.box_courses .category { font-family: "Roboto-Light"; background: #132c50; padding: 10px 0; border-radius: 10px; color: #fff; text-align: center; cursor: pointer; }
.box_courses .active { font-family: "Roboto-Bold"; background: #D2A23A; padding: 10px 0; border-radius: 10px; color: #132c50; text-align: center; cursor: pointer; }
.box_courses .item { margin-bottom: 40px; /*position: relative;*/ }
.box_courses .item .image { overflow: hidden; margin-bottom: 20px; }
.box_courses .item .image img { width: 100%; }
.box_courses .item .info .title { margin: 0 0 10px; font-weight: 700; font-size: 23px; line-height: 25px; }
.box_courses .item .info .speakers { font-size: 14px; color: #707070; margin-bottom: 2px; font-weight: 700; }
.box_courses .item .info .location { font-size: 14px; color: #707070; }
.box_courses .col-md-4:nth-of-type(3n+1) {clear: both;}

.box_courses_other { background: url(../images/box_courses.png) no-repeat; background-size: contain; padding: 0 0 160px 0; }
.box_courses_other .container { background: #fff; }
.box_courses_other fieldset.scheduler-border { border: 2px solid #132c50 !important; padding: 0 1.4em 1.4em 1.4em !important; margin: 0 0 1.5em 0 !important; -webkit-box-shadow:  0px 0px 0px 0px #000; box-shadow:  0px 0px 0px 0px #000; }
.box_courses_other legend.scheduler-border { font-family: "Roboto-Medium"; font-size: 25px !important; font-weight: bold !important; text-align: center !important; width: auto; padding: 0 10px; border-bottom: none; text-transform: uppercase; color: #132c50; }
.box_courses_other .category { font-family: "Roboto-Light"; background: #132c50; padding: 10px 0; border-radius: 10px; color: #fff; text-align: center; cursor: pointer; }
.box_courses_other .active { font-family: "Roboto-Bold"; background: #D2A23A; padding: 10px 0; border-radius: 10px; color: #132c50; text-align: center; cursor: pointer; }
.box_courses_other .item { margin-bottom: 40px; /*position: relative;*/ }
.box_courses_other .item .image { overflow: hidden; margin-bottom: 20px; }
.box_courses_other .item .image img { width: 100%; }
.box_courses_other .item .info .title { margin: 0 0 10px; font-weight: 700; font-size: 23px; line-height: 25px; }
.box_courses_other .item .info .speakers { font-size: 14px; color: #707070; margin-bottom: 2px; font-weight: 700; }
.box_courses_other .item .info .location { font-size: 14px; color: #707070; }
.box_courses_other .form-search select { border: 2px solid #132c50; border-radius: 20px; color: #132c50; }
.box_courses_other .col-md-4:nth-of-type(3n+1) {clear: both;}

.box_footer{ padding: 60px 0 60px; position: relative; background: #071831; color: #FFF;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}
.box_footer .wrap{ margin: 0 -15px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 15px; padding-bottom: 15px; position: relative;}
.box_footer .col-1 .slogan:before{position: absolute; content: ""; width: 70px; height: 5px; background: #fff; bottom: 0; left: 0;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social {padding-top: 10px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .langtech .title{font-size: 16px; text-transform: uppercase; font-weight: 500; padding: 20px 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #d3a23b; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #C9353D;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}

.btn_Dangky{width: 70px; background: #eb1c3b; padding: 15px; position: fixed; top: 50%; margin-top: -35px; text-align: center; font-size: 17px; font-weight: bold; text-transform: uppercase; color: #fff; border-radius: 10px 0 0 10px; height: auto; right: 0;}
.btn_Dangky:hover{cursor: pointer; background: #0e0e1a; transition: color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}

.box_menuFooter ul{ margin: 0; padding: 0; list-style: none;}
.box_menuFooter ul>li{ display: block;}
.box_menuFooter ul>li>a{ text-transform: uppercase; margin-bottom: 5px; display: block; font-size: 13px;}
.box_menuFooter ul>li>ul{ display: none;}

.box_adsFooter{ overflow: hidden; margin-right: 40px;}
.box_adsFooter a{ display: inline-block; font-size: 10px; padding: 5px 10px 3px; border: 1px solid #FFF; border-radius: 14px; text-transform: uppercase; margin: 0 5px 5px 0;}
.box_adsFooter a:HOVER{ background-color: #FFF; color: #071831 !important;}

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}
.has-error .form-control{border: 1px solid #ec1c3c;}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

.modal-dialog{top: 30%;}
.modal-header{border: 0;}
.modal-dialog .modal-body p{text-transform: uppercase; text-align: center; color: #01234f; font-size: 20px; padding: 5px 20px; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s;}
.modal-dialog .modal-body p:hover a{color: #bb0000;}
.modal-dialog .modal-body .hotline{font-weight: 900;}
.modal-dialog .modal-body a span{font-weight: 700;}

.box_dangKyTuVan { display: none; }

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

iframe[name="google_conversion_frame"]{ height: 0;}

/*RESPONSIVE*/


@media ( max-width : 1200px){
}

@media ( min-width : 1200px) {
  	.popup_video .popup_content{ width: 60%;}
}

@media ( max-width : 1000px) {
	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

	.box_header{ height: 43px; position: fixed; border: 0; padding: 0 0 10px 0; top: 32px; z-index: 100000000; display: inline-table;}
	.box_header.sticky{ position: fixed; top: 0px; z-index: 9999999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }
	.box_header .container{ position: relative;}
	.box_header .logo{ margin-top: 12px !important;}
	.box_header .logo img{ height: 20px;}
	.box_header .menu_mobile{ top: 7px; width: auto;}
	.box_header .menu_mobile .menu-item{padding-top: 5px;}
	.box_header .menu_mobile .hotline{font-size: 11px; color: red;}
	.box_header .menu_mobile .hotline a{color: red;}
	.box_header .menu_mobile a{display: inline-block;}
	.box_header .menu_mobile .btn_book{margin: 0 8px;}
	.box_header .menu_mobile .btn_book{background-color: #ec1c3c; color: #FFF; text-align: center; padding: 0; width: 120px; height: 30px; line-height: 28px; font-weight: normal;}
	.box_header .menu_mobile a .item{ background-color: #999; width: 30px;display: grid;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 60%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	.box_header .menu li:first-child{ padding-left: 20px; }
	.box_header .menu{ margin: 0 !important;}
	.box_loiich {background: #fff;}

	.box_thongTin .box_content{padding: 0;}
	
	.popup_video .popup_content{ width: calc(100% - 40px); top: 10%;}

	.box_student .item{padding: 0 25px;}
	.box_student .bx-controls-direction a.bx-next, .box_student .bx-controls-direction a.bx-next:hover{right: -1%;}
	.box_student .bx-controls-direction a.bx-prev, .box_student .bx-controls-direction a.bx-prev:hover{right: 90%;}
}

@media ( max-width : 768px) {
	.col-md-4 { padding: 0; }
	.box_formDangKy { padding: 70px 0; }
	.box_formDangKy .border_title { border: 2px solid #fff; padding: 5px; margin-bottom: 50px; }
	.box_formDangKy .formDangKy_title { border: 2px solid #fff; }
	.box_formDangKy .formDangKy_title { font-size: 20px; padding: 20px 0; }
	.box_formDangKy .container_box { padding-bottom: 50px; }
	.box_formDangKy { padding: 70px 10px 0 10px; }
	.box_formDangKy .formDangKyNgay .price_title { padding: 20px 0; }
	.box_formDangKy .end_sales { padding-bottom: 20px; }
	.box_formDangKy .number_left { padding-right: 0; }
	.box_formDangKy .price2_right { padding-left: 0; }
	.box_formDangKy .formDangKyNgay .price_left { font-family: "Roboto-Bold"; font-size: 20px; color: #fff; border: 3px solid #fff; padding: 15px 0; }

	.box_courses { padding: 30px 10px; }
	.box_courses .category { margin-bottom: 10px; }
	.box_courses legend.scheduler-border { font-size: 20px !important; }

	.box_courses_other { padding: 0 10px 0 10px; }
	.box_courses_other legend.scheduler-border { font-size: 20px !important; }
	.box_courses_other .category { margin-bottom: 10px; }

	.box_footer{ padding: 60px 10px; position: relative; background: #071831; color: #FFF;}
}

@media(max-width:480px){
	.box_header.sticky{ padding: 0px;}
	.slick-dots{ display: none;}
	.box_banner { margin: 0; }
}