<?php
    $dateFormat = new \ZendX\Functions\Date();
    
    // Định nghĩa
    $arrName = array(
        'user_id' => 'Người quản lý',
        'sale_branch_id' => 'Cơ sở',
        'sale_group_id' => 'Nhóm',
        'date' => 'Ngày',
        'index' => 'Mã',
        'type' => 'Phân loại',
        'type_id' => 'Phân loại',
        'price' => 'Giá',
        'price_unit' => 'Đơn vị',
        'price_promotion' => 'Giá ưu đãi',
        'price_promotion_percent' => 'Giảm %',
        'price_promotion_price' => 'Giảm giá',
        'promotion_content' => 'Lý do giảm giá',
        'price_total' => 'Thành tiền',
        'paid_price' => 'Tiền thu',
        'accrued_price' => 'Tiền chi',
        'product_id' => 'Sản phẩm',
        'edu_class_id' => 'Lớp học',
        'promotion_id' => 'Ưu đãi',
        'phone' => 'Điện thoại',
        'name' => 'Tên',
        'email' => 'Email',
        'source_group_id' => 'Nguồn khách hàng',
        'contact_ids' => 'Số khách hàng',
        'content' => 'Nội dung',
        'bill_type_id' => 'Hình thức',
        'note' => 'Nội dung/Ghi chú',
        'location_city_id' => 'Tỉnh thành',
        'location_district_id' => 'Quận huyện',
        'birthday' => 'Ngày sinh',
        'birthday_year' => 'Năm sinh',
        'created' => 'Ngày tạo',
        'created_by' => 'Người tạo',
        'matter_ids' => 'Vật phẩm',
        'reserve_sessions' => 'Số buổi đã học',
        'reserve_date_begin' => 'Bảo lưu từ ngày',
        'reserve_date_end' => 'Hạn cuối bảo lưu',
        'reserve_content' => 'Lý do bảo lưu',
        'reserve_cancel_content' => 'Lý do hủy bảo lưu',
        'reserve_from' => 'Bảo lưu từ',
        'reserve_to' => 'Bảo lưu tới',
        'action_id' => 'Hành động',
        'result_id' => 'Kết quả',
        'return' => 'Hẹn lại'
    );
    
    $arrSource = array_merge($this->document, $this->user, $this->product);
    
    $myForm = $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('order')),
        array('element' => $myForm->get('order_by')),
    );
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= '<th>Ngày thực hiện</th>';
    $xhtmlHead .= '<th>Người thực hiện</th>';
    $xhtmlHead .= '<th>Tiêu đề</th>';
    $xhtmlHead .= '<th>Số điện thoại</th>';
    $xhtmlHead .= '<th>Tên khách hàng</th>';
    $xhtmlHead .= '<th>Hành động</th>';
    $xhtmlHead .= '<th>Nội dung</th>';
	$xhtmlHead .= '</tr>';
	
    // Danh sách
    $xhtmlItems = '';
    foreach ($this->items AS $item) {
        $cid                = @$this->xFormInput('cid[]', $item->id, array('type' => 'checkbox', 'class' => 'checkboxes'));
        
        $id                 = $item->id;
        $title              = $item->title;
        $phone              = $item->phone;
        $name               = $item->name;
        $action             = $item->action;
        $created            = $dateFormat->formatToView($item->created, 'd/m/Y H:i:s');
        $created_by         = $this->user[$item->created_by]['name'];
        $created_by_branch  = !empty($this->user[$item->created_by]['sale_branch_id']) ? ' - '. $this->document[$this->user[$item->created_by]['sale_branch_id']]['name'] : '';
        $created_by_group   = !empty($this->user[$item->created_by]['sale_group_id']) ? ' - '. $this->document[$this->user[$item->created_by]['sale_group_id']]['name'] : '';
        $options            = !empty($item->options) ? unserialize($item->options) : array();
        $content            = '';
        if(count($options) > 0) {
            foreach ($options AS $k => $v) {
                if($k == 'date') {
                    $v = $dateFormat->formatToView($v);
                }
                if(is_array($v)) {
                    $v = count($v);
                }
                if($k == 'matter_ids') {
                    $val_tmp = explode(',', $v);
                    $val_text = '';
                    if(strlen($val_tmp[0]) == 22) {
                        foreach ($val_tmp AS $k_tmp => $v_tmp) {
                            $val_text .= ', '. $arrSource[$v_tmp]['name'];
                        }
                        
                        $v = substr($val_text, 2);
                    }
                }
                
                $text = !empty($arrSource[$v]) ? $arrSource[$v]['name'] : $v;
                $content .= $arrName[$k] .': '. $text .'<br>';
            }
        }
        
        // Link Action
        $linkEdit       = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form', 'id' => $id));
        
        // Control Action
        $controlEdit    = $this->linkAdminHtml($linkEdit, array('type' => 'icon', 'title' => 'Sửa', 'class' => 'btn btn-xs yellow', 'icon' => 'fa fa-edit'));
        $controlStatus  = $this->linkAdminStatus($id, $item->status);
        $controls       = $controlStatus . $controlEdit;
        
        $xhtmlItems .= '<tr id="tr_'. $id .'">
							<td>'. $cid .'</td>
							<td>'. $created .'</td>
							<td>'. $created_by . $created_by_group . $created_by_branch .'</td>
							<td>'. $title .'</td>
							<td>'. $phone .'</td>
							<td>'. $name .'</td>
							<td>'. $action .'</td>
							<td>'. $content .'</td>
						</tr>';
    }
    
    // Control
    $arrControl = array(
        array( 'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', ), 'children' => array( array( 'name' => 'sort', 'caption' => 'Sắp xếp', 'link' => 'javascript:;', 'icon' => 'fa-sort-alpha-asc', 'attributes' => array( 'onclick' => 'javascript:changeOrdering();', ) ), array( 'name' => 'divider' ), array( 'name' => 'active', 'caption' => 'Hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-check-square-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 0);', ) ), array( 'name' => 'inactive', 'caption' => 'Không hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-circle-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 1);', ) ), array( 'name' => 'divider' ), array( 'name' => 'delete', 'caption' => 'Xóa', 'link' => 'javascript:;', 'icon' => 'fa-trash', 'attributes' => array( 'onclick' => 'javascript:deleteItem(\'multi\', \'all\');', ) ), array( 'name' => 'divider' ), array( 'name' => 'print', 'caption' => 'In', 'link' => 'javascript:;', 'icon' => 'fa-print', 'attributes' => array( 'onclick' => 'javascript:printPage();', ) ), array( 'name' => 'export', 'caption' => 'Xuất bản excel', 'link' => 'javascript:;', 'icon' => 'fa-file-excel-o', 'attributes' => array( 'onclick' => 'javascript:exportList();', ) ), ), 'children-class' => 'dropdown-menu pull-right' ),
    );
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminFormFilter" id="adminFormFilter" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
    	<div class="row">
    		<?php echo $xhtmlFilter;?>
    	</div>
    </div>
    <div class="page-content">
    	<div class="table-manager" id="table-manager">
    		<div class="table-scrollable">
    			<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<?php echo $xhtmlHead;?>
    				</thead>
    				<tbody>
    					<?php echo $xhtmlItems;?>
    				</tbody>
    			</table>
    		</div>
    		<?php
            	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'options' => $this->params['paginator']['options'])); 
            ?>
    	</div>
	</div>
</form>
