@charset "utf-8";
@import "../fonts/font.css";

body{ color: #282828; font-size: 17px;}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}

.clr { clear: both; }

.box_header{ background-color: #FFF; width: 100%; top: 0; left: 0; z-index: 99999; position: relative; height: 90px;}
.box_header .container{ position: relative;}
.box_header .logo{ display: inline-block; margin-top: 28px;}
.box_header .menu{ padding: 28px 0 0; list-style: none; float: right; margin: 0;}
.box_header .menu li{ display: inline-block; padding-left: 35px; text-align: center; vertical-align: middle;}
.box_header .menu li a{ font-size: 15px; color: #282828; font-family: "Roboto-Medium"; text-transform:uppercase; padding: 8px 0 6px; display: inline-block;}
.box_header .menu li a.active{color: #ed1c24;}
.box_header .menu li a:hover{ color: #ed1c24;}
.box_header .menu li a.btn_book{ display: inline-block; background-color: #ec1c3c; color: #FFF; padding: 0; width: 112px; height: 28px; line-height: 28px; font-size: 13px; font-weight: normal; font-family: "Roboto-Medium", "Segoe UI"; border-radius: 3px;}
.box_header .menu li a.btn_book:hover{ background-color: #122c50; transition:color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box_header .menu li a.btn_book.active{ background-color: #ed1c24;}
.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}

.box_header.sticky{ position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
.box_header.sticky .menu li a.last{ padding-right: 20px;}
.box_header.sticky .box_user{ display: block; padding: 10px 0 0;}
.box_header.sticky .box_user li a{ display: inline-block; padding: 5px 20px; color: #404041; font-size: 13px; font-weight: 600; height: auto; line-height: normal;}
.box_header.sticky .box_user li a:hover{ color: #0088cc;}
.box_header.sticky .box_user_login{ display: block;}
.box_header.sticky .box_user_login .dropdown-toggle{ background: none !important; height: 50px; line-height: 50px; margin: 0 0 0 20px;}
.box_header.sticky .box_user_login .dropdown-toggle:focus{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle:hover{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle img{ vertical-align: top; margin-top: 5px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:BEFORE{ right: 12px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:AFTER{ right: 13px;}
.box_header.sticky .box_user_login.navbar-nav>li>a{ padding: 15px 20px;}
.box_header.sticky .box_user_login.navbar-nav>li>a:hover{ background: none; color: #000;}

.box_banner .image img{ width: 100%;}

.box_gioiThieu{ padding: 60px 0;}
.box_gioiThieu .text { text-align: justify; color: #414042; padding: 50px 20px 0 0;}
.box_gioiThieu .text div{ margin-bottom: 20px;}
.box_gioiThieu .image { text-align: center;}
.box_gioiThieu .image img{ max-width: 100%;}

.box_quote{ overflow: hidden;}
.box_quote .slick-slide{ padding: 0;}
.box_quote .slick-dots li{ background: #d2d2d2; width: 20px; height: 20px; position: relative; bottom: 30px; display: inline-block; margin: 0 5px; border-radius: 50%;}
.box_quote .slick-dots li.slick-active{ background: #FFF;}
.box_quote .center{ text-align: center; width: 100%;}
.box_quote img{ opacity: 1 !important; width: 100%;}

.box_nghienCuu{ padding: 30px 0 60px 0;}
.box_nghienCuu .box_title{ text-align: center;}
.box_nghienCuu .box_title img{ max-width: 90%;}
.box_nghienCuu .box_content{ padding: 60px 100px 0; text-align: justify;}

.box_thongTin{ padding: 100px 0 0; background: url(../images/thongtin-1.jpg) no-repeat top center;}
.box_thongTin .box_title{ text-align: center; color: #FFF; }
.box_thongTin .box_title .title_1{ font-size: 30px; padding-bottom: 10px; font-family: "UTM-Bebas_1";}
.box_thongTin .box_title .title_2{ font-size: 45px; padding-bottom: 65px; font-family: "UTM-Bebas_1";}
.box_thongTin .box_content{ width: 1000px; max-width: 100%; background: #FFF; margin: 0 auto; padding: 90px 100px; position: relative;}
.box_thongTin .box_content:after{ content: ""; position: absolute; top: 58px; left: 100px; width: 50px; height: 5px; background: #426ffe;}
.box_thongTin .box_content .text{ padding-bottom: 30px;}
.box_thongTin .box_content .text p{ font-size: 17px; margin-bottom: 8px;}
.box_thongTin .box_content .text p span{font-family: "Roboto-Bold";}
.box_thongTin .box_content .text b{ font-family: "Roboto-Medium";}
.box_thongTin .box_content .info .item{ display: table; font-family: "Roboto-Bold"; font-size: 17px; margin-bottom: 15px;}
.box_thongTin .box_content .info .item .key{ display: table-cell; width: 130px; vertical-align: middle; font-family: "UTM-Bebas_1"; font-size: 25px;}
.box_thongTin .box_content .info .item .value{ text-transform:uppercase; display: table-cell; width: 670px; border: 1px solid #222831; vertical-align: middle; padding: 20px 30px; font-family: "Roboto-Medium";}
.box_thongTin .box_content .info .item .value .item{font-family: "Roboto-Medium";}
.box_thongTin .box_content .info .item .value.btn_book{ background: #e71e42; border: none; color: #FFF; text-align: center; font-size: 20px; font-family: "Montserrat-SemiBold"; padding: 18px 30px;}
.box_thongTin .box_content .info .item .value.btn_book a{ color: #FFF; font-family: "Roboto-Bold";}
.box_thongTin .box_content .info .item:hover .value { color: #fff; background: #122c50; transition:color 0.3s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}

.box_loiich{ height: 450px;}
.box_loiich .box_content .box_left{  background: url("../images/banner-3.jpg") no-repeat center; vertical-align: top; max-width: 100%; width: 50%; float: left; height: 450px; background-size: cover;}
.box_loiich .box_content .box_right{ width: 50%; vertical-align: middle; max-width: 100%; float: right; height: 600px; background: #fff;}
.box_loiich .box_content .box_info{ width: 600px; max-width: 100%; font-size: 18px; line-height: 30px; font-family: "Roboto-Regular"; padding-left: 65px;}
.box_loiich .box_content .box_info .title{font-size: 40px; font-family: "UTM-Bebas_1"; color: #152b50; padding: 45px 0 35px 45px;}
.box_loiich .box_content .box_info .item{position: relative; font-family: "Roboto-Medium"; font-size: 17px; line-height: 24px; padding-bottom: 30px;}
.box_loiich .box_content .box_info .item:before{position: absolute; content: ""; width: 20px; height: 20px; background: url("../images/icon-1.png") no-repeat top center; top: 5px; left: -40px;}

.box_noiDungKhoaHoc{ padding: 0 0 60px 0; }
.box_noiDungKhoaHoc .box_title{width: 100%; display: flow-root; text-align: center; font-family: "UTM-Bebas_1"; font-size: 40px; text-transform: uppercase; color: #202b53; padding-bottom: 50px;}
.box_noiDungKhoaHoc .box{ margin-bottom: 30px;}
.box_noiDungKhoaHoc .box .title{ font-weight: bold; color: #202b53; text-transform: uppercase; margin-bottom: 5px; padding-left: 22px;}
.box_noiDungKhoaHoc .box .item{ color: #414042; padding-left: 22px; position: relative; text-align: justify;}
.box_noiDungKhoaHoc .box .item:BEFORE{ content: "\f111"; font-family: FontAwesome; font-size: 12px; position: absolute; top: 4px; left: 0; color: #ed2a49;}
.box_noiDungKhoaHoc .left .box{ padding-right: 30px;}
.box_noiDungKhoaHoc .right .box{ padding-left: 30px;}

.box_aiNen{ position: relative; padding: 40px 0; background: url("../images/ainen_bg.jpg") no-repeat center center; background-size: cover;}
.box_aiNen .title{ font-family: "UTM-Bebas_1"; font-size: 30px; color: #FFF; margin-bottom: 20px; text-transform: uppercase; padding-left: 20px;}
.box_aiNen .content { padding-left: 50px;}
.box_aiNen .content p{ margin-bottom: 20px; position: relative; padding-left: 20px; color: #FFF;}
.box_aiNen .content p:BEFORE{ content: "\f111"; font-family: FontAwesome; font-size: 12px; position: absolute; top: 5px; left: 0; color: #FFF;}

.box_dienGia{ background: url("../images/banner-4.jpg") no-repeat center; font-size: cover; color: #FFF; overflow: hidden; position: relative; height: 600px; background-size: cover;}
.box_dienGia .content { padding: 140px 0 80px 0;}
.box_dienGia .box_title .title_1{ font-size: 40px; font-family: "DP-Bold"; color: #FFF;line-height: 45px;padding-bottom: 15px;}
.box_dienGia .box_content .item{padding-bottom:15px; position: relative; padding-left: 40px; font-size: 15px; font-family: "Roboto-Regular"; line-height: 29px;}
.box_dienGia .box_content .item:before{ content: ""; width: 7px; height: 7px; background: url("../images/icon-13.png") no-repeat; position: absolute; top: 12px; left: 0;}

.box_dangKy{margin-bottom:60px; color: #30373d; position: relative; padding-bottom: 150px; background: url("../images/banner-5.jpg") no-repeat top center; background-size: cover;}
.box_dangKy .title_1{padding: 170px 0 20px 0; margin-right:40px; font-size: 30px; line-height: 27px; font-family: "DP-Bold"; color: #fff; text-align: center;}
.box_dangKy .uudai{background: #fff; margin-right: 40px;}
.box_dangKy .uudai .text{padding: 25px 0; background: #e71e42; font-size: 20px; line-height: 27px; font-family: "Roboto-Bold"; color: #fff; text-align: center;}
.box_dangKy .uudai .box_content{padding: 60px 70px 35px 70px;}
.box_dangKy .uudai .box_content .table>tbody>tr>td{height: 55px; text-align:center; vertical-align: middle; padding-left:15px; border: 1px solid #e71e42; font-size: 20px; line-height: 27px; font-family: "Roboto-Regular";}
.box_dangKy .uudai .box_content .table .item{text-align: center; font-family: "Roboto-Bold";}
.box_dangKy .uudai .text_2{font-size: 17px; line-height: 25px; font-family: "Roboto-Regular"; padding-top: 20px; text-align: center;}
.box_dangKy .uudai .text_2 span{font-size: 17px; line-height: 25px; font-family: "Roboto-Bold";}
.box_dangKy .dangKy{ padding: 100px 0 0 15px; margin-top: 15px;}
.box_dangKy .dangKy .box_title{ font-family: "DP-Bold"; text-align: center; padding-bottom: 23px; color: #fff; font-size: 30px; line-height:40px;}
.box_dangKy .dangKy .box_title span{color: #ec1b3c;}
.box_dangKy .dangKy .form-control{border:1px solid rgba(38, 49, 85, 0.7); color:#fff; height: 55px; background:rgba(38, 49, 85, 0.7); border-radius: 0; padding: 0 30px; font-size: 17px; line-height:27px; font-family: "Roboto-Regular";}
.box_dangKy .dangKy .form-control::placeholder{color: #fff;}
.box_dangKy .dangKy select{font-size: 17px; color: #fff;}
.box_dangKy .dangKy option{font-size: 17px; color: #fff;}
.box_dangKy .dangKy .error{ color: #FF0000;}
.box_dangKy .dangKy .alert{margin-top: 10px; border-radius: 0;}
.box_dangKy .dangKy .btnSuccess{ text-align: center; margin-top: 10px;}
.box_dangKy .dangKy .btnSuccess .input-lg{padding-top:15px; border: none; border-radius: 0; width: 100%; background: #e71e42; color: #fff;font-family: "DP-Bold"; font-size: 25px; text-transform: uppercase; height: 55px; vertical-align: middle;}
.box_dangKy .dangKy .btnSuccess .input-lg:hover{background: #0e0e1a; transition: color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box_dangKy .dangKy .btnSuccess .input-lg:FOCUS{ outline: none;}
.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100%; background: rgba(38, 49, 85, 0.7) !important; height: 65px; border-radius: 0; padding: 0 30px; font-family: "Roboto-Regular"; font-size: 20px;}
.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{padding: 0; color: #fff; height: 55px; background: rgba(38, 49, 85, 0) !important; border-radius: 0; border: 0; font-family: "Roboto-Regular"; font-size: 17px;}
.box_dangKy .btn-group.open .dropdown-toggle{color: #fff; height: 55px; background: rgba(38, 49, 85, 0) !important; border-radius: 0; border: 0; font-family: "Roboto-Regular"; font-size: 17px;}
.box_dangKy .bootstrap-select>.dropdown-toggle{color: #fff; height: 55px; background: rgba(38, 49, 85, 0) !important; border-radius: 0; border: 0;font-family:  "Roboto-Regular"; font-size: 17px;}

.box_thanhToan{  color: #30373d; position: relative; margin: 50px 0;}
.box_thanhToan .thanhToan { padding: 0 15px 0 15px;}
.box_thanhToan .thanhToan .box_title{ font-family: "DP-Bold"; padding-bottom: 20px; color: #202b53 ; font-size: 35px; line-height:45px; text-transform: uppercase;}
.box_thanhToan .thanhToan .item { margin-bottom: 30px;}
.box_thanhToan .thanhToan .item .item_title{ font-family: "UTM-Bebas_1"; padding-bottom: 5px; font-size:17px; line-height: 45px;}
.box_thanhToan .thanhToan .item .item_detail{ font-size: 18px; padding-bottom: 20px;line-height: 23px;font-family: "Roboto-Regular";}
.box_thanhToan .thanhToan .item .item_detail span{font-family: "Roboto-Bold";}
.box_thanhToan .thanhToan .item .item_image{ width: 300px; max-width: 100%; margin: 0 auto; background: #f2ad21; color: #FFF; border-radius: 5px; padding: 28px 0;}
.box_thanhToan .thanhToan .item .item_image .image_title{font-family:"Roboto-Medium"; background: #FFF; color: #49556a; text-align: center; height: 38px; line-height: 38px;}
.box_thanhToan .thanhToan .item .item_image .image_desc{ padding: 15px; font-size: 15px; font-family:"Roboto-Medium"; line-height: 30px; color: #111;}
.box_thanhToan .dangKy{border: 2px solid #007acf;}

.box_images{ overflow: hidden;}
.box_images img{ width: 100%; transform: scale(1); transition: transform .5s;}
.box_images img:hover{ transform: scale(1.2); position: relative; z-index: 1;} 
.box_images table{ width: 100%;} 
.box_images table td{ padding: 3px; overflow: hidden;} 
.box_images table div{ overflow: hidden;} 
.box_images .row_1 .image_1{ width: 24.2%; float: left; padding-right: 2px; }
.box_images .row_1 .image_2{ width: 34.73%; float: left; padding: 0 2px; }
.box_images .row_1 .image_3{ width: 19.46%; float: left; padding: 0 2px; }
.box_images .row_1 .image_4{ width: 21.23%; float: left; padding-left: 2px;}

.box_comment{ padding: 40px 0;}

.box_footer{ padding: 60px 0 20px; position: relative; background: #071831; color: #FFF;}
.box_footer .container{ padding: 0 15px;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}
.box_footer .wrap{ margin: 0 -15px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px; margin-bottom: 40px;}
.box_footer .col-1{ width: 440px; max-width: 100%;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 10px;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-2{ width: 250px; max-width: 100%;}
.box_footer .col-2 .box_content .box_menuFooter>ul{padding: 0;}
.box_footer .col-2 .box_content .box_menuFooter>ul>li{list-style: none;}
.box_footer .col-3{ width: 280px; max-width: 100%;}
.box_footer .col-3 a{padding-right: 10px;}
.box_footer .col-4{ width: 250px; max-width: 100%;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #ec1c3c; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #122c50;}
.box_footer .alert{ font-size: 11px; border-radius: 0; padding: 5px 10px;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}
.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }
.has-error .form-control{border: 1px solid #ec1c3c !important;}

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

iframe[name="google_conversion_frame"]{ height: 0;}

/*RESPONSIVE*/
@media ( min-width : 1200px) {
  .popup_video .popup_content{ width: 60%;}
}

@media ( max-width : 1000px) {
	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

	.box_header{ height: 43px; position: fixed; border: 0; padding: 0 0 10px 0;}
	.box_header.sticky{ position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }
	.box_header .container{ position: relative;}
	.box_header .logo{ margin-top: 8px !important;}
	.box_header .logo img{ height: 20px;}
	.box_header .menu_mobile{ top: 13px;}
	.box_header .menu_mobile .item{ background-color: #999;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 60%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	.box_header .menu li:first-child{ padding-left: 20px; }
	.box_header .menu{ margin: 0 !important;}
	
	.box_loiich{height: auto;}
	.box_loiich .box_content .box_left{display: none;}
	.box_loiich .box_content .box_right{width: 100%; height: auto;}
	.box_loiich .box_content .box_info{padding: 0 10px 0 40px;}
	.box_loiich .box_content .box_info .item:before{left: -30px;}
	
	.box_thongTin{background: #122c50;}
	.box_dienGia{background: #122c50;}

	.popup_video .popup_content{ width: calc(100% - 40px); top: 10%;}
}

@media ( max-width : 768px) {
	body{ color: #282828; font-size: 15px;}

	.box_banner .image img{ margin-top: 43px; }
	.box_header.sticky{ padding: 0px;}

	.box_gioiThieu{ padding: 30px 0;}
	.box_gioiThieu .container{ padding: 0 10px;}
	.box_gioiThieu{ font-size: 16px;}
	.box_gioiThieu .box_title img{ width: 80%; }
	.box_gioiThieu .box_title{ margin-bottom: 20px;}
	.box_gioiThieu .box_content{ text-align: justify;}
	.box_gioiThieu .box_content p { line-height: 23px;}
	.box_gioiThieu .box_content p:FIRST-CHILD { font-size: 15px; padding: 0; margin-bottom: 10px;}
	.box_gioiThieu .box_content p:nth-child(2) { padding: 0; }
	.box_gioiThieu .box_content p:nth-child(2) span:nth-child(2){ padding-left: 13px; }

	.box_nghienCuu{ padding: 30px 0;}
	.box_nghienCuu .box_content{ padding: 30px 10px;}

	.box_quote .center{ width: 100%;}
	.box_quote .befor{ width: 100%; padding-right: 10px; padding-top: 20px;}
	.box_quote .befor .text{ font-size: 20px; }
	.box_quote .befor .draggable { padding-left: 30px; background: url("../images/phay.png") no-repeat 0px 3px; background-size: 30px; padding-top: 10px; padding-bottom: 20px; }

	.box_noiDungKhoaHoc .left .box{ padding-right: 0;}
	.box_noiDungKhoaHoc .right .box{ padding-left: 0;}

	.box_thongTin{ padding: 40px 0;}
	.box_thongTin .box_title .title_2{ font-size: 22px; padding-bottom: 20px;}
	.box_thongTin .box_content{ padding: 50px 10px;}
	.box_thongTin .box_title .title_1{font-size: 19px;}
	.box_thongTin .box_title .title_2 .item-1{font-size: 28px; line-height: 30px; padding-bottom: 0;}
	.box_thongTin .box_content:after{ top: 25px; left: 30px;}
	.box_thongTin .box_content .text{ padding-bottom: 15px;}
	.box_thongTin .box_content .text p{ font-size: 15px; text-align: justify;}
	.box_thongTin .box_content .info .item{ display: block; font-size: 15px;}
	.box_thongTin .box_content .info .item .key{ display: block; width: auto; font-size: 22px;}
	.box_thongTin .box_content .info .item .value{ display: block; width: auto; padding: 10px 15px; font-size: 15px;}

	.box_loiIch{padding: 30px 0;}
	.box_loiich .box_content .box_info .title{padding-left: 0;}
	.box_loiIch .item{ padding: 20px 5px;}
	.box_loiIch .col-xs-6:nth-child(3) { clear: left;}

	.box_dienGia{ padding: 30px 0; height: auto;}
	.box_dienGia .image{ margin-bottom: 20px;}
	.box_dienGia .image img{ width: 90%;}
	.box_dienGia .content{ padding: 0;}
	.box_dienGia .box_title{ font-size: 35px;}
	.box_dienGia .box_title .title_1{font-size: 35px; text-align: center; padding-bottom: 320px; position: relative;}
	.box_dienGia .box_title .title_1:before{position: absolute; content: ""; background: url("../images/image-3.jpg") no-repeat top center; width: 100%; height: 350px; left: 0%; bottom: -65px;}
	.box_dienGia .box_content{ font-size: 17px; padding: 0;}
	
	.box_dangKy{padding-bottom: 40px; margin-bottom: 30px;}
	.box_dangKy .title_1{padding: 20px; margin: 0;}
	.box_dangKy .uudai{margin: 0;}
	.box_dangKy .uudai .text{padding: 20px 0;}
	.box_dangKy .uudai .box_content{padding: 20px 15px;}
	.box_dangKy .uudai .text_2{padding: 0; font-size: 15px;}
	.box_dangKy .uudai .box_content .table .item{font-size: 17px;}
	.box_dangKy .uudai .box_content .table>tbody>tr>td{height: 50px; font-size: 15px;}
	.box_dangKy .dangKy{padding: 30px 0 0 0;}
	.box_dangKy .dangKy .box_title{padding-bottom: 15px; font-size: 25px;}
	.box_dangKy .dangKy .form-control{height: 50px; font-size: 15px;}
	.box_dangKy .dangKy .btnSuccess .input-lg{height: 50px;}
	.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ height: 50px; padding: 0; font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{ height: 50px; font-size: 14px;}
	.box_dangKy .btn-group.open .dropdown-toggle{ height: 50px font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle{ height: 50px;font-size: 14px;}

	.box_thanhToan .thanhToan .box_title{font-size: 25px; padding: 0;}
	.box_footer .text br{ display: block;}
}
