<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <div class="box_header" id="box_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><a href="" class="logo"><img src="<?php echo $urlImg;?>/logo.png"></a></div>
                <div class="col-md-10">
                    <div class="clr"></div>
                    <ul class="menu hidden-xs hidden-sm">
                        <li><a href="javascript:;" class="go_box" data-box="box_gioiThieu">Giới thiệu</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_thongTin">khai giảng</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_aiNen">Đối tượng tham gia</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_loiIch">Lợi ích</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_khoaHoc">nội dung khóa đào tạo </a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_dienGia">Diễn giả</a></li>
                        <li><a href="javascript:;" class="go_box btn_book" data-box="box_khoaHoc">Đăng ký ngay</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <a href="javascript:;">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- end box_header -->

    <div class="box_banner" id="box_banner">
        <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>
    </div>
    <!-- end box_banner -->

    <div class="box_gioiThieu" id="box_gioiThieu">
        <div class="container">
            <div class="col-md-5">
                <div class="img">
                    <!-- <a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/WydiGa2Iy0Y?autoplay=1');"><img alt="" src="<?php //echo $urlImg;?>/image-1.jpg"></a> -->
                    <iframe width="100%" height="280" src="https://www.youtube.com/embed/WydiGa2Iy0Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-7">
                <div class="text">
                    <div class="item">Bạn đang trăn trở với việc nâng cao hiệu quả kinh doanh của mình, tối ưu hóa mọi nguồn lực của doanh nghiệp?</div>
                    <div class="item">Bạn đang chứng kiến sụt giảm doanh thu hoặc thị phần khi sự cạnh tranh trên thị trường ngày một khốc liệt?</div>
                    <div class="item">Bạn đang băn khoăn về mô hình kinh doanh hiện tại, những dịch chuyển của nền kinh tế số đang từng ngày giết chết các doanh nghiệp truyền thống?</div>
                    <div class="item">Bạn đang mất dần lợi thế cạnh tranh khi thấy đối thủ sao chép mô hình kinh doanh, sản phẩm dịch vụ, quy trình và công nghệ,…?</div>
                    <div class="item">Bạn đang gặp khó khăn trong việc thu hút, tuyển dụng, đào tạo và giữ chân nhân tài – yếu tố cạnh tranh sống còn của bất kỳ một doanh nghiệp nào?</div>
                </div>
            </div>
        </div>
        
        <div class="box_content">
            <div class="detail">
                <p><span>C</span>ách mạng công nghiệp 4.0 đang ảnh hưởng đến các doanh nghiệp Việt Nam nhanh và khốc liệt hơn bao giờ hết. Bên cạnh những đối thủ cũ, các doanh nghiệp Việt Nam còn phải cạnh tranh trực tiếp cùng các đối thủ đến từ khắp 5 châu, với trình độ lãnh đạo và quản trị bài bản, nguồn tài chính dồi dào và công nghệ tiên tiến tại chính “ngôi nhà" của mình.</p>
                <p class="note">Theo<a href="http://cafebiz.vn/3-chia-khoa-then-chot-tao-nen-thanh-cong-cho-doanh-nghiep-20180403170214962.chn" target="_blank"> Cafebiz.vn</a></p>
            </div>
            <div class="box_title">Liệu doanh nghiệp Việt Nam sẽ <br>nắm bắt cơ hội hay <span class="title"><span>gục ngã trước thách thức?</span></span> </div>
            <div class="info">
                <div class="value">Với mong muốn xây dựng năng lực và lợi thế cạnh tranh bền vững cho các doanh nghiệp Việt, <span>Trường Doanh Nhân HBR</span> đã kết hợp cùng <span>TS. Alok Bharadwaj – Cựu phó chủ tịch cao cấp, phụ trách chiến lược của Canon Châu Á, nơi ông đã điều hành và phát triển kinh doanh tại 23 quốc gia</span> xây dựng chương trình đào tạo “<span>LÃNH ĐẠO & QUẢN TRỊ ĐIỀU HÀNH CHUYÊN NGHIỆP</span>”.</div>
                <div class="value">Thông qua chương trình này, các nhà lãnh đạo và quản lý doanh nghiệp sẽ được cung cấp những năng lực cốt lõi cần có của một lãnh đạo, quản lý cũng như những xu thế mới nhất về lãnh đạo & quản trị trên thế giới. </div>
            </div>
        </div>
        
    </div>
    <!-- end box_gioiThieu -->
    
     <div class="box_thongTin" id="box_thongTin">
        <div class="box_content">
            <div class="info">
                <div class="title text-center">THÔNG TIN KHÓA ĐÀO TẠO</div>
                <div class="item">
                    <div class="key">ĐỊA ĐIỂM</div>
                    <div class="value">HÀ NỘI</div>
                </div>
                <div class="item">
                    <div class="key">LỊCH HỌC</div>
                    <div class="value red">9H00 – 17H00, CÁC NGÀY THỨ 7 & CHỦ NHẬT </div>
                </div>
                <div class="item">
                    <div class="key">THỜI LƯỢNG</div>
                    <div class="value">12 CHỦ ĐỀ/ 12 THÁNG</div>
                </div>
                <div class="item">
                    <div class="key">CHUYÊN GIA</div>
                    <div class="value">TS. ALOK BHARADWAJ <br>CỰU PHÓ CHỦ TỊCH CAO CẤP, PHỤ TRÁCH CHIẾN LƯỢC CỦA CANON CHÂU Á TRÊN 23 QUỐC GIA</div>
                </div>
                <div class="item">
                    <div class="key">HỌC PHÍ</div>
                    <div class="value">
                        <span class="text">7.000.000Đ/ 1 CHỦ ĐỀ</span>
                        <a href="javascript:;" class="btn btn-info btn-lg go_box" data-box="box_dangKy">thông tin ưu đãi <i class="fa fa-caret-down"></i> </a>
                    </div>
                </div>
                <div class="item">
                    <div class="key">HOTLINE</div>
                    <div class="value">082.999.6886 Hoặc 082.999.6633</div>
                </div>
                <div class="item">
                    <div class="key"></div>
                    <div class="value btn_book">
                        <a href="javascript:;" class="go_box" data-box="box_dangKy">ĐĂNG KÝ KHÓA HỌC</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_thongTin -->
    
    <div class="box_aiNen" id="box_aiNen">
        <div class="container">
            <div class="title text-center">ĐỐI TƯỢNG THAM GIA</div>
            <div class="row">
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen1.png"></div>
                        <div class="title-item">Ban lãnh đạo <br>doanh nghiệp</div>
                        <div class="text">Chủ tịch, Thành viên HĐQT, Ban cố vấn doanh nghiệp</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen2.png"></div>
                        <div class="title-item">Ban giám đốc</div>
                        <div class="text">Tổng GĐ, GĐ chức năng</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen3.png"></div>
                        <div class="title-item">Trưởng phòng ban, <br>bộ phận đội nhóm</div>
                        <div class="text">của các công ty trong và ngoài nước.</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen4.png"></div>
                        <div class="title-item">Các doanh nhân</div>
                        <div class="text">muốn cập nhật thêm kiến thức, kỹ năng và xu hướng mới trong kinh doanh</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_aiNen -->
        
    <div class="box_loiich" id="box_loiIch">
        <div class="box_content">
            <div class="box_left">
            </div>
            <div class="box_right">
                <div class="box_info">
                    <div class="title">LỢI ÍCH KHÓA ĐÀO TẠO</div>
                    <div class="list">
                        <div class="item">Kiến thức nền tảng trên nhiều lĩnh vực như chiến lược, lãnh đạo, quản trị thực thi, bán hàng & Marketing, tài chính, áp dụng công nghệ tân tiến vào doanh nghiệp.</div>
                        <div class="item">Cập nhật các xu hướng mới để có sự chuẩn bị phù hợp cho doanh nghiệp khi đối mặt với thách thức trong thời đại 4.0.</div>
                        <div class="item">Được trang bị tư duy và nhận thức cốt lõi của một nhà lãnh đạo, quản lý trong môi trường kinh doanh toàn cầu.</div>
                        <div class="item">Cung cấp khung năng lực – một bức chân dung cụ thể của một Lãnh đạo/ CEO chuyên nghiệp: Biết được ai phù hợp; Phải làm như thế nào; Cần trải nghiệm những gì để trở thành một nhà Lãnh đạo, Quản trị điều hành chuyên nghiệp.</div>
                        <div class="item">Có tầm nhìn rõ ràng cho con đường sự nghiệp, trở thành Lãnh đạo/ CEO chuyên nghiệp.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_loiich -->

    <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">
        <div class="box_khoaHoc" id="box_khoaHoc">
            <div class="container">
                <h3 class="box_title">NỘI DUNG KHÓA ĐÀO TẠO</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-xs-1">CHỦ ĐỀ</th>
                                <th class="col-xs-4">TÊN CHỦ ĐỀ</th>
                                <th class="col-xs-1">ĐỊA ĐIỂM</th>
                                <th class="col-xs-2">THỜI GIAN</th>
                                <th class="col-xs-1">HỌC PHÍ</th>
                                <th class="col-xs-2">
                                    <select class="selectall form-control input-xs">
                                        <option value="">CHỌN MUA</option>
                                        <option value="HN">CHỌN TẤT CẢ</option>
                                        <option value="HCM">BỎ CHỌN TẤT CẢ</option>
                                    </select>
                                </th>
                            </tr>
                        </thead>
            
                        <tbody class="points_table_scrollbar" id="input-workshop">
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="3">Chiến Lược</td>
                                <td class="col-xs-4 text">Thiết kế, tổ chức và vận hành Chiến lược công ty bài bản</td>
                                <td class="col-xs-1">HÀ NỘI</td>
                                <td class="col-xs-2">7-8/4/2018</td>
                                <td class="col-xs-2">7.000.000 Đ</td>
                                <td class="col-xs-2">Chọn mua<input name="workshop[]" type="checkbox" value="Thiết kế, tổ chức và vận hành Chiến lược công ty bài bản" class="hn"></td>
                            </tr>
                            <tr class="odd">
                                <td class="col-xs-4 text">Xây dựng năng lực thực thi hiệu quả <br>- Chìa khóa hiện thực hóa chiến lược</td>
                                <td class="col-xs-1">HÀ NỘI</td>
                                <td class="col-xs-2">12-13/5/2018</td>
                                <td class="col-xs-2">7.000.000 Đ</td>
                                <td class="col-xs-2">Chọn mua<input name="workshop[]" type="checkbox" value="Xây dựng năng lực thực thi hiệu quả - Chìa khóa hiện thực hóa chiến lược" class="hn"></td>
                            </tr>
                            <tr class="odd">
                                <td class="col-xs-4 text">Lãnh đạo và quản trị sự thay đổi - <br>lộ trình phát triển tổ chức bền vững</td>
                                <td class="col-xs-1">HÀ NỘI</td>
                                <td class="col-xs-2">9-10/6/2018</td>
                                <td class="col-xs-2">7.000.000 Đ</td>
                                <td class="col-xs-2">Chọn mua<input name="workshop[]" type="checkbox" value="Lãnh đạo và quản trị sự thay đổi - lộ trình phát triển tổ chức bền vững" class="hn"></td>
                            </tr>
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="3">Lãnh Đạo</td>
                                <td class="col-xs-4 text">BÍ QUYẾT XÂY DỰNG ĐỘI NHÓM LÀM VIỆC HIỆU QUẢ</td>
                                <td class="col-xs-1">HÀ NỘI</td>
                                <td class="col-xs-2">14-15/7/2018</td>
                                <td class="col-xs-2">7.000.000 Đ</td>
                                <td class="col-xs-2">Chọn mua<input name="workshop[]" type="checkbox" value="BÍ QUYẾT XÂY DỰNG ĐỘI NHÓM LÀM VIỆC HIỆU QUẢ" class="hn"></td>
                            </tr>
                            <tr class="odd">
                                <td class="col-xs-4 text">XÂY DỰNG NĂNG LỰC LÃNH ĐẠO DOANH NGHIỆP</td>
                                <td class="col-xs-1">HÀ NỘI</td>
                                <td class="col-xs-2">11-12/8/2018</td>
                                <td class="col-xs-2">7.000.000 Đ</td>
                                <td class="col-xs-2">Chọn mua<input name="workshop[]" type="checkbox" value="XÂY DỰNG NĂNG LỰC LÃNH ĐẠO DOANH NGHIỆP" class="hn"></td>
                            </tr>
                            <tr class="odd">
                                <td class="col-xs-4 text">Xây dựng Văn hoá – Yếu tố quyết định sự trường tồn của doanh nghiệp</td>
                                <td class="col-xs-1">HÀ NỘI</td>
                                <td class="col-xs-2">8-9/9/2018</td>
                                <td class="col-xs-2">7.000.000 Đ</td>
                                <td class="col-xs-2">Chọn mua<input name="workshop[]" type="checkbox" value="Xây dựng Văn hoá – Yếu tố quyết định sự trường tồn của doanh nghiệp" class="hn"></td>
                            </tr>
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">Quản Trị Thực Thi</td>
                                <td class="col-xs-4 text">Tuyển dụng, đào tạo & Giữ chân nhân tài</td>
                                <td class="col-xs-1">HÀ NỘI</td>
                                <td class="col-xs-2">13-14/10/2018</td>
                                <td class="col-xs-2">7.000.000 Đ</td>
                                <td class="col-xs-2">Chọn mua<input name="workshop[]" type="checkbox" value="Xây dựng thương hiệu nhà tuyển dụng" class="hn"></td>
                            </tr>
                            <tr class="odd">
                                <td class="col-xs-4 text">Xây dựng & Vận hành Hệ thống đào tạo nhân sự nội bộ trong doanh nghiệp</td>
                                <td class="col-xs-1">HÀ NỘI</td>
                                <td class="col-xs-2">10-11/11/2018</td>
                                <td class="col-xs-2">7.000.000 Đ</td>
                                <td class="col-xs-2">Chọn mua<input name="workshop[]" type="checkbox" value="Xây dựng & Vận hành Hệ thống đào tạo nhân sự nội bộ trong doanh nghiệp" class="hn"></td>
                            </tr>
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="3">Marketing & <br>Bán Hàng</td>
                                <td class="col-xs-4 text">Thiết kế, vận hành và tối ưu hệ thống marketing & bán hàng chuyên nghiệp</td>
                                <td class="col-xs-1">HÀ NỘI</td>
                                <td class="col-xs-2">8-9/12/2018</td>
                                <td class="col-xs-2">7.000.000 Đ</td>
                                <td class="col-xs-2">Chọn mua<input name="workshop[]" type="checkbox" value="Thiết kế, vận hành và tối ưu hệ thống marketing & bán hàng chuyên nghiệp" class="hn"></td>
                            </tr>
                            <tr class="odd">
                                <td class="col-xs-4 text">Quản trị trải nghiệm khách hàng-đòn bẩy của sự khác biệt trên thị trường</td>
                                <td class="col-xs-1">HÀ NỘI</td>
                                <td class="col-xs-2">5-6/1/2019</td>
                                <td class="col-xs-2">7.000.000 Đ</td>
                                <td class="col-xs-2">Chọn mua<input name="workshop[]" type="checkbox" value="Quản trị trải nghiệm khách hàng-đòn bẩy của sự khác biệt trên thị trường" class="hn"></td>
                            </tr>   
                            <tr class="odd">
                                <td class="col-xs-4 text">Xây dựng hệ thống bán hàng hiệu quả</td>
                                <td class="col-xs-1">HÀ NỘI</td>
                                <td class="col-xs-2">6-7/4/2019</td>
                                <td class="col-xs-2">7.000.000 Đ</td>
                                <td class="col-xs-2">Chọn mua<input name="workshop[]" type="checkbox" value="Xây dựng hệ thống bán hàng hiệu quả" class="hn"></td>
                            </tr>   
                            <tr class="odd">
                                <td class="col-xs-1">Tài Chính</td>
                                <td class="col-xs-4 text">Quản trị tài chính hiệu quả</td>
                                <td class="col-xs-1">HÀ NỘI</td>
                                <td class="col-xs-2">11-12/5/2019</td>
                                <td class="col-xs-2">7.000.000 Đ</td>
                                <td class="col-xs-2">Chọn mua<input name="workshop[]" type="checkbox" value="Quản trị tài chính hiệu quả" class="hn"></td>
                            </tr>         
                            <tr class="odd">
                                <td class="col-xs-2 text" colspan="5" style="text-align: right;">TỔNG HỌC PHÍ</td>
                                <td class="col-xs-2"><span class="total_price mask_currency">0</span></td>
                            </tr>

                            <tr class="odd">
                                <td class="col-xs-2 text" colspan="5" style="text-align: right;">ƯU ĐÃI CÒN</td>
                                <td class="col-xs-2"><span class="total_price_sale mask_currency">0</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end box_khoaHoc -->

        <div class="box_dangKy" id="box_dangKy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                    <div class="title_1">ƯU ĐÃI ĐẶC BIỆT</div>
                        <div class="uudai">
                            <div class="text">HỌC PHÍ NIÊM YẾT: 7.000.000Đ/1 CHỦ ĐỀ</div>
                            <div class="box_content">
                                <p class="text_1">Ưu đãi khi đăng ký theo nhóm</p>
                                <div class="table">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td>Dưới 03 vé : 6.500.000đ / 1 CHỦ ĐỀ</td>
                                        </tr>
                                        <tr>
                                            <td>03 đến 05 vé: 6.100.000đ / 1 CHỦ ĐỀ</td>
                                        </tr>
                                        <tr>
                                            <td>05 trở lên:   5.800.000Đ / 1 CHỦ ĐỀ</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="text_2">Học viên cũ và đăng ký theo nhóm vui lòng liên hệ <span>Hotline 082.999.6886 Hoặc 082.999.6633</span> để nhận ưu đãi và hỗ trợ riêng.  </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="dangky">
                            <div class="title_2">ĐĂNG KÝ THAM DỰ <br>KHÓA ĐÀO TẠO</div>
                            <div class="form">
                                <div class="row">
                                    <div class="col-sm-12 hidden">
                                        <div class="form-group" id="input-location_city_id">
                                            <input type="hidden" class="form-control" name="location_city_id" value="1471419030-5m0i-1336-1k80-275892616r50">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="input-name">
                                            <input name="name" type="text" class="form-control" placeholder="Họ và tên">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="input-phone">
                                            <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group" id="input-email">
                                            <input name="email" type="text" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="input-company_name">
                                            <input name="company_name" type="text" class="form-control" placeholder="Công ty">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <?php
                                            $company_position = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-position" )), array('task' => 'cache'));
                                        ?>
                                        <div class="form-group" id="input-company_position">
                                            <select name="company_position" class="form-control">
                                                <option class="company_position" value="">Chức vụ</option>
                                                <?php
                                                    foreach ($company_position AS $val) {
                                                        $id     = $val['id'];
                                                        $name   = $val['name'];
                                                ?>  
                                                <option class="company_position" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                <?php } ?>
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="input-number">
                                            <input name="number" type="text" class="go_box form-control" placeholder="Vui lòng chọn module" readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="input-price">
                                            <input name="price" type="text" class="form-control mask_currency" placeholder="Thành tiền" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <?php
                                            $company_problem = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-problem" )), array('task' => 'cache'));
                                        ?>
                                        <div class="form-group" id="input-company_problem">
                                            <select name="company_problem[]" class="selectpicker form-control" multiple data-selected-text-format="count > 4" title="Vấn đề các anh/Chị đang gặp phải.">
                                                <?php
                                                    foreach ($company_problem AS $value) {
                                                        $id     = $value['id'];
                                                        $name   = $value['name'];
                                                ?>  
                                                <option class="company_problem" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                <?php } ?>
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-content">
                                            <input name="content" type="text" class="form-control" placeholder="Anh/Chị vui lòng mô tả chi tiết vấn đề của mình">
                                        </div>
                                    </div> 
                                    <div class="col-sm-12">
                                        <div class="btnSuccess">
                                            <input type="hidden" name="form_id" value="<?php echo $item['form_id'];?>">
                                            <input type="hidden" name="type" value="form">
                                            <input type="hidden" name="source" value="landing_page">
                                            <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                            <input type="button" onclick="javascript:formRegisterCRM('frmRegister');" class="input-lg btn-blue" value="Đăng ký ngay">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <div class="box_thanhToan" id="box_thanhToan">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="thanhToan">
                        <div class="box_title">THÔNG TIN TÀI KHOẢN</div>
                        <div class="box_content">
                            <div class="item">
                                <div class="item_title"><b>1. Chuyển khoản</b></div>
                                <div class="item_detail">
                                    Vui lòng liên hệ Hotline <span>082.999.6886</span> hoặc <span>082.999.6633</span> để được tư vấn rõ hơn.
                                </div>
                            </div>
                            <div class="item">
                                <p class="item_title"><b>2. Nộp tiền mặt trực tiếp</b></p>
                                <p class="item_detail">Tại văn phòng của Langmaster, tầng 15 tòa nhà CTM Complex, số 139 Cầu Giấy, Hà Nội.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="dangKy">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0066982756643!2d105.79666931548647!3d21.032417985996346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab46d9c86b9b%3A0x4879c19d8ad4be47!2zMTM5IEPhuqd1IEdp4bqleSwgUXVhbiBIb2EsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1516414158828" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_thanhtoan -->
    
    <div class="box_dienGia" id="box_dienGia">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="content">
                        <div class="box_title">
                            <div class="title_1">TS. Alok Bharadwaj</p></div>
                            <div class="title_2">Tiến sĩ Alok Bharadwaj từng là Phó chủ tịch cao cấp, phụ trách chiến lược của <br>Canon châu Á, nơi ông đã điều hành và phát triển kinh doanh tại 23 quốc gia. </div>
                        </div>
                        <div class="box_content">
                            <p class="text">Các vị trí từng đảm nhiệm:</p>
                            <ul>
                                <li><p class="item">Giám đốc bán hàng Voltas (Tata Group) 06/1985 - 02/1989 </p></li>
                                <li><p class="item">Giám đốc Marketing Usha International 03/1989 - 09/1994     </p></li>
                                <li><p class="item">Giám đốc bán hàng Motorola khu vực Nam Á 10/1994 - 05/2001</p></li>
                                <li><p class="item">Phó chủ tịch kiêm giám đốc điều hành Canon Ấn Độ 06/2001 - 12/2014</p></li>
                                <li><p class="item">Giám đốc Marketing giỏi nhất của năm 2009 do Hiệp hội Giám đốc Marketing tại Mỹ (CMO Council USA) công nhận.</p></li>
                                <li><p class="item">Nguyên chủ tịch hiệp hội Marketing Châu Á.</p></li>
                                <li><p class="item">Phó chủ tịch cao cấp, phụ trách chiến lược Canon tại 23 quốc gia ở châu Á 01/2015 - 06/2017</p></li>
                                <li><p class="item">Giám đốc điều hành công ty tư vấn CreoVate 7/2017 - Hiện tại.</p></li>
                                <li><p class="item">Thành viên trong hội đồng cố vấn của Tạp chí Kinh doanh Harvard.</p></li>
                                <li><p class="item">Đối tác tư vấn, cố vấn của Tập đoàn AON Hewitt – Tập đoàn tư vấn quản trị & nguồn nhân lực lớn nhất thế giới có trụ sở tại 120 quốc gia.</p></li>
                            </ul>         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_dienGia -->  

    <?php echo $this->blkDocument($this->arrParams, 'feedback', array('cache' => true, 'type' => array('alok')));?>
   
     <div class="box_tinTuc" id="box_tinTuc">
        <div class="container">
            <div class="box_title">TIN TỨC, SỰ KIỆN</div>
            <div class="box_content">
                <div class="bxslider" id="bxslider">
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="http://www.canon.com.sg/thinkbig/4-big-questions-from-canon-think-big-leadership-series" target="_blank"><img src="/public/template/frontend/template/xay-dung-chien-luoc/images/tintuc-1.jpg"></a></div>
                            <div class="title"><a href="http://www.canon.com.sg/thinkbig/4-big-questions-from-canon-think-big-leadership-series" target="_blank">4 Big Questions From Canon Think Big Leadership Series</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="https://www.digitalmarketing-conference.com/singapore/speaker/dr-alok-bharadwaj/" target="_blank"><img src="/public/template/frontend/template/xay-dung-chien-luoc/images/tintuc-2.jpg"></a></div>
                            <div class="title"><a href="https://www.digitalmarketing-conference.com/singapore/speaker/dr-alok-bharadwaj/" target="_blank">MUMBAI: Canon India's former EVP-COO & later head of Canon Asia Strategy Centre in Singapore that oversees 23 countries Alok Bharadwaj has launched CreoVate</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="http://bestmediainfo.com/2017/07/cannon-india-s-alok-bharadwaj-launches-own-venture-creovate/" target="_blank"><img src="/public/template/frontend/template/xay-dung-chien-luoc/images/tintuc-3.jpg"></a></div>
                            <div class="title"><a href="http://bestmediainfo.com/2017/07/cannon-india-s-alok-bharadwaj-launches-own-venture-creovate/" target="_blank">Cannon India’s Alok Bharadwaj launches own venture ‘CreoVate’</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="http://www.cxotoday.com/story/alok-bharadwaj-is-cannons-new-executive-vp/" target="_blank"><img src="/public/template/frontend/template/xay-dung-chien-luoc/images/tintuc-4.jpg"></a></div>
                            <div class="title"><a href="http://www.cxotoday.com/story/alok-bharadwaj-is-cannons-new-executive-vp/" target="_blank">Alok Bharadwaj is Canon’s new executive VP</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="http://www.cxotoday.com/story/alok-bharadwaj-launches-creovate-transformations-and-consulting/" target="_blank"><img src="/public/template/frontend/template/xay-dung-chien-luoc/images/tintuc-5.jpg"></a></div>
                            <div class="title"><a href="http://www.cxotoday.com/story/alok-bharadwaj-launches-creovate-transformations-and-consulting/" target="_blank">Alok Bharadwaj launches CreoVate Transformations and Consulting</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_content">
                            <div class="image"><a href="http://cafebiz.vn/3-chia-khoa-then-chot-tao-nen-thanh-cong-cho-doanh-nghiep-20180403170214962.chn" target="_blank"><img src="<?php echo $urlImg;?>/tintuc-7.jpg"></a></div>
                            <div class="title"><a href="http://cafebiz.vn/3-chia-khoa-then-chot-tao-nen-thanh-cong-cho-doanh-nghiep-20180403170214962.chn" target="_blank">3 chìa khóa then chốt tạo nên thành công cho doanh nghiệp</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_tintuc -->

    <div class="box_comment">
        <?php
        $link_page = explode('?', $_SERVER['REQUEST_URI']);
        $link_page = 'http://'. $_SERVER['HTTP_HOST'] . $link_page[0];
        ?>
        <div class="container">
            <div class="fb-comments" data-href="<?php echo $link_page;?>" width="1200" data-numposts="10" order_by="reverse_time"></div>
        </div>
    </div>

    <div class="box_images">
        <table>
            <tr>
                <td><div><img  src="<?php echo $urlImg;?>/image-5.jpg"></div></td>
                <td><div><img  src="<?php echo $urlImg;?>/image-6.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-7.jpg"></div></td>
                <td><div><img  src="<?php echo $urlImg;?>/image-8.jpg"></div></td>
            </tr> 
        </table>
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-9.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-10.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-11.jpg"></div></td>
                
            </tr>
        </table>
    </div>
    <!-- end box_images -->
    
    <?php
    echo $this -> headScript()
               -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] .'/me.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->
    
    <script type="text/javascript">
    $(document).ready(function() {
    	var maxSlides = 3;
        var slideWidth = 368; 
        if ($(window).width() < 800) {
            maxSlides = 1;
            slideWidth = 0;
        }
        $('#bxslider').show();
        $('#bxslider').bxSlider({
            auto: true,
            autoControls: false,
            minSlides: 1,
            maxSlides: maxSlides,
            moveSlides: 1,
            slideWidth: slideWidth,
            slideMargin: 48,
            adaptiveHeight: true,
            responsive: true
        });
    });

    // Hiệu ứng text các box
    if ($(window).width() > 991) {
        $('.box_thongTin .box_content .info .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp2 animated-2s fadeInUp');}
        });
        $('.box_aiNen .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-3s fadeInUp');}
        });
        $('.box_loiich .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
        });
        $('.box_dieukien .info').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInRight');}
        });
    }

    $('.mask_currency').autoNumeric("init",{
        mDec: 0,
        aSep: '.',
        aDec: ',', 
    });

    function updatePrice() {
        var total = 0;
        $('#input-workshop input').each(function() {
            if($(this).is(':checked')) {
                total++;
            }
        });

        var total_price = total * 7000000;
        var total_price_sale = total * 7000000;
        if(total < 3) {
            total_price_sale = total * 6500000;
        } else if(total >=3 && total < 5) {
            total_price_sale = total * 6100000;
        }else if(total >= 5) {
            total_price_sale = total * 5800000;
        }
        
        $('#input-workshop .total_price').autoNumeric('set', total_price);
        $('#input-workshop .total_price_sale').autoNumeric('set', total_price_sale);
        $('#input-number input').val(total);
        $('#input-price input').autoNumeric('set', total_price_sale);
    }

    $('#input-workshop input').click(function() {
        updatePrice();
    });

    $('select.selectall').change(function(){
         var val = $(this).val();
         if(val == 'a') {
            $('#input-workshop input.hn').prop("checked", true);
        } 
    });

    $('select.selectall').change(function() {
        var val = $(this).val();
        if(val == 'HN') {
            $('#input-workshop input.hn').prop("checked", true);
            $('#input-workshop input.hcm').prop("checked", false);
        } else if(val == 'HCM') {
            $('#input-workshop input.hn').prop("checked", false);
            $('#input-workshop input.hcm').prop("checked", true);
        } else if(val == 'ALL') {
            $('#input-workshop input.hn').prop("checked", true);
            $('#input-workshop input.hcm').prop("checked", true);
        } else {
            $('#input-workshop input.hn').prop("checked", false);
            $('#input-workshop input.hcm').prop("checked", false);
        }

        updatePrice();
    });
    </script>
</body>
</html>
