<?php
    $date = new \ZendX\Functions\Date();
    $number = new \ZendX\Functions\Number();

    $myForm = $this->myForm;
    $myForm->prepare();
    
    $arrControl = array(
        array('name' => 'close', 'caption' => 'Hủy', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),
    );
    
    $elements = array(
        array('div' => '', 'boxClass' => 'col-md-12', 'boxId' => 'result_check_contact'),
        array('section' => 'Thông tin', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('file_import'), 'label' => 'Tải file cần import', 'validate' => array('require' => true), 'boxClass' => 'col-md-3'),
        array('element' => $myForm->get('form_id'), 'label' => 'Sản phẩm', 'validate' => array('require' => true), 'boxClass' => 'col-md-3'),
        array('element' => $myForm->get('submit'), 'label' => '&nbsp;', 'boxClass' => 'col-md-2'),
    );
    
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminForm" id="adminForm" enctype="multipart/form-data">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
	
    <?php echo $this->flashMessenger()->render();?>
	<?php echo @$this->xViewElementErrors($elements);?>
	
    <div class="page-content">
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
		<?php
		if(!empty($this->import) && !empty($this->sheetData)) {  
		    $arrSource = array(
		        'hvgt' => array(
		            'group' => '1475115448-955l-94u8-2009-09427d97v023',
		            'channel' => '1480567751-b054-o37u-1324-6mf103400888'
		        ),
		        'fb' => array(
		            'group' => '1475115295-07c3-6o50-54y1-7799bq702y61',
		            'channel' => '1480567662-2457-3k7p-32c9-26n15141f8l7'
		        ),
		    )
		?>
    	<div class="row">
			<div class="col-md-12"><h3 class="form-section">Danh sách Import</h3></div>
			<div class="col-md-12">
				<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<tr>
    						<th class="col-50">STT</th>
    						<th>Tên</th>
    						<th>Điện thoại</th>
    						<th>Nhóm nguồn</th>
    						<th>Kênh nguyền</th>
    						<th>Công cụ</th>
    					</tr>
    				</thead>
    				<tbody>
    					<?php
    					$index = 0;
    					foreach ($this->sheetData AS $key => $val) { 
    						if((int)$val['B'] > 0) {
    							$index++;
    							
    							$phone = $number->formatToData($val['B']);
    							if(substr($val['B'], 0, 1) != '0') {
    								$phone = '0'. $number->formatToData($val['B']);
    							}
    							
    							$source_group = $arrSource[strtolower(trim($val['C']))] ? $arrSource[strtolower(trim($val['C']))]['group'] : '';
    							$source_channel = $arrSource[strtolower(trim($val['C']))] ? $arrSource[strtolower(trim($val['C']))]['channel'] : '';
    					?>
    					<tr id="tr_<?php echo $index;?>" data-index="<?php echo $index;?>">
							<td><?php echo $index;?></td>
							<td><span class="name"><?php echo trim($val['A']);?></span></td>
							<td><span class="phone"><?php echo $phone;?></span></td>
							<td><span class="source_group_id"><?php echo $source_group;?></span></td>
							<td><span class="source_channel_id"><?php echo $source_channel;?></span></td>
						    <td><a href="javascript:;" data-index="<?php echo $index;?>" class="btn btn-xs default">Import</a></td>
						</tr>
						<?php
    						}
    					} 
						?>
					</tbody>
    			</table>
			</div>
		</div>
		<?php
		} else {
			echo '<div class="alert alert-danger">Không có dữ liệu import</div>';
		}
		?>
	</div>
</form>

<?php $this->headScript()->captureStart() ?>
    
	function startImportContact(index) {
		var item = '#tr_'+ index;
		
		if($(item).size() > 0) {
            $.ajax({
    			url: "<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'import'));?>",
    			type: 'POST',
    			data: {
                    'name': $(item + ' .name').text(),
                    'phone': $(item + ' .phone').text(),
                    'source_group_id': $(item + ' .source_group_id').text(),
                    'source_channel_id': $(item + ' .source_channel_id').text(),
                    'form_id': $('select[name="form_id"]').val(),
                    'source': 'import'
    			},
    			beforeSend: function() {
    				$(item + ' .btn').html('Đang xử lý ...').removeClass('default').addClass('yellow');
    			},
    			success: function(result) {
    				setTimeout(function(){
    					if(result == 'Update - Thành công') {
    						$(item + ' .btn').html(result).removeClass('yellow').addClass('blue');
    					} else {
    						$(item + ' .btn').html(result).removeClass('yellow').addClass('green');
    					}
    				    var index_next = parseInt(index) + 1;
    				    startImportContact(index_next); 
    			    }, 100);
    			}
    		});
		} else {
		    alert('Đã import thành công');
		}
	}
	
	$('.table tbody tr td .btn').click(function(){
        startImportContact($(this).attr('data-index'));
    });
    
<?php $this->headScript()->captureEnd() ?>