<?php
    // Filter
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_status'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_form'), 'boxClass' => 'col-md-3 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('order')),
        array('element' => $myForm->get('order_by')),
    );
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
    
    if(!empty($this->currentForm)) {
	    $configFields = new \ZendX\Functions\Form($this->currentForm['fields']);
	    $configFields = $configFields->getSetting();
    } else {
    	$configFields = array(
    		array('label' => 'Họ tên', 'name' => 'name', 'type' => 'text', 'list' => true),
    		array('label' => 'Điện thoại', 'name' => 'phone', 'type' => 'text', 'list' => true),
    		array('label' => 'Email', 'name' => 'email', 'type' => 'text', 'list' => true),
    		array('label' => 'Địa chỉ', 'name' => 'address', 'type' => 'text', 'list' => true),
    		array('label' => 'Nội dung', 'name' => 'content', 'type' => 'text', 'list' => true),
    		array('label' => 'Langding page', 'name' => 'form_id', 'type' => 'id', 'list' => true, 'option' => $this->listForm),
    	);
    }

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= '<th class="col-50">STT</th>';
    $xhtmlHead .= '<th class="col-80">Công cụ</th>';
	$xhtmlHead .= $this->linkAdminSort('Ngày', 'created', $this->params['ssFilter'], null);
    foreach ($configFields AS $field) {
        if($field['list'] == 'true') {
            $xhtmlHead .= $this->linkAdminSort($field['label'], $field['name'], $this->params['ssFilter'], null);
        }
    }
    $xhtmlHead .= '<th>Chăm sóc</th>';
    $xhtmlHead .= '<th>Nguồn</th>';
	$xhtmlHead .= '</tr>';

    // Danh sách
    $xhtmlItems = '';
    if(!empty($this->items)) {
        $index = 0;
        foreach ($this->items AS $item) {
            $index++;
            $id             = $item->id;
            $name           = $item->name;
            $phone          = $item->phone;
            $email          = $item->email;
            $address        = $item->address;
            $created        = date_format(date_create($item->created), 'd/m/Y H:i:s');
            $modified       = date_format(date_create($item->modified), 'd/m/Y H:i:s');
            $cid            = @$this->xFormInput('cid[]', $id, array('type' => 'checkbox', 'class' => 'checkboxes'));
            $source             = explode('?', $item->source);
            $source             = $source[0];
            $source_detail      = explode('?', $item->source_detail);
            $source_detail      = $source_detail[0];
            
            // Link Action
            $linkEdit       = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form', 'id' => $id));
            $linkView       = $this->url('routeAdmin/default', array('controller' => 'form-data', 'action' => 'index', 'id' => $id));
            
            // Control Action
            $controlEdit    = $this->linkAdminHtml($linkEdit, array('type' => 'icon', 'title' => 'Sửa', 'class' => 'btn btn-xs yellow', 'icon' => 'fa fa-edit'));
            $controlStatus  = $this->linkAdminStatus($id, $item->status);
            $controlHistory = $this->linkAdminHtml('javascript:;', array('type' => 'icon', 'title' => 'Thêm lịch sử chăm sóc', 'class' => 'btn btn-xs purple', 'icon' => 'fa fa-history', 'onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'history')) .'\', {\'id\': \''. $id .'\'});'));
            $controls       = $controlHistory . $controlStatus;
            
            $xhtmlColumn    = '';
            foreach ($configFields AS $field) {
                if($field['list'] == 'true') {
                    $td = nl2br($item[$field['name']]);
                    switch ($field['type']) {
                        case 'json':
                            $tdTmp = unserialize($item[$field['name']]);
                            $td = '';
                            if(!empty($tdTmp)) {
	                            if(!empty($field['sprintf'])) {
	                                foreach ($tdTmp AS $value) {
	                                    $td .= sprintf($field['sprintf'], $value);
	                                }
	                            } else {
	                                $td = implode(', ', $tdTmp);
	                            }
                            }
                            break;
                        case 'textarea':
                            $td = nl2br($item[$field['name']]);
                            break;
                        case 'id':
                            $td = $field['option'][$item[$field['name']]]['name'];
                            break;
                        default:
                            $td = $item[$field['name']];
                    }
                    
                    $style = '';
                    if(($field['name'] == 'content') || ($field['name'] == 'address')) {
                    	$style = ' style="white-space: normal;"';
                    }
                    $xhtmlColumn .= '<td'. $style .'>'. $td .'</td>';
                }
            }
            
            $history = !empty($item->history) ? unserialize($item->history) : array();
            $history_str = '';
            if(!empty($history['history_1'])) {
            	$history_str .= 'Lần 1:'. $history['history_1'];
            }
            if(!empty($history['history_2'])) {
            	$history_str .= '<br>Lần 2:'. $history['history_2'];
            }
            if(!empty($history['history_3'])) {
            	$history_str .= '<br>Lần 3:'. $history['history_3'];
            }
            
            $xhtmlItems .= '<tr id="tr_'. $id .'">
    							<td>'. $cid .'</td>
    							<td>'. $index .'</td>
							    <td>'. $controls .'</td>
    							<td>'. $created .'</td>
    							'. $xhtmlColumn .'
							    <td>'. $history_str .'</td>
                                <td><div class="text-wrap">'. $source .'<br>'. $source_detail .'</div></td>
    						</tr>';
        }
    }
    
    // Control
    $arrControl = array(
        //array( 'name' => 'add', 'caption' => 'Thêm', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form')), 'icon' => 'fa-plus', 'attributes' => array( 'onclick' => '', 'class' => 'btn', ) ),
        array( 'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', ), 'children' => array( array( 'name' => 'sort', 'caption' => 'Sắp xếp', 'link' => 'javascript:;', 'icon' => 'fa-sort-alpha-asc', 'attributes' => array( 'onclick' => 'javascript:changeOrdering();', ) ), array( 'name' => 'divider' ), array( 'name' => 'active', 'caption' => 'Hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-check-square-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 0);', ) ), array( 'name' => 'inactive', 'caption' => 'Không hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-circle-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 1);', ) ), array( 'name' => 'divider' ), array( 'name' => 'delete', 'caption' => 'Xóa', 'link' => 'javascript:;', 'icon' => 'fa-trash', 'attributes' => array( 'onclick' => 'javascript:deleteItem(\'multi\', \'all\');', ) ), array( 'name' => 'divider' ), array( 'name' => 'print', 'caption' => 'In', 'link' => 'javascript:;', 'icon' => 'fa-print', 'attributes' => array( 'onclick' => 'javascript:printPage();', ) ), array( 'name' => 'export', 'caption' => 'Xuất bản excel', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'export')), 'icon' => 'fa-file-excel-o', 'attributes' => array( 'onclick' => 'javascript:exportList();', ) ), ), 'children-class' => 'dropdown-menu pull-right' ),
        array( 'name' => 'config', 'caption' => 'Cài đặt', 'link' => 'javascript:;', 'icon' => 'fa-cogs', 'attributes' => array( 'onclick' => '', 'class' => 'btn', ) ),
    );
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminForm" id="adminForm" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
    	<div class="row">
    		<?php echo $xhtmlFilter;?>
    	</div>
    </div>
    <div class="page-content">
        <?php
        $user_group_id = explode(',', $this->currentForm['user_group_id']);
        $aclInfo    = new \ZendX\System\UserInfo();
        $userInfo   = $aclInfo->getUserInfo();
        $groupInfo  = $aclInfo->getGroupInfo();
        
        $flag = false;
        foreach ($groupInfo AS $group) {
            if($group['permission'] == 'full') {
                $flag = true;
                break;
            }
            if(in_array($group['id'], $user_group_id)) {
                $flag = true;
                break;
            }
        }
        
        if($flag == true) {
        ?>
    	<div class="table-manager" id="table-manager">
    		<div class="">
    			<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<?php echo $xhtmlHead;?>
    				</thead>
    				<tbody>
    					<?php echo $xhtmlItems;?>
    				</tbody>
    			</table>
    		</div>
    		<?php
            	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'options' => $this->params['paginator']['options'])); 
            ?>
    	</div>
    	<?php
    	} else {
    	    echo '<div class="alert alert-danger" role="alert"> Bạn không có quyền truy cập vào chuyên mục này </div>';
    	} 
    	?>
	</div>
</form>
<?php $this->headScript()->captureStart() ?>
    $('#adminForm select').change(function() {
		$('#adminForm').submit();
    });
<?php $this->headScript()->captureEnd() ?>