<div class="page-content">
	<div class="row">
		<div class="col-sm-12">
            <div id="company-problem">Đang tải báo cáo</div>
		</div>
	</div>
</div>
<div class="page-content">
	<div class="row">
		<div class="col-sm-12">
            <div id="company-problem2">Đang tải báo cáo</div>
		</div>
	</div>
</div>
<?php $this->headScript()->captureStart() ?>
    load_report('#company-problem', '<?php echo $this->url('routeAdmin/default', array('controller' => 'formdata', 'action' => 'company-problem'));?>', null);
    load_report('#company-problem2', '<?php echo $this->url('routeAdmin/default', array('controller' => 'formdata', 'action' => 'company'));?>', null);
<?php $this->headScript()->captureEnd() ?>