<?php
    // Filter
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    if(count($myForm->get('filter_sale_branch')->getValueOptions()) == 1) {
        $myForm->get('filter_sale_branch')->setEmptyOption('');
    }
    if(count($myForm->get('filter_product')->getValueOptions()) == 1) {
        $myForm->get('filter_product')->setEmptyOption('');
    }
    
    $myForm->get('filter_action')->setValue($this->params['action']);
    $elements = array(
        array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_begin'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_end'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_sale_branch'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_product'), 'boxClass' => 'col-md-3 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_action')),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('order')),
        array('element' => $myForm->get('order_by')),
    );
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
    
    if(!empty($this->currentForm)) {
	    $configFields = new \ZendX\Functions\Form($this->currentForm['fields']);
	    $configFields = $configFields->getSetting();
    } else {
    	$configFields = array(
    		array('label' => 'Sản phẩm', 'name' => 'form_id', 'type' => 'id', 'list' => true, 'option' => $this->listForm),
    	);
    }

    // Head
    $xhtmlHead  = '<tr>';
    //$xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';<td>'. $cid .'</td>
    $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= '<th class="col-50">STT</th>';
	$xhtmlHead .= $this->linkAdminSort('Ngày', 'created', $this->params['ssFilter'], null);
	$xhtmlHead .= $this->linkAdminSort('Ngày', 'created', $this->params['ssFilter'], null);
	$xhtmlHead .= '<th>Họ tên KH</th>';
	$xhtmlHead .= '<th>Điện thoại</th>';
	$xhtmlHead .= '<th>Email</th>';
	$xhtmlHead .= '<th>Địa chỉ</th>';
	$xhtmlHead .= '<th>Lời nhắn</th>';
	$xhtmlHead .= '<th>Loại C3</th>';
	foreach ($configFields AS $field) {
	    if($field['list'] == 'true') {
	        $xhtmlHead .= $this->linkAdminSort($field['label'], $field['name'], $this->params['ssFilter'], null);
	    }
	}
	$xhtmlHead .= '<th>Level KH</th>';
	$xhtmlHead .= '<th>Số hộp</th>';
    $xhtmlHead .= '<th>Nguồn</th>';
	$xhtmlHead .= '</tr>';

    // Danh sách
    $xhtmlItems = '';
    if(!empty($this->items)) {
        $index = 0;
        
        foreach ($this->items AS $item) {
            $index++;
            $id                     = $item['id'];
            $cid                    = $this->xFormInput('cid[]', $item['id'], array('type' => 'checkbox', 'class' => 'checkboxes'));
            $contact_name           = $this->contact[$item['contact_id']]['name'];
            $contact_phone          = $this->contact[$item['contact_id']]['phone'];
            $contact_email          = $this->contact[$item['contact_id']]['email'];
            $contact_address        = $this->contact[$item['contact_id']]['address'];
            $contact_location_city  = $this->location_city[$item['contact_location_city_id']]['name'] ? $this->location_city[$item['contact_location_city_id']]['name'] : 'Ngoại tỉnh';
            $contact_user           = $item['user_id'] ? $this->user[$item['user_id']]['name'] : '';
            $product                = $this->product[$this->contact[$item['contact_id']]['product_id']]['name'];
            $created                = date_format(date_create($item['created']), 'd/m/Y');
            $time                   = date_format(date_create($item['created']), 'H:i:s');
            $source                 = explode('?', $item['source']);
            $source                 = $source[0];
            $source_detail          = explode('?', $item['source_detail']);
            $source_detail          = $source_detail[0];
            $cid                    = @$this->xFormInput('cid[]', $id, array('type' => 'checkbox', 'class' => 'checkboxes'));
            $marketer               = $item['marketer_id'] ? $this->user[$item['marketer_id']]['name'] : '';
            $content                = $item['content'];
            $number                 = $item['number'];
            $type_c3                = $this->type_c3[$this->contact[$item['contact_id']]['type_c3']]['name'];

            $level                  = $this->level[$this->contact[$item['contact_id']]['level']]['name'];
            
            $history_ruturn         = date_format(date_create($item['contact_id'] ? $this->contact[$item['contact_id']]['history_ruturn'] : ''), 'd/m/Y');
            $options                = $this->contact[$item['contact_id']]['options'] ? unserialize($this->contact[$item['contact_id']]['options']) : array();
            
            $history_status_id      = $options['history']['history_status_id'];
            $history_status         = $this->history_status[$history_status_id]['name'];
            $history_level          = $this->level[$history_level_id]['name'];
            $history_content        = $options['history']['history_content'];
            $history_created_by     = $options['history']['created_by'];
            $history_created        = $options['history']['created'];
            $history_user           = $this->user[$history_created_by]['name'];

            $history = '';
            if (!empty($options['history'])){
                $history = '<div>Người gọi: '.$history_user.'</div>
                            <div>Trạng thái gọi: '.$history_status.'</div>
                            <div>Ghi chú cuộc gọi: '.$history_content.'</div>
                            <div>Ngày hẹn gọi lại: '.$history_ruturn.'</div>';
            }
            
            // Link Action
            $linkEdit               = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'edit', 'id' => $item['id']));
            $linkView               = $this->url('routeAdmin/default', array('controller' => 'form-data', 'action' => 'index', 'id' => $id));
            
            // Control Action
            $controlEdit            = $this->linkAdminHtml($linkEdit, array('type' => 'icon', 'title' => 'Sửa', 'class' => 'btn btn-xs yellow', 'icon' => 'fa fa-edit'));
            $controlHistory         = $this->linkAdminHtml('javascript:;', array('type' => 'icon', 'title' => 'Thêm lịch sử chăm sóc', 'class' => 'btn btn-xs purple', 'icon' => 'fa fa-history', 'onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'history-add')) .'\', {\'id\': \''. $item['contact_id'] .'\'});'));
            $controlStatus          = $this->linkAdminStatus($id, $item['status']);
            $controlManager         = $this->linkAdminHtml('javascript:;', array('type' => 'text', 'value' => 'Chưa tiếp nhận', 'title' => 'Người quản lý', 'class' => 'btn btn-xs purple', 'icon' => 'fa fa-sticky-note', 'onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'manager')) .'\', {\'id\': \''. $id .'\'});'));
            if(!empty($item['contact_user_id'])) {
                $controlManager = '';
            }
            $controls               = $controlHistory;
            
            // Select result
            $selectResult  = '<select data-id="'. $id .'" name="result['. $id .'][form-data-result][]" class="form-control input-xs">';
            $selectResult .= '<option value="">-- Phản hồi --</option>';
            foreach ($this->form_data_result AS $value_form_data_result) {
                $selected_form_data_result = '';
                if($item['result_id'] == $value_form_data_result['id']) {
                    $selected_form_data_result = ' selected="selected"';
                }
                $selectResult .= '<option value="'. $value_form_data_result['id'] .'"'. $selected_form_data_result .'>'. $value_form_data_result['name'] .'</option>';
            }
            $selectResult .= '</select>';
            $xhtmlColumn    = '';
            foreach ($configFields AS $field) {
                if($field['list'] == 'true') {
                    $td = nl2br($item[$field['name']]);
                    switch ($field['type']) {
                        case 'json':
                            $tdTmp = unserialize($item[$field['name']]);
                            $td = '';
                            if(!empty($tdTmp)) {
	                            if(!empty($field['sprintf'])) {
	                                foreach ($tdTmp AS $value) {
	                                    $td .= sprintf($field['sprintf'], $value);
	                                }
	                            } else {
	                                $td = implode(', ', $tdTmp);
	                            }
                            }
                            break;
                        case 'textarea':
                            $td = nl2br($item[$field['name']]);
                            break;
                        case 'id':
                            $td = $field['option'][$item[$field['name']]]['name'];
                            break;
                        default:
                            if($field['name'] == 'training_class_id') {
                                $td = $this->training_class[$item[$field['name']]]['name'];
                            } elseif ($field['name'] == 'product_id') {
                                $td = $this->product[$item[$field['name']]]['name'];
                            } else {
                                $td = $item[$field['name']];
                            }
                    }
                    
                    $style = '';
                    if(($field['name'] == 'content') || ($field['name'] == 'address')) {
                    	$style = ' style="white-space: normal;"';
                    }
                    $xhtmlColumn .= '<td'. $style .'>'. $td .'</td>';
                }
            }
            
            $manager = !empty($item['manager']) ? unserialize($item['manager']) : array();
            $manager_str = '';
            if(!empty($manager['manager']['manager_add'])) {
                $manager_str .= $manager['manager']['manager_add'];
                $user_name .= $manager['manager']['add_by'];
            }
            
            $xhtmlItems .= '<tr id="tr_'. $id .'" data-contact="'.$item['contact_id'].'">
    							<td>'. $cid .'</td>
                                <td>'. $index .'</td>
    							<td>'. $created .'</td>
    							<td>'. $time .'</td>
    							<td><a href="javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => 'contact', 'action' => 'edit')) .'\', {\'id\': \''. $item['contact_id'] .'\'});">'. $contact_name .'</a></td>
    							<td>'. $contact_phone .'</td>
    							<td>'. $contact_email .'</td>
    							<td>'. $contact_address .'</td>
    							<td>'. $content .'</td>
    							<td>'. $type_c3 .'</td>
    							    '. $xhtmlColumn .'
    							<td>'. $level .'</td>
    							<td>'.$number.'</td>
    							<td>'. $source .'<br>'. $source_detail .'</td>
    						</tr>';
        }
    }
    
    // Control
    $arrControl = array(
        array( 'name' => 'add', 'caption' => 'Thêm', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'add')), 'icon' => 'fa-plus', 'attributes' => array( 'onclick' => 'javascript:void(0)', 'class' => 'btn', ) ),
        array( 'name' => 'share','link' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'share')) .'\');', 'caption' => 'Share data', 'icon' => 'fa-braille', 'attributes' => array( 'onclick' => '', 'class' => 'btn',  ) ),
        array( 'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown' ), 
            'children' => array( 
                array( 'name' => 'delete', 'caption' => 'Xóa', 'link' => 'javascript:;', 'icon' => 'fa-trash', 'attributes' => array( 'onclick' => 'javascript:deleteItem(\'multi\', \'all\');' ) ),
                array( 'name' => 'divider' ),
                array( 'name' => 'import', 'caption' => 'Import dữ liệu', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'import')), 'icon' => 'fa fa-sign-in'),
                array( 'name' => 'export', 'caption' => 'Xuất bản excel', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'export')), 'icon' => 'fa-file-excel-o', 'attributes' => array( 'onclick' => 'javascript:exportList();' ) )
            ), 'children-class' => 'dropdown-menu pull-right' ),
    );
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminFormFilter" id="adminFormFilter" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
    	<div class="row">
    		<?php echo $xhtmlFilter;?>
    	</div>
    </div>
    <div class="page-content">
        <?php
        $permission_ids = explode(',', $this->currentForm['permission_ids']);
        $aclInfo    = new \ZendX\System\UserInfo();
        $userInfo   = $aclInfo->getUserInfo();
        $permissionInfo  = $aclInfo->getPermissionInfo();
        
        $flag = false;
        foreach ($permissionInfo AS $permission) {
            if($permission['permission'] == 'full') {
                $flag = true;
                break;
            }
            if(in_array($permission['id'], $permission_ids)) {
                $flag = true;
                break;
            }
        }
        
        // Nếu không chọn form nào thì kiểm tra có danh sách form được quyền truy cập không
        if(!empty($this->listForm) && empty($this->currentForm)) {
            $flag = true;
        }
        
        if($flag == true) {
        ?>
    	<div class="table-manager" id="table-manager">
    		<div class="table-scrollable">
    			<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<?php echo $xhtmlHead;?>
    				</thead>
    				<tbody>
    					<?php echo $xhtmlItems;?>
    				</tbody>
    			</table>
    		</div>
    		<?php
            	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'new')), 'options' => $this->params['paginator']['options'])); 
            ?>
    	</div>
    	<?php
    	} else {
    	    echo '<div class="alert alert-danger" role="alert"> Bạn không có quyền truy cập vào chuyên mục này </div>';
    	} 
    	?>
	</div>
</form>
<?php $this->headScript()->captureStart() ?>
    $('#adminForm table select').change(function() {
        $.ajax({
			url: '<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'edit-result'));?>',
			type: 'POST',
			data:{
			     result_id: $(this).val(),
			     id: $(this).attr('data-id')
			},
			beforeSend: function() {
				pageLoading('loading', '.page-container');
			},
			success: function(result) {
				if(result != '') {
					xToastr('error', 'Lỗi không thể xử lý yêu cầu', '');
				}
				pageLoading('close', '.page-container');
			}
		});
    });
    
    //Tính khoảng cách chiều cao phần nội dung
   var h_window = $(window).height();
   var h_content = h_window - $('.header.navbar').outerHeight() - $('.page-control').outerHeight() - $('.page-filter').outerHeight() - $('.paginations').outerHeight() - 10;
   $('#table-manager .table-scrollable').css({'height': h_content + 'px'});
   $( window ).resize(function() {
       var h_window = $(window).height();
       var h_content = h_window - $('.header.navbar').outerHeight() - $('.page-control').outerHeight() - $('.page-filter').outerHeight() - $('.paginations').outerHeight() - 10;
       $('#table-manager .table-scrollable').css({'height': h_content + 'px'});
   });


<?php $this->headScript()->captureEnd() ?>
