<?php
    // Filter
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $filter_payment_id  = array();
    foreach ($myForm->get('filter_payment_id')->getValueOptions() AS $key => $payment) {
        $filter_payment_id[$key] = str_replace('<br>', ' ', $payment);
    }
    $filter_payment_id['code'] = 'Mã kích hoạt';
    
    $myForm->get('filter_payment_id')->setValueOptions($filter_payment_id);
    
    $elements = array(
        array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_pending'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_course_id'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_payment_id'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_begin'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_end'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('order')),
        array('element' => $myForm->get('order_by')),
    );
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= '<th class="col-50">STT</th>';
    $xhtmlHead .= '<th>Ngày đăng ký</th>';
    $xhtmlHead .= '<th>Họ và tên</th>';
    $xhtmlHead .= '<th>Số điện thoại</th>';
    $xhtmlHead .= '<th>Email</th>';
    $xhtmlHead .= '<th>Giới tính</th>';
    $xhtmlHead .= '<th>Ngày sinh</th>';
    $xhtmlHead .= '<th>Tỉnh thành</th>';
    $xhtmlHead .= '<th>Lĩnh vực nghề nghiệp</th>';
    $xhtmlHead .= '<th>Khóa học</th>';
    $xhtmlHead .= '<th>Hình thức thanh toán</th>';
    $xhtmlHead .= '<th>Mã kích hoạt</th>';
    $xhtmlHead .= '<th class="col-150">Công cụ</th>';
    $xhtmlHead .= '<th>Người duyệt</th>';
    $xhtmlHead .= '<th>Ngày duyệt</th>';
	$xhtmlHead .= '</tr>';

    // Danh sách
    $xhtmlItems = '';
    $arrSex = array('male' => 'Nam', 'female' => 'Nữ');
    if($this->items->count() > 0) {
        $index = 0;
        foreach ($this->items AS $item) {
            $index++;
            $id                         = $item->id;
            $contact_name               = $item->contact_name;
            $contact_email              = $item->contact_email;
            $contact_phone              = $item->contact_phone;
            $contact_address            = $item->contact_address;
            $contact_sex                = $item->contact_sex ? $arrSex[$item->contact_sex] : '';
            $contact_birthday           = $item->contact_birthday ? date_format(date_create($item->contact_birthday), 'd/m/Y') : '';
            $contact_location_city_id   = $item->contact_location_city_id ? $this->location_city[$item->contact_location_city_id]['name'] : '';
            $contact_career_id          = $item->contact_career_id ? $this->career[$item->contact_career_id]['name'] : '';
            $course_id                  = $item->course_id ? $this->course[$item->course_id]['name'] : '';
            $payment_id                 = $item->payment_id ? $this->payment[$item->payment_id]['name'] : '';
            $code                       = $item->code;
            $code                       .= $item->code_type ? '<br>'. $item->code_type : '';
            if(!empty($code)) {
                $payment_id    .= '<div class="text-danger">Mã kích hoạt</div>';
            }
            $created            = date_format(date_create($item->created), 'd/m/Y H:i:s');
            $checked            = $item->checked ? date_format(date_create($item->checked), 'd/m/Y H:i:s') : '';
            $checked_by         = $item->checked_by ? $this->user[$item->checked_by]['fullname'] : '';
            if($item->checked_by == 'system') {
                $checked_by     = '<span class="text-danger">Hệ thống</span>';
            }
            $cid                = @$this->xFormInput('cid[]', $id, array('type' => 'checkbox', 'class' => 'checkboxes'));
            
            // Link Action
            $linkCheck          = $this->url('routeOnline/default', array('controller' => $this->params['controller'], 'action' => 'check', 'id' => $id));
            
            // Kiểm tra duyệt đơn hàng
            $checkText  = 'Chờ thanh toán';
            $checkClass = 'default';
            if($item->pending == 1) {
                $checkText  = 'Đã thanh toán';
                $checkClass = 'green';
                $linkCheck  = 'javascript:;';
            }
            
            // Control Action
            $controlCheck       = $this->linkAdminHtml($linkCheck, array('type' => 'text', 'value' => $checkText, 'class' => 'btn btn-xs ' . $checkClass));
            $controlStatus      = $this->linkAdminStatus($id, $item->status);
            $controls           = $controlStatus . $controlCheck;
            
            $xhtmlItems .= '<tr id="tr_'. $id .'">
    							<td>'. $cid .'</td>
    							<td>'. $index .'</td>
    							<td>'. $created .'</td>
    							<td>'. $contact_name .'</td>
    							<td>'. $contact_phone .'</td>
    							<td>'. $contact_email .'</td>
    							<td>'. $contact_sex .'</td>
    							<td>'. $contact_birthday .'</td>
    							<td>'. $contact_location_city_id .'</td>
    							<td>'. $contact_career_id .'</td>
    							<td>'. $course_id .'</td>
    							<td>'. $payment_id .'</td>
    							<td>'. $code .'</td>
							    <td>'. $controls .'</td>
    							<td>'. $checked_by .'</td>
    							<td>'. $checked .'</td>
    						</tr>';
        }
    }
    
    // Control
    $arrControl = array(
        //array( 'name' => 'add', 'caption' => 'Thêm', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form')), 'icon' => 'fa-plus', 'attributes' => array( 'onclick' => '', 'class' => 'btn', ) ),
        array( 'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', ), 'children' => array( array( 'name' => 'sort', 'caption' => 'Sắp xếp', 'link' => 'javascript:;', 'icon' => 'fa-sort-alpha-asc', 'attributes' => array( 'onclick' => 'javascript:changeOrdering();', ) ), array( 'name' => 'divider' ), array( 'name' => 'active', 'caption' => 'Hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-check-square-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 0);', ) ), array( 'name' => 'inactive', 'caption' => 'Không hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-circle-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 1);', ) ), array( 'name' => 'divider' ), array( 'name' => 'delete', 'caption' => 'Xóa', 'link' => 'javascript:;', 'icon' => 'fa-trash', 'attributes' => array( 'onclick' => 'javascript:deleteItem(\'multi\', \'all\');', ) ), array( 'name' => 'divider' ), array( 'name' => 'print', 'caption' => 'In', 'link' => 'javascript:;', 'icon' => 'fa-print', 'attributes' => array( 'onclick' => 'javascript:printPage();', ) ), array( 'name' => 'export', 'caption' => 'Xuất bản excel', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'export')), 'icon' => 'fa-file-excel-o', 'attributes' => '' ), ), 'children-class' => 'dropdown-menu pull-right' ),
        array( 'name' => 'back', 'caption' => 'Danh sách liên hệ', 'link' => $this->url('routeAdmin/default', array('controller' => 'contact', 'action' => 'index')), 'icon' => 'fa-users', 'attributes' => array( 'onclick' => '', 'class' => 'btn', ) ),
    );
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminForm" id="adminForm" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
    	<div class="row">
    		<?php echo $xhtmlFilter;?>
    	</div>
    </div>
    <div class="page-content">
    	<div class="table-manager" id="table-manager">
    		<div class="table-default">
    			<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<?php echo $xhtmlHead;?>
    				</thead>
    				<tbody>
    					<?php echo $xhtmlItems;?>
    				</tbody>
    			</table>
    		</div>
    		<?php
            	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'options' => $this->params['paginator']['options'])); 
            ?>
    	</div>
	</div>
</form>
<?php $this->headScript()->captureStart() ?>
    $('#adminForm select').change(function() {
		$('#adminForm').submit();
    });
<?php $this->headScript()->captureEnd() ?>