<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <div class="box_header" id="box_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><a href="" class="logo"><img src="<?php echo $urlImg;?>/logo.png"></a></div>
                <div class="col-md-10">
                    <div class="clr"></div>
                    <ul class="menu hidden-xs hidden-sm">
                        <li><a href="javascript:;" class="go_box" data-box="box_gioiThieu">GIỚI THIỆU CRM</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_CRM"> TẦM QUAN TRỌNG CỦA CRM</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_aiNen">TRIỂN KHAI CRM</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_camKet">PHÁT TRIỂN CRM</a></li>
                        <!-- <li><a href="javascript:;" class="go_box" data-box="box_dienGia">diễn giả</a></li> -->
                        <li><a href="javascript:;" class="go_box btn_book" data-box="box_dangKy">Đăng ký TƯ VẤN</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <a href="javascript:;">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="box_banner" id="box_banner">
        <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>
    </div>

    <div class="box_gioiThieu" id="box_gioiThieu">
        <div class="box_content">
            <div class="title-1">CRM LÀ GÌ ?</div>
            <div class="note">CRM là từ viết tắt của tên tiếng anh <span>“Customer Relationship Management”</span>. <br>Hiểu đơn giản CRM là phần mềm giúp doanh nghiệp quản lý mọi thông tin của khách hàng</div>
        </div>
    </div>

    <div class="box_CRM" id="box_CRM">
        <div class="container">
            <div class="row">
                <div class="title">TẦM QUAN TRỌNG CỦA CRM ĐỐI VỚI DOANH NGHIỆP</div>
                <div class="box_content">
                    <div class="col-sm-6">
                        <div class="img"><img src="<?php echo $urlImg;?>/icon-3.png"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="detail">
                            <p>Dữ liệu khách hàng là tài sản của doanh nghiệp. Bạn đã phải bỏ ra rất nhiều tiền cho việc Marketing để tạo phễu data khách hàng nhưng lại không thể quản lý, theo dõi, phân tích những vấn đề khách hàng gặp phải, từ đó không thể đưa ra được các góc nhìn về thị trường, về đối tượng khách hàng v.v..</p>
                            <p>Data khách hàng của bạn không được bảo mật. Nhân viên sale này có thể nhìn thấy data của nhân viên sale khác</p>
                            <p>Data khách hàng khi được phân chia cho nhân viên sale nhưng khi họ nghỉ việc họ không bàn giao lại và bạn bị mất thông tin những khách hàng đó</p>
                            <p>Doanh nghiệp bạn gặp rất nhiều khó khăn trong việc đưa ra báo cáo phân tích, đôi khi số liệu không chính xác do dữ liệu không được đồng bộ ảnh hưởng dẫn lớn đến chiến lược marketing của doanh nghiệp</p>
                        </div>
                    </div>
                </div>
                <div class="text">CRM Sẽ giúp bạn giải quyết hết tất cả các vấn đề cơ bản trên và còn hơn thế nữa</div>
            </div>
        </div>
    </div>

    <div class="box_aiNen" id="box_aiNen">
        <div class="row_1">
            <div class="image">&nbsp;</div>
            <div class="text">
                <div class="wrapper">
                    <div class="box_title">DOANH NGHIỆP CỦA BẠN GẶP QUÁ NHIỀU KHÓ KHĂN ĐỂ VẬN HÀNH, TRIỂN KHAI CRM</div>
                    <div class="box_content">
                        <div class="note">Tại sao bạn đã biết CRM quan trọng như thế nào nhưng doanh nghiệp của bạn vẫn không thể đưa CRM vào vận hành, triển khai và đi vào cuộc sống:</div>
                        <div class="item">Bạn không tìm được đối tác giúp bạn xây dựng CRM theo mô hình kinh doanh của doanh nghiệp mình</div>
                        <div class="item">Doanh nghiệp bạn bỏ ra rất nhiều tiền xây dựng CRM nhưng hệ thống luôn gặp lỗi gây tốn công sức, gây ức chế cho nhân viên sử dụng</div>
                        <div class="item">Nhiều đối tác xây dựng phần mềm CRM cho bạn nhưng họ không có sự cam kết và đồng hành với doanh nghiệp trong việc phân tích nhu cầu dẫn đến tốn quá nhiều thời gian xây dựng phần mềm và còn không đúng với mô hình kinh doanh của bạn</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box_Giupdo" id="box_Giupdo">
        <div class="container">
            <div class="row">
                <div class="box_title">CHÚNG TÔI SẼ GIÚP GÌ CHO BẠN</div>
                <div class="box_content">
                    <div class="col-sm-6">
                        <div class="item">
                            <div class="img"><img src="<?php echo $urlImg;?>/icon-4.png"></div>
                            <div class="text">Chúng tôi không chỉ giúp bạn xây dựng phần mềm, chúng tôi sẽ cùng bạn đưa ra giải pháp ứng dụng công nghệ vào mô hình kinh doanh, giúp doanh nghiệp của bạn phát triển bền vững hơn trong thời đại công nghiệp 4.0</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="item">
                            <div class="img"><img src="<?php echo $urlImg;?>/icon-5.png"></div>
                            <div class="text">Với đội ngũ các chuyên gia hàng đầu về Marketing, Nhân sự, Tài chính, Kinh doanh và Công nghệ, chúng tôi tự tin sẽ giúp doanh nghiệp của bạn có những góc nhìn sâu hơn về quản lý quan hệ khách hàng</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box_camKet" id="box_camKet">
        <div class="left"></div>
        <div class="right">
            <div class="box_content">
                <div class="box_title">CAM KẾT CÙNG PHÁT TRIỂN</div>
                <div class="item">Chúng tôi chỉ có duy nhất một tiêu chí trong công việc đó là “Luôn đặt lợi ích khách hàng lên đầu”</div>
                <div class="item">Chúng tôi cam kết sẽ đưa được giải pháp phần mềm quản lý khách hàng phù hợp nhất với mô hình kinh doanh của bạn</div>
                <div class="item">Chúng tôi cam kết sẽ hoàn lại toàn bộ chi phí nếu như doanh nghiệp của bạn không thể đưa được phần mềm vào vận hành</div>
            </div>
        </div>
    </div>

    <div class="box_dangKy" id="box_dangKy">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="dangKy">
                        <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">
                            <div class="box_title">ĐĂNG KÝ NHẬN TƯ VẤN </div>
                            <div class="text">Chúng tôi sẽ tư vấn <span>MIỄN PHÍ</span> cho doanh nghiệp của bạn giải pháp xây dựng phần mềm CRM quản lý khách hàng tối ưu nhất</div>
                            <div class="box_content">
                                <div class="row">
                                    <div class="col-md-12 hidden">
                                         <div class="form-group" id="input-location_city_id">
                                            <input name="location_city_id" type="text" class="form-control" value="1471419030-5m0i-1336-1k80-275892616r50">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-name">
                                            <input name="name" type="text" class="form-control" placeholder="Họ và tên">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-phone">
                                            <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-email">
                                            <input name="email" type="text" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-company_name">
                                            <input name="company_name" type="text" class="form-control" placeholder="Tên công ty">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <?php
                                            $company_size = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-size" )), array('task' => 'cache'));
                                        ?>
                                        <div class="form-group" id="input-field">
                                            <select name="field" class="form-control">
                                                <option class="field" value="">Quy mô công ty</option>
                                                <?php
                                                    foreach ($company_size AS $val) {
                                                        $id     = $val['id'];
                                                        $name   = $val['name'];
                                                ?>  
                                                <option class="field" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                <?php } ?>
                                            </select> 
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <?php
                                            $company_career = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-career" )), array('task' => 'cache'));
                                        ?>
                                        <div class="form-group" id="input-workshop">
                                            <select name="workshop[]" class="selectpicker form-control" multiple data-selected-text-format="count > 4" title="Lĩnh vực kinh doanh.">
                                                <?php
                                                    foreach ($company_career AS $valu) {
                                                        $id     = $valu['id'];
                                                        $name   = $valu['name'];
                                                ?>  
                                                <option class="workshop" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                <?php } ?>
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-content">
                                            <select name="content" class="form-control">
                                                <option class="content" value="">Doanh nghiệp đã từng triển khai CRM chưa</option>
                                                <option class="content" value="Đã từng">Đã từng</option>
                                                <option class="content" value="Chưa bao giờ">Chưa bao giờ</option>
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="btnSuccess">
                                            <input type="hidden" name="form_id" value="<?php echo $item['form_id'];?>">
                                            <input type="hidden" name="type" value="form">
                                            <?php 
                                            if ($link == '') {
                                                $input = '<input type="hidden" name="source" value="landing_page">';
                                            }else{
                                                $input = '<input type="hidden" name="source" value="'.$link.'">';
                                            }
                                            ?>
                                            <?php
                                            echo $input;
                                            ?>
                                            <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                            <input type="button" onclick="javascript:formRegisterCRM('frmRegister');" class="input-lg btn-blue" value="Đăng ký ngay">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_dangKy -->
    
    <div class="box_thanhToan" id="box_thanhToan">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="thanhToan">
                        <div class="box_title">THÔNG TIN TÀI KHOẢN</div>
                        <div class="box_content">
                            <div class="item">
                                <div class="item_title"><b>1. Chuyển khoản</b></div>
                                <div class="item_detail">
                                    Vui lòng liên hệ Hotline <span>012.9999.6886</span> hoặc <span>012.9999.6633</span> để được tư vấn rõ hơn.
                                </div>
                            </div>
                            <div class="item">
                                <p class="item_title"><b>2. Nộp tiền mặt trực tiếp</b></p>
                                <p class="item_detail">Tại văn phòng của Langmaster, tầng 15 tòa nhà CTM Complex, số 139 Cầu Giấy, Hà Nội.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="dangKy">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0066982756643!2d105.79666931548647!3d21.032417985996346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab46d9c86b9b%3A0x4879c19d8ad4be47!2zMTM5IEPhuqd1IEdp4bqleSwgUXVhbiBIb2EsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1516414158828" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_thanhtoan -->
    
    <div class="box_comment">
        <div class="container">
            <div class="fb-comments" data-href="" width="100%" data-numposts="10" data-order-by="reverse_time"></div>
        </div>
    </div>

    <div class="box_images">
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-1.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-2.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-3.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-4.jpg"></div></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-5.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-6.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-7.jpg"></div></td>
            </tr>
        </table>
    </div>
    
    <?php
    echo $this -> headScript()
               -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] .'/me.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->
    
    
    <script type="text/javascript">
    // Hiệu ứng text các box
    if ($(window).width() > 991) {
        $('.box_thongTin .box_content .info .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp2 animated-2s fadeInUp');}
        });
        $('.box_noiDung .my_panel').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-3s fadeInUp');}
        });
        $('.box_muctieu .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
        });

        $('.box_doituong .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
        });
    }

	// slide
    $(document).ready(function() {
        var maxSlides = 3;
        var slideWidth = 368; 
        if ($(window).width() < 800) {
            maxSlides = 1;
            slideWidth = 0;
        }
        $('#bxslider').show();
        $('#bxslider').bxSlider({
            auto: false,
            autoControls: false,
            minSlides: 1,
            maxSlides: maxSlides,
            moveSlides: 1,
            slideWidth: slideWidth,
            slideMargin: 48,
            adaptiveHeight: true,
            responsive: true
        });
    });
    </script>
</body>
</html>
