@charset "utf-8";
@import "../fonts/font.css";

/* System */
a{ color: #039cdf; text-decoration: none; transition: color 0.15s ease-in-out 0s; -webkit-transform: color 0.15s ease-in-out 0s; -moz-transform: color 0.15s ease-in-out 0s; -o-transform: color 0.15s ease-in-out 0s;}
a:hover { color: #222; margin: 0;}
p{ margin-bottom: 0;}
/* Content */
body{ font-size: 17px; color: #414042;}
.clr{ clear: both;}

.box_menu .navbar{ margin: 0; border: 0;}
.box_menu .navbar .navbar-brand{ padding: 0px; text-align: center; font-size: 22px; color: #1da2de;}
.box_menu .navbar .navbar-brand img{ margin-top: 15px; }
.box_menu .navbar-inverse{ background-color: #fff; box-shadow: 0 0 3px #CCC;}
.box_menu .navbar-inverse .navbar-nav>li{ display: table; height: 70px; overflow: hidden; text-align: center;}
.box_menu .navbar-inverse .navbar-nav>li>a{ padding: 0 25px; display: table-cell; vertical-align: middle; font-size: 15px; line-height: 16px; color: #414042; text-transform: uppercase; font-family: "Roboto-Medium";}
.box_menu .navbar-inverse .navbar-nav>li.active a.btn-default{ color: #fff; }
.box_menu .navbar-inverse .navbar-nav>li>a:hover,
.box_menu .navbar-inverse .navbar-nav>li>a:focus { color: #d30c13; }
.box_menu .navbar-inverse .navbar-nav>li>a.btn-default{  background: #e4262b; padding: 10px 20px; display: inline-block; color: #fff; margin-top: 18px; margin-left: 20px; border: none; background-size: 100% 100%; text-transform: uppercase; border-radius: 18px;}
.box_menu .navbar>.container .navbar-brand,
.box_menu .navbar>.container-fluid .navbar-brand{ margin-left: 0px;}
.box_menu .navbar-right{ margin-right: 0px; }

.box_banner img{ width: 100%; margin-top: 70px; }

.box_gioiThieu{ padding: 60px 0;}
.box_gioiThieu .box_title {color: #ffd522; font-size: 30px; line-height: 50px; text-transform: uppercase; text-align: center; padding: 25px; margin: 30px auto 0 auto; border-radius: 15px; font-family: "Roboto-BoldItalic";
		background: -moz-radial-gradient(center center, circle farthest-side, rgba(29, 54, 103, 0.5) 0%, #1d3667 70%);
        background: -o-radial-gradient(center center, circle farthest-side, rgba(29, 54, 103, 0.5) 0%, #1d3667 70%);
        background: -ms-radial-gradient(center center, circle farthest-side, rgba(29, 54, 103, 0.5) 0%, #1d3667 70%);
        background: -webkit-radial-gradient(center center, circle farthest-side, rgba(29, 54, 103, 0.5) 0%, #1d3667 70%); width: 1000px; max-width: 100%;}
.box_gioiThieu .title {color: #152b50; font-size: 30px; text-align: center; text-transform: uppercase; line-height: 25px; font-family: "Roboto-BoldItalic"; }
.box_gioiThieu .content{ text-align: justify; padding: 40px; font-family: "Roboto-Regular";}
.box_gioiThieu .content p span{ font-size: 36px; font-weight: bold; line-height: 100%; font-family: "DP-Bold"; color: #cf1a2f; margin-right: 5px; }
.box_gioiThieu .image img{ width: 100%; }
.box_gioiThieu .box_text{ padding: 60px 120px 0; text-align: center; }
.box_gioiThieu .box_text b{ color: #e4262b; font-family: "Roboto-Bold"}
.box_gioiThieu .info{ padding-left: 30px;}
.box_gioiThieu .info .item{ font-size: 16px; padding-bottom: 35px; padding-left: 20px; position: relative; text-align: justify;}
.box_gioiThieu .info .item:AFTER{ position: absolute; content: "\f111"; font-family: "FontAwesome"; top: 3px; left: 0; color: #ffd522; font-size: 10px;}
.box_gioiThieu .text { margin: 0; font-family: "Roboto-Regular"; font-size: 18px; padding-top: 20px;}

.box_text{background: url("../images/banner-1.jpg") no-repeat center; border-bottom: 5px solid #ffd522;background-size: cover;}
.box_text .box_content{padding-top: 40px;}
.box_text .box_content .item{color: #fff; font-size: 17px; text-align: justify; color: #fff; padding: 40px 0 0 100px;}
.box_text .box_content .btn{width: 230px; height: 50px; border-radius: 50px; line-height: 40px; color: #fff; display: block; margin: 50px auto 0 auto; text-transform: uppercase; font-family: "Roboto-Bold"; text-align: center; font-size: 25px; background: #e4262b;}

.box_noiDung{width: 100%; margin: 0 auto; color: #414042; padding-bottom: 50px; }
.box_noiDung .box_content{width: 1000px; max-width: 100%; margin: 0 auto; display: flow-root;}
.box_noiDung .box_content .box_title{font-family: "DP-Bold"; text-transform: uppercase; font-size: 40px; line-height: 45px; text-align: center; color: #202b53; padding: 50px 0;}
.box_noiDung .box_content .note{display: flex; font-family: "Roboto-Medium"; font-size: 20px; line-height: 30px; padding-bottom: 20px;}
.box_noiDung .box_content .wrapper{ width: 1000px; max-width: 100%; margin: 0 auto; display: flow-root;}
.box_noiDung .box_content .wrapper .content{background: #ebebeb;}
.box_noiDung .box_content .wrapper .my_panel{ background-color: #FFF; margin-bottom: 10px; }
.box_noiDung .box_content .wrapper .my_panel .title{ background: #122c50; text-transform: uppercase; color: #fff; font-family: "DP-Bold"; font-size: 20px; line-height: 30px; padding: 20px 25px;}
.box_noiDung .box_content .wrapper .my_panel .title span{font-family: "Roboto-Medium";}
.box_noiDung .box_content .wrapper .my_panel .content{ padding:25px 60px; font-size: 17px; font-family: "Roboto-Regular"; line-height: 26px; font-size: 17px; border:1px solid #979797; background: #fff; margin-top: 5px;}
.box_noiDung .box_content .wrapper .my_panel.active .content{ display: block;}
.box_noiDung .box_content .content .text_content{ position: relative; margin-bottom: 10px; font-size: 20px;}
.box_noiDung .box_content .content .item_content{font-family: "Roboto-Regular"; font-size: 17px; line-height: 25px; padding-bottom: 10px; position: relative;}
.box_noiDung .box_content .content .item_content .fa{padding-right: 10px; color: #122c50;}
.box_noiDung .box_content .content .item_content span{font-family: "Roboto-Medium";}

.box_aiNen{padding: 60px 0;}
.box_aiNen .title{font-size: 40px; line-height: 25px; font-family: "DP-Bold"; color: #152b50; margin-bottom: 60px; position: relative; padding-bottom: 20px; }
.box_aiNen .title:before{position: absolute; content: ""; background: #d8ab2b; height: 8px; width: 10%; bottom: 0; left: 45%;}
.box_aiNen .item{padding: 60px 35px 55px 35px; background: #ebebeb; height: 300px;}
.box_aiNen .item .image{min-height: 100px;}
.box_aiNen .text{font-family: "Roboto-Regular"; line-height: 25px; margin-top: 28px;}

.box_tienSiHT{background: url(../images/banner-8.jpg) no-repeat top; border-bottom: 5px solid #ffc41f;}
.box_tienSiHT .box_left img{ width: 100%; }
.box_tienSiHT .box_right{ margin-top: 90px; padding-bottom: 54px;}
.box_tienSiHT .box_right .head { margin-bottom: 20px;}
.box_tienSiHT .box_right .head .box_title{ text-align: center; margin-bottom: 30px; color: #ffc41f; font-size: 40px; text-transform: uppercase; font-family: "Roboto-Bold"; }
.box_tienSiHT .box_right .head .box_title span{font-family: "Roboto-BoldItalic"; color: #fff;}
.box_tienSiHT .box_right .head .text{ text-align: center; font-size: 13px; font-style: italic; }
.box_tienSiHT .box_right .desc{text-align: justify;}
.box_tienSiHT .box_right .desc p{ padding-left: 40px; position: relative; padding-bottom: 30px; font-family: "Roboto-Thin"; font-size: 17px; color: #fff;}
.box_tienSiHT .box_right .desc p:BEFORE{ content:''; position: absolute; width: 15px; height: 15px; background: #fff; left: 0; top: 5px; }

.box_mucTieu{ margin: 0; display: table; width: 100%; color: #222831; background: url("../images/banner-2.jpg") no-repeat center; background-size: cover; padding: 50px 0;}
.box_mucTieu .title{ color: #fff; font-family: "Roboto-Bold"; font-size: 40px; position: relative; padding-bottom: 20px; margin-bottom: 40px;}
.box_mucTieu .title::after{ content: ""; position: absolute; bottom: 0; left: 50%; width: 200px; height: 5px; margin-left: -100px; background-color: #d8ab2b;}
.box_mucTieu .item{ padding: 20px 0; font-size: 17px;}
.box_mucTieu .item .image{padding-bottom: 20px; min-height: 130px;}
.box_mucTieu .item .text{padding: 0 15px; text-align: justify; color: #fff; min-height: 120px; font-family: "Roboto-Thin";}
.box_mucTieu .item .text span{font-family: "Roboto-Medium";}
.box_mucTieu .btn{width: 230px; height: 50px; border-radius: 50px; line-height: 40px; color: #fff; display: grid; margin: 0 auto; text-transform: uppercase; font-family: "Roboto-Bold"; text-align: center; font-size: 25px; background: #e4262b;}

.box_giaoDien{padding: 50px 0;}
.box_giaoDien .box_title{font-size: 40px; line-height: 25px; font-family: "Roboto-Bold"; color: #152b50; margin-bottom: 40px; padding-bottom: 20px; position: relative; padding-bottom: 20px; }
.box_giaoDien .box_title:before{position: absolute; content: ""; background: #d8ab2b; height: 8px; width: 200px; margin-left: -100px; bottom: 0; left: 50%;}
.box_giaoDien .img img{width: 100%;}

.box_loiIch{ margin: 0; display: table; width: 100%; color: #222831; padding: 50px 0;}
.box_loiIch .box_title{ color: #152b50; text-transform: uppercase; font-family: "Roboto-Bold"; font-size: 40px; position: relative; padding-bottom: 20px; margin-bottom: 40px;}
.box_loiIch .box_title::after{ content: ""; position: absolute; bottom: 0; left: 50%; width: 200px; height: 5px; margin-left: -100px; background-color: #d8ab2b;}
.box_loiIch .item{ padding: 20px 0; border: 1px solid #1d3667; border-radius: 10px; font-size: 17px;}
.box_loiIch .item .image{padding-bottom: 20px; min-height: 130px;}
.box_loiIch .item .text{padding: 0 15px; text-align: justify; color: #111; min-height: 100px; font-family: "Roboto-Thin";}
.box_loiIch .item .text .title{font-family: "Roboto-Bold"; font-size: 14px; color: #1d3667; text-transform: uppercase;}
.box_loiIch .item .text .detail{font-family: "Roboto-Regular"; font-size: 16px; padding-top: 15px;}

.box_dangKy{background: url(../images/banner-5.jpg) no-repeat; background-size: cover; padding: 60px 0;}
.box_dangKy .hotline{font-family: "Roboto-Light"; font-size: 24px; padding: 20px 0;}
.box_dangKy .box_content{padding-top: 0; color: #fff; font-family: "Roboto-Medium"; text-align: center; text-transform: uppercase;}
.box_dangKy .box_content .box_title{font-size: 40px; line-height: 50px; font-family: "Roboto-Bold"; text-transform: uppercase;}
.box_dangKy .box_content .box_title span{font-family: "Roboto-BoldItalic"; color: #ffc41f;}
.box_dangKy .box_content .note{font-family: "Roboto-LightItalic"; font-size: 18px; padding: 30px 0; color: #ffc41f;}
.box_dangKy .box_content .note span{font-family: "Roboto-BoldItalic"; }
.box_dangKy .box_content .gift{font-family: "Roboto-Light"; text-transform: none; font-size: 20px; line-height: 30px; padding-bottom: 20px;}
.box_dangKy .box_content .gift span{font-family: "Roboto-Bold";}
.box_dangKy .end_sales { color: #58595b;}
.box_dangKy .end_sales .title { color: #58595b; font-size: 26px; font-weight: 700; text-align: center;}
.box_dangKy .end_sales .title span{ color: #ad1933;}
.box_dangKy .end_sales .price{ text-align: center; font-size: 40px; padding: 30px 0; color: #ad1933; font-weight: 600;}
.box_dangKy .end_sales .price .old{ text-decoration: line-through; color: #999; font-size: 20px;}
.box_dangKy .end_sales .apdung{ text-align: center; font-size: 26px;}
.box_dangKy .end_sales .thoigian{ text-align: center; font-size: 20px; padding: 32px 0 20px;}
.box_dangKy .end_sales .clock{ margin: 0 auto; text-align: center;}
.box_dangKy .end_sales .clock:after{ content: ""; display: block; clear: both;}
.box_dangKy .end_sales .clock .boxe{ font-size: 17px; width: 70px; height: 95px; text-align: center; background: #fff; color: #303753; display: inline-block; margin-left: 10px; border-radius: 5px; }
.box_dangKy .end_sales .clock .boxe:FIRST-CHILD{ margin-left: 0;}
.box_dangKy .end_sales .clock .boxe span{ font-size: 44px; display: block; height: 60px; line-height: 60px; font-weight: 700;}
.box_dangKy .box_content .icon{font-size: 33px; text-align: right; font-family: "Roboto-Medium"; padding-right: 150px;}
.box_dangKy .box_content .gia { border: 2px solid #fff; border-radius: 50px; height: 75px; overflow: hidden; margin: 10px 20px 20px 20px;}
.box_dangKy .box_content .gia .sales{text-decoration:line-through; font-size: 40px; position: relative; width: 50%; float: left; height: 73px; line-height: 73px; text-align: center; font-family: "Roboto-Medium";}
.box_dangKy .box_content .gia .price{ position: relative; background: #e4262b; color: #fff; font-size: 45px; padding: 0 5px; height: 73px; width: 50%; float: left; text-align: center; display: table; font-family: "Roboto-Medium";}
.box_dangKy .box_content .gia .price p{ display: table-cell; vertical-align: middle; line-height: 26px;}
.box_dangKy .box_content .gia .price p span{ font-size: 18px; display: block; position: absolute; top: 2px;}
.box_dangKy .box_content .desc .text{ text-align: center; font-size: 20px; }
.box_dangKy .box_content .form-group{margin-bottom: 30px;}
.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100%; background: rgba(255, 255, 255, 0.8) !important; height: 65px; border-radius: 0; padding: 0 40px; font-family: "Roboto-Regular"; font-size: 18px;}
.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{padding:0; color: #111; height: 65px; background: rgba(255, 255, 255, 0) !important; border-radius: 0; border: 0; "Roboto-Regular"; font-size: 18px;}
.box_dangKy .btn-group.open .dropdown-toggle{color: #111; height: 65px; background: rgba(255, 255, 255, 0) !important; border-radius: 0; border: 0; "Roboto-Regular"; font-size: 18px;}
.box_dangKy .bootstrap-select>.dropdown-toggle{color: #111; height: 65px; background: rgba(255, 255, 255, 0) !important; border-radius: 0; border: 0; "Roboto-Regular"; font-size: 18px;}
.box_dangKy .title_2{font-size:30px; line-height:27px; font-family: "DP-Bold"; color: #fff; text-align: center; line-height: 40px; padding-bottom: 40px;}
.box_dangKy .form-row .col-md-6{padding-left: 0;}
.box_dangKy .form-row .group{padding-right: 0;}
.box_dangKy .btnSuccess .btn-blue{text-transform: uppercase; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 0; border:0; background: #e4262b; color: #fff; height: 65px; font-size: 23px; line-height: 27px; font-family: "DP-Bold"; text-align: center; width: 100%;}
.box_dangKy .btnSuccess .btn-blue:hover{background: #202b53;}
.box_dangKy .form-control{ font-family: "Roboto-Medium"; border-radius: 0; background: rgba(255, 255, 255, 0.8) !important; color: #585858 !important; height: 65px; padding: 0 45px; font-size: 17px; border: 1px solid transparent;}
.box_dangKy .alert{ border-radius: 0;}
.box_dangKy input{color: #585858;}
.box_dangKy label{font-weight: normal;}
.box_dangKy input::placeholder{color: #585858 !important; font-family: "Roboto-Medium"; font-weight:normal;  }

.box_thanhToan{  color: #30373d; position: relative; margin: 50px 0;}
.box_thanhToan .thanhToan { padding: 0 15px 0 15px;}
.box_thanhToan .thanhToan .box_title{ font-family: "DP-Bold"; padding-bottom: 20px; color: #152b50; font-size: 35px; line-height:45px; text-transform: uppercase;}
.box_thanhToan .thanhToan .item { margin-bottom: 30px;}
.box_thanhToan .thanhToan .item .item_title{ font-family: "HelveticaNeue-Medium"; padding-bottom: 5px; font-size:17px; line-height: 45px;}
.box_thanhToan .thanhToan .item .item_detail{ font-size: 18px; padding-bottom: 20px;line-height: 23px;font-family: "Roboto-Regular";}
.box_thanhToan .thanhToan .item .item_detail span{font-family: "Roboto-Bold";}
.box_thanhToan .thanhToan .item .item_image{ width: 300px; max-width: 100%; margin: 0 auto; background: #f2ad21; color: #FFF; border-radius: 5px; padding: 28px 0;}
.box_thanhToan .thanhToan .item .item_image .image_title{font-family:"Roboto-Medium"; background: #FFF; color: #49556a; text-align: center; height: 38px; line-height: 38px;}
.box_thanhToan .thanhToan .item .item_image .image_desc{ padding: 15px; font-size: 15px; font-family:"Roboto-Medium"; line-height: 30px; color: #111;}
.box_thanhToan .dangKy{border: 2px solid #007acf;}

.box_student{padding: 90px 0 50px 0; background: url("../images/bg_student.jpg") no-repeat top center; background-size: cover;}
.box_student .box_title .title{ text-align: center; color: #FFF; text-transform: uppercase; font-size: 40px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 50px;}
.box_student .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 50%; width: 50px; height: 5px; margin-left: -25px; background: -webkit-linear-gradient(left, #0039ae 25%,#7db9e8 100%);}
.box_student .item{min-height: 280px;}
.box_student .item .fa{position: absolute; font-size: 50px; color: #fff; top: 50%; left: 50%; margin: -25px 0 0 -25px; }
.box_student .item .image{ margin-bottom: 12px; text-align: center; padding-top: 20px;}
.box_student .item .image img{ width: auto; display: inline-block; width: 100%;}
.box_student .item .name{ font-size: 15px; font-weight: 500; text-transform: uppercase; text-align: center; margin-bottom: 2px; color: #0f2a51;}
.box_student .item .info{ color: #a1a1a1; font-size: 13px; text-align: center;}
.box_student .item .content{ font-size: 14px; padding-top: 20px;}
.box_student .bx-wrapper { position: relative; padding-bottom: 0;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a{ background-color: #FFF; width: 12px; height: 12px; display: inline-block; text-indent: -99999px; margin: 0 8px; border: 0; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; border-radius: 50% !important;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.box_student .bx-wrapper .bx-pager.bx-default-pager a.active{ background-color: #e4262b;}
.box_student .bx-wrapper .bx-viewport{ max-height: 520px;}
.box_student .bx-pager{ display: none; position: absolute; bottom: 0px; left: 0; width: 100%; margin: 0; padding: 0; text-align: center; z-index: 999;}
.box_student .bx-pager-item{ display: inline-block;}
.box_student .bx-controls-direction{display: contents; position: absolute; top: 13px; right: 0; z-index: 9999;}
.box_student .bx-controls-direction a{ display: inline-block; width: 20px; height: 20px; margin-top: 0; text-indent: -99999px; overflow: hidden;}
.box_student .bx-controls-direction a.bx-prev, 
.box_student .bx-controls-direction a.bx-prev:hover{ background: url("../images/prev.png") no-repeat center center; background-size: 100%; margin-right: 30px; position: absolute; top: 40%; margin-top: -10px; right: 100%;}
.box_student .bx-controls-direction a.bx-next,
.box_student .bx-controls-direction a.bx-next:hover{ background: url("../images/next.png") no-repeat center center; background-size: 100%; left: auto; position: absolute; top: 40%; margin-top: -10px; right: -4%;}
.box_student .item a{display: block; position: relative;}

.box_comment{padding: 30px 0;}

.box_images{ overflow: hidden;}
.box_images img{ width: 100%; transform: scale(1); transition: transform .5s;}
.box_images img:hover{ transform: scale(1.2); position: relative; z-index: 1;} 
.box_images table{ width: 100%;} 
.box_images table td{ padding: 2px; overflow: hidden;} 
.box_images table div{ overflow: hidden;} 

.box_footer{ padding: 60px 0 60px; position: relative; background: #071831; color: #FFF;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}
.box_footer .wrap{ margin: 0 -15px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 15px; padding-bottom: 15px; position: relative;}
.box_footer .col-1 .slogan:before{position: absolute; content: ""; width: 70px; height: 5px; background: #fff; bottom: 0; left: 0;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social {padding-top: 10px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .langtech .title{font-size: 16px; text-transform: uppercase; font-weight: 500; padding: 20px 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #d3a23b; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #C9353D;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}

.box_dangKyTuVan{display: none;}

.box_menuFooter ul{ margin: 0; padding: 0; list-style: none;}
.box_menuFooter ul>li{ display: block;}
.box_menuFooter ul>li>a{ text-transform: uppercase; margin-bottom: 5px; display: block; font-size: 13px;}
.box_menuFooter ul>li>ul{ display: none;}

.box_adsFooter{ overflow: hidden; margin-right: 40px;}
.box_adsFooter a{ display: inline-block; font-size: 10px; padding: 5px 10px 3px; border: 1px solid #FFF; border-radius: 14px; text-transform: uppercase; margin: 0 5px 5px 0;}
.box_adsFooter a:HOVER{ background-color: #FFF; color: #071831 !important;}

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 60%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}
.has-error .form-control{border: 1px solid #ec1c3c !important;}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }


iframe[name="google_conversion_frame"] { height: 0;}

@media(max-width: 1000px){
	.box_thongTin{padding: 30px 0; margin:0;}
	.box_thongTin .box_title{padding: 0; font-size: 30px;}
	.box_thongTin .box_content{margin-top: 15px;}
	.box_thongTin .box_content .info .item .value .btn{padding: 5px 15px;}
	.box_thongTin .box_content .text{ padding-bottom: 40px; font-size: 15px;}
	.box_thongTin .box_content .info .item{ display: block; padding: 0 20px;}
	.box_thongTin .box_content .info .title{font-size: 25px; text-align: center; padding: 50px 0; margin: 0;}
	.box_thongTin .box_content .info .item .key{ display: block; width: auto;}
	.box_thongTin .box_content .info .item .value{ display: block; width: auto; padding: 10px; font-size: 15px;}
	.box_thongTin .box_content .info .item .value.btn_book a{line-height: 50px;}

	.box_mucTieu .image{display: none;}

	.box_student .bx-controls-direction a.bx-next, .box_student .bx-controls-direction a.bx-next:hover{right: -1%;}
	.box_student .bx-controls-direction a.bx-prev, .box_student .bx-controls-direction a.bx-prev:hover{right: 90%;}
}

@media all and (max-width: 767px){

	body{ font-size: 15px;}

	.box_menu .navbar{ min-height: 50px;}
	.box_menu .navbar .navbar-brand{ font-size: 14px; line-height: 16px; padding-bottom: 0; height: 50px; }
	.box_menu .navbar .navbar-brand img{ margin-top: 15px; margin-left: 10px; height: 26px;}
	.box_menu .navbar .navbar-toggle{ margin-top: 8px; margin-bottom: 5px; background: #333; border-radius: 0;}
	.box_menu .navbar-collapse-background{ position: fixed; display: block; padding: 0; margin: 0; top: 0; left: -100%; width: 100%; height: 100%; max-height: 100%; z-index: 9999; background: rgba(0, 0, 0, 0.6); transition: left 0.1s ease-in-out 0s; -webkit-transform: left 0.1s ease-in-out 0s; -moz-transform: left 0.1s ease-in-out 0s; -o-transform: left 0.1s ease-in-out 0s;}
	.box_menu .navbar-collapse{ display: block; width: 250px; left: -250px; height: 100%; max-height: 100%; background-color: #111; position: fixed; top: 0; margin: 0; padding: 0;  transition: left 0.1s ease-in-out 0s; -webkit-transform: left 0.1s ease-in-out 0s; -moz-transform: left 0.1s ease-in-out 0s; -o-transform: left 0.1s ease-in-out 0s;}
	.box_menu .navbar-collapse.open{ left: 0; z-index: 999999;}
	.box_menu .navbar-collapse.open .navbar-nav{ margin: 0;}
	.box_menu .navbar-collapse.open .navbar-nav>li{ display: block; height: auto;}
	.box_menu .navbar-collapse.open .navbar-nav>li>a{ display: block; line-height: 50px; height: 50px; text-align: left; color: #E8E8E8;}
	.box_menu .navbar-collapse.open .navbar-nav>li.active>a{ display: block; line-height: 50px; height: 50px; text-align: left; color: #e4262b;}
	.box_menu .navbar-collapse.open .navbar-nav>li>a span{ display: inline;}
	.box_menu .navbar-inverse .navbar-nav>li>a.btn-default{ color: #cf232c;}
	.box_menu .navbar-inverse .navbar-nav>li>a.btn-default{ background: none; margin-top: 0px; padding: 0px 25px; margin: 0;}

	.box_slider img{ margin-top: 50px; }

	.box_gioiThieu{ padding: 20px 0; }
	.box_gioiThieu .title{font-size: 25px; line-height: 40px;}
	.box_gioiThieu .content{ padding: 20px 0px;}
	.box_gioiThieu .box_text{ padding: 20px 10px 30px;}
	.box_gioiThieu .info{ padding: 20px 0;}
	.box_gioiThieu .info .item{font-size: 15px;}

	.box_text{padding: 0; background-position: right; background-size: cover;}
	.box_text .img img{width: 100%;}
	.box_text .box_content .item{padding: 20px 0 0 0;}
	.box_text .box_content .btn{margin: 30px auto;}

	.box_mucTieu .item .image{display: block;}
	.box_mucTieu .item .text{min-height: 140px;}

	.box_thongTin .box_content{padding: 5px;}
	.box_thongTin .note{font-size: 26px;}

	.box_noiDung{padding-bottom: 30px;}
	.box_noiDung .box_content .box_title{padding: 30px 0; font-size: 30px;}
	.box_noiDung .box_content .wrapper .my_panel .title{padding: 10px;}
	.box_noiDung .box_content .wrapper .my_panel .content{padding: 10px 30px;}

	.box_mucTieu .title{font-size: 30px;}
	.box_mucTieu .text .wrapper{padding: 30px 10px; width: 100%;}
	.box_mucTieu .row_1 .item{padding-left: 30px; font-size: 16px;}

	.box_aiNen{padding: 40px 0;}
	.box_aiNen .title{font-size: 30px; margin-bottom: 20px;}
	.box_aiNen .item{padding: 20px 15px; margin-bottom: 15px;}
	.box_aiNen .item .image{min-height: 80px;}
	.box_aiNen .text{min-height: 80px;}

	.box_giaoDien .box_title{font-size: 30px;}

	.box_loiIch .box_title{font-size: 30px;}
	.box_loiIch .item{margin-bottom: 15px;}

	.box_dangKy{background: #112c4f; padding: 30px 0; margin-bottom: 0;}
	.box_dangKy .box_content .box_title{font-size: 30px; padding-bottom: 15px;}
	.box_dangKy .box_content .icon{font-size: 30px; text-align: center; padding: 0;}
	.box_dangKy .box_content .gia{margin: 0; height: 70px; margin-bottom: 25px;}
	.box_dangKy .box_content .gia .sales{font-size: 25px; line-height: 70px; height: 70px;}
	.box_dangKy .box_content .gia .price{font-size: 20px; line-height: 100%; height: 70px;}
	.box_dangKy .end_sales .clock .boxe span{font-size: 35px;}
	.box_dangKy .hotline{font-size: 20px;}
	.box_dangKy .box_content{padding: 10px 0 0 0;}
	.box_dangKy .box_content .box_title{font-size: 30px; padding-bottom: 20px;}
	.box_dangKy .box_content .box_title br{display: none;}
	.box_dangKy .box_content .note{padding-top: 0;}
	.box_dangKy .box_content .gift{font-size: 18px;}
	.box_dangKy .box_content .form-control{height: 45px; font-size: 15px; padding: 6px 15px;}
	.box_dangKy .box_content .btnSuccess .input-lg{height: 50px;}
	.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ height: 40px; padding: 0; font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{ height: 40px; font-size: 14px;}
	.box_dangKy .btn-group.open .dropdown-toggle{ height: 40px font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle{ height: 40px;font-size: 14px;}
	.box_dangKy .box_content .form-group{margin-bottom: 10px;}

	.box_thanhToan .thanhToan .item{margin: 0;}
	.box_thanhToan .thanhToan .item .item_detail{font-size: 15px;}

	.box_student{padding: 40px 0;}
	.box_student .box_title .title{margin-bottom: 20px;}

	.box_tienSiHT{background:url("../images/banner-3.jpg") no-repeat top; background-size: cover;}
	.box_tienSiHT .img img{width: 100%;}
	.box_tienSiHT .box_left img{ display: none;}
	.box_tienSiHT .box_right{ margin-top: 0px; padding-bottom: 10px;}
	.box_tienSiHT .box_right .desc p{font-size: 16px;}
	.box_tienSiHT {padding: 30px 0;height: auto;}

	.box_footer{padding: 30px 10px;}
}

@media(max-width: 450px){
	.box_dangKy .end_sales .clock .boxe{width: 50px;}
}
