@charset "utf-8";
@import "../fonts/font.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body{ font-size: 17px; font-family: "Roboto";}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
b { font-family: "Roboto-Bold", "Segoe UI";}
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}
ul{list-style: none;}
.clr { clear: both; }
input[type="date"]::-webkit-inner-spin-button {display: none;}
img{max-width: 100%;}
.modal{z-index: 10000000 !important;}

.box_top{ background-color: #FFF; border-bottom: 1px solid #e1e1e1; height: 32px; line-height: 32px; color: red;}
.box_top .contact .hotline {margin-right: 35px; float: left; font-size: 12px; font-weight: 500;}
.box_top .contact .hotline a{ color: red;}
.box_top .contact .hotline a:HOVER{ color: #000;}
.box_top .contact .hotline a i{ margin-right: 2px;}
.box_top .contact:AFTER{ content: ""; display: block; clear: both;}
.box_top .social{ text-align: right; float: right;}
.box_top .social a{ color: #4c607d; display: inline-block; width: 32px; height: 32px; border-right: 1px solid #e1e1e1; text-align: center; font-size: 13px; float: right;}
.box_top .social a:HOVER{ color: #000;}
.box_top .social a:LAST-CHILD{ border-left: 1px solid #e1e1e1;}
.box_top .social:AFTER{ content: ""; display: block; clear: both;}

.box_header{ background-color: #FFF; width: 100%; top: 0; left: 0; z-index: 99999; position: relative; height: 70px;}
.box_header .container{ position: relative;}
.box_header .logo{ display: inline-block; margin-top: 20px; line-height: 100%;}
.box_header .menu{ padding: 18px 0 0; list-style: none; float: right; margin: 0;}
.box_header .menu li{ display: inline-block; padding-left: 40px; text-align: center; vertical-align: middle;}
.box_header .menu li a{ font-size: 15px; color: #282828; padding: 8px 0 6px; display: inline-block; text-transform: uppercase;}
.box_header .menu li a.active{color: #ed1c24;}
.box_header .menu li a:hover{ color: #ed1c24;}
.box_header .menu li a.btn_book{ border-radius: 10px;display: inline-block; background: #eb1c3b; color: #FFF; padding: 0; width: 120px; height: 30px; line-height: 28px; font-weight: 500;}
.box_header .menu li a.btn_book.active{ background-color: #202b53;}
.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}
.box_header .container .row .hotline{display: none;}

.box_header.sticky{ position: fixed; top: 0px; z-index: 99999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
.box_header.sticky .menu li a.last{ padding-right: 20px;}
.box_header.sticky .container .row .hotline{display: block; margin-top: 25px; color: red;}
.box_header.sticky .container .row .hotline a{color: red;}
.box_header.sticky .box_user{ display: block; padding: 10px 0 0;}
.box_header.sticky .box_user li a{ display: inline-block; padding: 5px 20px; color: #404041; font-size: 13px; font-weight: 600; height: auto; line-height: normal;}
.box_header.sticky .box_user li a:hover{ color: #0088cc;}
.box_header.sticky .box_user_login{ display: block;}
.box_header.sticky .box_user_login .dropdown-toggle{ background: none !important; height: 50px; line-height: 50px; margin: 0 0 0 20px;}
.box_header.sticky .box_user_login .dropdown-toggle:focus{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle:hover{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle img{ vertical-align: top; margin-top: 5px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:BEFORE{ right: 12px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:AFTER{ right: 13px;}
.box_header.sticky .box_user_login.navbar-nav>li>a{ padding: 15px 20px;}
.box_header.sticky .box_user_login.navbar-nav>li>a:hover{ background: none; color: #000;}

.box_banner .image img{ width: 100%;}

.box_gioiThieu{padding: 70px 0; background: url("../images/banner-4.jpg") no-repeat center; background-size: cover;}
.box_gioiThieu .img img{width: 100%;}
.box_gioiThieu .img iframe{height: 350px;}
.box_gioiThieu .form { max-width: 100%; float: right; padding: 100px 30px; border-radius: 15px; background: url("../images/bg-input-form.png") no-repeat center; background-size: cover;}
.box_gioiThieu .form .title{font-size: 30px; font-weight: 900; color: #fff; padding-bottom: 25px; position: relative; text-align: center;}
.box_gioiThieu .form .form-row .col-md-6{padding-left: 0; }
.box_gioiThieu .form .form-row .group{padding-right: 0;}
.box_gioiThieu .form .btnSuccess .btn-blue{display: block; margin: 0 auto; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 0; border:0; background: #bb0000; color: #FFF; height: 60px; font-size: 30px; line-height: 20px; text-transform:uppercase; font-family: "Roboto"; font-weight: 700; text-align: center; width: 75%; max-width: 100%;}
.box_gioiThieu .form .btnSuccess .btn-blue:hover{background: #202b53;}
.box_gioiThieu .form-control{ font-family: "Roboto"; font-weight: 500; border-radius: 0; background: transparent !important; color: #fff !important; height: 60px; padding: 0 15px; font-size: 17px; border: 1px solid #fff;}
.box_gioiThieu .alert{ border-radius: 0;}
.box_gioiThieu input{color: #fff;}
.box_gioiThieu label{font-weight: normal;}
.box_gioiThieu input::placeholder{color: #fff !important; font-family: "Roboto"; font-weight: 400; font-size: 17px; line-height: 27px; text-transform: capitalize;}
.box_gioiThieu select{background: transparent !important; color: #fff}
.box_gioiThieu .form-control option{background: transparent !important; color: #111}
.box_gioiThieu .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100%; background: transparent !important; height: 65px; border-radius: 0; padding: 0 30px; font-family: "Roboto"; font-size: 16px; font-weight: 500;}
.box_gioiThieu .bootstrap-select>.dropdown-toggle.bs-placeholder{color: #fff; height: 60px; background: transparent !important; border-radius: 0; border: 0; font-family: "Roboto"; font-size: 17px; font-weight: 500;}
.box_gioiThieu .btn-group.open .dropdown-toggle{color: #fff; height: 60px; background: transparent !important; border-radius: 0; border: 0; font-family: "Roboto"; font-size: 17px; font-weight: 500;}
.box_gioiThieu .bootstrap-select>.dropdown-toggle{color: #fff; height: 60px; background: transparent !important; border-radius: 0; border: 0;font-family:  "Roboto"; font-size: 17px; font-weight: 500;}

.box_video{padding: 90px 0 0; background: url("../images/bg-student.jpg") no-repeat top center; background-size: cover;}
.box_video .item{min-height: 210px;}
.box_video .item .fa{position: absolute; font-size: 50px; color: #ff0000; top: 50%; left: 50%; margin: -25px 0 0 -25px; }
.box_video .item .image{ margin-bottom: 12px; text-align: center; padding-top: 20px;}
.box_video .item .image img{ width: auto; display: inline-block; width: 100%;}
.box_video .item .name{ font-size: 15px; font-weight: 300; text-align: justify; margin-bottom: 2px; color: #0f2a51;}
.box_video .item .info{ color: #a1a1a1; font-size: 13px; text-align: center;}
.box_video .item .content{ font-size: 14px; padding-top: 20px;}
.box_video .item a{display: block; position: relative;}

.box_student{padding: 70px 0; back}
.box_student .box_title .title{ text-align: center; color: #01234f; text-transform: uppercase; font-size: 30px; font-weight: 900; padding-bottom: 22px; position: relative; margin-bottom: 50px;}
.box_student .item{min-height: 280px;}
.box_student .item .fa{position: absolute; font-size: 50px; color: #fff; top: 50%; left: 50%; margin: -25px 0 0 -25px; }
.box_student .item .image{ margin-bottom: 12px; text-align: center; padding-top: 20px;}
.box_student .item .image img{ width: auto; display: block; width: 100%; min-height: 250px;}
.box_student .item .name{ font-size: 15px; font-weight: 500; text-transform: uppercase; text-align: center; margin-bottom: 2px; color: #0f2a51;}
.box_student .item .info{ color: #a1a1a1; font-size: 13px; text-align: center;}
.box_student .item .content{ font-size: 14px; padding-top: 20px;}
.box_student .bx-wrapper { position: relative; padding-bottom: 0;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a{ background-color: #FFF; width: 12px; height: 12px; display: inline-block; text-indent: -99999px; margin: 0 8px; border: 0; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; border-radius: 50% !important;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.box_student .bx-wrapper .bx-pager.bx-default-pager a.active{ background-color: #d3a23b;}
.box_student .bx-wrapper .bx-viewport{ max-height: 520px;}
.box_student .bx-pager{ display: none; position: absolute; bottom: 0px; left: 0; width: 100%; margin: 0; padding: 0; text-align: center; z-index: 999;}
.box_student .bx-pager-item{ display: inline-block;}
.box_student .bx-controls-direction{display: contents; position: absolute; top: 13px; right: 0; z-index: 9999;}
.box_student .bx-controls-direction a{ display: inline-block; width: 20px; height: 20px; margin-top: 0; text-indent: -99999px; overflow: hidden;}
.box_student .bx-controls-direction a.bx-prev, 
.box_student .bx-controls-direction a.bx-prev:hover{ background: url("../images/prev.png") no-repeat center center; background-size: 100%; margin-right: 30px; position: absolute; top: 40%; margin-top: -10px; right: 100%;}
.box_student .bx-controls-direction a.bx-next,
.box_student .bx-controls-direction a.bx-next:hover{ background: url("../images/next.png") no-repeat center center; background-size: 100%; left: auto; position: absolute; top: 40%; margin-top: -10px; right: -4%;}
.box_student .item a{display: block; position: relative;}
.box_student .go_box{display: block; margin: 30px auto 0 auto; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 10px; border:0; background: #bb0000; color: #fff; height: 40px; font-size: 25px; line-height: 20px; text-transform:uppercase; font-family: "Roboto"; font-weight: 700; text-align: center; width: 300px; max-width: 100%;}
.box_student .go_box:hover{cursor: pointer; background: #05295f;}

.box_formDangKy { background: url(../images/bg-formDangKy.jpg) no-repeat center; background-size: cover; padding: 70px 0; margin-top: 50px;}
.box_formDangKy .border_title { border: 3px solid #fff; padding: 8px; margin-bottom: 60px; }
.box_formDangKy .formDangKy_title { font-family: "Roboto-Bold", Roboto, sans-serif; font-size: 27px; text-transform: uppercase; background: transparent; padding: 25px 0; color: #fff; text-align: center; border: 3px solid #fff; }
.box_formDangKy .formDangKyNgay .price_left { font-family: "Roboto"; font-size: 20px; color: #fff; border: 3px solid #fff; border-right: none; padding: 15px 0; }
.box_formDangKy .formDangKyNgay .price_right {  font-family: "Roboto"; font-size: 20px; color: #fff; border: 3px solid #fff; padding: 15px 0; }
.box_formDangKy .formDangKyNgay .price_title { color: #fff; padding: 70px 0; font-family: "Roboto"; font-size: 25px; text-align: center; }
.box_formDangKy .form-control { border-radius: 0; padding-left: 30px; height: 50px; }
.box_formDangKy .form-group { margin-bottom: 10px; }
.box_formDangKy .form-group select { color: #163052; font-size: 20px; font-family: "Roboto"; }
.box_formDangKy .form-control::placeholder { color: #163052; font-size: 20px; font-family: "Roboto"; }
.box_formDangKy .number_left { padding-left: 0; }
.box_formDangKy .price2_right { padding-right: 0; }
.box_formDangKy .end_sales { color: #58595b;}
.box_formDangKy .end_sales .title { color: #58595b; font-size: 26px; font-weight: 700; text-align: center;}
.box_formDangKy .end_sales .title span{ color: #ad1933;}
.box_formDangKy .end_sales .price{ text-align: center; font-size: 40px; padding: 30px 0; color: #ad1933; font-weight: 600;}
.box_formDangKy .end_sales .price .old{ text-decoration: line-through; color: #999; font-size: 20px;}
.box_formDangKy .end_sales .apdung{ text-align: center; font-size: 26px;}
.box_formDangKy .end_sales .thoigian{ text-align: center; font-size: 20px; padding: 32px 0 20px;}
.box_formDangKy .end_sales .clock{ margin: 0 auto; text-align: center;}
.box_formDangKy .end_sales .clock:after{ content: ""; display: block; clear: both;}
.box_formDangKy .end_sales .clock .boxe{ font-family: "Roboto"; font-size: 17px; width: 70px; height: 95px; text-align: center; background: #fff; color: #303753; display: inline-block; margin-left: 10px; border-radius: 5px; }
.box_formDangKy .end_sales .clock .boxe:FIRST-CHILD{ margin-left: 0;}
.box_formDangKy .end_sales .clock .boxe span{ font-size: 44px; display: block; height: 60px; line-height: 60px; font-weight: 700;}
.box_formDangKy .container_box { padding-bottom: 260px; }
.box_formDangKy .border-btn-register { border: 2px solid #fff; padding: 2px 3px; }
.box_formDangKy .btn-register {width: 100%; color: #ffffff; font-size: 26px; background-color: #D3A23B; border: 0px; padding: 10px 0; text-transform: uppercase; font-family: "Roboto"; }


.box_dienGia{ background: url("../images/banner-5.jpg") no-repeat center; font-size: cover; color: #FFF; height: 763px; max-width: 100%; padding: 100px 0; background-size: cover;}
.box_dienGia .box_title .title_1{font-size: 35px; font-family: "SVNKelsonSansBold"; line-height: 50px; }
.box_dienGia .box_title .title_2{font-size: 15px; font-family: "Roboto"; line-height: 23px; padding:20px 0;}
.box_dienGia .box_content .text{ font-size: 17px; padding-top: 20px; font-family: "Roboto";}
.box_dienGia .box_content .item{padding-bottom:5px; position: relative; font-size: 15px; line-height:24px; color: #fff; font-family: "Roboto";}
.box_dienGia .box_content .item a{color: white;}
.box_dienGia .box_content ul{list-style: url(../images/icon-9.png); padding-top: 20px; padding-left: 20px;}
.box_dienGia .box_content ul p{padding-left: 0px;}

.box_images{ overflow: hidden; background: #28272f;}
.box_images img{ width: 100%; transform: scale(1); transition: transform .5s;}
.box_images img:hover{ transform: scale(1.2); position: relative; z-index: 1;} 
.box_images table{ width: 100%;} 
.box_images table td{ overflow: hidden; padding: 2px;} 
.box_images table div{ overflow: hidden;} 
.box_images .row_1 .image_1{ width: 24.2%; float: left; padding-right: 2px; }
.box_images .row_1 .image_2{ width: 34.73%; float: left; padding: 0 2px; }
.box_images .row_1 .image_3{ width: 19.46%; float: left; padding: 0 2px; }
.box_images .row_1 .image_4{ width: 21.23%; float: left; padding-left: 2px;}
.box_images .go_box{display: block; margin: 30px auto; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 10px; border:0; background: #bb0000; color: #fff; height: 40px; font-size: 25px; line-height: 20px; text-transform:uppercase; font-family: "Roboto"; font-weight: 700; text-align: center; width: 300px; max-width: 100%;}
.box_images .go_box:hover{cursor: pointer; background: #05295f;}

.box_comment{ padding: 40px 0;}
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {min-width: 100% !important;}

.box_dangKyTuVan{display: none;}

.box_footer{ padding: 60px 0 20px; position: relative; background: #071831; color: #FFF;}
.box_footer .container{ padding: 0 15px;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px; font-size: 14px; }
.box_footer .wrap{ margin: 0 -15px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px; margin-bottom: 40px;}
.box_footer .col-1{ width: 440px; max-width: 100%;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 10px;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-2{ width: 250px; max-width: 100%;}
.box_footer .col-3{ width: 280px; max-width: 100%;}
.box_footer .col-4{ width: 250px; max-width: 100%;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #C9353D; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #d3a23b;}
.box_footer .alert{ font-size: 11px; border-radius: 0; padding: 5px 10px;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}
.has-error .form-control{border: 1px solid #ec1c3c !important;}

iframe[name="google_conversion_frame"]{ height: 0;}

/*RESPONSIVE*/
@media ( min-width : 1200px) {
  .popup_video .popup_content{ width: 60%;}
}

@media ( max-width : 1200px) {
}
@media ( max-width : 1000px) {
.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

	.box_header{ height: 43px; position: fixed; border: 0; padding: 0 0 10px 0; top: 32px; z-index: 100000000; display: inline-table;}
	.box_header.sticky{ position: fixed; top: 0px; z-index: 9999999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }
	.box_header .container{ position: relative;}
	.box_header .logo{ margin-top: 12px !important;}
	.box_header .logo img{ height: 20px;}
	.box_header .menu_mobile{ top: 7px; width: auto;}
	.box_header .menu_mobile .menu-item{padding-top: 5px;}
	.box_header .menu_mobile .hotline{font-size: 11px; color: red;}
	.box_header .menu_mobile .hotline a{color: red;}
	.box_header .menu_mobile a{display: inline-block;}
	.box_header .menu_mobile .btn_book{margin: 0 8px;}
	.box_header .menu_mobile .btn_book{background-color: #ec1c3c; color: #FFF; text-align: center; padding: 0; width: 120px; height: 30px; line-height: 28px; font-weight: normal;}
	.box_header .menu_mobile a .item{ background-color: #999; width: 30px;display: grid;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 60%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	.box_header .menu li:first-child{ padding-left: 20px; }
	.box_header .menu{ margin: 0 !important;}
	
	.popup_video .popup_content{ width: calc(100% - 40px); top: 10%;}

	.box_student .bx-controls-direction a.bx-next, .box_student .bx-controls-direction a.bx-next:hover{right: -1%;}
	.box_student .bx-controls-direction a.bx-prev, .box_student .bx-controls-direction a.bx-prev:hover{right: 90%;}
}
@media all and (min-width: 993px) and (max-width: 1200px) {
	
}
@media ( max-width : 767px) {
	.box_banner .image img{ margin-top: 43px; }
	.box_header.sticky{ padding: 0px;}
	.slick-dots{ display: none;}
	
	.box_gioiThieu{padding: 0 0 30px 0;}
	.box_gioiThieu .img iframe{height: 250px;}
	.box_gioiThieu .form{padding: 30px 15px;}

	.box_student .box_title .title{margin: 0; padding: 30px 0;}
	.box_student .go_box{margin: 0 auto;}

	.box_dienGia{ padding: 30px 0; background: #202A4E; height: auto; margin-bottom: 50px;}
	.box_dienGia .image{ margin-bottom: 20px;}
	.box_dienGia .image img{ width: 100%;}
	.box_dienGia .box_title .title_1{ font-size: 25px; line-height: 35px; position: relative; padding-bottom: 500px;}
	.box_dienGia .box_title .title_1:before{position: absolute; content: ""; background: url("../images/diengia.jpg") no-repeat top center; bottom: 0; width: 100%; height: 500px;}
	.box_dienGia .box_title .title_2 img{display: none;}
	.box_dienGia .content{ padding: 0 15px;}
	.box_dienGia .box_title{ font-size: 35px; padding-left: 0;}
	.box_dienGia .box_content{ font-size: 17px; padding: 0; width: 100%;}
	.box_dienGia .box_content p{ font-size: 13px; padding-left: 0;}
}
