<?php

$filter   = new \ZendX\Filter\Purifier();

$images = array();
if(!empty($this->item['images'])) {
    $images = unserialize($this->item['images']);
}

$xhtml  = '<div class="layout_item_gallery">';
$xhtml .= $filter->filter($this->item['content']);
$xhtml .= '<div class="row">';

for ($i = 0; $i < count($images['url']); $i++) {
    $name           = '<a href="javascript:;" title="'. $images['name'][$i] .'">'. $images['name'][$i] .'</a>';
    $image          = '<a href="'. $images['url'][$i] .'" class="fancybox-button" data-rel="fancybox-button" title="'. $images['name'][$i] .'"><img src="'. $images['url'][$i] .'" alt="'. $images['name'][$i] .'"></a>';
    $image_medium   = '<a href="'. $images['url'][$i] .'" class="fancybox-button" data-rel="fancybox-button" title="'. $images['name'][$i] .'"><img src="'. $images['medium'][$i] .'" alt="'. $images['name'][$i] .'"></a>';
    $image_thumb    = '<a href="'. $images['url'][$i] .'" class="fancybox-button" data-rel="fancybox-button" title="'. $images['name'][$i] .'"><img src="'. $images['thumb'][$i] .'" alt="'. $images['name'][$i] .'"></a>';
    
    $xhtml .= sprintf('
        <div class="col-xs-6 col-sm-4">
            <div class="item"><div class="image">%s</div></div>
        </div>
        ', $image_medium
    );
}

$xhtml .= '</div></div>';

echo $xhtml;