<?php

$filter   = new \ZendX\Filter\Purifier();

$videos = array();
if(!empty($this->item['videos'])) {
    $videos = unserialize($this->item['videos']);
}

$xhtml  = '<div class="layout_item_video">';
$xhtml .= $filter->filter($this->item['content']);
$xhtml .= '<div class="row">';

for ($i = 0; $i < count($videos['id']); $i++) {
    $video = '<div class="video embed-responsive embed-responsive-4by3"><iframe width="560" height="315" src="https://www.youtube.com/embed/'. $videos['id'][0] .'?rel=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe></div>';
    
    $xhtml .= sprintf('
        <div class="col-xs-12">
            <div class="item">%s</div>
        </div>
        ', $video
    );
}

$xhtml .= '</div></div>';

echo $xhtml;