<div class="user_box_page">
	<div class="row">
		<div class="col-sm-9 col-sm-push-3">
  			<div class="user_box_form">
  				<div class="box_title"><?php echo $this->caption;?></div>
  				<div class="box_content">
  					<?php
  					if(count($this->items) > 0) { 
  					?>
  					<div class="documentList">
  							<?php
  							foreach ($this->items AS $key => $item) {
  								$item_url = $item['file'];
  								
  								echo '<div class="item">
				                      <div class="info">
				                          <h3 class="title">'. $item['name'] .'</h3>
				                      </div>
  									  <div class="control"><a href="'. $item_url .'">Download</a></div>
				                 </div>';
  							} 
  							?>
  					</div>
  					<?php
  					} else {
  						echo '<div class="alert alert-danger">Không có khóa học nào</div>';
  					}
  					?>
  				</div>
  			</div>
		</div>
  		<div class="col-sm-3 col-sm-pull-9">
			<?php include_once $this->params['template']['pathHtml'] . '/user/left.php';?>
  		</div>
	</div>
</div>
