<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <div class="box_header" id="box_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><a href="" class="logo"><img src="<?php echo $urlImg;?>/logo.png"></a></div>
                <div class="col-md-10">
                    <div class="clr"></div>
                    <ul class="menu hidden-xs hidden-sm">
                        <li><a href="javascript:;" class="go_box" data-box="box_gioiThieu">Giới thiệu</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_thongTin">Thông tin</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_aiNen">Đối tượng tham gia</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_loiIch">Lợi ích</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_khoaHoc">nội dung khóa đào tạo </a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_dienGia">Diễn giả</a></li>
                        <li><a href="javascript:;" class="go_box btn_book" data-box="box_khoaHoc">Đăng ký ngay</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <a href="javascript:;">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- end box_header -->

    <div class="box_banner" id="box_banner">
        <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>
    </div>
    <!-- end box_banner -->

    <div class="box_gioiThieu" id="box_gioiThieu">
        <div class="container">
            <div class="box_title">8 VẤN ĐỀ NAN GIẢI HẦU HẾT DOANH NGHIỆP VIỆT NAM MẮC PHẢI</div>
            <div class="col-md-5">
                <div class="img">
                    <!-- <a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/WydiGa2Iy0Y?autoplay=1');"><img alt="" src="<?php echo $urlImg;?>/image-1.jpg"></a> -->
                    <iframe width="100%" height="320" src="https://www.youtube.com/embed/WydiGa2Iy0Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-7">
                <div class="text">
                    <div class="item">Chưa biết cách xây dựng chiến lược và lựa chọn mô hình kinh doanh tối ưu cho doanh nghiệp</div>
                    <div class="item">Chiến lược rất tốt nhưng khi triển khai lại thất bại</div>
                    <div class="item">Khó khăn trong việc thu hút, tuyển dụng, đào tạo và giữ chân nhân tài</div>
                    <div class="item">Chưa xây dựng & tối ưu được hệ thống Marketing & Bán hàng hiệu quả</div>
                    <div class="item">Không nắm được bức tranh toàn cảnh về hệ thống tài chính – kế toán của doanh nghiệp, “lơ mơ” về các chỉ số đánh giá, phó thác cả hệ thống tài chính cho trưởng phòng/kế toán trưởng </div>
                    <div class="item">Doanh nghiệp thiếu hệ thống & quy trình bài bản, hay nói cách khác là hệ thống đóng gói, quản trị & chuyển giao tri thức, dẫn tới việc không thể mở rộng được quy mô kinh doanh</div>
                    <div class="item">Chưa biết cách ứng dụng công nghệ để tự động hóa các quy trình doanh nghiệp, cải thiện năng suất và nâng cao năng lực đổi mới sáng tạo trong doanh nghiệp</div>
                    <div class="item">Không biết cách xây dựng văn hóa doanh nghiệp - chìa khóa cốt lõi tạo sự thống nhất, đồng bộ trong hệ thống nhằm duy trì & phát triển lợi thế cạnh tranh bền vững cho tổ chức</div>
                </div>
            </div>
        </div>
        
        <div class="box_content">
            <div class="detail">
                <p>Sức mạnh của kinh tế thị trường và cuộc cách mạng công nghiệp 4.0 đang tác động mạnh mẽ đến toàn bộ mọi hoạt động kinh tế xã hội, thay đổi hoàn toàn tư duy quản trị truyền thống. Không những cạnh tranh với các đối thủ cũ, các doanh nghiệp Việt Nam còn phải cạnh tranh trực tiếp cùng các đối thủ đến từ khắp 5 châu, với nhiều kiến thức tiến bộ, nguồn tài chính dồi dào và công nghệ tiên tiến tại chính “ngôi nhà" của mình.</p>
            </div>
            <div class="box_title">
                <p>Rất nhiều công ty không trường tồn qua thời gian. Họ đã không làm tốt điều gì? Họ thường đánh mất tương lai.</p>
                <p class="title"><span>Larry Page – CEO của Google</span></p> 
            </div>
            
        </div>
    </div>
    <!-- end box_gioiThieu -->
    
     <div class="box_thongTin" id="box_thongTin">
        <div class="box_title">CHUỖI KHÓA HỌC</div>
        <div class="detail">XÂY DỰNG & TỐI ƯU <br>BỘ MÁY QUẢN TRỊ ĐIỀU HÀNH CHUYÊN NGHIỆP</div>
        <div class="box_content">
            <div class="text">Với mong muốn xây dựng năng lực và lợi thế cạnh tranh bền vững cho các doanh nghiệp Việt, <span>Trường Doanh Nhân HBR</span> đã kết hợp cùng <span>TS. Alok Bharadwaj – Cựu phó chủ tịch cao cấp, phụ trách chiến lược của Canon Châu Á, nơi ông đã điều hành và phát triển kinh doanh tại 23 quốc gia</span> xây dựng chương trình đào tạo <span>“XÂY DỰNG & TỐI ƯU BỘ MÁY QUẢN TRỊ ĐIỀU HÀNH CHUYÊN NGHIỆP - MINI MBA 2019"</span></div>
            <div class="info">
                <div class="title text-center">THÔNG TIN CHUỖI CHƯƠNG TRÌNH</div>
                <div class="item">
                    <div class="key">ĐỊA ĐIỂM</div>
                    <div class="value">HÀ NỘI - TP. HỒ CHÍ MINH</div>
                </div>
                <div class="item">
                    <div class="key">LỊCH HỌC</div>
                    <div class="value red">9h-17h/ 2 ngày/ 1 module học</div>
                </div>
                <div class="item">
                    <div class="key">THỜI LƯỢNG</div>
                    <div class="value">
                        <p>1 module / 11 tháng trong năm 2019 - 2020</p>
                        <p>(Các Anh/Chị có thể lựa chọn từng module khóa học phù hợp)</p>
                    </div>
                </div>
                <div class="item">
                    <div class="key">CHUYÊN GIA</div>
                    <div class="value">Tiến sĩ Alok - Cựu Phó Chủ tịch cao cấp của Canon Châu Á. Thành viên Hội đồng cố vấn của Tạp chí Kinh doanh Harvard. Đối tác tư vấn của Tập đoàn AON Hewitt – Tập đoàn tư vấn quản trị & nguồn nhân lực lớn nhất thế giới có trụ sở tại 120 quốc gia.</div>
                </div>
                <div class="item">
                    <div class="key">HỌC PHÍ</div>
                    <div class="value">
                        <span class="text">7.000.000Đ/ 1 module</span>
                        <a href="javascript:;" class="btn btn-info btn-lg go_box" data-box="box_dangKy">thông tin ưu đãi <i class="fa fa-caret-down"></i> </a>
                    </div>
                </div>
                <div class="item">
                    <div class="key">HOTLINE</div>
                    <div class="value">082.999.6886 Hoặc 082.999.6633</div>
                </div>
                <div class="item">
                    <div class="key"></div>
                    <div class="value btn_book">
                        <a href="javascript:;" class="go_box" data-box="box_dangKy">ĐĂNG KÝ KHÓA HỌC</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_thongTin -->
    
    <div class="box_aiNen" id="box_aiNen">
        <div class="container">
            <div class="title text-center">ĐỐI TƯỢNG THAM GIA</div>
            <div class="row">
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen1.png"></div>
                        <div class="title-item">Ban lãnh đạo <br>doanh nghiệp</div>
                        <div class="text">Chủ tịch, Thành viên HĐQT, Ban cố vấn doanh nghiệp</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen2.png"></div>
                        <div class="title-item">Ban giám đốc</div>
                        <div class="text">Tổng GĐ, GĐ chức năng</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen3.png"></div>
                        <div class="title-item">Trưởng phòng ban, <br>bộ phận đội nhóm</div>
                        <div class="text">của các công ty trong và ngoài nước.</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="item">
                        <div class="image text-center"><img src="<?php echo $urlImg;?>/ainen4.png"></div>
                        <div class="title-item">Các doanh nhân</div>
                        <div class="text">muốn cập nhật thêm kiến thức, kỹ năng và xu hướng mới trong kinh doanh</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_aiNen -->
        
    <div class="box_loiich" id="box_loiIch">
        <div class="box_content">
            <div class="box_left">
            </div>
            <div class="box_right">
                <div class="box_info">
                    <div class="title">LỢI ÍCH KHÓA ĐÀO TẠO</div>
                    <div class="list">
                        <div class="item">Kiến thức nền tảng trên nhiều lĩnh vực như chiến lược, lãnh đạo, quản trị thực thi, bán hàng & Marketing, tài chính, áp dụng công nghệ tân tiến vào doanh nghiệp.</div>
                        <div class="item">Cập nhật các xu hướng mới để có sự chuẩn bị phù hợp cho doanh nghiệp khi đối mặt với thách thức trong thời đại 4.0.</div>
                        <div class="item">Được trang bị tư duy và nhận thức cốt lõi của một nhà lãnh đạo, quản lý trong môi trường kinh doanh toàn cầu.</div>
                        <div class="item">Cung cấp khung năng lực – một bức chân dung cụ thể của một Lãnh đạo/ CEO chuyên nghiệp: Biết được ai phù hợp; Phải làm như thế nào; Cần trải nghiệm những gì để trở thành một nhà Lãnh đạo, Quản trị điều hành chuyên nghiệp.</div>
                        <div class="item">Có tầm nhìn rõ ràng cho con đường sự nghiệp, trở thành Lãnh đạo/ CEO chuyên nghiệp.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_loiich -->

    <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">
        <div class="box_khoaHoc" id="box_khoaHoc">
            <div class="container">
                <h3 class="box_title">NỘI DUNG KHÓA ĐÀO TẠO</h3>
                <div class="table-responsive2">
                     <table class="table table-bordered table-hover" style="margin-bottom: 0;">
                        <tbody class="points_table_scrollbar" id="input-workshop">
                            <thead>
                                <tr class="odd">
                                    <th class="col-xs-1">MODULE</th>
                                    <th class="col-xs-3">TÊN CHỦ ĐỀ</th>
                                    <th class="col-xs-2">ĐỊA ĐIỂM</th>
                                    <th class="col-xs-2">THỜI GIAN TỔ CHỨC</th>
                                    <th class="col-xs-2">HỌC PHÍ</th>
                                    <th class="col-xs-2">
                                        <select class="selectall form-control input-xs">
                                            <option value="">CHỌN MUA</option>
                                            <option value="HN">HÀ NỘI</option>
                                            <option value="HCM">HỒ CHÍ MINH</option>
                                        </select>
                                    </th>
                                </tr>
                            </thead>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive1">
                    <table class="table table-bordered table-hover" style="margin-bottom: 0;">
                        <tbody class="points_table_scrollbar" id="input-workshop">
                            <tr class="odd">
                                <td class="col-xs-1">1</td>
                                <td class="col-xs-3 text">THIẾT KẾ, TỔ CHỨC VÀ VẬN HÀNH CHIẾN LƯỢC CÔNG TY BÀI BẢN  </td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">06 - 07/04/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1523073650-242m-9318-25c7-t62j25214v44]" type="checkbox" value="HN - THIẾT KẾ, TỔ CHỨC VÀ VẬN HÀNH CHIẾN LƯỢC CÔNG TY BÀI BẢN  " class="hn"></label></td>
                            </tr>
                            
                            <!-- <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">10-11/4/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1551939554v8w15gi1m41e]" type="checkbox" value="HCM - THIẾT KẾ, TỔ CHỨC VÀ VẬN HÀNH CHIẾN LƯỢC CÔNG TY BÀI BẢN  " class="hcm"></label></td>
                            </tr> -->
                            
                            <tr class="odd">
                                <td class="col-xs-1">2</td>
                                <td class="col-xs-3 text">Chiến lược thu hút, tuyển dụng, đào tạo & giữ chân nhân tài</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">11 - 12/05/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[155301051981r57b53we0o]" type="checkbox" value="HN - Chiến lược thu hút, tuyển dụng, đào tạo & giữ chân nhân tài" class="hn"></label></td>
                            </tr>
                            
                            <!-- <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">15-16/5/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[155301057291x282834947]" type="checkbox" value="HCM - Chiến lược thu hút, tuyển dụng, đào tạo & giữ chân nhân tài" class="hcm"></label></td>
                            </tr> -->
                            
                            <tr class="odd">
                                <td class="col-xs-1">3</td>
                                <td class="col-xs-3 text">XÂY DỰNG NĂNG LỰC THỰC THI HIỆU QUẢ</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">15 - 16/06/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15530643058930806f3uv2]" type="checkbox" value="HN - XÂY DỰNG NĂNG LỰC THỰC THI HIỆU QUẢ" class="hn"></label></td>
                            </tr>
                            
                            <!-- <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">19-20/6/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553064275m73u052b741e]" type="checkbox" value="HCM - XÂY DỰNG NĂNG LỰC THỰC THI HIỆU QUẢ" class="hcm"></label></td>
                            </tr> -->
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">4</td>
                                <td class="col-xs-3 text" rowspan="2">Thiết kế, vận hành & Tối ưu hệ thống Marketing hiệu quả</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">13 - 14/07/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15530644072176y3gr3x32]" type="checkbox" value="HN - Thiết kế, vận hành & Tối ưu hệ thống Marketing hiệu quả" class="hn"></label></td>
                            </tr>

                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">17 - 18/07/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[155306438128zo31030w75]" type="checkbox" value="HCM - THIẾT KẾ, VẬN HÀNH & TỐI ƯU HỆ THỐNG MARKETING HIỆU QUẢ" class="hcm"></label></td>
                            </tr>
                            
                           <!--  <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">17-18/7/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[155306438128zo31030w75]" type="checkbox" value="HCM - Thiết kế, vận hành & Tối ưu hệ thống Marketing hiệu quả" class="hcm"></label></td>
                            </tr> -->

                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">5</td>
                                <td class="col-xs-3 text" rowspan="2">Thiết kế, vận hành & Tối ưu hệ thống Bán hàng chuyên nghiệp</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">17 - 18/08/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553064537w0r692205192]" type="checkbox" value="HN - Thiết kế, vận hành & Tối ưu hệ thống Bán hàng chuyên nghiệp" class="hn"></label></td>
                            </tr>

                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">21 - 22/08/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553064511h987j1v33ob2]" type="checkbox" value="HCM - THIẾT KẾ, VẬN HÀNH & TỐI ƯU HỆ THỐNG BÁN HÀNG CHUYÊN NGHIỆP" class="hcm"></label></td>
                            </tr>
                            
                          <!--   <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">21-22/8/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553064511h987j1v33ob2]" type="checkbox" value="HCM - Thiết kế, vận hành & Tối ưu hệ thống Bán hàng chuyên nghiệp" class="hcm"></label></td>
                            </tr> -->
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">6</td>
                                <td class="col-xs-3 text" rowspan="2">Xây dựng hệ thống tuyển dụng & đào tạo nhân sự nội bộ chuyên nghiệp</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">14 - 15/09/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553064661641094207v68]" type="checkbox" value="HN - Thu hút, tuyển dụng, đào tạo & giữ chân đội ngũ bán hàng chuyên nghiệp" class="hn"></label></td>
                            </tr>

                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">18 - 19/09/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15530646019t19628ox373]" type="checkbox" value="HCM - THU HÚT, TUYỂN DỤNG, ĐÀO TẠO & GIỮ CHÂN ĐỘI NGŨ BÁN HÀNG CHUYÊN NGHIỆP" class="hcm"></label></td>
                            </tr>
                            
                           <!--  <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">18-19/9/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15530646019t19628ox373]" type="checkbox" value="HCM - Thu hút, tuyển dụng, đào tạo & giữ chân đội ngũ bán hàng chuyên nghiệp" class="hcm"></label></td>
                            </tr> -->
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">7</td>
                                <td class="col-xs-3 text" rowspan="2">Hệ thống chăm sóc khách hàng chuyên nghiệp</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">12 - 13/10/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553067289834b82x9c2a8]" type="checkbox" value="HN - Hệ thống chăm sóc khách hàng chuyên nghiệp" class="hn"></label></td>
                            </tr>

                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">09 - 10/10/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553067332a87562duwq4h]" type="checkbox" value="HCM - HỆ THỐNG CHĂM SÓC KHÁCH HÀNG CHUYÊN NGHIỆP" class="hcm"></label></td>
                            </tr>
                            
                            <!-- <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">9-10/10/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553067332a87562duwq4h]" type="checkbox" value="HCM - Hệ thống chăm sóc khách hàng chuyên nghiệp" class="hcm"></label></td>
                            </tr> -->
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">8</td>
                                <td class="col-xs-3 text" rowspan="2">Chiến lược phát triển chuỗi cho doanh nghiệp vừa và nhỏ</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">16 - 17/11/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553067453r4g2i270l55p]" type="checkbox" value="HN - Chiến lược phát triển chuỗi cho doanh nghiệp vừa và nhỏ" class="hn"></label></td>
                            </tr>

                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">20 - 21/11/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15530674907g64864ptj1v]" type="checkbox" value="HCM - CHIẾN LƯỢC PHÁT TRIỂN CHUỖI CHO DOANH NGHIỆP VỪA VÀ NHỎ" class="hcm"></label></td>
                            </tr>
                            
                           <!--  <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">20-21/11/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15530674907g64864ptj1v]" type="checkbox" value="HCM - Chiến lược phát triển chuỗi cho doanh nghiệp vừa và nhỏ" class="hcm"></label></td>
                            </tr> -->
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">9</td>
                                <td class="col-xs-3 text" rowspan="2">Xây dựng năng lực lãnh đạo doanh nghiệp</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">14 - 15/12/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15530675556459j158sn21]" type="checkbox" value="HN - Xây dựng năng lực lãnh đạo doanh nghiệp" class="hn"></label></td>
                            </tr>

                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">18 - 19/12/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553067598q53122589915]" type="checkbox" value="HCM - XÂY DỰNG NĂNG LỰC LÃNH ĐẠO DOANH NGHIỆP" class="hcm"></label></td>
                            </tr>
                            
                            <!-- <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">18-19/12/2019</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553067598q53122589915]" type="checkbox" value="HCM - Xây dựng năng lực lãnh đạo doanh nghiệp" class="hcm"></label></td>
                            </tr> -->
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">10</td>
                                <td class="col-xs-3 text" rowspan="2">Xây dựng văn hóa  - Yếu tố quyết định sự trường tồn của doanh nghiệp</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">15 - 16/02/2020</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553067830691jlk740291]" type="checkbox" value="HN - Xây dựng văn hóa  - Yếu tố quyết định sự trường tồn của doanh nghiệp" class="hn"></label></td>
                            </tr>

                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">19 - 20/02/2020</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553067768qx1r1l746607]" type="checkbox" value="HCM - XÂY DỰNG VĂN HÓA - YẾU TỐ QUYẾT ĐỊNH SỰ TRƯỜNG TỒN CỦA DOANH NGHIỆP" class="hcm"></label></td>
                            </tr>
                            
                           <!--  <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">19-20/2/2020</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553067768qx1r1l746607]" type="checkbox" value="HCM - Xây dựng văn hóa  - Yếu tố quyết định sự trường tồn của doanh nghiệp" class="hcm"></label></td>
                            </tr> -->

                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">11</td>
                                <td class="col-xs-3 text" rowspan="2">Bí quyết xây dựng đội nhóm làm việc hiệu quả</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">14 - 15/03/2020</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553067909s897yi6fr052]" type="checkbox" value="HN - Bí quyết xây dựng đội nhóm làm việc hiệu quả" class="hn"></label></td>
                            </tr>

                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">18 - 19/03/2020</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553067963xm1246vn4c8s]" type="checkbox" value="HCM - BÍ QUYẾT XÂY DỰNG ĐỘI NHÓM LÀM VIỆC HIỆU QUẢ" class="hcm"></label></td>
                            </tr>
                            
                            <!-- <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">18-19/3/2020</td>
                                <td class="col-xs-2">7.000.000đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1553067963xm1246vn4c8s]" type="checkbox" value="HCM - Bí quyết xây dựng đội nhóm làm việc hiệu quả" class="hcm"></label></td>
                            </tr> -->
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">12</td>
                                <td class="col-xs-3 text" rowspan="2">TÀI CHÍNH DÀNH CHO SẾP</td>
                                <td class="col-xs-2" rowspan="2">Online</td>
                                <td class="col-xs-2" rowspan="2">Online</td>
                                <td class="col-xs-2" rowspan="2"></td>
                                <td class="col-xs-2" rowspan="2"><label class="hidden">Chọn mua</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive3">
                     <table class="table table-bordered table-hover">
                        <tbody class="points_table_scrollbar" id="input-workshop">
                            <tr class="odd">
                                <td class="col-xs-3 text" colspan="5" style="text-align: right;">Số khóa học đã chọn</td>
                                <td class="col-xs-2"><span class="total_course mask_currency">0</span><span style="text-transform: lowercase;"> Khóa học</span> <a href="javascript:;" class="uncheck">(Bỏ chọn)</a></td>
                            </tr><tr class="odd">
                                <td class="col-xs-3 text" colspan="5" style="text-align: right;">TỔNG HỌC PHÍ</td>
                                <td class="col-xs-2"><span class="total_price mask_currency">0</span><span style="text-transform: lowercase;">đ</span></td>
                            </tr>

                            <tr class="odd">
                                <td class="col-xs-3 text" colspan="5" style="text-align: right;">ƯU ĐÃI CÒN</td>
                                <td class="col-xs-2"><span class="total_price_sale mask_currency">0</span><span style="color: #FF0000;text-transform: none;">đ <br>(Tiết kiệm <span class="total_sale">0</span>%)</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="javascript:;" class="go_box btn_book" data-box="box_dangKy">Hoàn tất và thanh toán</a>
            </div>
        </div>
        <!-- end box_khoaHoc -->

        <div class="box_dangKy" id="box_dangKy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                    <div class="title_1">ƯU ĐÃI ĐẶC BIỆT</div>
                        <div class="uudai">
                            <div class="text">HỌC PHÍ NIÊM YẾT: 7.000.000Đ/1 MODULE</div>
                            <div class="box_content">
                                <p class="text_1">Ưu đãi khi đăng ký sớm trước ngày 31/1/2019</p>
                                <div class="table">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td>1 vé : 6.500.000đ / 1 Module</td>
                                        </tr>
                                        <tr>
                                            <td>2 vé: 6.200.000đ / 1 Module</td>
                                        </tr>
                                        <tr>
                                            <td>3 trở lên: 6.000.000Đ / 1 Module</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="text_2">Học viên cũ và đăng ký theo nhóm vui lòng liên hệ <span>Hotline 082.999.6886 Hoặc 082.999.6633</span> để nhận ưu đãi và hỗ trợ riêng.  </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="dangky">
                            <div class="title_2">ĐĂNG KÝ THAM DỰ <br>KHÓA ĐÀO TẠO</div>
                            <div class="form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-location_city_id">
                                            <select name="location_city_id" class="form-control location_city_id">
                                                <option value=""  selected="selected">Chọn địa điểm tham gia</option>
                                                <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                                <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                            </select>
                                         </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="input-name">
                                            <input name="name" type="text" class="form-control" placeholder="Họ và tên">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="input-phone">
                                            <input name="phone" id="phone-input" type="text" class="form-control" placeholder="Điện thoại">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group" id="input-email">
                                            <input name="email" type="text" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="input-company_name">
                                            <input name="company_name" type="text" class="form-control" placeholder="Công ty">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <?php
                                            $company_position = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-position" )), array('task' => 'cache'));
                                        ?>
                                        <div class="form-group" id="input-company_position">
                                            <select name="company_position" class="form-control">
                                                <option class="company_position" value="">Chức vụ</option>
                                                <?php
                                                    foreach ($company_position AS $val) {
                                                        $id     = $val['id'];
                                                        $name   = $val['name'];
                                                ?>  
                                                <option class="company_position" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                <?php } ?>
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="input-number">
                                            <input name="number" type="text" class="go_box form-control" data-box="box_khoaHoc" placeholder="Vui lòng chọn module" readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="input-price">
                                            <input name="price" type="text" class="form-control mask_currency" placeholder="Thành tiền" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <?php
                                            $company_problem = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-problem" )), array('task' => 'cache'));
                                        ?>
                                        <div class="form-group" id="input-company_problem">
                                            <select name="company_problem[]" class="selectpicker form-control" multiple data-selected-text-format="count > 4" title="Vấn đề các anh/Chị đang gặp phải.">
                                                <?php
                                                    foreach ($company_problem AS $value) {
                                                        $id     = $value['id'];
                                                        $name   = $value['name'];
                                                ?>  
                                                <option class="company_problem" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                <?php } ?>
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-content">
                                            <input name="content" type="text" class="form-control" placeholder="Anh/Chị vui lòng mô tả chi tiết vấn đề của mình">
                                        </div>
                                    </div> 
                                    <div class="col-sm-12">
                                        <div class="btnSuccess">
                                            <input type="hidden" name="form_id" value="<?php echo $item['form_id'];?>">
                                            <input type="hidden" name="type" value="form">
                                            <?php 
                                            if ($link == '') {
                                                $input = '<input type="hidden" name="source" value="landing_page">';
                                            }else{
                                                $input = '<input type="hidden" name="source" value="'.$link.'">';
                                            }
                                            ?>
                                            <?php
                                            echo $input;
                                            ?>
                                            <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                            <input type="button" onclick="javascript:formRegisterCRM('frmRegister');" class="btn-dangky input-lg btn-blue" value="Đăng ký ngay">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    
    
    <div class="box_dienGia" id="box_dienGia">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="content">
                        <div class="box_title">
                            <div class="title_1">TS. Alok Bharadwaj</p></div>
                            <div class="title_2">Tiến sĩ Alok Bharadwaj từng là Phó chủ tịch cao cấp, phụ trách chiến lược của <br>Canon châu Á, nơi ông đã điều hành và phát triển kinh doanh tại 23 quốc gia. </div>
                        </div>
                        <div class="box_content">
                            <p class="text">Các vị trí từng đảm nhiệm:</p>
                            <ul>
                                <li><p class="item">Giám đốc bán hàng Voltas (Tata Group) 06/1985 - 02/1989 </p></li>
                                <li><p class="item">Giám đốc Marketing Usha International 03/1989 - 09/1994     </p></li>
                                <li><p class="item">Giám đốc bán hàng Motorola khu vực Nam Á 10/1994 - 05/2001</p></li>
                                <li><p class="item">Phó chủ tịch kiêm giám đốc điều hành Canon Ấn Độ 06/2001 - 12/2014</p></li>
                                <li><p class="item">Giám đốc Marketing giỏi nhất của năm 2009 do Hiệp hội Giám đốc Marketing tại Mỹ (CMO Council USA) công nhận.</p></li>
                                <li><p class="item">Nguyên chủ tịch hiệp hội Marketing Châu Á.</p></li>
                                <li><p class="item">Phó chủ tịch cao cấp, phụ trách chiến lược Canon tại 23 quốc gia ở châu Á 01/2015 - 06/2017</p></li>
                                <li><p class="item">Giám đốc điều hành công ty tư vấn CreoVate 7/2017 - Hiện tại.</p></li>
                                <li><p class="item">Thành viên trong hội đồng cố vấn của Tạp chí Kinh doanh Harvard.</p></li>
                                <li><p class="item">Đối tác tư vấn, cố vấn của Tập đoàn AON Hewitt – Tập đoàn tư vấn quản trị & nguồn nhân lực lớn nhất thế giới có trụ sở tại 120 quốc gia.</p></li>
                            </ul>         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_dienGia -->  

    <?php echo $this->blkDocument($this->arrParams, 'feedback', array('cache' => true, 'type' => array('alok')));?>

    <div class="box_thanhToan" id="box_thanhToan">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="thanhToan">
                        <div class="box_title">THÔNG TIN TÀI KHOẢN</div>
                        <div class="box_content">
                            <div class="item">
                                <div class="item_title"><b>1. Chuyển khoản</b></div>
                                <div class="item_detail">
                                    Vui lòng liên hệ Hotline <span>082.999.6886</span> hoặc <span>082.999.6633</span> để được tư vấn rõ hơn.
                                </div>
                            </div>
                            <div class="item">
                                <p class="item_title"><b>2. Nộp tiền mặt trực tiếp</b></p>
                                <p class="item_detail">Tại văn phòng của Langmaster, tầng 15 tòa nhà CTM Complex, số 139 Cầu Giấy, Hà Nội.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="dangKy">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0066982756643!2d105.79666931548647!3d21.032417985996346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab46d9c86b9b%3A0x4879c19d8ad4be47!2zMTM5IEPhuqd1IEdp4bqleSwgUXVhbiBIb2EsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1516414158828" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_thanhtoan -->

    <div class="box_comment">
        <div class="container">
            <div class="fb-comments" width="100%" data-href="https://www.facebook.com/hbr.edu.vn/" data-numposts="10"></div>
        </div>
    </div>

    <div class="box_images">
        <table>
            <tr>
                <td><div><img  src="<?php echo $urlImg;?>/image-5.jpg"></div></td>
                <td><div><img  src="<?php echo $urlImg;?>/image-6.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-7.jpg"></div></td>
                <td><div><img  src="<?php echo $urlImg;?>/image-8.jpg"></div></td>
            </tr> 
        </table>
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-9.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-10.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-11.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-13.jpg"></div></td>
            </tr>
        </table>
    </div>
    <!-- end box_images -->

    <div class="btn_Dangky go_box btn_book hidden-xs" id="btn_Dangky" data-box="box_dangKy">Đăng ký ngay</div>
    
    <?php
    echo $this -> headScript()
               -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] .'/me.js?v='. date('dmyHis'), 'text/javascript')
               -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->
    
    <script type="text/javascript">
    $(document).ready(function() {
        var maxSlides = 3;
        var slideWidth = 368; 
        if ($(window).width() < 800) {
            maxSlides = 1;
            slideWidth = 0;
        }
        $("#box_student").show();
        $("#box_student .slider").bxSlider({
            auto: false,
            minSlides: maxSlides,
            maxSlides: maxSlides,
            slideWidth: slideWidth,
            slideMargin: 30,
            moveSlides: maxSlides,
            responsive: true,
            pause: 3000,
            speed: 1500,
            autoHover: true
        });
    });

    $(window).scroll(function() {
        if ($(this).scrollTop()>4500){
            $('.btn_Dangky').hide(1000);
        }
        else{
            $('.btn_Dangky').show(1000);
        }
    });

    // Hiệu ứng text các box
    if ($(window).width() > 991) {
        $('.box_thongTin .box_content .info .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp2 animated-2s fadeInUp');}
        });
        $('.box_aiNen .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-3s fadeInUp');}
        });
        $('.box_loiich .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
        });
        $('.box_dieukien .info').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInRight');}
        });
    }

    $('.mask_currency').autoNumeric("init",{
        mDec: 0,
        aSep: '.',
        aDec: ',', 
    });

    function updatePrice() {
        var total = 0;
        $('#input-workshop input').each(function() {
            if($(this).is(':checked')) {
                total++;
            }
        });
        var total_price = total * 7000000;
        var total_price_sale = total * 7000000;
        if(total < 2) {
            total_price_sale = total * 6500000;
        } else if(total > 1 && total <= 3) {
            total_price_sale = total * 6200000;
        }else if(total > 3) {
            total_price_sale = total * 6000000;
        }
        var total_sale = Math.round(((total_price-total_price_sale)/total_price)*100);

        $('#input-workshop .total_price').autoNumeric('set', total_price);
        $('#input-workshop .total_price_sale').autoNumeric('set', total_price_sale);
        $('#input-number input').val(total);
        $('#input-price input').autoNumeric('set', total_price_sale);
        $('.total_course').text(total);
        $('.total_sale').text(total_sale);
    }

    $('#input-workshop input').click(function() {
        updatePrice();
    });

    $('select.selectall').change(function(){
         var val = $(this).val();
         if(val == 'a') {
            $('#input-workshop input.hn').prop("checked", true);
        } 
    });

    $('select.selectall').change(function() {
        var val = $(this).val();
        if(val == 'HN') {
            $('#input-workshop input.hn').prop("checked", true);
            $('#input-workshop input.hcm').prop("checked", false);
        } else if(val == 'HCM') {
            $('#input-workshop input.hn').prop("checked", false);
            $('#input-workshop input.hcm').prop("checked", true);
        } else if(val == 'ALL') {
            $('#input-workshop input.hn').prop("checked", true);
            $('#input-workshop input.hcm').prop("checked", true);
        } else {
            $('#input-workshop input.hn').prop("checked", false);
            $('#input-workshop input.hcm').prop("checked", false);
        }

        updatePrice();
    });

    $('.uncheck').click(function() {
        $('#input-workshop input.hn').prop("checked", false);
        $('#input-workshop input.hcm').prop("checked", false);
        updatePrice();
    })
    </script>
</body>
</html>
