<?php
    $arrControl = array(
        array('name' => 'save-close', 'caption' => 'Lưu &amp; Đóng', 'link' => 'javascript:;', 'icon' => 'fa-save', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-close\');', 'class' => 'btn')),
        array('name' => 'close', 'caption' => 'Hủy', 'link' => $this->url('routeAdminNested/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),
    );
?>

<form method="post" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="alert alert-danger">Lưu ý: Nếu xóa sẽ không thể khôi phục lại</div>
    <div class="page-content">
    	<div class="row">
			<div class="col-md-3">
    			<div class="form-group"><label class="control-label">Phương thức</label>
    				<div class="control-element">
    					<select name="type" class="form-control select2 select2_basic">
    						<option value="branch">Xóa cả con</option>
						</select>
    				</div>
    			</div>
			</div>
		</div>
	</div>
</form>
