<?php
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $arrControl = array(
        array('name' => 'save', 'caption' => 'Lưu', 'link' => 'javascript:;', 'icon' => 'fa-check', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save\');', 'class' => 'btn')),
        array('name' => 'save-new', 'caption' => 'Lưu &amp; Mới', 'link' => 'javascript:;', 'icon' => 'fa-paste', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-new\');', 'class' => 'btn')),
        array('name' => 'save-close', 'caption' => 'Lưu &amp; Đóng', 'link' => 'javascript:;', 'icon' => 'fa-save', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-close\');', 'class' => 'btn')),
        array('name' => 'close', 'caption' => 'Hủy', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),
    );
    
    if(empty($myForm->get('parent')->getValue())) {
        $myForm->get('parent')->setValue($this->ssData['parent']);
        $myForm->get('type')->setValue($this->ssData['type']);
        $myForm->get('layout')->setValue($this->ssData['layout']);
    }
    
    $elements = array(
        array('element' => $myForm->get('name'), 'label' => 'Tên', 'validate' => array('require' => true)),
        array('element' => $myForm->get('alias'), 'label' => 'Đường dẫn tĩnh'),
        array('element' => $myForm->get('parent'), 'label' => 'Danh mục', 'validate' => array('require' => true)),
        array('element' => $myForm->get('image'), 'label' => 'Hình ảnh'),
        array('element' => $myForm->get('type'), 'label' => 'Phân loại'),
        array('element' => $myForm->get('layout'), 'label' => 'Chọn layout hiển thị'),
        array('element' => $myForm->get('status'), 'label' => 'Hiển thị'),
        array('element' => $myForm->get('description'), 'label' => 'Mô tả ngắn', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('content'), 'label' => 'Nội dung', 'boxClass' => 'col-md-12'),
        array('element' => '', 'section' => 'Phần mở rộng', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('meta_title'), 'label' => 'Meta title', 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('meta_keywords'), 'label' => 'Meta keywords', 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('meta_description'), 'label' => 'Meta description', 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('meta_url'), 'label' => 'Link thay thế', 'boxClass' => 'col-md-4'),
        array('element' => '', 'section' => 'Phân loại', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('box_hot'), 'label' => 'Hot', 'boxClass' => 'col-md-2 col-xs-6'),
        array('element' => $myForm->get('box_highlight'), 'label' => 'Nổi bật', 'boxClass' => 'col-md-2 col-xs-6'),
        array('element' => $myForm->get('box_home'), 'label' => 'Trang chủ', 'boxClass' => 'col-md-2 col-xs-6'),
        array('element' => $myForm->get('box_footer'), 'label' => 'Cuối trang', 'boxClass' => 'col-md-2 col-xs-6'),
        array('element' => $myForm->get('box_left'), 'label' => 'Cột trái', 'boxClass' => 'col-md-2 col-xs-6'),
        array('element' => $myForm->get('box_right'), 'label' => 'Cột phải', 'boxClass' => 'col-md-2 col-xs-6'),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true)),
    );
    
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>
<form method="post" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
	<?php echo @$this->xViewElementErrors($elements);?>
    <div class="page-content">
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
	</div>
</form>

<?php $this->headScript()->captureStart() ?>
	var editor = CKEDITOR.replace( 'content', {
		customConfig	: 'config.js'
	});
	
	$('select[name="parent"]').change(function() {
	    var urlAjax = "<?php echo $this->params['moduleRoute'];?>/api/data/id/" + $(this).val();
	    $.ajax(urlAjax, {
        	type: 'POST',
            dataType: "json",
            data: {
                'data-table': '<?php echo TABLE_POST_CATEGORY;?>'
            }
        }).done(function(data) { 
        	if(data.type) {
        	    $('select[name="type"]').select2("val", data.type);
        	}
        	if(data.layout) {
        	    $('select[name="layout"]').select2("val", data.layout);
        	}
    	});
	});
<?php $this->headScript()->captureEnd() ?>