<?php
    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="col-80">STT</th>';
    $xhtmlHead .= $this->linkAdminSort('Tên', 'name', $this->params['ssFilter'], null);
	$xhtmlHead .= $this->linkAdminSort('Thứ tự', 'left', $this->params['ssFilter'], array('class' => 'col-90'));
	$xhtmlHead .= '<th class="col-80">Level</th>';
	$xhtmlHead .= '<th class="col-80">Left</th>';
	$xhtmlHead .= '<th class="col-80">Right</th>';
	$xhtmlHead .= '<th class="col-80">Công cụ</th>';
	$xhtmlHead .= '</tr>';

    // Danh sách
    $xhtmlItems = '';
    if(!empty($this->items)) {
        $levelFirst = 0;
        $i = 0;
        foreach ($this->items AS $item) {
            $i++;
            if($i == 1) {
                $levelFirst = $item->level;
            }
            $childList[$item->parent][] = $item->id;
            
            $id             = $item->id;
            $level          = $item->level;
            $space          = str_repeat('<span class="gi">|----- </span>', $item->level - $levelFirst);
            $name           = $item->name;
            $alias          = $item->alias;
            $type           = $this->type[$item->type];
            $layout         = $item->layout;
            $level          = '<input type="number" class="refresh-data form-control input-xs" data-field="level" data-id="'. $id .'" value="'. $item->level .'">';
            $left           = '<input type="number" class="refresh-data form-control input-xs" data-field="left" data-id="'. $id .'" value="'. $item->left .'">';
            $right          = '<input type="number" class="refresh-data form-control input-xs" data-field="right" data-id="'. $id .'" value="'. $item->right .'">';
            $view           = $item->view;
            $status         = $this->linkAdminStatus($id, $item->status);
            $ordering       = @$this->xFormInput('ordering[\''. $id .'\']', array_search($item->id, $childList[$item->parent]) + 1, array('class' => 'form-control input-xs spinner-input', 'data-level' => $level));
            $cid            = @$this->xFormInput('cid[]', $id, array('type' => 'checkbox', 'class' => 'checkboxes'));
            
            // Link Action
            $linkView       = $this->url('routePostCategory', array( 'alias' => $item->alias, 'index' => $item->index));
            $linkEdit       = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form', 'id' => $id));
            $linkDelete     = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'delete', 'id' => $id));
            
            // Control Action
            $controlView    = $this->linkAdminHtml($linkView, array('type' => 'icon', 'title' => 'Xem', 'class' => 'btn btn-xs blue', 'icon' => 'fa fa-eye', 'target' => '_blank'));
            $controlEdit    = $this->linkAdminHtml($linkEdit, array('type' => 'icon', 'title' => 'Sửa', 'class' => 'btn btn-xs yellow', 'icon' => 'fa fa-edit'));
            $controlDelete  = $this->linkAdminHtml($linkDelete, array('type' => 'icon', 'title' => 'Xóa', 'class' => 'btn btn-xs red', 'icon' => 'fa fa-trash'));
            $controlStatus  = $this->linkAdminStatus($id, $item->status);
            $controls       = $controlView . $controlStatus . $controlEdit . $controlDelete;
            
            $xhtmlItems .= '<tr id="tr_'. $id .'">
    							<td>'. $i .'</td>
    							<td>'. $space .'<a href="'. $linkEdit .'">' . $name .'</a></td>
    							<td class="center">
    							    <div class="input-group">
    				                    '. $ordering .'
    									<div class="input-group-btn">
    										<a href="javascript:;" onclick="moveNode(\''. $id .'\', \'up\')" class="btn btn-xs default spinner-up"> <i class="fa fa-angle-up"></i> </a>
    										<a href="javascript:;" onclick="moveNode(\''. $id .'\', \'down\')" class="btn btn-xs default spinner-down"> <i class="fa fa-angle-down"></i> </a>
    									</div>
    								</div>
                                </td>
    							<td>'. $level .'</td>
    							<td>'. $left .'</td>
    							<td>'. $right .'</td>
    							<td>'. $controls .'</td>
    						</tr>';
        }
    }
    
    // Control
    $arrControl = array(
        array( 'name' => 'add', 'caption' => 'Thêm', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form')), 'icon' => 'fa-plus', 'attributes' => array( 'onclick' => '', 'class' => 'btn', ) ),
        array( 'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', ), 'children' => array( array( 'name' => 'sort', 'caption' => 'Sắp xếp', 'link' => 'javascript:;', 'icon' => 'fa-sort-alpha-asc', 'attributes' => array( 'onclick' => 'javascript:changeOrdering();', ) ), array( 'name' => 'divider' ), array( 'name' => 'active', 'caption' => 'Hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-check-square-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 0);', ) ), array( 'name' => 'inactive', 'caption' => 'Không hiển thị', 'link' => 'javascript:;', 'icon' => 'fa-circle-o', 'attributes' => array( 'onclick' => 'javascript:changeStatus(\'multi\', 1);', ) ), array( 'name' => 'divider' ), array( 'name' => 'print', 'caption' => 'In', 'link' => 'javascript:;', 'icon' => 'fa-print', 'attributes' => array( 'onclick' => 'javascript:printPage();', ) ), array( 'name' => 'export', 'caption' => 'Xuất bản excel', 'link' => 'javascript:;', 'icon' => 'fa-file-excel-o', 'attributes' => array( 'onclick' => 'javascript:exportList();', ) ), ), 'children-class' => 'dropdown-menu pull-right' ),
        array( 'name' => 'config', 'caption' => 'Cài đặt', 'link' => 'javascript:;', 'icon' => 'fa-cogs', 'attributes' => array( 'onclick' => '', 'class' => 'btn', ) ),
    );
?>

<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminForm" id="adminForm" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
    	    <?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-content">
    	<div class="table-manager" id="table-manager">
    		<div class="table-scrollable default">
    			<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<?php echo $xhtmlHead;?>
    				</thead>
    				<tbody>
    					<?php echo $xhtmlItems;?>
    				</tbody>
    			</table>
    		</div>
    	</div>
	</div>
</form>

<?php $this->headScript()->captureStart() ?>
	$('table td .refresh-data').change(function() {
	    	
      	var id       = $(this).attr('data-id');
      	var field    = $(this).attr('data-field');
      	var ajaxUrl  = '/' + moduleName + '/' + controllerName + '/refresh';
      	var data = {
      		id: id
      	};
      	data[field] = $(this).val();
    
    	$.ajax({
    		url: ajaxUrl,
    		type: 'POST',
    		data: data,
    		beforeSend: function() {
    			pageLoading('loading', '.page-container');
    		},
    		success: function(result) {
    			pageLoading('close', '.page-container');
    		}
    	});
    });
<?php $this->headScript()->captureEnd() ?>

	
	