<?php
if($items->count() > 0) {
    $filter         = new \ZendX\Filter\Purifier();
    
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        if($key == 0) {
            $category_url   = $view->url('routePostCategory', array( 'alias' => $item['category_alias']));
            $category_name  = '<h2 class="title font-title"><a href="'. $category_url .'">Chương trình đào tạo nổi bật</a></h2>';
        }
        
        $item_url       = $item['meta_url'] ? $item['meta_url'] : $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
        $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = nl2br($item['description']);
        
        $xhtml .= '<div class="item clearfix">
                        <div class="image font-title">
                            '. $item['course_code'] .'
                        </div>
                        <div class="info">
                            <h3 class="title">'. $name .'</h3>
                        </div>
                    </div>';
    } 
    
    $result = '<div class="box_courseHighlight" id="box_courseHighlight">
                    <div class="box_content">
                        <div class="box_title">'. $category_name .'</div>
                        <div class="box_info">Nắm bắt xu thế của thời đại, HBR đã cho ra đời các khóa học cập nhật bức tranh tổng quan về bối cảnh hiện tại, từ đó rút ra vấn đề hầu hết các doanh nghiệp Việt Nam gặp phải để nghiên cứu và phát triển những giải pháp đẳng cấp quốc tế vượt trội, góp phần xây dựng năng lực cạnh tranh thời kì 4.0, tạo tiền đề cho sự phát triển bền vững của doanh nghiệp.</div>
                        <div class="box_item clearfix">
                           	'. $xhtml .'
                        </div>
                    </div>
                </div>';
}
?>
