<?php
if($items->count() > 0) {
    $filter         = new \ZendX\Filter\Purifier();
    
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        if($key == 0) {
            $category_url   = $view->url('routePostCategory', array( 'alias' => $item['category_alias']));
            $category_name  = '<h2 class="box_title"><a href="'. $category_url .'">Tin mới: </a></h2>';
        }
        
        $linkItem       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
        
        $name           = '<a href="'. $linkItem .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $linkItem .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $linkItem .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $linkItem .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = $item['description'];
        
        $xhtml .= sprintf('
        	<h3 class="title">%s</h3>', $name
        );
    } 
    
    $result = sprintf('
        <div class="box_defaultNew" id="box_defaultNew">
            <div class="container">
                <div class="box_content">
                    %s
                    <div class="bxslider">
                    	%s
                    </div>
                </div>
            </div>
        </div>', $category_name, $xhtml
    );
}
?>
<?php $view->headScript()->captureStart() ?>
    $(document).ready(function() {
        $("#box_defaultNew .bxslider").bxSlider({
            mode: 'fade',
        	auto: true,
            minSlides: 1,
            maxSlides: 1,
            moveSlides: 1,
            responsive: true,
            pause: 5000,
            speed: 500
        });
    });
<?php $view->headScript()->captureEnd() ?>