<?php
if($items->count() > 0) {
    $filter         = new \ZendX\Filter\Purifier();
    
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        if($key == 0) {
            $category_url   = $view->url('routePostCategory', array( 'alias' => $item['category_alias']));
            $category_name  = '<h2 class="title"><a href="'. $category_url .'">Bài viết nổi bật</a></h2>';
        }
        
        $linkItem       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
        
        $name           = '<a href="'. $linkItem .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $linkItem .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $linkItem .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $linkItem .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = nl2br($item['description']);
        
        $xhtml .= sprintf('
            <div class="col-sm-4">
                <div class="item">
                    <div class="image">
                        %s
                    </div>
                    <div class="info">
                        <h3 class="title">%s</h3>
                        <div class="description">
                            %s
                        </div>
                    </div>
                </div>
            </div>', $image, $name, $description
        );
    } 
    
    $result = sprintf('
        <div class="box_defaultHighlight" id="box_defaultHighlight">
            <div class="container">
                <div class="box_content">
                    <div class="row">
                   	    %s
                    </div>
                </div>
            </div>
        </div>', $xhtml
    );
}
?>
