<?php
if($items->count() > 0) {
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        $linkCategory   = $view->url('routePostCategory', array( 'alias' => $item['category_alias']));
        $linkItem       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
        
        $name           = '<a href="'. $linkCategory .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $linkCategory .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $linkCategory .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $linkCategory .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = nl2br($item['description']);
        $videos         = unserialize($item['videos']);  
        $youtube        = '<div class="video embed-responsive embed-responsive-16by9"><iframe width="560" src="https://www.youtube.com/embed/'. $videos['id'][0] .'?rel=0&amp;showinfo=0&amp;autoplay=0" frameborder="0" allowfullscreen></iframe></div>';
        $video_home = '';
        if (!empty($youtube)) {
            $video_home = $youtube;
        } else {
            $video_home = $image;
        }
        
        $download       = '<a href="/download-brochure"><img src="'. $params['template']['urlImg'] .'/brochure.png' .'"></a>';
        $download      .= '<a href="/download-brochure" class="text_1">DOWNLOAD BROCHURE</a>';
        $download      .= '<span class="text_1">THÔNG TIN CÁC CHƯƠNG TRÌNH ĐÀO TẠO CỦA HBR 2019 - 2020</span>';
        
        $result = '<div class="box_defaultHome" id="box_defaultHome">
                        <div class="box_content clearfix">
                            <div class="info">
                                <h1 class="title font-title">'. $name .'</h1>
                                <div class="slogan">'. $settings['General.System.Slogan']['value'] .'</div>
                                <div class="text">'. $description .'</div>
                                <div class="view">
                                    <a href="'. $linkCategory .'" title="Xem chi tiết">XEM CHI TIẾT</a>
                                    <a class="btnDownload" href="/download-brochure" title="Download">DOWNLOAD BROCHURE</a>
                                </div>
                            </div>
                            <div class="image">
                                '.$video_home.'
                            </div>
                        </div>
                    </div>';
    } 
}
?>