<?php
if($items->count() > 0) {
    $filter         = new \ZendX\Filter\Purifier();
    
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        if($key == 0) {
            $category_url   = $view->url('routePostCategory', array( 'alias' => $item['category_alias']));
            $category_name  = '<h2 class="title"><a href="'. $category_url .'">Bất động sản HOT</a></h2>';
        }
        
        $item_url       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
        $linkOrder      = $view->url('routePost/default', array( 'controller' => 'product', 'action' => 'add-cart', 'id' => $item['id']));
        $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = nl2br($item['description']);
        $price			= '';
        if(!empty($item['product_price'])) {
            if(!empty($item['product_sale_percent'])) {
                $price	= $item['product_price'] - ($item['product_sale_percent'] / 100 * $item['product_price']);
                $price	= '<span class="value"><span class="mask_currency">'. $price .'</span> đ</span> <span class="old"><span class="mask_currency">'. $item['product_price'] .' </span> đ</span>';
            } else {
                $price	= '<span class="value"><span class="mask_currency">'. $item['product_price'] .'</span> đ</span>';
            }
        }
        
        $xhtml .= sprintf('
            <div class="col-sm-3 col-xs-6">
                <div class="item">
                    <div class="image">
                        %s
                    </div>
                    <div class="info">
                        <h3 class="title">%s</h3>
                        <div class="price">%s</div>
                    </div>
                </div>
            </div>', $image_thumb, $name, $price
        );
    } 
    
    $result = sprintf('
        <div class="box_productHot hidden-xs" id="box_productHot">
            <div class="box_title">%s</div>
            <div class="box_content">
                <div class="row">
                   	%s
                </div>
            </div>
        </div>', $category_name, $xhtml
    );
}
?>
