<?php
$hotline_edumart = $settings['General.System.HotlineEdumart']['value'];
if($items->count() > 0) {
    $filter         = new \ZendX\Filter\Purifier();
    
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        if($key == 0) {
            $category_url   = $view->url('routePostCategory', array( 'alias' => $item['category_alias']));
            $category_name  = '<h2 class="title font-title"><a href="'. $category_url .'">ẤN PHẨM CỦA ĐẠI HỌC HARVARD DÀNH CHO DOANH NHÂN VIỆT NAM</a></h2>';
        }
        
        $item_url       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
        $order_url      = $view->url('routePost/default', array( 'controller' => 'product', 'action' => 'add-cart', 'id' => $item['id']));
        $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = nl2br($item['description']);
        $product_year   = $item['product_year'] ? '<div class="public">Sản xuất: '. $item['product_year'] .'</div>' : '';
        $price			= '';
        if(!empty($item['product_price'])) {
            if(!empty($item['product_sale_percent'])) {
                $price	= $item['product_price'] - ($item['product_sale_percent'] / 100 * $item['product_price']);
                $price	= '<div class="price"><span class="value"><span class="mask_currency">'. $price .'</span>đ</span> <span class="old"><span class="mask_currency">'. $item['product_price'] .' </span>đ</span></div>';
            } else {
                $price	= '<div class="price"><span class="value"><span class="mask_currency">'. $item['product_price'] .'</span>đ</span></div>';
            }
        }
        
        $xhtml .= '<li class="item">
                        <div class="image">
                            <a href="'. $item_url .'" title="'. $item['name'] .'">
                                <img src="'. $item['image'] .'" alt="'. $item['name'] .'">
                                <span class="view"></span>
                            </a>
                        </div>
                        <div class="info">
                            <h3 class="title">'. $name .'</h3>
                            '. $product_year .'
                            '. $price .'
                        </div>
                    </li>';
    } 
    
    $result = '<div class="box_productNew" id="box_productNew">
                    <div class="container">
                        <div class="box_title">'. $category_name .'</div>
                        <div class="box_content ">
                            <ul class="bxslider">
                                '. $xhtml .'
                            </ul>
                        </div>
                        <div class="hotline_edumart text-center">Hotline mua sách: <a href="tel:'. str_replace('.', '', $hotline_edumart) .'">'. $hotline_edumart .'</a></div>
           	        </div>
                </div>';     
}
?>