<?php
    $arrControl = array(
        array('name' => 'save', 'caption' => 'Lưu', 'link' => 'javascript:;', 'icon' => 'fa-check', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save\');', 'class' => 'btn')),
        array('name' => 'close', 'caption' => 'Hủy', 'link' => $this->url('routeAdminNested/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),
    );

    $languages = explode(';', LANGUAGE);
    $arrData = array(array('code' => ''));
    if(!empty($this->params['data']['language'])) {
        $arrData = $this->params['data']['language'];
    } else if(!empty($this->setting['params'])){
        $arrData = array_values(unserialize($this->setting['params']));
    }
?>

<form method="post" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-content">
    	<div class="table-manager" id="table-manager">
    		<div class="table-scrollable">
    			<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<tr>
                            <th>Mã</th>
                            <?php
                            foreach ($languages AS $key => $value) { 
                                $language = explode('-', $value);
                                $code = trim($language[0]);
                                $label = trim($language[1]);
                            ?>
                            <th><?php echo $label;?></th>
                            <?php
                            } 
                            ?>
                        </tr>
					</thead>
    				<tbody>
    				    <?php
    				    for ($i = 0; $i < count($arrData); $i++) {
    				    ?>
    					<tr>
    					    <td><input type="text" name="language[<?php echo $i;?>][code]" class="form-control input-xs" value="<?php echo $arrData[$i]['code'];?>"></td>
    					    <?php
                            foreach ($languages AS $key => $value) { 
                                $language = explode('-', $value);
                                $code = trim($language[0]);
                                $label = trim($language[1]);
                                $val = $arrData[$i][$code] ? $arrData[$i][$code] : $arrData[$i]['vi'];
                            ?>
							<td><input type="text" name="language[<?php echo $i;?>][<?php echo $code;?>]" class="form-control input-xs" value="<?php echo $val;?>"></td>
							<?php
                            } 
							?>
						</tr>
						<?php
    				    } 
						?>
					</tbody>
    			</table>
    		</div>
		</div>
		<div style="text-align: center; padding-top: 20px;">
            <a href="javascript:;" class="btn red" id="my-btn-add">Thêm</a>
		</div>
	</div>
	<input type="hidden" name="total" id="total" value="<?php echo count($arrData) - 1;?>">
</form>

<?php $this->headScript()->captureStart() ?>
    $('#my-btn-add').click(function() {
        var total_current = $('#total').val();
        var total_new = parseInt(total_current) + 1;
        var first_item = $('#table-manager tbody tr:first').html();
        var item_add = first_item.replaceAll('[0]', '['+ total_new +']');
        
        $('#total').val(total_new);
        $('<tr>' + item_add + '</tr>').insertAfter($('#table-manager tbody tr:last'));
        
        $('#table-manager tbody tr:last input').attr({'value': ''});
    });
<?php $this->headScript()->captureEnd() ?>