<?php
$dateFormat = new \ZendX\Functions\Date();

if($this->items->count() > 0) {
    foreach ($this->items AS $key => $item) {
        $item_url       = $item['meta_url'] ? $item['meta_url'] : $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
        $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'" target="'.$item['target'].'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = nl2br($item['description']);
        $course_price	= $item['course_price'] ? '<span class="text"><i class="fa fa-tag" aria-hidden="true"></i> <span class="mask_currency">'. number_format($item['course_price'], 0, ",", ".") .'</span>đ</span>' : '';
        $course_teacher	= $item['course_teacher_id'] ? '<div class="speakers"><span>Chuyên gia: </span>'. $this->teacher[$item['course_teacher_id']]['name'] .'</div>' : '';
        $course_option	= !empty($item['course_option']) ? unserialize($item['course_option']) : array();
        $course_option	= $course_option[$this->params['data']['course_city_id']];
        $course_date	= $course_option['date'] ? '<span class="text"><i class="fa fa-bell" aria-hidden="true"></i> '. $dateFormat->formatToView($course_option['date']) .'</span>' : '';
        $course_address	= $course_option['address'] ? '<span class="text"><i class="fa fa-paper-plane" aria-hidden="true"></i> '. $course_option['address'] .'</span>' : '';
?>
<div class="item clearfix">
    <div class="date">
    	<?php
    	if(!empty($course_option['date'])) {
    	?>
        <span class="day"><?php echo $dateFormat->formatToView($course_option['date'], 'd');?></span>
        <span class="month">Tháng <?php echo $dateFormat->formatToView($course_option['date'], 'm');?>,</span>
        <span class="year"><?php echo $dateFormat->formatToView($course_option['date'], 'Y');?></span>
        <?php
    	}
        ?>
    </div>
    <div class="content clearfix">
        <div class="image"><?php echo $image;?></div>
        <div class="info">
            <h3 class="title font-title"><?php echo $name;?></h3>
            <div class="desc"><?php echo $description;?></div>
            <?php echo $course_teacher;?>
            <div class="location">
                <?php echo $course_date . $course_address . $course_price;?>
            </div>
        </div>
    </div>
    <div class="view">
        <a href="<?php echo $item_url;?>" title="Xem chi tiết">Xem chi tiết</a>
    </div>
</div>
<?php
    }
}
?>