<?php
    $dateFormat = new \ZendX\Functions\Date();
?>
<div class="box_module">
	<div class="box_content">
		<div class="layout_category_course">
            <div class="col-md-12">
                
                <form class="form-inline" method="POST">
                    <div class="form-group">
                        <select class="form-control" onchange="this.form.submit();" name="speaker">
                            <option value="">- Chọn diễn giả -</option>
                            <option value="">Tất cả diễn giả</option>
                            <option value="1515859385-5x53-u041-8627-650804t28412">TS. Alok Bharadwaj</option>
                            <option value="1515859381-0yse-v36o-703g-887ylw8vp734">Ths. Phạm Thu Thủy</option>
                            <option value="1561433054-k97e-179k-8x5w-i9f9jy9157v3">Mr. Tony Dzung</option>
                        </select>
                    </div>
                    <!-- <button type="submit" class="btn btn-success">TÌM</button> -->
                </form>
            </div>
            
			<div class="row">
    		<?php
                foreach ($this->items AS $key => $item) {
                        $item_url       = $item['meta_url'] ? $item['meta_url'] : $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));   
                        $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                        $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                        $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                        $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                        $image_cover    = $item['image_cover'] ? '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_cover'] .'" alt="'. $item['name'] .'"></a>' : $image_medium;
                        $description    = nl2br($item['description']);
                        $course_price   = $item['course_price'] ? '<span class="text"><i class="fa fa-tag" aria-hidden="true"></i> <span class="mask_currency">'. number_format($item['course_price'], 0, ",", ".") .'</span>đ</span>' : '';
                        $course_teacher = $item['course_teacher_id'] ? '<div class="speakers">'. $this->teacher[$item['course_teacher_id']]['name'] .'</div>' : '';
                        
                        $course_option  = !empty($item['course_option']) ? unserialize($item['course_option']) : array();
                        $location       = '';
                        if(!empty($course_option)) {
                            foreach ($course_option AS $option) {
                                $course_date    = $option['date'] ? '<span class="date">'. $dateFormat->formatToView($option['date']) .'</span>' : '';
                                $course_address = $option['address'] ? '<span class="address"> | '. $option['address'] .'</span>' : '';
                                $location  .= $course_date . $course_address .'<br>';
                            }
                        }

                        $course_date    = $course_option['date'] ? '<span class="text"><i class="fa fa-bell" aria-hidden="true"></i> '. $dateFormat->formatToView($course_option['date']) .'</span>' : '';
                        $course_address = $course_option['address'] ? '<span class="text"><i class="fa fa-paper-plane" aria-hidden="true"></i> '. $course_option['address'] .'</span>' : '';
                        $status         = !empty($item['status']) ? '<span class="status green">Sắp diễn ra</span>' : '<span class="status red">Đã kết thúc</span>';
                        
                        echo '<div class="col-sm-4">
                            <div class="item clearfix">
                                <div class="image">'. $image_cover .'</div>
                                    <div class="info">
                                        <h2 class="title">'. $name .'</h2>
                                        '. $course_teacher .'
                                        <div class="location">'. $location .'</div>
                                    </div>
                                    '. $status .'
                                </div>
                            </div>';  
                }
            ?>
        	</div>
        </div>
		<?php
            echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $boxLink));
        ?>
        
	</div>
</div>
<?php $this->headScript()->captureStart() ?>
    /* $(document).ready(function() {
        $('.box_module .col-md-2 a').click(function(){
            var teacherID = $(this).data('id');
            $.post($(location).attr('href'), 'teacherID': teacherID);
        });
    }); */
<?php $this->headScript()->captureEnd() ?>