<?php
    $dateFormat = new \ZendX\Functions\Date();
?>
<div class="box_module padding">
	<div class="box_content">
		<div class="layout_category_default">
		    <div class="bxslider" id="bxslider">
        		<?php
        	    if(!empty($this->category['content'])) {
        	        echo '<div class="category_content">'. htmlspecialchars_decode($this->category['content']) .'</div>';
        	    } 
                
                foreach ($this->items AS $key => $item) {
                    $item_url       = $item['meta_url'] ? $item['meta_url'] : $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                            
                    $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                    $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                    $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                    $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                    $description    = nl2br($item['description']);
                    $created        = $dateFormat->getText($item['created'], 'd.m.Y');
                    $category_url   = $this->url('routePostCategory', array( 'category_alias' => $item['category_alias']));
                    $category_name  = '<a href="'. $category_url .'" title="'. $item['category_name'] .'">'. $item['category_name'] .'</a>';
                    
                    echo '<div class="item clearfix">
                                    <div class="image">'. $image .'</div>
                                    <div class="info">
                                        <h2 class="title">'. $name .'</h2>
                                        <div class="category">'. $category_name .'/ <span class="date">'. $created .'</span></div>
                                        <div class="description hidden-xs">'. $description .'</div>
                                    </div>
                                </div>';
                }
                ?>
             </div>
        </div>
		<?php echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $boxLink)); ?>
	</div>
</div>
