<div class="box_module">
	<div class="box_content">
        <div class="layout_category_video">
            <div class="row">
            <?php
            foreach ($this->items AS $key => $item) {
                $item_url       = $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'category_index' => $item['category_index'], 'alias' => $item['alias'], 'index' => $item['index']));
                        
                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                $image          = '<a class="content" href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium   = '<a class="content" href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $image_thumb    = '<a class="content" href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                $description    = nl2br($item['description']);
                
                echo '<div class="col-xs-6 col-sm-3">
                        <div class="item">
                            <div class="image play_video">'. $image_thumb .'</div>
                            <div class="info">
                                <h3 class="title">'. $name .'</h3>
                            </div>
                        </div>
                    </div>';
            }
            ?>
            </div>
        </div>
        <?php echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $boxLink)); ?>
    </div>
</div>