@charset "utf-8";
@import "../fonts/font.css";

body{ font-size: 17px; font-family: "Roboto-Regular"; background: #fff;}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
b { font-family: "Roboto-Bold", "Segoe UI";}
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}
ul{list-style: none;}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{border: 1px solid #9c9a99;}
.clr { clear: both; }

.box_top{ height:40px; line-height: 40px; background:#161f37; color: #FFF;}
.box_top .hotline a{line-height:40px; color:#fff; padding:0 11px 0 10px; font-size:12px; position: relative; font-family: "Roboto-regular"; text-decoration: none;}
.box_top .hotline a:last-child:after{content:none;}
.box_top .hotline i{ padding: 0; color: #FFF;}
.box_top .hotline .fa{font-size: 12px;}
.box_top .hotline{ont-size:12px; font-family: "Roboto-regular";}
.box_top .hotline span{}
.box_top .social { text-align: right;}
.box_top .social .fa{font-size: 13px;}
.box_top .social a{ display: inline-block; margin: 0 8px;}
.box_top .social a:last-child{margin-right: 0;}
.box_top .social i{ color: #FFF;}
.box_top .social .item{display: inline-block; float: right; height: 38px; background: #fb6030; padding: 0 25px; text-align: center;}
.box_top .social .item:hover{transition:color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; background: #eb1c3c;}
.box_top .social .item a{font-family: "Roboto-regular"; color: #fff; font-size: 13px; line-height: 38px; text-transform: uppercase; text-decoration: none; text-align: center;}

.box_header{ background-color: #FFF; width: 100%; top: 0; left: 0; z-index: 99999; position: relative; height: 80px; display: flex;}
.box_header .container{ position: relative;}
.box_header .logo{ display: inline-block; margin-top: 20px; line-height: 100%;}
.box_header .menu{ padding: 23px 0 0; list-style: none; float: right; margin: 0;}
.box_header .menu li{ display: inline-block; padding-left: 40px; text-align: center; vertical-align: middle;}
.box_header .menu li a{ font-size: 13px; line-height:18px; color: #282828; font-family: "Roboto-Medium"; padding: 8px 0 6px; display: inline-block; text-transform: uppercase;}
.box_header .menu li a.active{color: #faba33;}
.box_header .menu li a:hover{ color: #faba33;}
.box_header .menu li a.btn_book{display: inline-block; background: #faba33; color: #FFF; padding: 0; width: 130px; height: 38px; line-height: 36px; font-size: 13px; font-family: "Roboto-Medium";}
.box_header .menu li a.btn_book:hover{background: #0e0e1a; transition:color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box_header .menu li a.btn_book.active{ background-color: #202b53;}
.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}

.box_header.sticky{ position: fixed; top: 0px; z-index: 999999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
.box_header.sticky .menu li a.last{ padding-right: 20px;}
.box_header.sticky .box_user{ display: block; padding: 10px 0 0;}
.box_header.sticky .box_user li a{ display: inline-block; padding: 5px 20px; color: #404041; font-size: 13px; font-weight: 600; height: auto; line-height: normal;}
.box_header.sticky .box_user li a:hover{ color: #0088cc;}
.box_header.sticky .box_user_login{ display: block;}
.box_header.sticky .box_user_login .dropdown-toggle{ background: none !important; height: 50px; line-height: 50px; margin: 0 0 0 20px;}
.box_header.sticky .box_user_login .dropdown-toggle:focus{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle:hover{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle img{ vertical-align: top; margin-top: 5px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:BEFORE{ right: 12px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:AFTER{ right: 13px;}
.box_header.sticky .box_user_login.navbar-nav>li>a{ padding: 15px 20px;}
.box_header.sticky .box_user_login.navbar-nav>li>a:hover{ background: none; color: #000;}

.box_banner {margin-bottom: 100px;}
.box_banner .image img{ width: 100%;}
.box_popup{position: fixed;top: 30%;z-index: 1000; width: 15%;}

.box_popup button{background: transparent; border: none; float: right;}

.box_gioiThieu{ margin: 100px 0; }
.box_gioiThieu .box_content{width: 800px; max-width: 100%; margin: 0 auto;}
.box_gioiThieu .box_content .text{width: 600px; max-width: 100%; margin: 0 auto; padding-bottom: 50px; font-size: 17px; line-height: 26px; font-family: "Roboto-Regular";}
.box_gioiThieu .box_content .box_title{padding-left: 50px; position: relative;}
.box_gioiThieu .box_content .box_title:before{position: absolute; content: ""; background: #f2ad21; width: 6px; height: 100%; top: 5px; left: 4px;}
.box_gioiThieu .box_content .box_title .item{font-size: 23px; line-height: 40px; font-family: "DP-Bold"; color: #152b50; margin-right: -100px; padding-bottom: 10px;}
.box_gioiThieu .box_content .box_title .item-1{line-height: 30px; font-size: 23px; padding: 0;}
.box_gioiThieu .box_content .img{padding: 80px 0 35px 0;}
.box_gioiThieu .box_content .img img{width: 100%;}
.box_gioiThieu .box_content .note{text-align: center; font-family: "Roboto-Medium";}
.box_gioiThieu .box_content .title{line-height: 32px; font-size: 23px; font-family: "DP-Bold"; color: #152b50; padding: 60px 0 30px 100px; position: relative; z-index: 1000;}
.box_gioiThieu .box_content .title .competitor{position: relative; z-index: 1000;}
.box_gioiThieu .box_content .title span{position: relative; z-index: 1000;}
.box_gioiThieu .box_content .title .competitor:before{position: absolute; content: ""; width: 140%; height: 6px; bottom: 2px; left: -40%; background: #f2ad21;}
.box_gioiThieu .box_content .detail{font-size: 17px; padding: 0 100px; line-height: 26px; font-family: "Roboto-Regular";}
.box_gioiThieu .box_content .detail span{font-family: "Roboto-Bold";}

.box_dienGia{ background: url("../images/banner-5.jpg") no-repeat center; color: #FFF; padding: 140px 0; background-size: cover; }
.box_dienGia .box_content .title{font-size: 35px; font-family: "DP-Bold"; }
.box_dienGia .box_content .text{font-size: 15px; line-height: 23px; font-family: "Roboto-Regular"; padding-bottom: 25px; color: #f2ad21;}
.box_dienGia .box_content .detail{font-family: "Roboto-Regular"; font-size: 15px; line-height: 23px;}
.box_dienGia .box_content .content{padding: 25px 0 0 35px;}
.box_dienGia .box_content .content .item{padding-bottom:10px; position: relative; font-size: 13px; line-height:20px; color: #fff; font-family: "Roboto-Regular";}
.box_dienGia .box_content .content .item:before{position: absolute; content: ""; width: 15px; height: 15px; background: url("../images/icon-1.png") no-repeat; left: -35px; top: 5px;}

.box_noiDung{padding: 100px 0;}
.box_noiDung .container{width: 1000px; max-width: 100%;}
.box_noiDung .box_title{font-family: "DP-Bold"; font-size: 35px; line-height:43px; color: #182651; position: relative; padding-left: 100px; z-index: 1000;}
.box_noiDung .box_title span{position: relative; z-index: 1000;}
.box_noiDung .box_title .book{position: relative; z-index: 1000;}
.box_noiDung .box_title .book:before{position: absolute; content: ""; background: #f2ad21; width: 100%; height: 6px; bottom: 4px; left: 0;}
.box_noiDung .box_info{padding: 40px 100px 0 100px; font-family: "Roboto-Light";}
.box_noiDung .box_content .title{font-family: "DP-Bold"; font-size: 35px; line-height:40px; color: #182651; position: relative; padding: 70px 0 0 50px;}
.box_noiDung .box_content .title-1{position: relative;}
.box_noiDung .box_content .title span{position: relative; z-index: 1000;}
.box_noiDung .box_content .title-1:before{position: absolute; content: "01"; width: 100%; height: 200px; left: 0; color: #ebebeb; font-size: 215px; font-family: "BebasKaiRegular";}
.box_noiDung .box_content .title-2{position: relative;}
.box_noiDung .box_content .title-2:before{position: absolute; content: "02"; width: 100%; height: 200px; left: 0; color: #ebebeb; font-size: 215px; font-family: "BebasKaiRegular";}
.box_noiDung .box_content .title-3:before{position: absolute; content: "03"; width: 100%; height: 200px; left: 0; color: #ebebeb; font-size: 215px; font-family: "BebasKaiRegular";}
.box_noiDung .box_content .text-1{font-family: "DP-Bold"; font-size: 15px; line-height:20px; color: #faba33; padding: 25px 0 45px 50px; position: relative;}
.box_noiDung .box_content .text-2{padding: 25px 0 45px 50px;; font-family: "DP-Bold"; font-size: 15px; line-height:20px; color: #faba33; position: relative;}
.box_noiDung .box_content .text-3{font-family: "DP-Bold"; font-size: 15px; line-height:20px; color: #faba33; padding: 25px 0 45px 50px; position: relative;}
.box_noiDung .box_content .text-1:before{position: absolute; content: ""; width: 40px; height: 6px; left: 0; bottom:0; background: #faba33;}
.box_noiDung .box_content .text-2:before{position: absolute; content: ""; width: 40px; height: 6px; left: 0; bottom:0; background: #faba33;}
.box_noiDung .box_content .text-3:before{position: absolute; content: ""; width: 40px; height: 6px; left: 0; bottom:0; background: #faba33;}
.box_noiDung .box_content .content{padding:25px 0 35px 0;}
.box_noiDung .box_content .content p{margin-bottom: 3px; font-family: "Roboto-Regular"; font-size: 17px; line-height: 26px;}
.box_noiDung .box_content .content span{font-family: "Roboto-Bold";}
.box_noiDung .box_content .img img{box-shadow:-10px 10px 30px #b7b7b7;}
.box_noiDung .box_content .img_item_2{margin-left: 100px;}
.box_noiDung .row{padding-top: 130px;}
.box_noiDung .img_list img{width: 70px; height: 70px;}
.box_noiDung .img_list img:hover{cursor: pointer;}
.box_noiDung .img_list{float: left; max-width: 100%}
.box_noiDung .img_show{float: left; position: relative;}
.box_noiDung .img_show{width: 420px; padding-left: 35px; height: 420px; max-width: 100%;}
.box_noiDung .prev{border: 0; background: transparent; position: absolute; top: 176px; left: 115px;}
.box_noiDung .next{border: 0; background: transparent; position: absolute; top: 176px; right: 115px;}
.box_noiDung .prev_2{border: 0; background: transparent; position: absolute; top: 176px; left: 215px;}
.box_noiDung .next_2{border: 0; background: transparent; position: absolute; top: 176px; right: 30px;}
.box_noiDung .box_content .info{padding: 20px 10px 20px 107px;}
.box_noiDung p span{font-family: "Roboto-Medium";}
.box_noiDung .datmua{width: 180px; float: left; background: #faba33; color: #fff; border-radius: 0; height: 50px; border: 0; font-family: "DP-Bold"; font-size: 17px; line-height: 26px; text-transform: uppercase; box-shadow:none;}
.box_noiDung .datmua:hover{background: #0e0e1a; transition:color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}


.box_loiIch{ background: url("../images/banner-1.jpg") no-repeat center; background-size: cover;}
.box_loiIch .left{float: left; width: 50%; max-width: 100%; height: 710px;}
.box_loiIch .right{float: left; color: #fff; font-family: "Roboto-Light"; width: 50%; max-width: 100%;}
.box_loiIch .right .box_content{background: #f2ad21; margin: 115px 0; padding: 110px 0 110px 95px;}
.box_loiIch .right .box_content .title{font-family: "SVNKelsonSansBold"; font-size: 35px;}
.box_loiIch .right .box_content .list{padding: 40px 0 0 35px;}
.box_loiIch .right .box_content .list .item{position: relative; padding-bottom: 15px;}
.box_loiIch .right .box_content .list .item:before{position: absolute; content: ""; width: 20px; height: 20px; background: url("../images/icon-2.png") no-repeat top center; top: 3px; left: -35px;}

.box_dangKy{background: #ebebeb; padding: 100px 0; background-size: cover;}
.box_dangKy .box_content{ box-shadow:-20px 15px 30px #b7b7b7;}
.box_dangKy .box_content:after{content: ""; clear: both; display: block;}
.box_dangKy .box_content .clr:after{content: ""; clear: both; display: table; position: absolute;}
.box_dangKy .left{width: 500px; max-width: 100%; float: left; background: #161f37; padding: 70px 60px;}
.box_dangKy .title{font-size: 35px; color: #fff; margin-bottom: 40px;}
.box_dangKy .left .table .title{font-size: 17px; font-family: "Roboto-Regular"; line-height: 20px; margin: 0;}
.box_dangKy .left .table .price{font-size: 17px; font-family: "Roboto-Regular"; line-height: 43px; margin: 0;}
.box_dangKy .left .table .number span{font-size: 17px; font-family: "Roboto-Regular"; line-height: 43px; margin: 0; padding-right: 15px; float: left;}
.box_dangKy .left .table .number input[type="number"]{background: transparent; border: 1px solid #fff; padding: 5px; width: 50px; color: #fff; -moz-appearance:textfield;}
.box_dangKy .left .table .number .num input{  width: 75px; height: 35px; line-height: 1.65; float: left; display: block; padding: 0; margin: 0; padding-left: 20px; margin-top: 3px;}
.box_dangKy .left .table .number .num input:focus{outline: 0;}
.box_dangKy .left .table .number .num-nav{ float: left; position: relative; height: 35px;}
.box_dangKy .left .table .number .num-button { position: relative; cursor: pointer; border-left: 1px solid #eee; width: 25px; text-align: center; color: #fff; font-size: 17px; line-height: 1; -webkit-transform: translateX(-100%); transform: translateX(-100%); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;}
.box_dangKy .left .table .number .num-button.num-up { position: absolute; height: 50%; top: 3px; border-bottom: 1px solid #fff;}
.box_dangKy .left .table .number .num-button.num-down { position: absolute; bottom: 0; height: 50%; }
.box_dangKy .right{width: 700px; max-width: 100%; float: left; background: #fff; }
.box_dangKy .right .title{font-family: "DP-Bold"; font-size: 24px; color: #161f37; margin-bottom: 42px;}
.box_dangKy .right .content .form-1{padding: 70px 100px;}
.box_dangKy .right .content .form-2{padding: 70px 100px 61px;}
.box_dangKy .right .content .form-control{ border-radius: 0; border: 0; border-bottom: 1px solid #d7d7d7; height: 45px; color: #111; font-size: 17px; font-family: "Roboto-Regular"; box-shadow:none; padding: 0;}
.box_dangKy .right .content .form-control::placeholder{color: #111; font-size: 17px; font-family: "Roboto-Regular";}
.box_dangKy .right .content .btn{border: 0; padding: 0; width: 100%;}
.box_dangKy thead{height: 65px;}
.box_dangKy thead tr{background: #182651; color: #fff;}
.box_dangKy thead tr th{vertical-align: middle;}
.box_dangKy table td{border: 1px solid #9c9a99; height: 65px;}
.box_dangKy input[type="checkbox"]{margin-left: 10px;}
.box_dangKy input[type="number"]{background: #fff; color:#111; border: 0; width: 35px;}
.box_dangKy .table-hover>tbody>tr:hover{background: none;}
.box_dangKy .table{margin: 0; border: 0;}
.box_dangKy .tbl2 input, .box_dangKy .tbl2 select{border: 0; height: 65px;}
.box_dangKy .tbl2 td{padding: 0; font-family: "Roboto-Thin"; }
.box_dangKy .tbl2 td input::placeholder{color: #111; font-size: 17px; font-family: "Roboto-Regular";}
.box_dangKy .btn-blue{width: 100%; border-radius: 0; background: #faba33; color: #fff; border:0; height:72px; font-size: 25px; line-height: 27px; font-family: "SVNKelsonSansBold"; text-transform: uppercase;}
.box_dangKy .btn-blue:hover{background: #0e0e1a; transition:color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box_dangKy .text span{font-family: "Roboto-Italic"; color: #faba33;}
.box_dangKy .total_price{border: 0;}
.box_dangKy .alert{margin-bottom: 0;}
.box_dangKy .info{font-family: "Roboto-Light"; font-size: 15px; color: #fff; padding-top: 18px;}
.box_dangKy .hotline{font-family: "SVNKelsonSansBold"; font-size: 20px; line-height: 27px; color: #f8ad1b; padding: 40px 0 0 0;}
.box_dangKy tbody input{border: none; width: 300px;}
.box_dangKy tbody img{width: 89px;}
.box_dangKy .tbl tr td{vertical-align: middle; color: #fff; border: 0; text-align: left;}
.box_dangKy input:read-only {background-color: #fff;}
.box_dangKy .select{border-bottom: 1px solid #d7d7d7;}
.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){border-bottom: 1px solid #d7d7d7; width: 100%; background: #fff !important; height: 45px; border-radius: 0; padding: 0; font-family: "Roboto-Regular"; font-size: 17px;}
.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{color: #111; height: 45px; background: #fff !important; border-radius: 0; border: 0; font-family:"Roboto-Regular"; font-size: 17px; padding: 0;}
.box_dangKy .btn-group.open .dropdown-toggle{color: #111; height: 45px; background: #fff !important; border-radius: 0; border: 0; font-family:"Roboto-Regular"; font-size: 17px;}
.box_dangKy .bootstrap-select>.dropdown-toggle{color: #111; height: 45px; background: #fff !important; border-radius: 0; border: 0; font-family:"Roboto-Regular"; font-size: 17px;}


.box_images{ overflow: hidden; background: #fff; padding: 0 100px 100px 100px;}
.box_images img{ width: 100%; transform: scale(1); transition: transform .5s;}
.box_images img:hover{ transform: scale(1.2); position: relative; z-index: 1;} 
.box_images table{ width: 100%;} 
.box_images table td{ padding: 2px; overflow: hidden;} 
.box_images table div{ overflow: hidden;} 

.box_comment{ padding: 100px 0; background: #fff;}
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {min-width: 100% !important;}

.box_footer{ padding: 60px 0 60px; position: relative; background: #071831; color: #FFF;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}
.box_footer .wrap{ margin: 0 -15px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 15px; padding-bottom: 15px; position: relative;}
.box_footer .col-1 .slogan:before{position: absolute; content: ""; width: 70px; height: 5px; background: #fff; bottom: 0; left: 0;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social {padding-top: 10px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .langtech .title{font-size: 16px; text-transform: uppercase; font-weight: 500; padding: 20px 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #d3a23b; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #C9353D;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}

.box_menuFooter ul{ margin: 0; padding: 0; list-style: none;}
.box_menuFooter ul>li{ display: block;}
.box_menuFooter ul>li>a{ text-transform: uppercase; margin-bottom: 5px; display: block; font-size: 13px;}
.box_menuFooter ul>li>ul{ display: none;}

.box_adsFooter{ overflow: hidden; margin-right: 40px;}
.box_adsFooter a{ display: inline-block; font-size: 10px; padding: 5px 10px 3px; border: 1px solid #FFF; border-radius: 14px; text-transform: uppercase; margin: 0 5px 5px 0;}
.box_adsFooter a:HOVER{ background-color: #FFF; color: #071831 !important;}

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}
.has-error .form-control{border: 1px solid #ec1c3c !important;}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; }

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

iframe[name="google_conversion_frame"]{ height: 0;}

/*RESPONSIVE*/


@media ( max-width : 1200px){
	.box_tinTuc .bx-controls-direction a{display: none;}
}

@media ( min-width : 1200px) {
  	.popup_video .popup_content{ width: 60%;}
}

@media ( max-width : 1000px) {
	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

	.box_header{ height: 43px; position: fixed; border: 0; padding: 0 0 10px 0;}
	.box_header.sticky{ position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }
	.box_header .container{ position: relative;}
	.box_header .logo{ margin-top: 8px !important;}
	.box_header .logo img{ height: 20px;}
	.box_header .menu_mobile{ top: 13px;}
	.box_header .menu_mobile .item{ background-color: #999;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 60%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	.box_header .menu li:first-child{ padding-left: 20px; }
	.box_header .menu{ margin: 0 !important;}

	.box_popup{display: none;}
	
	.box_gioiThieu .box_content{width: 100%;}
	
	.box_dienGia{background: #202A4E;}
	
	.box_images{margin: 0;}
	
	.popup_video .popup_content{ width: calc(100% - 40px); top: 10%;}
}

@media ( max-width : 768px) {
	body{ color: #282828; font-size: 15px;}
	br{display: none;}
	.prev, .next{display: none;}

	.box_top{display: none;}
	
	.box_banner{margin-bottom: 50px;}
	.box_banner .image img{ margin-top: 43px; }
	
	.box_header{display: block;}
	.box_header.sticky{ padding: 0px; display: flow-root; z-index: 999999;}
	
	.box_gioiThieu{margin: 50px 0;}
	.box_gioiThieu .box_content .text{width: 100%; padding: 15px; font-size: 15px;}
	.box_gioiThieu .box_content .box_title{padding: 0;}
	.box_gioiThieu .box_content .box_title .item{margin: 0; padding-left: 15px; font-size: 18px; line-height: 30px;}
	.box_gioiThieu .box_content .img{padding: 30px 0;}
	.box_gioiThieu .box_content .title{padding: 15px 0 15px 15px;}
	.box_gioiThieu .box_content .detail{padding: 0 15px; font-size: 15px;}
	
	.box_dienGia .box_content .content{padding-left: 25px;}
	.box_dienGia .box_content .content .item:before{left: -25px;}
	
	.box_noiDung{padding: 0; padding-bottom: 50px;}
	.box_noiDung .row{padding: 0; margin: 0; border: 1px solid #ccc; margin-bottom: 20px; }
	.box_noiDung .box_title{padding: 0; font-size: 25px;}
	.box_noiDung .box_content .title{font-size: 25px;}
	.box_noiDung .box_content .title-2{padding-left: 0;}
	.box_noiDung .box_content .title-3{padding-left: 0;}
	.box_noiDung .box_content .text-2{padding-left: 0;}
	.box_noiDung .box_content .text-3{padding-left: 0;}
	.box_noiDung .box_content .title-1{padding-left: 0;}
	.box_noiDung .box_content .title-1:before{font-size: 150px; height: 150px;}
	.box_noiDung .box_content .title-2:before{font-size: 150px; height: 150px;}
	.box_noiDung .box_content .title-3:before{font-size: 150px; height: 150px;}
	.box_noiDung .box_content .text-1{padding-left: 0;}
	.box_noiDung .box_content .content{padding-bottom: 10px;}
	.box_noiDung .box_content .content p{font-size: 15px;}
	.box_noiDung .box_content .right:nth-of-type(2){top:0;}
	.box_noiDung .box_content .right:nth-of-type(1){bottom:0;}
	.box_noiDung .box_content .img img{width: 100%;}
	.box_noiDung .box_content .img{padding-bottom: 30px;}
	.box_noiDung .box_content .img_item_2{margin: 0;}
	.box_noiDung .datmua{margin-bottom: 30px;}
	
	.box_loiIch{background: #182651; height: auto; width: 100%; padding: 30px 15px;}
	.box_loiIch .left{display: none;}
	.box_loiIch .right{width: 100%;}
	.box_loiIch .right .box_content{padding: 15px; margin: 30px 0;}
	.box_loiIch .right .box_content .title{font-size: 25px;}
	.box_loiIch .right .box_content .list{padding-top:15px; }
	.box_dangKy .right .box_content{padding: 30px 15px;}
	
	.box_dangKy{padding: 30px 0; height: auto; background: #071831;}
	.box_dangKy .box_content{ box-shadow:none;}
	.box_dangKy .left{width: 100%; padding: 30px 15px;}
	.box_dangKy .right{width: 100%;}
	.box_dangKy .title{font-size: 25px; padding: 30px 0 0 0;}
	.box_dangKy .title_1{width: 100%; padding: 50px 0; font-size: 25px;}
	.box_dangKy .right .content{padding: 0;}
	.box_dangKy .right .content .form-1{padding: 30px 15px;}
	.box_dangKy .right .content .form-2{padding: 30px 15px;}
	.box_dangKy .uudai .box_content .text_1{padding: 20px 0;}
	.box_dangKy .title_2{line-height: 45px; padding: 0 0 50px 0; font-size: 25px; margin: 0;}
	.box_dangKy .form {margin-bottom: 50px;}
	.box_dangKy .form .form-control{height: 40px; font-size: 14px; padding: 0 15px;}
	.box_dangKy .form .form-group input::placeholder{font-size: 14px;}
	.box_dangKy .form .btnSuccess .btn-blue{height: 40px; font-size: 17px; vertical-align: middle; line-height: 20px;}
	.box_dangKy .form .form-row .col-md-6{padding-right: 0;}
	.box_dangKy .uudai{padding: 0; width: 100%;}
	.box_dangKy .uudai .box_content .table{padding: 0 15px;}
	.box_dangKy .uudai .box_content .table>tbody>tr>td{font-size: 17px; height: 45px;}
	.box_dangKy .uudai .box_content .text_2{padding: 30px 15px; margin-bottom: 40px;}
	.box_dangKy .hotline{padding: 20px 0;}
	.box_dangKy tbody img{width: 89px;}
	.box_dangKy .btn-blue{height: 50px;}
	.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ height: 40px; padding: 0;}
	.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{ height: 40px; ;}
	.box_dangKy .btn-group.open .dropdown-toggle{ height: 40px ;}
	.box_dangKy .bootstrap-select>.dropdown-toggle{ height: 40px;}
	
	.box_comment{padding: 30px 0;}
	
	.box_dienGia{ padding: 30px 0; background: #202A4E; height: auto; margin-bottom: 50px;}
	.box_dienGia .image{ margin-bottom: 20px;}
	.box_dienGia .image img{ width: 100%;}
	.box_dienGia .box_title .title_1{ font-size: 25px; line-height: 35px; position: relative; padding-bottom: 500px;}
	.box_dienGia .box_title .title_1:before{position: absolute; content: ""; background: url("../images/diengia.jpg") no-repeat top center; bottom: 0; width: 100%; height: 500px;}
	.box_dienGia .box_title .title_2 img{display: none;}
	.box_dienGia .content{ padding: 0 15px;}
	.box_dienGia .box_title{ font-size: 35px; padding-left: 0;}
	.box_dienGia .box_content{ font-size: 17px; padding: 0; width: 100%;}
	.box_dienGia .box_content p{ font-size: 13px; padding-left: 0;}

	.box_images{padding: 0;}
}

@media(max-width:480px){
	
	.box_noiDung .img_list{width: 15%;}
	.box_noiDung .img_show{width: 85%; height: auto;}
	.box_noiDung .box_content .info{position: relative; top: -80px; padding-right: 0;}
	
	.box_loiich .box_content .box_info .title{font-size: 25px; }
	.box_loiich .box_content .box_info .item{font-size: 15px;}
	
	.box_dangKy .uudai .box_content .text_2{font-size: 15px;}
	.box_dangKy .uudai .text{height: 60px; line-height: 60px;}

	.box_tinTuc .box_title{font-size: 25px; padding: 30px 0;}
}

@media(max-width:360px){
	.box_dienGia .box_title .title_2:before{line-height: 35px;}
}