@charset "utf-8";
@import "../fonts/font.css";

body{ font-size: 17px; font-family: "Roboto-Regular"; background: #ececec;}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
b { font-family: "Roboto-Bold", "Segoe UI";}
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}

input[type=date]::-webkit-inner-spin-button,input[type=date]::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0; }
.clr { clear: both; }

.box_header{ background-color: #FFF; width: 100%; top: 0; left: 0; z-index: 99999; position: relative; height: 70px;}
.box_header .container{ position: relative;}
.box_header .logo{ display: inline-block; margin-top: 20px; line-height: 100%;}
.box_header .menu{ padding: 18px 0 0; list-style: none; float: right; margin: 0;}
.box_header .menu li{ display: inline-block; padding-left: 40px; text-align: center; vertical-align: middle;}
.box_header .menu li a{ font-size: 13px; color: #282828; font-family: "Roboto-Bold", "Segoe UI"; padding: 8px 0 6px; display: inline-block; text-transform: uppercase;}
.box_header .menu li a.active{color: #ed1c24;}
.box_header .menu li a:hover{ color: #ed1c24;}
.box_header .menu li a.btn_book{ border-radius: 10px;display: inline-block; background: #e91d3d; color: #FFF; padding: 0; width: 120px; height: 30px; line-height: 28px; font-weight: normal; font-family: "SVNKelsonSansBold";}
.box_header .menu li a.btn_book.active{ background-color: #202b53;}
.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}
.box_header.sticky{ position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
.box_header.sticky .menu li a.last{ padding-right: 20px;}
.box_header.sticky .box_user{ display: block; padding: 10px 0 0;}
.box_header.sticky .box_user li a{ display: inline-block; padding: 5px 20px; color: #404041; font-size: 13px; font-weight: 600; height: auto; line-height: normal;}
.box_header.sticky .box_user li a:hover{ color: #0088cc;}
.box_header.sticky .box_user_login{ display: block;}
.box_header.sticky .box_user_login .dropdown-toggle{ background: none !important; height: 50px; line-height: 50px; margin: 0 0 0 20px;}
.box_header.sticky .box_user_login .dropdown-toggle:focus{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle:hover{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle img{ vertical-align: top; margin-top: 5px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:BEFORE{ right: 12px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:AFTER{ right: 13px;}
.box_header.sticky .box_user_login.navbar-nav>li>a{ padding: 15px 20px;}
.box_header.sticky .box_user_login.navbar-nav>li>a:hover{ background: none; color: #000;}

.box_banner .image img{ width: 100%;}

.box_gioiThieu{padding: 70px 0 100px 0;}
.box_gioiThieu:nth-child(1){padding-bottom: 0;}
.box_gioiThieu .title{font-size: 35px; color: #152b50; font-family: "UVNRIVERSIDEB"; text-transform: uppercase;}
.box_gioiThieu .title span{font-size: 32px; color: #122c50; position: relative;}
.box_gioiThieu .title span::before{content:'';  position: absolute; top: 30px; left: 405px; width: 100%; height: 100%; background: url("../images/line1.png") no-repeat; z-index: -1;}
.box_gioiThieu .left{padding-right: 45px;}
.box_gioiThieu .left p{position: relative;}
.box_gioiThieu .left p::before{content:'';  position: absolute; top: 270px; left: 0px; width: 40%; height: 10px; background: #152b50; }
.box_gioiThieu .right{padding-left: 45px;}
.box_gioiThieu .right .note{ font-style: italic;}
.box_gioiThieu .col-md-6{padding-top: 70px;}
.box_gioiThieu p{line-height: 25px; padding-bottom: 20px;}
.box_gioiThieu .right .text-1{margin-left: 90px; position: relative;}
.box_gioiThieu .right .text-2{margin-left: 90px; position: relative;}
.box_gioiThieu .right .text-1::before{content:'';  position: absolute; top: 5px; left: -90px; width: 100%; height: 100%; background: url("../images/73.png") no-repeat; }
.box_gioiThieu .right .text-2::before{content:'';  position: absolute; top: 5px; left: -90px; width: 100%; height: 100%; background: url("../images/27.png") no-repeat; }
.box_gioiThieu .bottom{ width: 800px; margin: 0 auto; padding-top: 100px; max-width: 100%; font-size: 30px; font-family: "UVNRIVERSIDEB"; color: #152b50; text-transform: uppercase; text-align: center;}
.box_gioiThieu .bottom span{color: #ec1c3c;}

.box_thongTin{ background: url(../images/banner-1.jpg) no-repeat top center; padding-top: 50px; margin-bottom: 100px;}
.box_thongTin .box_title{width: 200px; height: 45px; line-height: 45px; text-align: center; font-size: 25px; font-family: "UVNRIVERSIDEB"; display: block; margin: 0 auto; color: #fff; background: #e91d3d;}
.box_thongTin .detail{font-family: "UVNRIVERSIDEB"; font-size: 30px; padding: 30px 0; color: #fff; text-align: center;}
.box_thongTin .container{width: 1000px; max-width: 100%;}
.box_thongTin .box_content{ width: 1000px; max-width: 100%; background: #f1f1f1; margin: 0 auto; padding: 65px 100px 45px 100px;; position: relative; box-shadow: 0px 5px 5px 0px rgba(191,189,191,1);}
.box_thongTin .box_content .text{font-size: 17px; font-family: "Roboto-Regular"; padding-bottom: 50px; }
.box_thongTin .box_content .text span{font-family: "Roboto-Bold";}
.box_thongTin .box_content .info .item{ display: table; font-family: "Roboto-Medium"; font-size: 17px; margin-bottom: 20px; line-height: 30px;}
.box_thongTin .box_content .info .item .key{font-family: "UVNRIVERSIDEB"; display: table-cell; font-size:22px; line-height: 25px; width: 150px; max-width:100%; vertical-align: middle; color: #122c50;}
.box_thongTin .box_content .info .item .value{font-family: "UVNRIVERSIDEB"; color: #122c50; font-size:20px; display: table-cell; width: 650px;max-width:100%; border: 1px solid #222831; vertical-align: middle; padding:15px 40px;}
.box_thongTin .box_content .info .item .value.btn_book{font-family: "SVNKelsonSansBold"; background: #ec1c3c; border: none; color: #FFF; text-align: center; font-size: 30px; line-height: 25px;height: 70px;}
.box_thongTin .box_content .info .item .value.btn_book a{ color: #FFF;}
.box_thongTin .box_content .info .item:hover .value { color: #ec1c3c;}
.box_thongTin .box_content .title{font-size: 30px; line-height: 25px; font-family: "DP-Bold"; margin-bottom: 63px; color: #152b50;}
.box_thongTin .box_content .right{font-family: "Roboto-Bold";}
.box_thongTin button{background: #ec1c3c; border: 0; border-radius: 10px; color: #fff; float: right;}
.box_thongTin button:hover{background: -webkit-linear-gradient(right, #0039ae 25%,#7db9e8 100%);}

.box_muctieu{background: #202b53; height: 470px; margin-bottom: 30px;}
.box_muctieu .left{width: 44%; max-width: 100%; height: 470px; float: left; background: url("../images/banner-2.jpg") no-repeat center center; background-size: cover;}
.box_muctieu .right{width: 56%; max-width: 100%; height: 470px; float: left;}
.box_muctieu .right .box_content{width: 715px; max-width: 100%; float: left; color: #fff; padding: 40px 0 0 100px;}
.box_muctieu .right .box_content .box_title{font-family: "DP-Bold"; font-size: 32px; line-height: 45px; margin-bottom: 35px;}
.box_muctieu .right .box_content .item{padding: 0 0 30px 85px; font-family: "Roboto-Regular"; font-size: 17px; line-height: 25px; position: relative;}
.box_muctieu .right .box_content .item-1:before{position: absolute; content: ""; width: 50px; height: 50px; background: url("../images/icon.png") no-repeat top center; top: 5px; left: 0;}
.box_muctieu .right .box_content .item-2:before{position: absolute; content: ""; width: 50px; height: 50px; background: url("../images/icon-1.png") no-repeat top center; top: 5px; left: 0;}
.box_muctieu .right .box_content .item-3:before{position: absolute; content: ""; width: 50px; height: 50px; background: url("../images/icon-2.png") no-repeat top center; top: 5px; left: 0;}
.box_muctieu .right .box_content .item-4:before{position: absolute; content: ""; width: 50px; height: 50px; background: url("../images/icon-3.png") no-repeat top center; top: 5px; left: 0;}
.box_muctieu .right .box_content .item-5:before{position: absolute; content: ""; width: 50px; height: 50px; background: url("../images/icon-4.png") no-repeat top center; top: 5px; left: 0;}
.box_muctieu .right .box_content .item-6:before{position: absolute; content: ""; width: 50px; height: 50px; background: url("../images/icon-5.png") no-repeat top center; top: 5px; left: 0;}

.box_noiDung{padding: 100px 0;}
.box_noiDung .container{width: 1000px; max-width: 100%;}
.box_noiDung .title{font-size: 35px; line-height: 15px; font-family: "UVNRIVERSIDEB"; text-transform: uppercase; margin-bottom: 45px; color: #1e2b52;}
.box_noiDung .info{ vertical-align: middle; font-size: 20px; line-height: 30px; padding: 20px 0; background: #202b53; text-transform: uppercase; color: #fff; font-family: "Roboto-Bold"; cursor: pointer;}
.box_noiDung .list{background: #ebebeb; padding: 35px 0 10px 100px; cursor: pointer;}
.box_noiDung .item{margin-top: 5px;}
.box_noiDung .list p{line-height: 25px; position: relative; margin-bottom: 30px;}
.box_noiDung .list p::before{content:'';  position: absolute; top: 5px; left: -40px; width: 100%; height: 100%; background: url("../images/icon-14.png") no-repeat; }
.box_noiDung .list-hide{display: none;}

.box_doiTuong{background: #fff; height: 490px;}
.box_doiTuong .left{padding-right: 45px; height: 490px;}
.box_doiTuong .left .image{background: url(../images/dt1.jpg) no-repeat top center; background-size: cover; width: 100%; height: 490px;}
.box_doiTuong .right{ padding: 50px 0; width: 600px; max-width: 100%;}
.box_doiTuong .title{color: #122c50; font-family: "UVNRIVERSIDEB"; font-size: 32px; padding-bottom: 35px;}
.box_doiTuong .content{margin-left: 33px;}
.box_doiTuong .content p{padding-bottom: 35px; position: relative;}
.box_doiTuong .content p::before{content:'';  position: absolute; top: 5px; left: -35px; width: 100%; height: 100%; background: url(../images/icon-14.png) no-repeat;}

.box_dienGia{width: 100%; max-width: 100%; font-family: "Arial";}
.box_dienGia{ background: url("../images/banner-5.jpg") no-repeat center; font-size: cover; color: #FFF; overflow: hidden; position: relative; height: 744px; max-width: 100%; padding-top: 90px;}
.box_dienGia .content{padding-left: 135px;}
.box_dienGia .title-1{font-size: 21px; font-family: "DP-Bold"; padding-bottom: 30px;}
.box_dienGia .title-2{font-size: 45px; font-family: "DP-Bold"; padding-bottom: 50px;}
.box_dienGia p{padding-bottom: 40px; position: relative;}
.box_dienGia p::before{content:'';  position: absolute; top: 8px; left: -30px; width: 100%; height: 100%;  background: url(../images/cham.png) no-repeat;}
.box_dienGia .box_content .text-1{ font-size: 17px; margin-top: 28px; color: #000; line-height: 27px;}
.box_dienGia .box_content .text-2{ font-size: 17px; margin-top: 28px; color: #000; line-height: 27px; font-weight: bold;}
.box_dienGia .box_content .item{padding-bottom:5px; position: relative; font-size: 17px; }

.box_dangKy{margin-bottom:60px; color: #30373d; position: relative; padding-bottom: 150px; background: url("../images/banner-4.jpg") no-repeat top center; background-size: cover;}
.box_dangKy .title_1{padding: 170px 0 35px 0; margin-right:40px; font-size: 30px; line-height: 27px; font-family: "DP-Bold"; color: #fff; text-align: center;}
.box_dangKy .uudai{background: #fff; margin-right: 40px;}
.box_dangKy .uudai .text{padding: 25px 0; background: #e91d3d; font-size: 20px; line-height: 27px; font-family: "Roboto-Bold"; color: #fff; text-align: center;}
.box_dangKy .uudai .box_content{padding: 60px 70px;}
.box_dangKy .uudai .box_content .table>tbody>tr>td{height: 55px; text-align:center; vertical-align: middle; padding-left:15px; border: 1px solid #e91d3d; font-size: 20px; line-height: 27px; font-family: "Roboto-Regular";}
.box_dangKy .uudai .box_content .table .item{text-align: center; font-family: "Roboto-Bold";}
.box_dangKy .uudai .text_2{font-size: 17px; line-height: 25px; font-family: "Roboto-Regular"; padding-top: 20px; text-align: center;}
.box_dangKy .uudai .text_2 span{font-size: 17px; line-height: 25px; font-family: "Roboto-Bold";}
.box_dangKy .dangKy{ padding: 100px 0 0 0; margin-top: 15px;}
.box_dangKy .dangKy .col-md-6, .box_dangKy .dangKy .col-md-12{padding: 0 10px;}
.box_dangKy .dangKy .box_title{ font-family: "DP-Bold"; text-align: center; padding-bottom: 38px; color: #fff; font-size: 30px; line-height:40px;}
.box_dangKy .dangKy .box_title span{color: #ec1b3c;}
.box_dangKy .dangKy .form-control{border:1px solid rgba(38, 49, 85, 0.7); color:#fff; height: 58px; background:rgba(38, 49, 85, 0.7); border-radius: 0; padding: 6px 30px; font-size: 17px; line-height:27px; font-family: "Roboto-Regular";}
.box_dangKy .dangKy .form-control::placeholder{color: #fff;}
.box_dangKy .dangKy select{font-size: 17px; color: #fff;}
.box_dangKy .dangKy option{font-size: 17px; color: #fff;}
.box_dangKy .dangKy .error{ color: #FF0000;}
.box_dangKy .dangKy .alert{margin-top: 10px; border-radius: 0;}
.box_dangKy .dangKy .btnSuccess{ text-align: center; margin-top: 10px;}
.box_dangKy .dangKy .btnSuccess .input-lg{padding-top:15px; border: none; border-radius: 0; width: 100%; background: #e91d3d; color: #fff;font-family: "DP-Bold"; font-size: 23px; line-height:27px; text-transform: uppercase; height: 70px; vertical-align: middle;}
.box_dangKy .dangKy .btnSuccess .input-lg:hover{background: #0e0e1a; transition: color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box_dangKy .dangKy .btnSuccess .input-lg:FOCUS{ outline: none;}
.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100%; background: rgba(38, 49, 85, 0.7) !important; height: 65px; border-radius: 0; padding: 0 30px; font-family: "Roboto-Regular"; font-size: 17px;}
.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{padding: 0; color: #fff; height: 50px; background: rgba(38, 49, 85, 0) !important; border-radius: 0; border: 0; font-family:"Roboto-Regular"; font-size: 17px;}
.box_dangKy .btn-group.open .dropdown-toggle{padding: 0; color: #fff; height: 50px; background: rgba(38, 49, 85, 0) !important; border-radius: 0; border: 0; font-family:"Roboto-Regular"; font-size: 17px;}
.box_dangKy .bootstrap-select>.dropdown-toggle{padding: 0; color: #fff; height: 50px; background: rgba(38, 49, 85, 0) !important; border-radius: 0; border: 0; font-family:"Roboto-Regular"; font-size: 17px;}

.box_thanhToan{  color: #30373d; position: relative; margin: 50px 0;}
.box_thanhToan .thanhToan { padding: 0 15px 0 15px;}
.box_thanhToan .thanhToan .box_title{ font-family: "DP-Bold"; padding-bottom: 20px; color: #202b53 ; font-size: 35px; line-height:45px; text-transform: uppercase;}
.box_thanhToan .thanhToan .item { margin-bottom: 30px;}
.box_thanhToan .thanhToan .item .item_title{ font-family: "HelveticaNeue-Medium"; padding-bottom: 5px; font-size:17px; line-height: 45px;}
.box_thanhToan .thanhToan .item .item_detail{ font-size: 18px; padding-bottom: 20px;line-height: 23px;font-family: "Roboto-Regular";}
.box_thanhToan .thanhToan .item .item_detail span{font-family: "Roboto-Bold";}
.box_thanhToan .thanhToan .item .item_image{ width: 300px; max-width: 100%; margin: 0 auto; background: #f2ad21; color: #FFF; border-radius: 5px; padding: 28px 0;}
.box_thanhToan .thanhToan .item .item_image .image_title{font-family:"Roboto-Medium"; background: #FFF; color: #49556a; text-align: center; height: 38px; line-height: 38px;}
.box_thanhToan .thanhToan .item .item_image .image_desc{ padding: 15px; font-size: 15px; font-family:"Roboto-Medium"; line-height: 30px; color: #111;}
.box_thanhToan .dangKy{border: 2px solid #007acf;}
.box_images{ overflow: hidden;}
.box_images img{ width: 100%; transform: scale(1); transition: transform .5s;}
.box_images img:hover{ transform: scale(1.2); position: relative; z-index: 1;} 
.box_images table{ width: 100%;} 
.box_images table td{ overflow: hidden; padding: 2px;} 
.box_images table div{ overflow: hidden;} 
.box_images .row_1 .image_1{ width: 24.2%; float: left; padding-right: 2px; }
.box_images .row_1 .image_2{ width: 34.73%; float: left; padding: 0 2px; }
.box_images .row_1 .image_3{ width: 19.46%; float: left; padding: 0 2px; }
.box_images .row_1 .image_4{ width: 21.23%; float: left; padding-left: 2px;}

.box_comment{ padding: 0 0 40px 0;}

.box_footer{ padding: 60px 0 60px; position: relative; background: #071831; color: #FFF;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}
.box_footer .wrap{ margin: 0 -15px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 15px; padding-bottom: 15px; position: relative;}
.box_footer .col-1 .slogan:before{position: absolute; content: ""; width: 70px; height: 5px; background: #fff; bottom: 0; left: 0;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social {padding-top: 10px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .langtech .title{font-size: 16px; text-transform: uppercase; font-weight: 500; padding: 20px 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #d3a23b; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #C9353D;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}

.box_menuFooter ul{ margin: 0; padding: 0; list-style: none;}
.box_menuFooter ul>li{ display: block;}
.box_menuFooter ul>li>a{ text-transform: uppercase; margin-bottom: 5px; display: block; font-size: 13px;}
.box_menuFooter ul>li>ul{ display: none;}

.box_adsFooter{ overflow: hidden; margin-right: 40px;}
.box_adsFooter a{ display: inline-block; font-size: 10px; padding: 5px 10px 3px; border: 1px solid #FFF; border-radius: 14px; text-transform: uppercase; margin: 0 5px 5px 0;}
.box_adsFooter a:HOVER{ background-color: #FFF; color: #071831 !important;}

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}
.has-error .form-control{border: 1px solid #ec1c3c !important;}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

iframe[name="google_conversion_frame"]{ height: 0;}

/*RESPONSIVE*/

@media ( min-width : 1440px) {
  	.popup_video .popup_content{ width: 60%;}
}

@media ( max-width : 1000px) {
	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

	.box_header{ height: 43px; position: fixed; border: 0; padding: 0 0 10px 0;}
	.box_header.sticky{ position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }
	.box_header .container{ position: relative;}
	.box_header .logo{ margin-top: 8px !important;}
	.box_header .logo img{ height: 20px;}
	.box_header .menu_mobile{ top: 13px;}
	.box_header .menu_mobile .item{ background-color: #999;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 60%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	.box_header .menu li:first-child{ padding-left: 20px; }
	.box_header .menu{ margin: 0 !important;}

	.box_thongTin .box_content .info .item{ display: block;}
	.box_thongTin .box_content .info .title{font-size: 25px; text-align: center; margin-bottom: 25px;}
	.box_thongTin .box_content .info .item .key{ display: block; width: auto;}
	.box_thongTin .box_content .info .item .value{ display: block; width: auto;}

	.box_muctieu{height: auto; display: flex;}
	.box_muctieu .left{display: none;}
	.box_muctieu .right{width: 100%;}
	.box_muctieu .right .box_content .item{padding-right: 0;}

	.box_doiTuong{height: auto;}
}

@media ( max-width : 768px) {
	body{ color: #282828; font-size: 15px;}
	.image{text-align: center;}

	.box_banner{margin-bottom: 0;}
	.box_banner .image img{ margin-top: 43px; }
	
	.box_header.sticky{ padding: 0px;}
	
	.box_gioiThieu{padding: 50px 0;}
	.box_gioiThieu .title{font-size: 25px;}
	.box_gioiThieu .bottom{width: 100%; padding-top: 35px; font-size: 25px;}
	.box_gioiThieu .left{padding-right: 0;}
	.box_gioiThieu .right{padding-left: 0;}
	.box_gioiThieu .left p::before{display: none;}
	.box_gioiThieu .title span::before{display: none;}
	.box_gioiThieu .col-md-6{padding-top: 20px;}
	.box_gioiThieu .bottom .title{padding-right: 20px; padding-bottom: 30px; font-size: 20px;}

	.box_thongTin {display: inline-block; margin: 0 0 50px 0; padding-top: 50px;}
	.box_thongTin .detail{margin: 0;}
	.box_thongTin .box_content .text{font-size: 14px;padding-bottom: 15px;}
	.box_thongTin .box_content{ width: 100%; padding: 0 15px;font-size: 14px;padding-top: 30px;}
	.box_thongTin .box_content .info .item{ display: block;}
	.box_thongTin .box_content .info .title{font-size: 25px; text-align: center; margin-bottom: 25px;}
	.box_thongTin .box_content .info .item .key{font-size: 17px;}
	.box_thongTin .box_content .info .item .value{padding: 10px 15px; font-size: 15px;}
	.box_thongTin .box_content .info .item .value.btn_book a{padding-top: 12px; display: block;}

	.box_muctieu{margin-bottom: 50px;}
	.box_muctieu .right{height: auto;}
	.box_muctieu .right .box_content{padding: 50px 15px;}
	.box_muctieu .right .box_content .box_title{font-size: 25px; margin-bottom: 25px;}
	.box_muctieu .right .box_content .item{font-size: 14px;}

	.box_noiDung{padding: 0 0 50px;}
	.box_noiDung .title{font-size: 25px;}
	.box_noiDung .info{padding: 10px 0; font-size: 17px;}
	.box_noiDung .list{padding: 15px 10px 15px 60px; }
	.box_noiDung .list p{margin-bottom: 10px;}

	.box_doiTuong .left{display: none;}
	.box_doiTuong .right{padding: 30px 15px;}
	.box_doiTuong .title{padding-bottom: 30px;}
	.box_doiTuong .content p{padding-bottom: 15px;}
	
	.box_dangKy{background: #282830; padding-bottom: 40px; margin-bottom: 0;}
	.box_dangKy .title_1{padding: 35px 0}
	.box_dangKy .uudai{margin: 0;}
	.box_dangKy .uudai .box_content{padding: 20px 25px;}
	.box_dangKy .uudai .text{padding: 10px 0; font-size: 17px;}
	.box_dangKy .uudai .box_content .table>tbody>tr>td{font-size: 15px;}
	.box_dangKy .uudai .text_2{font-size: 15px; padding-top: 0;}
	.box_dangKy .dangKy{padding: 10px 0 0 0;}
	.box_dangKy .dangKy .box_title{font-size: 25px; padding-bottom: 20px;}
	.box_dangKy .dangKy .form-control{height: 45px; font-size: 15px; padding: 6px 15px;}
	.box_dangKy .dangKy .btnSuccess .input-lg{height: 50px;}
	.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ height: 40px; padding: 0; font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{ height: 40px; font-size: 14px;}
	.box_dangKy .btn-group.open .dropdown-toggle{ height: 40px font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle{ height: 40px;font-size: 14px;}

	.box_dienGia{ padding: 30px 0; background: #152b50; height: auto;}
	.box_dienGia .box_content{margin-left: 15px;}
	.box_dienGia .image{ margin-bottom: 20px;}
	.box_dienGia .image img{ width: 100%;}
	.box_dienGia .content{ padding: 0 15px;}
	.box_dienGia .box_title{ font-size: 35px; padding-left: 0;}
	.box_dienGia .title-1{padding-bottom: 15px;}
	.box_dienGia .title-2{font-size: 30px; padding-bottom: 20px;}
	.box_dienGia .box_content{ font-size: 17px; padding: 0; width: 100%;}
	.box_dienGia .box_content p{ font-size: 13px; padding-left: 0;}
	.box_dienGia p::before{top: 4px; left: -20px;}
	
	.box_thanhToan{ padding: 0 0 30px 0; }
	.box_thanhToan .container .box_title{ margin: 0; padding: 0 15px 30px; font-size: 25px; text-align: center; padding: 0;}
	.box_thanhToan .container{ padding: 0 10px;}
	.box_thanhToan .info{ padding: 30px;}
	.box_thanhToan .info .title{ padding: 0;}
	.box_thanhToan .info .head{ padding-top: 30px; padding-bottom: 10px;}
	.box_thanhToan .form{ padding: 30px;}
	.box_thanhToan .bank{ padding: 0 30px 50px;}
	.box_thanhToan .bank .title{ padding-bottom: 0;}
	.box_thanhToan .bank .item{ padding-top: 30px;}
	.box_thanhToan .thanhToan{padding-right: 15px;}

	.box_images{margin: 0;}
}

@media(max-width:480px){
	.box_gioiThieu{padding-bottom: 0;}
	.box_gioiThieu .image img{width: 100%;}
	.box_gioiThieu .content_2{ display: block;}
	.box_gioiThieu .content_2 .info{padding-left: 0;}
	.box_gioiThieu .content_2 .info .title{text-align: center;}
	.box_gioiThieu .content_2 .image{text-align: center; width: 100%;}
	.box_gioiThieu .content_2 .image img{width: 50%;}
	.box_gioiThieu p{padding: 0 10px; font-size: 15px;}
	.box_gioiThieu .text{padding: 0 10px 0 25px; font-size: 24px;}
	.box_gioiThieu .info .text-1, .box_gioiThieu .info .text-2{padding-right: 10px;}
	.box_gioiThieu .info .title{font-size: 25px;}

	.box_thongTin{margin-top: 0;}
	.box_thongTin .box_title{margin-bottom: 0;}
	.box_thongTin .box_content .info .item .key{font-size: 20px;}
	.box_thongTin .box_content{padding: 0;}
	.box_thongTin .box_content .info .item .value.btn_book{font-size: 20px;}
	
	.box_dienGia .box_title .title_2{ position: relative; padding-bottom: 120px;}
	
	.box_thanhToan .dangKy .box_title{font-size: 30px;margin-top: 25px;}
	.box_thanhToan .container .box_title{font-size: 25px;padding-bottom: 0;}
	.box_thanhToan .dangKy{padding: 0;}
	.box_thanhToan .dangKy .box_content{margin-top: 15px;}

	.box_dangKy .uudai .text{padding: 25px 0;}
}
