@charset "utf-8";

@import "../../fonts/font.css";



body{ font-size: 17px; font-family: "Roboto-Regular"; background: #eaeaea;}

body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }

img { border: none; -ms-interpolation-mode: bicubic; }

table { border-collapse: collapse; }

b { font-family: "Roboto-Regular", "Segoe UI", sans-serif;}

a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }

a:hover { color: #000; text-decoration: none;}

a:focus { color: #000; text-decoration: none;}

ul{list-style: none;}

.clr { clear: both; }

input[type="date"]::-webkit-inner-spin-button {display: none;}



.navbar-right { background: #D39E42; }



.box_top{ background-color: #FFF; border-bottom: 1px solid #e1e1e1; height: 32px; line-height: 32px; color: red;}

.box_top .contact .hotline {margin-right: 35px; float: left; font-size: 12px; font-weight: 500;}

.box_top .contact .hotline a{ color: red;}

.box_top .contact .hotline a:HOVER{ color: #000;}

.box_top .contact .hotline a i{ margin-right: 2px;}

.box_top .contact:AFTER{ content: ""; display: block; clear: both;}

.box_top .social{ text-align: right; float: right;}

.box_top .social a{ color: #4c607d; display: inline-block; width: 32px; height: 32px; border-right: 1px solid #e1e1e1; text-align: center; font-size: 13px; float: right;}

.box_top .social a:HOVER{ color: #000;}

.box_top .social a:LAST-CHILD{ border-left: 1px solid #e1e1e1;}

.box_top .social:AFTER{ content: ""; display: block; clear: both;}



.box_header{ background-color: #FFF; width: 100%; top: 0; left: 0; z-index: 99999; position: relative; height: 70px;}

.box_header .container{ position: relative;}

.box_header .logo{ display: inline-block; margin-top: 20px; line-height: 100%;}

.box_header .menu{ padding: 18px 0 0; list-style: none; float: right; margin: 0;}

.box_header .menu li{ display: inline-block; padding-left: 20px; text-align: center; vertical-align: middle;}

.box_header .menu li a{ font-size: 15px; color: #fff; padding: 8px 0 6px; display: inline-block; text-transform: uppercase;}

/*.box_header .menu li a.active{ color: #fff; font-weight: 600; background: #D39E42; }*/

.box_header .menu li a:hover{ color: #fff; font-weight: 600; background: #D39E42; }

.box_header .menu li a.btn_book{ display: inline-block; background: #CF2027; color: #FFF; padding: 0; width: 120px; height: 35px; line-height: 35px; font-weight: 500;}

/*.box_header .menu li a.btn_book.active{ background-color: #202b53;}*/

.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}

.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}

.box_header .container .row .hotline{display: none;}



.box_header.sticky{ position: fixed; top: 0px; z-index: 99999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }

.box_header.sticky .menu li a.last{ padding-right: 20px;}

.box_header.sticky .container .row .hotline{display: block; margin-top: 25px; color: red;}

.box_header.sticky .container .row .hotline a{color: red;}

.box_header.sticky .box_user{ display: block; padding: 10px 0 0;}

.box_header.sticky .box_user li a{ display: inline-block; padding: 5px 20px; color: #404041; font-size: 13px; font-weight: 600; height: auto; line-height: normal;}

.box_header.sticky .box_user li a:hover{ color: #0088cc;}

.box_header.sticky .box_user_login{ display: block;}

.box_header.sticky .box_user_login .dropdown-toggle{ background: none !important; height: 50px; line-height: 50px; margin: 0 0 0 20px;}

.box_header.sticky .box_user_login .dropdown-toggle:focus{ background: none;}

.box_header.sticky .box_user_login .dropdown-toggle:hover{ background: none;}

.box_header.sticky .box_user_login .dropdown-toggle img{ vertical-align: top; margin-top: 5px;}

.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:BEFORE{ right: 12px;}

.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:AFTER{ right: 13px;}

.box_header.sticky .box_user_login.navbar-nav>li>a{ padding: 15px 20px;}

.box_header.sticky .box_user_login.navbar-nav>li>a:hover{ background: none; color: #000;}



.box_banner .image img { width: 100%;}



.benefit {width: 100%; height: auto; background-image: url(../images/loiich/bg-loiich.png); background-size: cover; background-repeat: no-repeat; text-align: center; padding: 195px 0; }

.benefit .title-benefit {font-size: 40px; }

.benefit .benefit-content {width: 100%; margin: 50px 0px 60px 0px; display: inline-block; }

.benefit .benefit-content .benefit-content-item {text-align: justify; margin: 0 20px; }

.benefit .benefit-content .benefit-content-item .icon{display: block; margin: 0 auto; }

.benefit .benefit-content .benefit-content-item .content {font-family: Roboto-Regular; font-size: 16px; font-weight: 600; padding: 20px 10px; }



.box_noiDung {background: url(../images/noidungkh/bg-noidung.png) no-repeat top center; background-size: cover;}

.box_noiDung .col-sm-4, .box_noiDung .col-sm-8, .box_noiDung .col-sm-3, .box_noiDung .col-sm-9{padding: 0;}

.box_noiDung .container{width: 1260px; max-width: 100%;}

.box_noiDung .box_title {height: 230px; text-align: center; background: url(../images/icon-1.png) no-repeat center left; background-size: contain; text-transform: uppercase; color: #1a2b52; font-family: UTM Alexander; font-size: 38px; display: flex; justify-content: center; align-items: center; }

.box_noiDung .box_content .img_1{text-align: right; padding-right: 25px;}

.box_noiDung .content .item{display: flex; padding: 50px 0; position: relative;}

.box_noiDung .content .item:before{position: absolute; content: ""; width: 20px; height: 100px; top: 60px; left: 158px; background: url("../images/icon-16.png") no-repeat center ;}

.box_noiDung .content .item_2:before{position: absolute; content: ""; width: 5px; height: 165%; top: -50%; left: 166px; background: #d39e42;}

.box_noiDung .content .item_3:before{position: absolute; content: ""; width: 5px; height: 100%; top: 40px; left: 166px; background: #d39e42;}

.box_noiDung .content .item_4:before{position: absolute; content: ""; width: 5px; height: 100%; top: 40px; left: 166px; background: #d39e42;}

.box_noiDung .content .item_5:before{position: absolute; content: ""; width: 5px; height: 40%; top: 40px; left: 166px; background: #d39e42;}

.box_noiDung .content .item .img{text-align: right;}

.box_noiDung .content .item .value{ background: url(../images/icon-6.png) no-repeat top left; }

.box_noiDung .content .item_2 .value{background: url(../images/icon-7.png) no-repeat top left; }

.box_noiDung .content .item_3 .value{background: url(../images/icon-8.png) no-repeat top center; background-size: cover;}

.box_noiDung .content .item_4 .value{background: url(../images/icon-14.png) no-repeat top left; background-size: cover;}

.box_noiDung .content .item_5 .value{background: url(../images/icon-14.png) no-repeat top left; }

.box_noiDung .content .item .value .title{text-align: center; color: #fff; font-family: "UTM Alexander"; font-size: 18px;padding-top: 11px;padding-left: 56px;padding-right: 27px;line-height: 22px;}

.box_noiDung .content .item:nth-child(2) .value .title{text-align: center; color: #fff; font-family: "UTM Alexander"; font-size: 19px;padding-top: 5px;padding-left: 52px;padding-right: 35px;line-height: 22px;}

.box_noiDung .content .item .value .text{padding: 50px 50px 15px 100px; font-size: 16px; font-family: "Roboto-Regular";}

.box_noiDung .content .item .value .text .title-child {text-align: center; font-weight: 600}

.box_noiDung .content .item:nth-child(2) .value .text{padding: 35px 50px 15px 100px; font-size: 16px; font-family: "Roboto-Regular";}
.box_noiDung .content .item_3 .value .title{padding-top: 40px;}
.box_noiDung .content .item:nth-child(3) .value .text{padding-top: 65px;}

.box_noiDung .content .item .value .text .text_item{padding-bottom: 2px; position: relative;}

.box_noiDung .content .item .value .text .text_item:before{position: absolute; content: ""; width: 10px; height: 10px; border-radius: 50%; background: #d39e42; top: 5px; left: -25px;}

.box_noiDung .content .item_2 .value .text .text_item:before{background: #927846;}

.box_noiDung .content .item_3 .value .text .text_item:before{background: #52524b;}

.box_noiDung .content .item_4 .value .text .text_item:before{background: #122b4e;}

.box_noiDung .content .item_5 .value .text .text_item:before{background: #122b4e;}



.content-coutes-items { background: url(../images/icon-1.png) no-repeat top left; }



.bottom-course {width: 100%; height: auto; background-color: #122b4e; color: #ffffff; padding: 30px 10% 60px 10%; display: inline-block; }

.bottom-course .bottom-course-item {width: 16%; margin: 0 2%; float: left; }

.bottom-course .bottom-course-item .title-bottom-coures {font-family: UTM Alexander; font-size: 30px; }

.bottom-course .bottom-course-item .derc-bottom-coures {font-family: Roboto-Regular; margin-top: 30px; text-align: justify; }



.evaluate {background: url(../images/danhgia/bg-danhgia.png) no-repeat top center; background-size: cover; padding: 185px 0; }

.evaluate .face-evaluate {padding: 60px 0; display: inline-block; }



.evaluate .face-evaluate .item-face-valuate img {width: 100%; }

.evaluate .face-evaluate .item-face-valuate .content-evaluate {color: #1a2b52; }

.evaluate .face-evaluate .item-face-valuate .content-evaluate .name {font-family: Roboto-Bold; }

.evaluate .face-evaluate .item-face-valuate .content-evaluate .ponsition {font-family: Roboto-Regular; }



.success-story {background-image: url(../images/ccthanhcong/bg-thcong.png); background-repeat: no-repeat; background-size: cover; padding: 60px 20%; }

.success-story .slide-success-story {padding: 80px 0; display: block; }

.success-story .slide-success-story .carousel .carousel-inner .carousel-item .item-slide-success .derc-slide {color: #1a2b52; }

.success-story .slide-success-story .carousel .carousel-inner .carousel-item .item-slide-success .derc-slide .name {font-family: UTM Alexander; }

.success-story .slide-success-story .carousel .carousel-inner .carousel-item .item-slide-success .derc-slide .ponsition {font-family: Roboto-Regular; }



.box_dienGia { background: url(../images/alok/bg-alok.png) no-repeat top center; padding: 200px 0 0 0; }

.box_dienGia .container .col-md-7 { font-family: 'Roboto-Regular'; font-size: 16px; font-weight: bold; color: #fff; }

.box_dienGia .box_content_detail .speaker-name { font-size: 68px; font-family: 'UTM Alexander', sans-serif; color: #fff; text-transform: uppercase; position: relative; }

.box_dienGia .box_content_detail .speaker-name:after { position: absolute; content: ""; width: 700px; height: 10px; bottom: -5px; left: -20px; background: #d39e42; }

.box_dienGia .box_content_detail .speaker-about { padding: 20px 0; }

.box_dienGia .box_content_detail .speaker-detail { padding-bottom: 50px; }

.box_dienGia .box_content_detail .speaker-detail .item { position: relative; padding-bottom: 5px; padding-left: 20px; }

.box_dienGia .box_content_detail .speaker-detail .item:after { position: absolute; content: ""; width: 8px; height: 8px; top: 8px; left: 0; background: #d39e42; border-radius: 50%; }

.box_dienGia .box_dienGia_col_12 { padding-bottom: 150px; }

.box_dienGia .speaker-alok img { width: 60%; }

.box_dienGia .speaker-alok-video { padding-top: 100px; }

.box_dienGia .speaker-alok-video .image { background: url("../images/Ts.Alok_TalkVN_TKVH.png") no-repeat center center; background-size: cover; width: 95%; height: 280px; }



.button-register {width: 385px; display: flex; margin: 0 auto; }



.button-register .btn-register {width: 100%; color: #ffffff; font-size: 38px; background-color: #cf2027; border: 0px; padding: 5px 0; text-transform: uppercase; font-family: UTM Alexander; }

.bodder-class {width: 100%; border: 2px solid #1b2b52; padding: 5px; }

.title-bodder-double {color: #ffffff; font-size: 40px; text-transform: uppercase; background-color: #1b2b52; padding: 38px 0; font-family: UTM Alexander; text-align: center; }



.box_thongTinKhoaHoc { background: url(../images/bg-thongTinKhoaHoc.jpg) no-repeat center; background-size: cover; padding-top: 200px; }

.box_thongTinKhoaHoc .border_title { border: 3px solid #1b2b52; padding: 8px; margin-bottom: 75px; }

.box_thongTinKhoaHoc > .container .col-md-5, .col-md-6, .col-md-12, .col-md-3 { padding: 0; }

.box_thongTinKhoaHoc .thongTinKhoaHoc_tieuDe { font-family: "UTM Alexander", Roboto, sans-serif; font-size: 40px; text-transform: uppercase; background: #1b2b52; padding: 38px; color: #fff; text-align: center; }

.box_thongTinKhoaHoc .container { padding-bottom: 200px; }

.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_detail { display: flex; flex-direction: row; justify-content: center; align-items: center; margin-bottom: 40px; }

.box_thongTinKhoaHoc .thongTinKhoaHoc_content .infor { color: #1b2b52; font-family: "Roboto-Regular", sans-serif; font-size: 20px; border: 2px solid #1b2b52; padding: 20px 20px; }

.box_thongTinKhoaHoc .thongTinKhoaHoc_content .location { color: #1b2b52; font-family: "Roboto-Bold", sans-serif; font-size: 20px; }

.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right { color: #1b2b52; }

.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right .hocPhi { font-family: "Roboto-Bold", sans-serif; font-size: 20px; text-align: center; padding-bottom: 30px; }

.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right .uuDai { font-family: "Roboto-Bold", sans-serif; font-size: 25px; text-align: center; }

.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right .giaVe { font-family: "Roboto-Regular", sans-serif; font-size: 16px; text-align: center; padding: 40px 0; }

.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right .hotLine { font-family: "Roboto-Bold", sans-serif; font-size: 16px; padding-bottom: 40px; }

.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right .note { font-family: "Roboto-Regular", sans-serif; font-size: 16px; font-style: italic; padding-bottom: 50px; }



.box_formDangKy { background: url(../images/bg-formDangKy.jpg) no-repeat center; background-size: cover; padding-top: 220px; }

.box_formDangKy .border_title { border: 3px solid #fff; padding: 8px; margin-bottom: 85px; }

.box_formDangKy .formDangKy_title { font-family: "UTM Alexander", Roboto, sans-serif; font-size: 40px; text-transform: uppercase; background: transparent; padding: 38px; color: #fff; text-align: center; border: 3px solid #fff; }

.box_formDangKy .formDangKyNgay .price_left { font-family: "Roboto-Bold"; font-size: 25px; color: #fff; border: 3px solid #fff; border-right: none; padding: 20px 0; }

.box_formDangKy .formDangKyNgay .price_right { background-color: #d39e42; font-family: "Roboto-Bold"; font-size: 25px; color: #fff; border: 3px solid #d39e42; padding: 20px 0; }

.box_formDangKy .formDangKyNgay .price_title { color: #fff; padding: 70px 0; font-family: "Roboto-Regular"; font-size: 25px; text-align: center; }

.box_formDangKy .form-control { border-radius: 0; padding-left: 45px; height: 50px; }

.box_formDangKy .form-group { margin-bottom: 10px; }

.box_formDangKy .form-group select { color: #163052; font-size: 20px; font-family: "Roboto-Light"; }

.box_formDangKy .form-control::placeholder { color: #163052; font-size: 20px; font-family: "Roboto-Light"; }

.box_formDangKy .number_left { padding-left: 0; }

.box_formDangKy .price2_right { padding-right: 0; }

.box_formDangKy .end_sales { color: #58595b;}

.box_formDangKy .end_sales .title { color: #58595b; font-size: 26px; font-weight: 700; text-align: center;}

.box_formDangKy .end_sales .title span{ color: #ad1933;}

.box_formDangKy .end_sales .price{ text-align: center; font-size: 40px; padding: 30px 0; color: #ad1933; font-weight: 600;}

.box_formDangKy .end_sales .price .old{ text-decoration: line-through; color: #999; font-size: 20px;}

.box_formDangKy .end_sales .apdung{ text-align: center; font-size: 26px;}

.box_formDangKy .end_sales .thoigian{ text-align: center; font-size: 20px; padding: 32px 0 20px;}

.box_formDangKy .end_sales .clock{ margin: 0 auto; text-align: center;}

.box_formDangKy .end_sales .clock:after{ content: ""; display: block; clear: both;}

.box_formDangKy .end_sales .clock .boxe{ font-family: "Roboto-Bold"; font-size: 17px; width: 70px; height: 95px; text-align: center; background: #fff; color: #303753; display: inline-block; margin-left: 10px; border-radius: 5px; }

.box_formDangKy .end_sales .clock .boxe:FIRST-CHILD{ margin-left: 0;}

.box_formDangKy .end_sales .clock .boxe span{ font-size: 44px; display: block; height: 60px; line-height: 60px; font-weight: 700;}

.box_formDangKy .container_box { padding-bottom: 260px; }



.box_cauHoiThuongGap { background: url(../images/bg-cauHoiThuongGap.jpg) no-repeat center; background-size: cover; padding-top: 170px; }

.box_cauHoiThuongGap .border_title { border: 3px solid #1b2b52; padding: 8px; margin-bottom: 40px; }

.box_cauHoiThuongGap .cauHoiThuongGap_tieuDe { font-family: "UTM Alexander", Roboto, sans-serif; font-size: 40px; text-transform: uppercase; background: #1b2b52; padding: 38px; color: #fff; text-align: center; }

.box_cauHoiThuongGap .container .content_main { padding-bottom: 30px; }

.box_cauHoiThuongGap .content_left { background: url(../images/line-left.png) no-repeat top left; left: 0; top: 0; }

.box_cauHoiThuongGap .content_left .question { padding-left: 70px; }

.box_cauHoiThuongGap .content_left .question .question_name .q_title { font-size: 16px; font-family: "Roboto-Bold"; color: #1b2b52; padding: 10px 0; }

.box_cauHoiThuongGap .content_left .question .question_name .q_text { font-size: 16px; font-family: "Roboto-Light"; color: #1b2b52; padding-bottom: 10px; }

.box_cauHoiThuongGap .content_left .question .question_answer .a_title { font-size: 16px; font-family: "Roboto-Bold"; color: #1b2b52; padding-bottom: 10px; }

.box_cauHoiThuongGap .content_left .question .question_answer .a_text { font-size: 16px; font-family: "Roboto-Bold"; color: #1b2b52; }

.box_cauHoiThuongGap .content_left .question .question_answer .image_01 { background: url(../images/Ts.Alo_Cauhoi1.png) no-repeat center center; background-size: cover; width: 95%; height: 280px; }

.box_cauHoiThuongGap .content_left .question .question_answer .image_03 { background: url(../images/Ts.Alo_Cauhoi3.png) no-repeat center center; background-size: cover; width: 95%; height: 280px; }

.box_cauHoiThuongGap .content_right { background: url(../images/line-left.png) no-repeat top left; left: 0; top: 0; }

.box_cauHoiThuongGap .content_right .question { padding-left: 70px; }

.box_cauHoiThuongGap .content_right .question .question_name .q_title { font-size: 16px; font-family: "Roboto-Bold"; color: #1b2b52; padding: 10px 0; }

.box_cauHoiThuongGap .content_right .question .question_name .q_text { font-size: 16px; font-family: "Roboto-Light"; color: #1b2b52; padding-bottom: 10px; }

.box_cauHoiThuongGap .content_right .question .question_answer .a_title { font-size: 16px; font-family: "Roboto-Bold"; color: #1b2b52; padding-bottom: 10px; }

.box_cauHoiThuongGap .content_right .question .question_answer .a_text { font-size: 16px; font-family: "Roboto-Bold"; color: #1b2b52; }

.box_cauHoiThuongGap .content_right .question .question_answer .image_02 { background: url(../images/Ts.Alo_Cauhoi2.png) no-repeat center center; background-size: cover; width: 95%; height: 280px; }

.box_cauHoiThuongGap .content_right .question .question_answer .image_04 { background: url(../images/Ts.Alo_Cauhoi4.png) no-repeat center center; background-size: cover; width: 95%; height: 280px; }

/*.box_cauHoiThuongGap .btnDangBoLoKhoaHoc { padding-bottom: 200px; }*/

.box_cauHoiThuongGap .button-register {width: 450px; display: flex; margin: 0 auto; margin-bottom: 70px; }

.box_cauHoiThuongGap .button-register .btn-register {width: 100%; color: #ffffff; font-size: 38px; background-color: #cf2027; border: 0px; padding: 5px 0; text-transform: uppercase; font-family: UTM Alexander; }



.box_camNhanHocVien { background: url(../images/bg-camNhanHocVien.jpg) no-repeat center; padding-bottom: 70px;}

.box_camNhanHocVien .border_title { border: 3px solid #1b2b52; padding: 8px; margin-bottom: 70px; }

.box_camNhanHocVien .box_content { background: url(../images/bg-lineStudent.jpg) no-repeat top center; background-size: contain; display: flex;}

.box_camNhanHocVien .box_content .item{padding: 15px 30px;}

.box_camNhanHocVien .box_content .item_1{padding-left: 45px; padding-right: 15px;}

.box_camNhanHocVien .box_content .item_2{padding-right: 10px;}

.box_camNhanHocVien .box_content .item_3{padding-left: 40px;}

.box_camNhanHocVien .box_content .item .img img{ width: 100%; }

.box_camNhanHocVien .box_content .item_2 .img{padding-bottom: 15px;}

.box_camNhanHocVien .box_content .item .value{font-family: "Roboto-LightItalic"; font-size: 14px; text-align: justify;}

.box_camNhanHocVien .box_content .item .value .title{font-size: 20px; font-family: "Roboto-Bold"; color: #1b2b52;}

.box_camNhanHocVien .box_content .item .value .text{padding-top: 15px;}

.box_camNhanHocVien .box_content .button-register{width: 100%;}

.box_camNhanHocVien .camNhanHocVien_tieuDe { font-family: "UTM Alexander", Roboto, sans-serif; font-size: 40px; text-transform: uppercase; background: #1b2b52; padding: 38px; color: #fff; text-align: center; }

.box_camNhanHocVien .mai-anh-img-top { display: none; }



.box_baoChi { background: #fff; }

.box_baoChi .border_title { border: 3px solid #1b2b52; padding: 8px; margin-bottom: 40px; }

.box_baoChi .baoChi_tieuDe { font-family: "UTM Alexander", Roboto, sans-serif; font-size: 40px; text-transform: uppercase; background: #1b2b52; padding: 38px; color: #fff; text-align: center; }

.box_baoChi .baoChi_news .col-md-3 img { cursor: pointer; }



.box_student .button-register_student { margin-bottom: 260px; }

.box_student .border_title { border: 3px solid #1b2b52; padding: 8px; margin-bottom: 90px; margin-top: 200px; }

.box_student .box_student_tieuDe { font-family: "UTM Alexander", Roboto, sans-serif; font-size: 40px; text-transform: uppercase; background: #1b2b52; padding: 38px; color: #fff; text-align: center; }

.box_student { background: url("../images/bg-student.jpg") no-repeat top center; background-size: cover;}

.box_student .box_title .title{ display: none; /*text-align: center; color: #FFF; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 50px;*/}

.box_student .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 50%; width: 50px; height: 5px; margin-left: -25px; background: -webkit-linear-gradient(left, #0039ae 25%,#7db9e8 100%);}

.box_student .item{min-height: 280px;}

.box_student .item .fa{position: absolute; font-size: 50px; color: #fff; top: 50%; left: 50%; margin: -25px 0 0 -25px; }

.box_student .item .image{ margin-bottom: 12px; text-align: center; padding-top: 20px;}

.box_student .item .image img{ width: auto; display: inline-block; width: 100%;}

.box_student .item .name{ font-size: 15px; font-weight: 500; text-transform: uppercase; text-align: center; margin-bottom: 2px; color: #0f2a51;}

.box_student .item .info{ color: #a1a1a1; font-size: 13px; text-align: center;}

.box_student .item .content{ font-size: 14px; padding-top: 20px;}

.box_student .bx-wrapper { position: relative; padding-bottom: 0;}

.box_student .bx-wrapper .bx-pager.bx-default-pager a{ background-color: #FFF; width: 12px; height: 12px; display: inline-block; text-indent: -99999px; margin: 0 8px; border: 0; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; border-radius: 50% !important;}

.box_student .bx-wrapper .bx-pager.bx-default-pager a:hover, 

.box_student .bx-wrapper .bx-pager.bx-default-pager a.active{ background-color: #d3a23b;}

.box_student .bx-wrapper .bx-viewport{ max-height: 520px;}

.box_student .bx-pager{ display: none; position: absolute; bottom: 0px; left: 0; width: 100%; margin: 0; padding: 0; text-align: center; z-index: 999;}

.box_student .bx-pager-item{ display: inline-block;}

.box_student .bx-controls-direction{display: contents; position: absolute; top: 13px; right: 0; z-index: 9999;}

.box_student .bx-controls-direction a{ display: inline-block; width: 20px; height: 20px; margin-top: 0; text-indent: -99999px; overflow: hidden;}

.box_student .bx-controls-direction a.bx-prev, 

.box_student .bx-controls-direction a.bx-prev:hover{ background: url("../images/prev.png") no-repeat center center; background-size: 100%; margin-right: 30px; position: absolute; top: 40%; margin-top: -10px; right: 100%;}

.box_student .bx-controls-direction a.bx-next,

.box_student .bx-controls-direction a.bx-next:hover{ background: url("../images/next.png") no-repeat center center; background-size: 100%; left: auto; position: absolute; top: 40%; margin-top: -10px; right: -4%;}

.box_student .item a{display: block; position: relative;}



.box_images{ overflow: hidden; background: #fff;}

.box_images img{ width: 100%; transform: scale(1); transition: transform .5s;}

.box_images img:hover{ transform: scale(1.2); position: relative; z-index: 1;} 

.box_images table{ width: 100%;} 

.box_images table td{ padding: 2px; overflow: hidden;} 

.box_images table div{ overflow: hidden;} 



.btnAfterAlbum { background: #1b2b52; padding: 30px 0 90px 0; }



.box_comment{ padding: 40px 0; background: #fff;}

.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {min-width: 100% !important;}



.box_footer{ padding: 60px 0 60px; position: relative; background: #071831; color: #FFF;}

.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}

.box_footer .wrap{ margin: 0 -15px;}

.box_footer .col{ float: left; padding: 0 15px; font-size: 14px;}

.box_footer .col-1 .logo{ margin-bottom: 18px;}

.box_footer .col-1 .slogan{ margin-bottom: 15px; padding-bottom: 15px; position: relative;}

.box_footer .col-1 .slogan:before{position: absolute; content: ""; width: 70px; height: 5px; background: #fff; bottom: 0; left: 0;}

.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}

.box_footer .col-1 .address .fa{ width: 16px;}

.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}

.box_footer .col-1 .hotline .fa{ width: 16px;}

.box_footer .col-1 .social {padding-top: 10px;}

.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}

.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}

.box_footer .col-4 .langtech .title{font-size: 16px; text-transform: uppercase; font-weight: 500; padding: 20px 0;}

.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #d3a23b; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}

.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #C9353D;}

.box_footer a{ color: #FFF;}

.box_footer a:HOVER{ color: #d3a23b;}



.box_dangKyTuVan { display: none; }



.btn_Dangky{width: 70px; background: #eb1c3b; padding: 15px; position: fixed; top: 50%; margin-top: -35px; text-align: center; font-size: 17px; font-weight: bold; text-transform: uppercase; color: #fff; border-radius: 10px 0 0 10px; height: auto; right: 0;}

.btn_Dangky:hover{cursor: pointer; background: #0e0e1a; transition: color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}



.box_menuFooter ul{ margin: 0; padding: 0; list-style: none;}

.box_menuFooter ul>li{ display: block;}

.box_menuFooter ul>li>a{ text-transform: uppercase; margin-bottom: 5px; display: block; font-size: 13px;}

.box_menuFooter ul>li>ul{ display: none;}



.box_adsFooter{ overflow: hidden; margin-right: 40px;}

.box_adsFooter a{ display: inline-block; font-size: 10px; padding: 5px 10px 3px; border: 1px solid #FFF; border-radius: 14px; text-transform: uppercase; margin: 0 5px 5px 0;}

.box_adsFooter a:HOVER{ background-color: #FFF; color: #071831 !important;}



.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}

.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}

.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}

.has-error .form-control{border: 1px solid #ec1c3c;}



.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }

.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }



.modal-dialog{top: 30%;}

.modal-header{border: 0;}

.modal-dialog .modal-body p{text-transform: uppercase; text-align: center; color: #01234f; font-size: 20px; padding: 5px 20px; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s;}

.modal-dialog .modal-body p:hover a{color: #bb0000;}

.modal-dialog .modal-body .hotline{font-weight: 900;}

.modal-dialog .modal-body a span{font-weight: 700;}



/* Defined */

@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }



@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }



iframe[name="google_conversion_frame"]{ height: 0;}



/*RESPONSIVE*/





@media ( max-width : 1200px){

}



@media ( min-width : 1200px) {

  	.popup_video .popup_content{ width: 60%;}

}



@media ( max-width : 1000px) {

	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}



	.box_header{ height: 43px; position: fixed; border: 0; padding: 0 0 10px 0; top: 32px; z-index: 100000000; display: inline-table;}

	.box_header.sticky{ position: fixed; top: 0px; z-index: 9999999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }

	.box_header .container{ position: relative;}

	.box_header .logo{ margin-top: 12px !important;}

	.box_header .logo img{ height: 20px;}

	.box_header .menu_mobile{ top: 7px; width: auto;}

	.box_header .menu_mobile .menu-item{padding-top: 5px;}

	.box_header .menu_mobile .hotline{font-size: 11px; color: red;}

	.box_header .menu_mobile .hotline a{color: red;}

	.box_header .menu_mobile a{display: inline-block;}

	.box_header .menu_mobile .btn_book{margin: 0 8px;}

	.box_header .menu_mobile .btn_book{background-color: #CF2027; color: #FFF; text-align: center; padding: 0; width: 120px; height: 30px; line-height: 28px; font-weight: normal;}

	.box_header .menu_mobile a .item{ background-color: #999; width: 30px;display: grid;}

	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 60%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}

	.box_header .menu li{ display: block; padding: 15px 20px;}

	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}

	.box_header .menu li a:hover{ color: #FFF;}

	.box_header .menu li a.my_btn{ font-size: 16px;}

	.box_header .menu li:first-child{ padding-left: 20px; }

	.box_header .menu{ margin: 0 !important;}

	.box_loiich {background: #fff;}



	.popup_video .popup_content{ width: calc(100% - 40px); top: 10%;}



	.box_student .item{padding: 0 25px;}

	.box_student .bx-controls-direction a.bx-next, .box_student .bx-controls-direction a.bx-next:hover{right: -1%;}

	.box_student .bx-controls-direction a.bx-prev, .box_student .bx-controls-direction a.bx-prev:hover{right: 90%;}

}



@media ( max-width : 768px) {

	.container { padding: 0; }

	.button-register { width: 70%; padding: 3px; }

	.button-register .btn-register { font-size: 20px; }

	.box_header.sticky{ padding: 0px;}

	.slick-dots{ display: none;}

	.box_banner { margin-top: 45px; }



	.benefit_container { padding: 0 10px; }



	.benefit .title-benefit { font-size: 18px; }

	.title-bodder-double { padding: 10px; }

	.bodder-class { padding: 3px; }



	.evaluate { padding: 30px 0; }

	.evaluate .title-bodder-double { font-size: 18px; }

	.evaluate .face-evaluate { padding: 30px 0; display: block; }

	.evaluate .face-evaluate .item-face-valuate .content-evaluate { text-align: center; padding-bottom: 10px; }



	.box_student .box_student_tieuDe { font-size: 18px; padding: 10px 0; }

	.box_student .border_title { padding: 3px; margin-bottom: 30px; margin-top: 30px; border: 2px solid #1b2b52; }

	.box_student .button-register_student { margin-bottom: 50px; }



	.box_dienGia { background: none; padding: 10px 0; }

	.box_dienGia .box_content_detail .speaker-name { font-size: 23px; color: #1b2b52; text-align: center; }

	.box_dienGia .box_content_detail .speaker-about { font-size: 16px; color: #1b2b52; }

	.box_dienGia .box_content_detail .speaker-detail { font-size: 16px; color: #1b2b52; }

	.box_dienGia .box_dienGia_col_12 { padding-bottom: 10px; }

	.box_dienGia .speaker-alok-video { padding: 30px 0; }

	.box_dienGia .speaker-alok-video .image { width: 100%; height: 250px; }



	.box_thongTinKhoaHoc { padding-top: 20px; }

	.box_thongTinKhoaHoc .container { padding: 0; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_tieuDe { font-size: 18px; padding: 10px 0; }

	.box_thongTinKhoaHoc .border_title { margin-bottom: 10px; padding: 2px 3px; }

	/*.box_thongTinKhoaHoc > .container .col-md-5, .col-md-6, .col-md-3 { padding: 0 10px; }*/

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_detail { display: block; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .infor { padding: 10px 10px; font-size: 17px; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .location { font-size: 18px; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_detail { margin-bottom: 20px; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right .hocPhi { padding-bottom: 20px; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right .uuDai { font-size: 20px; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right .giaVe { padding: 20px 0; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right .hotLine { padding-bottom: 20px; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right .note { padding-bottom: 20px; }



	.box_formDangKy { padding-top: 0; }

	.box_formDangKy .formDangKy_title { font-size: 18px; padding: 10px 0; border: 2px solid #fff; }

	.box_formDangKy .border_title { border: 2px solid #fff; }



	.box_formDangKy .formDangKyNgay .price_title { padding: 20px 0; }

	.box_formDangKy .formDangKyNgay .price_left { border: 2px solid #fff; }

	.box_formDangKy .formDangKyNgay .mainForm { padding-top: 30px; }

	.box_formDangKy .number_left { padding-left: 0; padding-right: 0; }

	.box_formDangKy .price2_right { padding-right: 0; padding-left: 0; }

	.box_formDangKy .formDangKyNgay .price_right { margin: 0 10px; }

	.box_formDangKy .formDangKyNgay .price_left { margin: 0 10px; }

	.box_formDangKy .container { padding-bottom: 20px; }

	.box_formDangKy .container_box { padding-bottom: 20px; }



	.box_cauHoiThuongGap { padding-top: 30px; }

	.box_cauHoiThuongGap .border_title { padding: 3px; margin-bottom: 20px; }

	.box_cauHoiThuongGap .cauHoiThuongGap_tieuDe { font-size: 18px; padding: 10px 0; }

	.box_cauHoiThuongGap .btnDangBoLoKhoaHoc { padding-bottom: 20px; }

	.box_cauHoiThuongGap .btnDangBoLoKhoaHoc img { max-width: 80%; }

	.box_cauHoiThuongGap .content_left .question .question_answer .image_01 { width: 100%; height: 210px; }

	.box_cauHoiThuongGap .content_left .question .question_answer .image_03 { width: 100%; height: 210px; }

	.box_cauHoiThuongGap .content_right .question .question_answer .image_02 { width: 100%; height: 210px; }

	.box_cauHoiThuongGap .content_right .question .question_answer .image_04 { width: 100%; height: 210px; }



	.box_camNhanHocVien .border_title { margin-bottom: 20px; padding: 3px; border: 2px solid #1b2b52; }

	.box_camNhanHocVien .camNhanHocVien_tieuDe { font-size: 18px; padding: 10px 0; }



	.box_baoChi .border_title { margin-bottom: 20px; padding: 3px; border: 2px solid #1b2b52; }

	.box_baoChi .baoChi_tieuDe { font-size: 18px; padding: 10px 0; }

	.box_baoChi .baoChi_news .col-md-3 {width: 50%; float: left;}

	.box_baoChi .baoChi_news img { max-width: 100%; }



	.box_footer .container { padding: 0 10px; }



}



@media(max-width:480px){

	.container { padding: 0; }

	.button-register { width: 70%; padding: 3px; }

	.button-register .btn-register { font-size: 20px; }

	.box_header.sticky{ padding: 0px;}

	.slick-dots{ display: none;}

	.box_banner { margin-top: 45px; }



	.benefit { padding: 10px 0; }

	.benefit .title-benefit { font-size: 18px; }

	.title-bodder-double { padding: 10px; }

	.bodder-class { padding: 3px; }



	.evaluate { padding: 30px 0; }

	.evaluate .title-bodder-double { font-size: 18px; }

	.evaluate .face-evaluate { padding: 30px 0; display: block; }

	.evaluate .face-evaluate .item-face-valuate .content-evaluate { text-align: center; padding-bottom: 10px; }



	.box_student .box_student_tieuDe { font-size: 18px; padding: 10px 0; }

	.box_student .border_title { padding: 3px; margin-bottom: 30px; margin-top: 30px; border: 2px solid #1b2b52; }

	.box_student .button-register_student { margin-bottom: 50px; }



	.box_noiDung .box_content { padding: 0 10px; }

	.box_noiDung .box_content .img_1 { display: none; }

	.box_noiDung .content .item.item_1 .col-sm-4  { display: none; }

	.box_noiDung .content .item.item_2 .col-sm-4  { display: none; }

	.box_noiDung .content .item.item_3 .col-sm-4  { display: none; }

	.box_noiDung .content .item.item_4 .col-sm-4  { display: none; }

	.box_noiDung .content .item.item_5 .col-sm-4  { display: none; }

	.box_noiDung .content .item_1:before { display: none; }

	.box_noiDung .content .item_2:before { display: none; }

	.box_noiDung .content .item_3:before { display: none; }

	.box_noiDung .content .item_4:before { display: none; }

	.box_noiDung .content .item_5:before { display: none; }

	.box_noiDung .content .item .value { background: none; }

	.box_noiDung .content .item { border: 1px solid #1A2B52; margin-bottom: 10px; }

	.box_noiDung .content .item .value .title { font-size: 21px; color: #1A2B52; }

	.box_noiDung .content .item:nth-child(2) .value .title { font-size: 21px; color: #1A2B52; }

	.box_noiDung .content .item .value .text { padding: 20px 40px; }

	.box_noiDung .content .item:nth-child(2) .value .text { padding: 20px 40px; }

	.box_noiDung .content .item { padding: 20px 0; }

	.box_noiDung .box_title { font-size: 18px; height: 150px; }

	.box_noiDung .content .item .value .text .text_item { font-weight: 700; }



	.box_dienGia { background: none; padding: 10px 0; }

	.box_dienGia .box_content_detail .speaker-name { font-size: 23px; color: #1b2b52; text-align: center; }

	.box_dienGia .box_content_detail .speaker-about { font-size: 16px; color: #1b2b52; padding: 0 10px; }

	.box_dienGia .box_content_detail .speaker-detail { font-size: 16px; color: #1b2b52; padding: 0 10px; padding-bottom: 20px; }

	.box_dienGia .box_dienGia_col_12 { padding-bottom: 10px; }

	.box_dienGia .box_content_detail .speaker-name:after { display: none; }

	.box_dienGia .speaker-alok-video { padding: 30px 0; }

	.box_dienGia .speaker-alok-video .image { width: 100%; height: 250px; }



	.box_thongTinKhoaHoc { padding-top: 20px; }

	.box_thongTinKhoaHoc .container { padding: 0; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_tieuDe { font-size: 18px; padding: 10px 0; }

	.box_thongTinKhoaHoc .border_title { margin-bottom: 10px; padding: 2px 3px; }

	/*.box_thongTinKhoaHoc > .container .col-md-5, .col-md-6, .col-md-3 { padding: 0 10px; }*/

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_detail { display: block; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .infor { padding: 10px 10px; font-size: 17px; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .location { font-size: 18px; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_detail { margin-bottom: 20px; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right .hocPhi { padding-bottom: 20px; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right .uuDai { font-size: 20px; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right .giaVe { padding: 20px 0; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right .hotLine { padding-bottom: 20px; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content .content_right .note { padding-bottom: 20px; }

	.box_thongTinKhoaHoc .btnTTKH { padding-bottom: 20px; }

	.box_thongTinKhoaHoc .thongTinKhoaHoc_content { padding: 0 10px; }



	.box_formDangKy { padding-top: 0; }

	.box_formDangKy .formDangKy_title { font-size: 18px; padding: 10px 0; border: 2px solid #fff; }

	.box_formDangKy .border_title { border: none; }



	.box_formDangKy .formDangKyNgay .price_title { padding: 20px 0; }

	.box_formDangKy .formDangKyNgay .price_left { border: 2px solid #fff; }

	.box_formDangKy .formDangKyNgay .mainForm { padding-top: 30px; }

	.box_formDangKy .number_left { padding-left: 0; padding-right: 0; }

	.box_formDangKy .price2_right { padding-right: 0; padding-left: 0; }

	.box_formDangKy .container { padding-bottom: 20px; }

	.box_formDangKy .container_box { padding-bottom: 20px; }

	.box_formDangKy .formDangKyNgay .price_right { margin: 0 10px; }

	.box_formDangKy .formDangKyNgay .price_left { margin: 0 10px; }



	.box_camNhanHocVien { background: #fff; padding-bottom: 20px; }

	.box_camNhanHocVien .box_content { background: #fff; }

	.box_camNhanHocVien .box_content .item_1 { padding-left: 15px; padding-right: 15px; }

	.box_camNhanHocVien .box_content .item_2 { padding-left: 15px; padding-right: 15px; }

	.box_camNhanHocVien .box_content .item_3 { padding-left: 15px; padding-right: 15px; }

	.box_camNhanHocVien .box_content .button-register { display: none; }

	.box_camNhanHocVien .mai-anh-img-top { display: block; }

	.box_camNhanHocVien .mai-anh-img-bottom { display: none; }

	.box_camNhanHocVien .tran-quoc-anh-img-top { padding-bottom: 10px; }



	.box_cauHoiThuongGap .content_left { background: #fff; }

	.box_cauHoiThuongGap .content_left .question { padding: 10px 20px; }

	.box_cauHoiThuongGap .content_right { background: #fff; }

	.box_cauHoiThuongGap .content_right .question { padding: 10px 20px; }

	.box_cauHoiThuongGap .button-register .btn-register { font-size: 20px; }

	.box_cauHoiThuongGap .button-register { width: 70%; padding: 3px; }

	.box_cauHoiThuongGap .content_left .question .question_answer .image_01 { width: 100%; height: 210px; }

	.box_cauHoiThuongGap .content_left .question .question_answer .image_03 { width: 100%; height: 210px; }

	.box_cauHoiThuongGap .content_right .question .question_answer .image_02 { width: 100%; height: 210px; }

	.box_cauHoiThuongGap .content_right .question .question_answer .image_04 { width: 100%; height: 210px; }

	

	.box_cauHoiThuongGap { padding-top: 30px; }

	.box_cauHoiThuongGap .border_title { padding: 3px; margin-bottom: 20px; }

	.box_cauHoiThuongGap .cauHoiThuongGap_tieuDe { font-size: 18px; padding: 10px 0; }

	.box_cauHoiThuongGap .btnDangBoLoKhoaHoc { padding-bottom: 20px; }

	.box_cauHoiThuongGap .btnDangBoLoKhoaHoc img { max-width: 80%; }



	.box_camNhanHocVien .border_title { margin-bottom: 20px; padding: 3px; border: 2px solid #1b2b52; }

	.box_camNhanHocVien .camNhanHocVien_tieuDe { font-size: 18px; padding: 10px 0; }



	.box_baoChi .border_title { margin-bottom: 20px; padding: 3px; border: 2px solid #1b2b52; }

	.box_baoChi .baoChi_tieuDe { font-size: 18px; padding: 10px 0; }

	.box_footer .container { padding: 0 10px; }



	.box_baoChi .baoChi_news .col-md-3 {width: 50%; float: left; height: 56px;}

	.box_baoChi .baoChi_news img { width: 80%; }



}



@media(max-width: 375px){

	.box_dienGia .speaker-alok-video .image { width: 100%; height: 230px; }

	.box_cauHoiThuongGap .content_left .question .question_answer .image_01 { width: 100%; height: 185px; }

	.box_cauHoiThuongGap .content_left .question .question_answer .image_03 { width: 100%; height: 185px; }

	.box_cauHoiThuongGap .content_right .question .question_answer .image_02 { width: 100%; height: 185px; }

	.box_cauHoiThuongGap .content_right .question .question_answer .image_04 { width: 100%; height: 185px; }

}