<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <div class="box_header" id="box_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><a href="" class="logo"><img src="<?php echo $urlImg;?>/logo.png"></a></div>
                <div class="col-md-10">
                    <div class="clr"></div>
                    <ul class="menu hidden-xs hidden-sm">
                        <li><a href="javascript:;" class="go_box" data-box="box_gioiThieu">Giới thiệu</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_thongTin">Quy trình tư vấn</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_loiIch">Điểm khác biệt</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_dienGia">Chuyên gia tư vấn</a></li>
                        <li><a href="javascript:;" class="go_box btn_book" data-box="box_dangKy">Đăng ký ngay</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <a href="javascript:;">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- end box_header -->

    <div class="box_banner" id="box_banner">
        <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>
    </div>
    <!-- end box_banner -->

    <div class="box_gioiThieu" id="box_gioiThieu">
        <div class="container">
            <div class="title text-center">
                Doanh nghiệp càng phát triển,<br>rủi ro cũng lớn dần.
            </div>
            <div class="info" id="box_thongTin">
                <p>Khi quy mô còn nhỏ, doanh nghiệp vận hành linh hoạt, trơn tru ổn định bao nhiêu thì khi quy mô lớn dần, mọi thứ bắt đầu vượt tầm kiểm soát của người lãnh đạo. Đặc biệt trong thời kỳ hội nhập và toàn cầu hóa như hiện nay, với sự cạnh tranh khốc liệt của các đối thủ trong và ngoài nước, mỗi quyết định của nhà lãnh đạo, quản lý đều mang tính chiến lược, ảnh hưởng trực tiếp đến kết quả kinh doanh, lợi thế cạnh tranh lâu dài cũng như sự tồn vong của doanh nghiệp. Đây là lúc cần đến sự tư vấn của những chuyên gia giàu kinh nghiệm thực tiễn tại những doanh nghiệp thành công nhất trong nước và trên thế giới.</p>
                <p>Để triển khai các chương trình tư vấn một cách tối ưu và hiệu quả, không làm mất thời gian cũng như chi phí của doanh nghiệp, HBR đã đúc rút nên một quy trình tư vấn gồm <span>5 bước</span> như sau:</p>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6 left">
                        <p class="text-1">Thiết lập mục tiêu chung phù hợp với nhu cầu và đặc thù doanh nghiệp</p>
                        <p class="text-2">Tổng hợp & Phân tích dữ liệu doanh nghiệp</p>
                        <p class="text-3">Đánh giá dữ liệu doanh nghiệp, từ đó đồng bộ mục tiêu chung</p>
                        <p class="text-4">Lên chiến lược & thiết lập chương trình hành động cho doanh nghiệp</p>
                        <p class="text-5">Kiểm soát, đo lường và đánh giá hoạt động thực thi của doanh nghiệp</p>
                    </div>
                    <div class="col-md-6 right">
                        <img class="img-responsive" src="<?php echo $urlImg;?>/gt.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_gioiThieu -->

    <!-- end box_aiNen -->
        
    <div class="box_noiDung" id="box_loiIch">
        <div class="left"></div>
        <div class="right">
            <div class="box_content">
                <div class="box_title">
                    <div class="title-1">điểm khác biệt</div>
                    <div class="title-2">CỦA CHƯƠNG TRÌNH TƯ VẤN TẠI HBR</div>
                </div>
                <div class="info">
                    <p class="item">Chuyên gia: Đều là những lãnh đạo, quản lý cấp cao đến từ các công ty, tập đoàn tỷ đô lớn nhất ở Việt Nam và trên thế giới.</p>
                    <p class="item">Tri thức quản trị cập nhật liên tục bài bản từ các trường đại học hàng đầu thế giới như Wharton, Harvard, MIT, SMU,...</p>
                    <p class="item">100% kiến thức đã được ứng dụng vào hoạt động doanh nghiệp trước khi triển khai tư vấn.</p>
                    <p class="item">Cam kết tư vấn hiệu quả vấn đề doanh nghiệp gặp phải và không ngừng cố gắng nâng cao chất lượng cung cấp cho khách hàng mỗi ngày.</p>    
                </div>
            </div>
        </div>
    </div>
    <!-- end box_loiich -->
    <div class="box_dienGia" id="box_dienGia">
        <div class="box_title text-center">CHUYÊN GIA TƯ VẤN</div>
        <div class="box_content">
            <div class="list">
                <div class="item" id="item4">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="<?php echo $urlImg;?>/diengia4.jpg">
                        </div>
                        <div class="col-md-10">
                            <div class="right">
                                <div class="title">GS. DAVE ULRICH</div>
                                <div class="info">BỘ ÓC SỐ MỘT THẾ GIỚI, CHA ĐẺ CỦA NHÂN SỰ HIỆN ĐẠI</div>
                                <ul class="content">
                                    <li>Nhân vật số một thế giới về nhân sự (HR Magazine, 2010).</li>
                                    <li>Bộ óc quản trị có ảnh hưởng nhất thế giới (Business Week, 2001).</li>
                                    <li>Giải thưởng Nobels Colloquia dành cho những tên tuổi dẫn dắt nền tư tưởng và kinh doanh năm 2010 (Forbes, 2000).</li>
                                    <li>Một trong 5 nhà cố vấn quản trị hàng đầu thế giới (Thinkers50, 2009).</li>
                                    <li>Thành viên trong hội đồng cố vấn của Tạp chí Kinh doanh <b>Harvard (Harvard Business Review)</b>.</li>
                                    <li>Diễn giả số 1 về Quản trị/ Kinh doanh theo xếp hạng của trang web Speaking.com (2014)</li>                          
                                </ul>
                                <ul>
                                    <li class="btn" style="display: none;">XEM CHI TIẾT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="item" id="item1">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="<?php echo $urlImg;?>/diengia1.jpg">
                        </div>
                        <div class="col-md-10">
                            <div class="right">
                                <div class="title">TS. ALOK BHARADWAJ </div>
                                <div class="info">CỰU PHÓ CHỦ TỊCH CAO CẤP, PHỤ TRÁCH CHIẾN LƯỢC TẠI 23 QUỐC GIA CỦA CANON CHÂU Á</div>
                                <ul class="content content1">
                                    <li>Giám đốc bán hàng Voltas (Tata Group) 06/1985 - 02/1989</li>
                                    <li>Giám đốc Marketing Usha International 03/1989 - 09/1994</li>
                                    <li>Giám đốc bán hàng Motorola khu vực Nam Á 10/1994 - 05/2001</li>
                                    <li>Phó chủ tịch kiêm giám đốc điều hành Canon Ấn Độ 06/2001 - 12/2014</li>
                                    <li>Giám đốc Marketing giỏi nhất của năm 2009 do Hiệp hội Giám đốc Marketing tại Mỹ (CMO Council USA) công nhận.</li>
                                    <li>Nguyên chủ tịch hiệp hội Marketing Châu Á.</li>
                                    <li>Phó chủ tịch cao cấp, phụ trách chiến lược Canon tại 23 quốc gia ở châu Á 01/2015 - 06/2017</li>
                                    <li>Giám đốc điều hành công ty tư vấn CreoVate 7/2017 - Hiện tại.</li>
                                    <li>Thành viên trong hội đồng cố vấn của Tạp chí Kinh doanh Harvard.</li>
                                    <li>Đối tác tư vấn, cố vấn của Tập đoàn AON Hewitt – Tập đoàn tư vấn quản trị & nguồn nhân lực lớn nhất thế giới có trụ sở tại 120 quốc gia.</li>
                                </ul>
                                <ul>
                                    <li class="btn">XEM CHI TIẾT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="item" id="item2">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="<?php //echo $urlImg;?>/diengia2.jpg">
                        </div>
                        <div class="col-md-10">
                            <div class="right">
                                <div class="title">TS. Lê Thẩm Dương</div>
                                <div class="info">CHUYÊN GIA CỐ VẤN QUẢN TRỊ DOANH NGHIỆP</div>
                                <ul class="content content1">
                                    <li>Một trong những cố vấn của Thống đốc ngân hàng nhà nước Việt Nam, khách mời thường xuyên của chương trình CEO chìa khóa thành công VTV1. Chuyên gia tư vấn quản trị cho rất nhiều tập đoàn và doanh nghiệp vừa và nhỏ trong và ngoài nước.</li>
                                    <li>Khách mời, chủ toạ thường xuyên của các diễn đàn cấp quốc gia và khu vực như diễn đàn Triển vọng kinh tế, tìm vốn cho doanh nghiệp vừa và nhỏ, Thị trường chứng khoán Việt Nam qua từng giai đoạn, Các giải pháp hạn chế lạm phát.</li>
                                    <li>Trực tiếp giảng dạy tại các NH BIDV, Nông nghiệp &amp; Phát triển Nông thôn, Công thương Việt Nam, Ngoại thương Việt Nam – với số lượng lớn các chi nhánh và các ngân hàng cổ phần, dầu khí, Nam Á, Á Châu, Việt Á.</li>        
                                </ul>
                                <ul>
                                    <li class="btn">XEM CHI TIẾT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="item" id="item3">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="<?php echo $urlImg;?>/diengia3.jpg">
                        </div>
                        <div class="col-md-10">
                            <div class="right">
                                <div class="title">THS. PHẠM THU THỦY </div>
                                <div class="info">CHUYÊN GIA HUẤN LUYỆN VỀ QUẢN TRỊ NHÂN SỰ VÀ QUẢN TRỊ TỔ CHỨC</div>
                                <ul class="content content1">
                                    <li>Giám đốc Nhân sự - Đào tạo Vincom Retail – Tập đoàn Vingroup.</li>
                                    <li>Giám đốc Đào tạo Vincommerce - Tập đoàn Vingroup.</li>
                                    <li>Giám đốc Nhân sự - Đào tạo VinPro - Tập đoàn Vingroup.</li>
                                    <li>Giám đốc Quản lý dự án - Ngân hàng TPBank.</li>
                                    <li>Giám đốc Nhân sự Công ty chứng khoán FPT- Tập đoàn FPT.</li>                          
                                </ul>
                                <ul>
                                    <li class="btn">XEM CHI TIẾT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" id="item6">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="<?php echo $urlImg;?>/ThS-Dang-Thuy-Ha.jpg">
                        </div>
                        <div class="col-md-10">
                            <div class="right">
                                <div class="title">THS. ĐẶNG THUÝ HÀ </div>
                                <div class="info">CHUYÊN GIA NGHIÊN CỨU THỊ TRƯỜNG</div>
                                <ul class="content content1">
                                    <li>Giám đốc khu vực miền Bắc của Nielsen Việt Nam .</li>     
                                    <li>Trên 18 năm kinh nghiệm nghiên cứu thị trường tại rất nhiều dự án ở các lĩnh vực, khác nhau, bao gồm hàng hoá tiêu dùng nhanh (Unilever, Carlsberg, Habeco, Delys,Unicharm), Viễn thông, Công nghệ thông tin (MobiFone. Viettel, Vietnamobile), Ngân hàng, Bảo hiểm (VCB, BIDV, Bao Viet, ACB, TCB, VP, VIB), Vận tải (Vietnamairlines, Honda, GM, Toyota, Ford, Yamaha), Đào tạo (British University, British council, Language Link), Xây dựng & nội thất (Hòa phát, Việt Úc, Sunhouse) và các lĩnh vực khác.</li>               
                                </ul>
                                <ul>
                                    <li class="btn">XEM CHI TIẾT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="item" id="item7">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="<?php echo $urlImg;?>/MR-Doan-Duc-Thuan.jpg">
                        </div>
                        <div class="col-md-10">
                            <div class="right">
                                <div class="title">MR. ĐOÀN ĐỨC THUẬN </div>
                                <div class="info">NGUYÊN TRƯỞNG BỘ PHẬN MARKETING PHỤ TRÁCH CHIẾN LƯỢC CHÂU Á - THÁI BÌNH DƯƠNG CỦA PIAGGIO</div>
                                <ul class="content content1">                       
                                    <li>Nguyên trưởng bộ phận Marketing phụ trách chiến lược châu Á - Thái Bình Dương của Piaggio.</li>
                                    <li>Trưởng đại diện IME CONSULTING tại miền Bắc.</li>
                                    <li>Giám đốc điều hành tại StrategyM Consulting.</li>
                                    <li>12 năm kinh nghiệm công tác tại các tập đoàn đa quốc gia (MNCs) ở các nước khác nhau: Piaggio, Toyota, Colgate-Palmolive, Dệt Hà Nam trong các chức năng khác nhau: Marketing Chiến lược Châu Á – TBD, Nghiên cứu & Phát triển Châu Á – TBD, Điều phối Kế hoạch Thị trường Châu Á – TBD, Marketing hàng tiêu dùng và Marketing xuất khẩu.</li>
                                    <li> Có nhiều kinh nghiệm quản lí trong mô hình tổ chức kinh doanh dạng ma trận (chiến lược toàn cầu, chiến lược đồng bộ trong vùng và chiến thuật triển khai từng thị trường cụ thể).</li>
                                    <li> Thạc Sĩ Marketing, ĐH Melbourne, Australia năm 2008 theo học bổng toàn phần của Chính phủ Úc.</li>
                                </ul>
                                <ul>
                                    <li class="btn">XEM CHI TIẾT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>-->  
                <div class="item" id="item5">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="<?php echo $urlImg;?>/Mr-Tony.jpg">
                        </div>
                        <div class="col-md-10">
                            <div class="right">
                                <div class="title">MR. TONY DZUNG</div>
                                <div class="info">CHUYÊN GIA TƯ VẤN VỀ QUẢN TRỊ & LÃNH ĐẠO</div>
                                <ul class="content content1">
                                    <li>Nhà sáng lập, Chủ tịch hội đồng quản trị công ty Langmaster.</li>
                                    <li>Tổng giám đốc Trường doanh nhân HBR.</li>
                                    <li>Một trong những người Việt Nam đầu tiên được cấp bằng NLP Master do đại học NLP và hiệp hội NLP Hoa Kỳ chứng nhận.</li>
                                    <li>Được đào tạo trực tiếp về lãnh đạo và quản trị từ các chuyên gia đến từ các ngôi trường hàng đầu trên thế giới: Harvard, Wharton (Upen), Học viện Quân sự Hoa Kỳ West Point, SMU,…</li>
                                    <li>Được huấn luyện và đào tạo trực tiếp về nhân sự bởi các chuyên gia nhân sự hàng đầu thế giới như Dave Ulrich, Peter Cappelli,…</li>
                                    <li>Một trong những người đầu tiên ở Việt Nam được cấp chứng chỉ đào tạo MBTI trên toàn thế giới.</li>              
                                    <li>Được huấn luyện bởi các chuyên gia đào tạo con người hàng đầu trên thế giới:  Anthony Robbins, Robert Dilts, Mr Vas…</li>     
                                </ul>
                                <ul>
                                    <li class="btn">XEM CHI TIẾT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
        

    
    <div class="box_dangKy" id="box_dangKy">
        <div class="container">
            <div class="title text-center">
                <div class="title1">GỬI YÊU CẦU TƯ VẤN</div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="thanhToan">
                        <div class="box_title">THÔNG TIN TÀI KHOẢN</div>
                        <div class="box_content">
                            <div class="item">
                                <div class="item_title"><b>1. Chuyển khoản</b></div>
                                <div class="item_detail">
                                    Vui lòng liên hệ Hotline <span>082.999.6886</span> hoặc <span>082.999.6633</span> để được tư vấn rõ hơn.
                                </div>
                            </div>
                            <div class="item">
                                <p class="item_title"><b>2. Nộp tiền mặt trực tiếp</b></p>
                                <p class="item_detail"><span>Địa chỉ:</span> tầng 15 tòa nhà CTM Complex, số 139 Cầu Giấy, Hà Nội.</p>
                                <p class="hotline">Hotline:<br> 082.999.6886 <br> 082.999.6633</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                        <div class="dangky">
                           <div class="box_title">ĐĂNG KÝ TƯ VẤN</div>
                            <div class="form">
                                <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">
                                    <div class="row">
                                        <div class="col-md-12 hidden">
                                            <div class="form-group" id="input-location_city_id">
                                                <input type="hidden" class="form-control" name="location_city_id" value="1471419030-5m0i-1336-1k80-275892616r50">
                                             </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input name="name" type="text" class="form-control input-name" placeholder="Họ và tên">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="form-group" id="input-phone">
                                                <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" id="input-email">
                                                <input name="email" type="text" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-12">
                                            <div class="form-group" id="input-address">
                                                <input name="address" type="text" class="form-control" placeholder="Địa chỉ">
                                            </div>
                                        </div> -->
                                        <div class="col-md-6">
                                            <div class="form-group" id="input-company_name">
                                                <input name="company_name" type="text" class="form-control" placeholder="Công ty">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" id="input-company_position">
                                                <input name="company_position" type="text" class="form-control" placeholder="Chức vụ">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="info">Chuyên gia đào tạo:</div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="form-control">
                                                    <label class="checkall">Chọn tất cả</label>     
                                                    <a href="javascript:;" class="show"><i class="fa fa-caret-down"></i></a>
                                                    <div class="clr"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 hide teacher">
                                            <div class="form-group" id="input-workshop">
                                                <div class="form-control">
                                                    <label><input type="checkbox" class="item" name="workshop[]" value="GS. Dave Ulrich">GS. Dave Ulrich</label>      
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 hide teacher">
                                            <div class="form-group" id="input-workshop">
                                                <div class="form-control">
                                                    <label><input type="checkbox" class="item" name="workshop[]" value="TS. Alok">TS. Alok</label>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 hide teacher">
                                            <div class="form-group" id="input-workshop">
                                                <div class="form-control">
                                                    <label><input type="checkbox" class="item" name="workshop[]" value="Mr. Tony Dzung">Mr. Tony Dzung</label>          
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 hide teacher">
                                            <div class="form-group" id="input-workshop">
                                                <div class="form-control">
                                                    <label><input type="checkbox" class="item" name="workshop[]" value="TS. Lê Thẩm Dương">TS. Lê Thẩm Dương</label>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 hide teacher">
                                            <div class="form-group" id="input-workshop">
                                                <div class="form-control">
                                                    <label><input type="checkbox" class="item" name="workshop[]" value="Ths. Phạm Thu Thuỷ">Ths. Phạm Thu Thuỷ</label>
                                                    
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-md-6 hide teacher">
                                            <div class="form-group" id="input-workshop">
                                                <div class="form-control">
                                                    <label><input type="checkbox" class="item" name="workshop[]" value="Ths. Đặng Thuý Hà">Ths. Đặng Thuý Hà</label>                                            
                                                </div>
                                            </div>
                                        </div> 
                                        <!-- <div class="col-md-4 hide teacher">
                                            <div class="form-group" id="input-content">
                                                <div class="form-control">
                                                   <label><input type="checkbox" class="item" name="workshop[]" value="Mr. Đoàn Đức Thuận">Mr. Đoàn Đức Thuận</label>                                            
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-md-12">
                                            <?php
                                                $company_problem = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-problem" )), array('task' => 'cache'));
                                            ?>
                                            <div class="form-group" id="input-company_problem">
                                                <select name="company_problem[]" class="selectpicker form-control" multiple = "multiple" data-selected-text-format="count > 4" title="Vấn đề các anh/Chị đang gặp phải.">
                                                    <?php
                                                        foreach ($company_problem AS $value) {
                                                            $id     = $value['id'];
                                                            $name   = $value['name'];
                                                    ?>  
                                                    <option class="company_problem" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                    <?php } ?>
                                                </select> 
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" id="input-content">
                                                <input name="content" type="text" class="form-control" placeholder="Anh/Chị vui lòng mô tả chi tiết vấn đề của mình">
                                            </div>
                                        </div>                                   
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 button">
                                            <div class="btnSuccess error">
                                                <input type="hidden" name="form_id" value="<?php echo $item['form_id'];?>">
                                                <input type="hidden" name="type" value="form">
                                                <input type="hidden" name="source" value="landing_page">
                                                <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                                <input type="button" onclick="javascript:formRegisterCRM('frmRegister');" class="input-lg btn-blue" value="Đăng ký ngay">
                                            </div>
                                        </div>
                                    </div> 
                                </form>
                                
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- end box_thanhtoan -->
    <div class="box_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0066982756643!2d105.79666931548647!3d21.032417985996346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab46d9c86b9b%3A0x4879c19d8ad4be47!2zMTM5IEPhuqd1IEdp4bqleSwgUXVhbiBIb2EsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1516414158828" width="100%" height="200px" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <?php echo $this->blkDocument($this->arrParams, 'feedback', array('cache' => true, 'type' => array('alok', 'ptt', 'ltd', 'tony')));?>

    <div class="box_images">
        <table>
            <tr>
                <td><div><img  src="<?php echo $urlImg;?>/image-5.jpg"></div></td>
                <td><div><img  src="<?php echo $urlImg;?>/image-6.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-7.jpg"></div></td>
                <td><div><img  src="<?php echo $urlImg;?>/image-8.jpg"></div></td>
            </tr> 
        </table>
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-9.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-10.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-11.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-12.jpg"></div></td>               
            </tr>
        </table>
    </div>
    <!-- end box_images -->
    
    <div class="box_comment">
        <div class="container">
            <div class="fb-comments" data-href="" data-width="100%" data-numposts="10" data-order-by="reverse_time"></div>
        </div>
    </div>

    <?php
     echo $this -> headScript()
               -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] .'/me.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->
    
    <script type="text/javascript">
    $(document).ready(function() {
        var maxSlides = 3;
        var slideWidth = 368; 
        if ($(window).width() < 800) {
            maxSlides = 1;
            slideWidth = 0;
        }
        $("#box_student").show();
        $("#box_student .slider").bxSlider({
            auto: false,
            minSlides: maxSlides,
            maxSlides: maxSlides,
            slideWidth: slideWidth,
            slideMargin: 30,
            moveSlides: maxSlides,
            responsive: true,
            pause: 3000,
            speed: 1500,
            autoHover: true
        });
    });

    // Hiệu ứng text các box
    if ($(window).width() > 991) {
        $('.box_thongTin .box_content .info .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp2 animated-2s fadeInUp');}
        });
        $('.box_aiNen .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-3s fadeInUp');}
        });
        $('.box_loiich .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
        });
        $('.box_dieukien .info').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInRight');}
        });
    }

    $('.mask_currency').autoNumeric("init",{
        mDec: 0,
        aSep: '.',
        aDec: ',', 
    });

    function updatePrice() {
        var total = 0;
        $('#input-workshop input').each(function() {
            if($(this).is(':checked')) {
                total++;
            }
        });

        var total_price = total * 7000000;
        var total_price_sale = total * 7000000;
        if(total < 3) {
            total_price_sale = total * 6500000;
        } else if(total >=3 && total < 5) {
            total_price_sale = total * 6100000;
        }else if(total >= 5) {
            total_price_sale = total * 5800000;
        }
        
        $('#input-workshop .total_price').autoNumeric('set', total_price);
        $('#input-workshop .total_price_sale').autoNumeric('set', total_price_sale);
        $('#input-number input').val(total);
        $('#input-price input').autoNumeric('set', total_price_sale);
    }

    $('#input-workshop input').click(function() {
        updatePrice();
    });

    $('select.selectall').change(function(){
         var val = $(this).val();
         if(val == 'a') {
            $('#input-workshop input.hn').prop("checked", true);
        } 
    });

    $('.box_dienGia .col-md-10').click(function() {
        var parent = $(this).parents('.item');
        var id = "#" + $(parent).attr("id");
        $(id + ' .content').slideToggle();
        $(id + ' .right .btn').slideToggle();
        /* $(this).css('padding','50px 24px 20px 60px'); */
    });
    
    $(".checkall").click(function(){
         $('form .teacher').removeClass('hide');
         $('form .item').prop('checked', true);
    })

    $(".checkall-1").click(function(){
         $('form .check').removeClass('hide');
         $('form .option').prop('checked', true);
    })

    $(".show").click(function(){
         $('form .teacher').removeClass('hide');
    })

    $(".show-1").click(function(){
         $('form .check').removeClass('hide');
    })

    function successCart() {
        var frmData = '#frmContact';
        $.ajax({
            url: '/user/public/inhouse/',
            type: 'POST',
            data: $(frmData).serialize(),
            beforeSend: function() {
                 $('body').append('<div class="page-loading"><div class="loader"></div></div>');
            },
            success: function(result) {  
                $(frmData +' .btnSuccess').prepend('<div class="alert alert-success">Thông tin của bạn đã được gửi thành công</div>');                           
                $('body .page-loading').remove();
            }
        });
    }
    
    </script>
</body>
</html>
