<html>
<head>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/header.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';?>
</head>
<body class="body">
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>
    
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/header.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/banner.php';?>
	<?php echo $this->blkBreadcrumb($this->arrParams);?>
    <div class="container">
        <div class="wrapper">
            <div class="row">
            	<div class="col-sm-7">
              		<form action="#" id="frmContact" name="frmContact" method="POST" class="">
                        <div class="box_module">
                            <div class="box_title"><h1 class="title"><?php echo $this->viewModel['category']['name'];?></h1></div>
                            <div class="box_content">
                            	<div class="box_contact">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-city">
                                                <select name="city" class="form-control">
                                                    <option value=""  selected="selected">Chọn địa điểm tham gia</option>
                                                    <option value="Hà Nội" >Hà Nội</option>
                                                    <option value="Hồ Chí Minh" >TP Hồ Chí Minh</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-name">
                                                <label>Họ và tên</label>
                                                <input type="text" name="name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-phone">
                                                <label><?php echo $this->viewModel['language']['phone'][$language];?></label>
                                                <input type="text" name="phone" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-address">
                                                <label>Địa chỉ</label>
                                                <input type="text" name="address" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" id="input-email">
                                                <label><?php echo $this->viewModel['language']['email'][$language];?></label>
                                                <input type="text" name="email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group" id="input-content">
                                                <label><?php echo $this->viewModel['language']['content'][$language];?></label>
                                                <textarea name="content" class="form-control" style="height: 100px;"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="btnSuccess">
                                                <input type="hidden" name="form_id" value="1488881333-717x-85i6-420q-61o7e24u355n">
                                                <input type="button" onclick="javascript:formRegister('frmContact');" value="<?php echo $this->viewModel['language']['send_form'][$language];?>" class="btn btn-lg btn-default submit">
                                            </div>
                                        </div>
                                    </div>  
                            	</div>
                            </div>
                        </div>
                    </form> 
              	</div>
              	<div class="col-sm-5">
              	    <?php
                    if(!empty($this->viewModel['category']['content'])) {
                        echo '<div class="category_content">'. htmlspecialchars_decode($this->viewModel['category']['content']) .'</div>';
                    } 
                    ?>
              	</div>
            </div>
        </div>
    </div>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
</body>
</html>