<html>
<head>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/header.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';?>
</head>
<body class="body">
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>
    
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/header.php';?>
    <?php echo $this->blkDocument($this->arrParams, 'ads-slideshow', array('cache' => true));?>
	<?php echo $this->blkPostItemBox($this->arrParams, array('type' => 'default', 'box' => 'box_home', 'limit' => 1, 'cache' => true), 'home');?>
	<?php echo $this->blkDocument($this->arrParams, 'ads-home', array('cache' => true));?>
	<?php echo $this->blkPostCategoryBox($this->arrParams, array('type' => 'course_long', 'box' => 'box_home', 'limit' => 30, 'cache' => true), 'home');?>
	
	<div class="box_courseNew" id="box_courseNew">
	    <div class="container">
	        <div class="box_title clearfix">
	            <h2 class="title font-title">Chương trình đào tạo <br>Sắp diễn ra</h2>
	            <div class="filter">
	            	<?php
	            	$cities = $this->getHelperPluginManager()->getServiceLocator()->get('Admin\Model\DocumentTable')->listItem(array('where' => array('code' => 'city', 'status' => 1)), array('task' => 'cache'));
	            	$index = 0;
	            	foreach ($cities AS $key => $value) {
	            	    $index++;
	            	    $class = ($index == 1) ? '  class="active"' : '';
	            	    echo '<a href="javascript:;" data-id="'. $value['id'] .'"'. $class .'>'. $value['name'] .'</a>';
	            	}
	            	?>
	            </div>
	        </div>
	        <div class="box_content">
	        	<div class="load_content">
    	            
	            </div>
	            <div class="view_all">
	                <a href="javascript:;">Xem thêm</a>
	            </div>
	            <input type="hidden" name="page" value="1">
	            <input type="hidden" name="number" value="5">
	        </div>
	    </div>
	    <?php $this->headScript()->captureStart() ?>
	    	function loadCourse(city_id, insert) {
	    		if(insert == 'html') {
	    			$('input[name="page"]').val(1);
	    		} else {
	    			var page_next = parseInt($('input[name="page"]').val()) + 1;
    				$('input[name="page"]').val(page_next);
	    		}
	    		$.ajax({
            		type: "POST",
            		url: '<?php echo $this->url('routePost/default', array('controller' => 'api', 'action' => 'list-course'));?>',
            		data: {
            			course_city_id: city_id,
            			page: $('input[name="page"]').val(),
            			number: $('input[name="number"]').val(),
            		},
            		cache: false,
            		beforeSend: function() {
            			$('#box_courseNew .box_content').append('<div class="content-loading"><div class="loader_2"></div></div>');
            		},
            		success: function(result){
            			if(insert == 'append') {
            				$('#box_courseNew .box_content .load_content').append(result);
            				if(result == '') {
                				$('#box_courseNew .view_all').hide();
                			} else {
                				$('#box_courseNew .view_all').show();
                			}
            			} else {
            				$('#box_courseNew .box_content .load_content').html(result);
            				if(result == '') {
                				$('#box_courseNew .box_content .load_content').html('<div class="alert alert-danger">Hiện tại chưa có khóa học nào</div>');
                				$('#box_courseNew .view_all').hide();
                			} else {
                				$('#box_courseNew .view_all').show();
                			}
            			}
            			
            			$('#box_courseNew .box_content .content-loading').remove();
            		}
            	});
	    	};
	    	loadCourse($('#box_courseNew .filter a:first').attr('data-id'), 'html');
	    	
            $(document).ready(function() {
            	$('#box_courseNew .filter a').click(function() {
            		$('#box_courseNew .filter a').removeClass('active');
            		$(this).addClass('active');
                	loadCourse($(this).attr('data-id'), 'html');
            	});
            	$('#box_courseNew .view_all a').click(function() {
                	loadCourse($('#box_courseNew .filter a.active').attr('data-id'), 'append');
            	});
            });
        <?php $this->headScript()->captureEnd() ?>
	</div>
	
	<?php echo $this->blkPostCategoryBox($this->arrParams, array('type' => 'teacher', 'box' => 'box_home', 'limit' => 8, 'cache' => true), 'home');?>
	<?php echo $this->blkDocument($this->arrParams, 'feedback', array('cache' => true, 'type' => array('ltd', 'alok')));?>
    
    <div class="box_newsHome">
        <div class="box_content clearfix">
            <div class="box_left">
                <?php echo $this->blkPostCategoryBox($this->arrParams, array('type' => 'default', 'box' => 'box_left', 'limit' => 4, 'cache' => true), 'left');?>
            </div>
            <div class="box_right">
                <?php echo $this->blkPostCategoryBox($this->arrParams, array('type' => 'default', 'box' => 'box_right', 'limit' => 2, 'cache' => true), 'right');?>
            </div>
        </div>
    </div>
	<?php include_once $this->arrParams['template']['pathHtml'] . '/box/dangky.php';?>
	<?php echo $this->blkDocument($this->arrParams, 'ads-doitac', array('cache' => true));?>
	<?php echo $this->blkPostItemBox($this->arrParams, array('type' => 'product', 'limit' => 15, 'cache' => true), 'new');?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <script type="text/javascript">
    $(document).ready(function() {
    	var maxSlides = 4;
        var slideWidth = 260; 
        if ($(window).width() < 768) {
            maxSlides = 2;
            slideWidth = 260;
        }
        $('#bxslider').show();
        $('#bxslider').bxSlider({
            auto: true,
            autoControls: false,
            minSlides: maxSlides,
            maxSlides: maxSlides,
            moveSlides: 1,
            slideWidth: slideWidth,
            slideMargin: 30,
            adaptiveHeight: true,
            responsive: true
        }, 3000);
    });

    $(document).ready(function() {
    	var maxSlides = 3;
        var slideWidth = 368; 
        if ($(window).width() < 768) {
            maxSlides = 2;
            slideWidth = 260;
        }
        $('#box_student').show();
        $('#box_student .slider').bxSlider({
            auto: false,
            autoControls: false,
            minSlides: maxSlides,
            maxSlides: maxSlides,
            moveSlides: 1,
            slideWidth: slideWidth,
            slideMargin: 30,
            adaptiveHeight: true,
            responsive: true,
            infiniteLoop: false
        }, 3000);
    });

    $(document).ready(function() {
        var maxSlides = 5;
        var slideWidth = 216; 
        if ($(window).width() < 768) {
            maxSlides = 1;
            slideWidth = 216;
        }
        $('#box_student').show();
	$('.box_productNew ul.bxslider').show();
        $('.box_productNew ul.bxslider').bxSlider({
            auto: false,
            autoControls: false,
            minSlides: maxSlides,
            maxSlides: maxSlides,
            moveSlides: 1,
            slideWidth: slideWidth,
            slideMargin: 25,
            adaptiveHeight: true,
            responsive: true,
            infiniteLoop: false
         }, 3000);
    });
    </script>
</body>
</html>