<html>
<head>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/header.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';?>
</head>
<body class="body">
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>
    
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/header-online.php';?>
    <?php echo $this->blkDocument($this->arrParams, 'ads-slideonline', array('cache' => true));?>
	
    <div class="box_courseItem">
        <div class="container">
            <div class="row">
                <?php $courses = $this->getHelperPluginManager()->getServiceLocator()->get('Post\Model\CourseItemTable')->listItem(array('block' => 'box_highlight'), array('task' => 'list-all')); ?>
                <div class="col-sm-12">
                    <div class="box_title">     
                        <a class="active" data-box="highlight" href="javascript:;">Khoá học nổi bật</a> 
                    </div>
                </div>
                <div class="box_content">
                    <?php
                        foreach ($courses AS $item) {
                            $link   = $this->url('routeCourse/detail', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                            if (!empty($item['meta_url'])){
                                $link       = $item['meta_url'];
                            }
                            
                            $add_cart_url   = $this->url('routeCourse/default', array( 'controller' => 'online', 'action' => 'add-cart', 'id' => $item['id']));
                            
                            $name           = '<a href="'. $link .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                            $image          = '<a href="'. $link .'" title="'. $item['name'] .'"><img alt="'. $item['name'] .'" src="'. $item['image'] .'"></a>';
                            $image_medium   = '<a href="'. $link .'" title="'. $item['name'] .'"><img alt="'. $item['name'] .'" src="'. $item['image_medium'] .'"></a>';
                            $image_thumb    = '<a href="'. $link .'" title="'. $item['name'] .'"><img alt="'. $item['name'] .'" src="'. $item['image_thumb'] .'"></a>';
                            $teacher        = $item['teacher_name'];
                            $name_course    = '<a href="/post/online/add-cart/id/'.$item['id'].'" onclick="javascript:addCourseCart();" id="btnAddCart" class="btn btn-cart"></a>';
                            
                            $price          = '';
                            if(!empty($item['price'])) {
                                if(!empty($item['price_sale_percent'])) {
                                    $price  = $item['price'] - ($item['price_sale_percent'] / 100 * $item['price']);
                                    $price  = '<span class="value"><span class="mask_currency">'. $price .'</span>đ</span> <span class="old"><span class="mask_currency">'. $item['price'] .' </span>đ</span><span class="cart_home"><a class="icon cart_total" href="/post/online/add-cart/id/'.$item['id'].'"><i class="fa fa-shopping-cart"></i></a></span>';
                                } else if (!empty($item['price_sale'])){
                                    $price  = $item['price'] - $item['price_sale'];
                                    $price  = '<span class="value"><span class="mask_currency">'. $price .'</span>đ</span> <span class="old"><span class="mask_currency">'. $item['price'] .' </span>đ</span><span class="cart_home"><a class="icon cart_total" href="/post/online/add-cart/id/'.$item['id'].'"><i class="fa fa-shopping-cart"></i></a></span>';
                                } else{
                                    $price  = '<span class="value"><span class="mask_currency">'. $item['price'] .'</span>đ</span> <span class="old"></span><span class="cart_home"><a class="icon cart_total" href="/post/online/add-cart/id/'.$item['id'].'"><i class="fa fa-shopping-cart"></i></a></span>';
                                }
                            }
                            
                            $class          = '';
                            if(!empty($item['price_sale_percent'])) {
                                $class     .= ' sale';
                            }
                            if($item['type'] == 'free') {
                                $class     .= ' free';
                                $price      = 'Khóa học miễn phí';
                            }
                            
                    ?>
					
                    <div class="col-sm-3 col-xs-6">
                        <div class="item">
                            <div class="image"><?php echo $image;?></div>
                            <div class="info">
                                <div class="name"><?php echo $name;?></div>
                                <div class="teacher"><?php echo $teacher;?></div>
                                <div class="price"><?php echo $price;?></div>
                            </div>
                        </div>
                    </div>

                    <?php
                        }
                    ?>
                </div>
            </div>
        </div>
    </div>
    
    <?php echo $this->blkPostCategoryBox($this->arrParams, array('type' => 'teacher', 'box' => 'box_home', 'limit' => 5, 'cache' => true), 'home');?>

    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <script type="text/javascript">
    $(document).ready(function() {
    	var maxSlides = 4;
        var slideWidth = 280; 
        if ($(window).width() < 768) {
            maxSlides = 2;
            slideWidth = 280;
        }
        $('#bxslider').show();
        $('#bxslider').bxSlider({
            auto: false,
            autoControls: false,
            minSlides: maxSlides,
            maxSlides: maxSlides,
            moveSlides: 1,
            slideWidth: slideWidth,
            slideMargin: 30,
            adaptiveHeight: true,
            responsive: true
        }, 3000);
    });

    </script>
</body>
</html>