<html>
<head>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/header.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';?>
</head>
<body class="body">
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>
    
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/header.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/banner.php';?>
	<?php echo $this->blkBreadcrumb($this->arrParams);?>
    <div class="container">
        <div class="wrapper">
            <div class="row">
            	<div class="col-sm-9">
              		<?php echo $this->content;?>
              	</div>
              	<div class="col-sm-3">
              	    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/right.php';?>
              	</div>
            </div>
        </div>
    </div>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
</body>
</html>