@import url('../fonts/font.css');

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese');

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=vietnamese');



/* Default */

body{ color: #111111; transition: all 0.3s;}

img{max-width: 100%;}

a { text-decoration: none; color: #0f2a51; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}

a:HOVER { text-decoration: none; color: #d3a23b;}

a:FOCUS { text-decoration: none; color: #d3a23b;}

h1,h2,h3,h4,h5,h6{ margin: 0;}

.font-title{ font-family: "Montserrat";}

.clearfix:AFTER{ content: ""; display: block; clear: both;}

.wrapper{ padding-bottom: 50px;}

.wrapper_content{ padding: 30px; border-top: 10px solid #d4cab9;}

.container-fluid{ padding: 60px 0 30px;}

.submit_loading{ position: fixed; top: 0; left: 0; z-index: 9998; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.7);}

.submit_loading:AFTER{ content: ""; position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 100%; background: url("../img/loading.gif") no-repeat center center;}



.bg-main{background-color: #152B50;}

.text-main{color: #152B50;}

.text-green{color: #35aa47;}



/* App */

.app-box-header{padding:7px 15px 5px 30px; border-bottom: #ccc thin solid; overflow: hidden; position: fixed; top: 0; left: 0; right: 0; background-color: #fff; z-index: 100000; transform: translateY(-100%); -o-transform:  translateY(-100%); -ms-transform:  translateY(-100%); -moz-transform:  translateY(-100%); -webkit-transform:  translateY(-100%); transition: all 0.3s; min-height: 75px;}

.app-box-header .close-app-box{font-size: 12px; display: inline-block; width: 20px; height: 20px; line-height: 20px; background-color: rgba(0,0,0,0.5); color: #fff; border-radius: 100%; position: absolute; left: 5px; top: 50%; transform: translateY(-50%); -o-transform:  translateY(-50%); -ms-transform:  translateY(-50%); -moz-transform:  translateY(-50%); -webkit-transform:  translateY(-50%);}

.app-box-header .app-logo{width: 60px; float: left; padding-right: 7px;}

.app-box-header .app-content{padding-left: 60px; position: relative;}

.app-box-header .app-content .app-title{ font-size: 17px; }

.app-box-header .app-content .app-description{position: relative; padding-right: 70px; position: relative}

.app-box-header .app-content .btn-download{position: absolute; right: 0; top: 2px; font-size: 12px;}

.app-box-header small{font-size: 11px;}



/* Bootstrap */

.form-group{ margin-bottom: 15px;}

.form-group .text-danger{ font-size: 12px; padding-top: 2px;}

.group_menu_slide{ position: relative;}

.group_menu_slide .banner{ min-height: 60px;}

.group_menu_slide .banner img{ width: 100%;}

.alert{ border-radius: 0;}

.modal-open .modal-backdrop{ z-index: 9999998;}

.modal-open .modal{ z-index: 9999999;}

.modal-open .modal-content{ border-radius: 0;}

.modal-open .modal-content .btn{ border-radius: 0;}



/* Popup Video */

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}

.popup_video .popup_content{ width: 60%; margin: 0 auto; margin-top: 8%; height:60%; position: relative;}

.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}



.box_top{ background-color: #FFF; border-bottom: 1px solid #e1e1e1; height: 32px; line-height: 32px; color: #4c607d;}

.box_top .contact .hotline {margin-right: 35px; float: left; font-size: 12px; font-weight: 500;}

.box_top .contact .hotline a{ color: #4c607d;}

.box_top .contact .hotline a:HOVER{ color: #000;}

.box_top .contact .hotline a i{ margin-right: 2px;}

.box_top .contact .email{ color: #4c607d; display: inline-block; font-size: 12px; margin-right: 35px; font-weight: 500; float: left;}

.box_top .contact .email:HOVER{ color: #000;}

.box_top .contact .email i{ margin-right: 2px;}

.box_top .contact:AFTER{ content: ""; display: block; clear: both;}

.box_top .social{ text-align: right; float: right;}

.box_top .social a{ color: #4c607d; display: inline-block; width: 32px; height: 32px; border-right: 1px solid #e1e1e1; text-align: center; font-size: 13px; float: right;}

.box_top .social a:HOVER{ color: #000;}

.box_top .social a:LAST-CHILD{ border-left: 1px solid #e1e1e1;}

.box_top .social:AFTER{ content: ""; display: block; clear: both;}

.box_top .user{ float: right;}

.box_top .user:AFTER{ content: ""; display: block; clear: both;}

.box_top .user>ul{ margin: 0; padding: 0; list-style: none; height: auto; float: right;}

.box_top .user>ul>li>a{ color: #4c607d; padding: 0 15px; height: 32px; line-height: 32px; border-right: 1px solid #e1e1e1; text-align: center; font-size: 13px; float: right;}

.box_top .user>ul>li>a:HOVER{ color: #000;}



/* Header */

.box_header{ background-color: #EEE; padding: 20px 0; border-bottom: 1px solid #e0e0e0;}

.box_header .container{ position: relative;}

.box_header img{ max-width: 100% !important;}

.box_header p{ margin: 0;}



.box_menuTop{ text-align: right; background-color: #2664ce;}

.box_menuTop .container{ position: relative;}

.box_menuTop .logo{ position: absolute; top: 0; left: 0; background-color: #FFF; width: 230px; height: 168px; z-index: 99; text-align: center; box-shadow: 0 3px 3px #CCC;}

.box_menuTop .logo img{ margin-top: 10px;}

.box_menuTop ul{ margin: 0; padding: 0; list-style: none;}

.box_menuTop ul li{ display: inline-block; margin-left: 10px;}

.box_menuTop ul li a{ color: #FFF; padding: 10px 0 10px 20px; display: inline-block;}

.box_menuTop ul li:FIRST-CHILD a{ border: 0;}



/* Menu */

.box_menuMain { background-color: #FFF; position: relative; z-index: 99999;}

.box_menuMain .row{ margin: 0;}

.box_menuMain .menu{ padding: 0;}

.box_menuMain .menu:AFTER{ content: ""; display: block; clear: both;}

.box_menuMain .menu>ul{ padding: 0; list-style: none; margin: 0; float: right;}

.box_menuMain .menu>ul>li{ display: inline-block; position: relative; margin: 0 15px 0 15px;}

.box_menuMain .menu>ul>li>a{ display: block; font-size: 13px; color: #0f2a51; font-weight: 700; line-height: 100%; height: 100px; line-height: 94px; text-transform: uppercase;}

.box_menuMain .menu>ul>li>ul{ display: none; position: absolute; top: 100%; left: 0; padding: 10px 0; list-style: none; margin: 0; min-width: 180px; z-index: 999; background-color: #FFF; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175); box-shadow: 0 6px 12px rgba(0,0,0,0.175);}

.box_menuMain .menu>ul>li>ul>li{ border-bottom: solid 1px #f5f5f5;}

.box_menuMain .menu>ul>li>ul>li:LAST-CHILD{ border: 0;}

.box_menuMain .menu>ul>li>ul>li>a{ color: #555; font-size: 13px; padding: 10px 15px; display: block; -moz-transition: none; -webkit-transition: none; -o-transition: none; transition: none; border: none !important;}

.box_menuMain .menu>ul>li:FIRST-CHILD>a{ border: 0;}

.box_menuMain .menu>ul>li:LAST-CHILD{ margin-right: 0;}

.box_menuMain .menu>ul>li:hover>a, .box_menuMain .menu>ul>li>a.active{ border-bottom: 3px solid #d2a23a;}

.box_menuMain .menu>ul>li:hover>ul{ display: block; z-index: 999999;}

.box_menuMain .menu>ul>li>ul>li>ul{ display: none; position: absolute; top: 0; left: 100%; z-index: 999; background-color: #FFF; list-style: none; margin: 0; padding: 0; min-width: 250px; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175); box-shadow: 0 6px 12px rgba(0,0,0,0.175);}

.box_menuMain .menu>ul>li>ul>li>ul>li{ border-bottom: solid 1px #f5f5f5;}

.box_menuMain .menu>ul>li>ul>li>ul>li>a{ color: #555; font-size: 13px; padding: 10px 20px; display: block; text-transform: inherit; -moz-transition: none; -webkit-transition: none; -o-transition: none; transition: none; border: none !important;}

.box_menuMain .menu>ul>li>ul>li>ul>li:hover>a{ background: #d3a23b; color: #000;}

.box_menuMain .menu>ul>li>ul>li:hover>a{ background: #d3a23b; color: #000;}

.box_menuMain .menu>ul>li>ul>li:hover>ul{ display: block; z-index: 999999;}

.box_menuMain .menu>ul>li>ul>li.dropdown:BEFORE{ position: absolute; top: 8px; right: 10px; content: "\f105"; font-family: "FontAwesome"; font-size: 16px;}

.box_menuMain .menu>ul>li:LAST-CHILD>ul{ left: auto; right: 0;}

.box_menuMain .menu>ul>li:LAST-CHILD>a>span{ display: inline-block; background-color: #d2a23a; color: #FFF; line-height: normal; padding: 10px 10px;}

.box_menuMain .menu>ul>li:LAST-CHILD:HOVER>a{ border: 0;}

.box_menuMain .menu>ul>li:nth-last-child(-n+2)>ul{ left: auto; right: 0;}

.box_menuMain .header{ float: left;}

.box_menuMain .header .logo{ display: inline-block; margin-top: 22px;}

.box_menuMain .header .logo img{ max-height: 58px;}

.box_menuMain .language{ width: 100px; float: right; text-align: right; padding-top: 18px;}



.box_menuMobile{ position: fixed; top: 0; left: 0; width: 70%; height: 100%; background-color: #FFF; overflow: auto; z-index: 99999}

.box_menuMobile ul{ margin: 0; padding: 10px 0; list-style: none;}

.box_menuMobile ul li a{ display: block; padding: 8px 10px; font-weight: bold;}

.box_menuMobile ul li ul{ margin-left: 20px; padding: 0 0 10px;}

.box_menuMobile ul li ul li a{ font-weight: normal;}



.bg_menu_mobile{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}



.box_menuFooter ul{ margin: 0; padding: 0; list-style: none;}

.box_menuFooter ul>li{ display: block;}

.box_menuFooter ul>li>a{ text-transform: uppercase; margin-bottom: 5px; display: block; font-size: 13px;}

.box_menuFooter ul>li>ul{ display: none;}



.box_menuLeft{ margin-bottom: 20px; }

.box_menuLeft .box_title{ height: 40px; line-height: 40px; font-size: 16px; padding: 0 10px; text-transform: uppercase; overflow: hidden; background-color: #d3a23b; text-align: center;}

.box_menuLeft .box_title a{ color: #000; }

.box_menuLeft .box_content{ padding: 10px 0; border: 1px solid #EEE; border-top: 0; background-color: #FFF;}

.box_menuLeft .box_content>ul{ padding: 0; list-style: none; margin: 0;}

.box_menuLeft .box_content>ul>li{ display: block; position: relative;}

.box_menuLeft .box_content>ul>li>a{ display: block; color: #000; padding: 10px 15px; font-size: 12px; text-transform: uppercase; position: relative; border-top: 1px solid #EEE;}

.box_menuLeft .box_content>ul>li>ul{ display: none; padding: 5px 0 5px; list-style: none; margin: 0; background-color: #FFF;}

.box_menuLeft .box_content>ul>li>ul>li{}

.box_menuLeft .box_content>ul>li>ul>li>a{ color: #222; font-size: 13px; font-weight: 400; padding: 7px 15px 7px 15px; display: block; text-transform: inherit; -moz-transition: none; -webkit-transition: none; -o-transition: none; transition: none; border: none !important;}

.box_menuLeft .box_content>ul>li:hover>a{ background: #DDD;}

.box_menuLeft .box_content>ul>li.active>a{ background: #DDD;}

.box_menuLeft .box_content>ul>li:hover>ul{}

.box_menuLeft .box_content>ul>li.dropdown:AFTER{ content: "\f196"; font: normal normal normal 14px/1 FontAwesome; position: absolute; top: 13px; right: 10px; color: #666;}

.box_menuLeft .box_content>ul>li.dropdown.active:AFTER{ content: "\f147"; font: normal normal normal 14px/1 FontAwesome; position: absolute; top: 13px; right: 10px; color: #FFF;}

.box_menuLeft .box_content>ul>li:FIRST-CHILD>a{ border: 0;}

.box_menuLeft .box_content>ul>li>ul>li>ul{ display: none; background-color: #FFF; list-style: none; margin: 0; padding: 2px 0;}

.box_menuLeft .box_content>ul>li>ul>li>ul>li{ }

.box_menuLeft .box_content>ul>li>ul>li>ul>li>a{ color: #d3a23b; font-size: 13px; font-weight: 400; padding: 7px 30px; display: block; text-transform: inherit; -moz-transition: none; -webkit-transition: none; -o-transition: none; transition: none; border: none !important;}

.box_menuLeft .box_content>ul>li>ul>li>ul>li:hover>a{ background: #EEE;}

.box_menuLeft .box_content>ul>li>ul>li:hover>a{ background: #EEE;}

.box_menuLeft .box_content>ul>li>ul>li.active>a{ background: #EEE;}

.box_menuLeft .box_content>ul>li>ul>li:hover>ul{}

.box_menuLeft .box_content>ul>li>ul>li.dropdown:BEFORE{ position: absolute; top: 4px; right: 10px; content: "\f105"; font-family: "FontAwesome"; font-size: 16px;}

.box_menuLeft .box_content>ul>li>ul>li.dropdown.active:BEFORE{ position: absolute; top: 4px; right: 10px; content: "\f107"; font-family: "FontAwesome"; font-size: 16px;}

.box_menuLeft .box_content>ul>li>ul>li>ul>li.active>a{ background: #EEE;}

.box_menuLeft .box_content>ul>li.selected>ul{ display: block;}

.box_menuLeft .box_content>ul>li>ul>li.selected>ul{ display: block;}



.box_breadcrumb{ background-color: #FFF; }

.box_breadcrumb .breadcrumb{ margin: 0; padding: 30px 0; background: #FFF; text-transform: uppercase; font-size: 12px;}

.box_breadcrumb .breadcrumb li a{ color: #b7b7b7;}

.box_breadcrumb .breadcrumb li a:HOVER{ color: #0f2a51;}

.box_breadcrumb .breadcrumb li:LAST-CHILD a{ color: #111111;}



.box_tab{ margin-bottom: 30px;}

.box_tab .tab_list:AFTER{ content: ""; display: block; clear: both; margin-bottom: -1px;}

.box_tab .tab_list a{ display: inline-block; float: left; font-size: 16px; font-weight: bold; background-color: #d3a23b; color: #FFF; padding: 10px 15px;}

.box_tab .tab_list a.active{ background: #EEE; color: #d3a23b;}

.box_tab .tab_content{ padding: 15px; background: #EEE;}



.box_search{ text-align: right; padding: 4px 0; position: absolute; top: 10px; right: 15px; width: 250px;}

.box_search .input-group-addon{ padding: 0; margin: 0; box-shadow: none; border-radius: 0; border: 1px solid #d3a23b;}

.box_search .input-group-addon button{ padding: 0; margin: 0; border: 0; background: #d3a23b; width: 32px; height: 30px; color: #FFF;}

.box_search .form-group{ margin: 0;}

.box_search .form-group .form-control{ border: 1px solid #CCC; box-shadow: none; border-radius: 0;}



.box_bxslider{ display: none;}

.box_bxslider .bxslider{ margin: 0; padding: 0; list-style: none; left: 0;}

.box_bxslider .bxslider img{ width: 100%;}

.box_bxslider .bxslider .item{ display: block; position: relative;}

.box_bxslider .bx-pager{ display: block; position: absolute; bottom: 0; left: 0; width: 100%; margin: 0; padding: 0; text-align: center; z-index: 999;}

.box_bxslider .bx-wrapper { position: relative;}

.box_bxslider .bx-wrapper .bx-pager.bx-default-pager a{ width: 20px; height: 5px; display: inline-block; text-indent: -99999px; margin: 0 4px; border: 0; background: #CCC; -webkit-border-radius: 4 !important; -moz-border-radius: 4 !important; border-radius: 4 !important;}

.box_bxslider .bx-wrapper .bx-pager.bx-default-pager a:hover, 

.box_bxslider .bx-wrapper .bx-pager.bx-default-pager a.active{ background: #d3a23b;}

.box_bxslider .bx-pager-item{ display: inline-block;}

.box_bxslider .bx-controls-direction{ display: block;}

.box_bxslider .bx-controls-direction a{ position: absolute; top: 50%; display: inline-block; width: 40px; height: 40px; margin-top: -20px; background: url("../img/icon_next_2.png") no-repeat center center rgba(0, 0, 0, 0.1); text-indent: -99999px; overflow: hidden; z-index: 999; border-radius: 5px;}

.box_bxslider .bx-controls-direction a.bx-prev{ left: 20px; background-image: url("../img/icon_prev_2.png");}

.box_bxslider .bx-controls-direction a.bx-next{ right: 20px; left: auto; background-image: url("../img/icon_next_2.png");}

.box_bxslider .bx-controls-direction a:hover{ background-color: rgba(0, 0, 0, 0.3);}



.box_banner { height: 188px; background: url("../img/bg_banner_1.jpg") no-repeat top center; color: #FFF;}

.box_banner .title{ font-size: 23px; margin-top: 65px; text-transform: uppercase; font-weight: 700;}

.box_banner .slogan{ font-weight: 300; font-size: 20px; margin-top: 5px;}



.box_courseNew{ background-color: #ebebeb; padding: 90px 0;}

.box_courseNew .container{ width: 1100px; max-width: 100%;}

.box_courseNew .box_title .title{ float: left; text-transform: uppercase; font-size: 25px; color: #0f2a51; font-weight: 700; line-height: 32px;}

.box_courseNew .box_title .filter{ float: right; padding-top: 10px;}

.box_courseNew .box_title .filter a{ display: inline-block; height: 36px; line-height: 36px; min-width: 120px; text-align: center; padding: 0 15px; border: 1px solid #0f2a51; background-color: #FFF; font-size: 17px; color: #0f2a51; text-transform: uppercase; margin-left: 6px; font-family: "SVN-Kelson-Sans-Bold";}

.box_courseNew .box_title .filter a.active{ background-color: #0f2a51; color: #FFF;}

.box_courseNew .box_content{ padding-top: 60px; position: relative; min-height: 400px;}

.box_courseNew .item{ margin-bottom: 38px;}

.box_courseNew .item .date{ float: left; width: 100px;}

.box_courseNew .item .date .day{ display: block; font-size: 50px; color: #d2a23a; font-weight: 500; font-family: "SVN-Kelson-Sans-Regular"; line-height: 100%; margin-bottom: 10px;}

.box_courseNew .item .date .month{ display: block; font-size: 14px; color: #111; font-weight: 700; text-transform: uppercase; line-height: 100%;}

.box_courseNew .item .date .year{ display: block; font-size: 14px; color: #111; font-weight: 700; text-transform: uppercase;}

.box_courseNew .item .content{ float: left; width: 800px;}

.box_courseNew .item .content .image{ float: left; width: 180px;}

.box_courseNew .item .content .image a{ display: inline-block;}

.box_courseNew .item .content .image img{ width: 160px; height: auto;}

.box_courseNew .item .content .info { padding-top: 10px;}

.box_courseNew .item .content .info .title{ font-size: 18px; font-weight: 700; margin-bottom: 8px; line-height: 25px;}

.box_courseNew .item .content .info .desc{ font-size: 14px; margin-bottom: 8px;}

.box_courseNew .item .content .info .speakers { font-size: 14px; margin-bottom: 10px;}

.box_courseNew .item .content .info .speakers span{ font-weight: 500;}

.box_courseNew .item .content .info .location{ font-size: 14px;}

.box_courseNew .item .content .info .location .fa{ color: #b7b7b7; margin-right: 3px;}

.box_courseNew .item .content .info .location .text{ display: inline-block; margin-right: 30px;}

.box_courseNew .item .view{ float: right; width: 120px; padding-top: 10px;}

.box_courseNew .item .view a{ display: block; height: 32px; line-height: 32px; text-align: center; font-size: 15px; font-weight: 500; background-color: #d2a23a; color: #FFF;}

.box_courseNew .item .view a:HOVER{ background-color: #0f2a51;}

.box_courseNew .view_all{ padding-left: 100px;}

.box_courseNew .view_all a{ display: inline-block; height: 32px; line-height: 32px; min-width: 160px; text-align: center; font-size: 15px; font-weight: 500; background-color: #d2a23a; color: #FFF;}

.box_courseNew .view_all a:HOVER{ background-color: #0f2a51;}

.box_courseNew .box_select_speaker .form-control { border: 1px solid #000; border-radius: 0; }



.box_teacher{ padding: 90px 0 30px; }

.box_teacher .box_title .title{ text-align: center; color: #0f2a51; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 20px;}

.box_teacher .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 50%; width: 50px; height: 5px; margin-left: -25px; background: #d3a23b;}

.box_teacher .box_title .title a{ color: #0f2a51;}

.box_teacher .box_info{ color: #111111; font-size: 15px; margin-bottom: 55px; text-align: center;}

.box_teacher .box_content{ width: 100%; max-width: 100%; margin: 0 auto;}

.box_teacher .item{ padding: 0 0 20px; width: 217px; float: left; margin: 0;}

.box_teacher .item .image{ margin-bottom: 12px;}

.box_teacher .item .image a{ display: block; position: relative; overflow: hidden;}

.box_teacher .item .image img{ width: 100%;}

.box_teacher .item .image .wrap{ position: absolute; bottom: -100%; left: 0; width: 100%; height: 100%; background-color: rgba(15, 42, 81, 0.5); transition: bottom 0.15s ease-in-out 0s;}

.box_teacher .item .image .wrap .text{ position: absolute; bottom: 18px; left: 10px; width: calc(100% - 20px); color: #FFF; font-size: 12px;}

.box_teacher .item .image a:HOVER .wrap{ bottom: 0;}

.box_teacher .item .title{ font-size: 15px; font-weight: 700; text-transform: uppercase; text-align: center; margin-bottom: 2px;}

.box_teacher .item .info{ color: #a1a1a1; font-size: 13px; text-align: center; min-height: 55px;}

.box_teacher .box_content .bx-wrapper{margin: 0 auto; position: relative;}

.box_teacher .box_content .bx-controls-direction a{ position: absolute; top: 50%; text-indent: -99999px; overflow: hidden; width: 50px; height: 50px; margin-top: -25px; }

.box_teacher .box_content .bx-controls-direction .bx-prev{ background: url("../img/prev.png") no-repeat center center; left: -80px; right: auto;}

.box_teacher .box_content .bx-controls-direction .bx-next{ background: url("../img/next.png") no-repeat center center; left: auto; right: -80px;}

.box_teacher .box_content .bx-controls-direction a:hover{ box-shadow: 0 0 20px rgba(34, 30, 31, 0.4);}



.box_student{ display: none; padding: 90px 0 90px; background: url("../img/bg_student.jpg") no-repeat top center; background-size: cover;}

.box_student .box_title .title{ text-align: center; color: #FFF; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 50px;}

.box_student .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 50%; width: 50px; height: 5px; margin-left: -25px; background: #d3a23b;}

.box_student .box_content{ max-width: 100%; margin: 0 auto;}

.box_student .item{}

.box_student .item a{ display: block; position: relative;}

.box_student .item a .fa{ position: absolute; top:50%; left: 50%; font-size: 60px; color: #fff; margin: -30px 0 0 -25px;}

.box_student .item .image{ margin-bottom: 12px; text-align: center; padding-top: 20px;}

.box_student .item .image img{ width: auto; display: inline-block; width: 100%;}

.box_student .item .name{ font-size: 15px; font-weight: 500; text-transform: uppercase; text-align: center; margin-bottom: 2px; color: #fff; display: none;}

.box_student .item .info{ color: #fff; font-size: 13px; text-align: center; display: none;}

.box_student .item .content{ font-size: 14px; padding-top: 20px; display: none;}

.box_student .box_content .bx-wrapper{margin: 0 auto; position: relative;}

.box_student .box_content .bx-controls-direction a{ position: absolute; top: 50%; text-indent: -99999px; overflow: hidden; width: 40px; height: 40px; margin-top: -20px;}

.box_student .box_content .bx-controls-direction a.bx-prev{ background: url("../img/prev.png") no-repeat center center; left: -50px; right: auto;}

.box_student .box_content .bx-controls-direction a.bx-next{ background: url("../img/next.png") no-repeat center center; left: auto; right: -50px;}

.box_student .box_content .bx-controls-direction a:hover{box-shadow: 0 0 20px rgba(34, 30, 31, 0.4);}

.box_student .go_box{display: block; margin: 0 auto; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 0; border:0; background: #bb0000; color: #fff; height: 40px; font-size: 25px; line-height: 20px; text-transform:uppercase; font-family: "Roboto"; font-weight: 700; text-align: center; width: 60%; max-width: 100%;}



.box_newsHome{ padding: 90px 0;}

.box_newsHome .box_content{ width: 1200px; max-width: 100%; margin: 0 auto;}

.box_newsHome .box_left{ width: 472px; float: left;}

.box_newsHome .box_right{ width: 684px; float: right;}



.box_defaultHome{ padding: 90px 0;}

.box_defaultHome .box_content{ width: 1100px; max-width: 100%; margin: 0 auto;}

.box_defaultHome .info{ width: 430px; float: right;}

.box_defaultHome .info .title{ text-transform: uppercase; font-weight: 700; font-size: 25px; position: relative; padding-bottom: 15px; margin-bottom: 15px;}

.box_defaultHome .info .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 0; width: 50px; height: 5px; background-color: #d3a23b;}

.box_defaultHome .info .title a{ color: #0f2a51;}

.box_defaultHome .info .slogan{ font-weight: 500; font-size: 20px; color: #111111; margin-bottom: 12px;}

.box_defaultHome .info .text{ font-size: 15px; color: #111111; line-height: 24px; margin-bottom: 35px;}

.box_defaultHome .info .view a{ display: inline-block; width: 122px; height: 33px; line-height: 32px; text-align: center; border: 1px solid #b7b7b7; border-radius: 3px; font-weight: 700; font-size: 15px; color: #111111;}

.box_defaultHome .info .view a:HOVER{ background-color: #0f2a51; color: #FFF; border: 1px solid #0f2a51;}

.box_defaultHome .info .view .btnDownload{ width: 200px; }

.box_defaultHome .image{ width: 550px; float: left; text-align: center;}

.box_defaultHome .image img{ max-width: 100%; margin-top: 0;}

.box_defaultHome .image a{ display: block; font-family: "DP-Bold"; font-size: 15px; color: #2587c8;}

.box_defaultHome .image a:HOVER{ color: #D2A23A;}

.box_defaultHome .image span{ display: block; font-family: "DP-Bold"; font-size: 14px; color: #464646;}


.box_defaultNew{ background-color: #56788a; line-height: 20px; height: 54px;}

.box_defaultNew .bxslider{ margin: 0; padding: 0; list-style: none;}

.box_defaultNew .bxslider img{ width: 100%;}

.box_defaultNew .bxslider .item{ display: block; position: relative;}

.box_defaultNew .bxslider .item:BEFORE{ content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3);}

.box_defaultNew .bx-pager{ display: none; position: absolute; bottom: 50px; left: 0; width: 100%; margin: 0; padding: 0; text-align: center; z-index: 999;}

.box_defaultNew .bx-wrapper { position: relative; overflow: hidden; height: 54px;}

.box_defaultNew .bx-wrapper .bx-pager.bx-default-pager a{ width: 12px; height: 12px; display: inline-block; text-indent: -99999px; margin: 0 8px; border: 1px solid #FFF; background: transparent; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; border-radius: 50% !important;}

.box_defaultNew .bx-wrapper .bx-pager.bx-default-pager a:hover, 

.box_defaultNew .bx-wrapper .bx-pager.bx-default-pager a.active{ background: #00a4f2;}

.box_defaultNew .bx-wrapper .bx-viewport{ max-height: 520px;}

.box_defaultNew .bx-pager-item{ display: inline-block;}

.box_defaultNew .bx-controls-direction{ position: absolute; top: 13px; right: 0; z-index: 9999;}

.box_defaultNew .bx-controls-direction a{ display: inline-block; width: 13px; height: 20px; margin-top: 0; text-indent: -99999px; overflow: hidden;}

.box_defaultNew .bx-controls-direction a.bx-prev, 

.box_defaultNew .bx-controls-direction a.bx-prev:hover{ background: url("../img/icon_prev_2.png") no-repeat center center; background-size: 100%; margin-right: 30px;}

.box_defaultNew .bx-controls-direction a.bx-next,

.box_defaultNew .bx-controls-direction a.bx-next:hover{ background: url("../img/icon_next_2.png") no-repeat center center; background-size: 100%; left: auto; right: 0;}

.box_defaultNew .box_title{ float: left; text-transform: uppercase; font-size: 18px; padding-top: 18px;}

.box_defaultNew .box_title a{ display: inline-block; margin-right: 15px; color: #FFF;}

.box_defaultNew .box_content{ background-color: #FFF;}

.box_defaultNew .title{ color: #FFF; font-size: 18px; padding-top: 18px;}

.box_defaultNew .title a{ color: #FFF;}



.box_defaultHot{ background-color: #fafafa; padding: 30px 0; margin-bottom: 30px;}

.box_defaultHot .info .title{ text-align: center; margin-bottom: 20px; text-transform: uppercase; font-weight: bold; font-size: 18px;}

.box_defaultHot .info .description{ text-align: justify; font-size: 14px;}



.box_defaultHighlight{ margin-bottom: 30px;}

.box_defaultHighlight .item .image{ margin-bottom: 20px; text-align: center;}

.box_defaultHighlight .item .image img{ max-width: 100%;}

.box_defaultHighlight .item .info .title{ text-align: center; margin-bottom: 20px; text-transform: uppercase; font-weight: bold; font-size: 16px;}

.box_defaultHighlight .item .info .description{ text-align: justify; font-size: 14px; background-color: #deffda; padding: 20px;}



.box_defaultCategoryLeft{ margin-bottom: 30px;}

.box_defaultCategoryLeft .box_title .title{ color: #FFF; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 50px;}

.box_defaultCategoryLeft .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 0; width: 50px; height: 5px; background: #d3a23b;}

.box_defaultCategoryLeft .box_content{ border: 1px solid #d7d7d7; padding: 28px 28px 10px;}

.box_defaultCategoryLeft .box_content .item_first { padding-bottom: 25px;}

.box_defaultCategoryLeft .box_content .item_first .image{ width: 141px; float: left; margin-right: 28px; overflow: hidden;}

.box_defaultCategoryLeft .box_content .item_first .image img{ height: 141px;}

.box_defaultCategoryLeft .box_content .item_first .info { overflow: hidden;}

.box_defaultCategoryLeft .box_content .item_first .info .title{ font-size: 15px; font-weight: 500; margin-bottom: 6px; line-height: 23px;}

.box_defaultCategoryLeft .box_content .item_first .info .title a{ color: #111;}

.box_defaultCategoryLeft .box_content .item_first .info .title a:HOVER{ color: #d3a23b;}

.box_defaultCategoryLeft .box_content .item_first .info .category{ font-size: 13px; color: #464646; margin-bottom: 10px;}

.box_defaultCategoryLeft .box_content .item_first .info .category a{ color: #464646; text-transform: uppercase;}

.box_defaultCategoryLeft .box_content .item_first .info .desc{ font-size: 14px; line-height: 23px; height: 46px; overflow: hidden;}

.box_defaultCategoryLeft .box_content .item{ border-top: 1px solid #d7d7d7; font-weight: 500; font-size: 15px; line-height: 22px;}

.box_defaultCategoryLeft .box_content .item a{ margin: 16px 0; display: block; background: url("../img/icon_1.png") no-repeat left 5px; padding-left: 24px; color: #111; height: 22px; overflow: hidden;}

.box_defaultCategoryLeft .box_content .item a:HOVER{ color: #d3a23b;}



.box_defaultCategoryRight{ margin-bottom: 30px;}

.box_defaultCategoryRight .box_title .title{ color: #FFF; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 50px;}

.box_defaultCategoryRight .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 0; width: 50px; height: 5px; background: #d3a23b;}

.box_defaultCategoryRight .box_content .item .image{ height: 247px; overflow: hidden; margin-bottom: 18px; text-align: right;}

.box_defaultCategoryRight .box_content .item .image a{ display: block; text-align: right;}

.box_defaultCategoryRight .box_content .item .image img{ height: 247px;}

.box_defaultCategoryRight .box_content .item .info .title{ font-size: 15px; font-weight: 500; margin-bottom: 14px;}

.box_defaultCategoryRight .box_content .item .info .title a{ color: #111;}

.box_defaultCategoryRight .box_content .item .info .title a:HOVER{ color: #d3a23b;}

.box_defaultCategoryRight .box_content .item .info .title .date{ font-size: 15px; font-weight: 400; color: #b7b7b7;}

.box_defaultCategoryRight .box_content .item .info .desc{ font-size: 15px; font-weight: 500; height: 68px; overflow: hidden; line-height: 23px;}



.box_productHighlight{ margin: 0 0 60px;}

.box_productHighlight .box_title .title{ text-align: center; color: #FFF; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 20px;}

.box_productHighlight .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 50%; width: 50px; height: 5px; margin-left: -25px; background: #d3a23b;}

.box_productHighlight .box_title .title a{ color: #0f2a51;}

.box_productHighlight .box_info{ color: #111111; font-size: 15px; margin-bottom: 55px; text-align: center;}

.box_productHighlight .box_content{ width: 1000px; max-width: 100%; margin: 0 auto;}

.box_productHighlight .item{ padding: 0 0 20px; border-bottom: 1px solid #EEE; width: 275px; float: left; margin: 0 43px 20px;}

.box_productHighlight .item .image{ width: 66px; height: 50px; line-height: 50px; text-align: center; float: left; margin-right: 15px; background-color: #0f2a51; color: #FFF; font-weight: 700; font-size: 17px;}

.box_productHighlight .item .image img{ width: 100%;}

.box_productHighlight .item .info .title{ font-size: 17px; font-weight: 500; line-height: 21px; padding-top: 3px;}

.box_productHighlight .item .info .title a{ color: #222;}

.box_productHighlight .item .info .title a:hover{ color: #d3a23b;}

.box_productHighlight .item:nth-child(1),

.box_productHighlight .item:nth-child(4),

.box_productHighlight .item:nth-child(7){ margin-left: 0;}

.box_productHighlight .item:nth-child(3),

.box_productHighlight .item:nth-child(6),

.box_productHighlight .item:nth-child(9){ margin-right: 0;}



.box_productHot{ margin: 0 0 30px;}

.box_productHot .box_title{ position: relative; border-bottom: 1px solid #d3a23b;}

.box_productHot .box_title .title{ height: 40px; line-height: 42px; color: #FFF; background-color: #d3a23b; font-size: 16px; text-transform: uppercase; display: inline-block; padding: 0 15px; min-width: 250px;}

.box_productHot .box_title .title a{ color: #000; font-weight: normal;}

.box_productHot .box_title .title i{ font-size: 18px;}

.box_productHot .box_title .view_all{ position: absolute; top: 12px; right: 15px; color: #333;}

.box_productHot .box_content{ padding: 15px; border: 1px solid #EEE; border-top: 0;}

.box_productHot .item{ margin-bottom: 15px;}

.box_productHot .item .image{ margin-bottom: 8px;}

.box_productHot .item .image img{ width: 100%;}

.box_productHot .item .info{ border: 1px solid #EEE; border-top: 0; padding: 5px 10px;}

.box_productHot .item .info .title{ margin-bottom: 8px; font-size: 12px; font-weight: bold; line-height: 18px;}

.box_productHot .item .info .title a{ color: #222;}

.box_productHot .item .info .title a:hover{ color: #d3a23b;}

.box_productHot .item .info .description{ margin-bottom: 8px; font-size: 15px; font-weight: bold; line-height: 18px; text-align: center;}

.box_productHot .item .price{ text-align: center; margin-bottom: 10px; font-weight: normal; color: #FF0000; font-size: 14px;}

.box_productHot .item .price .value{ color: #FF0000; display: inline-block; margin: 0 3px; font-weight: bold; }

.box_productHot .item .price .old{ color: #999; text-decoration: line-through; font-weight: normal; display: inline-block; margin: 0 3px;}

.box_productHot .col-sm-3:nth-child(5){ clear: both;}



.box_productNew{ background-color: #ebebeb; padding: 90px 0;}

.box_productNew .box_title .title{ text-align: center; color: #FFF; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 50px;}

.box_productNew .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 50%; width: 50px; height: 5px; margin-left: -25px; background: #d3a23b;}

.box_productNew .box_title .title a{ color: #0f2a51;}

.box_productNew .item{ width: calc(20% - 30px);}

.box_productNew .item .image{ box-shadow: 0 0 10px #CCC;}

.box_productNew .item .image a{ display: block; position: relative;}

.box_productNew .item .image img{ width: 100%;}

.box_productNew .item .image .view{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url("../img/icon_zoom_product.png") no-repeat center 60% rgba(15, 42, 81, 0.5); visibility: hidden; opacity: 0; -webkit-transition: opacity 0.15s ease-in-out 0s; -moz-transition: opacity 0.15s ease-in-out 0s; transition: opacity 0.15s ease-in-out 0s;}

.box_productNew .item .image .view .text{ width: 106px; height: 31px; text-align: center; line-height: 31px; color: #FFF; border: 1px solid #FFF; border-radius: 5px; position: absolute; bottom: }

.box_productNew .item .image a:HOVER .view{ visibility:visible; opacity:1;}

.box_productNew .item .info{ padding: 20px 0;}

.box_productNew .item .title{ font-size: 15px; font-weight: 500; line-height: 22px; margin-bottom: 2px; height: 48px; overflow: hidden;}

.box_productNew .item .title a{ color: #111;}

.box_productNew .item .title a:HOVER{ color: #d3a23b;}

.box_productNew .item .public{ color: #a1a1a1; font-style: italic; font-size: 14px; margin-bottom: 6px;}

.box_productNew .item .price{ color: #d3a23b; font-size: 17px; font-weight: 500;}

.box_productNew .item .price .old{ font-weight: 400; text-decoration: line-through; color: #999;}

.box_productNew .box_content .bx-wrapper{margin: 0 auto; position: relative;}

.box_productNew .box_content .bx-controls-direction a{ position: absolute; top: 50%; text-indent: -99999px; overflow: hidden; width: 50px; height: 50px; margin-top: -25px; }

.box_productNew .box_content .bx-controls-direction .bx-prev{ background: url("../img/prev.png") no-repeat center center; left: -60px; right: auto;}

.box_productNew .box_content .bx-controls-direction .bx-next{ background: url("../img/next.png") no-repeat center center; left: auto; right: -60px;}

.box_productNew .box_content .bx-controls-direction a:hover{ box-shadow: 0 0 20px rgba(34, 30, 31, 0.4);}

.hotline_edumart{color: #071831; font-size: 25px; padding-top: 30px;}



.box_productCategoryHome{ margin-bottom: 20px;}

.box_productCategoryHome .box_title{ position: relative; border-bottom: 1px solid #d3a23b;}

.box_productCategoryHome .box_title .title{ height: 40px; line-height: 40px; color: #FFF; background-color: #d3a23b; font-size: 18px; display: inline-block; padding: 0 15px;}

.box_productCategoryHome .box_title .title a{ color: #FFF; font-weight: normal;}

.box_productCategoryHome .box_title .title i{ font-size: 18px;}

.box_productCategoryHome .box_title .view_all{ position: absolute; top: 12px; right: 0; color: #333;}

.box_productCategoryHome .box_content{ padding: 10px 0 0; background-color: #FFF;}



.box_courseHighlight{ margin: 0 0 60px;}

.box_courseHighlight .box_title .title{ text-align: center; color: #FFF; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 20px;}

.box_courseHighlight .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 50%; width: 50px; height: 5px; margin-left: -25px; background: #d3a23b;}

.box_courseHighlight .box_title .title a{ color: #0f2a51;}

.box_courseHighlight .box_info{ color: #111111; font-size: 15px; margin-bottom: 55px; text-align: center;}

.box_courseHighlight .box_content{ width: 1000px; max-width: 100%; margin: 0 auto;}

.box_courseHighlight .item{ padding: 0 0 20px; border-bottom: 1px solid #EEE; width: 275px; float: left; margin: 0 43px 20px;}

.box_courseHighlight .item .image{ width: 66px; height: 50px; line-height: 50px; text-align: center; float: left; margin-right: 15px; background-color: #0f2a51; color: #FFF; font-weight: 700; font-size: 17px;}

.box_courseHighlight .item .image img{ width: 100%;}

.box_courseHighlight .item .info .title{ font-size: 17px; font-weight: 500; line-height: 21px; padding-top: 3px;}

.box_courseHighlight .item .info .title a{ color: #222;}

.box_courseHighlight .item .info .title a:hover{ color: #d3a23b;}

.box_courseHighlight .item:nth-child(1),

.box_courseHighlight .item:nth-child(4),

.box_courseHighlight .item:nth-child(7){ margin-left: 0;}

.box_courseHighlight .item:nth-child(3),

.box_courseHighlight .item:nth-child(6),

.box_courseHighlight .item:nth-child(9){ margin-right: 0;}



/* Tiến NV */

.box_dangKy{ background: url("../img/image_1.jpg") no-repeat top left;}

.box_dangKy:AFTER{ content: "";  display: block; clear: both;}

.box_dangKy .box_wrapper{ width: 730px; max-width: 100%; min-height: 680px; background-color: #FFF; float: right;}

.box_dangKy .box_content{ padding-left: 128px; padding-top: 60px;}

.box_dangKy .box_title{ font-size: 25px; color: #0f2a51; font-weight: 700; text-transform: uppercase; padding-bottom: 10px;}

.box_dangKy .box_text{ line-height: 23px; padding-bottom: 20px; color: #111111;}

.box_dangKy .box_form .form-control{ height: 60px; padding: 0 20px;}

.box_dangKy .box_form .form-control::-webkit-input-placeholder { color: #111111; }

.box_dangKy .box_form .form-control::-moz-placeholder { color: #111111; }

.box_dangKy .box_form .form-control:-ms-input-placeholder { color: #111111; }

.box_dangKy .box_form .form-control:-moz-placeholder { color: #111111; }

.box_dangKy .box_form .form-control.btn-sucsess{ background: #d3a23b; color: #fff; text-transform: uppercase; font-family: "DP-Bold"; font-size: 20px; border: 0; line-height: 66px; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}

.box_dangKy .box_form .form-control.btn-sucsess:HOVER{ background: #0f2a51; }



.boxThankYou { background: #1d2c53; color: #fff; }



.box_cart{ margin-bottom: 20px;}

.box_cart .box_title{ background-color: #333; position: relative; border-radius: 5px 5px 0 0;}

.box_cart .box_title .title{ height: 40px; line-height: 40px; color: #FFF; font-size: 14px; padding: 0 15px; text-transform: uppercase; text-align: center; border-radius: 5px 5px 0 0;}

.box_cart .box_title .title a{ color: #FFF;}

.box_cart .box_title .title a:hover{ color: #0da3e2;}

.box_cart .box_content{ padding: 15px; border: 1px solid #333; border-top: 0; background-color: #FFF;}

.box_cart .row{ padding-bottom: 10px;}

.box_cart .control{ display: inline-block; background-color: #499f41; padding: 3px 10px; color: #FFF; border-radius: 3px;}

.box_cart .control i{ font-size: 16px;}



.box_reportCart{ position: fixed; top: 50px; right: 20px; width: 40px; height: 40px; text-align: center; line-height: 40px; font-size: 20px; background-color: #d3a23b; color: #FFF; z-index: 99999; border-radius: 3px; overflow: hidden;}

.box_reportCart .total{ position: absolute; top: 0; right: 0; color: #FFF; font-size: 10px; font-weight: bold; padding: 2px 4px; background-color: #000; height: auto; line-height: 100%;}

.box_reportCart:HOVER{ color: #FFF;}



.box_filter{ margin-bottom: 20px; }

.box_filter .box_title{ background-color: #d3a23b; color: #000; height: 40px; line-height: 40px; font-size: 16px; padding: 0 10px; text-transform: uppercase; overflow: hidden; text-align: center;}

.box_filter .box_title a{ color: #000; }

.box_filter .box_content{ padding: 15px; border: 1px solid #EEE; border-top: 0; background-color: #FFF;}

.box_filter .my_btn{ border: 0; background: #d3a23b; color: #000; text-transform: uppercase;}



.box_support{ margin-bottom: 20px; }

.box_support .box_title{ background-color: #d3a23b; color: #000; height: 40px; line-height: 40px; font-size: 16px; padding: 0 10px; text-transform: uppercase; overflow: hidden; text-align: center;}

.box_support .box_title a{ color: #000; }

.box_support .box_content{ padding: 15px; border: 1px solid #EEE; border-top: 0; background-color: #FFF;}

.box_support .item{ padding-top: 10px; margin-bottom: 10px; border-top: 1px solid #EEE; color: #111;}

.box_support .item .name{ font-weight: bold; color: #FF0000; margin-bottom: 10px;}

.box_support .item .phone{ margin-bottom: 10px;}

.box_support .item .phone .fa{ color: #6b9fb2;}

.box_support .item .email{ margin-bottom: 10px;}

.box_support .item .skype{ margin-bottom: 10px;}

.box_support .item .skype .fa{ color: #00AFF0; font-size: 16px;}

.box_support .item  a{ color: #111;}

.box_support .item .fa{ width: 20px;}

.box_support .item:FIRST-CHILD{ border: 0;}



.box_page{ margin-bottom: 30px; }

.box_page .box_title{ background-color: #d3a23b; color: #FFF; height: 40px; line-height: 40px; font-size: 15px; padding: 0 15px; text-transform: uppercase; overflow: hidden; text-align: center; font-weight: 700;}

.box_page .box_title a{ color: #000; }

.box_page .box_content{ padding: 5px; border: 1px solid #EEE; border-top: 0; background-color: #FFF;}

.box_page .item{ padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #EEE;}

.box_page .item .name{ font-weight: bold;}

.box_page .item .phone{ font-weight: bold; color: #FF0000;}



.box_videoHighlight { overflow: hidden; margin-bottom: 30px;}

.box_videoHighlight a{ display: block; position: relative; color: #000;}

.box_videoHighlight a:HOVER{ color: #000;}

.box_videoHighlight img{ width: 100%;}

.box_videoHighlight span{ position: absolute; top: 45%; left: 5%; width: 90%; font-size: 16px; padding: 5px; background-color: rgba(255, 255, 255, 0.8); font-weight: bold; text-align: center;}



.box_social{ padding-top: 10px; text-align: right;}

.box_social a{ display: inline-block; margin-left: 10px; font-size: 30px; color: #000;}

.box_social a i{ color: #000;}



.box_contact{ padding: 10px 0;}

.box_contact .content{ padding-bottom: 30px;}

.box_contact .btnSuccess{ text-align: center; }

.box_contact .form-control{ border-radius: 0; border: 1px solid #111111; height: 52px; padding: 5px 20px; -webkit-box-shadow: 0 0 0; box-shadow: 0 0 0;}

.box_contact .form-control.submit{ border: 0; background-color: #d3a23b; font-weight: 400; text-transform: uppercase; color: #FFF; font-size: 17px; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}

.box_contact .form-control.submit:HOVER{ background-color: #071831;}

.box_contact .btn{ min-width: 300px; border: 0; height: 52px; border-radius: 0; background-color: #d3a23b; font-weight: 400; text-transform: uppercase; color: #FFF; font-size: 17px; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}

.box_contact .btn:HOVER{ background-color: #071831;}

.box_contact .alert{ padding: 13px 10px;}

.box_contact textarea.form-control{ height: 90px !important;}



.box_form .btnSuccess{ text-align: center; }

.box_form .form-control{ border-radius: 0; border: 1px solid #111111; height: 40px; padding: 5px 20px; -webkit-box-shadow: 0 0 0; box-shadow: 0 0 0;}

.box_form .form-control.submit{ border: 0; background-color: #d3a23b; font-weight: 400; text-transform: uppercase; color: #FFF; font-size: 17px; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}

.box_form .form-control.submit:HOVER{ background-color: #071831;}

.box_form .btn{ min-width: 300px; border: 0; border-radius: 0; background-color: #d3a23b; font-weight: 400; text-transform: uppercase; color: #FFF; font-size: 17px; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}

.box_form .btn:HOVER{ background-color: #071831;}

.box_form .alert{ padding: 9px 10px;}

.box_form textarea.form-control{ height: 90px !important;}



.box_adsLeft{}

.box_adsLeft .item{ margin-bottom: 30px;}

.box_adsLeft .item img{ width: 100%;}



.box_adsHome{ background: url("../img/bg_category.jpg") no-repeat top center; padding: 90px 0;}

.box_adsHome .box_content{ width: 1000px; max-width: 100%; margin: 0 auto;}

.box_adsHome .box_title .title{ text-align: center; color: #FFF; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 18px; position: relative; margin-bottom: 20px;}

.box_adsHome .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 50%; width: 50px; height: 5px; margin-left: -25px; background: #d3a23b;}

.box_adsHome .box_info{ color: #FFF; font-size: 15px; margin-bottom: 55px; text-align: center;}

.box_adsHome .box_item .item{ width: 314px; float: left; margin: 0 14px;}

.box_adsHome .box_item .item a{ display: inline-block; position: relative;}

.box_adsHome .box_item .item a span{ position: absolute; bottom: 0; left: 67px; width: 180px; height: 34px; line-height: 34px; text-align: center; background-color: #d2a23a; color: #FFF; font-size: 15px; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}

.box_adsHome .box_item .item a:HOVER span{ background-color: #0f2a51;}

.box_adsHome .box_item .item:FIRST-CHILD{ margin-left: 0;}

.box_adsHome .box_item .item:LAST-CHILD{ margin-right: 0;}



.box_adsFooter{ overflow: hidden; margin-right: 40px;}

.box_adsFooter a{ display: inline-block; font-size: 10px; padding: 5px 10px 3px; border: 1px solid #FFF; border-radius: 14px; text-transform: uppercase; margin: 0 5px 5px 0;}

.box_adsFooter a:HOVER{ background-color: #FFF; color: #071831 !important;}



.box_adsDoiTac{ padding: 90px 0 90px;}

.box_adsDoiTac .box_title .title{ text-align: center; color: #0f2a51; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 70px;}

.box_adsDoiTac .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 50%; width: 50px; height: 5px; margin-left: -25px; background: #d3a23b;}

.box_adsDoiTac .box_title .title a{ color: #0f2a51;}

.box_adsDoiTac .box_content{ text-align: center;}

.box_adsDoiTac .box_content a{ display: inline-block; margin: 0 20px 20px;}

.box_adsDoiTac .box_content a img{ max-height: 40px;}

.box_adsDoiTac .box_content a:FIRST-CHILD{ margin-left: 0;}

.box_adsDoiTac .box_content a:LAST-CHILD{ margin-right: 0;}



.box_adsRight a{ display: inline-block; margin-bottom: 30px;}

.box_adsRight a img{ width: 100%;}



/* Bai viet lien quan */

.box_involves .item{ font-size: 13px; display: block; padding: 10px 0; font-weight: normal;}



.box_chart{ height: 200px; position: relative; background: url("../img/icon_chart.jpg") no-repeat center center;}



.box_footer{ padding: 60px 0 60px; position: relative; background: #071831; color: #FFF;}

.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}

.box_footer .wrap{ margin: 0 -15px;}

.box_footer .col{ float: left; padding: 0 15px; font-size: 14px;}

.box_footer .col-1 .logo{ margin-bottom: 18px;}

.box_footer .col-1 .slogan{ margin-bottom: 15px; padding-bottom: 15px; position: relative;}

.box_footer .col-1 .slogan:before{position: absolute; content: ""; width: 70px; height: 5px; background: #fff; bottom: 0; left: 0;}

.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}

.box_footer .col-1 .address .fa{ width: 16px;}

.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}

.box_footer .col-1 .hotline .fa{ width: 16px;}

.box_footer .col-1 .social {padding-top: 10px;}

.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}

.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}

.box_footer .col-4 .langtech .title{font-size: 16px; text-transform: uppercase; font-weight: 500; padding: 20px 0;}

.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #d3a23b; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}

.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #C9353D;}

.box_footer a{ color: #FFF;}

.box_footer a:HOVER{ color: #d3a23b;}



.box_pagination{ text-align: center; margin-top: 20px;}

.box_pagination a{ display: inline-block; padding: 5px 10px 4px; border: 1px solid #CCC; color: #333; border-radius: 3px;}

.box_pagination a:hover{ text-decoration: none; background-color: #EEE;}

.box_pagination a.active{ background-color: #d3a23b; border: 1px solid #d3a23b; color: #FFF;}

.box_pagination a.disabled{ color: #CCC; cursor: default;}



.box_module{ margin-bottom: 30px;}

.box_module .box_title{ position: relative;}

.box_module .box_title .title{ font-size: 30px; font-weight: 500; margin-bottom: 15px;}

.box_module .box_content{}

.box_module .box_content img{ max-width: 100% !important; height: auto !important;}

.box_module.padding{ padding-right: 30px;}

.box_module.detail{ margin-bottom: 50px;}

.box_module.detail .box_title .title{ padding-bottom: 15px; border-bottom: 1px solid #e1e1e1; margin-bottom: 25px; color: #111111;}

.box_module.detail .box_title .title a{ color: #111111;}

.box_module.detail_course{ margin-bottom: 50px;}

.box_module.detail_course .box_title .title{ padding-bottom: 15px; border-bottom: 1px solid #e1e1e1; margin-bottom: 25px; font-weight: 700; font-size: 20px;}

.box_module.detail_course .box_title .title a{ color: #111111;}

.box_module.detail_course .banner_cover{ margin-bottom: 50px;}

.box_module.detail_course .banner_cover img{ width: 100%;}

.box_module.cart{ padding-top: 40px; padding-right: 0;}

.box_module.cart .box_title .title{ padding-bottom: 15px; border-bottom: 1px solid #e1e1e1; margin-bottom: 25px; color: #111111;}



.box_comment{ margin-bottom: 30px; padding-right: 30px;}

.box_comment .box_title { margin-bottom: 20px;}

.box_comment .box_title .title{ float: left; text-transform: uppercase; color: #464646; font-size: 17px; font-weight: 500; padding-top: 5px;}

.box_comment .box_title .share{ float: right;}

.box_comment .box_title .share i{ width: 33px; height: 33px; line-height: 33px; text-align: center; color: #FFF; border-radius: 50%; margin: 0; font-size: 18px; margin-left: 10px;}

.box_comment .box_title .share i.fa-facebook{ background: #4760a2;}

.box_comment .box_title .share i.fa-twitter{ background: #50abf0;}

.box_comment .box_title .share i.fa-google-plus{ background: #eb1c3b;}

.box_comment .box_content{ margin: 0 -8px;}
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {min-width: 100% !important;}




.box_involves{ margin-bottom: 30px; padding-right: 30px;}

.box_involves .box_title { margin-bottom: 15px;}

.box_involves .box_title .title{ text-transform: uppercase; font-size: 23px; font-weight: 700; color: #0f2a51;}

.box_involves .box_content{}



.box_courseInfo{ margin-bottom: 50px;}

.box_courseInfo .box_title{ margin-bottom: 10px;}

.box_courseInfo .box_title .title{ font-size: 20px; font-weight: 400; line-height: 27px;}

.box_courseInfo .box_title .title a{ color: #111111; font-weight: 700; font-size: 20px;}

.box_courseInfo .box_title .title a:HOVER{ color: #d3a23b;}

.box_courseInfo .item{ border-top: 1px solid #e1e1e1; padding: 15px 10px 15px 20px; font-size: 15px; color: #111111; font-weight: 500;}

.box_courseInfo .item .fa{ color: #b7b7b7; width: 25px;}

.box_courseInfo .item:FIRST-CHILD{ border: 0;}

.box_courseInfo .item .title{ text-transform: uppercase; margin-bottom: 4px;}

.box_courseInfo .btn_register{ padding-top: 10px;}

.box_courseInfo .btn_register a{ display: block; background-color: #d3a23b; height: 52px; line-height: 52px; font-size: 20px; color: #FFF; text-align: center; text-transform: uppercase; font-weight: 400;}

.box_courseInfo .btn_register a:HOVER{ background-color: #0f2a51;}



.box_teacherInfo{ margin-bottom: 50px;}

.box_teacherInfo .box_title{ margin-bottom: 10px;}

.box_teacherInfo .box_title .title{ padding-bottom: 15px; border-bottom: 1px solid #e1e1e1; margin-bottom: 25px; font-weight: 700; font-size: 20px;}

.box_teacherInfo .box_title .title a{ color: #111111;}

.box_teacherInfo .info{ display: table;}

.box_teacherInfo .info .avatar{ display: table-cell; width: 100px;}

.box_teacherInfo .info .avatar .image{ height: 100px; overflow: hidden; border-radius: 50%;}

.box_teacherInfo .info .avatar img{ width: 100%;}

.box_teacherInfo .info .name{ display: table-cell; vertical-align: top;}

.box_teacherInfo .info .name span{ display: block; font-size: 18px; font-weight: 500; padding: 25px 0 10px 20px; line-height: 26px; position: relative;}

.box_teacherInfo .info .name span:AFTER{ content: ""; position: absolute; bottom: 0; left: 20px; width: 27px; height: 3px; background-color: #d3a23b;}

.box_teacherInfo .description{ padding-top: 20px; font-size: 17px; line-height: 25px;}



.detail_course_left{ width: 900px; max-width: 100%;}

.detail_course_right{ width: 330px; max-width: 100%;}



.error { text-align: center; margin-top: 10px; color: #d91c23; }

.success{ text-align: center; }

.has-error .form-control{ border-color: #a94442 !important;}



.layout_category_default { padding: 0;}

.layout_category_default .item{ margin-bottom: 15px; padding-bottom: 15px; display: table;}

.layout_category_default .item .image { display: table-cell; width: 275px; vertical-align: top;}

.layout_category_default .item .image img{ width: 100%; }

.layout_category_default .item .info { display: table-cell; vertical-align: top; padding: 0 0 0 34px;}

.layout_category_default .item .info .title{ margin: 0 0 10px; font-weight: 500; font-size: 20px; line-height: 25px;}

.layout_category_default .item .info .title a{ color: #212323;}

.layout_category_default .item .info .title a:HOVER{ color: #d3a23b;}

.layout_category_default .item .info .category{ margin: 0 0 10px; color: #a1a1a1; font-size: 13px;}

.layout_category_default .item .info .category a{ text-transform: uppercase; color: #a1a1a1;}

.layout_category_default .item .info .category a:HOVER{ color: #111;}

.layout_category_default .item .info .description{ text-align: justify; font-size: 15px; line-height: 22px;}



.layout_category_course { padding: 0; }

.layout_category_course .col-md-2 { padding: 0 0 5px 0; }

.layout_category_course .col-md-2 a { border: 1px solid #0F2A51; padding: 8px 15px; line-height: 36px; text-transform: uppercase; font-weight: 500; }

.layout_category_course .col-md-12 { padding: 0; margin: 0; padding-bottom: 10px; }

.layout_category_course .col-md-12 .form-group { padding: 0 0 5px 0; }

.layout_category_course .col-md-12 .form-control { border-radius: 0; border: 1px solid #0F2A51; }

.layout_category_course .col-md-12 .btn { border-radius: 0; margin: 0 0 5px 0; }

.layout_category_course .item{ margin-bottom: 40px; position: relative;}

.layout_category_course .item .image { overflow: hidden; margin-bottom: 20px;}

.layout_category_course .item .image img{ width: 100%; }

.layout_category_course .item .info .title{ margin: 0 0 10px; font-weight: 700; font-size: 23px; line-height: 25px;}

.layout_category_course .item .info .title a{ color: #212323;}

.layout_category_course .item .info .title a:HOVER{ color: #d3a23b;}

.layout_category_course .item .info .speakers{ font-size: 14px; color: #707070; margin-bottom: 2px; font-weight: 700;}

.layout_category_course .item .info .location{ font-size: 14px; color: #707070;}

.layout_category_course .item .status{ position: absolute; top: 0; right: 0; background-color: #0e7cf4; padding: 3px 5px; color: #FFF; border-radius: 0 0 0 2px;}

.layout_category_course .item .status.red{ background-color: #f40e0e;}

.layout_category_course.involve .item{ margin-bottom: 30px;}

.layout_category_course.involve .item .image { overflow: hidden; margin: 0;}

.layout_category_course.involve .item .image img{ width: 100%; }

.layout_category_course.involve .item .speakers{ min-height: 44px; font-size: 17px; color: #FFF; background-color: #202b53; padding: 10px; text-transform: none; font-weight: 500; text-align: center;}

.layout_category_course.involve .item .info{ border: 1px solid #d7d7d7; border-top: 0;}

.layout_category_course.involve .item .info .title{ padding: 10px 20px; margin: 0; font-weight: 500; font-size: 17px; line-height: 25px; border-bottom: 1px solid #d7d7d7; text-align: center;}

.layout_category_course.involve .item .info .title a{ color: #212323;}

.layout_category_course.involve .item .info .title a:HOVER{ color: #d3a23b;}

.layout_category_course.involve .item .info .location{ font-size: 14px; color: #111111; padding: 10px  20px;}

.layout_category_course.involve .item .info .location .date{ float: left;}

.layout_category_course.involve .item .info .location .city{ float: right;}

.layout_category_course.involve .item .info .location .fa{ color: #c7c7c7;}



.layout_category_product{ }



.layout_category_video{ border-top: 0;}

.layout_category_video .item{ margin-bottom: 40px;}

.layout_category_video .item .image{ overflow: hidden; margin-bottom: 15px;}

.layout_category_video .item .image img{ width: 100%; }

.layout_category_video .item .image a{ display: block; position: relative;}

.layout_category_video .item .image a:AFTER { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/icon_play_60.png) no-repeat center center; z-index: 1; }

.layout_category_video .item .info .title{ font-size: 17px; margin-bottom: 5px; line-height: 22px;}

.layout_category_video .item .info .title a{ color: #000;}

.layout_category_video .item .info .title a:HOVER{ color: #d2a23a;}

.layout_category_video .item .info .count{ color: #707070; font-size: 14px;}



.layout_category_gallery{ border-top: 0;}

.layout_category_gallery .item{ margin-bottom: 30px;}

.layout_category_gallery .item .image{ overflow: hidden; margin-bottom: 20px;}

.layout_category_gallery .item .image img{ width: 100%; }

.layout_category_gallery .item .info .title{ font-size: 14px; margin-bottom: 5px; line-height: 20px;}

.layout_category_gallery .item .info .title a{ color: #000;}

.layout_category_gallery .item .info .title a:HOVER{ color: #d2a23a;}

.layout_category_gallery .item .info .count{ color: #707070; font-size: 14px;}

.layout_category_gallery.involve .item .image{ margin-bottom: 10px;}

.layout_category_gallery.involve .item .info .title{ font-size: 12px; line-height: 18px;}



.layout_item_default{ font-size: 17px;}

.layout_item_default ul{padding-left: 18px;}

.layout_item_default p{ line-height: 27px; margin-bottom: 25px;}

.layout_item_default .created_by{ margin-bottom: 20px;}

.layout_item_default .created_by .avatar{ width: 52px; background-color: #0f2a51; border-radius: 8px; overflow: hidden; float: left; margin-right: 17px;}

.layout_item_default .created_by .avatar img{ width: 100%;}

.layout_item_default .created_by .info{ padding-top: 15px;}

.layout_item_default .created_by .info .time{ font-size: 12px; color: #707070;}

.layout_item_default .created_by .info .user{ font-size: 12px; color: #707070;}

.layout_item_default .created_by .info .user span{ font-weight: 700; color: #4267b2;}

.layout_item_default .banner_cover{ margin-bottom: 40px;}

.layout_item_default .banner_cover img{ width: 100%;}

.layout_item_default .description{ font-weight: 500; margin-bottom: 10px;}

.layout_item_default .layout_item_default_content{ padding-left: 78px; position: relative; margin-bottom: 50px;}

.layout_item_default .box_share { position: absolute; top: 10px; left: 0;}

.layout_item_default .box_share a{ display: block; margin-bottom: 8px;}

.layout_item_default .box_share i{ width: 33px; height: 33px; line-height: 33px; text-align: center; color: #FFF; border-radius: 50%; margin: 0; font-size: 18px;}

.layout_item_default .box_share i.fa-facebook{ background: #4760a2;}

.layout_item_default .box_share i.fa-twitter{ background: #50abf0;}

.layout_item_default .box_share i.fa-google-plus{ background: #eb1c3b;}

.layout_item_default.detail_course{ font-size: 17px;}

.layout_item_default.detail_course ul{ margin: 0; padding: 0; list-style: none;}

.layout_item_default.detail_course ul li{ background: url("../img/icon_li.png") no-repeat left 5px; padding: 0 0 10px 30px;}



/* Tien NV */

.layout_item_default .video{padding-bottom: 15px;}

.layout_item_default .video iframe{height: 500px;}

/* End */



.layout_item_product { margin-bottom: 40px;}

.layout_item_product .detail-product { margin-bottom: 50px;}

.layout_item_product .detail-product .images{ width: 725px; float: left;}

.layout_item_product .detail-product .images .image{ text-align: center; border: 1px solid #d7d7d7; padding: 20px 0; float: left; width: 530px; position: relative;}

.layout_item_product .detail-product .images .image img{ width: 70%;}

.layout_item_product .detail-product .images .image .zoom{ content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; background: url("../img/icon_zoom.png") no-repeat center center rgba(0, 0, 0, 0.2); opacity: 0; transition: opacity 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}

.layout_item_product .detail-product .images .image:HOVER .zoom{ opacity: 0.5;}

.layout_item_product .detail-product .images .thumbs{ width: 145px; float: left; border-left: 1px solid #d7d7d7; border-top: 1px solid #d7d7d7; text-align: center;}

.layout_item_product .detail-product .images .thumbs .item{ border-bottom: 1px solid #d7d7d7;}

.layout_item_product .detail-product .images .thumbs .item img{ cursor: pointer; width: 50%;} 

.layout_item_product .detail-product .images .thumbs .item a{ display: block; padding: 20px 0;}

.layout_item_product .detail-product .images .thumbs .item a.active{ background-color: #EEE;}

.layout_item_product .detail-product .information{ width: 375px; float: left;}

.layout_item_product .detail-product .information .title{ padding: 0; margin: 0 0 5px; font-size: 30px; font-weight: 400; color: #0d0d0d;}

.layout_item_product .detail-product .information .status{ margin: 0 0 30px; font-size: 17px; color: #ecbc2e; text-transform: uppercase;}

.layout_item_product .detail-product .information .price { color: #ecbc2e; font-size: 40px; margin-bottom: 20px;}

.layout_item_product .detail-product .information .price .old{ color: #CCC; text-decoration: line-through; font-size: 30px;}

.layout_item_product .detail-product .information .price .value{ color: #ecbc2e; position: relative;}

.layout_item_product .detail-product .information .price .value:AFTER{ content: ""; position: absolute; bottom: 0; right: -2px; width: 26px; height: 2px; background-color: #ecbc2e;}

.layout_item_product .detail-product .information .desc{ font-size: 15px; margin: 15px 0;}

.layout_item_product .detail-product .information .number { margin: 0 0 30px;}

.layout_item_product .detail-product .information .number .control-label{ font-size: 17px; font-weight: normal; width: 95px; float: left; text-align: left; padding-top: 10px;}

.layout_item_product .detail-product .information .number .control-input{ width: 90px; float: left;}

.layout_item_product .detail-product .information .number .control-input .form-control{ border-radius: 0; height: 47px; font-size: 20px; text-align: center; z-index: 0; box-shadow: 0 0 0; -webkit-box-shadow: 0 0 0;}

.layout_item_product .detail-product .information .number .control-input .input-group-addon { border-radius: 0; padding: 0; border-bottom: 0;}

.layout_item_product .detail-product .information .number .control-input .input-group-addon span{ display: block; cursor: pointer; width: 26px; height: 23px; line-height: 20px; background: #FFF; border-bottom: 1px solid #CCC; font-size: 20px; transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}

.layout_item_product .detail-product .information .number .control-input .input-group-addon span.top{ line-height: 22px;}

.layout_item_product .detail-product .information .number .control-input .input-group-addon span:hover{ background-color: #E5E5E5;}

.layout_item_product .detail-product .information .add_cart{ margin-bottom: 30px;}

.layout_item_product .detail-product .information .add_cart a{ display: block; background-color: #d3a23b; font-size: 20px; padding: 0 20px 0 20px; color: #FFF; text-transform: uppercase; height: 52px; line-height: 52px; text-align: center;}

.layout_item_product .detail-product .information .add_cart a i{ font-size: 18px; margin-right: 5px;}

.layout_item_product .detail-product .information .add_cart a:HOVER{ background-color: #000; color: #FFF;}

.layout_item_product .content{ margin-bottom: 50px; border: 1px solid #d7d7d7;} 

.layout_item_product .content .content_title{ text-transform: uppercase; font-size: 25px; color: #111111; padding: 10px 60px; border-bottom: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7; display: inline-block; font-weight: 500;} 

.layout_item_product .content .content_text{ padding: 40px 60px; font-size: 17px;} 

.layout_item_product .content .content_text p{ line-height: 27px; margin-bottom: 25px;} 



.layout_item_video{ border-top: 0;}

.layout_item_video .content_video{ padding-top: 20px; }



.layout_item_gallery{ border-top: 0;}

.layout_item_gallery .item { margin-bottom: 30px; overflow: hidden;}

.layout_item_gallery .item .image{ text-align: center;}

.layout_item_gallery .item .image img{ width: 100%;}



/* San pham */

.productGrid{ margin: 0 -15px;}

.productGrid .item{ width: 20%; float: left; padding: 0 15px;}

.productGrid .item .image{ margin-bottom: 10px;}

.productGrid .item .image a{ display: block; position: relative;}

.productGrid .item .image img{ width: 100%;}

.productGrid .item .image .view{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url("../img/icon_zoom_product.png") no-repeat center 60% rgba(15, 42, 81, 0.5); visibility: hidden; opacity: 0; -webkit-transition: opacity 0.15s ease-in-out 0s; -moz-transition: opacity 0.15s ease-in-out 0s; transition: opacity 0.15s ease-in-out 0s;}

.productGrid .item .image .view .text{ width: 106px; height: 31px; text-align: center; line-height: 31px; color: #FFF; border: 1px solid #FFF; border-radius: 5px; position: absolute; bottom: }

.productGrid .item .image a:HOVER .view{ visibility:visible; opacity:1;}

.productGrid .item .title{ font-size: 17px; font-weight: 500; line-height: 22px; margin-bottom: 2px;}

.productGrid .item .title a{ color: #111;}

.productGrid .item .title a:HOVER{ color: #d3a23b;}

.productGrid .item .public{ color: #a1a1a1; font-style: italic; font-size: 14px; margin-bottom: 6px;}

.productGrid .item .price{ color: #d3a23b; font-size: 17px; font-weight: 500;}

.productGrid .item .price .old{ font-weight: 400; text-decoration: line-through; color: #999;}



.table_productCart{ }

.table_productCart .table tbody tr td img{ width: 100px; height: auto;}



.btn-gotop{ position: fixed; bottom: 10px; right: 10px; z-index: 9999; display: block; color: #666; font-size: 32px;}

.btn-gotop a{}



.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }

.content-loading { position: absolute; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center;}

.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

.loader_2 { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load_2 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

.fancybox-overlay{z-index: 100000;}

.fb_dialog_content{display: none !important;}

.inline-app a{

	display: inline-block;

	margin: 5px 0;

}



.mobile_book .mobile_book_content .content{ padding: 10px;}

.mobile_book .mobile_book_content .content img{ max-width: 100% !important; height: auto !important;}



/* Defined */

@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }



@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }



@-webkit-keyframes load_2 { 0%, 100% { box-shadow: 0 -3em 0 0.2em #0f2a51, 2em -2em 0 0em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0 0 -1em #0f2a51, -2em -2em 0 0 #0f2a51; } 12.5% { box-shadow: 0 -3em 0 0 #0f2a51, 2em -2em 0 0.2em #0f2a51, 3em 0 0 0 #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51; } 25% { box-shadow: 0 -3em 0 -0.5em #0f2a51, 2em -2em 0 0 #0f2a51, 3em 0 0 0.2em #0f2a51, 2em 2em 0 0 #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51; } 37.5% { box-shadow: 0 -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0em 0 0 #0f2a51, 2em 2em 0 0.2em #0f2a51, 0 3em 0 0em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0em 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51; } 50% { box-shadow: 0 -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 0em #0f2a51, 0 3em 0 0.2em #0f2a51, -2em 2em 0 0 #0f2a51, -3em 0em 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51; } 62.5% { box-shadow: 0 -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 0 #0f2a51, -2em 2em 0 0.2em #0f2a51, -3em 0 0 0 #0f2a51, -2em -2em 0 -1em #0f2a51; } 75% { box-shadow: 0em -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0em 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 0 #0f2a51, -3em 0em 0 0.2em #0f2a51, -2em -2em 0 0 #0f2a51; } 87.5% { box-shadow: 0em -3em 0 0 #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 0 #0f2a51, -3em 0em 0 0 #0f2a51, -2em -2em 0 0.2em #0f2a51; } }

@-moz-keyframes load_2 { 0%, 100% { box-shadow: 0 -3em 0 0.2em #0f2a51, 2em -2em 0 0em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0 0 -1em #0f2a51, -2em -2em 0 0 #0f2a51; } 12.5% { box-shadow: 0 -3em 0 0 #0f2a51, 2em -2em 0 0.2em #0f2a51, 3em 0 0 0 #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51; } 25% { box-shadow: 0 -3em 0 -0.5em #0f2a51, 2em -2em 0 0 #0f2a51, 3em 0 0 0.2em #0f2a51, 2em 2em 0 0 #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51; } 37.5% { box-shadow: 0 -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0em 0 0 #0f2a51, 2em 2em 0 0.2em #0f2a51, 0 3em 0 0em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0em 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51; } 50% { box-shadow: 0 -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 0em #0f2a51, 0 3em 0 0.2em #0f2a51, -2em 2em 0 0 #0f2a51, -3em 0em 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51; } 62.5% { box-shadow: 0 -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 0 #0f2a51, -2em 2em 0 0.2em #0f2a51, -3em 0 0 0 #0f2a51, -2em -2em 0 -1em #0f2a51; } 75% { box-shadow: 0em -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0em 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 0 #0f2a51, -3em 0em 0 0.2em #0f2a51, -2em -2em 0 0 #0f2a51; } 87.5% { box-shadow: 0em -3em 0 0 #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 0 #0f2a51, -3em 0em 0 0 #0f2a51, -2em -2em 0 0.2em #0f2a51; } }

@keyframes load_2 { 0%, 100% { box-shadow: 0 -3em 0 0.2em #0f2a51, 2em -2em 0 0em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0 0 -1em #0f2a51, -2em -2em 0 0 #0f2a51; } 12.5% { box-shadow: 0 -3em 0 0 #0f2a51, 2em -2em 0 0.2em #0f2a51, 3em 0 0 0 #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51; } 25% { box-shadow: 0 -3em 0 -0.5em #0f2a51, 2em -2em 0 0 #0f2a51, 3em 0 0 0.2em #0f2a51, 2em 2em 0 0 #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51; } 37.5% { box-shadow: 0 -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0em 0 0 #0f2a51, 2em 2em 0 0.2em #0f2a51, 0 3em 0 0em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0em 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51; } 50% { box-shadow: 0 -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 0em #0f2a51, 0 3em 0 0.2em #0f2a51, -2em 2em 0 0 #0f2a51, -3em 0em 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51; } 62.5% { box-shadow: 0 -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 0 #0f2a51, -2em 2em 0 0.2em #0f2a51, -3em 0 0 0 #0f2a51, -2em -2em 0 -1em #0f2a51; } 75% { box-shadow: 0em -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0em 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 0 #0f2a51, -3em 0em 0 0.2em #0f2a51, -2em -2em 0 0 #0f2a51; } 87.5% { box-shadow: 0em -3em 0 0 #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 0 #0f2a51, -3em 0em 0 0 #0f2a51, -2em -2em 0 0.2em #0f2a51; } }



/*Responsive*/

@media screen and (min-width: 1200px) {

	.productGrid .item:nth-child(6),

	.productGrid .item:nth-child(11),

	.productGrid .item:nth-child(16),

	.productGrid .item:nth-child(21),

	.productGrid .item:nth-child(26),

	.productGrid .item:nth-child(31),

	.productGrid .item:nth-child(36){ clear: left;}

	

	.layout_category_default .col-sm-4:nth-child(4),

	.layout_category_default .col-sm-4:nth-child(7),

	.layout_category_default .col-sm-4:nth-child(10),

	.layout_category_default .col-sm-4:nth-child(13),

	.layout_category_default .col-sm-4:nth-child(16),

	.layout_category_default .col-sm-4:nth-child(19),

	.layout_category_default .col-sm-4:nth-child(22){ clear: left;}

	

	.layout_category_gallery .col-sm-3:nth-child(5),

	.layout_category_gallery .col-sm-3:nth-child(9),

	.layout_category_gallery .col-sm-3:nth-child(13),

	.layout_category_gallery .col-sm-3:nth-child(17),

	.layout_category_gallery .col-sm-3:nth-child(21),

	.layout_category_gallery .col-sm-3:nth-child(25),

	.layout_category_gallery .col-sm-3:nth-child(29){ clear: left;}

	

	.layout_category_video .col-sm-3:nth-child(5),

	.layout_category_video .col-sm-3:nth-child(9),

	.layout_category_video .col-sm-3:nth-child(13),

	.layout_category_video .col-sm-3:nth-child(17),

	.layout_category_video .col-sm-3:nth-child(21),

	.layout_category_video .col-sm-3:nth-child(25),

	.layout_category_video .col-sm-3:nth-child(29){ clear: left;}

	

	.layout_category_course .col-sm-4:nth-child(4),

	.layout_category_course .col-sm-4:nth-child(7),

	.layout_category_course .col-sm-4:nth-child(10),

	.layout_category_course .col-sm-4:nth-child(13),

	.layout_category_course .col-sm-4:nth-child(16),

	.layout_category_course .col-sm-4:nth-child(19),

	.layout_category_course .col-sm-4:nth-child(22){ clear: left;}

	

	.layout_item_gallery .col-sm-3:nth-child(5),

	.layout_item_gallery .col-sm-3:nth-child(9),

	.layout_item_gallery .col-sm-3:nth-child(13),

	.layout_item_gallery .col-sm-3:nth-child(17),

	.layout_item_gallery .col-sm-3:nth-child(21),

	.layout_item_gallery .col-sm-3:nth-child(25),

	.layout_item_gallery .col-sm-3:nth-child(29){ clear: left;}

	

	.layout_item_gallery .item .image img{ height: 208px !important;}

}



@media(max-width: 1200px){

	.box_student .box_content .bx-controls-direction a.bx-prev{left: 0; box-shadow: 0 0 20px rgba(34, 30, 31, 0.4);}

	.box_student .box_content .bx-controls-direction a.bx-next{right: 0; box-shadow: 0 0 20px rgba(34, 30, 31, 0.4);}

	

	.box_teacher .box_content .bx-controls-direction .bx-prev{ left: 0; box-shadow: 0 0 20px rgba(34, 30, 31, 0.4);}

	.box_teacher .box_content .bx-controls-direction .bx-next{ right: 0; box-shadow: 0 0 20px rgba(34, 30, 31, 0.4);}

}



@media(max-width: 992px){

	.box_menuMain .navbar-brand{ padding-left: 10px;}



	.box_newsHome .box_right{width: 100%;}

	.box_defaultCategoryLeft .box_title .title{padding: 0 10px 20px;}

	.box_defaultCategoryLeft .box_title .title:AFTER{left: 10px;}

	.box_defaultCategoryRight .box_title .title{padding: 0 10px 20px;}

	.box_defaultCategoryRight .box_title .title:AFTER{left: 10px;}

	.box_defaultCategoryLeft .box_content{margin: 0 10px;}

	.box_newsHome .box_right .box_defaultCategoryRight .row{margin: 0;}

	.box_defaultCategoryRight .box_content .item .image img{width: 100%;}

}



@media all and (max-width: 768px){

	.item-footer{padding: 15px 0; border-bottom: #fff thin dashed}

	.inline-app a{margin-top: 15px; display: inline-block; width: 50%; float: left; padding: 0 5px; }

	.inline-app a:first-child{padding-left: 0;}

	.inline-app a:last-child{padding-right: 0;}



	body{ font-size: 15px;}

	

	.productGrid .min-height:nth-child(3),

	.productGrid .min-height:nth-child(5),

	.productGrid .min-height:nth-child(7),

	.productGrid .min-height:nth-child(9),

	.productGrid .min-height:nth-child(11),

	.productGrid .min-height:nth-child(13),

	.productGrid .min-height:nth-child(15),

	.productGrid .min-height:nth-child(17),

	.productGrid .min-height:nth-child(19),

	.productGrid .min-height:nth-child(21){ clear: left;}

	

	.layout_item_default .video iframe{height: 300px;}

	

	.form-inline .form-control { display: inline-block; width: auto; vertical-align: middle; }

	

	.container-fluid{ padding: 0;}

	.wrapper_content{ padding: 10px; border-top: 0;}



	.box_top{ height: auto;}

	.box_top .col-sm-6{ border-top: 1px solid #e1e1e1;}

	.box_top .hotline a{ color: #FFF;}

	.box_top .user{ float: left;}

	.box_top .user ul{ float: left;}

	.box_top .user ul>li{ float: left;}

	.box_top .user ul>li>a{ float: none;}

	.box_top .user ul>li:FIRST-CHILD>a{ padding-left: 0;}

	.box_top .user ul>li:LAST-CHILD>a{ border-right: 0;}

	.box_top .social{ display: none;}

	

	.box_menuMain{ background-color: #EEE; padding: 0; position: relative; height: 50px; border: 0;}

	.box_menuMain .header .logo{ position: absolute; top: 5px; left: 15px; margin: 0;}

	.box_menuMain .header .logo img{ height: 40px;}

	.box_menuMain .toggle{ position: absolute; top: 16px; right: 15px; color: #222; width: 24px;}

	.box_menuMain .toggle .line{ display: block; height: 2px; margin-bottom: 4px; border-radius: 1px; background-color: #999;}

	.box_menuMain .hotline{ position: absolute; top: 5px; right: 15px; width: auto;}

	.box_menuMain .hotline a{ color: #FFF;}

	.box_menuMain .hotline .phone{ display: none;}

	.box_menuMain .hotline .btn_dangky{ margin: 0; padding: 0;}

	.box_menuMain .hotline .btn_dangky img{ height: 30px;}

	

	.box_defaultHome{ padding: 20px 15px 50px;}

	.box_defaultHome .info{ width: auto; float: none; }

	.box_defaultHome .info .title{ font-size: 20px;}

	.box_defaultHome .info .slogan{ font-size: 15px;}

	.box_defaultHome .image{ display: none; }



	.box_productCategoryHome .box_title .title{ font-size: 14px;}

	.box_productCategoryHome .box_title .view_all{ display: none;}

	

	.box_bxslider { margin-bottom: 20px;}

	.box_bxslider .bx-pager{ bottom: 10px; display: none;}

	

	.box_adsHome{ padding: 50px 0; background-size: cover;}

	.box_adsHome .box_title .title{ font-size: 20px;}

	.box_adsHome .box_info { padding-left: 15px; padding-right: 15px;}

	.box_adsHome .box_info br{ display: none;}

	.box_adsHome .box_item .item{ width: calc(50% - 30px); margin: 0 15px; margin-bottom: 30px;}

	.box_adsHome .box_item .item:FIRST-CHILD{ margin-left: 15px;}

	.box_adsHome .box_item .item:LAST-CHILD{ float: none; margin: 0 auto;}

	.box_adsHome .box_item .item a span{ left: 0; width: 100%; font-size: 12px; height: 28px; line-height: 28px; position: relative; display: block;}

	.box_adsHome a{ display: block; text-align: center; margin-bottom: 10px;}

	.box_adsHome a img{ max-width: 100%;}

	

	.box_courseHighlight{ margin: 0; padding: 50px 0;}

	.box_courseHighlight .box_title .title{ padding-left: 15px; padding-right: 15px; font-size: 20px;}

	.box_courseHighlight .box_info { padding-left: 15px; padding-right: 15px;}

	.box_courseHighlight .box_info br{ display: none;}

	.box_courseHighlight .item{ width: auto; margin: 0 15px 10px; padding-bottom: 10px; font-size: 15px; float: none;}

	.box_courseHighlight .item:nth-child(1), 

	.box_courseHighlight .item:nth-child(4), 

	.box_courseHighlight .item:nth-child(7){ margin: 0 15px 10px;}

	.box_courseHighlight .item:nth-child(3), 

	.box_courseHighlight .item:nth-child(6), 

	.box_courseHighlight .item:nth-child(9){ margin: 0 15px 10px;}

	

	.box_courseNew{ padding: 50px 0;}

	.box_courseNew .box_title .title{ float: none; margin-bottom: 20px; font-size: 20px;}

	.box_courseNew .box_title .filter{ float: none;}

	.box_courseNew .box_title .filter a{ margin: 0 10px 0 0; font-size: 13px; height: 30px; line-height: 28px; min-width: 0;}

	.box_courseNew .box_content{ padding-top: 30px;}

	.box_courseNew .item .date{ width: 70px;}

	.box_courseNew .item .content{ float: none; width: auto; overflow: hidden;}

	.box_courseNew .item .content .image{ display: none;}

	.box_courseNew .item .content .info .title{ font-size: 16px;}

	.box_courseNew .item .view{ display: none;}

	.box_courseNew .item .date .day{ font-size: 40px;}

	.box_courseNew .item .date .month{ font-size: 10px;}

	.box_courseNew .item .date .year{ font-size: 12px;}

	.box_courseNew .view_all{ padding: 0; text-align: center;}

	

	.box_teacher{ padding-top: 50px;}

	.box_teacher .box_title .title{ font-size: 20px;}

	.box_teacher .item .title{ font-size: 12px;}

	.box_teacher .item .image .wrap{ display: none;}

	

	.box_student{ padding: 50px 0;}

	.box_student .box_title .title{ font-size: 20px;}

	.box_student .item .content{ font-size: 13px;}



	.box_defaultCategoryLeft{ padding: 0 15px; margin-bottom: 50px;}

	.box_defaultCategoryLeft .box_title .title{ font-size: 20px;}

	.box_defaultCategoryLeft .box_content{ padding: 15px 15px 10px;}

	.box_defaultCategoryLeft .box_content .item{ font-size: 13px;}

	.box_defaultCategoryLeft .box_content .item a{ height: auto;}

	.box_defaultCategoryLeft .box_content .item_first .image{ width: 30%; margin-right: 10px;}

	.box_defaultCategoryLeft .box_content .item_first .image img{ height: auto; width: 100%;}

	.box_defaultCategoryLeft .box_content .item_first .desc{ font-size: 13px; line-height: 20px;}

	

	.box_defaultCategoryRight{ padding: 0 15px;}

	.box_defaultCategoryRight .box_title .title{ font-size: 20px;}

	.box_defaultCategoryRight .box_content .item .info { margin-bottom: 40px;}

	.box_defaultCategoryRight .box_content .item .info .desc{ font-weight: 400; font-size: 14px;}

	.box_defaultCategoryRight .box_content .item .image { height: auto;}

	.box_defaultCategoryRight .box_content .item .image img{ width: 100%; height: auto;}

	

	.box_dangKy{ background: #ebebeb; padding: 40px 0;}

	.box_dangKy .box_title{ font-size: 20px;}

	.box_dangKy .box_title br{ display: none;}

	.box_dangKy .box_wrapper{ padding: 0 15px; background: none; min-height: 0;}

	.box_dangKy .box_wrapper .box_content{ padding: 0;}



	.box_adsDoiTac .box_title .title{ font-size: 20px;}

	

	.box_productNew { padding: 50px 0;}

	.box_productNew .box_title .title{ font-size: 20px; margin-bottom: 30px;}

	.box_productNew .item{ width: calc(50% - 30px); margin-bottom: 40px;}

	.box_productNew .item .title{ font-size: 14px;}

	.box_productNew .item .public{ font-size: 12px;}

	.box_productNew .item .price{ font-size: 14px;}

	.box_productNew .item:nth-child(3), 

	.box_productNew .item:nth-child(5), 

	.box_productNew .item:nth-child(7),

	.box_productNew .item:nth-child(9),

	.box_productNew .item:nth-child(11),

	.box_productNew .item:nth-child(13),

	.box_productNew .item:nth-child(15){ clear: left;}

	

	.box_newsHome{ padding: 50px 0;}

	.box_newsHome .box_left{ width: auto; float: none;}

	.box_newsHome .box_right{ width: auto; float: none;}

	

	.box_defaultNew{ height: auto;}

	.box_defaultNew .bx-wrapper{ height: auto;}

	.box_defaultNew .box_title{ display: none;}

	.box_defaultNew .title{ font-size: 12px; padding: 10px;}

	.box_defaultNew .bx-controls{ display: none;}

	

	.box_adsFooter .item{ width: 50%;}

	

	.box_adsDoiTac .box_title .title{ margin-bottom: 30px;}

	.box_adsDoiTac .box_content a{ margin: 10px;}

	.box_adsDoiTac .box_content a img{ height: auto;}

	

	.box_banner .title{ font-size: 18px;}



	.box_footer .col{ width: auto; float: none; margin-bottom: 40px;}

	

	.productGrid .item{ width: 50%; margin-bottom: 40px;}

	.productGrid .item .image{ margin-bottom: 5px;}

	.productGrid .item .title{ padding: 0; font-size: 12px; text-transform: none;}

	.productGrid .item .description{ padding: 0;}

	.productGrid .item:nth-child(3), 

	.productGrid .item:nth-child(5), 

	.productGrid .item:nth-child(7),

	.productGrid .item:nth-child(9),

	.productGrid .item:nth-child(11),

	.productGrid .item:nth-child(13),

	.productGrid .item:nth-child(15),

	.productGrid .item:nth-child(17),

	.productGrid .item:nth-child(19),

	.productGrid .item:nth-child(21){ clear: left;}

	

	.box_module.padding{ padding-right: 0;}

	.box_module.detail .box_title .title{ font-size: 20px;}

	.box_module .box_title .title{ font-size: 20px;}

	.box_module .box_content{ padding: 15px 0; border: 0;}

	

	.layout_category_default .item .image{ width: 120px;}

	.layout_category_default .item .info{ padding-left: 10px;}

	.layout_category_default .item .info .title{ font-size: 14px; line-height: 18px;}

	.layout_category_default .item .info .category{ font-size: 11px;}

	

	.layout_item_product .detail-product .images{ width: 100%; float: none; margin-bottom: 40px;}

	.layout_item_product .detail-product .images .image{ width: 100%; float: none;}

	.layout_item_product .detail-product .images .thumbs{ display: none;}

	.layout_item_product .detail-product .information{ width: auto; float: none;}

	.layout_item_product .detail-product .information .number .form-group:AFTER{ content: ""; display: block; clear: both;}

	.layout_item_product .content .content_title{ font-size: 16px; padding: 10px 20px;}

	.layout_item_product .content .content_text{ padding: 30px 15px; font-size: 13px;}

	

	.layout_item_default{ font-size: 14px;}

	.layout_item_default p{ line-height: 24px;}

	.layout_item_default .layout_item_default_content{ padding-left: 0;}

	.layout_item_default .box_share{ display: none;}

	

	.btn-gotop{ width: 40px;}

	.box_reportCart{ top: auto; bottom: 30px; right: 10px;}

	

	.popup_video .popup_content{ width: 90%;}

}



@media all and (max-width: 767px){

	

}



@media (max-width: 540px){

} 



@media all and (max-width: 380px){

}