@charset "utf-8";
@import "../fonts/font.css";

body{ color: #282828; font-size: 17px;}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}

.clr { clear: both; }
.clearfix:AFTER{ content: ""; display: block; clear: both;}

.box_header{ background-color: #FFF; width: 100%; top: 0; left: 0; z-index: 9999; position: relative; height: 70px;}
.box_header .container{ position: relative;}
.box_header .logo{ display: inline-block; margin-top: 17px;}
.box_header .menu{ padding: 20px 0 0; list-style: none; float: right; margin: 0;}
.box_header .menu li{ display: inline-block; padding-left: 40px; text-align: center; vertical-align: middle;}
.box_header .menu li a{text-transform:uppercase; font-size: 13px; color: #282828; font-family: "Roboto-Bold"; padding: 8px 0 6px; display: inline-block;}
.box_header .menu li a.active{color: #f2ad21;}
.box_header .menu li a:hover{ color: #f2ad21;}
.box_header .menu li a.btn_book{ display: inline-block;text-transform: ; background-color: #f2ad21; color: #FFF; padding: 0; width: 112px; height: 28px; line-height: 28px; font-weight: normal; font-family: "Roboto-Medium", "Segoe UI"; border-radius: 3px;}
.box_header .menu li a.btn_book:hover{ background-color: #0e0e1a;}
.box_header .menu li a.btn_book.active{ background-color: #ed1c24;}
.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}
.box_header.sticky{ position: fixed; top: 0px; z-index: 2000; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
.box_header.sticky .menu li a.last{ padding-right: 20px;}
.box_header.sticky .box_user{ display: block; padding: 10px 0 0;}
.box_header.sticky .box_user li a{ display: inline-block; padding: 5px 20px; color: #404041; font-size: 13px; font-weight: 600; height: auto; line-height: normal;}
.box_header.sticky .box_user li a:hover{ color: #0088cc;}
.box_header.sticky .box_user_login{ display: block;}
.box_header.sticky .box_user_login .dropdown-toggle{ background: none !important; height: 50px; line-height: 50px; margin: 0 0 0 20px;}
.box_header.sticky .box_user_login .dropdown-toggle:focus{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle:hover{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle img{ vertical-align: top; margin-top: 5px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:BEFORE{ right: 12px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:AFTER{ right: 13px;}
.box_header.sticky .box_user_login.navbar-nav>li>a{ padding: 15px 20px;}
.box_header.sticky .box_user_login.navbar-nav>li>a:hover{ background: none; color: #000;}

.box_banner{margin-bottom:100px; }
.box_banner .image img{ width: 100%;}

.box_gioiThieu .img img{width: 100%; box-shadow:3px 5px 5px 0 #9a9a9a;}
.box_gioiThieu .text{padding-left: 85px;}
.box_gioiThieu .box_title{ font-size: 30px; font-family: "SVNKelsonSansBold"; color: #1e2b52; text-transform: uppercase; padding-bottom: 60px; text-align: center;}
.box_gioiThieu .text .item{position: relative; font-family: "Roboto-LightItalic"; color: #4c4b4d; font-size: 17px; line-height: 23px; padding-bottom: 33px;}
.box_gioiThieu .text .item:before{position: absolute; content: ""; background: url("../images/icon-16.png") no-repeat top left; width: 30px; height: 30px; top: 5px; left: -50px;}
.box_gioiThieu .box_content{width: 800px; max-width: 100%; margin: 0 auto; margin-top: 50px;}
.box_gioiThieu .box_content .detail{padding: 40px 50px 40px 65px; background: #1e2b52; color: #fff; font-family: "Roboto-Medium"; font-size: 17px; line-height: 23px; position: relative;}
.box_gioiThieu .box_content .detail .note{color: #fff; font-family: "SVNKelsonSansBold"; font-size: 20px; padding-top: 20px;}
.box_gioiThieu .box_content .detail .note a{color: #eb1c3c;}
.box_gioiThieu .box_content .detail span{font-size: 25px; line-height: 25px; color: #f0aa38;}
.box_gioiThieu .box_content .detail:before{position: absolute; content: ""; background: url("../images/icon-15.png") no-repeat top center; width: 30px; height: 30px; top: 30px; left: 25px;}
.box_gioiThieu .box_content .box_title{ margin-bottom:70px; font-size: 27px; font-family: "SVNKelsonSansBold"; text-align: center; color: #1e2b52; text-transform: uppercase;}
.box_gioiThieu .box_content .box_title span{position: relative; z-index: 1000;}
.box_gioiThieu .box_content .box_title .note{position: relative;}
.box_gioiThieu .box_content .box_title .note:before{position: absolute; z-index: 0; content: ""; background: #f2ad21; width: 100%; height: 5px; left: 0; bottom: 0px;}
.box_gioiThieu .box_content .info .value{padding-bottom: 25px; font-size: 17px; line-height: 23px; font-family: "Roboto-Light"; color: #1f1f1f;}

.box_thongTin{ margin: 60px auto; background: url("../images/banner-1.jpg") no-repeat top center; padding: 120px 0 0 0; }
.box_thongTin .box_title{ font-size: 17px; line-height: 33px;height: 33px; color: #fff; font-family: "DP-Bold"; width: 220px; text-align:center; max-width: 100%; margin: 0 auto; background: #f0aa38;}
.box_thongTin .detail{margin-top:20px; text-transform: uppercase; margin-bottom:65px; font-size: 32px; line-height: 45px; color: #fff; font-family: "DP-Bold"; text-align: center;}
.box_thongTin .box_content{ width: 1000px; max-width: 100%; margin: 0 auto; padding: 50px 100px 0 100px; background: #fff; border-top: 5px solid #f0aa38;}
.box_thongTin .box_content .text{font-size: 17px; line-height: 27px; font-family: "Roboto-Regular"; padding-bottom: 30px;}
.box_thongTin .box_content .text span{font-family: "Roboto-Bold";}
.box_thongTin .box_content .info{ width: 100%; margin-top: 30px;}
.box_thongTin .box_content .info .item{ display: table; font-family: "Roboto-Bold"; font-size: 17px; margin-bottom: 15px; line-height: 30px;color: #0f2a51;}
.box_thongTin .box_content .info .item .key{ font-family: "DP-Bold"; display: table-cell; font-size:20px; line-height:20px; text-transform:uppercase; width: 150px; max-width:100%; vertical-align: middle; color: #111;}
.box_thongTin .box_content .info .item .value{background:#fff; color:#fff; font-family:"Roboto-Regular"; text-transform:uppercase; display: table-cell; font-size:17px; line-height:24px; width: 650px;max-width:100%; border: 1px solid #222831; color:#111; vertical-align: middle; padding:13px 30px;}
.box_thongTin .box_content .info .item .value .text{font-size: 12px; line-height: 15px;}
.box_thongTin .box_content .info .item .value .text p{padding-left: 47px;}
.box_thongTin .box_content .info .item .value.btn_book{font-family: "DP-Bold";  background: #f2ad21; border: none; text-align: center; font-size: 20px; line-height: 20px;height: 60px;}
.box_thongTin .box_content .info .item .value.btn_book a{color: #fff;}
.box_thongTin .box_content .info .item .value.btn_book:hover{background: #0e0e1a; transition: color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: #fff;}
.box_thongTin .box_content .info .item:hover .value { color: #fff; background: #f2ad21; transition: color 0.3s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}

.box_muctieu{background: #202b53; height: 640px; margin-bottom: 30px;}
.box_muctieu .left{width: 44%; max-width: 100%; height: 640px; float: left; background: url("../images/banner-2.jpg") no-repeat center center; background-size: cover;}
.box_muctieu .right{width: 56%; max-width: 100%; height: 640px; float: left;}
.box_muctieu .right .box_content{width: 715px; max-width: 100%; float: left; color: #fff; padding: 100px 0 0 100px;}
.box_muctieu .right .box_content .box_title{font-family: "DP-Bold"; font-size: 32px; line-height: 45px; margin-bottom: 70px;}
.box_muctieu .right .box_content .item{padding: 0 0 40px 85px; font-family: "Roboto-Regular"; font-size: 17px; line-height: 25px; position: relative;}
.box_muctieu .right .box_content .item:before{position: absolute; content: ""; width: 50px; height: 50px; background: url("../images/icon-14.png") no-repeat top center; top: 5px; left: 0;}

.box_noiDung{margin-bottom: 100px; margin-top: 100px;}
.box_noiDung .container{width: 1000px; max-width: 100%;}
.box_noiDung .title{font-size: 35px; line-height: 15px; font-family: "DP-Bold"; margin-bottom: 45px;}
.box_noiDung .info{ vertical-align: middle; font-size: 20px; line-height: 30px; padding: 20px 0; background: #1c2d63; color: #fff; font-family: "Roboto-Bold"; cursor: pointer;}
.box_noiDung .list{background: #ebebeb; padding: 35px 0 10px 100px; cursor: pointer;}
.box_noiDung .item{margin-top: 5px;}
.box_noiDung .list p{line-height: 25px; position: relative; margin-bottom: 30px;}
.box_noiDung .list p::before{content:'';  position: absolute; top: 5px; left: -40px; width: 100%; height: 100%; background: url("../images/icon-16.png") no-repeat; }
.box_noiDung .list-hide{display: none;}

.box_doituong{display: flex;}
.box_doituong .left{width: 50%; max-width: 100%; float:left; background: url("../images/banner-3.jpg") no-repeat top center; background-size:cover; height: 775px;}
.box_doituong .right{width: 50%; max-width: 100%; float: left; padding: 205px 0 0 100px;}
.box_doituong .right .box_content{width: 400px; max-width: 100%;}
.box_doituong .right .box_content .box_title{position: relative; font-size: 32px; line-height: 45px; font-family: "DP-Bold"; color: #202b53; padding-bottom: 70px;}
.box_doituong .right .box_content .box_title:before{position: absolute; content: ""; width: 50px; height: 10px; background: #f0aa38; bottom: 50px; left: 0;}
.box_doituong .right .box_content .item{font-size: 17px; line-height: 25px; font-family: "Roboto-Regular"; position: relative; padding-bottom: 35px; padding-left: 35px;}
.box_doituong .right .box_content .item:before{position: absolute; content: ""; width: 10px; height: 10px; left: 0; top: 5px; background: url("../images/icon-12.png") no-repeat;}

.box_dienGia{ background: url("../images/banner-4.jpg") no-repeat center; font-size: cover; color: #FFF; overflow: hidden; position: relative; height: 700px; background-size: cover;}
.box_dienGia .content { padding: 140px 0 80px 0;}
.box_dienGia .box_title .title_1{ font-size: 40px; font-family: "DP-Bold"; color: #FFF;line-height: 45px;padding-bottom: 30px;}
.box_dienGia .box_content .text{font-family: "Roboto-Bold"; font-size: 20px; line-height: 30px;}
.box_dienGia .box_content .item{padding-bottom:30px; position: relative; padding-left: 40px; font-size: 15px; font-family: "Roboto-Regular"; line-height: 29px;}
.box_dienGia .box_content .item:before{ content: ""; width: 20px; height: 20px; background: url("../images/icon-13.png") no-repeat; position: absolute; top: 8px; left: 0;}
.box_dienGia .box_content .item a{color: #fff;}

.box_student{ display: none; padding: 90px 0 0; background: url("../images/bg_student.jpg") no-repeat top center; background-size: cover;}
.box_student .box_title .title{ text-align: center; color: #FFF; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 50px;}
.box_student .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 50%; width: 50px; height: 5px; margin-left: -25px; background: #d3a23b;}
.box_student .box_content{ width: 1000px; max-width: 100%; margin: 0 auto;}
.box_student .item{min-height: 280px;}
.box_student .item .fa{position: absolute; font-size: 50px; color: #fff; top: 50%; left: 50%; margin: -25px 0 0 -25px; }
.box_student .item .image{ margin-bottom: 12px; text-align: center; padding-top: 20px;}
.box_student .item .image img{ width: auto; display: inline-block; width: 100%;}
.box_student .item .name{ font-size: 15px; font-weight: 500; text-transform: uppercase; text-align: center; margin-bottom: 2px; color: #0f2a51;}
.box_student .item .info{ color: #a1a1a1; font-size: 13px; text-align: center;}
.box_student .item .content{ font-size: 14px; padding-top: 20px;}
.box_student .bx-wrapper { position: relative; padding-bottom: 0;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a{ background-color: #FFF; width: 12px; height: 12px; display: inline-block; text-indent: -99999px; margin: 0 8px; border: 0; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; border-radius: 50% !important;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.box_student .bx-wrapper .bx-pager.bx-default-pager a.active{ background-color: #d3a23b;}
.box_student .bx-wrapper .bx-viewport{ max-height: 520px;}
.box_student .bx-pager{ display: none; position: absolute; bottom: 0px; left: 0; width: 100%; margin: 0; padding: 0; text-align: center; z-index: 999;}
.box_student .bx-pager-item{ display: inline-block;}
.box_student .bx-controls-direction{display: contents; position: absolute; top: 13px; right: 0; z-index: 9999;}
.box_student .bx-controls-direction a{ display: inline-block; width: 13px; height: 20px; margin-top: 0; text-indent: -99999px; overflow: hidden;}
.box_student .bx-controls-direction a.bx-prev, 
.box_student .bx-controls-direction a.bx-prev:hover{ background: url("../images/prev.png") no-repeat center center; background-size: 100%; margin-right: 30px; position: absolute; top: 40%; margin-top: -10px; right: 100%;}
.box_student .bx-controls-direction a.bx-next,
.box_student .bx-controls-direction a.bx-next:hover{ background: url("../images/next.png") no-repeat center center; background-size: 100%; left: auto; position: absolute; top: 40%; margin-top: -10px; right: -4%;}
.box_student .item a{display: block; position: relative;}

.box_dangKy{margin-bottom:60px; color: #30373d; position: relative; padding-bottom: 150px; background: url("../images/banner-5.jpg") no-repeat top center; background-size: cover;}
.box_dangKy .title_1{padding: 170px 0 35px 0; margin-right:40px; font-size: 30px; line-height: 27px; font-family: "DP-Bold"; color: #fff; text-align: center;}
.box_dangKy .uudai{background: #fff; margin-right: 40px;}
.box_dangKy .uudai .text{padding: 25px 0; background: #f2ad21; font-size: 20px; line-height: 27px; font-family: "Roboto-Bold"; color: #fff; text-align: center;}
.box_dangKy .uudai .box_content{padding: 60px 70px;}
.box_dangKy .uudai .box_content .table>tbody>tr>td{height: 55px; text-align:center; vertical-align: middle; padding-left:15px; border: 1px solid #f2ad21; font-size: 20px; line-height: 27px; font-family: "Roboto-Regular";}
.box_dangKy .uudai .box_content .table .item{text-align: center; font-family: "Roboto-Bold";}
.box_dangKy .uudai .text_2{font-size: 17px; line-height: 25px; font-family: "Roboto-Regular"; padding-top: 20px; text-align: center;}
.box_dangKy .uudai .text_2 span{font-size: 17px; line-height: 25px; font-family: "Roboto-Bold";}
.box_dangKy .dangKy{ padding: 100px 0 0 15px; margin-top: 15px;}
.box_dangKy .dangKy .box_title{ font-family: "DP-Bold"; text-align: center; padding-bottom: 38px; color: #fff; font-size: 30px; line-height:40px;}
.box_dangKy .dangKy .box_title span{color: #ec1b3c;}
.box_dangKy .dangKy .form-control{border:1px solid rgba(38, 49, 85, 0.7); color:#fff; height: 58px; background:rgba(38, 49, 85, 0.7); border-radius: 0; padding: 6px 30px; font-size: 17px; line-height:27px; font-family: "Roboto-Regular";}
.box_dangKy .dangKy .form-control::placeholder{color: #fff;}
.box_dangKy .dangKy select{font-size: 17px; color: #fff;}
.box_dangKy .dangKy option{font-size: 17px; color: #fff;}
.box_dangKy .dangKy .error{ color: #FF0000;}
.box_dangKy .dangKy .alert{margin-top: 10px; border-radius: 0;}
.box_dangKy .dangKy .btnSuccess{ text-align: center; margin-top: 10px;}
.box_dangKy .dangKy .btnSuccess .input-lg{padding-top:15px; border: none; border-radius: 0; width: 100%; background: #f2ad21; color: #fff;font-family: "DP-Bold"; font-size: 23px; line-height:27px; text-transform: uppercase; height: 70px; vertical-align: middle;}
.box_dangKy .dangKy .btnSuccess .input-lg:hover{background: #0e0e1a; transition: color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box_dangKy .dangKy .btnSuccess .input-lg:FOCUS{ outline: none;}
.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100%; background: rgba(38, 49, 85, 0.7) !important; height: 65px; border-radius: 0; padding: 0 30px; font-family: "Roboto-Regular"; font-size: 17px;}
.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{color: #fff; height: 50px; background: rgba(38, 49, 85, 0) !important; border-radius: 0; border: 0; font-family:"Roboto-Regular"; font-size: 17px;}
.box_dangKy .btn-group.open .dropdown-toggle{color: #fff; height: 50px; background: rgba(38, 49, 85, 0.7) !important; border-radius: 0; border: 0; font-family:"Roboto-Regular"; font-size: 17px;}
.box_dangKy .bootstrap-select>.dropdown-toggle{color: #fff; height: 50px; background: rgba(38, 49, 85, 0.7) !important; border-radius: 0; border: 0; font-family:"Roboto-Regular"; font-size: 17px;}

.box_thanhToan{  color: #30373d; position: relative; margin: 50px 0;}
.box_thanhToan .thanhToan { padding: 0 15px 0 15px;}
.box_thanhToan .thanhToan .box_title{ font-family: "DP-Bold"; padding-bottom: 20px; color: #202b53 ; font-size: 35px; line-height:45px; text-transform: uppercase;}
.box_thanhToan .thanhToan .item { margin-bottom: 30px;}
.box_thanhToan .thanhToan .item .item_title{ font-family: "HelveticaNeue-Medium"; padding-bottom: 5px; font-size:17px; line-height: 45px;}
.box_thanhToan .thanhToan .item .item_detail{ font-size: 18px; padding-bottom: 20px;line-height: 23px;font-family: "Roboto-Regular";}
.box_thanhToan .thanhToan .item .item_detail span{font-family: "Roboto-Bold";}
.box_thanhToan .thanhToan .item .item_image{ width: 300px; max-width: 100%; margin: 0 auto; background: #f2ad21; color: #FFF; border-radius: 5px; padding: 28px 0;}
.box_thanhToan .thanhToan .item .item_image .image_title{font-family:"Roboto-Medium"; background: #FFF; color: #49556a; text-align: center; height: 38px; line-height: 38px;}
.box_thanhToan .thanhToan .item .item_image .image_desc{ padding: 15px; font-size: 15px; font-family:"Roboto-Medium"; line-height: 30px; color: #111;}
.box_thanhToan .dangKy{border: 2px solid #007acf;}

.box_comment{margin-bottom: 80px;}

.box_tinTuc{ padding: 0 0 50px 0; background: #fff;}
.box_tinTuc .box_title{ color: #111; text-align:center; font-size: 35px; line-height:45px; font-family: "Montserrat-SemiBold_0"; padding-bottom: 60px; color: #111}
.box_tinTuc .item .image img{ width: 100%;}
.box_tinTuc .item .title{ font-size: 15px; color: #252525; padding: 15px 0; line-height: 23px; font-family: "Roboto-Regular";}
.box_tinTuc .bxslider{ display: none; position: relative;}
.box_tinTuc .bx-pager{ display: none;}
.box_tinTuc .bx-wrapper{ position: relative;}
.box_tinTuc .bx-controls-direction a{ position: absolute; top: 110px; text-indent: -99999px; overflow: hidden; width: 54px; height: 54px; margin-top: -15px; }
.box_tinTuc .bx-controls-direction a:hover{ box-shadow: 0 0 20px rgba(34, 30, 31, 0.4);}
.box_tinTuc .bx-controls-direction a.bx-prev{ background: url("../images/prev.png") no-repeat center center; left: -88px;}
.box_tinTuc .bx-controls-direction a.bx-next{ background: url("../images/next.png") no-repeat center center; right: -88px;}

.box_images{ overflow: hidden;}
.box_images img{ width: 100%; transform: scale(1); transition: transform .5s;}
.box_images img:hover{ transform: scale(1.2); position: relative; z-index: 1;} 
.box_images table{ width: 100%;} 
.box_images table td{ overflow: hidden; padding: 2px;} 
.box_images table div{ overflow: hidden;} 
.box_images .row_1 .image_1{ width: 24.2%; float: left; padding-right: 2px; }
.box_images .row_1 .image_2{ width: 34.73%; float: left; padding: 0 2px; }
.box_images .row_1 .image_3{ width: 19.46%; float: left; padding: 0 2px; }
.box_images .row_1 .image_4{ width: 21.23%; float: left; padding-left: 2px;}

.box_footer{ padding: 60px 0 20px; position: relative; background: #071831; color: #FFF;}
.box_footer .container{ padding: 0 15px;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}
.box_footer .wrap{ margin: 0 -15px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px; margin-bottom: 40px;}
.box_footer .col-1{ width: 440px; max-width: 100%;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 10px;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-2{ width: 250px; max-width: 100%;}
.box_footer .col-3{ width: 280px; max-width: 100%;}
.box_footer .col-4{ width: 250px; max-width: 100%;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #d3a23b; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #C9353D;}
.box_footer .alert{ font-size: 11px; border-radius: 0; padding: 5px 10px;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}

.box_menuFooter ul{ margin: 0; padding: 0; list-style: none;}
.box_menuFooter ul>li{ display: block;}
.box_menuFooter ul>li>a{ text-transform: uppercase; margin-bottom: 5px; display: block; font-size: 13px;}
.box_menuFooter ul>li>ul{ display: none;}

.box_adsFooter{ overflow: hidden; margin-right: 40px;}
.box_adsFooter a{ display: inline-block; font-size: 10px; padding: 5px 10px 3px; border: 1px solid #FFF; border-radius: 14px; text-transform: uppercase; margin: 0 5px 5px 0;}
.box_adsFooter a:HOVER{ background-color: #FFF; color: #071831 !important;}

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}
.has-error .form-control{border: 1px solid #ec1c3c !important;}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }


/*RESPONSIVE*/
@media(max-width : 1700px) {
	.box_muctieu .right .box_content .item{padding-right: 90px;}
	.box_dienGia .box_title .title_2{ padding-right: 90px;}
	.box_dienGia .box_content{padding-right: 90px;}
	.popup_video .popup_content{ width: 60%;}
	.box_loiich .box_content .box_info{ padding-left: 70px; display: inline-table;}	
}

@media ( max-width : 1280px) {
	
	.box_footer{height: auto;}	
}

@media(max-width:1024px){
	.box_hocphi .box_content .info{padding-left: 100px;}
	.box_tinTuc .bx-controls-direction a.bx-prev{display: none;}
	.box_tinTuc .bx-controls-direction a.bx-next{display: none;}
	.box_student .bx-controls-direction a.bx-prev, .box_student .bx-controls-direction a.bx-next{display: none;}
}

@media ( max-width : 1000px) {
	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

	.box_header{ height: 46px; position: fixed; border: 0; padding: 0 0 10px 0; z-index: 99999;}
	.box_header.sticky{z-index:2000; position: fixed; top: 0px; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }
	.box_header .container{ position: relative;}
	.box_header .logo{ margin-top: 12px !important;}
	.box_header .logo img{ height: 23px;}
	.box_header .menu_mobile{ top: 15px;}
	.box_header .menu_mobile .item{ background-color: #999;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 60%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	.box_header .menu li:first-child{ padding-left: 20px; }
	.box_header .menu{ margin: 0 !important;}
	
	.box_banner{margin-bottom: 50px; padding-top: 45px;}
	
	.box_thongTin .box_content .info .item{ display: block;}
	.box_thongTin .box_content .info .title{font-size: 25px; text-align: center; margin-bottom: 25px;}
	.box_thongTin .box_content .info .item .key{ display: block; width: auto;}
	.box_thongTin .box_content .info .item .value{ display: block; width: auto;}
	
	.box_muctieu{height: auto; display: flex;}
	.box_muctieu .left{display: none;}
	.box_muctieu .right{width: 100%;}
	.box_muctieu .right .box_content .item{padding-right: 0;}

	.box_doituong .left{display: none;}
	.box_doituong .right{width: 100%; padding: 0 100px;}
	.box_doituong .right .box_content{width: 100%;}
	
	.box_dienGia{background: #202b53; height: auto;}
	.box_dienGia .box_title .title_1{ position: relative; padding-bottom: 320px;}
	.box_dienGia .box_title .title_1:before{position: absolute; content: ""; width: 44%; height: 300px; background: url("../images/diengia.jpg") no-repeat top center; background-size: cover; bottom: 0; left: 0;}
	.box_dienGia .box_title .title_2{padding-top: 20px;padding-right: 0;}
	.box_dienGia .box_content{padding-right: 0;}
	
	.box_dangKy .title_1{margin: 0;}
	.box_dangKy .uudai{margin: 0;}
	
	.box_images{margin: 0;}

	.popup_video .popup_content{ width: calc(100% - 40px); top: 10%;}
}

@media ( max-width:810px) {
	body{ color: #282828; font-size: 14px;}
	br{display: none;}
	
	.box_header.sticky{ padding: 0px; z-index: 2000;}	

	.box_gioiThieu{ margin-bottom: 50px;}
	.box_gioiThieu .box_content{padding: 0 15px;}
	.box_gioiThieu .img{padding-bottom: 25px;}
	.box_gioiThieu .box_content .box_title{font-size: 25px; margin-bottom: 30px;}
	.box_gioiThieu .text .item{font-size: 15px;}
	.box_gioiThieu .box_content .detail{font-size: 15px;}
	.box_gioiThieu .box_content .info .value{font-size: 15px;}

	.box_thongTin {display: inline-block; margin: 0 0 50px 0; padding-top: 50px;}
	.box_thongTin .detail{margin: 30px 0;}
	.box_thongTin .box_content .text{font-size: 14px;padding-bottom: 15px;}
	.box_thongTin .box_content{ width: 100%; padding: 0 15px;font-size: 14px;padding-top: 30px;}
	.box_thongTin .box_content .info .item{ display: block;}
	.box_thongTin .box_content .info .title{font-size: 25px; text-align: center; margin-bottom: 25px;}
	.box_thongTin .box_content .info .item .key{font-size: 17px;}
	.box_thongTin .box_content .info .item .value{padding: 10px 15px; font-size: 15px;}
	.box_thongTin .box_content .info .item .value.btn_book a{padding-top: 12px; display: block;}
	
	.box_muctieu{margin-bottom: 50px;}
	.box_muctieu .right{height: auto;}
	.box_muctieu .right .box_content{padding: 50px 15px;}
	.box_muctieu .right .box_content .box_title{font-size: 25px; margin-bottom: 25px;}
	.box_muctieu .right .box_content .item{font-size: 14px;}

	.box_noiDung{padding-bottom: 0;}
	.box_noiDung .box_content{padding-bottom: 30px;}
	.box_noiDung .box_content .box_title{font-size: 25px; padding: 0 0 20px 0;}
	.box_noiDung .box_content .text{font-size: 14px; margin-bottom: 30px;}
	.box_noiDung .box_content .wrapper .my_panel .title{padding: 10px; font-size: 17px;}
	
	.box_doituong{margin-bottom: 50px;}
	.box_doituong .right{padding: 0 15px;}
	.box_doituong .right .box_content .box_title{font-size: 25px; padding-bottom: 25px;}
	.box_doituong .right .box_content .box_title:before{bottom: 20px;}
	.box_doituong .right .box_content .item{font-size: 15px; padding-bottom: 15px;}
	
	.box_dangKy{background: #282830; padding-bottom: 40px; margin-bottom: 0;}
	.box_dangKy .title_1{padding: 35px 0}
	.box_dangKy .uudai .box_content{padding: 20px 25px;}
	.box_dangKy .uudai .text{padding: 10px 0; font-size: 17px;}
	.box_dangKy .uudai .box_content .table>tbody>tr>td{font-size: 15px;}
	.box_dangKy .uudai .text_2{font-size: 15px; padding-top: 0;}
	.box_dangKy .dangKy{padding: 10px 0 0 0;}
	.box_dangKy .dangKy .box_title{font-size: 25px; padding-bottom: 20px;}
	.box_dangKy .dangKy .form-control{height: 45px; font-size: 15px; padding: 6px 15px;}
	.box_dangKy .dangKy .btnSuccess .input-lg{height: 50px;}
	.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ height: 40px; padding: 0; font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{ height: 40px; font-size: 14px;}
	.box_dangKy .btn-group.open .dropdown-toggle{ height: 40px font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle{ height: 40px;font-size: 14px;}
	
	.box_thanhToan{margin-bottom: 0;}
	.box_thanhToan .thanhToan{padding: 20px 0 0 0;}
	.box_thanhToan .thanhToan .box_title{font-size: 25px; padding-bottom: 0;}
	.box_thanhToan .thanhToan .item .item_detail{font-size: 14px;}
	
	.box_dienGia{ padding: 30px 0; background: #202A4E; height: auto;}
	.box_dienGia .box_title .title_1{font-size: 30px; }
	.box_dienGia .box_title .title_1:before{width: 55%;}
	.box_dienGia .box_title .title_2{font-size: 17px; padding-bottom: 15px; padding-top: 25px;}
	.box_dienGia .box_content .text{font-size: 17px;}
	.box_dienGia .box_content .item{font-size: 14px;}
	.box_dienGia .content{padding: 35px 15px;}
	
	.box_comment{margin-bottom: 40px;}
	
	.box_tinTuc{padding-bottom: 30px;}
	.box_tinTuc .box_title{padding-bottom: 30px; font-size: 25px;}
}

@media(max-width:480px){
	.box_banner{margin-bottom: 15px;}	

	.box_gioiThieu{padding-bottom: 0;}
	.box_gioiThieu .image img{width: 100%;}
	.box_gioiThieu .content_2{ display: block;}
	.box_gioiThieu .content_2 .info{padding-left: 0;}
	.box_gioiThieu .content_2 .info .title{text-align: center;}
	.box_gioiThieu .content_2 .image{text-align: center; width: 100%;}
	.box_gioiThieu .content_2 .image img{width: 50%;}
	.box_gioiThieu p{padding: 0 10px; font-size: 15px;}
	.box_gioiThieu .text{padding: 0 10px 0 35px; font-size: 24px;}
	.box_gioiThieu .info .text-1, .box_gioiThieu .info .text-2{padding-right: 10px;}
	.box_gioiThieu .info .title{font-size: 25px;}
	.box_gioiThieu .text .item:before{left: -35px;}
	.box_gioiThieu .box_content .detail{padding: 20px 10px 20px 40px; margin: 40px 0}
	.box_gioiThieu .box_content .detail:before{left: 5px; top: 8px;}
	
	.box_thongTin .box_content .box_title h3{font-size: 19px;}
	.box_thongTin .box_content .box_title .people:before{display: none;}
	.box_thongTin .box_content .info .item .key{font-size: 17px;}
	.box_thongTin .box_content .info .item .value{padding: 10px 15px; font-size: 12px;}
	.box_thongTin .box_content .info .item .value.btn_book{line-height: 45px;}
	.box_thongTin .box_content .info .item .value.btn_book a{padding: 0;}
	
	.box_dienGia .box_title{padding: 0;text-align: center;}
	.box_dienGia .box_title .title_1:before{width: 100%;}
	.box_dienGia .box_title .title_1{margin: 0; font-size: 25px;}
	.box_dienGia .box_title .title_2{font-size: 16px;line-height: 30px; margin: 0; text-align: left;}
	.box_dienGia .box_content p{font-size: 14px; padding-left: 30px;}	
	
	.box_dangKy .dangKy .btnSuccess .input-lg{width: 100%;}
	.box_dangKy .uudai .box_content .table>tbody>tr>td{font-size: 12px;}

	.box_thanhToan .thanhToan .box_title{font-size: 25px; padding-bottom: 0;}
}

@media(max-width:380px){
	.box_dangKy .uudai .box_content .table>tbody>tr>td{font-size: 10px;}
}