<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<?php
    $url = $_SERVER['REQUEST_URI'];
    $link = strstr($url, "utm");
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <div class="box_top" id="top">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="hotline">
                        <i class="fa fa-phone"></i><a href="tel:012.9999.6886"><?php echo $this->viewModel['settings']['General.System.Hotline']['value'];?></a>
                        <i class="fa fa-paper-plane" aria-hidden="true"></i><a><?php echo $this->viewModel['settings']['General.System.Address']['value'];?></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="social">
                        <a href="<?php echo $this->viewModel['settings']['General.System.Facebook']['value'];?>" target="_blank"><i class="fa fa-facebook"></i></a> 
                        <a href="<?php echo $this->viewModel['settings']['General.System.Youtube']['value'];?>" target="_blank"><i class="fa fa-youtube-play"></i></a>
                        <a href="" href="#" ><i class="fa fa-instagram"></i></a>
                        <a href="<?php echo $this->viewModel['settings']['General.System.Google']['value'];?>" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end box_top-->
    
    <div class="box_header" id="box_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><a href="" class="logo"><img src="<?php echo $urlImg;?>/logo.png"></a></div>
                <div class="col-md-10">
                    <div class="clr"></div>
                    <ul class="menu hidden-xs hidden-sm">
                        <li><a href="javascript:;" class="go_box" data-box="box_gioiThieu">Giới thiệu</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_dienGia">Tác giả</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_noiDung">BỘ 3 CUỐN SÁCH</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_loiIch">Lợi ích</a></li>                       
                        <li><a href="javascript:;" class="go_box btn_book" data-box="box_dangKy">Mua sách</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <a href="javascript:;">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- end box_header -->

    <div class="box_banner" id="box_banner">
        <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>
    </div>
    <!-- end box_banner -->

    <!-- <div class="box_popup">
        <button class="close">[x]</button>
        <a href="javascript:;" class="go_box btn_book" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $urlImg;?>/PopUpb.gif"></a>
    </div> -->

    <div class="box_gioiThieu" id="box_gioiThieu">
        <div class="box_content">
            <div class="text">Vào giai đoạn khởi đầu, các doanh nghiệp thường dành hết thời gian và tâm trí cho một mối lo duy nhất: Xây dựng hệ thống bán hàng hiệu quả. Tuy nhiên, sau khoảng một năm khởi nghiệp, để có thể sống sót và phát triển bền vững trong thời kì cạnh tranh đầy khốc liệt như hiện nay, các doanh nghiệp Việt Nam bắt buộc phải quan tâm tới những giải pháp mang tính dài hạn:</div>
            <div class="box_title">
                <div class="item">LÀM THẾ NÀO ĐỂ THU HÚT, TUYỂN DỤNG & GIỮ CHÂN NHÂN TÀI?</div>
                <div class="item">LÀM THẾ NÀO ĐỂ PHÁT HUY MỌI NGUỒN LỰC CON NGƯỜI?</div>
                <div class="item">LÀM THẾ NÀO ĐỂ GẮN KẾT, TRUYỀN CẢM HỨNG CHO NHÂN VIÊN?</div>
                <div class="item item-1">CUỐI CÙNG, LÀM SAO ĐỂ GIA TĂNG NHIỀU LẦN GIÁ TRỊ CỦA TỪNG NGUỒN LỰC <br>ĐƠN LẺ, VƯỢT QUA ĐỐI THỦ, GIÀNH ĐƯỢC THỊ PHẦN VÀ TẠO DỰNG ĐƯỢC <br>VỊ THẾ CẠNH TRANH LÂU DÀI.</div>
            </div>
            <div class="img"><a href="javascript:;" onclick="play_video('https://drive.google.com/file/d/1aspEcFM2UnbrPzvvICO_2EARaW351cOJ/preview?autoplay=0');"><img alt="" src="<?php echo $urlImg;?>/banner-6.jpg"></a></div>
            <div class="note">Xem Video giới thiệu bộ sách của Dave Ulrich</div>
            <div class="title"><span class="competitor"><span>ĐỐI THỦ</span></span> CẠNH TRANH CÓ THỂ SAO CHÉP CHIẾN LƯỢC, <br>SẢN PHẨM VÀ CÔNG NGHỆ, NHƯNG HỌ KHÔNG THỂ SAO CHÉP <br>NHỮNG CON NGƯỜI THỰC THI. </div>
            <div class="detail">Tuy nhiên việc hiểu rõ và ứng dụng vào từng nội bộ doanh nghiệp không phải là việc đơn giản. Với mong muốn nâng tầm doanh nghiệp Việt bằng cách xây dựng mô hình quản trị nhân sự hiệu quả, Trường doanh nhân HBR - HRinsider vinh dự được hợp tác dịch thuật, xuất bản và gửi tới các doanh nhân Việt Nam bộ sách “Lãnh Đạo & Quản Trị Nhân Tài” Bản gốc tiếng Anh được xuất bản bởi NXB danh giá <span>Harvard Business Review</span>. </div>
            
        </div>
    </div>
    <!-- end box_gioiThieu -->

    <div class="box_dienGia" id="box_dienGia">
        <div class="container">
            <div class="col-md-6 col-sm-12">
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="box_content">
                    <div class="title">GS. DAVE ULRICH</div>
                    <div class="text">BỘ ÓC SỐ 1 THẾ GIỚI VỀ NHÂN SỰ</div>
                    <div class="detail">GS. Dave Ulrich được xem là nhân vật có ảnh hưởng nhất trong lĩnh vực phát triển nhân lực, lãnh đạo và định nghĩa lại nhân tài. Hơn 2 thập kỷ qua ông đã mở rộng mô hình quản trị nhân lực của mình, đồng thời giúp các nhà lãnh đạo và chuyên gia trên thế giới phát triển năng lực trí tuệ, nâng cao hiệu quả của họ.</div>
                    <div class="content">
                        <div class="item">Nhân vật số một thế giới về Nhân sự (HR Magazine, 2010), “Bộ óc quản trị có ảnh hưởng nhất thế giới” (Business Week, 2001)</div>
                        <div class="item">Giải thưởng Nobel Colloquia dành cho những tên tuổi dẫn dắt nền tư tưởng kinh tế và kinh doanh năm 2010</div>
                        <div class="item">Một trong 5 nhà cố vấn quản trị hàng đầu thế giới (Forbes, 2000)</div>
                        <div class="item">Một trong 50 nhà tư tưởng quản trị hàng đầu thế giới (Thinker50, 2000)</div>
                        <div class="item">Thành viên trong hội đồng cố vấn của Tạp chí Kinh doanh Harvard (Harvard Business Review)</div>
                        <div class="item">Tác giả cuốn sách bạn chạy nhất về nhân sự theo tạp chí Wall Street Journal và USA Today, xuất bản hơn 150 bài báo và 23 đầu sách nổi tiếng trên toàn thế giới</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_dienGia --> 

    <div class="box_noiDung" id="box_noiDung">
        <div class="container">
            <div class="box_title">BỘ <span class="book"><span>SÁCH NHÂN SỰ</span></span> <br>CỦA GS. DAVE ULRICH</div>
            <div class="box_content">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="img_sach" id="img_sach_1">
                            <div class="img"><img class="img_item img_item_1  active" src="<?php echo $urlImg;?>/sach1.jpg"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="title title-1"><span>THƯƠNG HIỆU <br>LÃNH ĐẠO</span> </div>
                        <div class="text text-1">TÁC GIẢ: DAVE ULRICH, NORM SMALLWOOD, <br>KATE SWEETMAN</div>
                        <div class="content">
                            <p>Cuốn sách chỉ ra quy trình 6 bước giúp bạn:</p>
                            <p>-   Bồi dưỡng một đội ngũ lãnh đạo đại diện cho thương hiệu và giá trị công ty</p>
                            <p>-   Biến kỳ vọng của khách hàng thành hành vi của nhân viên</p>
                            <p>Xây dựng được thương hiệu lãnh đạo vững mạnh chính là mục tiêu cao nhất mà các nhà lãnh đạo hướng đến.</p>
                        </div>
                        <button class="form-control go_box datmua" data-book="1" href="javascript:;" data-box="box_dangKy" data-index="1">Mua sách ngay</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title title-2"><span>MẬT MÃ <br>TÀI LÃNH ĐẠO</span> </div>
                        <div class="text text-2">TÁC GIẢ: DAVE ULRICH, NORM SMALLWOOD, <br>KATE SWEETMAN</div>
                        <div class="content">
                            <p>Nhà lãnh đạo giỏi sở hữu những phẩm chất gì?.</p>
                            <p>5 nguyên tắc cốt lõi được đề cập trong sách có thể trả lời đến 70% câu hỏi này.</p>
                            <p>Cuốn sách sẽ giúp bạn:</p>
                            <p>-   Nâng cao năng lực lãnh đạo của bản thân</p>
                            <p>-   Phát triển đội ngũ lãnh đạo trong tổ chức của bạn</p>
                        </div>
                        <button class="form-control go_box datmua" data-book="2" href="javascript:;" data-box="box_dangKy" data-index="2">Mua sách ngay</button>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="img_sach" id="img_sach_2">
                            <div class="img"><img class="img_item img_item_2  active" src="<?php echo $urlImg;?>/sach2.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 right">
                        <div class="img_sach" id="img_sach_3">
                            <div class="img"><img class="img_item img_item_3  active" src="<?php echo $urlImg;?>/sach3.jpg"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 right">
                        <div class="title title-3"><span>BẢN ĐỒ <br>CHIẾN LƯỢC NHÂN SỰ</span> </div>
                        <div class="text text-3">TÁC GIẢ: DAVE ULRICH, MARK A.HUSELID, <br>BRIAN E.BECKER</div>
                        <div class="content">
                            <p>Cuốn sách tập trung lý giải mối liên kết giữa: con người, chiến lược và hiệu suất của công ty.</p>
                            <p>Cuốn sách sẽ giúp bạn</p>
                            <p>-   Xác định vai trò của công tác nhân sự trong chiến lược chung</p>
                            <p>-   Đo lường, đánh giá và thúc đẩy các yếu tố của công tác nhân sự, nhằm tăng hiệu suất và tối ưu nguồn nhân lực</p>
                        </div>
                        <button class="form-control go_box datmua" data-book="3" href="javascript:;" data-box="box_dangKy" data-index="3">Mua sách ngay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_noiDung -->

    <div class="box_loiIch" id="box_loiIch">
        <div class="left"></div>
        <div class="right">
            <div class="box_content">
                <div class="title">LỢI ÍCH ĐỐI VỚI DOANH NGHIỆP</div>
                <div class="list">
                    <div class="item">Thu hút, đào tạo và giữ chân nhân tài hiệu quả</div>
                    <div class="item">Tối ưu hóa nguồn lực con người </div>
                    <div class="item">Thực thi hiệu quả những mục tiêu đề ra</div>
                    <div class="item">Mang lại giá trị cao nhất cho khách hàng</div>
                    <div class="item">Xây dựng được vị thế cạnh tranh lâu dài, bền vững</div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
    <!-- end box_loiIch -->

    <div class="box_dangKy" id="box_dangKy">
        <div class="container">
            <div class="box_content">
                <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">
                    <div class="left">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover text-center tbl">            
                                <tbody class="points_table_scrollbar" id="input-workshop">
                                    <tr class="odd">
                                        <td><img src="<?php echo $urlImg;?>/sach4.jpg"></td>
                                        <td id="book_1">
                                            <p class="title">THƯƠNG HIỆU LÃNH ĐẠO</p>
                                            <p class="price">Giá bìa: 250.000đ</p>
                                            <p class="number"><span>Số lượng</span><span class="num"><input class="num" type="number" class="number" name="number" min="0"  value="0"></span></p>
                                            <input type="hidden" class="name_book" value="THƯƠNG HIỆU LÃNH ĐẠO">
                                            <input type="hidden" class="price_book" value="250000">
                                            <input type="hidden" class="total_price" value="0">
                                            <input type="hidden" name="workshop[]" value="" class="total">
                                        </td>
                                    </tr>  
                                    <tr class="odd">
                                        <td><img src="<?php echo $urlImg;?>/sach5.jpg"></td>
                                        <td id="book_2">
                                            <p class="title">MẬT MÃ TÀI LÃNH ĐẠO</p>
                                            <p class="price">Giá bìa: 250.000đ</p>
                                            <p class="number"><span>Số lượng</span><span class="num"><input class="num" type="number" class="number" name="number" min="0"  value="0"></span></p>
                                            <input type="hidden" class="name_book" value="MẬT MÃ TÀI LÃNH ĐẠO">
                                            <input type="hidden" class="price_book" value="250000">
                                            <input type="hidden" class="total_price" value="0">
                                            <input type="hidden" name="workshop[]" value="" class="total">
                                        </td>    
                                    </tr> 
                                    <tr class="odd">
                                        <td><img src="<?php echo $urlImg;?>/sach6.jpg"></td>
                                        <td id="book_3">
                                            <p class="title">BẢN ĐỒ CHIẾN LƯỢC NHÂN SỰ</p>
                                            <p class="price">Giá bìa: 250.000đ</p>
                                            <p class="number"><span>Số lượng</span><span class="num"><input class="num" type="number" class="number" name="number" min="0"  value="0"></span></p>
                                            <input type="hidden" class="name_book" value="BẢN ĐỒ CHIẾN LƯỢC NHÂN SỰ">
                                            <input type="hidden" class="price_book" value="250000">
                                            <input type="hidden" class="total_price" value="0">
                                            <input type="hidden" name="workshop[]" value="" class="total">
                                        </td>  
                                    </tr>      
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="right" id="form-1">
                        <div class="content">
                            <div class="form-1">
                                <div class="title">ĐĂNG KÝ MUA SÁCH TẠI ĐÂY</div>
                                <div class="row">   
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-name">
                                            <input type="text" name="name" class="form-control name" placeholder="Họ và tên">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-phone">
                                            <input type="text" name="phone" class="form-control phone" placeholder="Số điện thoại">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-email">
                                            <input type="text" name="email" class="form-control email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-address">
                                            <input name="address" type="text" class="form-control" placeholder="Địa chỉ nhận sách">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-total">
                                            <input class="total mask_currency form-control" name="price" placeholder="Thành tiền" readonly></input>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="alert alert-danger hidden"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="btnSuccess">
                                <input type="hidden" name="form_id" value="1521774912-0w53-z2d3-1027-sukeg89775b3">
                                <?php 
                                if ($link == '') {
                                    $input = '<input type="hidden" name="source" value="landing_page">';
                                }else{
                                    $input = '<input type="hidden" name="source" value="'.$link.'">';
                                }
                                ?>
                                <?php
                                echo $input;
                                ?>
                                <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                <input type="button" name="submit" onclick="formRegisterBook('frmRegister');" class="input-lg btn-blue btn_2" value="ĐẶT MUA NGAY">
                            </div>
                        </div>   
                    </div>
                </form>
                <form action="#" id="frmRegister2" name="frmRegister2" method="POST" class="">
                    <div class="right hidden" id="form-2">
                        <div class="content">
                            <div class="form-2" >
                                <div class="title">VUI LÒNG ĐIỀN THÊM THÔNG TIN ĐỂ NHẬN <br>BỘ VIDEO TÀI LIỆU NHÂN SỰ BẢN QUYỀN CỦA <br>TRƯỜNG DOANH NHÂN HBR</div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-company">
                                            <input name="company" type="text" class="form-control" placeholder="Tên công ty">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-job">
                                            <select name="job" class="form-control">
                                                <option value=""  selected="selected">Chức vụ</option>
                                                <option value="Chủ doanh nghiệp" >Chủ doanh nghiệp</option>
                                                <option value="Tổng giám đốc" >Tổng giám đốc</option>
                                                <option value="Giám đốc" >Giám đốc</option>
                                                <option value="Quản lý cấp trung" >Quản lý cấp trung</option>
                                                <option value="Nhân viên" >Nhân viên</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group select" id="input-option">
                                          <select name="option[]" class="selectpicker form-control" multiple data-selected-text-format="count > 2" title="Vấn đề các anh/Chị đang gặp phải.">
                                              <option value="Thu hút & Tuyển dụng người phù hợp">Thu hút & Tuyển dụng người phù hợp</option>
                                              <option value="Thiết lập mục tiêu công việc cho nhân sự rõ ràng">Thiết lập mục tiêu công việc cho nhân sự rõ ràng</option>
                                              <option value="Xây dựng hệ thống quản trị nhân sự">Xây dựng hệ thống quản trị nhân sự</option>
                                              <option value="Xây dựng tinh thần làm việc hợp tác trong công ty">Xây dựng tinh thần làm việc hợp tác trong công ty</option>
                                              <option value="Kết nối nhân viên">Kết nối nhân viên</option>
                                              <option value="Tăng tính cam kết & trách nhiệm của nhân viên">Tăng tính cam kết & trách nhiệm của nhân viên</option>
                                              <option value="Công tác quản trị kế nghiệm trong tổ chức">Công tác quản trị kế nghiệm trong tổ chức</option>
                                              <option value="Công tác xây dựng văn hóa cho tổ chức">Công tác xây dựng văn hóa cho tổ chức</option>
                                              <option value="Phát triển bản thân (Về cảm xúc, trí tuệ, thể chất, quan hệ xã hội)">Phát triển bản thân (Về cảm xúc, trí tuệ, thể chất, quan hệ xã hội)</option>
                                            </select>
                                        
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-content">
                                            <input name="content" type="text" class="form-control" placeholder="Anh/Chị vui lòng mô tả chi tiết vấn đề của mình">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btnSuccess">
                                <input type="hidden" name="form_data_id" value="">
                                <input type="button" name="submit" onclick="javascript:formUpdateBook('frmRegister2');" class="input-lg btn-blue btn_2" value="GỬI THÔNG TIN">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clr"></div>
        </div>
    </div>

    <div class="box_comment">
        <?php
        $link_page = explode('?', $_SERVER['REQUEST_URI']);
        $link_page = 'http://'. $_SERVER['HTTP_HOST'] . $link_page[0];
        ?>
        <div class="container">
            <div class="fb-comments" data-href="<?php echo $link_page;?>" width="1200" data-numposts="10" order_by="reverse_time"></div>
        </div>
    </div>

    <div class="box_images">
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-5.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-6.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-7.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-8.jpg"></div></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-9.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-10.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-11.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-12.jpg"></div></td>
            </tr>
        </table>
    </div>
    <!-- end box_images -->
    
    <?php
    echo $this -> headScript()
			   -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] .'/me.js?v='. date('dmyHis'), 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
			   -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->
    
    <script type="text/javascript">
    // Hiệu ứng text các box
    if ($(window).width() > 991) {
        $('.box_thongTin .box_content .info .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp2 animated-2s fadeInUp');}
        });
        $('.box_aiNen .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-3s fadeInUp');}
        });
        $('.box_loiich .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
        });
        $('.box_dieukien .info').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInRight');}
        });
    }

    $('.mask_currency').autoNumeric("init",{
        mDec: 0,
        aSep: '.',
        aDec: ',', 
    });

    // update giá khi nhập từ bàn phím input number
    $('input[type="number"]').bind('keyup change', function(){
        // Tính giá từng quyển sách
    	var parent = $(this).parents('td');
        var name_book = $('.name_book', parent).val();
        var price_book = parseInt($('.price_book', parent).val());

        var price = parseInt($(this).val()) * price_book;
        var total = '';
        if($(this).val() > 0) {
        	total = name_book + ' | ' + $(this).val() + ' | ' + price;
        }
        $('.total', parent).val(total);
        $('.total_price', parent).val(price);

        // Cập nhật tổng giá
        var total_price = 0;
        $('.total_price').each(function() {
        	total_price += parseInt($(this).val());
        });
        $(".total.mask_currency").autoNumeric("set", total_price);
    });

    $(".datmua").click(function(){
        var book = $(this).attr('data-book');
        var val = parseInt($('#book_'+ book +' input[type="number"]').val()) + 1;
        $('#book_'+ book +' input[type="number"]').val(val).keyup();
    });

    function slideBook(id, option) {
        var index = parseInt($(id +" .img_list").find('.active').attr("data-index"));
        if(option == 'next') {
            var new_index = index + 1;
            if(new_index > $(id +" .img_item").length) {
                new_index = 1;
            }
        }

        if(option == 'prev') {
            var new_index = index - 1;
            if(new_index < 1) {
                new_index = $(id +" .img_item").length;
            }
        }
        var url = $(id +" .img_item_" + new_index).attr("src");
        $(id +" .img_item").removeClass("active");
        $(id +" .img_item_" + new_index).addClass("active")
        $(id +" .img_show").attr("src", url);
    }

    $(".img_sach .img_item").click(function(){
        var url = $(this).attr("src");
        var parent = $(this).parents('.img_sach');
        $(".img_item", parent).removeClass("active");
        $(this).addClass("active");
        $(".img_show", parent).attr("src", url);
    });

    $(".img_sach .next").click(function(){
        var parent = $(this).parents('.img_sach');
        var id = "#" + $(parent).attr("id");
        slideBook(id, 'next');
    });

    $(".img_sach .prev").click(function(){
        var parent = $(this).parents('.img_sach');
        var id = "#" + $(parent).attr("id");
        slideBook(id, 'prev');
    });


    $(".close").click(function(){
        $(".box_popup").fadeOut();
    });
    
    
    $(document).ready(function(){
    	/* $(".form-2, .btn_2").hide()
    	$(".btn_1").click(function(){
            $(".form-2, .btn_2").show(500);
            $(".form-1, .btn_1").hide();
        }); */
    });

    //input number
    jQuery('<div class="num-nav"><div class="num-button num-up">+</div><div class="num-button num-down">-</div></div>').insertAfter('.num input');
        jQuery('.num').each(function() {
          var spinner = jQuery(this),
            input = spinner.find('input[type="number"]'),
            btnUp = spinner.find('.num-up'),
            btnDown = spinner.find('.num-down'),
            min = input.attr('min'),
            max = input.attr('max');
    
          btnUp.click(function() {
            var oldValue = parseFloat(input.val());
            if (oldValue >= max) {
              var newVal = oldValue;
            } else {
              var newVal = oldValue + 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
          });
    
          btnDown.click(function() {
            var oldValue = parseFloat(input.val());
            if (oldValue <= min) {
              var newVal = oldValue;
            } else {
              var newVal = oldValue - 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
        });
    });

    //formRegisterBook
    function formRegisterBook(form) {
    	var idForm 	= "#" + form;
    	var urlAjax = "/post/form/add";
    	var textBtn = $(idForm + ' .btnSuccess .btn').val();
    		
    	$.ajax({
    		type: "POST",
    		url: urlAjax,
    		data: $(idForm).serialize(),
    		dataType: "json",
    		cache: false,
    		beforeSend: function() {
    			$(idForm + ' .form-group').removeClass('has-error');
    			$(idForm + ' .alert').remove();
    			$(idForm + ' .btnSuccess .btn').val('Đang gửi thông tin...').attr('disabled', 'disabled');
    			$('body').append('<div class="page-loading"><div class="loader"></div></div>');
    		},
    		success: function(result){
        		console.log(result);
    			if(result.error) {
    				if(result.error.form_id) {
    					$(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">'+ result.error.form_id +'</div>');
    				} else {
    					$.each(result.error, function(key, value) {
    						$(idForm + ' #input-'+ key).addClass('has-error');
    					})
    					$(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">Vui lòng điền đầy đủ các thông tin bắt buộc</div>');
    				}
    			} else {
    				//$(idForm + ' .btnSuccess').prepend('<div class="alert alert-success">Thông tin của bạn đã được gửi thành công</div>');
    			    $('#frmRegister2 input[name="form_data_id"]').val(result.save);
    				$('#form-2').removeClass('hidden');
        			$('#form-1').addClass('hidden');
    			}

    			$(idForm + ' .btnSuccess .btn').val(textBtn).removeAttr('disabled', 'disabled');
    			$('body .page-loading').remove();
    		}
    	});
    }

    //formUpdateBook
    function formUpdateBook(form) {
    	var idForm 	= "#" + form;
    	var urlAjax = "/post/form/update";
    	var textBtn = $(idForm + ' .btnSuccess .btn').val();

		if($(idForm + ' input[name="company"]').val() == '') {
			$(idForm + ' #input-company').addClass('has-error');
		} else {
        	$.ajax({
        		type: "POST",
        		url: urlAjax,
        		data: $(idForm).serialize(),
        		dataType: "json",
        		cache: false,
        		beforeSend: function() {
        			$(idForm + ' .form-group').removeClass('has-error');
        			$(idForm + ' .alert').remove();
        			$(idForm + ' .btnSuccess .btn').val('Đang gửi thông tin...').attr('disabled', 'disabled');
        			$('body').append('<div class="page-loading"><div class="loader"></div></div>');
        		},
        		success: function(result){
            		console.log(result);
        			if(result.error) {
        				if(result.error.form_data_id) {
        					$(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">'+ result.error.form_data_id +'</div>');
        				} else {
        					$.each(result.error, function(key, value) {
        						$(idForm + ' #input-'+ key).addClass('has-error');
        					})
        					$(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">Vui lòng điền đầy đủ các thông tin bắt buộc</div>');
        				}
        			} else {
        				$.ajax({
        		            url     : '/user/index/register/',
        		            type    : 'POST',
        		            data    : {
            		            /* name : $('.name').val()'
            		            email : $('.email').val()'
            		            phone : $('.phone').val()' */
            		            name: $('#frmRegister input[name="name"]').val(),
            		            email: $('#frmRegister input[name="email"]').val(),
            		            phone: $('#frmRegister input[name="phone"]').val(),
            		            password: '12345678',
        		            },
        		            beforeSend: function() {
        		                $('body').append('<div class="page-loading"><div class="loader"></div></div>');
        		            },
        		            success : function(data){
        		                var result = JSON.parse(data);
        		                if(result.error) {
        		                    $('#frmRegister2 .alert').html(result.error).removeClass('hidden');
        		                } else if(result.success == 1) {
        		                	$(idForm +' .btnSuccess').prepend('<div class="alert alert-success">Bạn đã đăng ký thành công</div>');      
        		                    window.location.href = "/user/index/index/";
        		                }
        		                $('body .page-loading').remove();
        		            }
        		        });
        			}
    
        			$(idForm + ' .btnSuccess .btn').val(textBtn).removeAttr('disabled', 'disabled');
        			$('body .page-loading').remove();
        		}
        	});
		}
    }
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2203065613122661');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=2203065613122661&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
</body>
</html>
