<?php
    $myForm 		= $this->myForm;

    $elements 		= array(
        array('element' => $myForm->get('numbers_data'), 'label' => 'Số lượng data được chọn', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('numbers'), 'validate' => array('require' => true), 'label' => 'Số lượng data/nhân viên', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('modal'), 'validate' => array('require' => true)),
        array('element' => $myForm->get('user_id'),'validate' => array('require' => true), 'label' => 'Nhân viên', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('options'), 'label' => 'Tất cả nhân viên', 'boxClass' => 'col-md-12'),
    );

    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<?php
if($this->params['data']['modal'] != 'success') { 
?>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
<?php
} 
?>
    <?php echo @$this->xViewElementErrors($elements);?>
	<form  method="post"  class="horizontal-form adminForm" role="form" name="adminFormModal" id="adminFormModal">
    	<div class="row">
	        <?php echo $xhtml;?>
		</div>
    </form>
<?php
if($this->params['data']['modal'] != 'success') { 
?>
</div>
<div class="modal-footer">
	<button type="button" class="btn green save-close">Lưu & Đóng</button>
	<button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>
<?php
} 
?>
<script>
    $("body").on("click", "input[name=options]", function(){
        if($(this).attr('checked')){
            $('input').attr('checked', true);
        }else{
            $('input').attr('checked', false);
        }
    });
</script>