<?php
    $id = $this->items['id'];
    $phone = $this->items['phone'];
    $options = 'confirm';
    $link = $this->linkAdminHtml($this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'change-contact')) .'\' {\'id\': \''. $id .'\'}', array('type' => 'button', 'title' => 'Chuyển quyền quản lý', 'class' => 'btn green save-close', 'value' => 'Xác nhận'));
?>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title"><?php echo $this->caption;?></h4>
    <div class="modal-footer">
        <?php echo $link ?>
        <button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
    </div>
</div>
