<?php
    $myForm = $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('section' => 'Thông tin khách hàng', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('name'), 'label' => 'Họ và tên', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('phone'), 'label' => 'Số điện thoại', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('address'), 'label' => 'Địa chỉ','validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('email'), 'label' => 'Email', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('sex'), 'label' => 'Giới tính', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('job'), 'label' => 'Nghề nghiệp', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('birthday_year'), 'label' => 'Năm sinh', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('contact_source'), 'label' => 'Nguồn contact', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('marketing_channel'), 'label' => 'Kênh marketing', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('location_city_id'), 'label' => 'Tỉnh thành', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('location_district_id'), 'label' => 'Quận huyện', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('product_id'), 'label' => 'Sản phẩm quan tâm', 'boxClass' => 'col-md-2'),
        array('section' => 'Nhập thông tin thêm', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('phone_2'), 'label' => 'Số điện thoại 2', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('address_2'), 'label' => 'Địa chỉ 2', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('phone_3'), 'label' => 'Số điện thoại 3', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('address_3'), 'label' => 'Địa chỉ 3', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('note'), 'label' => 'Ghi chú', 'boxClass' => 'col-md-12'),
        array('section' => 'Nhập thông tin lịch sử chăm sóc', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('history_action_id'), 'label' => 'Hành động', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('history_result_id'), 'label' => 'Kết quả', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('level'), 'label' => 'Level chăm sóc','validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('sick_group'), 'label' => 'Nhóm bệnh', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('sick_time'), 'label' => 'Thời gian bệnh','validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('living_habits'), 'label' => 'Thói quen sinh hoạt', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('sick_attach'), 'label' => 'Bệnh kèm theo', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('symptom_sick'), 'label' => 'Triệu chứng bệnh', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('prehistoric_sick'), 'label' => 'Tiền sử bệnh', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('dosage'), 'label' => 'Liều dùng tư vấn', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('objects_used'), 'label' => 'Đối tượng sử dụng', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('call_info'), 'label' => 'Thông tin cuộc gọi', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('history_return'), 'label' => 'Ngày hẹn gọi lại','validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('history_content'), 'label' => 'Ghi chú', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true)),
        array('element' => $myForm->get('modal'), 'validate' => array('require' => true)),
    );

    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<?php
if($this->params['data']['modal'] != 'success') { 
?>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
<?php
} 
?>
    <?php echo @$this->xViewElementErrors($elements);?>
	<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminFormModal" id="adminFormModal">
    	<div class="row">
			<?php echo $xhtmlContact;?>
		</div>
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
    </form>
<?php
if($this->params['data']['modal'] != 'success') { 
?>
</div>
<div class="modal-footer">
	<button type="button" class="btn green save-close">Lưu & Đóng</button>
	<button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>
<?php
} 
?>
