<?php
    $dateFormat = new \ZendX\Functions\Date();
    
    $myForm = $this->myForm;
    $myForm->prepare();
    
    if(count($myForm->get('filter_sale_branch')->getValueOptions()) == 1) {
        $myForm->get('filter_sale_branch')->setEmptyOption('');
    }
    if(count($myForm->get('filter_sale_group')->getValueOptions()) == 1) {
        $myForm->get('filter_sale_group')->setEmptyOption('');
    }
    if(count($myForm->get('filter_user')->getValueOptions()) == 1) {
        $myForm->get('filter_user')->setEmptyOption('');
    }
    $elements = array(
        array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_begin'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_end'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_contact_type'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_user'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_product_interest'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_history_status'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_inventory'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('order')),
        array('element' => $myForm->get('order_by')),
    );
    
    if(!empty($this->userInfo['sale_group_id'])){
        $elements = array(
            array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_date_begin'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_date_end'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_date_type'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_contact_type'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_history_status'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
            array('element' => $myForm->get('order')),
            array('element' => $myForm->get('order_by')),
        );
    }
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= '<th>Công cụ</th>';
    $xhtmlHead .= $this->linkAdminSort('Ngày đăng ký', 'date', $this->params['ssFilter'], array('class' => 'col-150'));
    $xhtmlHead .= '<th>Họ và tên</th>';
    $xhtmlHead .= '<th>Số điện thoại</th>';
    $xhtmlHead .= '<th>Người quản lý</th>';
    $xhtmlHead .= '<th>Người nhập trùng</th>';
    $xhtmlHead .= '<th>Chuyển quyền quản lý</th>';
	$xhtmlHead .= '</tr>';
    
    // Danh sách
    $xhtmlItems = '';
    if($this->items->count() > 0) {
        $list_group_phone = [];
        foreach ($this->items AS $item){
            $options  = unserialize($item->options) ? unserialize($item->options) : array();
            if(!array_key_exists($options['phone'], $list_group_phone)) $list_group_phone[$options['phone']] = [];
            $list_group_phone[$options['phone']][] = $item;
        }

        $d = 0;
        foreach ($list_group_phone as $value) {
            $d++;
            $active_tr = ($d % 2 == 0)?' change_color':'';
            foreach ($value as $item) {
                $cid                     = $this->xFormInput('cid[]', $item->id, array('type' => 'checkbox', 'class' => 'checkboxes'));
            
                $id                      = $item->id;
                $date                    = $dateFormat->formatToView($item->created, 'd/m/Y H:i:s');
                $options                 = unserialize($item->options) ? unserialize($item->options) : array();
                $name                    = $options['name'];
                $phone                   = $options['phone'];
                $user_id                 = $this->user[$item->contact_user_id]['name'];
                $created_by              = $this->user[$item->created_by]['name'];

                
                $options                = $item->options ? unserialize($item['options']) : array();
                
                // Link Action
                $linkEdit               = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form', 'id' => $id));

                //Link xem chi tiết contact trùng
                $controlView        = $this->linkAdminHtml('javascript:;', array('type' => 'icon', 'title' => 'Xem chi tiết', 'class' => 'btn btn-xs blue', 'icon' => 'fa fa-info', 'onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => 'contact-coincide', 'action' => 'view')) .'\', {\'id\': \''. $id .'\'});'));

                //Link xóa 1 data và không chuyển quyền
                $controlNoAccept    = $this->linkAdminHtml('javascript:;', array('type' => 'button', 'title' => 'Không chuyển quyền quản lý', 'class' => 'btn btn-xs red', 'value' => 'Xóa', 'onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'no-accept')) .'\', {\'id\': \''. $id .'\'});'));

                //Link chuyển quyền quản lý và xóa tất cả contact trùng
                $controllAccept     = $this->linkAdminHtml('javascript:;', array('type' => 'button', 'title' => 'Chuyển quyền quản lý', 'class' => 'btn btn-xs green', 'value' => 'Chuyển quyền quản lý', 'onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'accept')) .'\', {\'id\': \''. $id .'\'});'));
                
                $xhtmlItems .= '<tr id="tr_'. $id .'" class="'.$active_tr.' checkbox_'. $d .'" data-index="checkbox_'. $d .'">';
                $xhtmlItems .= '<td>'. $cid .'</td>';
                $xhtmlItems .= '<td>'. $controlView .'</td>';
                $xhtmlItems .= '<td>'. $date .'</td>';
                $xhtmlItems .= '<td>'. $name .'</td>';
                $xhtmlItems .= '<td>'. $phone .'</td>';
                $xhtmlItems .= '<td>'. $user_id .'</td>';
                $xhtmlItems .= '<td>'. $created_by .'</td>';
                $xhtmlItems .= '<td>'. $controlNoAccept . $controllAccept .'</td>';
            }
            
        }
    }
    
    // Control
    $arrControl = array(
        array( 
            'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', ),
            'children' => array(
                array( 'name' => 'delete', 'caption' => 'Xóa', 'link' => 'javascript:;', 'icon' => 'fa-trash', 'attributes' => array( 'onclick' => 'javascript:deleteItem(\'multi\', \'all\');' ) ),

                array( 'name' => 'delete', 'caption' => 'Chuyển quyền quản lý', 'link' => 'javascript:;', 'icon' => 'fa-refresh', 'attributes' => array( 'onclick' => 'javascript:changeContactConincide(\'multi\', \'all\');' ) ),
            ), 
            'children-class' => 'dropdown-menu pull-right' 
        ),
    );
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminFormFilter" id="adminFormFilter" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
    	<div class="row">
    		<?php echo $xhtmlFilter;?>
    	</div>
    </div>
    <div class="page-content">
    	<div class="table-manager" id="table-manager">
    		<div class="table-scrollable">
    			<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<?php echo $xhtmlHead;?>
    				</thead>
    				<tbody>
    					<?php echo $xhtmlItems;?>
    				</tbody>
    			</table>
    		</div>
    		<?php
            	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'options' => $this->params['paginator']['options'])); 
            ?>
    	</div>
	</div>
</form>

<?php $this->headScript()->captureStart() ?>
    // Xử lý checkbox
    jQuery(document).ready(function(){
        jQuery('input.checkboxes').change(function(){
            var tr_parent = jQuery(this).parents('tr');
            var data_index = tr_parent.data('index');
            if(jQuery(this).is(':checked')){
                jQuery(this).parents('tbody').find('tr.' + data_index + ' input.checkboxes').prop('checked', false);
                jQuery(this).prop('checked', true);
            }
        });
    });
<?php $this->headScript()->captureEnd() ?>