<?php
    $dateFormat = new \ZendX\Functions\Date();

    $options = !empty($this->item['options']) ? unserialize($this->item['options']) : array();
    $elements = array(
        array('section' => 'Thông tin chung', 'boxClass' => 'col-md-12'),
        array('element' => $options['name'], 'label' => 'Họ và tên'),
        array('element' => $options['phone'], 'label' => 'Số điện thoại'),
        array('element' => $options['email'], 'label' => 'Email'),
        array('element' => $options['birthday'], 'label' => 'Ngày sinh'),
        array('element' => $options['birthday_year'], 'label' => 'Năm sinh'),
        array('element' => $this->sex[$options['sex']]['name'], 'label' => 'Giới tính'),
        array('element' => $options['job'], 'label' => 'Nghề nghiệp'),
        array('element' => $options['address'], 'label' => 'Địa chỉ nơi ở'),
        array('element' => $this->city[$options['location_city_id']]['name'], 'label' => 'Thành phố'),
        array('element' => $this->district[$options['location_district_id']]['name'], 'label' => 'Quận huyện'),
        array('element' => $this->level[$options['level']]['name'], 'label' => 'Level'),
        array('element' => $this->product_interest['name'], 'label' => 'Sản phẩm quan tâm'),
        array('section' => 'Thông tin thêm', 'boxClass' => 'col-md-12'),
        array('element' => $options['phone_2'], 'label' => 'Số điện thoại 2'),
        array('element' => $options['phone_3'], 'label' => 'Số điện thoại 3'),
        array('element' => $options['address_2'], 'label' => 'Địa chỉ 2'),
        array('element' => $options['address_3'], 'label' => 'Địa chỉ 3'),
        array('element' => $dateFormat->formatToView($options['created'], 'd/m/Y H:s'), 'label' => 'Ngày tạo'),
        array('element' => $options['note'], 'label' => 'Ghi chú', 'boxClass' => 'col-sm-12'),       
    );

    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-view.phtml', $elements);
?>

<?php
if($this->params['data']['modal'] != 'success') { 
?>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
<?php
} 
?>
	<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminFormModal" id="adminFormModal">
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
    </form>
<?php
if($this->params['data']['modal'] != 'success') { 
?>
</div>
<div class="modal-footer">
	<button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>
<?php
} 
?>

<script type="text/javascript">
    // Load danh sách hợp đồng
    load_action('#load_contract', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-contract'));?>', {contact_id: '<?php echo $this->item['id'];?>'});
    
    // Load lịch sử chăm sóc
    $('#btn_load_history').click(function() {
    	load_action('#load_history', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-history'));?>', {contact_id: '<?php echo $this->item['id'];?>'});
    });
    
    // Load lịch sử hệ thống
    $('#btn_load_logs').click(function() {
    	load_action('#load_logs', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-logs'));?>', {contact_id: '<?php echo $this->item['id'];?>'});
    });
    
    // Load lịch sử chuyển quản lý
    $('#btn_load_logs_parent').click(function() {
    	load_action('#load_logs_parent', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-logs-parent'));?>', {contact_id: '<?php echo $this->item['id'];?>'});
    });
</script>
