@charset "utf-8";
@import "../fonts/font.css";

body{ color: #282828; font-size: 17px;}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}

.clr { clear: both; }
.clearfix:AFTER{ content: ""; display: block; clear: both;}

.box_top{ background-color: #FFF; border-bottom: 1px solid #e1e1e1; height: 32px; line-height: 32px; color: #4c607d;}
.box_top .contact .hotline {margin-right: 35px; float: left; font-size: 12px; font-weight: 500;}
.box_top .contact .hotline a{ color: #4c607d;}
.box_top .contact .hotline a:HOVER{ color: #000;}
.box_top .contact .hotline a i{ margin-right: 2px;}
.box_top .contact .email{ color: #4c607d; display: inline-block; font-size: 12px; margin-right: 35px; font-weight: 500; float: left;}
.box_top .contact .email:HOVER{ color: #000;}
.box_top .contact .email i{ margin-right: 2px;}
.box_top .contact:AFTER{ content: ""; display: block; clear: both;}
.box_top .social{ text-align: right; float: right;}
.box_top .social a{ color: #4c607d; display: inline-block; width: 32px; height: 32px; border-right: 1px solid #e1e1e1; text-align: center; font-size: 13px; float: right;}
.box_top .social a:HOVER{ color: #000;}
.box_top .social a:LAST-CHILD{ border-left: 1px solid #e1e1e1;}
.box_top .social:AFTER{ content: ""; display: block; clear: both;}
.box_top .user{ float: right;}
.box_top .user:AFTER{ content: ""; display: block; clear: both;}
.box_top .user>ul{ margin: 0; padding: 0; list-style: none; height: auto; float: right;}
.box_top .user>ul>li>a{ color: #4c607d; padding: 0 15px; height: 32px; line-height: 32px; border-right: 1px solid #e1e1e1; text-align: center; font-size: 13px; float: right;}
.box_top .user>ul>li>a:HOVER{ color: #000;}

.box_banner { height: 188px; background: url("../img/bg_banner_1.jpg") no-repeat top center; color: #FFF;}
.box_banner .title{ font-size: 23px; margin-top: 65px; text-transform: uppercase; font-weight: 700;}
.box_banner .slogan{ font-weight: 300; font-size: 20px; margin-top: 5px;}

.box_menuMain { background-color: #FFF; position: relative; z-index: 99999;}
.box_menuMain .row{ margin: 0;}
.box_menuMain .menu{ padding: 0;}
.box_menuMain .menu:AFTER{ content: ""; display: block; clear: both;}
.box_menuMain .menu>ul{ padding: 0; list-style: none; margin: 0; float: right;}
.box_menuMain .menu>ul>li{ display: inline-block; position: relative; margin: 0 15px 0 15px;}
.box_menuMain .menu>ul>li>a{ display: block; font-size: 13px; color: #0f2a51; font-weight: 700; line-height: 100%; height: 100px; line-height: 94px; text-transform: uppercase;}
.box_menuMain .menu>ul>li>ul{ display: none; position: absolute; top: 100%; left: 0; padding: 10px 0; list-style: none; margin: 0; min-width: 180px; z-index: 999; background-color: #FFF; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175); box-shadow: 0 6px 12px rgba(0,0,0,0.175);}
.box_menuMain .menu>ul>li>ul>li{ border-bottom: solid 1px #f5f5f5;}
.box_menuMain .menu>ul>li>ul>li:LAST-CHILD{ border: 0;}
.box_menuMain .menu>ul>li>ul>li>a{ color: #555; font-size: 13px; padding: 10px 15px; display: block; -moz-transition: none; -webkit-transition: none; -o-transition: none; transition: none; border: none !important;}
.box_menuMain .menu>ul>li:FIRST-CHILD>a{ border: 0;}
.box_menuMain .menu>ul>li:LAST-CHILD{ margin-right: 0;}
.box_menuMain .menu>ul>li:hover>a, .box_menuMain .menu>ul>li>a.active{ border-bottom: 3px solid #d2a23a;}
.box_menuMain .menu>ul>li:hover>ul{ display: block; z-index: 999999;}
.box_menuMain .menu>ul>li>ul>li>ul{ display: none; position: absolute; top: 0; left: 100%; z-index: 999; background-color: #FFF; list-style: none; margin: 0; padding: 0; min-width: 250px; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175); box-shadow: 0 6px 12px rgba(0,0,0,0.175);}
.box_menuMain .menu>ul>li>ul>li>ul>li{ border-bottom: solid 1px #f5f5f5;}
.box_menuMain .menu>ul>li>ul>li>ul>li>a{ color: #555; font-size: 13px; padding: 10px 20px; display: block; text-transform: inherit; -moz-transition: none; -webkit-transition: none; -o-transition: none; transition: none; border: none !important;}
.box_menuMain .menu>ul>li>ul>li>ul>li:hover>a{ background: #d3a23b; color: #000;}
.box_menuMain .menu>ul>li>ul>li:hover>a{ background: #d3a23b; color: #000;}
.box_menuMain .menu>ul>li>ul>li:hover>ul{ display: block; z-index: 999999;}
.box_menuMain .menu>ul>li>ul>li.dropdown:BEFORE{ position: absolute; top: 8px; right: 10px; content: "\f105"; font-family: "FontAwesome"; font-size: 16px;}
.box_menuMain .menu>ul>li:LAST-CHILD>ul{ left: auto; right: 0;}
.box_menuMain .menu>ul>li:LAST-CHILD>a>span{ display: inline-block; background-color: #d2a23a; color: #FFF; line-height: normal; padding: 10px 10px;}
.box_menuMain .menu>ul>li:LAST-CHILD:HOVER>a{ border: 0;}
.box_menuMain .menu>ul>li:nth-last-child(-n+2)>ul{ left: auto; right: 0;}
.box_menuMain .header{ float: left;}
.box_menuMain .header .logo{ display: inline-block; margin-top: 22px;}
.box_menuMain .header .logo img{ max-height: 58px;}
.box_menuMain .language{ width: 100px; float: right; text-align: right; padding-top: 18px;}

.box_menuMobile{ position: fixed; top: 0; left: 0; width: 70%; height: 100%; background-color: #FFF; overflow: auto; z-index: 99999}
.box_menuMobile ul{ margin: 0; padding: 10px 0; list-style: none;}
.box_menuMobile ul li a{ display: block; padding: 8px 10px; font-weight: bold;}
.box_menuMobile ul li ul{ margin-left: 20px; padding: 0 0 10px;}
.box_menuMobile ul li ul li a{ font-weight: normal;}

.bg_menu_mobile{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

.box_dangKy{color: #30373d; position: relative; padding-bottom: 50px; }
.box_dangKy .container{width: 800px; max-width: 100%;}
.box_dangKy .dangKy{ padding: 100px 0 0 15px; margin-top: 15px;}
.box_dangKy .dangKy .box_title{ font-family: "DP-Bold"; text-align: center; padding-bottom: 23px; color: #161f37; font-size: 30px; line-height:40px;}
.box_dangKy .dangKy .box_title span{color: #ec1b3c;}
.box_dangKy .dangKy .form-control{border:1px solid #111; color:#111; height: 55px; background: #fff; border-radius: 0; padding: 0 30px; font-size: 17px; line-height:27px; font-family: "Roboto-Regular";}
.box_dangKy .dangKy .form-control::placeholder{color: #111;}
.box_dangKy .dangKy select{font-size: 17px; color: #111;}
.box_dangKy .dangKy option{font-size: 17px; color: #111;}
.box_dangKy .dangKy .error{ color: #FF0000;}
.box_dangKy .dangKy .alert{margin-top: 10px; border-radius: 0;}
.box_dangKy .dangKy .btnSuccess{ text-align: center; margin-top: 10px;}
.box_dangKy .dangKy .btnSuccess .input-lg{padding-top:15px; border: none; border-radius: 0; width: 100%; background: #e71e42; color: #FFF;font-family: "DP-Bold"; font-size: 25px; text-transform: uppercase; height: 55px; vertical-align: middle;}
.box_dangKy .dangKy .btnSuccess .input-lg:hover{background: #0e0e1a; transition: color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
.box_dangKy .dangKy .btnSuccess .input-lg:FOCUS{ outline: none;}
.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100%; background: #fff !important; height: 65px; border-radius: 0; padding: 0 30px; font-family: "Roboto-Regular"; font-size: 20px;}
.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{padding: 0; color: #111; height: 45px; background: #fff; !important; border-radius: 0; border: 0; font-family: "Roboto-Regular"; font-size: 17px;}
.box_dangKy .btn-group.open .dropdown-toggle{color: #111; height: 45px; background: #fff; !important; border-radius: 0; border: 0; font-family: "Roboto-Regular"; font-size: 17px;}
.box_dangKy .bootstrap-select>.dropdown-toggle{color: #111; height: 45px; background: #fff; !important; border-radius: 0; border: 0;font-family:  "Roboto-Regular"; font-size: 17px;}

.box_comment{padding: 50px 0;}
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {min-width: 100% !important;}

.box_footer{ padding: 60px 0 20px; position: relative; background: #071831; color: #FFF;}
.box_footer .container{ padding: 0 15px;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}
.box_footer .wrap{ margin: 0 -15px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px; margin-bottom: 40px;}
.box_footer .col-1{ width: 440px; max-width: 100%;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 10px;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-2{ width: 250px; max-width: 100%;}
.box_footer .col-2 .box_content .box_menuFooter>ul{padding: 0;}
.box_footer .col-2 .box_content .box_menuFooter>ul>li{list-style: none;}
.box_footer .col-3{ width: 280px; max-width: 100%;}
.box_footer .col-3 a{padding-right: 10px;}
.box_footer .col-4{ width: 250px; max-width: 100%;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #ec1c3c; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #122c50;}
.box_footer .alert{ font-size: 11px; border-radius: 0; padding: 5px 10px;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}

.box_adsFooter{ overflow: hidden; margin-right: 40px;}
.box_adsFooter a{ display: inline-block; font-size: 10px; padding: 5px 10px 3px; border: 1px solid #FFF; border-radius: 14px; text-transform: uppercase; margin: 0 5px 5px 0;}
.box_adsFooter a:HOVER{ background-color: #FFF; color: #071831 !important;}
.has-error .form-control{border: 1px solid #ec1c3c !important;}
/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

/*RESPONSIVE*/

@media (max-width: 768px){
	.box_menuMain{ background-color: #EEE; padding: 0; position: relative; height: 50px; border: 0;}
	.box_menuMain .header .logo{ position: absolute; top: 5px; left: 15px; margin: 0;}
	.box_menuMain .header .logo img{ height: 40px;}
	.box_menuMain .toggle{ position: absolute; top: 16px; right: 15px; color: #222; width: 24px;}
	.box_menuMain .toggle .line{ display: block; height: 2px; margin-bottom: 4px; border-radius: 1px; background-color: #999;}
	.box_menuMain .hotline{ position: absolute; top: 5px; right: 15px; width: auto;}
	.box_menuMain .hotline a{ color: #FFF;}
	.box_menuMain .hotline .phone{ display: none;}
	.box_menuMain .hotline .btn_dangky{ margin: 0; padding: 0;}
	.box_menuMain .hotline .btn_dangky img{ height: 30px;}
}
