<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
    echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <div class="box_header" id="box_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><a href="" class="logo"><img src="<?php echo $urlImg;?>/logo.png"></a></div>
                <div class="col-md-10">
                    <div class="clr"></div>
                    <ul class="menu hidden-xs hidden-sm">
                        <li><a href="javascript:;" class="go_box" data-box="box_gioiThieu">THÔNG TIN KHÓA HỌC </a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_mucTieu">LỢI ÍCH</a></li>                     
                        <li><a href="javascript:;" class="go_box" data-box="box_noiDung">NỘI DUNG</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_doiTuong">ĐỐI TƯỢNG</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_dienGia">DIÊN GIẢ</a></li>
                        <li><a href="javascript:;" class="go_box btn_book" data-box="box_dangKy">Đăng ký ngay</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <a href="javascript:;">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- end box_header -->
    
    <div class="box_banner" id="box_banner">
        <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>
    </div>
     <!-- end box_banner -->
    
    <div class="box_gioiThieu" id="box_gioiThieu">
        <div class="container">
            <div class="box_title">HƠN 83% DOANH NGHIỆP VIỆT ĐANG GẶP NHỮNG VẤN ĐỀ NÀY</div>
            <div class="col-md-5">
                <div class="img"><a href="javascript:;" onclick="play_video('https://www.youtube.com/embed/xtHDZhRdjP4?autoplay=1');"><img alt="" src="<?php echo $urlImg;?>/image-1.jpg"></a></div>
            </div>
            <div class="col-md-7">
                <div class="text">
                    <div class="item">Sản phẩm/dịch vụ tốt nhưng không tiếp cận được khách hàng tiềm năng</div>
                    <div class="item">Tiếp cận được khách hàng tiềm năng nhưng tỷ lệ chốt đơn kém</div>
                    <div class="item">Doanh thu sụt giảm trong khi đối thủ cạnh tranh liên tục mở rộng thị phần</div>
                    <div class="item">Đánh mất khách hàng vì chưa xây dựng được quy trình chăm sóc khách hàng sau bán hiệu quả</div>
                    <div class="item">Bộ máy bán hàng cồng kềnh, nhân sự nhiều nhưng hiệu quả chưa tối ưu</div>
                </div>
            </div>
        </div>
        
        <div class="box_content">
            <div class="info">
                <div class="value">Muốn tạo ra sự đột phá trong bán hàng, các doanh nghiệp không còn sự lựa chọn nào khác là phải tối ưu được hệ thống bán hàng trong doanh nghiệp. Việc xây dựng hệ thống không chỉ tạo lợi thế cạnh tranh, mà còn giúp doanh nghiệp phát triển nhanh và bền vững trong thị trường cạnh tranh ngày một khốc liệt.</div>
            </div>
            <div class="box_title">LIỆU DOANH NGHIỆP VIỆT NAM SẼ <span class="note">NẮM BẮT CƠ HỘI HAY GỤC NGÃ</span> TRƯỚC THÁCH THỨC?</div>
        </div>
        
    </div>
    
    <div class="box_thongTin" id="box_thongTin">
        <div class="box_title">KHÓA HỌC</div>
        <div class="detail"> Xây dựng, tổ chức & vận hành <br>“HỆ THỐNG BÁN HÀNG NGHIỆP”</div>
        <div class="box_content">
            <div class="text">Với mong muốn mang đến cho Ban lãnh đạo, các Cấp Quản lý doanh nghiệp một hệ thống kiến thức khoa học, kèm với các công cụ quan trọng & các kỹ năng cần thiết trong việc thiết lập và vận hành hệ thống bán hàng chuyên nghiệp, <span>Trường doanh nhân HBR</span> kết hợp cùng <span>TS Lê Thẩm Dương</span> đã nghiên cứu, thiết kế và triển khai khóa học: <span>Xây dựng, tổ chức & vận hành “Hệ Thống Bán Hàng Chuyên Nghiệp”</span></div>
            <div class="info">
                <div class="item">
                    <div class="key">HÀ NỘI</div>
                    <div class="value">
                        <p>8h30-17h ngày 18-19/8/2018</p>
                        <p>Phòng athen 2, trống đồng  palace 489 hoàng quốc việt</p>
                    </div>
                </div>
                <div class="item">
                    <div class="key">HỒ CHÍ MINH</div>
                    <div class="value red">
                        <p>8h30-17h ngày 25-26/8/2018.</p>
                        <p>lầu 9, khách sạn Sen Việt, 33 Cao Thắng, Phường 2, Quận 3, Hồ Chí Minh</p>
                    </div>
                </div>
                <div class="item">
                    <div class="key">CHUYÊN GIA</div>
                    <div class="value">TS Lê Thẩm Dương <br>Chuyên gia cố vấn quản trị doanh nghiệp</div>
                </div>
                <div class="item">
                    <div class="key">Học phí</div>
                    <div class="value">5.000.000đ</div>
                </div>
                <div class="item">
                    <div class="key">ƯU ĐÃI</div>
                    <div class="value">Ưu đãi lớn khi đăng ký theo nhóm và trước ngày 10/8/2018<br>
                                    	1 vé: 4.250.000đ/ học viên<br>
                                    	2 - 5 vé: 4.000.000đ/ học viên<br>
                                        Học viên cũ vui lòng liên hệ hotline để nhận ưu đãi riêng.

                    </div>
                </div>
                <div class="item">
                    <div class="key">HOTLINE</div>
                    <div class="value">012.9999.6886 – 012.9999.6633</div>
                </div>

                <div class="item">
                    <div class="key"></div>
                    <div class="value btn_book">
                        <a href="javascript:;" class="go_box" data-box="box_dangKy">ĐĂNG KÝ KHÓA HỌC</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- end box_thongTin -->
    
    <div class="box_muctieu" id="box_mucTieu">
        <div class="left"></div>
        <div class="right">
            <div class="box_content">
                <div class="box_title">LỢI ÍCH KHÓA HỌC</div>
                <div class="item item-1"> Phân tích được những vấn đề chính của quản lý kênh phân phối và hoạt động bán hàng.</div>
                <div class="item item-2">Thiết kế và xây dựng hệ thống bán hàng chuyên nghiệp.</div>
                <div class="item item-3">Xây dựng các quy trình bán hàng chuyên nghiệp</div>
                <div class="item item-4">Tuyển dụng và đào tạo đội ngũ vận hành hệ thống bán hàng.</div>
                <div class="item item-5">Các phương pháp tối ưu hệ thống bán hàng.</div>
            </div>
        </div>
    </div>
    
    <div class="box_noiDung" id="box_noiDung">
        <div class="container">
            <div class="title text-center">NỘI DUNG KHOÁ HỌC</div>
            <div class="item" id="item1">
                <div class="info text-center">Học phần 1: CHIẾN LƯỢC BÁN HÀNG</div>
                <div class="list">
                    <p>Thiết kế hệ thống bán hàng phù hợp với từng doanh nghiệp.</p>
                    <p>Những yếu tố cần thiết để xây dựng hệ thống bán hàng hiệu quả.</p>
                    <p>Liên kết hệ thống hỗ trợ bán hàng.</p>
                    <p>Chiến lược Push & Pull.</p>
                </div>
            </div>
            <div class="item" id="item2">
                <div class="info text-center">Học phần 2: KÊNH BÁN HÀNG HIỆU QUẢ</div>
                <div class="list list-hide">
                    <p>Chức năng và tiêu chí lựa chọn kênh bán hàng phù hợp.</p>
                    <p>Vận hành và tối ưu kênh bán hàng.</p>
                    <p>Giám sát hệ thống kênh bán hàng để gia tăng hiệu suất.</p>
                </div>
            </div>
            <div class="item" id="item3">
                <div class="info text-center">Học phần 3: CÔNG CỤ BÁN HÀNG</div>
                <div class="list list-hide">
                    <p>Sử dụng các công cụ phân tích, điều nghiên thị trường điển hình.</p>
                    <p>Xây dựng và phát triển công cụ bán hàng chuẩn mực.</p>
                    <p>Quản lý và chăm sóc khách hàng qua công cụ bán hàng gián tiếp (telesales, email,…)</p>
                    <p>Công cụ quản lý khách hàng CRM.</p>
                </div>
            </div>
             <div class="item" id="item4">
                <div class="info text-center">Học phần 4: KỸ NĂNG BÁN HÀNG CHUYÊN NGHIỆP</div>
                <div class="list list-hide">
                    <p>Kỹ năng lập kế hoạch bán hàng - Sale plan.</p>
                    <p>Nghệ thuật giao tiếp và hiểu rõ tâm lý khách hàng</p>
                    <p>Thiết kế và tối ưu quy trình chăm sóc khách hàng chuyên nghiệp.</p>
                    <p>Tổ chức quy trình bán hàng cho đại lý, quy trình bán hàng tại cửa hàng.</p>
                    <p>Xây dựng và phát triển quan hệ khách hàng.</p>
                </div>
            </div>
        </div>      
    </div>

    <div class="box_doituong" id="box_doiTuong">
        <div class="left"></div>
        <div class="right">
            <div class="box_content">
                <div class="box_title">ĐỐI TƯỢNG THAM DỰ</div>
                <div class="item">Các cá nhân có mong muốn trở thành người quản lý kênh bán hàng hiệu quả.</div>
                <div class="item">Quản lý các Phòng Ban bán hàng, Marketing, kinh doanh….</div>
                <div class="item">Đội ngũ quản lý cấp trung của các Doanh nghiệp (Các Giám đốc chức năng, Các trưởng - phó các phòng, ban, bộ phận trong doanh nghiệp).</div>
                <div class="item">Lãnh đạo cấp cao tại các doanh nghiệp trong và ngoài nước.</div>
            </div>
        </div>
    </div>
    <!-- end box_doituong -->

    <div class="box_dienGia" id="box_dienGia">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="content">
                        <div class="box_title">
                            <div class="title_1">TS. LÊ THẨM DƯƠNG</div>
                        </div>
                        <div class="box_content">
                            <p class="item">Là một trong những cố vấn của Thống đốc ngân hàng nhà nước Việt Nam, khách mời thường xuyên của chương trình CEO chìa khóa thành công VTV1. Chuyên gia tư vấn quản trị cho rất nhiều tập đoàn và doanh nghiệp vừa và nhỏ trong và ngoài nước.</p>
                            <p class="item">Khách mời, chủ toạ thường xuyên của các diễn đàn cấp quốc gia và khu vực như diễn đàn “Triển vọng kinh tế, tìm vốn cho doanh nghiệp vừa và nhỏ, Thị trường chứng khoán Việt Nam qua từng giai đoạn, các giải pháp hạn chế lạm phát.</p>
                            <p class="item">Trực tiếp giảng dạy tại các NH BIDV, Nông nghiệp & Phát triển Nông thôn, Công thương Việt Nam, Ngoại thương Việt Nam – với số lượng lớn các chi nhánh và các ngân hàng cổ phần, dầu khí, Nam Á, Á Châu, Việt Á.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_dienGia -->
    
    <?php echo $this->blkDocument($this->arrParams, 'feedback', array('cache' => true));?>

    <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">
        <div class="box_dangKy" id="box_dangKy">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title_1">ƯU ĐÃI ĐẶC BIỆT</div>
                            <div class="uudai">
                                <div class="text"> Ưu đãi lớn khi đăng ký theo nhóm và trước ngày 10/8/2018</div>
                                <div class="box_content">
                                    <div class="table">
                                        <table class="table table-bordered">
                                            <tbody>
                                            <tr>
                                                <td class="item">1 vé: 4.250.000Đ/ Học viên</td>
                                            </tr>
                                            <tr>
                                                <td class="item">2-5 vé: 4.000.000Đ/ Học viên</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                <p class="text_2">Học viên cũ và đăng ký theo nhóm vui lòng liên hệ Hotline <span>012.9999.6886</span> hoặc <span>012.9999.6633</span> để nhận ưu đãi và hỗ trợ riêng.</p>
                            </div>
                        </div>
                    
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="dangKy">
                            <div class="box_title">ĐĂNG KÝ THAM DỰ <br>KHÓA ĐÀO TẠO</div>
                            <div class="box_content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-location_city_id">
                                            <select name="location_city_id" class="form-control">
                                                <option value=""  selected="selected">Chọn địa điểm tham gia</option>
                                                <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                                <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                            </select>
                                         </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-name">
                                            <input name="name" type="text" class="form-control" placeholder="Họ và tên">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-phone">
                                            <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-email">
                                            <input name="email" type="text" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-company_name">
                                            <input name="company_name" type="text" class="form-control" placeholder="Công ty">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-number">
                                            <input name="number" type="number" class="go_box form-control" placeholder="Số vé" min="0">
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div class="form-group" id="input-price">
                                            <input name="price" type="text" class="form-control mask_currency" placeholder="Học phí" readonly>
                                        </div>
                                    </div> -->
                                    <div class="col-md-12">
                                        <?php
                                            $company_problem = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-problem" )), array('task' => 'cache'));
                                        ?>
                                        <div class="form-group" id="input-company_problem">
                                            <select name="company_problem[]" class="selectpicker form-control" multiple data-selected-text-format="count > 4" title="Vấn đề các anh/Chị đang gặp phải.">
                                                <?php
                                                    foreach ($company_problem AS $value) {
                                                        $id     = $value['id'];
                                                        $name   = $value['name'];
                                                ?>  
                                                <option class="company_problem" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                <?php } ?>
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-content">
                                            <input name="content" type="text" class="form-control" placeholder="Anh/Chị vui lòng mô tả chi tiết vấn đề của mình">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="btnSuccess">
                                            <input type="hidden" name="form_id" value="<?php echo $item['form_id'];?>">
                                            <input type="hidden" name="type" value="form">
                                            <input type="hidden" name="source" value="landing_page">
                                            <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                            <input type="button" onclick="javascript:formRegisterCRM('frmRegister');" class="input-lg btn-blue" value="Đăng ký ngay">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end box_dangKy -->
    
    <div class="box_thanhToan" id="box_thanhToan">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="thanhToan">
                        <div class="box_title">THÔNG TIN TÀI KHOẢN</div>
                        <div class="box_content">
                            <div class="item">
                                <div class="item_title"><b>1. Chuyển khoản</b></div>
                                <div class="item_detail">
                                    Vui lòng liên hệ Hotline <span>012.9999.6886</span> hoặc <span>012.9999.6633</span> để được tư vấn rõ hơn.
                                </div>
                            </div>
                            <div class="item">
                                <p class="item_title"><b>2. Nộp tiền mặt trực tiếp</b></p>
                                <p class="item_detail">Tại văn phòng của Langmaster, tầng 15 tòa nhà CTM Complex, số 139 Cầu Giấy, Hà Nội.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="dangKy">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0066982756643!2d105.79666931548647!3d21.032417985996346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab46d9c86b9b%3A0x4879c19d8ad4be47!2zMTM5IEPhuqd1IEdp4bqleSwgUXVhbiBIb2EsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1516414158828" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_thanhtoan -->

    <div class="box_comment">
        <div class="container">
            <div class="fb-comments" data-href="" data-width="100%" data-numposts="10" data-order-by="reverse_time"></div>
        </div>
    </div>
    
    <!-- end box_comment -->

    <div class="box_images">
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-5.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-6.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-7.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-8.jpg"></div></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-9.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-10.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-11.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-12.jpg"></div></td>
            </tr>
        </table>
    </div>
    <!-- end box_images -->
    
    <?php
    echo $this -> headScript()
               -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] .'/me.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->
    
    <script type="text/javascript">
	    // Hiệu ứng text các box
	    if ($(window).width() > 991) {
	        $('.box_thongTin .box_content .info .item').one('inview', function (event, visible) {
	            if (visible) {$(this).addClass('animated delayp2 animated-2s fadeInUp');}
	        });
	        $('.box_noiDung .item').one('inview', function (event, visible) {
	            if (visible) {$(this).addClass('animated delayp3 animated-3s fadeInUp');}
	        });
	        $('.box_muctieu .item').one('inview', function (event, visible) {
	            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
	        });

	        $('.box_doituong .item').one('inview', function (event, visible) {
	            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
	        });
	    }

		// slide
	    $(document).ready(function() {
	        var maxSlides = 3;
	        var slideWidth = 368; 
	        if ($(window).width() < 800) {
	            maxSlides = 1;
	            slideWidth = 0;
	        }
	        $('#bxslider').show();
	        $('#bxslider').bxSlider({
	            auto: true,
	            autoControls: false,
	            minSlides: 1,
	            maxSlides: maxSlides,
	            moveSlides: 1,
	            slideWidth: slideWidth,
	            slideMargin: 48,
	            adaptiveHeight: true,
	            responsive: true
	        });
            $("#box_student").show();
            $("#box_student .slider").bxSlider({
                auto: true,
                minSlides: maxSlides,
                maxSlides: maxSlides,
                slideWidth: slideWidth,
                slideMargin: 30,
                moveSlides: maxSlides,
                responsive: true,
                pause: 8000,
                speed: 1500,
                autoHover: true
            });
	    });

        $('.box_noiDung .info , .box_noiDung .list').click(function() {
            var parent = $(this).parents('.item');
            var id = "#" + $(parent).attr("id");
            $(id + ' .list').slideToggle();
            /* $(this).css('padding','50px 24px 20px 60px'); */
        });

        $('input[type="number"]').bind('keyup change', function(){
            var price = parseInt($(this).val()) * 4250000;
            if($(this).val() >= 2) {
                price = parseInt($(this).val()) * 4000000;
            }
            $(".mask_currency").autoNumeric("set", price);
        });   
    </script>
</body>
</html>
