<?php
    // Thiết lập Meta
    $this->headTitle('Mua khóa học - '. $this->course['name']);
    $this->headMeta()
         ->appendName('description', $this->settings['General.Meta.Description']['description'])
         ->appendName('keywords', $this->settings['General.Meta.Keywords']['description']);
?>
<div class="page_buy">
    <?php
    if(!empty($this->contact_course) && $this->contact_course['pending'] == 1) {
        echo '<div class="alert alert-success">Bạn đã mua khóa học này trước đó. Vui lòng truy cập vào mục danh sách khóa học của tôi để kiểm tra</div>';
    } else {
    ?>
    <div class="page_content">
        <div class="row">
            <div class="col-sm-7">
                <form action="" method="post">
                    <div class="payment-method">
                        <div class="method-title">Lựa chọn hình thức thanh toán của bạn</div>
                        <div class="method-card">
                            <div class="row">
                                <?php
                                foreach ($this->payments AS $payment) { 
                                    $checked = '';
                                    if($payment['id'] == $this->params['data']['payment']) {
                                        $checked = ' checked="checked"';
                                    }
                                ?>
                                <div class="col-xs-6 col-sm-4 col-md-3">
                                    <div class="card-style">
                                        <label>
                                            <span class="name"><?php echo $payment['name'];?></span>
                                            <input type="radio" name="payment" value="<?php echo $payment['id'];?>"<?php echo $checked;?>>
                                        </label>
                                    </div>
                                </div>
                                <?php
                                } 
                                ?>
                            </div>
                            <?php
                            if(!empty($this->errors['payment'])) {
                                echo '<div class="error">'. $this->errors['payment'] .'</div>';
                            } 
                            ?>
                        </div>
                    </div>
                    <div class="payment-confirm">
                        <div class="title">Vui lòng xác nhận thông tin của bạn để đặt mua khóa học</div>
                        <div class="content">
                            <?php
                            $nameClass = ''; 
                            $nameError = '';
                            if(!empty($this->errors['name'])) {
                                $nameClass = ' has-error';
                                $nameError = '<p class="error">'. $this->errors['name'] .'</p>';
                            } 
                            
                            $phoneClass = ''; 
                            $phoneError = '';
                            if(!empty($this->errors['phone'])) {
                                $phoneClass = ' has-error';
                                $phoneError = '<p class="error">'. $this->errors['phone'] .'</p>';
                            } 
                            
                            $addressClass = ''; 
                            $addressError = '';
                            if(!empty($this->errors['address'])) {
                                $addressClass = ' has-error';
                                $addressError = '<p class="error">'. $this->errors['address'] .'</p>';
                            } 
                            ?>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group<?php echo $nameClass;?>">
                                        <label class="control-label">Họ và tên <span class="required">(*)</span></label>
                                        <input name="name" type="text" class="form-control" maxlength="50" value="<?php if(!empty($this->params['data']['name'])) { echo $this->params['data']['name'];} else { echo $this->userInfo['name'];}?>">
                                        <?php echo $nameError;?>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group<?php echo $phoneClass;?>">
                                        <label class="control-label">Số điện thoại <span class="required">(*)</span></label>
                                        <input name="phone" type="text" class="form-control" maxlength="20" value="<?php if(!empty($this->params['data']['phone'])) { echo $this->params['data']['phone'];} else { echo $this->userInfo['phone'];}?>">
                                        <?php echo $phoneError;?>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group<?php echo $addressClass;?>">
                                        <label class="control-label">Địa chỉ bạn đang ở <span class="required">(*)</span></label>
                                        <input name="address" type="text" class="form-control" maxlength="255" value="<?php if(!empty($this->params['data']['address'])) { echo $this->params['data']['address'];} else { echo $this->userInfo['address'];}?>">
                                        <?php echo $addressError;?>
                                    </div>
                                </div>
                            </div>
                            <div class="controls">
                                <input type="submit" name="submit" value="Đặt mua khóa học" class="btn">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-5">
                <div class="payment-info">
                    <div class="info-title">Thông tin thanh toán</div>
                    <div class="info-course">
                        <div class="row">
                            <div class="col-xs-9"><div class="course-name"><?php echo $this->course['name'];?></div></div>
                            <div class="col-xs-3"><div class="course-price text-right"><span class="mask_currency"><?php echo $this->course['price'];?></span>đ</div></div>
                        </div>
                    </div>
                    <div class="info-coupon">
                        <div class="row">
                            <div class="col-xs-9"><div class="sale-text">Giảm giá</div></div>
                            <div class="col-xs-3"><div class="sale-price text-right">
                            	<span class="mask_currency">
                            	<?php
                            	   $price_sale_percent = $this->course['price_sale_percent'];
                            	   $price              = $this->course['price'];
                            	   $price_sale         = $this->course['price_sale'];
                            	   $sale               = 0;
                            	   $price_money        = $price;
                            	   if ($price_sale_percent != 0){
                            	       $sale           = ($price_sale_percent * $price) / 100;
                            	       $price_money    = $price - (($price_sale_percent * $price) / 100);
                            	   } else if ($price_sale != 0){
                            	       $sale           = $price_sale;
                            	       $price_money    = $price - $price_sale;
                            	   } else if($price_sale_percent != 0 && $price_sale != 0){
                            	       $sale           = $price + $price_sale;
                            	       $price_money    = $price - $price_sale - (($price_sale_percent * $price) / 100);
                            	   }
                            	?>
                            	<?php echo $sale; ?></span>đ</div>
                        	</div>
                        </div>
                    </div>
                    <div class="info-cost">
                        <div class="row">
                            <div class="col-xs-9"><div class="cost-text">Thành tiền</div></div>
                            <div class="col-xs-3"><div class="total-price text-right"><span class="mask_currency"><?php echo $price_money; ?></span>đ</div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input class="course_id" type="hidden" value="<?php echo $this->course['id'];?>">
	</div>
	<?php
    } 
	?>
</div>

<?php $this->headScript()->captureStart() ?>
    $(document).ready(function() {
        $('.card-style input[type="radio"]').click(function() {
            $('.page_content .text').fadeIn();
        });
    });    
<?php $this->headScript()->captureEnd() ?>