<div class="page_category">
	<div class="page_title"><h1 class="title"><?php echo $this->category['name'];?></h1></div>
	<div class="page_content">
	    <div class="gridCourseCategory">
    	    <div class="row">
            <?php
            foreach ($this->items as $item){
                $category_id = $this -> category['id'];
                if ($item['category_id'] == $category_id && $item['type'] == 'default'){
                    $name           = $item['name'];
                    $image_thumb    = $item['image_thumb'];
                    $price          = number_format($item['price']);
                    $teacher        = $item['teacher_name'];
                    $link           = $this->url('routeCourse/detail', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                    
            ?>
            <div class="col-sm-3">
                <div class="item">
                    <div class="image"><a href="<?php echo $link; ?>"><img alt="" src="<?php echo $image_thumb; ?>"></a> </div>
                    <div class="name"><a href="<?php echo $link; ?>"><?php echo $name;?></a></div>
                    <div class="teacher"><?php echo $teacher;?></div>
                    <div class="price">
                        <span class="value"><?php echo $price;?></span>
                    </div>
                </div>
            </div>
            <?php 
                }
            }
            ?>
            </div>
        </div>
	</div>
</div>