<?php 
    $contactCourse 	= $this->productCart;
    $i 				= 1;
    $xhtml 			= '';
    $totalPrice     = 0;
    
    if(!empty($contactCourse)) {
    foreach ($contactCourse AS $key_cart => $courseCart){
        $id             = $courseCart['course']['id'];
        $image          = $courseCart['product']['image_thumb'];
        $name           = $courseCart['product']['name'];
        $product_price	= 0;
        if(!empty($courseCart['product']['price'])) {
        	if(!empty($courseCart['product']['price_sale_percent'])) {
        		$product_price	= $courseCart['product']['price'] - ($courseCart['product']['price_sale_percent'] / 100 * $courseCart['product']['price']);
        	} else if (!empty($courseCart['product']['price_sale'])) {
                $product_price = $courseCart['product']['price'] - $courseCart['product']['price_sale'];
            } else{
        		$product_price	= $courseCart['product']['price'];
        	}
        }
        $amount         = '1';
        if($product_price > 0) {
            $price      = $product_price * $amount;
            $totalPrice = $totalPrice + $price;
        } else {
            $product_price = 'Liên hệ';
            $price      = '';
        }
        
        $xhtml .= '<tr>
                    <td>'. $i .'</th>
                    <td><img src="'. $image .'" style="width: 80px;"></td>
                    <td>'. $name .'</td>
                    <td class="text-right"><span class="mask_currency">'. $product_price .'</span>đ</td>
                    <td class="text-right hidden"><input type="number" name="amount" value="1" readonly style="width: 60px; padding: 3px; border: 1px solid #DDD;" data-key="'. $key_cart .'"></td>
                    <td class="text-right"><span class="mask_currency">'. $price .'</span>đ</td>
                    <td class="text-center"><a href="/post/online/delete-cart/id/'.$key_cart .'">Xóa</a></td>
                   </tr>';
        $i++;
    }
    
    $xhtml .= '<tr>
                    <th class="text-right" colspan="5">Tổng tiền</th>
                    <th class="text-right"><span class="mask_currency">'. $totalPrice .'</span>đ</th>
                    <th class="text-center"></th>
                   </tr>';
?>

<div class="box_module cart">
	<div class="box_title">
		<h3 class="title">Giỏ hàng</h3>
	</div>
	<div class="box_content">
		<div class="layout_item_product">
		    <div class="table_productCart">
		        <table class="table">
		            <thead>
		            	<tr> 
			            	<th>STT</th> 
			            	<th>Ảnh</th> 
			            	<th>Tên</th> 
			            	<th class="text-right">Giá</th> 
			            	<th class="text-right hidden">Số Lượng</th> 
			            	<th class="text-right">Thành tiền</th> 
			            	<th class="text-center">Công cụ</th>
		            	</tr> 
		            </thead> 
		            <tbody> 
		                <?php echo $xhtml; ?>
		            </tbody> 
		        </table>
		    </div>
	    </div>
    </div>
</div>

<?php 
    if (!empty($this->userInfo)){
?>

<div class="box_module cart">
	<div class="box_title">
		<h3 class="title">Gửi thông tin đặt hàng</h3>
	</div>
	<div class="box_content">
		<div class="layout_item_product">
		    <div class="box_form">
		        <form action="#" id="frmContact" name="frmContact" method="POST" class="">
		            <div class="row">
		                <div class="col-sm-6">
		                    <div class="form-group" id="input-name">
		                        <input type="text" name="name" class="form-control" placeholder="Họ và tên" value="<?php echo $this->userInfo['name']; ?>" readonly="readonly">
		                    </div>
		                    <div class="form-group" id="input-phone">
		                        <input type="text" name="phone" class="form-control" placeholder="Số điện thoại" value="<?php echo $this->userInfo['phone']; ?>" readonly="readonly">
		                    </div>
		                </div>
		                <div class="col-sm-6">
		                    <div class="form-group" id="input-email">
		                        <input type="text" name="email" class="form-control" placeholder="Email" value="<?php echo $this->userInfo['email']; ?>" readonly="readonly">
		                    </div>
		                    <div class="form-group" id="input-address">
		                        <input type="text" name="address" class="form-control" placeholder="Địa chỉ" required="required">
		                    </div>
		                </div>
		                
                        <div class="col-md-6">
                        	<div class="form-group">
                            <div class="info">Hình thức thanh toán</div>
                            </div>
                        	<div class="form-group" id="input-payment_id">
                                <label><input type="radio" class="item" name="payment_id" id="payment_id" required="required" value="1480401731-l493-0g81-1430-63jl245u6878">Giao khóa học và nhận tiền tận nơi</label>
                                <label style="float: right"><input type="radio" class="item" id="payment_id" required="required" name="payment_id" value="1480396227-9537-193j-5023-c63857r5005g">Chuyển khoản qua ngân hàng</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="input-note">
		                        <textarea class="form-control" name="note" placeholder="Ghi chú" cols="50"></textarea>
		                    </div>
                        </div>
		                <div class="col-sm-6">
		                    <div class="bank hidden form-group">
                        		<div class="title">Thông tin chuyển khoản:</div>
                        		<div class="content">
                        			<p class="text"><span>STK:</span> 19024338824022</p>
                        			<p class="text"><span>Chủ TK:</span> Nguyễn Thị Thạch Thảo</p>
                        			<p class="text"><span>Ngân hàng:</span> Techcombank</p>
                        			<p class="text"><span>Chi nhánh:</span> PGD Cầu Giấy</p>
                        			<p class="text"><span>Nội dung CK của bạn:</span> <?php if(!empty($this->userInfo['name'])) { echo $this->userInfo['name'];} else { echo $this->userInfo['name'];}?>_<?php if(!empty($this->params['data']['phone'])) { echo $this->userInfo['phone'];} else { echo $this->userInfo['phone'];}			?>_1902A1)</p>
                        		</div>
                        	</div>
		                </div>
		                <div class="col-sm-6">
    		            	<div class="btnSuccess">
        		                <input type="button" value="Đặt hàng ngay" class="btn btn-lg btn-success submit" onclick="successCourseCart();">
        		            </div>
    		            </div>
		            </div>
		            <div class="error"></div>
		        </form>
		    </div>
	    </div>
    </div>
</div>
<?php 
    }else {
?>
<div class="box_module cart">
	<div class="box_title">
		<h3 class="title">Gửi thông tin đặt hàng</h3>
	</div>
	<div class="box_content">
		<div class="layout_item_product">
		    <div class="box_form">
		        <form action="#" id="frmContact" name="frmContact" method="POST" class="">
		            <div class="row">
		                <div class="col-sm-6">
		                    <div class="form-group" id="input-name">
		                        <input type="text" name="name" class="form-control" placeholder="Họ và tên" >
		                    </div>
		                    <div class="form-group" id="input-phone">
		                        <input type="text" name="phone" class="form-control" placeholder="Số điện thoại" >
		                    </div>
		                </div>
		                <div class="col-sm-6">
		                    <div class="form-group" id="input-email">
		                        <input type="text" name="email" class="form-control" placeholder="Email" >
		                    </div>
		                    <div class="form-group" id="input-address">
		                        <input type="text" name="address" class="form-control" placeholder="Địa chỉ">
		                    </div>
		                </div>
		                <div class="col-md-6">
                        	<div class="form-group">
                            <div class="info">Hình thức thanh toán</div>
                            </div>
                        	<div class="form-group" id="input-payment_id">
                                <label><input type="radio" class="item" name="payment_id" id="payment_id" required="required" value="1480401731-l493-0g81-1430-63jl245u6878">Giao khóa học và nhận tiền tận nơi</label>
                                <label style="float: right"><input type="radio" class="item" id="payment_id" required="required" name="payment_id" value="1480396227-9537-193j-5023-c63857r5005g">Chuyển khoản qua ngân hàng</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="input-note">
		                        <textarea class="form-control" name="note" placeholder="Ghi chú" cols="50"></textarea>
		                    </div>
                        </div>
		                <div class="col-sm-6">
		                    <div class="bank hidden form-group">
                        		<div class="title">Thông tin chuyển khoản:</div>
                        		<div class="content">
                        			<p class="text"><span>STK:</span> 19024338824022</p>
                        			<p class="text"><span>Chủ TK:</span> Nguyễn Thị Thạch Thảo</p>
                        			<p class="text"><span>Ngân hàng:</span> Techcombank</p>
                        			<p class="text"><span>Chi nhánh:</span> PGD Cầu Giấy</p>
                        			<p class="text"><span>Nội dung CK của bạn:</span> <?php if(!empty($this->userInfo['name'])) { echo $this->userInfo['name'];} else { echo $this->userInfo['name'];}?>_<?php if(!empty($this->params['data']['phone'])) { echo $this->userInfo['phone'];} else { echo $this->userInfo['phone'];}			?>_1902A1)</p>
                        		</div>
                        	</div>
		                </div>
		                <div class="col-sm-6">
    		            	<div class="btnSuccess">
        		                <input type="button" value="Đặt hàng ngay" class="btn btn-lg btn-success submit" onclick="successCourseCart();">
        		            </div>
    		            </div>
		            </div>
		            <div class="error"></div>
		        </form>
		    </div>
	    </div>
    </div>
</div>
<?php 
    }
?>

<?php 
} else {
    echo '<div class="box_module cart"><div class="alert alert-danger">Bạn chưa có khóa học nào trong giỏ hàng, bạn hãy <a href="/khoa-hoc-online">nhấn vào đây</a> để mua hàng.</div></div>';
}
?>

<?php $this->headScript()->captureStart() ?>
    function successCourseCart() {
        var frmData = '#frmContact';
        $.ajax({
			url: '/post/online/course-cart',
			type: 'POST',
			data: $(frmData).serialize(),
			beforeSend: function() {
				 $('body').append('<div class="submit_loading"></div>');
			},
			success: function(result) {
			    if(result == 'success') {
			        window.location.href = '/post/online/success-cart';
			    } else {
			        $(frmData +' .error').html('<div class="alert alert-danger">' + result + '</div>');
			    }
				$('.submit_loading').remove();
			}
		});
    }
    
    $(document).ready(function() {
        $('.cart .layout_item_product input[value="1480396227-9537-193j-5023-c63857r5005g"]').click(function() {
            $('.bank ').removeClass('hidden');
        });
        $('.cart .layout_item_product input[value="1480401731-l493-0g81-1430-63jl245u6878"]').click(function() {
            $('.bank ').addClass('hidden');
        });
    });
    
    function myFunction() {
      var x = document.getElementById("payment_id").required;
    }
<?php $this->headScript()->captureEnd() ?>











