<?php
    // Thiết lập Meta
    $this->headTitle($this->course['meta_title'] ? $this->course['meta_title'] : $this->course['name']);
    $this->headMeta()
         ->appendName('description', $this->course['meta_description'] ? $this->course['meta_description'] : $this->settings['General.Meta.Description']['description'])
         ->appendName('keywords', $this->course['meta_keywords'] ? $this->course['meta_keywords'] : $this->settings['General.Meta.Keywords']['description']);
         $course        = $this->course;
         $detail        = $this->course_detail;
?>

<div class="page_course">
    <div class="course_info">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <?php
                    echo '<img style="max-width: 100%;" src="'. $this->course['image'] .'">';
                    ?>
                </div>
                <div class="col-md-8">
                    <div class="info">
                        <h1 class="name"><?php echo $this->course['name'];?></h1>
                        <p class="teacher"><span>Giảng Viên: </span> <span><?php echo $this->course['teacher'] ? $this->teacher[$this->course['teacher']]['name'] : ''; ?></span></p>
                        <p class="student"><i class="fa fa-user"></i><span>300 Học viên</span> </p>
                        <p class="star"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i> <span>4.4 (155)</span> </p>
                        <?php
                        //if(!empty($this->contact_course) && $this->userInfo['group'] != 'full') { 
                            $add_cart_url   = $this->url('routeCourse/default', array( 'controller' => 'online', 'action' => 'add-cart', 'id' => $this->course['id']));
                            $price = '';
                            $price          = '';
                            if(!empty($this->course['price'])) {
                                if(!empty($this->course['price_sale_percent'])) {
                                    $price  = $this->course['price'] - ($this->course['price_sale_percent'] / 100 * $this->course['price']);
                                    $price  = '<span class="value"><span class="mask_currency">'. $price .'</span>đ</span> <span class="old"><span class="mask_currency">'. $this->course['price'] .' </span>đ</span>';
                                } else if (!empty($this->course['price_sale'])){
                                    $price  = $this->course['price'] - $this->course['price_sale'];
                                    $price  = '<span class="value"><span class="mask_currency">'. $price .'</span>đ</span> <span class="old"><span class="mask_currency">'. $this->course['price'] .' </span>đ</span>';
                                } else{
                                    $price  = '<span class="value"><span class="mask_currency">'. $this->course['price'] .'</span>đ</span> <span class="old"></span>';
                                }
                            }
                            $product_course = $this->contact_course['product'] ? unserialize($this->contact_course['product']) : array();
                            $contact_id     = $this->contact_course['contact_id'];
                            $user_id        = $this->userInfo['id'];
                            foreach ($product_course AS $value){
                                $product_id = $value['product']['id'];
                            }
                        ?>
                            <div class="price"><?php echo $price;?></div>
                            <?php
                            if($this->course['type'] == 'default') {
                                $video_training = '';
                                if (!empty($this -> course['video'])){
                                    $video_training = '<a href="javascript:;" onclick="javascript:;" class="btn go_box" data-box="video_training">Học thử</a>';
                                }
                                
                                $controls = '';
                                if (($this->course['id'] == $product_id) && ($user_id == $contact_id)){
                                    $controls = '<div class="alert alert-success"><div class="container">Bạn đã đăng ký mua khóa học này. Vui lòng chọn mua khoá học khác hoặc đăng nhập trang cá nhân để xem các khóa học đã mua</div></div>';
                                } else {
                                    $controls = '<div class="controls">
                                                <a href="javascript:;" onclick="javascript:addCourseCart();" id="btnAddCart" class="btn btn-cart">Mua khóa học</a>
                                                '.$video_training.'
                                            </div>';
                                }
                                echo $controls;
                            ?>
                            <?php
                            } else {
                            ?>
                            <div class="controls">
                                <a href="javascript:;" class="btn-buy">Quà tặng kèm</a>
                            </div>
                            <?php
                            } 
                            ?>
                        <?php
                        //} 
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php
    /* if(!empty($this->contact_course) && $this->contact_course['pending'] == 0 ) {
        echo '<div class="alert alert-success"><div class="container">Bạn đã đăng ký mua khóa học này. Đơn hàng đang chờ xác nhận thanh toán</div></div>';
    } */
    ?>
    <div class="wrapper">
        <div class="container">
            <div class="page_content">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home" class="widget_title">Giới thiệu khóa học</a></li>
                <li><a data-toggle="tab" href="#menu1" class="widget_title">LỢI ÍCH KHÓA HỌC</a></li>
                <li><a data-toggle="tab" href="#menu2" class="widget_title">ĐỐI TƯỢNG THAM GIA</a></li>
                <li><a data-toggle="tab" href="#menu3" class="widget_title">NỘI DUNG KHÓA HỌC</a></li>
            </ul>
            <div class="tab-content">
                <?php
                    $content            = '';
                    if(!empty($this->course['content'])) {
                        $content = explode('<hr />', $this->course['content']);
                        $content = '<div class="widget tab-pane fade in active" id="home"><div class="widget_content"><div class="group_1">' . $content[0] . '</div><div class="group_2">' . $content[1] . '</div></div></div>';
                    }
                    $content_teacher    = $this->course['location'] ? '<div class="widget tab-pane fade" id="menu1"><div class="widget_content">' . $this->course['location'] . '</div></div>' : '';
                    $content_result     = $this->course['document'] ? '<div class="widget tab-pane fade" id="menu2"><div class="widget_content">' . $this->course['document'] . '</div></div>' : '';
                    
                    echo $content . $content_teacher . $content_result;
                ?>
                <div class="widget tab-pane fade" id="menu3">
                	<?php 
                    foreach ($this -> course_group AS $group){
                        $course_item_id = $group['course_item_id'];
                        if ($course_item_id == $this->course['id']){
                        $group_id = $group['id'];
                        $group_name = $group['name'];
                    ?>
                    <div class="panel panel-default"><div class="module_title panel-heading"><a href="#<?php echo $group_id; ?>" dclass="panel-title"><?php echo $group_name ?></a></div></div>
                    <div id="<?php echo $group_id; ?>" class="content_title">
                    <?php 
                        foreach ($this -> course_detail AS $detail){
                            if ($group_id == $detail['group_id']){
                                $name_detail    = $detail['name'];
                                $image_detail   = $detail['image'];
                                $content        = $detail['content'];

                                $detail_content = '';
                                if (!empty($content)) {
                                    $detail_content = '<div class="panel-body">'.$content.'</div>';
                                } else {
                                    $detail_content = '';
                                }
                    ?>
					<div class="title panel-heading"><i class='fa fa-play-circle' style='color:#006fba'></i><?php echo $name_detail; ?></div>
                    <?php echo $detail_content; ?>
                    <?php 
                            }
                        }
                    ?>
                    </div>
                    <?php 
                        }
                    }
                    ?>
            	</div>
              </div>  
            </div>
            <div class="video_training hidden" id="video_training">
            	<div class="video">
            		<iframe width="100%" height="auto" src="https://www.youtube.com/embed/<?php echo $this->course['video']; ?>" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            	</div>
            </div>
            
            <div class="box_comment">
                <?php
                $link_page = explode('?', $_SERVER['REQUEST_URI']);
                $link_page = 'http://'. $_SERVER['HTTP_HOST'] . $link_page[0];
                ?>
                <div class="fb-comments" data-href="<?php echo $link_page;?>" width="1200" data-numposts="10" order_by="reverse_time"></div>
            </div>
        </div>
    </div>
    
</div>

<?php $this->headScript()->captureStart() ?>
	$(document).ready(function() {
        $('div.read_more').click(function() {
            $('.widget_content .group_2').show();
            $(this).hide();
        });
	});
	
	<?php
    if(!empty($this->userInfo) && 1 == 2){
    ?>
    	$.ajax({
            url: '/user/survey',
    		type: 'POST',
    		data: {id : '<?php echo $this->userInfo['id']; ?>', course_id : '<?php echo $this->course['id']; ?>'},
    		success: function(result) {
        		$('body').append(result);
        		$('#survey').modal('show');
    		}
    	});
	<?php 
	    }
	?>
	
	function addCourseCart() {
    	$.ajax({
    		type: "POST",
    		url: '<?php echo $add_cart_url;?>',
    		dataType: "json",
    		cache: false,
    		beforeSend: function() {
				 $('body').append('<div class="submit_loading"></div>');
			},
    		success: function(result){
    		    $('#myModal').remove();
    		    var xhtml = '<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">' +
                  '<div class="modal-dialog" role="document">' +
                    '<div class="modal-content">' +
                      '<div class="modal-header">' +
                        '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                        '<h4 class="modal-title" id="myModalLabel">Thông báo</h4>' +
                      '</div>' +
                      '<div class="modal-body">' +
                        'Sản phẩm đã được thêm vào giỏ hàng thành công' +
                      '</div>' +
                      '<div class="modal-footer">' +
                        '<button type="button" class="btn btn-default" data-dismiss="modal">Tiếp tục đặt hàng</button>' +
                        '<a href="/post/online/course-cart" class="btn btn-success">Xem giỏ hàng <b class="text-red">('+ result.total_product +')</b></a>' +
                      '</div>' +
                    '</div>' +
                  '</div>' +
                '</div>';
    		    
    		    $('.submit_loading').remove();
    		    $('body').append(xhtml);
    		    $('#myModal').modal('show');
    		    viewCourseCart();
    		}
    	});
    }
    
    //go box
    $('.go_box').click(function() {
        var box = $(this).attr('data-box');
        $(".page_course .wrapper .video_training").removeClass("hidden");
        if($('#' + box).length) {
            var top_scroll = 0;
            top_scroll = $("#" + box).offset().top;
            $('html,body').animate({
                scrollTop: top_scroll - 60
            }, 'slow');
        }
    });
<?php $this->headScript()->captureEnd() ?>