<?php
    // Thiết lập Meta
    $this->headTitle('Thankyou');
    $this->headMeta()
         ->appendName('description', $this->settings['General.Meta.Description']['description'])
         ->appendName('keywords', $this->settings['General.Meta.Keywords']['description']);
    
    $linkBack = '/';
    if(!empty($_GET['utm_source'])) {
    	$linkBack = $_GET['utm_source'];
    }
?>
<script>
fbq('track', 'CompleteRegistration');
</script>
<div class="page_success">
    <div class="page_title">Thank you</div>
    <div class="page_content">
    	<p class="lead">Thông tin của bạn đã được gửi thành công. HBR sẽ liên hệ với bạn qua số điện thoại bạn đã đăng ký. Bạn vui lòng để ý điện thoại nhé</p>
    	<p>Vui lòng <a href="<?php echo $linkBack;?>">nhấn vào đây</a> để quay lại trang chủ</p>
    </div>
</div>