<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
<?php 
	// Title
	echo $this->headTitle('Admin Panel');
	
	// Meta
	echo $this->headMeta()
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
              ->appendName('description', '')
              ->appendName('author', '')
              ->appendName('MobileOptimized', '320')
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
			  ->setCharset('utf-8');
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.ico', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlPlugin'] . '/font-awesome/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlPlugin'] . '/bootstrap/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlCss'] . '/style-metronic.css')
              ->appendStylesheet($this->arrParams['template']['urlCss'] . '/style.css')
              ->appendStylesheet($this->arrParams['template']['urlCss'] . '/login.css')
              ->appendStylesheet($this->arrParams['template']['urlCss'] . '/custom.css');
?>
</head>
<body class="login">
	<div class="logo">
		Admin <span>Panel</span>
	</div>
	<?php echo $this->content;?>
	<div class="copyright">
    	 <?php echo date('Y');?> &copy;
    </div>
    
	<!-- BEGIN CORE PLUGINS -->
	<!--[if lt IE 9]>
	<script src="<?php echo $this->arrParams['template']['urlPlugin'] . '/respond.min.js';?>"></script>
	<script src="<?php echo $this->arrParams['template']['urlPlugin'] . '/excanvas.min.js';?>"></script> 
	<![endif]-->
	<script src="<?php echo $this->arrParams['template']['urlPlugin'] . '/jquery-1.12.4.min.js';?>" type="text/javascript"></script>
	<script src="<?php echo $this->arrParams['template']['urlPlugin'] . '/bootstrap/js/bootstrap.min.js';?>" type="text/javascript"></script>
	<!-- END CORE PLUGINS -->
	
	<script src="<?php echo $this->arrParams['template']['urlJs'] . '/define.js';?>" type="text/javascript"></script>
	<script src="<?php echo $this->arrParams['template']['urlJs'] . '/login.js';?>" type="text/javascript"></script>
	<script type="text/javascript">
	jQuery(document).ready(function() {
		Login.init();
	});
	</script>
	<!-- END JAVASCRIPTS -->
	
	<?php echo $this->headScript();?>
</body>