<?php
$dateFormat = new \ZendX\Functions\Date();

$myForm = $this->myForm;
$myForm->prepare();
$elementForm = array(    
    array('div' => '<h4>THÔNG TIN ĐƠN HÀNG</h4>', 'boxClass' => 'col-md-12'),
    array('element' => $myForm->get('list_id'), 'validate' => array('require' => true)),
    array('element' => $myForm->get('transport_type'), 'label' => 'Loại hình đơn', 'validate' => array('require' => true), 'boxClass' => 'col-sm-2'),
    array('element' => $myForm->get('transport_service'), 'label' => 'Dịch vụ vận chuyển', 'validate' => array('require' => true), 'boxClass' => 'col-sm-2 choose-service'),
);
$xhtmlForm =  $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elementForm);
?>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
    <div class="row">
        <?php echo @$this->xViewElementErrors($elementForm);?>
        <form method="post" action="" class="horizontal-form transportForm" role="form" name="adminFormModal" id="adminFormModal">
            <?php echo $xhtmlForm ?>
        </form>
    </div>
    <small><em>Sau khi nhấn <b>Tạo</b> hệ thống mặc định chuyển các đơn hàng đã chọn sang trạng thái</em> <span class="label label-info">Chuyển sang đơn vị giao vận</span></small>
</div>
<div class="modal-footer">
    <button type="button" id="send_request" class="btn green">Tạo</button>
    <button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>

<script>
    let list_id;
    let defHtml;
    $(document).ready(function(){
        list_id = JSON.parse($('#list_id').val());
        defHtml = $('#add_transport_service').html();
    })

    //disable
    let dis = ele=>$(ele).prop('disabled', true);
    //undisable
    let udis = ele=>$(ele).prop('disabled', false);
    //set data select 2
    let set2 = (ele,xhtml)=>$(ele).html(xhtml).trigger("change");

    //load dữ liệu đơn vị vận chuyển
    let loadToSel2 = (url,ele,params)=>{

        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            data: params,
            error: ()=>{
                dis(ele);
            },
            success: (res)=>{
                if (!res.error) {
                    set2(ele, res.data.html);
                    udis(ele);
                } else {
                    set2(ele, defHtml);
                    dis(ele);
                }
            }
        })
    }

    $(document).on('change', '#add_transport_type', function(){
        let val = $(this).val();
        if (val == 'cod') {
            if ($('#add_transport_service').html() == defHtml) {
                let ajax_url = '<?php echo $this->url('routeAdmin/default', array('controller' => 'transport', 'action' => 'getData')); ?>';
                loadToSel2(ajax_url, '#add_transport_service', { type:'get-transport-service' });
            }
        } else {
            set2('#add_transport_service', defHtml);
            dis('#add_transport_service');
        }
    });
    /*$('#send_request').click(function (e) {
        e.preventDefault();
        let form_data = $('.transportForm').serializeArray();
        console.log(form_data);
        popupActionTransport('<?php echo $this->url('routeAdmin/default', array('controller' => 'transport', 'action' => 'getData')); ?>');
    });*/
</script>