<?php
$dateFormat = new \ZendX\Functions\Date();

$myForm = $this->myForm;
$myForm->prepare();
$elementForm = array(
    array('div' => '<h4>THÔNG TIN ĐƠN HÀNG</h4>', 'boxClass' => 'col-md-12'),
    array('element' => $myForm->get('list_id'), 'validate' => array('require' => true)),
    array('element' => $myForm->get('transport_status'), 'label' => 'Trạng thái đơn', 'validate' => array('require' => true), 'boxClass' => 'col-sm-2'),
    array('element' => $myForm->get('transport_status_text'), 'label' => 'Nhập tay(trạng thái khác)', 'boxClass' => 'col-sm-2'),
);
$xhtmlForm =  $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elementForm);
?>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
    <div class="row">
        <?php echo @$this->xViewElementErrors($elementForm);?>
        <form method="post" action="" class="horizontal-form transportForm" role="form" name="adminFormModal" id="adminFormModal">
            <?php echo $xhtmlForm ?>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="send_request" class="btn green">Cập nhật</button>
    <button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>

<script>
    let list_id;
    let defHtml;
    $(document).ready(function(){
        list_id = JSON.parse($('#list_id').val());
    })
    $('#edit_transport_status').change(function(e) {
        e.preventDefault();
        let transport_status = $(this).val();
        if (transport_status == '') {
            udis('#edit_transport_status_text');
        } else {
            dis('#edit_transport_status_text');
        }
    });
    $('#send_request').click(function(e) {
        e.preventDefault();
        let form_data = $('.transportForm').serializeArray();
        console.log(form_data);
    });
</script>