<?php
$dateFormat = new \ZendX\Functions\Date();

$myForm = $this->myForm;
$myForm->prepare();
$elementForm = array(    
    array('div' => '<h4>THÔNG TIN ĐƠN HÀNG</h4>', 'boxClass' => 'col-md-12'),
    array('element' => $myForm->get('list_id'), 'validate' => array('require' => true)),
    array('element' => $myForm->get('transport_type'), 'label' => 'Loại hình đơn', 'validate' => array('require' => true), 'boxClass' => 'col-sm-2'),
    array('element' => $myForm->get('transport_service'), 'label' => 'Dịch vụ vận chuyển', 'validate' => array('require' => true), 'boxClass' => 'col-sm-2 choose-service'),
);
$xhtmlForm =  $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elementForm);
?>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
    <div class="row">
        <?php echo @$this->xViewElementErrors($elementForm);?>
        <form method="post" action="" class="horizontal-form adminForm" role="form" name="adminFormModal" id="adminFormModal">
            <?php echo $xhtmlForm ?>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="send_request" class="btn green">Lưu &amp; Đóng</button>
    <button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>

<script>
    let list_id;
    $(document).ready(function(){
        list_id = JSON.parse($('#list_id').val());
    })

    //disable
    let dis = ele => $(ele).prop('disabled', true);
    //undisable
    let udis = ele => $(ele).prop('disabled', false);

    //load dữ liệu đơn vị vận chuyển
    function loadTransportService(){
        let ajax_url = '<?php echo $this->url('routeAdmin/default', array('controller' => 'transport', 'action' => 'getData'));; ?>';
        $.ajax({
            url: ajax_url,
            type: 'POST',
            dataType: 'json',
            data: {
                type: 'get-transport-service'
            },
            error: function(){
                dis('#edit_transport_service');
            },
            success: function(res){
                if (!res.error) {
                    console.log(res.data);
                    $('#edit_transport_service').html(res.data.html).trigger("change");
                    udis('#edit_transport_service');
                } else {
                    dis('#edit_transport_service');
                }
                
            }
        })
    }

    let defaultHtml = $()
    $(document).on('change', '#edit_transport_type', function(){
        let val = $(this).val();
        if (val != '' && val != 'shipper') {
            loadTransportService();
        } else {
            dis('#edit_transport_service');
        }
    });
</script>