<?php
    $dateFormat = new \ZendX\Functions\Date();

    $myForm = $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_begin'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_end'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('transport_type'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('transport_service'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('transport_status'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
    );
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= '<th>Công cụ</th>';
    $xhtmlHead .= '<th>Ngày tạo</th>';
    $xhtmlHead .= '<th>Mã hóa đơn</th>';
    $xhtmlHead .= '<th>Người tạo</th>';
    $xhtmlHead .= '<th>Mã KH</th>';
    $xhtmlHead .= '<th>Tên KH</th>';
    $xhtmlHead .= '<th>Điện thoại</th>';
    $xhtmlHead .= '<th>Email</th>';
    $xhtmlHead .= '<th>Địa chỉ</th>';
    $xhtmlHead .= '<th>Mã vận đơn</th>';
    $xhtmlHead .= '<th>Đơn vị vận chuyển</th>';
    $xhtmlHead .= '<th>Trạng thái trên hệ thống</th>';
    $xhtmlHead .= '<th>Trạng thái đơn vị giao vận</th>';
    $xhtmlHead .= '<th>Giá trị đơn hàng</th>';
    $xhtmlHead .= '<th>Phí giao</th>';
    $xhtmlHead .= '</tr>';
    
    // Danh sách
    $xhtmlItems = '';
    if($this->items->count() > 0) {
        $stt = 0;
        foreach ($this->items AS $key => $item) {
            $stt++;
            $cid                    = @$this->xFormInput('cid[]', $item->id, array('type' => 'checkbox', 'class' => 'checkboxes'));
            $id                     = $item->id;
            $date                   = $dateFormat->formatToView($item->date);
            $contract_code          = $item->code;
            $user_create            = $item->user_id ? $this->users[$item->user_id]['name'] : '';
            $contact_code           = $item->contact_code;
            $contact_name           = $item->contact_name;
            $contact_phone          = $item->contact_phone;
            $contact_email          = $item->contact_email;
            $contact_address        = $item->address;
            $location_city          = $this->location_city[$item->contact_location_city_id]->name;
            $location_district      = $this->location_district[$item->contact_location_district_id]->name;
            $index                  = $item->index;
            $tracking_code          = $item->tracking_code? $item->tracking_code : 'Chưa có mã';
            $transport_service      = $item->transport_service? $this->transport_service[$item->transport_service] : 'Chưa có';
            $transport_status       = $item->transport_status;
            $transport_type         = $item->transport_type? $this->transport_type[$item->transport_type] : 'Chưa có';
            $contract_options       = unserialize($item->options);
            $contract_price         = 0;
            $total_fee              = '0 đ';
            $total_collect          = 0;
            if (isset($contract_options['product']) && is_array($contract_options['product']) && count($contract_options['product'])) {
                foreach ($contract_options['product'] as $key => $val) {
                    $contract_price += $val['total'];
                }
                $total_collect += $contract_price;
                $contract_price = number_format($contract_price).' đ';
                /////
                if (count($contract_options['product']) < 3) {
                    $total_fee = '30,000 đ';
                    $total_collect += 30000;
                }
                $total_collect = number_format($total_collect).' đ';
            }



            switch ($transport_status) {
                case 100:
                    $transport_status = '<span class="label label-default">'. $this->transport_status[$item->transport_status] .'</span>';
                    break;
                case 101:
                    $transport_status = '<span class="label label-info">'. $this->transport_status[$item->transport_status] .'</span>';
                    break;
                case 102:
                    $transport_status = '<span class="label label-success">'. $this->transport_status[$item->transport_status] .'</span>';
                    break;
                case 103:
                    $transport_status = '<span class="label label-important">'. $this->transport_status[$item->transport_status] .'</span>';
                    break;
                case 104:
                    $transport_status = '<span class="label label-danger">'. $this->transport_status[$item->transport_status] .'</span>';
                    break;
                default:
                    $transport_status = '<span class="label label-success">'. $item->transport_status .'</span>';
                    break;
            }
            
            // Link Action
            $linkView               = $this->url('routeAdmin/default', array('controller' => 'contract', 'action' => 'view', 'id' => $id));
            $linkEdit               = 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'edit')) .'\', {\'id\': \''. $id .'\'});';
            $linkEditNote           = 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'edit-note')) .'\', {\'id\': \''. $id .'\'});';
            $linkDelete             = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'delete', 'id' => $id));
            $linkBillAdd            = 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'bill-add')) .'\', {\'id\': \''. $id .'\'});';
            $linkContactEdit        = 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'contact-edit')) .'\', {\'id\': \''. $item['contact_id'] .'\'});';
            $addTransport           = 'javascript:clickTransport(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'add')) .'\',\'view\', \', {\'id\': \''. $item['contact_id'] .'\'});';
            $addTransport           = "javascript:clickTransport('". $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'add')) ."', 'view', {'id': '". $item['id'] ."'});";
            $editStatus             = "javascript:clickTransport('". $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'edit-status')) ."', 'view', {'id': '". $item['id'] ."'});";
            
            // Control Action
            $controlView            = $this->linkAdminHtml($linkView, array('type' => 'icon', 'title' => 'Xem chi tiết', 'class' => 'btn btn-xs blue', 'icon' => 'fa fa-info'));
            
            $controls               = $controlView;
            $controls              .= ' <div class="btn-group">
                                            <button class="btn green btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                               <i class="fa fa-cog"></i> <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="javascript:;" onclick="'. $addTransport .'"><i class="fa fa-money"></i> Tạo đơn giao vận</a></li>
                                                <li><a href="javascript:;" onclick="'. $editStatus .'"><i class="fa fa-file-text-o"></i> Cập nhật trạng thái hệ thống</a></li>
                                            </ul>
                                        </div>';

            $xhtmlItems .= '<tr id="tr_'. $id .'">
                                <td>'. $cid .'</td>
                                <td>'. $controls .'</td>
                                <td>'. $date .'</td>
                                <td>'. $contract_code .'</td>
                                <td>'. $user_create .'</td>
                                <td>'. $contact_code .'</td>
                                <td>'. $contact_name .'</td>
                                <td>'. $contact_phone .'</td>
                                <td>'. $contact_email .'</td>
                                <td>'. $contact_address .'</td>
                                <td>'. $tracking_code .'</td>
                                <td>'. $transport_service .'</td>
                                <td>'. $transport_status .'</td>
                                <td>'. $transport_status .'</td>
                                <td>'. $contract_price .'</td>
                                <td>'. $total_fee .'</td>
                            </tr>';
        }
    }
    
    // Control
    $arrControl = array(
        array( 'name' => 'add', 'caption' => 'Thêm', 'link' => $this->url('routeAdmin/default', array('controller' => 'contract', 'action' => 'add')), 'icon' => 'fa-plus', 'attributes' => array( 'onclick' => '', 'class' => 'btn' ) ),
        array( 'name' => 'create', 'caption' => 'Tạo đơn giao vận', 'link' => 'javascript:void(0);', 'icon' => 'fa-chevron-right', 'attributes' => array( 'onclick' => 'javascript:clickTransport(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'add')) .'\',\'add\');', 'class' => 'btn' ) ),
        array( 
            'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown' ), 
            'children' => array(
                array('name' => 'export',
                    'caption' => 'Xuất bản excel',
                    'link' => $this->url('routeAdmin/default',
                    array('controller' => $this->params['controller'], 'action' => 'export')),
                    'icon' => 'fa-file-excel-o'
                ),
                array('name' => 'export',
                    'caption' => 'Chỉnh sửa trạng thái hệ thống',
                    'link' => 'javascript:void(0);',
                    'attributes' => array( 'onclick' => 'javascript:clickTransport(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'edit-status')) .'\',\'view\');', 'class' => 'btn'),
                    'icon' => 'fa-sticky-note-o'
                ),
            ), 'children-class' => 'dropdown-menu pull-right' ),
    );
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminFormFilter" id="adminFormFilter" method="post">
    <div class="page-control">
        <div class="title pull-left">
            <?php echo $this->caption;?>
        </div>
        <div class="control pull-right">
            <?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
        </div>
        <div class="clearfix"></div>
    </div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
        <div class="row">
            <?php echo $xhtmlFilter; ?>
        </div>
    </div>
    <div class="page-content">
        <div class="table-manager" id="table-manager">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <?php echo $xhtmlHead;?>
                    </thead>
                    <tbody>
                        <?php echo $xhtmlItems;?>
                    </tbody>
                </table>
            </div>
            <?php
                echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'options' => $this->params['paginator']['options'])); 
            ?>
        </div>
    </div>
</form>
