<?php
    $dateFormat = new \ZendX\Functions\Date();
    
    $contact_options = !empty($this->contact['options']) ? unserialize($this->contact['options']) : array();
    $contract_options = !empty($this->item['options']) ? unserialize($this->item['options']) : array();
    $contract_pending = !empty($this->item['pending']) ? unserialize($this->item['pending']) : array();
    
    // các công cụ
    $arrControl = array(
        array('name' => 'close', 'caption' => 'Quay lại', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-arrow-left', 'attributes' => array('class' => 'btn')),
    );
    
    $elements = array(
        array('section' => 'Thông tin khách hàng', 'boxClass' => 'col-md-12'),
        array('element' => $this->contact['phone'], 'label' => 'Số điện thoại'),
        array('element' => $this->contact['name'], 'label' => 'Họ và tên'),
        array('element' => $this->sex[$this->contact['sex']]['name'], 'label' => 'Giới tính'),
        array('element' => $contact_options['address'], 'label' => 'Địa chỉ nơi ở'),
        array('element' => $this->location_city[$this->contact['location_city_id']]['name'], 'label' => 'Tỉnh thành'),
        array('element' => $this->location_district[$this->contact['location_district_id']]['name'], 'label' => 'Quận huyện'),
        array('div' => '', 'boxClass' => 'col-md-12'),
        array('element' => $this->contact['email'], 'label' => 'Email'),
        array('element' => $dateFormat->formatToView($this->contact['birthday']), 'label' => 'Ngày sinh'),
        array('div' => '', 'boxClass' => 'col-md-12'),
        array('element' => $contact_options['note'], 'label' => 'Ghi chú', 'boxClass' => 'col-sm-12'),
        array('section' => 'Thông tin hợp đồng', 'boxClass' => 'col-md-12'),
        array('element' => $dateFormat->formatToView($this->item['created'], 'd/m/Y H:i:s'), 'label' => 'Ngày tạo'),
        array('element' => $dateFormat->formatToView($this->item['date'], 'd/m/Y'), 'label' => 'Ngày hợp đồng'),
        array('element' => $this->product[$this->item['product_id']]['name'], 'label' => 'Sản phẩm'),
        //array('div' => '', 'boxClass' => 'col-md-12'),
        array('element' => '-' . $this->item['total_discount']/$this->item['price_total']*100 . '%', 'label' => 'Giảm theo %', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-orange">'. $this->item['price_promotion_price'] .'</span>', 'label' => 'Giá đã giảm', 'boxClass' => 'col-md-2'),
        array('element' => $contract_options['contract_note'], 'label' => 'Ghi chú', 'boxClass' => 'col-md-12'),
        array('section' => 'Thông tin thanh toán', 'boxClass' => 'col-md-12'),
        array('element' => '<span class="mask_currency text-info">'. $this->item['price_total'] .'</span> '. $this->item['price_unit'], 'label' => 'Đơn giá', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-info">'. $this->item['total_discount'] .'</span>', 'label' => 'Ưu đãi', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-info">'. $this->item['price'] .'</span>', 'label' => 'Thành tiền sau ưu đãi', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-purple">'. $this->item['price_paid'] .'</span>', 'label' => 'Đã thanh toán', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-info">'. $this->item['transport_fee'] .'</span>', 'label' => 'Phí vận chuyển', 'boxClass' => 'col-md-2'),
        array('section' => 'Danh sách đơn hàng của khách hàng', 'boxClass' => 'col-md-12'),
        array('div' => '', 'boxClass' => 'col-md-12', 'boxId' => 'load_contract', 'boxStyle' => 'margin-bottom: 20px;'),
    );
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-view.phtml', $elements);
?>

<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminForm" id="adminForm" class="">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
	
    <?php echo $this->flashMessenger()->render();?>
	
    <div class="page-content">
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
	</div>
</form>