<?php
    $myForm = $this->myForm;
    $myForm->prepare();
    $dateFormat = new \ZendX\Functions\Date();
    
    $elements = array(
        array('section' => 'Thông tin link checking', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('link'), 'label' => 'Link Page', 'validate' => array('require' => true), 'boxClass' => 'col-md-3'),
        array('element' => $myForm->get('marketing_channel_id'), 'label' => 'Kênh Marketing', 'validate' => array('require' => true), 'boxClass' => 'col-md-3'),
        array('element' => $myForm->get('campaign'), 'label' => 'Campaign', 'validate' => array('require' => true), 'boxClass' => 'col-md-3'),
        array('element' => $myForm->get('type'), 'label' => 'Type','validate' => array('require' => true), 'boxClass' => 'col-md-3'),
        array('element' => $myForm->get('content'), 'Content' => 'Ghi chú','validate' => array('require' => true), 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('flexible_1'), 'Flexible_1' => 'Flexible_1','validate' => array('require' => true), 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('flexible_2'), 'Flexible_2' => 'Flexible_2','validate' => array('require' => true), 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true)),
        array('element' => $myForm->get('modal'), 'validate' => array('require' => true))
    );

    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<?php
if($this->params['data']['modal'] != 'success') { 
?>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
<?php
} 
?>
    <?php echo @$this->xViewElementErrors($elements);?>
	<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminFormModal" id="adminFormModal">
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
    </form>
<?php
if($this->params['data']['modal'] != 'success') { 
?>
</div>
<div class="modal-footer">
	<button type="button" class="btn green save-close">Lưu & Đóng</button>
	<button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>
<?php
} 
?>

