<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <form action="#" id="frmRegister" name="frmRegister" method="POST"
		class="">
		<div class="box_dangKy" id="box_dangKy">
			<div class="box_image"><img class="img-responsive" src="<?php echo $item['image'];?>"></div>
			<div class="box_content"><?php echo htmlspecialchars_decode($item['content']);?></div>
			<div class="box_form">
				<div class="row">
    				<div class="col-sm-12">
    			        <div class="form-group" id="input-city">
                            <select name="city" class="form-control">
                                <option value=""  selected="selected">Chọn địa điểm tham gia</option>
                                <option value="Hà Nội" >Hà Nội</option>
                                <option value="Hồ Chí Minh" >TP Hồ Chí Minh</option>
                            </select>
                        </div>
    			    </div>
					<div class="col-sm-12">
						<div class="form-group" id="input-name">
							<input name="name" type="text" class="form-control" placeholder="Họ và tên">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group" id="input-phone">
							<input name="phone" type="text" class="form-control" placeholder="Điện thoại">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group" id="input-email">
							<input name="email" type="text" class="form-control" placeholder="Email">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group" id="input-company">
							<input name="company" type="text" class="form-control" placeholder="Công ty">
						</div>
					</div>
					<!-- <div class="col-sm-12">
						<div class="form-group" id="input-job">
							<select name="job" class="form-control">
								<option value="" selected="selected">Chức vụ</option>
								<option value="Chủ doanh nghiệp">Chủ doanh nghiệp</option>
								<option value="Giám đốc">Giám đốc</option>
								<option value="Quản lý cập trung">Quản lý cập trung</option>
								<option value="Nhân viên">Nhân viên</option>
							</select>
						</div>
					</div> -->
					<div class="col-sm-12">
						<div class="form-group" id="input-job">
							<input name="job" type="text" class="form-control" placeholder="Chức vụ">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group" id="input-number">
							<input name="number" type="number" class="form-control" min="0" placeholder="Số vé">
						</div>
					</div>
					<div class="col-md-12">
                        <div class="form-group" id="input-option">
                          <select name="option[]" class="selectpicker form-control" multiple data-selected-text-format="count > 4" title="Vấn đề các anh/Chị đang gặp phải.">
                              <option class="option" value="Lãnh đạo">Lãnh đạo</option>
                              <option class="option" value="Chiến lược">Chiến lược</option>
                              <option class="option" value="Quản trị vận hành">Quản trị vận hành</option>
                              <option class="option" value="Sản xuất">Sản xuất</option>
                              <option class="option" value="Sale - Marketing">Sale - Marketing</option>
                              <option class="option" value="Nhân sự">Nhân sự</option>
                              <option class="option" value="Tài chính - Kế toán">Tài chính - Kế toán</option>
                              <option class="option" value="Công nghệ">Công nghệ</option>
                              <option class="option" value="Quản trị bản thân">Quản trị bản thân</option>
                              <option class="option" value="Văn hóa doanh nghiệp">Văn hóa doanh nghiệp</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group" id="input-content">
                            <input name="content" type="text" class="form-control" placeholder="Anh/Chị vui lòng mô tả chi tiết vấn đề của mình">
                        </div>
                    </div>
					<div class="col-sm-12">
						<div class="btnSuccess">
							<input type="hidden" name="form_id" value="1521867105-94u4-51j2-84sr-8498z1518920">
							<input type="hidden" name="form_new_id" value="<?php echo $item['form_id'];?>">
							<input type="button" onclick="javascript:formRegister('frmRegister');" class="form-control btn-submit" value="Đăng ký ngay">
						</div>
					</div>
				</div>
			</div>
		</div>	
	</form>
    
    <?php
	echo $this  -> headScript ()
				-> appendFile ( $this->arrParams ['template'] ['urlJs'] . '/jquery.min.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlJs'] . '/bootstrap.min.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlPlugin'] . '/numeric.min.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/jquery.inview.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/fancybox.js', 'text/javascript' )
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/bxslider.min.js', 'text/javascript' )
				-> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
				-> appendFile ( $this->arrParams ['template'] ['urlThemeTemplate'] . $template . '/js/me.js', 'text/javascript' );
	?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->

	<script type="text/javascript">
    $('.mask_currency').autoNumeric("init",{
        mDec: 0,
        aSep: '.',
        aDec: ',', 
    });
    </script>
</body>
</html>
