@charset "utf-8";
@import "../fonts/font.css";

body{ font-size: 17px; font-family: "Roboto-Regular"}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
b { font-family: "Roboto-Bold", "Segoe UI";}
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}
ul{list-style: none;}
input[type=date]::-webkit-inner-spin-button,input[type=date]::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0; }
.clr { clear: both; }

.box_header{ background-color: #FFF; width: 100%; top: 0; left: 0; z-index: 99999; position: relative; height: 70px;}
.box_header .container{ position: relative;}
.box_header .logo{ display: inline-block; margin-top: 20px; line-height: 100%;}
.box_header .menu{ padding: 18px 0 0; list-style: none; float: right; margin: 0;}
.box_header .menu li{ display: inline-block; padding-left: 40px; text-align: center; vertical-align: middle;}
.box_header .menu li a{ font-size: 13px; color: #282828; font-family: "Roboto-Bold", "Segoe UI"; padding: 8px 0 6px; display: inline-block; text-transform: uppercase;}
.box_header .menu li a.active{color: #ed1c24;}
.box_header .menu li a:hover{ color: #ed1c24;}
.box_header .menu li a.btn_book{ border-radius: 10px;display: inline-block; background: -webkit-linear-gradient(left, #186c98 0%,#253e76 100%); color: #FFF; padding: 0; width: 120px; height: 30px; line-height: 28px; font-weight: normal; font-family: "SVNKelsonSansBold";}
.box_header .menu li a.btn_book.active{ background-color: -webkit-linear-gradient(left, #253e76 0%,#186c98 100%);}
.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}

.box_header.sticky{ position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
.box_header.sticky .menu li a.last{ padding-right: 20px;}
.box_header.sticky .box_user{ display: block; padding: 10px 0 0;}
.box_header.sticky .box_user li a{ display: inline-block; padding: 5px 20px; color: #404041; font-size: 13px; font-weight: 600; height: auto; line-height: normal;}
.box_header.sticky .box_user li a:hover{ color: #0088cc;}
.box_header.sticky .box_user_login{ display: block;}
.box_header.sticky .box_user_login .dropdown-toggle{ background: none !important; height: 50px; line-height: 50px; margin: 0 0 0 20px;}
.box_header.sticky .box_user_login .dropdown-toggle:focus{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle:hover{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle img{ vertical-align: top; margin-top: 5px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:BEFORE{ right: 12px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:AFTER{ right: 13px;}
.box_header.sticky .box_user_login.navbar-nav>li>a{ padding: 15px 20px;}
.box_header.sticky .box_user_login.navbar-nav>li>a:hover{ background: none; color: #000;}

.box_banner {margin-bottom: 30px;}
.box_banner .image img{ width: 100%;}

.box_gioiThieu p{padding: 0 100px; font-family: "Roboto-Regular"; font-size: 17px; color: #282828;line-height: 26px; margin: 35px 0; text-align: center; }
.box_gioiThieu .title{color: #152b50; font-size: 27px; text-transform: uppercase; line-height: 41px; padding: 0 0 0 70px; font-family: "DP-Bold"; padding-bottom: 50px;}
.box_gioiThieu .box_content{margin-bottom: 30px; display: inline-block;}
.box_gioiThieu .box_content .img img{width: 100%;}
.box_gioiThieu .box_content .text{ padding: 0 0 0 70px;}
.box_gioiThieu .box_content .text .item{position: relative; color: #4c4b4d; font-size: 17px; line-height: 23px; padding-bottom: 15px;}
.box_gioiThieu .box_content .text .item:before{position: absolute; content: ""; background: url("../images/icon-14.png") no-repeat top left; width: 30px; height: 30px; top: 5px; left: -50px;}
.box_gioiThieu .note{margin: 0; font-family: "Roboto-Regular"; font-style: italic; font-size: 20px;}

.box_thongTin{ background: url(../images/banner-1.jpg) no-repeat top center; margin: 100px 0; padding-top: 100px;}
.box_thongTin .box_content{ width: 1000px; max-width: 100%; background: #FFF; margin: 0 auto; padding: 50px 100px 0 100px;; position: relative; border-top: 5px solid -webkit-linear-gradient(left, #253e76 0%,#186c98 100%);}
.box_thongTin .box_content .text{font-size: 17px; line-height: 27px; font-family: "Roboto-Regular"; padding-bottom: 30px;}
.box_thongTin .box_content .text span{font-family: "Roboto-Bold";}
.box_thongTin .box_content .info .item{ display: table; font-family: "Roboto-Bold"; font-size: 17px; margin-bottom: 20px; line-height: 30px;}
.box_thongTin .box_content .info .item .key{font-family: "DP-Bold"; display: table-cell; font-size:25px; line-height: 25px; width: 150px; max-width:100%; vertical-align: middle;}
.box_thongTin .box_content .info .item .value{ display: table-cell; width: 650px;max-width:100%; border: 1px solid #222831; vertical-align: middle; padding:15px 50px;}
.box_thongTin .box_content .info .item .value.btn_book{font-family: "SVNKelsonSansBold"; background: -webkit-linear-gradient(left, #186c98 0%,#253e76 100%); border: none; color: #FFF; text-align: center; font-size: 30px; line-height: 25px;height: 70px;}
.box_thongTin .box_content .info .item .value.btn_book a{ color: #FFF;}
.box_thongTin .box_content .info .item:hover .value { color: #fff; background: -webkit-linear-gradient(left, #253e76 0%,#186c98 100%); transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s;}
.box_thongTin .title{font-size: 30px; line-height: 25px; font-family: "DP-Bold"; margin-bottom: 20px; color: #fff;}
.box_thongTin .box_content .right{font-family: "Roboto-Bold";}
.box_thongTin button{background: -webkit-linear-gradient(left, #186c98 0%,#253e76 100%); border: 0; border-radius: 10px; color: #fff; float: right;}
.box_thongTin button:hover{background: -webkit-linear-gradient(right, #0039ae 25%,#7db9e8 100%);}

.box_muctieu{background: -webkit-linear-gradient(left, #186c98 0%,#253e76 100%); height: 450px; margin-bottom: 30px;}
.box_muctieu .left{width: 44%; max-width: 100%; height: 450px; float: left; background: url("../images/banner-2.jpg") no-repeat center center; background-size: cover;}
.box_muctieu .right{width: 56%; max-width: 100%; height: 450px; float: left;}
.box_muctieu .right .box_content{width: 715px; max-width: 100%; float: left; color: #fff; padding: 50px 0 0 100px;}
.box_muctieu .right .box_content .box_title{font-family: "DP-Bold"; font-size: 32px; line-height: 45px; margin-bottom: 30px;}
.box_muctieu .right .box_content .item{padding: 0 0 20px 85px; font-family: "Roboto-Regular"; font-size: 17px; line-height: 25px; position: relative;}
.box_muctieu .right .box_content .item:before{position: absolute; content: ""; width: 50px; height: 50px; background: url("../images/icon-14.png") no-repeat top center; top: 5px; left: 0;}

.box_aiNen{margin-bottom: 30px;}
.box_aiNen .title{font-size: 30px; line-height: 25px; font-family: "DP-Bold"; color: #152b50; margin-bottom: 60px; position: relative; padding-bottom: 20px; }
.box_aiNen .title:before{position: absolute; content: ""; background: -webkit-linear-gradient(left, #186c98 0%,#253e76 100%); height: 8px; width: 10%; bottom: 0; left: 45%;}
.box_aiNen .item{width: 282px; max-width: 100%; padding: 60px 35px 55px 35px; background: #ebebeb; height: 280px;}
.box_aiNen .text{font-family: "Roboto-Regular"; line-height: 25px; margin-top: 28px;}

.box_noiDung{width: 100%; margin: 0 auto; color: #414042; padding-bottom: 100px; }
.box_noiDung .box_content{width: 1000px; max-width: 100%; margin: 0 auto; display: flow-root;}
.box_noiDung .box_content .box_title{font-family: "DP-Bold"; font-size: 35px; line-height: 45px; text-align: center; color: #152b50; padding: 50px 0;}
.box_noiDung .box_content .text{text-align: center; font-family: "Roboto-Regular"; font-size: 17px; line-height: 25px; padding: 0 15px 70px 15px;}
.box_noiDung .box_content .box_item{padding: 0 100px; display: flex;}
.box_noiDung .box_content .box_item .item{width: 33.33333%; max-width: 100%; text-align: center; float: left; }
.box_noiDung .box_content .box_item .item .text{ font-family: "Roboto-Medium"; font-size: 17px; line-height: 25px; padding-top: 40px;}
.box_noiDung .box_content .note{display: flex; font-family: "Roboto-Medium"; font-size: 20px; line-height: 30px; padding-bottom: 20px;}
.box_noiDung .box_content .wrapper{ width: 1000px; max-width: 100%; margin: 0 auto; display: flow-root;}
.box_noiDung .box_content .wrapper .content{background: #ebebeb;}
.box_noiDung .box_content .wrapper .my_panel{ background-color: #FFF; margin-bottom: 10px; }
.box_noiDung .box_content .wrapper .my_panel .title{ background: -webkit-linear-gradient(left, #186c98 0%,#253e76 100%); color: #fff; text-transform:uppercase; font-family: "DP-Bold"; font-size: 20px; line-height: 30px; padding: 20px 25px;}
.box_noiDung .box_content .wrapper .my_panel .title span{font-family: "Roboto-Medium";}
.box_noiDung .box_content .wrapper .my_panel .content{ padding:25px 60px; font-size: 17px; font-family: "Roboto-Regular"; line-height: 26px; font-size: 17px; border:1px solid #979797; background: #fff; margin-top: 5px;}
.box_noiDung .box_content .wrapper .my_panel.active .content{ display: block;}
.box_noiDung .box_content .content .title_content{font-size: 20px; font-family: "DP-Bold"; text-transform: uppercase; padding-bottom: 5px;}
.box_noiDung .box_content .content .text_content{ position: relative; margin-bottom: 10px; font-size: 20px;}
.box_noiDung .box_content .content .item_content{font-family: "Roboto-Regular"; font-size: 17px; line-height: 25px; padding-bottom: 10px; position: relative;}
.box_noiDung .box_content .content .item_content:before{position: absolute; content: "";  background: url("../images/icon-14.png") no-repeat center; width: 20px; height: 20px; top: 3px; left: -30px;}
.box_noiDung .box_content .content .item_content span{font-family: "Roboto-Medium";}
.box_noiDung .box_content .content .text_content:BEFORE{ content: ""; position: absolute; width: 15px; height: 15px; background: url("../images/icon-4.png") no-repeat top; top: 8px; left: -40px;}

.box_dienGia{width: 100%; max-width: 100%; font-family: "Arial";}
.box_dienGia{ background: url("../images/banner-4.jpg") no-repeat center; font-size: cover; color: #FFF; overflow: hidden; position: relative; height: 690px; max-width: 100%; padding: 120px 0 110px 0;}
.box_dienGia .content{padding-left: 160px;}
.box_dienGia .box_title .title_1{font-size: 40px; font-family: "DP-Bold"; line-height: 50px; }
.box_dienGia .box_title .title_2{font-size: 30px; font-family: "DP-Bold"; line-height: 50px; margin:30px 0;}
.box_dienGia .box_content .text{ font-size: 20px; margin-top: 28px; }
.box_dienGia .box_content .item{padding-bottom:5px; position: relative; font-size: 17px; color: white; }
.box_dienGia .box_content .item a{color: white;}
.box_dienGia .box_content ul{list-style: url(../images/icon-9.png); padding-top: 20px; padding-left: 20px;}
.box_dienGia .box_content ul p{padding-left: 0px;}
.box_dienGia .box_content .text-1{padding-bottom: 15px;}

.box_dangKy{background: url("../images/banner-5.jpg") no-repeat; background-size: cover; padding: 100px 0 70px 0;}
.box_dangKy .uudai{background: #fff; width: 90%; max-width: 100%;}
.box_dangKy .title_1{font-size:30px; line-height:27px; font-family: "DP-Bold"; color: #fff; padding: 0 0 50px 0; width:90%; max-width:100%; text-align: center;}
.box_dangKy .uudai .text{height: 95px; text-align: center; font-size: 20px; line-height: 27px; color: #fff; background: -webkit-linear-gradient(left, #186c98 0%,#253e76 100%); font-family: "Roboto-Bold"; padding: 25px 100px;}
.box_dangKy .uudai .box_content{color: #111; font-family: "Roboto-Bold"; font-size: 20px; line-height: 27px; text-align: center;}
.box_dangKy .uudai .box_content .text_1{padding: 19px 0;}
.box_dangKy .uudai .box_content .table{padding: 0 60px;}
.box_dangKy .uudai .box_content .table>tbody>tr>td{height: 55px; vertical-align: inherit; padding: 0; font-size: 20px; line-height: 27px; font-family: "Roboto-Bold"; text-align: center;}
.box_dangKy .uudai .box_content .text_2{padding: 25px 65px 43px 65px; margin-bottom:120px; font-size: 17px; line-height: 27px; font-family: "Roboto-Regular";}
.box_dangKy .uudai .box_content .text_2 span{font-size: 17px; line-height: 27px; font-family: "Roboto-Bold";}
.box_dangKy .uudai .box_content .text_3{font-family: "Roboto-Regular"; font-size: 17px; padding: 0 65px;}
.box_dangKy .title_2{font-size:30px; line-height:27px; font-family: "DP-Bold"; color: #fff; text-align: center; line-height: 40px; margin-top: -50px; padding-bottom: 50px;}
.box_dangKy .form .form-row .col-md-6{padding-left: 0;}
.box_dangKy .form .form-row .group{padding-right: 0;}
.box_dangKy .form .btnSuccess .btn-blue{ transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 0; border:0; background: -webkit-linear-gradient(left, #186c98 0%,#253e76 100%); color: #fff; height: 65px; font-size: 23px; line-height: 27px; font-family: "DP-Bold"; text-align: center; width: 100%;}
.box_dangKy .form .btnSuccess .btn-blue:hover{background: -webkit-linear-gradient(left, #253e76 0%,#186c98 100%);}
.box_dangKy .form-control{ font-family: "Roboto-Regular"; border-radius: 0; background: rgba(43, 60, 100, 0.8) !important; color: #fff !important; height: 65px; padding: 0 45px; font-size: 20px; border: 1px solid transparent;}
.box_dangKy .alert{ border-radius: 0;}
.box_dangKy input{color: #fff;}
.box_dangKy label{font-weight: normal;}
.box_dangKy input::placeholder{color: #fff !important; font-family: "Roboto-Regular"; font-weight:normal; font-size: 20px; }
.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100%; background: rgba(43, 60, 100, 0) !important; height: 65px; border-radius: 0; padding: 0 40px; font-family: "Roboto-Regular"; font-size: 20px;}
.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{color: #fff; height: 65px; background: rgba(43, 60, 100, 0) !important; border-radius: 0; border: 0; font-family:"Roboto-Regular"; font-size: 20px;}
.box_dangKy .btn-group.open .dropdown-toggle{color: #fff; height: 65px; background: rgba(43, 60, 100, 0) !important; border-radius: 0; border: 0; font-family:"Roboto-Regular"; font-size: 20px;}
.box_dangKy .bootstrap-select>.dropdown-toggle{color: #fff; height: 65px; background: rgba(43, 60, 100, 0) !important; border-radius: 0; border: 0; font-family:"Roboto-Regular"; font-size: 20px;}

.box_thanhToan{  color: #30373d; position: relative; margin: 50px 0;}
.box_thanhToan .thanhToan { padding: 0 15px 0 15px;}
.box_thanhToan .thanhToan .box_title{ font-family: "DP-Bold"; padding-bottom: 20px; color: #152b50; font-size: 35px; line-height:45px; text-transform: uppercase;}
.box_thanhToan .thanhToan .item { margin-bottom: 30px;}
.box_thanhToan .thanhToan .item .item_title{ font-family: "HelveticaNeue-Medium"; padding-bottom: 5px; font-size:17px; line-height: 45px;}
.box_thanhToan .thanhToan .item .item_detail{ font-size: 18px; padding-bottom: 20px;line-height: 23px;font-family: "Roboto-Regular";}
.box_thanhToan .thanhToan .item .item_detail span{font-family: "Roboto-Bold";}
.box_thanhToan .thanhToan .item .item_image{ width: 300px; max-width: 100%; margin: 0 auto; background: #f2ad21; color: #FFF; border-radius: 5px; padding: 28px 0;}
.box_thanhToan .thanhToan .item .item_image .image_title{font-family:"Roboto-Medium"; background: #FFF; color: #49556a; text-align: center; height: 38px; line-height: 38px;}
.box_thanhToan .thanhToan .item .item_image .image_desc{ padding: 15px; font-size: 15px; font-family:"Roboto-Medium"; line-height: 30px; color: #111;}
.box_thanhToan .dangKy{border: 2px solid #007acf;}

.box_student{padding: 90px 0 0; background: url("../images/bg_student.jpg") no-repeat top center; background-size: cover;}
.box_student .box_title .title{ text-align: center; color: #FFF; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 50px;}
.box_student .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 50%; width: 50px; height: 5px; margin-left: -25px; background: -webkit-linear-gradient(left, #186c98 0%,#253e76 100%);}
.box_student .item{min-height: 280px;}
.box_student .item .fa{position: absolute; font-size: 50px; color: #fff; top: 50%; left: 50%; margin: -25px 0 0 -25px; }
.box_student .item .image{ margin-bottom: 12px; text-align: center; padding-top: 20px;}
.box_student .item .image img{ width: auto; display: inline-block; width: 100%;}
.box_student .item .name{ font-size: 15px; font-weight: 500; text-transform: uppercase; text-align: center; margin-bottom: 2px; color: #0f2a51;}
.box_student .item .info{ color: #a1a1a1; font-size: 13px; text-align: center;}
.box_student .item .content{ font-size: 14px; padding-top: 20px;}
.box_student .bx-wrapper { position: relative; padding-bottom: 0;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a{ background-color: #FFF; width: 12px; height: 12px; display: inline-block; text-indent: -99999px; margin: 0 8px; border: 0; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; border-radius: 50% !important;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.box_student .bx-wrapper .bx-pager.bx-default-pager a.active{ background-color: #d3a23b;}
.box_student .bx-wrapper .bx-viewport{ max-height: 520px;}
.box_student .bx-pager{ display: none; position: absolute; bottom: 0px; left: 0; width: 100%; margin: 0; padding: 0; text-align: center; z-index: 999;}
.box_student .bx-pager-item{ display: inline-block;}
.box_student .bx-controls-direction{display: contents; position: absolute; top: 13px; right: 0; z-index: 9999;}
.box_student .bx-controls-direction a{ display: inline-block; width: 20px; height: 20px; margin-top: 0; text-indent: -99999px; overflow: hidden;}
.box_student .bx-controls-direction a.bx-prev, 
.box_student .bx-controls-direction a.bx-prev:hover{ background: url("../images/prev.png") no-repeat center center; background-size: 100%; margin-right: 30px; position: absolute; top: 40%; margin-top: -10px; right: 100%;}
.box_student .bx-controls-direction a.bx-next,
.box_student .bx-controls-direction a.bx-next:hover{ background: url("../images/next.png") no-repeat center center; background-size: 100%; left: auto; position: absolute; top: 40%; margin-top: -10px; right: -4%;}
.box_student .item a{display: block; position: relative;}

.box_images{ overflow: hidden;}
.box_images img{ width: 100%; transform: scale(1); transition: transform .5s;}
.box_images img:hover{ transform: scale(1.2); position: relative; z-index: 1;} 
.box_images table{ width: 100%;} 
.box_images table td{ padding: 2px; overflow: hidden;} 
.box_images table div{ overflow: hidden;} 

.box_comment{ padding: 0 0 40px 0;}
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {min-width: 100% !important;}

.box_footer{ padding: 60px 0 60px; position: relative; background: #071831; color: #FFF;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}
.box_footer .wrap{ margin: 0 -15px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 15px; padding-bottom: 15px; position: relative;}
.box_footer .col-1 .slogan:before{position: absolute; content: ""; width: 70px; height: 5px; background: #fff; bottom: 0; left: 0;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social {padding-top: 10px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .langtech .title{font-size: 16px; text-transform: uppercase; font-weight: 500; padding: 20px 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #d3a23b; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #C9353D;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}

.box_menuFooter ul{ margin: 0; padding: 0; list-style: none;}
.box_menuFooter ul>li{ display: block;}
.box_menuFooter ul>li>a{ text-transform: uppercase; margin-bottom: 5px; display: block; font-size: 13px;}
.box_menuFooter ul>li>ul{ display: none;}

.box_adsFooter{ overflow: hidden; margin-right: 40px;}
.box_adsFooter a{ display: inline-block; font-size: 10px; padding: 5px 10px 3px; border: 1px solid #FFF; border-radius: 14px; text-transform: uppercase; margin: 0 5px 5px 0;}
.box_adsFooter a:HOVER{ background-color: #FFF; color: #071831 !important;}

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}
.has-error .form-control{border: 1px solid #ec1c3c !important;}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

iframe[name="google_conversion_frame"]{ height: 0;}

/*RESPONSIVE*/
@media ( max-width : 1200px){
}

@media ( min-width : 1200px) {
  	.popup_video .popup_content{ width: 60%;}
}

@media ( max-width : 1000px) {
	.box_student .bx-controls-direction a.bx-next, .box_student .bx-controls-direction a.bx-next:hover{right: -1%; top: 50%;}
	.box_student .bx-controls-direction a.bx-prev, .box_student .bx-controls-direction a.bx-prev:hover{right: 90%; top: 50%;}
	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

	.box_header{ height: 43px; position: fixed; border: 0; padding: 0 0 10px 0;}
	.box_header.sticky{ position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }
	.box_header .container{ position: relative;}
	.box_header .logo{ margin-top: 8px !important;}
	.box_header .logo img{ height: 20px;}
	.box_header .menu_mobile{ top: 13px;}
	.box_header .menu_mobile .item{ background-color: #999;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 60%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	.box_header .menu li:first-child{ padding-left: 20px; }
	.box_header .menu{ margin: 0 !important;}
	
	.box_thongTin .box_content{padding: 0;}
	.box_thongTin .container{width: 800px; max-width: 100%;}
	
	.popup_video .popup_content{ width: calc(100% - 40px); top: 10%;}
}

@media ( max-width : 768px) {
	body{ color: #282828; font-size: 15px;}

	.box_banner{margin-bottom: 50px;}
	.box_banner .image img{ margin-top: 43px; }
	
	.box_header.sticky{ padding: 0px;}
	
	.box_gioiThieu{ margin-bottom: 50px;}
	.box_gioiThieu p{padding: 0 50px;}
	.box_gioiThieu .text{padding: 0 50px;}
	.box_gioiThieu .text::before {left: 10px}
	.box_gioiThieu .info .title{padding-left: 10px;}
	.box_gioiThieu .info .text-1,.box_gioiThieu .info .text-2{padding-left: 68px;}
	.box_gioiThieu .info .text-1::before, .box_gioiThieu .info .text-2::before {left: 15px;}
	.box_gioiThieu .image{width: 100%; text-align: center; padding-top: 15px;}
	.box_gioiThieu .info .content{width: 100%;}
	.box_gioiThieu .info{margin: 0;}
	.box_gioiThieu .info .title{margin: 0;}

	.box_gioiThieu button {display: none}
	.box_gioiThieu .title{padding-left: 0; padding-bottom: 30px;}
	.box_gioiThieu .title br{display: none;}
	
	.box_thongTin{padding: 40px 0; margin:0; background: -webkit-linear-gradient(left, #253e76 0%,#186c98 100%);}
	.box_thongTin .box_title .left{width: 100%; text-align: center; padding: 30px 0;}
	.box_thongTin .box_title{padding: 0;}
	.box_thongTin .info{padding: 15px 0;}
	.box_thongTin .box_content .text{ padding: 10px 10px 20px 10px;; font-size: 15px;}
	.box_thongTin .box_content .info .item{ display: block; padding: 0 20px;}
	.box_thongTin .box_content .info .title{font-size: 25px; text-align: center; padding: 50px 0; margin: 0;}
	.box_thongTin .box_content .info .item .key{ display: block; width: auto;}
	.box_thongTin .box_content .info .item .value{ display: block; width: auto; padding: 10px; font-size: 15px;}
	.box_thongTin .box_content .info .item .value.btn_book a{line-height: 50px;}
	
	.box_muctieu{margin-bottom: 50px;}
	.box_muctieu .left{display: none;}
	.box_muctieu .right{height: auto; width: 100%;}
	.box_muctieu .right .box_content{padding: 50px 15px;}
	.box_muctieu .right .box_content .box_title{font-size: 25px; margin-bottom: 25px;}
	.box_muctieu .right .box_content .item{font-size: 14px;}
	
	.box_aiNen{margin: 0; padding: 40px 0;}
	.box_aiNen .title{margin-bottom: 30px;}
	.box_aiNen .item{width: 100%; margin-bottom: 10px;}
	
	.box_noiDung{padding-bottom: 40px;}
	.box_noiDung .box_content .box_title{padding: 0 0 25px 0;}
	
	.box_dangKy{background: -webkit-linear-gradient(left, #253e76 0%,#186c98 100%); margin-bottom: 50px; padding: 0;}
	.box_dangKy .title_1{width: 100%; padding: 50px 0; font-size: 25px;}
	.box_dangKy .uudai .text{height: auto; padding: 10px;}
	.box_dangKy .title_2{line-height: 45px; padding: 0 0 50px 0; font-size: 25px; margin: 0;}
	.box_dangKy .form {margin-bottom: 50px;}
	.box_dangKy .form .form-control{height: 40px; font-size: 14px; padding: 0 15px;}
	.box_dangKy .form .form-group input::placeholder{font-size: 14px;}
	.box_dangKy .form .btnSuccess .btn-blue{height: 40px; font-size: 17px; vertical-align: middle; line-height: 20px;}
	.box_dangKy .form .form-row .col-md-6{padding-right: 0;}
	.box_dangKy .uudai{padding: 0; width: 100%;}
	.box_dangKy .uudai .box_content .table{padding: 0 15px;}
	.box_dangKy .uudai .box_content .table>tbody>tr>td{font-size: 17px; height: 45px;}
	.box_dangKy .uudai .box_content .text_2{padding: 30px 15px; margin-bottom: 40px;}
	.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ height: 40px; padding: 0; font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{ height: 40px; font-size: 14px;}
	.box_dangKy .btn-group.open .dropdown-toggle{ height: 40px font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle{ height: 40px;font-size: 14px;}
	
	.box_dienGia{ padding: 30px 0; background: -webkit-linear-gradient(left, #253e76 0%,#186c98 100%); height: auto; margin-bottom: 50px;}
	.box_dienGia .image{ margin-bottom: 20px;}
	.box_dienGia .image img{ width: 100%;}
	.box_dienGia .box_title .title_1{ font-size: 25px; line-height: 35px; position: relative; padding-bottom: 400px;}
	.box_dienGia .box_title .title_1:before{position: absolute; content: ""; background: url("../images/diengia.jpg") no-repeat top center; bottom: 0; width: 100%; height: 350px;}
	.box_dienGia .content{ padding: 0 15px;}
	.box_dienGia .box_title{ font-size: 35px; padding-left: 0;}
	.box_dienGia .box_content{ font-size: 17px; padding: 0; width: 100%;}
	.box_dienGia .box_content p{ font-size: 13px; padding-left: 0;}
	
	.box_thanhToan{ padding: 0 0 30px 0; }
	.box_thanhToan .container .box_title{ margin: 0; padding: 0 15px 30px; font-size: 25px; text-align: center; padding: 0;}
	.box_thanhToan .container{ padding: 0 10px;}
	.box_thanhToan .info{ padding: 30px;}
	.box_thanhToan .info .title{ padding: 0;}
	.box_thanhToan .info .head{ padding-top: 30px; padding-bottom: 10px;}
	.box_thanhToan .form{ padding: 30px;}
	.box_thanhToan .bank{ padding: 0 30px 50px;}
	.box_thanhToan .bank .title{ padding-bottom: 0;}
	.box_thanhToan .bank .item{ padding-top: 30px;}
	
	.box_student{padding-top: 30px;}
	.box_student .box_title .title{margin-bottom: 0;}
	.box_student .item{padding: 0 40px;}
}
