<?php 
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
    
    $contract = $this->getHelperPluginManager()->getServiceLocator()->get('Admin\Model\ContractTable')->getItem(array('index' => $params['route']['contract_id']), array('task' => 'get-by-index'));
    $contact  = $this->getHelperPluginManager()->getServiceLocator()->get('Admin\Model\ContactTable')->getItem(array('id' => $contract['contact_id']), null);
    $source_known = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "source-known")), array('task' => 'cache'));
    $why_choose = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "why-choose")), array('task' => 'cache'));
    $company_problem = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-problem" )), array('task' => 'cache'));
    $survey_why_course = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "survey-why-course")), array('task' => 'cache'));
    $survey_idea = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "survey-idea")), array('task' => 'cache'));
    $survey_satisfied = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "survey-why-satisfied")), array('task' => 'cache'));
    $survey_problem = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "survey-problem")), array('task' => 'cache'));
    $course  = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\CourseTable')->getItem(array('id' => $contract['course_id']), null);
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle('HBR - Đánh giá sau khóa học');
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css?v='. date('dmyHis'));
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>
	<form action="#" id="frmRegister" name="frmRegister" method="POST">
    	<input type="hidden" name="course_id" required="required" value="<?php echo $contract['course_id'];?>">
    	<input type="hidden" name="contract_id" required="required" value="<?php echo $contract['id'];?>">
        <input type="hidden" name="contact_id"  value="<?php echo $contact['id'] ?>" >
        <div class="box_dangKy" id="box_dangKy">
            <div class="box_form">  
        		<div class="info">
                    <div class="container">
                    	<div class="row">
                            <div class="top">
                                <img src="<?php echo $urlImg;?>/logo.png" alt="">
                                <img src="<?php echo $urlImg;?>/logo_pcc.png" alt="">
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                            	<div class="box_title">BẢNG KHẢO SÁT ĐÁNH GIÁ KHÓA HỌC</div>
                            	<p>Xin chào anh/chị,</p>
                                <p>Trường doanh nhân HBR & Công ty Cổ phần Xây lắp điện 1 trân trọng gửi lời cảm ơn anh/chị đã dành thời gian tham dự chương trình đào tạo “ Thiết kế và vận hành chiến lược doanh nghiệp”.  Để các chương trình đào tạo tiếp theo mang lại trải nghiệm tốt hơn anh/chị vui lòng dành chút thời gian để hoàn thiện phiếu đánh giá sau đây:</p>
                                <div class="row">
                                	<div class="col-sm-12"><div class="title">Anh/chị vui lòng giới thiệu về bản thân: </div></div>
                    				<div class="col-md-6">
                                        <div class="form-group input-data"><input type="text" name="name" class="form-control" value="<?php echo $contact['name'] ?>" placeholder="Họ tên" required="required"></div>   
                                    </div>
                                    <div class="col-md-6 hidden">
                                        <div class="form-group input-data"><input type="text" name="email" class="form-control" placeholder="Email" value="<?php echo $contact['email'] ?>"></div>   
                                    </div>
                                    <div class="col-md-6 hidden">
                                        <div class="form-group input-data"><input type="text" name="phone" class="form-control" placeholder="Số điện thoại" value="<?php echo $contact['phone'] ?>"></div>                                  
                                    </div>
                                </div>
                            </div>
                        </div>     
                	</div>
                </div>
                <?php 
                if(empty($contact['company_problem'])) {
                ?>
                <div class="part_1">
                    <div class="box_title">
                        <div class="container">
                            <div class="row">
                                <h3>vấn đề hiện tại anh/chị đang gặp phải </h3>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                    	<div class="row">
                            <div class="box_content">
                                <?php 
                                if(empty($contact['company_problem'])) {
                                ?>
                                <div class="input-data item">
                                    <div class="title">1. Vấn đề hiện tại anh/chị đang gặp phải là gì?</div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-sm-12">
                        						<div class="form-group" id="input-company_problem">
                        						  	<div class="row">
                        						  		<?php
                        									foreach ($company_problem AS $value) {
                                                                if ($value['status'] == 1) {
                        								?>
                        						  		<div class="col-sm-3 col-xs-6"><label class="check-inline radio"><input type="checkbox" name="company_problem[]" value="<?php echo $value['id']; ?>"><?php echo $value['name']; ?></label></div>
                                                        <?php
                                                                }
                                                            } 
                                                        ?>
                                                        <div class="col-sm-12"><label class="check-inline hidden"><input type="text" width="100%" name="company_problem[]" value="" placeholder="Vui lòng nhập vấn đề của anh/ chị"></label></div>
                        						  	</div>
                        						</div>
                        					</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-data item">
                                    <div class="title">2. Mục tiêu/kỳ vọng của anh chị khi tham dự khóa học là gì?</div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <textarea class="form-control" name="answer-3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <?php 
                                }
                                ?>
                           </div>
                        </div>
                	</div>
                </div>
                <?php 
                }
                ?>
                <div class="part_2">
                    <div class="box_title">
                        <div class="container">
                            <div class="row">
                                <h3>Đánh giá của anh/chị về chương trình đào tạo </h3>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                    	<div class="row">
                            <div class="box_content">
                                <div class="input-data item">
                                	<div class="row">
                                		<div class="col-sm-5"><div class="title">1. Về nội dung bài giảng (tính ứng dụng thực tiễn, tính hệ thống)</div></div>
                                        <div class="col-md-7">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="col-sm-1 col-sm-offset-2 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-4" value="1" class="result"><span>1</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-4" value="2" class="result"><span>2</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-4" value="3" class="result"><span>3</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-4" value="4" class="result"><span>4</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-4" value="5" class="result"><span>5</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-4" value="6" class="result"><span>6</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-4" value="7" class="result"><span>7</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-4" value="8" class="result"><span>8</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-4" value="9" class="result"><span>9</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-4" value="10" class="result"><span>10</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                	</div>
                                </div>
                                <div class="input-data item">
                                    <div class="row">
                                    	<div class="col-md-5"><div class="title">2. Về giảng viên (khả năng truyền đạt kiến thức, khả năng kết nối lớp học)</div></div>
                                        <div class="col-md-7">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="col-sm-1 col-sm-offset-2 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-5" value="1" class="result"> <span>1</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-5" value="2" class="result"> <span>2</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-5" value="3" class="result"> <span>3</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-5" value="4" class="result"> <span>4</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-5" value="5" class="result"> <span>5</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-5" value="6" class="result"> <span>6</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-5" value="7" class="result"> <span>7</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-5" value="8" class="result"> <span>8</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-5" value="9" class="result"><span>9</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-5" value="10" class="result"><span>10</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-data item">
                                    <div class="title">3. Góp ý khác về chương trình đào tạo </div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <textarea class="form-control" name="answer-6"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                		</div>
                	</div>
                </div>
                
                <div class="part_3">
                    <div class="box_title">
                    	<div class="container">
                    		<div class="row">
                    			<h3>Đánh giá của anh/chị về công tác tổ chức</h3>
                    		</div>
                    	</div>
                    </div>
                    <div class="container">
                    	<div class="row">
                            <div class="box_content">
                                <div class="input-data item">
                                    <div class="row">
                                    	<div class="col-md-5"><div class="title">1. Về cán bộ tổ chức lớp học</div></div>
										<div class="col-md-7">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="col-sm-1 col-sm-offset-2 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-9" value="1" class="result"> <span>1</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-9" value="2" class="result"> <span>2</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-9" value="3" class="result"> <span>3</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-9" value="4" class="result"> <span>4</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-9" value="5" class="result"> <span>5</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-9" value="6" class="result"> <span>6</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-9" value="7" class="result"> <span>7</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-9" value="8" class="result"> <span>8</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-9" value="9" class="result"> <span>9</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-9" value="10" class="result"> <span>10</span></label>
                                                    </div>
                                                </div>
                                            </div>
										</div>
                                    </div>
                                </div>
                                <div class="input-data item">
                                    <div class="row">
                                        <div class="col-md-5"><div class="title">2. Đánh giá chung công tác tổ chức</div></div>
                                        <div class="col-md-7">
                                            <div class="content ">
                                                <div class="row">
                                                    <div class="col-sm-1 col-sm-offset-2 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-10" value="1" class="result"> <span>1</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-10" value="2" class="result"> <span>2</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-10" value="3" class="result"> <span>3</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-10" value="4" class="result"> <span>4</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-10" value="5" class="result"> <span>5</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-10" value="6" class="result"> <span>6</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-10" value="7" class="result"> <span>7</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-10" value="8" class="result"> <span>8</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-10" value="9" class="result"> <span>9</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio"><input type="radio" name="answer-10" value="10" class="result"> <span>10</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-data item">
                                   <div class="row">
                                   		<div class="col-md-5"><div class="title">3. Về dịch vụ đi kèm khóa học</div></div>
                                        <div class="col-md-7">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="col-sm-1 col-sm-offset-2 col-xs-2">
                                                        <label class="radio service"><input type="radio" name="answer-12" value="1" class="result "> <span>1</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio service"><input type="radio" name="answer-12" value="2" class="result "> <span>2</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio service"><input type="radio" name="answer-12" value="3" class="result "> <span>3</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio service"><input type="radio" name="answer-12" value="4" class="result "> <span>4</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio service"><input type="radio" name="answer-12" value="5" class="result "> <span>5</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio service"><input type="radio" name="answer-12" value="6" class="result "> <span>6</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio service"><input type="radio" name="answer-12" value="7" class="result "> <span>7</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio service"><input type="radio" name="answer-12" value="8" class="result "> <span>8</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio service"><input type="radio" name="answer-12" value="9" class="result "> <span>9</span></label>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-2">
                                                        <label class="radio service"><input type="radio" name="answer-12" value="10" class="result "> <span>10</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   </div>
                                </div>
                                <div class="input-data item">
                                    <div class="row">
                                        <div class="col-md-5"><div class="title">4. Nguyên nhân</div></div>
                                        <div class="col-md-12">
                                            <div class="content input-answer_13">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-3">
                                                        <label class="radio"><input type="radio" name="answer-13" value="Teabreak" class="result"> <span>Teabreak</span></label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <label class="radio"><input type="radio" name="answer-13" value="Tài liệu" class="result"> <span>Tài liệu</span></label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <label class="radio"><input type="radio" name="answer-13" value="Giấy và bút" class="result"> <span>Giấy và bút</span></label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <label class="radio other"><input type="radio" name="answer-13" value="Khác:" class="result"> <span>Khác:</span></label>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <label class="radio hidden"><input type="text" name="answer-13" value="" placeholder="Vui lòng nhập nguyên nhân của anh/ chị" class="result"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-data item">
                                    <div class="title">5. Góp ý khác về công tác tổ chức</div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <textarea class="form-control" name="answer-15"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                	</div>
                </div>
                <div class="part_3">
                    <div class="box_title">
                    	<div class="container">
                    		<div class="row">
                    			<h3>Cảm nhận của anh/chị về khóa học</h3>
                    		</div>
                    	</div>
                    </div>
                    <div class="container">
                    	<div class="row">
                        	<div class="box_content">
                        		<div class="input-data item">
                                    <div class="title">1. Cảm nhận của anh/chị về khóa học này là gì?</div>
                                    <div class="content answer-16">
                                        <div class="row">
            						  		<?php
            									foreach ($survey_why_course AS $value) {
                                                    if ($value['status'] == 1) {
            								?>
            						  		<div class="col-md-4">
                                                <label class="radio"><input type="checkbox" name="answer-16[]" value="<?php echo $value['id']; ?>" class="result"> <span><?php echo $value['name']; ?></span></label>
                                            </div>
                                            <?php 
                                                    }
                                                } 
                                            ?>
                                            <div class="col-sm-4"><label class="check-inline hidden"><input type="text" width="100%" name="answer-16[]" value="" placeholder="Vui lòng nhập cảm nhận của anh/ chị"></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-data item">
                                    <div class="title">2. Có bao nhiêu ý tưởng từ khóa học mà anh/chị nghĩ rằng sẽ thực hiện trong 6-12 tháng tới </div>
                                    <div class="content">
                                        <div class="row">
            						  		<?php
            									foreach ($survey_idea AS $value) {
            								?>
            						  		<div class="col-sm-3 col-xs-6">
                                                <label class="radio"><input type="radio" name="answer-17" value="<?php echo $value['id'] ?>" class="result"> <span><?php echo $value['name']; ?></span></label>
                                            </div>
                                            <?php 
                                            } 
                                            ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-data item">
                                    <div class="title">3. Sau khi tham gia khóa học, điều gì khiến anh/chị hài lòng nhất ở khoá học  </div>
                                    <div class="content">
                                        <div class="row">
            						  		<div class="col-sm-12">
                                                <textarea class="form-control" name="answer-20"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-data item">
                                    <div class="title">4.  Anh/chị có thấy giá trị của khóa học tương ứng với mức chi phí và thời gian tham dự khoá học của mình không?</div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6">
                                                <label class="radio"><input type="radio" name="answer-24" value="Yes" class="result"> <span>Yes</span></label>
                                            </div>
                                            <div class="col-md-4 col-xs-6">
                                                <label class="radio"><input type="radio" name="answer-24" value="No" class="result"> <span>No </span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-data item">
                                    <div class="title">5. Anh/chị có muốn tham dự khóa học khác của HBR không?</div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6">
                                                <label class="radio"><input type="radio" name="answer-25" value="Yes" class="result"> <span>Yes</span></label>
                                            </div>
                                            <div class="col-md-4 col-xs-6">
                                                <label class="radio"><input type="radio" name="answer-25" value="No" class="result"> <span>No </span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        		<div class="col-sm-12">
                                    <div class="btnSuccess">
                                        <input type="hidden" name="campaign_code" value="<?php echo $this->arrParams['route']['code'];?>">
                                        <input type="button" onclick="validate();" class="form-control btn-submit" value="Gửi thông tin">
                                    </div>
                                </div>
                        	</div>
                        </div>
                	</div>
                </div>
            </div>
        </div>  
	</form>
    
    <?php
    echo $this -> headScript()
               -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] .'/me.js?v='. date('dmyHis'), 'text/javascript')
               -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->

	<script type="text/javascript">


	$(document).ready(function(){
		$(".box_dangKy .item .content .service").click(function(){
		    $(".item-service").css("display", "block");
		});
		$(".box_dangKy .item .content .material").click(function(){
		    $(".item-material").css("display", "block");
		});
	});

    $( "#input-company_problem .radio:last-child" ).click(function() {
      $( "#input-company_problem label:last-child" ).removeClass("hidden");
    });
    $( ".other" ).click(function() {
      $( ".input-answer_13 label:last-child" ).removeClass("hidden");
    });
    $( ".answer-16 .radio:last-child" ).click(function() {
      $( ".answer-16 label:last-child" ).removeClass("hidden");
    });

    function validate() {
        var error = 0;
        $(".input-data").each(function(){
            if($(this).attr('data-required') != '0') {
                if ($('input', this).attr('type') == 'text') {
                    if ($('input[type=text]', this).val() == '') {
                        $(this).addClass('error');
                        error++;
                    } else {
                        $(this).removeClass('error');
                    }
                }

                /*if ($('select', this).length > 0) {
                    if ($('select option:selected',this).val() == '') {
                        $(this).addClass('error');
                        error++;
                    } else {
                        $(this).removeClass('error');   
                    }
                }*/

                /*if ($('textarea', this).length > 0) {
                    if ($('textarea',this).val() == '') {
                        $(this).addClass('error');
                        error++;
                    } else {
                        $(this).removeClass('error');   
                    }
                }*/

                if ($('input', this).attr('type') == 'radio' || $('input', this).attr('type') == 'checkbox') {
                    if (!$('input[type=radio]',this).is(":checked") && !$('input[type=checkbox]',this).is(":checked")) {
                        $(this).addClass('error');
                        error++;
                    } else {
                        $(this).removeClass('error');
                    }
                }
            }
        });

        if(error > 0) {
            alert('Bạn chưa hoàn thành hết câu hỏi. Vui lòng kiểm tra lại');
            $(".input-data.error:first .form-control, .input-data.error:first input").focus();
        }else{
            successCart();
        }
    }

    function successCart() {
        var idForm = '#frmRegister';
        $.ajax({
            url: 'https://langmaster.vn/erp/api/hbr-contract/survey/',
            type: 'POST',
            data: $(idForm).serialize(),
            beforeSend: function() {
                $('body').append('<div class="page-loading"><div class="loader"></div></div>');
            },
            success: function(result) { 
                $('body .page-loading').remove();
                <?php
                if(!empty($course['video'])) {
                    echo '$(\'body\').html(\'<div class="container"><div style="margin: 50px 0; font-size: 16px; padding: 20px;" class="alert alert-success text-center">“Cảm ơn anh/chị đã tham dự khóa học và hẹn gặp lại anh/chị trong các khóa học tiếp theo.”</div></div>\');';
                } else {
                    echo '$(\'body\').html(\'<div class="container"><div style="margin: 50px 0; font-size: 16px; padding: 20px;" class="alert alert-success text-center">“Cảm ơn anh/chị đã tham dự khóa học và hẹn gặp lại anh/chị trong các khóa học tiếp theo.”</div></div>\');';
                }
                ?>
            }
        });
    }
    
    $.ajax({
        url: 'https://langmaster.vn/erp/api/hbr-contract/survey-again/',
        type: 'POST',
        data: {
            contract_id: '<?php echo $contract['id']?>',
            course_id: '<?php echo $contract['course_id']?>',
        },
        beforeSend: function() {
        },
        success: function(result) {
            result = jQuery.parseJSON(result);
            console.log(result);
            if(result.status == 'oke'){
                $('body form').addClass('hidden');
                <?php
                if(!empty($course['video'])) {
                    echo '$(\'body\').html(\'<div class="container"><div style="margin: 50px 0; font-size: 16px; padding: 20px;" class="alert alert-success text-center">“Cảm ơn anh/chị đã tham dự khóa học và hẹn gặp lại anh/chị trong các khóa học tiếp theo.”</div></div>\');';
                } else {
                    echo '$(\'body\').html(\'<div class="container"><div style="margin: 50px 0; font-size: 16px; padding: 20px;" class="alert alert-success text-center">“Cảm ơn anh/chị đã tham dự khóa học và hẹn gặp lại anh/chị trong các khóa học tiếp theo.”</div></div>\');';
                }
                ?>
            }
        }
    });
    </script>
</body>
</html>