<?php
    $dateFormat = new \ZendX\Functions\Date();

    $myForm = $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_begin'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_end'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_product'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('order')),
        array('element' => $myForm->get('order_by')),
    );
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= '<th>Công cụ</th>';
    $xhtmlHead .= '<th>Số HĐ</th>';
    $xhtmlHead .= '<th>Ngày HĐ</th>';
    if($this->params['ssFilter']['filter_date_type'] == 'date_debt') {
        $xhtmlHead .= '<th>Nộp tiền cuối</th>';
    }
    $xhtmlHead .= '<th>Điện thoại</th>';
    $xhtmlHead .= '<th>Tên khách hàng</th>';
    $xhtmlHead .= '<th>Sản phẩm</th>';
    $xhtmlHead .= '<th>Đơn giá</th>';
    $xhtmlHead .= '<th>Số lượng</th>';
    $xhtmlHead .= '<th>Tổng tiền</th>';
    $xhtmlHead .= '<th>Ưu đãi</th>';
    $xhtmlHead .= '<th>Thành tiền</th>';
    $xhtmlHead .= '<th>Ghi chú</th>';
    $xhtmlHead .= '<th>Người quản lý</th>';
    $xhtmlHead .= '<th>Người tạo</th>';
	$xhtmlHead .= '</tr>';
    
    // Danh sách
    $xhtmlItems = '';
    if($this->items->count() > 0) {
    	$stt = 0;
        foreach ($this->items AS $key => $item) {
        	$stt++;
        	$cid                    = @$this->xFormInput('cid[]', $item->id, array('type' => 'checkbox', 'class' => 'checkboxes'));
        	
        	$id                     = $item->id;
        	$index                  = $item->code;
            $date                   = $dateFormat->formatToView($item->date);
            $contact_phone          = $item->contact_phone;
            $contact_name           = $item->contact_name;
            $price                  = $item->price;
            $price_promotion        = $item->price_promotion;
            $price_total            = $item->price_total;
            $price_paid             = $item->price_paid;
            $price_accrued          = $item->price_accrued;
            $price_owed             = $item->price_owed;
            $product_id             = $item->product_id ? $this->product[$item->product_id]['name'] : '';
            $user_id                = $item->user_id ? $this->user[$item->user_id]['name'] : '';
            $sale_group_id          = $item->sale_group_id ? '<br>'.  $this->sale_group[$item->sale_group_id]['name'] : '';
            $sale_branch_id         = $item->sale_branch_id ? ' - '. $this->sale_branch[$item->sale_branch_id]['name'] : '';
            $created                = $dateFormat->formatToView($item->created, 'd/m/Y H:i:s');
            $created_by             = $this->user[$item->created_by]['name'];
            $sale_group_created_by  = $this->user[$item->created_by]['sale_group_id'] ? '<br>'.  $this->sale_group[$this->user[$item->created_by]['sale_group_id']]['name'] : '';
            $sale_branch_created_by = $this->user[$item->created_by]['sale_branch_id'] ? ' - '.  $this->sale_branch[$this->user[$item->created_by]['sale_branch_id']]['name'] : '';
            
            $options                = $item->options ? unserialize($item['options']) : array();
            $pending                = $item->pending ? unserialize($item['pending']) : array();
            $products               = $options['product'];
            
            if (!empty($products)){
                $product_name       = '';
                $price_product      = '';
                $number             = '';
                $discount           = '';
                $total              = 0;
                foreach ($products AS $product){
                    $product_name       .= ($product['product_id'] ? $this->product[$product['product_id']]['name'] : '').'<br>';
                    $unit               = $product['unit'];
                    $number             .= ($product['numbers']).'</br>';
                    $price_product      .= number_format($product['price']).'<br>';
                    $discount_percent   = $product['discount_percent'];
                    $discount           .= number_format($product['discount']).'<br>';
                    $total              = $product['total'];
                }
            } 

            $color_price_owed       = '';
            if($price_total > 0){
                if(($price_paid / $price_total * 100) < 60) {
                    $color_price_owed   = ' text-red';
                } elseif (($price_paid / $price_total * 100) < 100) {
                    $color_price_owed   = ' text-purple';
                }
            }
            
            // Link Action
            $linkView               = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'view', 'id' => $id));
            $linkEdit               = 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'edit')) .'\', {\'id\': \''. $id .'\'});';
            $linkDelete             = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'delete', 'id' => $id));
            $linkBillAdd            = 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'bill-add')) .'\', {\'id\': \''. $id .'\'});';
            $linkContactEdit        = 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'contact-edit')) .'\', {\'id\': \''. $item['contact_id'] .'\'});';
            
            // Control Action
            $controlView            = $this->linkAdminHtml('javascript:;', array('onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => 'contract', 'action' => 'quick-view')) .'\', {\'id\': \''. $id .'\'});', 'type' => 'icon', 'title' => 'Xem chi tiết', 'class' => 'btn btn-xs blue', 'icon' => 'fa fa-info'));
            $controls               = $controlView;
            
            $xhtmlItems .= '<tr id="tr_'. $id .'" data-id="'. $id .'">
    							<td>'. $cid .'</td>
							    <td class="controls">'. $controls .'</td>
    							<td>'. $index .'</td>
    							<td>'. $date .'</td>
							    '. $bill_date_end .'
    							<td>'. $contact_phone .'</td>
    							<td>'. $contact_name .'</td>
							    <td>'. $product_name .'</td>
    							<td><span class="mask_currency">'. $price_product .'</span></td>
							    <td>'. $number .'</td>
    							<td><span class="mask_currency text-primary">'. number_format($price_total) .'</span></td>
    							<td><span class="mask_currency">'. $discount .'</span></td>
    							<td><span class="mask_currency">'. $total .'</span></td>
    							<td>'. $options['contract_note'] .'</td>
							    <td>'. $user_id . $sale_group_id . $sale_branch_id .'</td>
							    <td>'. $created_by . $sale_group_created_by . $sale_branch_created_by .'</td>
    						</tr>';
        }
    }
    
    // Control
    $arrControl = array(
        array( 'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown' ), 
            'children' => array( 
                array( 'name' => 'export', 'caption' => 'Xuất bản excel', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'export')), 'icon' => 'fa-file-excel-o', 'attributes' => array( 'onclick' => 'javascript:exportList();' ) )
            ), 'children-class' => 'dropdown-menu pull-right' ),
    );
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminFormFilter" id="adminFormFilter" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
    	<div class="row">
    		<?php echo $xhtmlFilter;?>
    	</div>
    </div>
    <div class="page-content">
    	<div class="table-manager" id="table-manager">
    		<div class="table-scrollable">
    			<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<?php echo $xhtmlHead;?>
    				</thead>
    				<tbody>
    					<?php echo $xhtmlItems;?>
    				</tbody>
    			</table>
    		</div>
    		<?php
            	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'options' => $this->params['paginator']['options'])); 
        	?>
    	</div>
	</div>
</form>
