<?php
    $dateFormat = new \ZendX\Functions\Date();
    
    $contact_options = !empty($this->contact['options']) ? unserialize($this->contact['options']) : array();
    $contract_options = !empty($this->item['options']) ? unserialize($this->item['options']) : array();
    $contract_edu_class_ids = !empty($this->item['edu_class_ids']) ? unserialize($this->item['edu_class_ids']) : array();
    $contract_pending = !empty($this->item['pending']) ? unserialize($this->item['pending']) : array();
    
    $arrControl = array(
        array('name' => 'close', 'caption' => 'Quay lại', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-arrow-left', 'attributes' => array('class' => 'btn')),
    );
    
    $color_price_owed = 'text-info';
    if($this->item['price_total'] > 0) {
        if(($this->item['price_paid'] / $this->item['price_total'] * 100) < 60) {
            $color_price_owed   = 'text-red';
        } elseif (($this->item['price_paid'] / $this->item['price_total'] * 100) < 100) {
            $color_price_owed   = 'text-purple';
        }
    }
    
    if(!empty($contract_pending)) {
        $edu_class_info .= '<div class="text-purple text-normal">Chuyển lớp: '. $this->edu_class[$contract_pending['edu_class_move']['edu_class_id']]['name'] .'</div>';
        $edu_class_info .= '<div class="text-purple text-normal">Lý do: '. $contract_pending['edu_class_move']['move_content'] .'</div>';
        $edu_class_info .= '<div class="text-red text-normal">Chờ duyệt</div>';
    }
    
    $elements = array(
        array('section' => 'Thông tin khách hàng', 'boxClass' => 'col-md-12'),
        array('element' => $this->contact['phone'], 'label' => 'Số điện thoại'),
        array('element' => $this->contact['name'], 'label' => 'Họ và tên'),
        array('element' => $this->sex[$this->contact['sex']]['name'], 'label' => 'Giới tính'),
        array('element' => $this->sale_source_group[$this->contact['source_group_id']]['name'], 'label' => 'Nguồn liên hệ'),
        array('element' => $this->location_city[$this->contact['location_city_id']]['name'], 'label' => 'Tỉnh thành'),
        array('element' => $this->location_district[$this->contact['location_district_id']]['name'], 'label' => 'Quận huyện'),
        array('div' => '', 'boxClass' => 'col-md-12'),
        array('element' => $this->contact['email'], 'label' => 'Email'),
        array('element' => $dateFormat->formatToView($this->contact['birthday']), 'label' => 'Ngày sinh'),
        array('element' => $contact_options['address'], 'label' => 'Địa chỉ nơi ở'),
        array('element' => $contact_options['facebook'], 'label' => 'Facebook'),
        array('element' => $this->product_interest[$this->contact['product_id']]['name'], 'label' => 'Sản phẩm quan tâm'),
        array('div' => '', 'boxClass' => 'col-md-12'),
        array('element' => $this->sale_contact_type[$this->contact['type']]['name'], 'label' => 'Phân loại khách hàng'),
        array('element' => $this->sale_contact_subject[$contact_options['subject_id']]['name'], 'label' => 'Đối tượng'),
        array('element' => $this->school[$contact_options['school_id']]['name'], 'label' => 'Trường học'),
        array('element' => $this->major[$contact_options['major_id']]['name'], 'label' => 'Chuyên ngành'),
        array('element' => $contact_options['note'], 'label' => 'Ghi chú', 'boxClass' => 'col-sm-12'),
        array('section' => 'Thông tin người quản lý', 'boxClass' => 'col-md-12'),
        array('element' => $this->user[$this->item['user_id']]['name'], 'label' => 'Người quản lý'),
        array('element' => $this->sale_group[$this->item['sale_group_id']]['name'], 'label' => 'Đội nhóm'),
        array('element' => $this->sale_branch[$this->item['sale_branch_id']]['name'], 'label' => 'Cơ sở'),
        array('section' => 'Thông tin hợp đồng', 'boxClass' => 'col-md-12'),
        array('element' => $dateFormat->formatToView($this->item['created'], 'd/m/Y H:i:s'), 'label' => 'Ngày tạo'),
        array('element' => $dateFormat->formatToView($this->item['date'], 'd/m/Y'), 'label' => 'Ngày hợp đồng'),
        array('element' => $this->product[$this->item['product_id']]['name'], 'label' => 'Sản phẩm'),
        array('element' => $this->edu_class[$this->item['edu_class_id']]['name'] . $edu_class_info, 'label' => 'Lớp học', 'boxClass' => 'col-md-6'),
        array('div' => '', 'boxClass' => 'col-md-12'),
        array('element' => $this->item['price_promotion_percent'], 'label' => 'Giảm theo %', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-orange">'. $this->item['price_promotion_price'] .'</span>', 'label' => 'Giảm theo giá', 'boxClass' => 'col-md-2'),
        array('element' => $contract_options['promotion_content'], 'label' => 'Lý do giảm giá', 'boxClass' => 'col-md-8'),
        array('section' => 'Thông tin thanh toán', 'boxClass' => 'col-md-12'),
        array('element' => '<span class="mask_currency text-info">'. $this->item['price'] .'</span> '. $this->item['price_unit'], 'label' => 'Đơn giá', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-info">'. $this->item['price_promotion'] .'</span>', 'label' => 'Ưu đãi', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-info">'. $this->item['price_total'] .'</span>', 'label' => 'Thành tiền sau ưu đãi', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-purple">'. $this->item['price_paid'] .'</span>', 'label' => 'Đã thanh toán', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-info">'. $this->item['price_accrued'] .'</span>', 'label' => 'Đã chi', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency '. $color_price_owed .'">'. $this->item['price_owed'] .'</span>', 'label' => 'Công nợ', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-info">'. $this->item['price_surcharge'] .'</span>', 'label' => 'Phụ phí', 'boxClass' => 'col-md-2'),
        array('section' => 'Danh sách hóa đơn của hợp đồng', 'boxClass' => 'col-md-12'),
        array('div' => '', 'boxClass' => 'col-md-12', 'boxId' => 'load_bill'),
        array('section' => 'Danh sách vật phẩm đã phát', 'boxClass' => 'col-md-12'),
        array('div' => '', 'boxClass' => 'col-md-12', 'boxId' => 'load_matter'),
        array('section' => 'Danh sách hợp đồng của khách hàng', 'boxClass' => 'col-md-12'),
        array('div' => '', 'boxClass' => 'col-md-12', 'boxId' => 'load_contract', 'boxStyle' => 'margin-bottom: 20px;'),
        array('section' => 'Lịch sử hợp đồng', 'boxClass' => 'col-md-12'),
        array('div' => '<a href="javascript:;" id="btn_load_logs_contract" class="btn btn-sm blue">Nhân vào đây để xem chi tiết</a>', 'boxClass' => 'col-md-12', 'boxId' => 'load_logs_contract', 'boxStyle' => 'margin-bottom: 20px;'),
        array('section' => 'Lịch sử chăm sóc', 'boxClass' => 'col-md-12'),
        array('div' => '<a href="javascript:;" id="btn_load_history" class="btn btn-sm blue">Nhân vào đây để xem chi tiết</a>', 'boxClass' => 'col-md-12', 'boxId' => 'load_history', 'boxStyle' => 'margin-bottom: 20px;'),
        array('section' => 'Lịch sử liên hệ', 'boxClass' => 'col-md-12'),
        array('div' => '<a href="javascript:;" id="btn_load_logs_contact" class="btn btn-sm blue">Nhân vào đây để xem chi tiết</a>', 'boxClass' => 'col-md-12', 'boxId' => 'load_logs_contact', 'boxStyle' => 'margin-bottom: 50px;'),
    );
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-view.phtml', $elements);
?>

<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminForm" id="adminForm" class="">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
	
    <?php echo $this->flashMessenger()->render();?>
	
    <div class="page-content">
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
	</div>
</form>

<?php $this->headScript()->captureStart() ?>
    // Load danh sách hóa đơn của hợp đồng
    load_action('#load_bill', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-bill'));?>', {contract_id: '<?php echo $this->item['id'];?>'});
    
    // Load danh sách vật phẩm đã phát
    load_action('#load_matter', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-matter'));?>', {contract_id: '<?php echo $this->item['id'];?>'});
    
    // Load danh sách hợp đồng
    load_action('#load_contract', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-contract'));?>', {contact_id: '<?php echo $this->item['contact_id'];?>'});
    
    // Load lịch sử chăm sóc
    $('#btn_load_history').click(function() {
    	load_action('#load_history', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-history'));?>', {contact_id: '<?php echo $this->item['contact_id'];?>'});
    });
    
    // Load lịch sử hệ thống hợp đồng
    $('#btn_load_logs_contract').click(function() {
    	load_action('#load_logs_contract', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-logs'));?>', {contact_id: '<?php echo $this->item['contact_id'];?>', contract_id: '<?php echo $this->item['id'];?>', 'box_id': '#load_logs_contract'});
    });
    
    // Load lịch sử hệ thống liên hệ
    $('#btn_load_logs_contact').click(function() {
    	load_action('#load_logs_contact', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-logs'));?>', {contact_id: '<?php echo $this->item['contact_id'];?>', contract_id: '', 'box_id': '#load_logs_contact'});
    });
<?php $this->headScript()->captureEnd() ?>