
<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/slick.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <div class="box_header" id="box_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><a href="" class="logo"><img src="<?php echo $urlImg;?>/logo.png"></a></div>
                <div class="col-md-10">
                    <div class="clr"></div>
                    <ul class="menu hidden-xs hidden-sm">
                        <li><a href="javascript:;" class="go_box" data-box="box_gioiThieu">GIỚI THIỆU</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_thongTin"> thông tin khóa học</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_noiDungKhoaHoc">nội dung</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_aiNen">đối tượng tham gia</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_dienGia">diễn giả</a></li>
                        <li><a href="javascript:;" class="go_box btn_book" data-box="box_dangKy">Đăng ký ngay</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <a href="javascript:;">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="box_banner" id="box_banner">
        <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>
    </div>

    <div class="box_gioiThieu" id="box_gioiThieu">
        <div class="container">
            <div class="col-md-8">
                <div class="text">
                    <div class=""><b>“Tôi có một công việc thuộc vào loại tốt nhất thế giới. Tôi đi khắp đó đây, quan sát các công ty hoạt động, qua đó tìm kiếm các công ty được xây dựng đúng cách – tức là tập trung vào khách hàng, tạo nên văn hóa công ty lấy hiệu quả làm căn cứ và lấy con người làm trung tâm.</b></div>
                    <div class="">Tại sao việc hướng đến khách hàng lại quan trọng như vậy? Bởi vì cho dù bạn bán thứ gì, pizza hay các dịch vụ chuyên nghiệp, đối tượng kinh doanh vẫn không phải là bản thân bạn, mà là những người bạn đang phục vụ. Xây dựng hướng đi đúng là một hành trình dài không ngừng nghỉ. Tôi luôn tìm kiếm những công ty đang cố gắng đi đúng hướng, và mỗi khi tìm thấy một công ty đang trên cuộc hành trình đó, tôi cảm thấy rất phấn khích”.</div>
                    <div class=""><img src="<?php echo $urlImg;?>/gioithieu_tacgia.png"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img src="<?php echo $urlImg;?>/gioithieu_1.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="box_quote" id="box_quote">
        <div class="center slider">
            <div>
                <img src="<?php echo $urlImg;?>/quuote-1.jpg">
            </div>
            <div>
                <img src="<?php echo $urlImg;?>/quuote-2.jpg">
            </div>
            <div>
                <img src="<?php echo $urlImg;?>/quuote-3.jpg">
            </div>
            <div>
                <img src="<?php echo $urlImg;?>/quuote-4.jpg">
            </div>
        </div>
    </div>

    <div class="box_nghienCuu" id="box_nghienCuu">
        <div class="container">
            <div class="box_title"><img src="<?php echo $urlImg;?>/title-1.png"></div>
            <div class="box_content">
                Việc xây dựng và phát triển dịch vụ chăm sóc khách hàng chuyên nghiệp luôn là vấn đề sống còn đối với mọi công ty, tổ chức, đặc biệt là trong bối cảnh siêu cạnh tranh khốc liệt như thời đại cách mạng công nghiệp 4.0. Thấu hiểu điều này, <b>Trường doanh nhân HBR</b> phối hợp cùng <b>TS Lê Thẩm Dương</b> nghiên cứu, thiết kế và triển khai khóa học nhằm truyền đạt hệ thống kiến thức khoa học, kèm với các công cụ quan trọng & các kỹ năng cần thiết giúp các nhà lãnh đạo ở mọi vị trí có thể phát triển các kỹ năng quản lý nhân viên và thu hút khách hàng một cách hiệu quả.
            </div>
        </div>
    </div>

    <div class="box_thongTin" id="box_thongTin">
        <div class="container">
            <div class="box_title">
                <div class="title_1">KHÓA HỌC</div>
                <div class="title_2">
                    <p class="item-1">DỊCH VỤ CHĂM SÓC KHÁCH HÀNG CHUYÊN NGHIỆP</p>
                </div>
            </div>
            <div class="box_content">
                <div class="info">
                    <div class="item">
                        <div class="key">HÀ NỘI</div>
                        <div class="value">20 & 21/10/2018</div>
                    </div>
                    <div class="item">
                        <div class="key">HỒ CHÍ MINH</div>
                        <div class="value">10-11/11/2018<br>Địa chỉ: Khách sạn Athena 280 Tô Hiến Thành Phường 15 Quận 10 HCM</div>
                    </div>
                    <div class="item">
                        <div class="key">CHUYÊN GIA</div>
                        <div class="value"> TS LÊ THẨM DƯƠNG  - CHUYÊN GIA CỐ VẤN QUẢN TRỊ DOANH NGHIỆP</div>
                    </div>
                    <div class="item">
                        <div class="key">HỌC PHÍ</div>
                        <div class="value">5.000.000đ</div>
                    </div>
                    <div class="item">
                        <div class="key">ƯU ĐÃI</div>
                        <div class="value">
                            <p class="item">ƯU ĐÃI ƯU ĐÃI LỚN KHI ĐĂNG KÝ THEO NHÓM VÀ TRƯỚC NGÀY 1/10/2018</p>
                            <p class="item">1 VÉ: 4.250.000Đ/ HỌC VIÊN</p>
                            <p class="item">2 - 5 VÉ: 4.000.000Đ/ HỌC VIÊN</p>
                            <p class="item">HỌC VIÊN CŨ VUI LÒNG LIÊN HỆ HOTLINE ĐỂ NHẬN ƯU ĐÃI RIÊNG.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="key">HOTLINE</div>
                        <div class="value">082.999.6886 Hoặc 082.999.6633</div>
                    </div>
                    <div class="item">
                        <div class="key"></div>
                        <div class="value btn_book">
                            <a href="javascript:;" class="go_box" data-box="box_dangKy">ĐĂNG KÝ NGAY</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="box_loiich" id="box_loiIch">
        <div class="box_content">
            <div class="box_left">
            </div>
            <div class="box_right">
                <div class="box_info">
                    <div class="title">LỢI ÍCH KHÓA ĐÀO TẠO</div>
                    <div class="list">
                        <div class="item">Nắm vững kiến thức nền tảng trong việc xây dựng dịch vụ chăm sóc khách hàng</div>
                        <div class="item">Sử dụng thành thạo các công cụ để phát triển dịch vụ chăm sóc khách hàng chuyên nghiệp</div>
                        <div class="item">Hiểu rõ cách thức áp dụng vào thực tiễn doanh nghiệp Việt Nam</div>
                        <div class="item">Tháo gỡ vướng mắc, tư vấn chiến lược xây dựng dịch vụ chăm sóc khách hàng cho các nhà lãnh đạo & doanh nghiệp</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_loiich -->
    
    <div class="box_noiDungKhoaHoc" id="box_noiDungKhoaHoc">
        <div class="box_title">Nội dung khóa học</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 left">
                    <div class="box">
                        <div class="title">Phần 1: Tầm nhìn và mục tiêu đúng</div>
                        <div class="item">Quan tâm đến khách hàng: Tạo nên sự lựa chọn của khách hàng.</div>
                        <div class="item">Tạo môi trường có động lực cho nhân viên: Tạo nên sự lựa chọn của người tìm việc.</div>
                        <div class="item">Nâng cao hiệu quả tài chính: Tạo nên sự lựa chọn của nhà đầu tư.</div>
                        <div class="item">Xác định tầm nhìn thuyết phục cho công ty.</div>
                    </div>
                    <div class="box">
                        <div class="title">Phần 3: Đối xử với nhân viên đúng cách</div>
                        <div class="item">Tuyển dụng nhân sự: Lựa chọn đúng người cần thiết.</div>
                        <div class="item">Huấn luyện và phát triển: Giúp nhân viên có khởi đầu tốt để phát triển.</div>
                        <div class="item">Quản lý hiệu suất công việc: Xây dựng hệ thống và quy trình, ghi nhận và khen thưởng.</div>
                        <div class="item">Định hướng nghề nghiệp: Cho nhân viên cơ hội phát triển liên tục.</div>
                    </div>
                </div>
                <div class="col-sm-6 right">
                    <div class="box">
                        <div class="title">Phần 2: Đối xử với khách hàng đúng cách</div>
                        <div class="item">Xác định những ấn tượng và trải nghiệm mà bạn muốn tạo ra cho khách hàng.</div>
                        <div class="item">Lắng nghe ý kiến của khách hàng.</div>
                        <div class="item">Hiện thực hóa tầm nhìn dịch vụ khách hàng.</div>
                    </div>
                    <div class="box">
                        <div class="title">Phần 4: Phương thức lãnh đạo đúng đắn</div>
                        <div class="item">Xác định phong cách lãnh đạo chuẩn mực.</div>
                        <div class="item">Xác định tầm nhìn, phương hướng và thực hiện.</div>
                    </div>
                    <div class="box">
                        <div class="title">Phần 5: Những trở ngại lớn và bí mật thúc đẩy văn hóa “Đam mê khách hàng</div>
                        <div class="item">Phát triển đội ngũ nhân viên có niềm đam mê và gắn bó.</div>
                        <div class="item">Làm việc như một thể thống nhất trên toàn hệ thống.</div>
                        <div class="item">Hành động: Cam kết và thực hiện chiến lược hằng ngày.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_noiDung -->
    
    <div class="box_aiNen" id="box_aiNen">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <div class="content">
                        <div class="title">Ai nên tham gia</div>
                        <p class="item">Ban lãnh đạo doanh nghiệp: Chủ tịch, Thành viên HĐQT, Ban cố vấn doanh nghiệp.</p>
                        <p class="item">Ban giám đốc: Tổng GĐ, GĐ chức năng.</p>
                        <p class="item">Trưởng phòng ban, bộ phận, đội nhóm… của các công ty trong và ngoài nước.</p>
                        <p class="item">Nhân sự làm việc trực tiếp tại các bộ phận nghiên cứu sản phẩm, sản xuất, chăm sóc khách hàng, dịch vụ, marketing và bán hàng trong công ty. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="box_dienGia" id="box_dienGia">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="content">
                        <div class="box_title">
                            <div class="title_1">TS. LÊ THẨM DƯƠNG</div>
                        </div>
                        <div class="box_content">
                            <p class="item">Là một trong những cố vấn của Thống đốc ngân hàng nhà nước Việt Nam, khách mời thường xuyên của chương trình CEO chìa khóa thành công VTV1. Chuyên gia tư vấn quản trị cho rất nhiều tập đoàn và doanh nghiệp vừa và nhỏ trong và ngoài nước.</p>
                            <p class="item">Khách mời, chủ toạ thường xuyên của các diễn đàn cấp quốc gia và khu vực như diễn đàn “Triển vọng kinh tế, tìm vốn cho doanh nghiệp vừa và nhỏ, Thị trường chứng khoán Việt Nam qua từng giai đoạn, các giải pháp hạn chế lạm phát.</p>
                            <p class="item">Trực tiếp giảng dạy tại các NH BIDV, Nông nghiệp & Phát triển Nông thôn, Công thương Việt Nam, Ngoại thương Việt Nam – với số lượng lớn các chi nhánh và các ngân hàng cổ phần, dầu khí, Nam Á, Á Châu, Việt Á.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_dienGia -->

    <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">    
        <div class="box_dangKy" id="box_dangKy">
            <div class="container">
                 <div class="col-md-6 col-sm-12">
                     <div class="title_1">ƯU ĐÃI ĐẶC BIỆT</div>
                     <div class="uudai">
                            <div class="text">Ưu đãi khi đăng ký khóa học trước ngày 01/10/2018</div>
                            <div class="box_content">
                                <p class="text_1"></p>
                                <div class="table">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td>01 vé : 4.250.000đ/ Học viên</td>
                                        </tr>
                                        <tr>
                                            <td>2 - 5 VÉ: 4.000.000Đ/ HỌC VIÊN</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="text_2">Học viên cũ và đăng ký theo nhóm vui lòng liên hệ Hotline : <b>082.999.6886 Hoặc 082.999.6633</b> để nhận ưu đãi và hỗ trợ riêng.  </p>
                            </div>
                        </div>
                 </div>
                 <div class="col-md-6 col-sm-12">
                     <div class="dangKy">
                         <div class="box_title">ĐĂNG KÝ THAM DỰ <br>KHÓA ĐÀO TẠO</div>
                         <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" id="input-location_city_id">
                                    <select name="location_city_id" class="form-control">
                                        <option value=""  selected="selected">Chọn địa điểm tham gia</option>
                                        <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                        <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                    </select>
                                 </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" id="input-name">
                                    <input name="name" type="text" class="form-control" placeholder="Họ và tên">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-email">
                                    <input name="email" type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-phone">
                                    <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" id="input-company_name">
                                    <input name="company_name" type="text" class="form-control" placeholder="Công ty">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group" id="input-number">
                                    <input name="number" type="number" class="go_box form-control" placeholder="Số vé" min="0">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="input-price">
                                    <input name="price" type="text" class="form-control mask_currency" placeholder="Học phí" readonly>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <?php
                                    $company_problem = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-problem" )), array('task' => 'cache'));
                                ?>
                                <div class="form-group" id="input-company_problem">
                                    <select name="company_problem[]" class="selectpicker form-control" multiple data-selected-text-format="count > 4" title="Vấn đề các anh/Chị đang gặp phải.">
                                        <?php
                                            foreach ($company_problem AS $value) {
                                                $id     = $value['id'];
                                                $name   = $value['name'];
                                        ?>  
                                        <option class="company_problem" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                        <?php } ?>
                                    </select> 
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" id="input-content">
                                    <input name="content" type="text" class="form-control" placeholder="Anh/Chị vui lòng mô tả chi tiết vấn đề của mình">
                                </div>
                            </div>                        
                            <div class="col-sm-12">
                                <div class="btnSuccess">
                                    <input type="hidden" name="form_id" value="<?php echo $item['form_id'];?>">
                                    <input type="hidden" name="type" value="form">
                                    <input type="hidden" name="source" value="landing_page">
                                    <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                    <input type="button" onclick="javascript:formRegisterCRM('frmRegister');" class="input-lg btn-blue" value="Đăng ký ngay">
                                </div>
                            </div>
                        </div>
                     </div>
                 </div>
            </div>
        </div>
    </form>
    <!-- end box_dangKy -->
    
    <div class="box_thanhToan" id="box_thanhToan">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="thanhToan">
                        <div class="box_title">THÔNG TIN TÀI KHOẢN</div>
                        <div class="box_content">
                            <div class="item">
                                <div class="item_title"><b>1. Chuyển khoản</b></div>
                                <div class="item_detail">
                                    Vui lòng liên hệ Hotline <span>082.999.6886</span> hoặc <span>082.999.6633</span> để được tư vấn rõ hơn.
                                </div>
                            </div>
                            <div class="item">
                                <p class="item_title"><b>2. Nộp tiền mặt trực tiếp</b></p>
                                <p class="item_detail">Tại văn phòng của Langmaster, tầng 15 tòa nhà CTM Complex, số 139 Cầu Giấy, Hà Nội.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="dangKy">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0066982756643!2d105.79666931548647!3d21.032417985996346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab46d9c86b9b%3A0x4879c19d8ad4be47!2zMTM5IEPhuqd1IEdp4bqleSwgUXVhbiBIb2EsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1516414158828" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_thanhtoan -->

    <div class="box_comment">
        <div class="container">
            <div class="fb-comments" data-href="" data-width="100%" data-numposts="10" data-order-by="reverse_time"></div>
        </div>
    </div>

    <div class="box_images">
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-5.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-6.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-7.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-8.jpg"></div></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-9.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-10.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-11.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-12.jpg"></div></td>
            </tr>
        </table>
    </div>
    
    <?php
    echo $this -> headScript()
               -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] .'/me.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/slick.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->
    
    
    <script type="text/javascript">
    // Hiệu ứng text các box
    if ($(window).width() > 991) {
        $('.box_thongTin .box_content .info .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp2 animated-2s fadeInUp');}
        });
        $('.box_noiDung .my_panel').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-3s fadeInUp');}
        });
        $('.box_muctieu .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
        });

        $('.box_doituong .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
        });
    }

	// slide
    $(document).ready(function() {
        var maxSlides = 3;
        var slideWidth = 368; 
        if ($(window).width() < 800) {
            maxSlides = 1;
            slideWidth = 0;
        }
        $('#bxslider').show();
        $('#bxslider').bxSlider({
            auto: false,
            autoControls: false,
            minSlides: 1,
            maxSlides: maxSlides,
            moveSlides: 1,
            slideWidth: slideWidth,
            slideMargin: 48,
            adaptiveHeight: true,
            responsive: true
        });
    });

    $(document).on('ready', function() {
        $('#box_quote .center').slick({
            dots: true,
            infinite: true,
            speed: 500,
            slidesToShow: 1,
            adaptiveHeight: true,
            fade: true,
            cssEase: 'linear'
        });
    });

    $('.mask_currency').autoNumeric("init",{
        mDec: 0,
        aSep: '.',
        aDec: ',', 
    });

    $('input[type="number"]').bind('keyup change', function(){
        var price = parseInt($(this).val()) * 4250000;
        if($(this).val() >= 2) {
            price = parseInt($(this).val()) * 4000000;
        }
        $(".mask_currency").autoNumeric("set", price);
    });   
    </script>
</body>
</html>
