<?php
    $dateFormat = new \ZendX\Functions\Date();
    $boxLink    = $this->url('routePostItem', array('category_alias' => $this->category['alias'], 'alias' => $this->item['alias']), array('force_canonical' => true));
    $boxName    = $this->item['name'];
?>
<div class="box_module detail padding">
	<div class="box_title"><h1 class="title"><a href="<?php echo $boxLink;?>" title="<?php echo $boxName;?>"><?php echo $boxName;?></a></h1></div>
	<div class="box_content">
	    <div class="layout_item_default">
            <?php echo htmlspecialchars_decode($this->item['content']); ?>
            <?php echo $this->blkDocument($this->arrParams, 'ads-slideshow', array('cache' => true));?>
		</div>
	</div>
</div>
<div class="box_module detail padding">
	<div class="box_title"><h3 class="title">Gửi yêu cầu tư vấn</h3></div>
	<div class="box_content">
	    <div class="layout_item_default">
            <form action="#" id="frmContact" name="frmContact" method="POST" class="">
                <div class="box_contact">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" id="input-name">
                                <input type="text" name="name" class="form-control" placeholder="Họ và tên">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" id="input-phone">
                                <input type="text" name="phone" class="form-control" placeholder="Điện thoại">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" id="input-email">
                                <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" id="input-address">
                                <input type="text" name="address" class="form-control" placeholder="Địa chỉ">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" id="input-company">
                                <input type="text" name="company" class="form-control" placeholder="Tên công ty">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" id="input-option">
                                <input type="text" name="option" class="form-control" placeholder="Chức vụ">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" id="input-content">
                                <textarea name="content" class="form-control" style="height: 100px;" placeholder="Nội dung"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="btnSuccess">
                                <input type="hidden" name="form_id" value="1515941870-0gzi-5p71-u450-980u51460lcf">
                                <input type="button" onclick="javascript:formRegister('frmContact');" value="Gửi thông tin" class="btn btn-lg btn-default submit">
                            </div>
                        </div>
                    </div>  
            	</div>
            </form> 
		</div>
	</div>
</div>