<?php
    $dateFormat = new \ZendX\Functions\Date();
    $city 		= $this->getHelperPluginManager()->getServiceLocator()->get('Admin\Model\DocumentTable')->listItem(array('where' => array('code' => 'city')), array('task' => 'cache'));
    
    $boxLink    = $this->url('routePostItem', array('category_alias' => $this->category['alias'], 'alias' => $this->item['alias']), array('force_canonical' => true));
    $boxName    = $this->item['name'];
?>
<div class="row">
	<div class="col-sm-9 detail_course_left">
		<div class="box_module detail_course">
			<?php
        	if(!empty($this->item['image_cover'])) {
        	    echo '<div class="banner_cover"><img alt="Cover" src="'. $this->item['image_cover'] .'"></div>';
        	}
        	?>
        	<div class="box_title"><h2 class="title font-title">Giới thiệu khóa học</h2></div>
        	<div class="box_content">
        	    <div class="layout_item_default detail_course">
                    <?php echo htmlspecialchars_decode($this->item['content']); ?>
        		</div>
        	</div>
        </div>
        <?php
        if(!empty($this->item['course_target'])) {
        ?>
        <div class="box_module detail_course">
        	<div class="box_title"><h2 class="title font-title">Mục tiêu khóa học</h2></div>
        	<div class="box_content">
        	    <div class="layout_item_default detail_course">
                    <?php echo htmlspecialchars_decode($this->item['course_target']); ?>
        		</div>
        	</div>
        </div>
        <?php
        }
        ?>
        <?php
        if(!empty($this->item['course_content'])) {
        ?>
        <div class="box_module detail_course">
        	<div class="box_title"><h2 class="title font-title">Nội dung khóa học</h2></div>
        	<div class="box_content">
        	    <div class="layout_item_default detail_course">
                    <?php echo htmlspecialchars_decode($this->item['course_content']); ?>
        		</div>
        	</div>
        </div>
        <?php
        }
        ?>
        <div class="box_module detail_course">
        	<div class="box_title"><h3 class="title font-title">Đăng ký ngay</h3></div>
        	<div class="box_content">
        	    <div class="layout_item_default">
                    <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">
                        <div class="box_contact">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group" id="input-name">
                                        <input type="text" name="name" class="form-control" placeholder="Họ và tên">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" id="input-phone">
                                        <input type="text" name="phone" class="form-control" placeholder="Điện thoại">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" id="input-email">
                                        <input type="text" name="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" id="input-address">
                                        <input type="text" name="address" class="form-control" placeholder="Địa chỉ">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" id="input-company">
                                        <input type="text" name="company" class="form-control" placeholder="Tên công ty">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" id="input-option">
                                        <input type="text" name="option" class="form-control" placeholder="Chức vụ">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" id="input-number">
                                        <input type="number" name="number" class="form-control" placeholder="Số lượng vé" min="1" max="100">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="btnSuccess">
                                        <input type="hidden" name="course" value="<?php echo $this->item['id'];?>">
                                        <input type="hidden" name="form_id" value="1515946222-4bju-07m0-73d6-13n8dao92e00">
                                        <input type="button" onclick="javascript:formRegister('frmRegister');" value="Đăng ký khóa học" class="form-control submit">
                                    </div>
                                </div>
                            </div>  
                    	</div>
                    </form> 
        		</div>
        	</div>
        </div>
        
        <div class="box_module" style="margin: 0 -8px 50px;">
        	<div class="box_content">
        		<div class="fb-comments" data-href="" data-width="100%" data-numposts="5" order_by="reverse_time"></div>
        	</div>
        </div>
        
        <?php
        if(count($this->itemInvolve) > 0) { 
        ?>
        <div class="box_module detail_course">
            <div class="box_title"><div class="title font-title">Khóa học khác</div></div>
        	<div class="box_content">
        		<div class="layout_category_course involve">
        			<div class="row">
                    <?php
                    foreach ($this->itemInvolve AS $key => $item){
                        $item_url       = $item['meta_url'] ? $item['meta_url'] : $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                            
                        $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                        $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                        $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                        $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                        $image_cover    = $item['image_cover'] ? '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_cover'] .'" alt="'. $item['name'] .'"></a>' : $image_medium;
                        $description    = nl2br($item['description']);
                        $course_price	= $item['course_price'] ? '<span class="text"><i class="fa fa-tag" aria-hidden="true"></i> <span class="mask_currency">'. number_format($item['course_price'], 0, ",", ".") .'</span>đ</span>' : '';
                        $course_city	= $item['course_city_id'] ? '<span class="city"><i class="fa fa-paper-plane" aria-hidden="true"></i> '. $this->city[$item['course_city_id']]['name'] .'</span>' : '';
                        $course_address	= $item['course_address'] ? '<span class="address"> | '. $item['course_address'] .'</span>' : '';
                        $course_date	= $item['course_date'] ? '<span class="date"><i class="fa fa-hourglass-half" aria-hidden="true"></i> '. $dateFormat->formatToView($item['course_date']) .'</span>' : '';
                        $course_teacher	= $item['course_teacher_id'] ? $this->teacher[$item['course_teacher_id']]['name'] : '';
                        echo '<div class="col-sm-4">
                                <div class="item clearfix">
                                    <div class="image">'. $image_cover .'</div>
                                    <div class="font-title speakers">'. $course_teacher .'</div>
                                    <div class="info">
                                        <h2 class="title">'. $name .'</h2>
                                        <div class="location clearfix">
                                            '. $course_date . $course_city .'
                                        </div>
                                    </div>
                                </div>
                            </div>';
                    } 
                    ?>
                    </div>
                </div>
        	</div>
        </div>
        <?php
        } 
        ?>
	</div>
	<div class="col-sm-3 detail_course_right">
		<div class="box_courseInfo" id="box_courseInfo">
			<div class="box_title"><h1 class="title font-title"><a href="<?php echo $boxLink;?>" title="<?php echo $boxName;?>"><?php echo $boxName;?></a></h1></div>
			<div class="box_content">
				<?php
				if(!empty($this->item['course_option'])) { 
					$course_option = unserialize($this->item['course_option']);
					foreach ($course_option AS $key => $value) {
				?>
				<div class="item location">
					<div class="title"><?php echo $city[$key]['name'];?></div>
					<?php
					echo '<div class="time"><i class="fa fa-bell" aria-hidden="true"></i> '. $value['time'] .', ngày '. $value['date'] .'</div>';
					echo '<div class="address"><i class="fa fa-paper-plane" aria-hidden="true"></i> '. $value['address'] .'</div>';
					?>
				</div>
				<?php
					}
				} 
				?>
				<?php
				$course_teacher = '';
				if(!empty($this->item['course_teacher_id'])) {
				    $course_teacher = $this->getHelperPluginManager()->getServiceLocator()->get('Admin\Model\DocumentTable')->getItem(array('id' => $this->item['course_teacher_id']));
				    echo '<div class="item teacher"><i class="fa fa-user-plus" aria-hidden="true"></i> '. $course_teacher['name'] .'</div>';
				}
				if(!empty($this->item['course_price'])) {
				    echo '<div class="item price"><i class="fa fa-tag" aria-hidden="true"></i> '. number_format($this->item['course_price'], 0, ",", ".") .'đ</div>';
				}
				?>
				<div class="btn_register"><a href="javascript:;">Đăng ký khóa học</a></div>
			</div>
		</div>
		<?php
		if(!empty($course_teacher)) {
		?>
		<div class="box_teacherInfo" id="box_teacherInfo">
			<div class="box_title"><h2 class="title font-title">Giới thiệu chuyên gia</h2></div>
			<div class="box_content">
				<div class="info clearfix">
					<div class="avatar"><div class="image"><img alt="" src="<?php echo $course_teacher['image'];?>"></div></div>
					<div class="name"><span><?php echo $course_teacher['name'];?></span></div>
				</div>
				<div class="description"><?php echo nl2br($course_teacher['description']);?></div>
			</div>
		</div>
		<?php
		}
		?>
	</div>
</div>
<?php $this->headScript()->captureStart() ?>
    $( document ).ready(function() {
    	$('#box_courseInfo .btn_register a').click(function() {
            $('html,body').animate({
                scrollTop: $("#frmRegister").offset().top - 60
            }, 'slow');
    	});
    });
<?php $this->headScript()->captureEnd() ?>