<?php
    $boxLink = $this->url('routePostItem', array('category_alias' => $this->category['alias'], 'category_index' => $this->category['index'], 'alias' => $this->item['alias'], 'index' => $this->item['index']), array('force_canonical' => true));
    $boxName = $this->item['name']; 
?>
<div class="box_module detail">
	<div class="box_title"><h1 class="title"><a href="<?php echo $boxLink;?>" title="<?php echo $boxName;?>"><?php echo $boxName;?></a></h1></div>
	<div class="box_content">
	    <div class="layout_item_gallery">
		<?php
		if(!empty($this->item['content'])) {
		    echo htmlspecialchars_decode($this->item['content']);
		}
		
        if(!empty($this->item['images'])) {
            $images = unserialize($this->item['images']);
            
            $xhtml  = '<div class="row">';
            
            for ($i = 0; $i < count($images['url']); $i++) {
                $name           = '<a href="javascript:;" title="'. $images['name'][$i] .'">'. $images['name'][$i] .'</a>';
                $image          = '<a href="'. $images['url'][$i] .'" class="fancybox-button" data-rel="fancybox-button" title="'. $boxName .' - Ảnh '. $i .'"><img src="'. $images['url'][$i] .'" alt="'. $boxName .' - Ảnh '. $i .'"></a>';
                $image_medium   = '<a href="'. $images['url'][$i] .'" class="fancybox-button" data-rel="fancybox-button" title="'. $boxName .' - Ảnh '. $i .'"><img src="'. $images['medium'][$i] .'" alt="'. $boxName .' - Ảnh '. $i .'"></a>';
                $image_thumb    = '<a href="'. $images['url'][$i] .'" class="fancybox-button" data-rel="fancybox-button" title="'. $boxName .' - Ảnh '. $i .'"><img src="'. $images['thumb'][$i] .'" alt="'. $boxName .' - Ảnh '. $i .'"></a>';
            
                if($i == 0) {
                    $image_medium = $image;
                }
                $xhtml .= '<div class="col-xs-6 col-sm-3">
                            <div class="item"><div class="image">'. $image_medium .'</div></div>
                        </div>';
            }
            
            $xhtml .= '</div>';
            
            echo $xhtml;
        }
		?>
		</div>
	</div>
</div>

<?php
if(count($this->itemInvolve) > 0) { 
?>
<div class="box_module detail">
	<div class="box_title"><div class="title">Album khác</div></div>
	<div class="box_content">
	    <div class="layout_category_gallery involve">
	        <div class="row">
            <?php
            foreach ($this->itemInvolve AS $key => $item) {
                $item_url       = $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'category_index' => $item['category_index'], 'alias' => $item['alias'], 'index' => $item['index']));
        
                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                $images         = $item['images'] ? unserialize($item['images']) : array('url' => array());
                $description    = nl2br($item['description']);
        
                echo '<div class="col-xs-6 col-sm-2">
                        <div class="item">
                            <div class="image">'. $image_thumb .'</div>
                            <div class="info">
                                <h3 class="title">'. $name .'</h3>
                                <div class="count">'. count($images['url']) .' Hình ảnh</div>
                            </div>
                        </div>
                    </div>';
            }
            ?>
            </div>
        </div>
	</div>
</div>
<?php
    } 
?>
