<?php
    $boxLink = $this->url('routePostItem', array('category_alias' => $this->category['alias'], 'category_index' => $this->category['index'], 'alias' => $this->item['alias'], 'index' => $this->item['index']), array('force_canonical' => true));
    $boxName = $this->item['name']; 
?>
<div class="box_module">
	<div class="box_content">
	    <div class="layout_item_product">
    		<?php
            $hotline_edumart = $settings['General.System.HotlineEdumart']['value'];
    		$cart_url       = $this->url('routePost/default', array( 'controller' => 'product', 'action' => 'cart'));
    		$add_cart_url   = $this->url('routePost/default', array( 'controller' => 'product', 'action' => 'add-cart', 'id' => $this->item['id']));
            $image          = $this->item['image'];
            $image_thumb    = $this->item['image_thumb'];
            $images         = $this->item['images'] ? unserialize($this->item['images']) : '';
            $description    = nl2br($this->item['description']);
            
            // Xử lý Giá bán
    		$price			= '';
            if(!empty($this->item['product_price'])) {
            	if(!empty($this->item['product_sale_percent'])) {
            		$price	= $this->item['product_price'] - ($this->item['product_sale_percent'] / 100 * $this->item['product_price']);
            		$price	= '<span class="value"><span class="mask_currency">'. $price .'</span>đ</span> <span class="old"><span class="mask_currency">'. $this->item['product_price'] .'</span>đ</span>';
            	} else {
            		$price	= '<span class="value"><span class="mask_currency">'. $this->item['product_price'] .'</span>đ</span>';
            	}
            }
    		?>
		    <div class="detail-product clearfix" id="detail-product">
                <div class="images clearfix">
                    <div class="thumbs">
                        <div class="item"><a href="javascript:;" data-zoom-image="<?php echo $image;?>" class="active"><img src="<?php echo $image;?>"></a></div>
                        <?php
                        if(!empty($images)) {
                            for ($i = 0; $i < count($images['url']); $i++) { 
                        ?>
                        <div class="item"><a href="javascript:;" data-zoom-image="<?php echo $images['url'][$i];?>"><img src="<?php echo $images['url'][$i];?>"></a></div>
                        <?php
                            } 
                        }
                        ?>
                    </div>
                    <div class="image"><a class="fancybox-button" rel="zoom_1" href="<?php echo $image;?>"><img src="<?php echo $image;?>" alt="<?php echo $boxName;?>"><span class="zoom"></span></a></div>
                </div>
                <div class="information">
                	<form name="frmCart" id="frmCart" action="" method="post" class="form-inline">
                        <h1 class="title"><?php echo $boxName;?></h1>
                        <div class="status">Còn hàng</div>
                        <?php
                        if(!empty($price)) { 
                        ?>
                        <div class="item">
                            <div class="form-group">
                                <div class="price"><?php echo $price;?></div>
                            </div>
                        </div>
                        <?php
                        } 
                        ?>
                        <div class="number">
                            <div class="form-group">
                                <label class="control-label">Số lượng</label>
                                <div class="control-input">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="number" id="number" value="01">
                                        <span class="input-group-addon">
                                            <span class="top">+</span>
                                            <span class="buttom">-</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                      	</div>
                      	<div class="add_cart">
                        	<a href="javascript:;" onclick="javascript:addCart();" id="btnAddCart"><span>Đặt mua ngay</span></a>
                    	</div>
                        <?php echo '<div class="hotline_edumart text-center">Hotline mua sách: <a href="tel:'. str_replace('.', '', $hotline_edumart) .'">'. $hotline_edumart .'</a></div>';?>
					</form>
                </div>
            </div>
            <?php
            if(!empty($this->item['content'])) { 
            ?>
            <div class="content">
                <div class="content_title">Thông tin</div>
                <div class="content_text">
                    <?php echo htmlspecialchars_decode($this->item['content']);?>
                </div>
            </div>
            <?php
            } 
            ?>
            <div class="content">
                <div class="content_title">Bình luận</div>
                <div class="content_text">
                    <div class="fb-comments" data-numposts="5" data-width="100%" data-mobile="true" data-order-by="reverse_time"></div>
                </div>
            </div>
		</div>
	</div>
</div>

<?php
if(count($this->itemInvolve) > 0) { 
?>
<div class="box_module detail">
	<div class="box_title"><div class="title">Sản phẩm khác</div></div>
	<div class="box_content">
	    <div class="layout_category_product">
	    	<div class="productGrid clearfix">
            <?php
            foreach ($this->itemInvolve AS $key => $item) {
                $item_url       = $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                $order_url      = $this->url('routePost/default', array( 'controller' => 'product', 'action' => 'add-cart', 'id' => $item['id']));
                
                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                $description    = nl2br($item['description']);
                $product_year   = $item['product_year'] ? '<div class="public">Sản xuất: '. $item['product_year'] .'</div>' : '';
                $price			= '';
                if(!empty($item['product_price'])) {
                    if(!empty($item['product_sale_percent'])) {
                        $price	= $item['product_price'] - ($item['product_sale_percent'] / 100 * $item['product_price']);
                        $price	= '<div class="price"><span class="value"><span class="mask_currency">'. $price .'</span>đ</span> <span class="old"><span class="mask_currency">'. $item['product_price'] .' </span>đ</span></div>';
                    } else {
                        $price	= '<div class="price"><span class="value"><span class="mask_currency">'. $item['product_price'] .'</span>đ</span></div>';
                    }
                }
                
                echo '<div class="item">
                            <div class="image">
                                <a href="'. $item_url .'" title="'. $item['name'] .'">
                                    <img src="'. $item['image'] .'" alt="'. $item['name'] .'">
                                    <span class="view"></span>
                                </a>
                            </div>
                            <div class="info">
                                <h3 class="title">'. $name .'</h3>
                                '. $product_year .'
                                '. $price .'
                            </div>
                        </div>';
            }
            ?>
            </div>
        </div>
	</div>
</div>
<?php
    } 
?>

<?php $this->headScript()->captureStart() ?>
    $(document).ready(function() {
    	$('#detail-product .thumbs a').click(function() {
            var url = $(this).attr('data-zoom-image');
            
            $('#detail-product .thumbs a').removeClass('active');
            $(this).addClass('active');
            $('#detail-product .image a').attr('href', url);
            $('#detail-product .image img').attr('src', url);
    	});
    	
    	$('#detail-product #number').change(function() {
            var value = parseInt($(this).val()) ? parseInt($(this).val()) : 1;
            if(value < 10) {
                value = '0' + value;
            }
            $(this).val(value);
        });
    	
    	
    	$('#detail-product .input-group-addon .top').click(function() {
            var value = parseInt($('#detail-product #number').val()) ? parseInt($('#detail-product #number').val()) : 1;
            var next = value + 1;
            if(next > 999) {
                next = 999;
            }
            if(next < 10) {
                next = '0' + next;
            }
            $('#detail-product #number').val(next);
        });

        $('#detail-product .input-group-addon .buttom').click(function() {
            var value = parseInt($('#detail-product #number').val()) ? parseInt($('#detail-product #number').val()) : 1;
            var prev = value - 1;
            if(prev == 0) {
                prev = 1;
            }
            if(prev < 10) {
                prev = '0' + prev;
            }
            $('#detail-product #number').val(prev);
        });
    });
    
    function addCart() {
    	$.ajax({
    		type: "POST",
    		url: '<?php echo $add_cart_url;?>',
    		data: {
    		    number: parseInt($('input[name="number"]').val())
    		},
    		dataType: "json",
    		cache: false,
    		beforeSend: function() {
				 $('body').append('<div class="submit_loading"></div>');
			},
    		success: function(result){
    		    $('#myModal').remove();
    		    var xhtml = '<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">' +
                  '<div class="modal-dialog" role="document">' +
                    '<div class="modal-content">' +
                      '<div class="modal-header">' +
                        '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                        '<h4 class="modal-title" id="myModalLabel">Thông báo</h4>' +
                      '</div>' +
                      '<div class="modal-body">' +
                        'Sản phẩm đã được thêm vào giỏ hàng thành công' +
                      '</div>' +
                      '<div class="modal-footer">' +
                        '<button type="button" class="btn btn-default" data-dismiss="modal">Tiếp tục đặt hàng</button>' +
                        '<a href="<?php echo $this->url('routePost/default', array('controller' => 'product', 'action' => 'cart'));?>" class="btn btn-success">Xem giỏ hàng <b class="text-red">('+ result.total_product +')</b></a>' +
                      '</div>' +
                    '</div>' +
                  '</div>' +
                '</div>';
    		    
    		    $('.submit_loading').remove();
    		    $('body').append(xhtml);
    		    $('#myModal').modal('show');
    		    viewCart();
    		}
    	});
    }
<?php $this->headScript()->captureEnd() ?>



