<?php
    $dateFormat = new \ZendX\Functions\Date();
    $boxLink    = $this->url('routePostItem', array('category_alias' => $this->category['alias'], 'alias' => $this->item['alias']), array('force_canonical' => true));
    $boxName    = $this->item['name'];
    
    // Thông tin người đăng bài
    $user_avatar = $this->user[$this->item['created_by']]['avatar'] ? $this->user[$this->item['created_by']]['avatar'] : $this->params['template']['urlImg'] .'/avatar.png'; 
?>
<div class="box_module padding">
	<div class="box_title"><h1 class="title"><a href="<?php echo $boxLink;?>" title="<?php echo $boxName;?>"><?php echo $boxName;?></a></h1></div>
	<div class="box_content">
	    <div class="layout_item_default">
	    	<?php
	    	if(!empty($this->item['image_cover'])) {
	    	    echo '<div class="banner_cover"><img alt="Cover" src="'. $this->item['image_cover'] .'"></div>';
	    	}
	    	?>
            <?php echo htmlspecialchars_decode($this->item['content']); ?>
            <?php //echo $this->blkDocument($this->arrParams, 'ads-slideshow', array('cache' => true));?>
		</div>
	</div>
</div>

<?php
if(count($this->itemInvolve) > 0) { 
?>
<!-- <div class="box_involves">
	<div class="box_title"><div class="title">Giảng viên khác</div></div>
	<div class="box_content">
		<div class="layout_category_default">
        <?php
        foreach ($this->itemInvolve AS $key => $item){
            $item_url       = $item['meta_url'] ? $item['meta_url'] : $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                        
            $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
            $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
            $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
            $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
            $description    = nl2br($item['description']);
            $created        = $dateFormat->getText($item['created'], 'd.m.Y');
            $category_url   = $this->url('routePostCategory', array( 'category_alias' => $item['category_alias']));
            $category_name  = '<a href="'. $category_url .'" title="'. $item['category_name'] .'">'. $item['category_name'] .'</a>';
            
            echo '<div class="item clearfix">
                            <div class="image">'. $image_medium .'</div>
                            <div class="info">
                                <h2 class="title">'. $name .'</h2>
                                <div class="category">'. $category_name .'/ <span class="date">'. $created .'</span></div>
                                <div class="description hidden-xs">'. $description .'</div>
                            </div>
                        </div>';
        } 
        ?>
        </div>
	</div>
</div> -->
<?php
} 
?>

<?php $this->headScript()->captureStart() ?>
    $( document ).ready(function() {
    	var h_mxh = $('.layout_item_default .box_share').outerHeight();
    	var h_content = $('.layout_item_default .layout_item_default_content').outerHeight();
        var mxh_offset = $('.layout_item_default .box_share').offset();
        
        $(window).scroll(function () {
        	var topPage = $(window).scrollTop();
        	var topFixed = mxh_offset.top - 100;
        	var stopFixed = mxh_offset.top + h_content - h_mxh - 70;
        	if (topPage >= topFixed) {
            	if(topPage <= stopFixed) {
          		    $(".layout_item_default .box_share").css({'position': 'fixed', 'top': '70px', 'left': mxh_offset.left + 'px'});
            	} else {
            		$(".layout_item_default .box_share").css({'position': 'absolute', 'top': 'auto', 'bottom': '0px', 'left': '0px'});
            	}
        	} else {
        		$(".layout_item_default .box_share").removeAttr('style');
        	}
        });
    });
<?php $this->headScript()->captureEnd() ?>