<?php
    $boxLink = $this->url('routePostItem', array('category_alias' => $this->category['alias'], 'category_index' => $this->category['index'], 'alias' => $this->item['alias'], 'index' => $this->item['index']), array('force_canonical' => true));
    $boxName = $this->item['name']; 
?>
<div class="box_module detail">
	<div class="box_content">
	    <div class="layout_item_video">
		<?php
        if(!empty($this->item['videos'])) {
            $videos = unserialize($this->item['videos']);
            
            $xhtml  = '<div class="row">';
            
            for ($i = 0; $i < count($videos['id']); $i++) {
                $video = '<div class="video embed-responsive embed-responsive-16by9"><iframe width="560" height="315" src="https://www.youtube.com/embed/'. $videos['id'][0] .'?rel=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe></div>';
            
                $xhtml .= sprintf('
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="item">%s</div>
                    </div>', $video
                );
            }
            $xhtml .= '</div>';
            echo $xhtml;
        }
        
        if(!empty($this->item['content'])) {
            echo '<div class="content_video">'. htmlspecialchars_decode($this->item['content']) .'</div>';
        }
		?>
		</div>
	</div>
</div>

<?php
if(count($this->itemInvolve) > 0) { 
?>
<div class="box_module detail">
	<div class="box_title"><div class="title">Video khác</div></div>
	<div class="box_content">
	    <div class="layout_category_video">
	        <div class="row">
            <?php
            foreach ($this->itemInvolve AS $key => $item) {
                $item_url       = $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'category_index' => $item['category_index'], 'alias' => $item['alias'], 'index' => $item['index']));
                        
                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                $image          = '<a class="content" href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium   = '<a class="content" href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $image_thumb    = '<a class="content" href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                $description    = nl2br($item['description']);
                
                echo '<div class="col-xs-6 col-sm-4">
                        <div class="item">
                            <div class="image play_video">'. $image_thumb .'</div>
                            <div class="info">
                                <h3 class="title">'. $name .'</h3>
                            </div>
                        </div>
                    </div>';
            }
            ?>
            </div>
        </div>
	</div>
</div>
<?php
    } 
?>
