<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
    $form_data  = $this->viewModel['form_data'];
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/header.php';?>

    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/banner.php';?>
    
    <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">
        <div class="box_dangKy" id="form-1">
            <div class="container">
                <div class="row">
                    <div class="dangKy">
                        <div class="box_title">DOWNLOAD BROCHURE</div>
                        <div class="box_content">
                            <div class="step_1">
                                <div class="col-md-6">
                                    <div class="form-group" id="input-name">
                                        <input name="name" type="text" class="form-control" placeholder="Họ và tên">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="input-phone">
                                        <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="input-email">
                                        <input name="email" type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="input-location_city_id">
                                        <select name="location_city_id" class="form-control">
                                            <option value=""  selected="selected">Tỉnh thành</option>
                                            <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                            <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                            <option value="1547720621b8ro00k43n97">Tỉnh khác</option>
                                        </select>
                                     </div>
                                </div>
                            </div>
                            <div class="step_2 hidden">
                                <div class="col-md-6">
                                    <div class="form-group" id="input-company_name">
                                        <input name="company_name" type="text" class="form-control" placeholder="Công ty">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <?php
                                        $company_position = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-position" )), array('task' => 'cache'));
                                    ?>
                                    <div class="form-group" id="input-company_position_id">
                                        <select name="company_position_id" class="form-control">
                                            <option class="company_position_id" value="">Chức vụ</option>
                                            <?php
                                                foreach ($company_position AS $val) {
                                                    $id     = $val['id'];
                                                    $name   = $val['name'];
                                            ?>  
                                            <option class="company_position_id" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                            <?php } ?>
                                        </select> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <?php
                                        $company_size = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-size" )), array('task' => 'cache'));
                                    ?>
                                    <div class="form-group" id="input-company_size">
                                        <select name="company_size" class="form-control">
                                            <option class="company_size" value="">Quy mô công ty</option>
                                            <?php
                                                foreach ($company_size AS $val) {
                                                    $id     = $val['id'];
                                                    $name   = $val['name'];
                                            ?>  
                                            <option class="company_size" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                            <?php } ?>
                                        </select> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <?php
                                        $company_career = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-career" )), array('task' => 'cache'));
                                    ?>
                                    <div class="form-group" id="input-company_career">
                                        <select name="company_career" class="form-control">
                                            <option class="company_career" value="">Chuyên ngành hoạt động</option>
                                            <?php
                                                foreach ($company_career AS $val) {
                                                    $id     = $val['id'];
                                                    $name   = $val['name'];
                                            ?>  
                                            <option class="company_career" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                            <?php } ?>
                                        </select> 
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <?php
                                        $company_problem = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-problem" )), array('task' => 'cache'));
                                    ?>
                                    <div class="form-group" id="input-company_problem">
                                        <select name="company_problem[]" class="selectpicker form-control" multiple data-selected-text-format="count > 4" title="Lĩnh vực bạn đang gặp phải trong kinh doanh.">
                                            <?php
                                                foreach ($company_problem AS $value) {
                                                    $id     = $value['id'];
                                                    $name   = $value['name'];
                                            ?>  
                                            <option class="company_problem" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                            <?php } ?>
                                        </select> 
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="btnSuccess">
                                    <input type="hidden" name="form_id" value="<?php echo $item['form_id'];?>">
                                    <input type="hidden" name="form_data_id" value="">
                                    <input type="hidden" name="type" value="form">
                                    <?php 
                                        if ($link == '') {
                                            $input = '<input type="hidden" name="source" value="landing_page">';
                                        }else{
                                            $input = '<input type="hidden" name="source" value="'.$link.'">';
                                        }
                                        ?>
                                    <?php
                                        echo $input;
                                    ?>
                                    <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                    <input type="button" onclick="javascript:formRegisterDownloadCRM('frmRegister');" class="input-lg btn-blue step_1" value="Đăng ký ngay">
                                    <input type="button" onclick="javascript:formRegisterUpdateCRM('frmRegister');" class="input-lg btn-blue step_2 hidden" value="Hoàn tất đăng ký">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end box_dangKy -->

    <div class="box_comment">
        <div class="container">
            <div class="fb-comments" data-href="" data-width="100%" data-numposts="10" data-order-by="reverse_time"></div>
        </div>
    </div>

    <script type="text/javascript" src="<?php echo $this->arrParams['template']['urlJs'];?>/jquery.min.js"></script>
    <script type="text/javascript" src="<?php echo $this->arrParams['template']['urlJs'];?>/bootstrap.min.js"></script>
    <script type="text/javascript" src="<?php echo $this->arrParams['template']['urlJs'];?>/me.js"></script>
    <script type="text/javascript" src="<?php echo $this->arrParams['template']['urlThemeTemplate'] . $template;?>/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="<?php echo $this->arrParams['template']['urlThemeTemplate'] . $template;?>/js/me.js"></script>
    
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    
    <script type="text/javascript">
	    function close_menu_mobile() {
            $('.bg_menu_mobile').remove();
            $('.box_menuMobile').remove();
        }
        
        $(document).ready(function() {
            $('#box_menuMain .header .toggle').click(function() {
                var xhtmlMenu = $('#box_menuMain .menu').html();
                $('body').append('<div class="box_menuMobile">'+ xhtmlMenu +'</div>');
                $('body').append('<div class="bg_menu_mobile" onclick="close_menu_mobile()"></div>');
            });
        });

        //formRegister
        function formRegisterDownloadCRM(form) {
            var idForm  = "#" + form;
            var urlAjax = "https://langmaster.vn/erp/api/hbr-form-data/add";
            var textBtn = $(idForm + ' .btnSuccess .btn.step_1').val();
                
            $.ajax({
                type: "POST",
                url: urlAjax,
                data: $(idForm).serialize(),
                dataType: "json",
                cache: false,
                beforeSend: function() {
                    $(idForm + ' .form-group').removeClass('has-error');
                    $(idForm + ' .alert').remove();
                    $(idForm + ' .btnSuccess .btn.step_1').val('Đang gửi thông tin...').attr('disabled', 'disabled');
                    $('body').append('<div class="page-loading"><div class="loader"></div></div>');
                },
                success: function(result){
                    console.log(result);
                    if(result.error) {
                        if(result.error.form_id) {
                            $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">'+ result.error.form_id +'</div>');
                        } else {
                            $.each(result.error, function(key, value) {
                                $(idForm + ' #input-'+ key).addClass('has-error');
                            })
                            $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">Vui lòng điền đầy đủ các thông tin bắt buộc</div>');
                        }
                    } else {
                        $('#frmRegister input[name="form_data_id"]').val(result.save);

                        $('.step_2').removeClass('hidden');
                        $('.step_1').addClass('hidden');
                    }

                    $(idForm + ' .btnSuccess .btn.step_1').val(textBtn).removeAttr('disabled', 'disabled');
                    $('body .page-loading').remove();
                }
            });
        }

        //formUpdate
        function formRegisterUpdateCRM(form) {
            var idForm  = "#" + form;
            var urlAjax = "https://langmaster.vn/erp/api/hbr-form-data/add";
            var textBtn = $(idForm + ' .btnSuccess .btn.step_2').val();

            if($(idForm + ' input[name="company_name"]').val() == '') {
                $(idForm + ' #input-company_name').addClass('has-error');
                $(idForm + ' #input-company_position_id').addClass('has-error');
                $(idForm + ' #input-company_size').addClass('has-error');
                $(idForm + ' #input-company_career').addClass('has-error');
                $(idForm + ' #input-company_problem').addClass('has-error');
            } else {
                $.ajax({
                    type: "POST",
                    url: urlAjax,
                    data: $(idForm).serialize(),
                    dataType: "json",
                    cache: false,
                    beforeSend: function() {
                        $(idForm + ' .form-group').removeClass('has-error');
                        $(idForm + ' .alert').remove();
                        $(idForm + ' .btnSuccess .btn.step_2').val('Đang gửi thông tin...').attr('disabled', 'disabled');
                        $('body').append('<div class="page-loading"><div class="loader"></div></div>');
                    },
                    success: function(result){
                        console.log(result);
                        if(result.error) {
                            if(result.error.form_data_id) {
                                $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">'+ result.error.form_data_id +'</div>');
                            } else {
                                $.each(result.error, function(key, value) {
                                    $(idForm + ' #input-'+ key).addClass('has-error');
                                })
                                $(idForm + ' .btnSuccess').prepend('<div class="alert alert-danger">Vui lòng điền đầy đủ các thông tin bắt buộc</div>');
                            }
                        } else {
                            $(idForm + ' .container .box_content').html('<div class="alert alert-success">Thông tin của bạn đã được gửi thành công</div>');
                            window.location.href = "/user/public/brochure/";
                        }
        
                        $(idForm + ' .btnSuccess .btn.step_2').val(textBtn).removeAttr('disabled', 'disabled');
                        $('body .page-loading').remove();
                    }
                });
            }
        }
    </script>
</body>
</html>
