<?php 
$item       = $this->viewModel['item'];
$itemAll    = $this->viewModel['itemAll'];
$params     = $this->viewModel['params'];
$template   = '/' . basename(__DIR__);
$urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
$settings   = $this->viewModel['settings'];

if(!empty($_GET['video_id']) && !empty($_GET['contract_id']) && !empty($_GET['contact_id']) && !empty($_GET['course_id']) && !empty($_GET['token'])) {
    $contact        = $this->getHelperPluginManager()->getServiceLocator()->get('Api\Model\HbrContactTable')->getItem(array('data' => array('id' => $_GET['contact_id'])));
    $contact_course = $this->getHelperPluginManager()->getServiceLocator()->get('Api\Model\HbrContactCourseTable')->getItem(array('id' => $_GET['contract_id']));
    $item_group     = $this->getHelperPluginManager()->getServiceLocator()->get('Api\Model\HbrCourseGroupTable')->listItem(array('course_item_id' => $_GET['course_id']), array('task' => 'list-all'));
    $item_detail    = $this->getHelperPluginManager()->getServiceLocator()->get('Api\Model\HbrCourseDetailTable')->listItem(array('item_id' => $_GET['course_id']), array('task' => 'list-all'));
    $item_item      = $this->getHelperPluginManager()->getServiceLocator()->get('Api\Model\HbrCourseDetailTable')->getItem(array('id' => $_GET['video_id']));
    if(!empty($contact) && !empty($contact_course) && !empty($item_item)) {
?>
<html>
<head>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/header.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';?>
</head>
<body class="body">
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>   
    
    <div class="user_box_course_detail ">
        <div class="box_content">
            <?php
            if(!empty($item_item['video'])) {
                $filename = 'https://media.hbr.edu.vn/hbr/'. $item_item['item_id'] .'_'. $item_item['video'] .'.mp4/playlist.m3u8';
                echo '<div class="info_video">
                        <div id="video_course"></div>
                    </div>';
            }
            ?>
            
            <div class="menuList_content">
                <div class="menu">
                <?php
                foreach ($item_group AS $value) {
                    $group_id = $value['id'];
                    $group_name = $value['name'];
                    $i = 0;
                    echo '<div class="group">'. $group_name .'</div>';
                    foreach ($item_detail AS $key => $val) {
                        if ($val['group_id'] == $group_id){
                            $i++;

                            $link_video  = DOMAIN .'/xem-video?video_id='. $val['id'];
                            $link_video .= '&contract_id='. $_GET['contract_id'];
                            $link_video .= '&contact_id='. $_GET['contact_id'];
                            $link_video .= '&course_id='. $_GET['course_id'];
                            $link_video .= '&token='. $_GET['token'];

                            $name = '<a href="'. $link_video .'">'.$i.'. '. $val['name'] .'</a>';
                            $class = ($_GET['video_id'] == $val['id']) ? ' active' : '';
                            
                            echo '<div class="item'. $class .'">
                                    <div class="title">'. $name .'</div>
                                </div>';
                        }
                    }
                }
                ?>
                </div>
            </div>
        </div>
    </div>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    
    <script type="text/javascript">
        flowplayer(function (api, root) {
            //root.querySelector(".fp-ui").onclick = function () {
                //if (api.autoplay) {
                    // allow one key retrieval; see php code
                    // use flowplayer's xhr function
                    flowplayer.common.xhrGet("https://media.hbr.edu.vn/auth", api.load);
                //}
            //};
        });

        window.onload = function () {
            flowplayer("#video_course", {
                ratio: 9/16,
                //splash: true,
                bgcolor: "#333333",
                share: false,
                autoplay: true,
                clip: {
                    sources: [{
                        type: "application/x-mpegurl",
                        src:  "<?php echo $filename; ?>" 
                    }]
                }
            });
        };
    </script>
</body>
</html>
<?php
    }
}
?>
