<?php
    $dateFormat = new \ZendX\Functions\Date();

    $myForm = $this->myForm;
    $myForm->prepare();
    
    $myForm->get('location_district_id')->setAttributes(array('data-parent' => $myForm->get('location_city_id')->getValue()));
    $myForm->get('location_town_id')->setAttributes(array('data-parent' => $myForm->get('location_district_id')->getValue()));
    if(!empty($this->item['location_district_id'])) {
        $myForm->get('location_district_id')->setAttributes(array('data-text-label' => $this->locations[$this->item['location_district_id']]['name']));
        $myForm->get('location_town_id')->setAttributes(array('data-text-label' => $this->locations[$this->item['location_town_id']]['name']));
    }
    
    $myForm->get('location_district_id_2')->setAttributes(array('data-parent' => $myForm->get('location_city_id_2')->getValue()));
    $myForm->get('location_town_id_2')->setAttributes(array('data-parent' => $myForm->get('location_district_id_2')->getValue()));

    $i_options = unserialize($this->item['options']);
    if(!empty($i_options['location_district_id_2'])) {
        $myForm->get('location_district_id_2')->setAttributes(array('data-text-label' => $this->locations[$i_options['location_district_id_2']]['name']));
        $myForm->get('location_town_id_2')->setAttributes(array('data-text-label' => $this->locations[$i_options['location_town_id_2']]['name']));
    }
    
    $myForm->get('location_district_id_3')->setAttributes(array('data-parent' => $myForm->get('location_city_id_3')->getValue()));
    $myForm->get('location_town_id_3')->setAttributes(array('data-parent' => $myForm->get('location_district_id_3')->getValue()));
    if(!empty($i_options['location_district_id_3'])) {
        $myForm->get('location_district_id_3')->setAttributes(array('data-text-label' => $this->locations[$i_options['location_district_id_3']]['name']));
        $myForm->get('location_town_id_3')->setAttributes(array('data-text-label' => $this->locations[$i_options['location_town_id_3']]['name']));
    }

    $elements = array(
        array('section' => 'THÔNG TIN L1', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('name'), 'label' => 'Họ và tên', 'validate' => array('require' => true), 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('sex'), 'label' => 'Giới tính', 'validate' => array('require' => true), 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('birthday_year'), 'label' => 'Năm sinh', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('birthday'), 'label' => 'Ngày sinh', 'boxClass' => 'col-sm-2'),
        array('div' => '', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('phone'), 'label' => 'Số điện thoại', 'validate' => array('require' => true), 'boxClass' => 'col-sm-2'),
        array('div' => '<button type="button" class="btn btn-sm btn-success" call_for="[name=\'phone\']">Gọi điện 1</button>', 'label' => 'Tác vụ', 'boxClass' => 'col-md-1'),
        array('element' => $myForm->get('phone_2'), 'label' => 'Số điện thoại 2', 'boxClass' => 'col-sm-2'),
        array('div' => '<button type="button" class="btn btn-sm btn-success" call_for="[name=\'phone_2\']">Gọi điện 2</button>', 'label' => 'Tác vụ', 'boxClass' => 'col-md-1'),
        array('element' => $myForm->get('phone_3'), 'label' => 'Số điện thoại 3', 'boxClass' => 'col-md-2'),
        array('div' => '<button type="button" class="btn btn-sm btn-success" call_for="[name=\'phone_3\']">Gọi điện 3</button>', 'label' => 'Tác vụ', 'boxClass' => 'col-md-1'),
        array('div' => '', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('email'), 'label' => 'Email 1', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('email_2'), 'label' => 'Email 2', 'boxClass' => 'col-sm-2'),
        array('div' => '', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('address'), 'label' => 'Địa chỉ 1', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('location_city_id'), 'label' => 'Tỉnh thành', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('location_district_id'), 'label' => 'Quận huyện', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('location_town_id'), 'label' => 'Phường xã', 'boxClass' => 'col-sm-2'),
        array('div' => '', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('address_2'), 'label' => 'Địa chỉ 2', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('location_city_id_2'), 'label' => 'Tỉnh thành', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('location_district_id_2'), 'label' => 'Quận huyện', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('location_town_id_2'), 'label' => 'Phường xã', 'boxClass' => 'col-sm-2'),
        array('div' => '', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('address_3'), 'label' => 'Địa chỉ 3', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('location_city_id_3'), 'label' => 'Tỉnh thành', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('location_district_id_3'), 'label' => 'Quận huyện', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('location_town_id_3'), 'label' => 'Phường xã', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('note'), 'label' => 'Ghi chú', 'boxClass' => 'col-md-12'),
        array('section' => 'THÔNG TIN L3', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('disease_group'), 'label' => 'Nhóm bệnh', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('disease_time'), 'label' => 'Thời gian bệnh', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('symptom_sick'), 'label' => 'Triệu chứng bệnh', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('prehistoric_sick'), 'label' => 'Tiền sử bệnh', 'boxClass' => 'col-sm-2'),
        array('div' => '', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('sick_attach'), 'label' => 'Bệnh kèm theo', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('objects_used'), 'label' => 'Đối tượng sử dụng', 'boxClass' => 'col-sm-2'),
        array('element' => $myForm->get('dosage'), 'label' => 'Liều dùng tư vấn', 'boxClass' => 'col-sm-2'),
        array('section' => 'THÔNG TIN ĐẶT HÀNG', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('contract_name'), 'label' => 'Họ và tên', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('contract_phone'), 'label' => 'Số điện thoại', 'boxClass' => 'col-md-2 error'),
        array('element' => $myForm->get('contract_address'), 'label' => 'Địa chỉ', 'boxClass' => 'col-md-2 error'),
        array('element' => $myForm->get('payment'), 'label' => 'phương thức thanh toán', 'boxClass' => 'col-md-2 error'),
        array('div' => '', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('user_id'), 'label' => 'Người lên đơn'),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true)),
        array('element' => $myForm->get('modal'), 'validate' => array('require' => true))
    );

    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);

    $callElements = array(
        array('section' => 'NỘI DUNG VÀ KẾT QUẢ CUỘC GỌI', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('history_return'), 'label' => 'Ngày hẹn gọi lại', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('call_status'), 'label' => 'Trạng thái gọi', 'validate' => array('require' => true), 'boxClass' => 'col-md-2 history-require'),
        array('element' => $myForm->get('history_status_id'), 'label' => 'Trạng thái chăm sóc', 'validate' => array('require' => true), 'boxClass' => 'col-md-2 history-require'),
        array('element' => $myForm->get('reason_refusing'), 'label' => 'Lý do từ chối', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('level'), 'label' => 'Level khách hàng', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('history_content'), 'label' => 'Ghi chú', 'boxClass' => 'col-md-12'),
    );

    $xhtmlCall = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $callElements);

    $elementView = array(    
        array('section' => 'THÔNG TIN NGƯỜI PHỤ TRÁCH', 'boxClass' => 'col-md-12'),
        array('element' => $dateFormat->formatToView($this->item['created'], 'd/m/Y H:s'), 'label' => 'Ngày tạo'),
        array('element' => $dateFormat->formatToView($this->item['date'], 'd/m/Y H:s'), 'label' => 'Ngày chăm sóc'),
        array('element' => $this->users[$this->item['user_id']]['name'], 'label' => 'Người phụ trách'),
        array('element' => $this->sale_group[$this->item['sale_group_id']]['name'], 'label' => 'Đội nhóm'),
        array('element' => $this->sale_branch[$this->item['sale_branch_id']]['name'], 'label' => 'Cơ sở'),
        array('section' => 'LỊCH SỬ ĐƠN HÀNG', 'boxClass' => 'col-md-12'),
        array('div' => '', 'boxClass' => 'col-md-12', 'boxId' => 'load_contract', 'boxStyle' => 'margin-bottom: 20px;'),
        array('section' => 'LỊCH SỬ CHĂM SÓC', 'boxClass' => 'col-md-12'),
        array('div' => '<a href="javascript:;" id="btn_load_history" ct-id="'.$this->item['id'].'" class="btn btn-sm blue">Nhân vào đây để xem chi tiết</a>', 'boxClass' => 'col-md-12', 'boxId' => 'load_history', 'boxStyle' => 'margin-bottom: 20px;'),
        array('section' => 'LỊCH SỬ HỆ THỐNG', 'boxClass' => 'col-md-12'),
        array('div' => '<a href="javascript:;" id="btn_load_logs" class="btn btn-sm blue">Nhân vào đây để xem chi tiết</a>', 'boxClass' => 'col-md-12', 'boxId' => 'load_logs', 'boxStyle' => 'margin-bottom: 20px;'),
    );

    $xhtmlView = $this->partialLoop($this->params['module'] . '/partial/form-view.phtml', $elementView);
?>


<?php
if($this->params['data']['modal'] != 'success') { 
?>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
<?php
} 
?>
    <?php echo @$this->xViewElementErrors($elements);?>
	<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminFormModal" id="adminFormModal">
    	<div class="row">
			<?php echo $xhtmlContact;?>
		</div>
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
        <div class="contract_product">
            <table class="table table-striped table-bordered table-hover table-product">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã sản phẩm</th> 
                        <th>Tên sản phẩm</th>
                        <th>Đơn vị tính</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Chiết khấu(%)</th>
                        <th>Chiết khấu(đ)</th>
                        <th>Thành tiền</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody class="product_body">
                    <?php
                        $contract_product = $this->params['data']['contract_product'];
                        if(!empty($contract_product['code'][0])) {
                            for ($i = 0; $i < count($contract_product['code']); $i++) {
                                if(!empty($contract_product['code'][$i])) {
                                    $code               = $contract_product['code'][$i];
                                    $unit               = $contract_product['unit_product'][$i];
                                    $numbers            = $contract_product['numbers'][$i];
                                    $price              = $contract_product['price'][$i];
                                    $discount_percent   = $contract_product['discount_percent'][$i];
                                    $discount           = $contract_product['discount'][$i];
                                    $total              = $contract_product['total'][$i];
                                    $product_id         = $contract_product['product_id'][$i];
                        ?>
                        <tr class="product_row">
                            <td></td>
                            <td class="code"><input class="form-control" type="text" name="contract_product[code][]" value="<?php echo $code; ?>" readonly></td> 
                            <td class="products">
                                <select class="select-product select2 select2_basic form-control" name="contract_product[product_id][]">
                                    <option value="">- Chọn -</option>
                                    <?php 
                                        foreach ($this->products as $value) {
                                            if ($value['type'] != 'tang-kem'){
                                                $selected_product_id = ($value['id'] == $product_id) ? ' selected="selected"' : "";
                                    ?>
                                        <option value="<?php echo $value['id'] ?>" data-info='<?php echo json_encode($value) ?>'<?php echo $selected_product_id;?>><?php echo $value["name"] ?></option>
                                    <?php
                                            }
                                        }
                                    ?>
                                </select>
                            </td>
                            <td class="unit"><input class="form-control" type="text" name="contract_product[unit][]" value="<?php echo $unit; ?>" readonly="readonly"></td>
                            <td class="numbers"><input class="form-control" type="number" name="contract_product[numbers][]" value="<?php echo $numbers; ?>" min="1"></td>
                            <td class="price"><input class="form-control" type="number" name="contract_product[price][]" value="<?php echo $price; ?>" min="0" readonly></td>
                            <td class="discount_percent"><input class="form-control" type="text" name="contract_product[discount_percent][]" value="<?php echo $discount_percent; ?>" min="0"></td>
                            <td class="discount"><input class="form-control" type="text" name="contract_product[discount][]" value="<?php echo $discount; ?>" readonly></td>
                            <td class="total"><input class="form-control" type="text" name="contract_product[total][]" value="<?php echo $total; ?>" readonly></td>
                            <td><i class="fa fa-trash delete-row" aria-hidden="true" style="color:red; margin: 5px 0 0 5px; font-size: 20px;"></i></td>
                        </tr>
                    <?php
                            }
                        }
                    } else { ?>
                        <tr class="product_row">
                            <td></td>
                            <td class="code"><input class="form-control" type="text" name="contract_product[code][]" readonly></td> 
                            <td class="products">
                                <select class="select-product select2 select2_basic form-control" name="contract_product[product_id][]">
                                    <option value="">- Chọn -</option>
                                    <?php 
                                        foreach ($this->products as $value) {
                                            if ($value['type'] != 'tang-kem'){
                                    ?>
                                        <option value="<?= $value['id'] ?>" data-info='<?= json_encode($value) ?>'><?= $value["name"] ?></option>
                                    <?php
                                            }
                                        }
                                    ?>
                                </select>
                            </td>
                            <td class="unit"><input class="form-control" type="text" name="contract_product[unit][]" readonly="readonly"></td>
                            <td class="numbers"><input class="form-control" type="number" name="contract_product[numbers][]" min="1"></td>
                            <td class="price"><input class="form-control" type="number" name="contract_product[price][]" min="0" readonly></td>
                            <td class="discount_percent"><input class="form-control" type="text" name="contract_product[discount_percent][]" min="0"></td>
                            <td class="discount"><input class="form-control" type="text" name="contract_product[discount][]" readonly></td>
                            <td class="total"><input class="form-control" type="text" name="contract_product[total][]" readonly></td>
                            <td><i class="fa fa-trash delete-row" aria-hidden="true" style="color:red; margin: 5px 0 0 5px; font-size: 20px;"></i></td>
                        </tr>
                    <?php } ?>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Tổng</td>
                        <td></td> 
                        <td></td> 
                        <td></td> 
                        <td></td> 
                        <td class="total_price_product" style="padding: 10px 0 10px 19px;"></td> 
                        <td></td> 
                        <td class="total_discount" style="padding: 10px 0 10px 19px;"></td>
                        <td class="total_price" style="padding: 10px 0 10px 19px;"></td> 
                    </tr>
                </tfoot>
            </table>
            <a href="javascript:void(0);" class="btn btn-default" id="add_row_product" style="margin-bottom: 5px; background-color: #5cb85c; color: white;">Thêm sản phẩm</a>
        </div>

        <div class="hidden">
            <input type="hidden" name="total_price" value="" >
            <input type="hidden" name="total_discount" value="" >
            <input type="hidden" name="total_price_product" value="" >
        </div>

        <div class="contract_gift">
            <table class="table table-striped table-bordered table-hover table-gift">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã sản phẩm</th> 
                        <th>Tên sản phẩm</th>
                        <th>Đơn vị tính</th>
                        <th>Số lượng</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody class="gift_body">
                    <?php
                        $contract_gift = $this->params['data']['contract_gift'];
                        if(!empty($contract_gift['code'][0])) {
                            for ($i = 0; $i < count($contract_gift['code']); $i++) {
                                if(!empty($contract_gift['code'][$i])) {
                                    $code               = $contract_gift['code'][$i];
                                    $unit               = $contract_gift['unit'][$i];
                                    $numbers            = $contract_gift['numbers'][$i];
                                    $product_id         = $contract_gift['product_id'][$i];
                        ?>
                        <tr class="gift_row">
                            <td></td>
                            <td class="code_gift"><input class="form-control" type="text" name="contract_gift[code][]" value="<?php echo $code; ?>"></td> 
                            <td>
                                <select class="select-product select2 select2_basic form-control" name="contract_product[product_id][]">
                                    <option value="">- Chọn -</option>
                                    <?php 
                                        foreach ($this->products as $value) {
                                            if ($value['type'] == 'tang-kem'){
                                                $selected_product_id = ($value['id'] == $product_id) ? ' selected="selected"' : "";
                                    ?>
                                        <option value="<?php echo $value['id'] ?>" data-info='<?php echo json_encode($value) ?>'<?php echo $selected_product_id;?>><?php echo $value["name"] ?></option>
                                    <?php
                                            }
                                        }
                                    ?>
                                </select>
                            </td>
                            <td class="unit_gift"><input class="form-control" type="text" name="contract_gift[unit][]" value="<?php echo $unit; ?>"></td>
                            <td class="numbers_gift"><input class="form-control" type="number" name="contract_gift[numbers][]" min="1" value="<?php echo $numbers; ?>"></td>
                            <td><i class="fa fa-trash delete-row-gift" aria-hidden="true" style="color:red; margin: 5px 0 0 5px; font-size: 20px;"></i></td>
                        </tr>
                    <?php }}}else{ ?>
                        <tr class="gift_row">
                            <td></td>
                            <td class="code_gift"><input class="form-control" type="text" name="contract_gift[code][]"></td> 
                            <td>
                                <select class="select-product select2 select2_basic form-control" name="contract_product[product_id][]">
                                    <option value="">- Chọn -</option>
                                    <?php 
                                        foreach ($this->products as $value) {
                                            if ($value['type'] == 'tang-kem'){
                                                $selected_product_id = ($value['id'] == $product_id) ? ' selected="selected"' : "";
                                    ?>
                                        <option value="<?php echo $value['id'] ?>" data-info='<?php echo json_encode($value) ?>'<?php echo $selected_product_id;?>><?php echo $value["name"] ?></option>
                                    <?php
                                            }
                                        }
                                    ?>
                                </select>
                            </td>
                            <td class="unit_gift"><input class="form-control" type="text" name="contract_gift[unit][]"></td>
                            <td class="numbers_gift"><input class="form-control" type="number" name="contract_gift[numbers][]" min="1"></td>
                            <td><i class="fa fa-trash delete-row-gift" aria-hidden="true" style="color:red; margin: 5px 0 0 5px; font-size: 20px;"></i></td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
            <a href="javascript:void(0);" class="btn btn-default" id="add_row_gift" style="margin-bottom: 5px; background-color: #5cb85c; color: white;">Thêm quà tặng</a>
        </div>

        <div class="row">
            <?php echo $xhtmlCall;?>
        </div>

        <div class="row">
            <?php echo $xhtmlView;?>
        </div>
    </form>
<?php
if($this->params['data']['modal'] != 'success') { 
?>
</div>
<div class="modal-footer">
	<button type="button" class="btn green save-close">Lưu & Đóng</button>
	<button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>
<?php
} 
?>

<script>
    // Xử lý load tỉnh thành =>> quận huyện
    $('select[name="location_city_id"]').change(function() {
        var select = 'input[name="location_district_id"]';
        var parent = $(select).parent();
        $('.select2-container', parent).select2('val', '');
        $(select).attr('data-parent', $(this).val());
    });

    // Xử lý load Quận huyện => Phường xã
    $('input[name="location_district_id"]').change(function() {
        var select = 'input[name="location_town_id"]';
        var parent = $(select).parent();
        $('.select2-container', parent).select2('val', '');
        $(select).attr('data-parent', $(this).val());
    });

    // Xử lý load tỉnh thành 2
    $('select[name="location_city_id_2"]').change(function() {
        var select = 'input[name="location_district_id_2"]';
        var parent = $(select).parent();
        $('.select2-container', parent).select2('val', '');
        $(select).attr('data-parent', $(this).val());
    });

    // Xử lý load quận huyện 2
    $('input[name="location_district_id_2"]').change(function() {
        var select = 'input[name="location_town_id_2"]';
        var parent = $(select).parent();
        $('.select2-container', parent).select2('val', '');
        $(select).attr('data-parent', $(this).val());
    });
    
    // Xử lý load tỉnh thành 3
    $('select[name="location_city_id_3"]').change(function() {
        var select = 'input[name="location_district_id_3"]';
        var parent = $(select).parent();
        $('.select2-container', parent).select2('val', '');
        $(select).attr('data-parent', $(this).val());
    });

    // Xử lý load quận huyện 3
    $('input[name="location_district_id_3"]').change(function() {
        var select = 'input[name="location_town_id_3"]';
        var parent = $(select).parent();
        $('.select2-container', parent).select2('val', '');
        $(select).attr('data-parent', $(this).val());
    });
    
    //hiện thị dấu sao đỏ validate khi chọn trạng thái chăm sóc 
    $('.history-require .required').addClass('hidden');
    $('select[name="history_status_id"]').change(function() {
        historyRequire($(this).val());
    });
    function historyRequire(id) {
        if(id) {
            $('.history-require .required').removeClass('hidden');
        } else {
            $('.history-require .required').addClass('hidden');
        }
    }
    historyRequire('<?php echo $myForm->get('history_status_id')->getValue(); ?>');

    //Load danh sách hợp đồng
    load_action('#load_contract', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-contract'));?>', {contact_id: '<?php echo $this->item['id'];?>'});
    
    // Load lịch sử chăm sóc
    $('#btn_load_history').click(function() {
        load_action('#load_history', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-history'));?>', {contact_id: '<?php echo $this->item['id'];?>'});
    });
    
    // Load lịch sử hệ thống
    $('#btn_load_logs').click(function() {
        load_action('#load_logs', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-logs'));?>', {contact_id: '<?php echo $this->item['id'];?>'});
    });
    
    // Load lịch sử chuyển quản lý
    $('#btn_load_logs_parent').click(function() {
        load_action('#load_logs_parent', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-logs-parent'));?>', {contact_id: '<?php echo $this->item['id'];?>'});
    });


    $(document).ready(function(e){
        $("body").on("change", ".select-product", function(){
            var tr_parent = $(this).parents("tr");
            var info = $(this).find("option:selected").data('info');
            console.log(info);
            if(info){
                tr_parent.find('td.code input').val(info.code);
                tr_parent.find('td.price input').val(info.price);
                tr_parent.find('td.unit input').val(info.unit_product);
            }else{
                tr_parent.find('td input').val('');
                // tr_parent.find('td input').val('');
                updateTotal();
                updatePriceProduct();
                updateDiscountTotal();
            }

        });

        //hàm tính tiền cho bảng sản phẩm
        $("body").on("change", ".numbers input, .discount_percent input", function(){
            // updatePrice();
            var tr_parent = $(this).parents("tr");
            var number = parseInt(tr_parent.find(".numbers input").val());
            if(!number || number < 0){
                number = 1;
                tr_parent.find(".numbers input").val(number);
            }      
            var price = parseInt(tr_parent.find(".price input").val());   
            if(!price || price < 0){
                price = 0;
                tr_parent.find(".price input").val(price);
            } 
            var discount_percent = parseInt(tr_parent.find(".discount_percent input").val())/100;
            if(!discount_percent || discount_percent < 0){
                discount_percent = 0;
                tr_parent.find(".discount_percent input").val(discount_percent);
            }
            tr_parent.find(".discount input").val(number*price*discount_percent);
            tr_parent.find(".total input").val(number*price - number*price*discount_percent);
            updateTotal();
            updatePriceProduct();
            updateDiscountTotal();
        });


        //tổng tiền của mỗi sản phảm
        function updatePrice(){
            var tr_parent = element.parents("tr");
            var number = parseInt(tr_parent.find(".numbers input").val());
            if(!number || number < 0){
                number = 1;
                tr_parent.find(".numbers input").val(number);
            }      
            var price = parseInt(tr_parent.find(".price input").val());   
            if(!price || price < 0){
                price = 0;
                tr_parent.find(".price input").val(price);
            } 
            var discount_percent = parseInt(tr_parent.find(".discount_percent input").val())/100;
            if(!discount_percent || discount_percent < 0){
                discount_percent = 0;
                tr_parent.find(".discount_percent input").val(discount_percent);
            }
            tr_parent.find(".discount input").val(number*price*discount_percent);
            tr_parent.find(".total input").val(number*price - number*price*discount_percent);
        };

        //tổng tiền của tất cả sác sản phẩm chưa trừ chiết khấu
        function updatePriceProduct(){
            var total_price_product = 0;
            $.each($('.product_row'), function (index, value) {
                var p = $(this).find('.price input').val() ? $(this).find('.price input').val() : 0;
                var numbs = $(this).find('.numbers input').val() ? $(this).find('.numbers input').val() : 0;
                total_price_product += (parseInt(p)*parseInt(numbs));
            });
            $(".total_price_product").html(total_price_product);
            $("input[name=total_price_product]").val(total_price_product);
        }

        //tổng tiền của chiết khấu
        function updateDiscountTotal(){
            var total_discount = 0;
            $.each($('.product_row'), function (index, value) {
                var p = $(this).find('.discount input').val()?$(this).find('.discount input').val():0;
                total_discount += parseInt(p);
            });
            $(".total_discount").html(total_discount);
            $("input[name=total_discount]").val(total_discount);
        }

        //tổng tiền của hóa đơn sau khi trừ chiết khấu
        function updateTotal(){
            var total_price = 0;
            $.each($('.product_row'), function (index, value) {
                var t = $(this).find('.total input').val()?$(this).find('.total input').val():0;
                total_price += parseInt(t);

              
            });
            $(".total_price").html(total_price);
            $('input[name=total_price]').val(total_price);
        }

        

        //updatePrice();
        updateTotal();
        updatePriceProduct();
        updateDiscountTotal();

        //Nút thêm một hàng trong bảng sản phẩm
        $('#add_row_product').on('click', function(){
            var table = $(this).parent().find('.table-product');
            table.find('select.select2').select2('destroy');
            var tr    = $(".product_row:last");
            var clone = tr.clone();
            clone.appendTo('.product_body');
            clone.find('input').val('');
            clone.find('select.select2').val('');
            table.find('select.select2').select2();
        });

        //Nút thêm sản phẩm phần quà tặng
        $('#add_row_gift').on('click', function(){
            var table = $(this).parent().find('.table-gift');
            table.find('select.select2').select2('destroy');
            var tr    = $(".gift_row:last");
            var clone = tr.clone();
            clone.appendTo('.gift_body');
            clone.find('input').val('');
            clone.find('select.select2').val('');
            table.find('select.select2').select2();
        });

        //Nút gọi điện
        function popupwindow(url, title, w, h) {
            var left = (screen.width/2)-(w/2);
            var top = (screen.height/2)-(h/2)-100;
            let newWindow = window.open(url, title, 'toolbar=yes, location=no, directories=no, status=no, menubar=yes, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
            return newWindow;
        }
        $('[call_for]').on('click', function () {
            let call_for    = $(this).attr('call_for');
            let phone_number = $(call_for).val();
            let target_url = '<?php echo $this->url('routeAdmin/default', array('controller' => 'contact', 'action' => 'vcall'));?>'+'id/'+phone_number;
            let wd = popupwindow(target_url,'_blank','600','600');
            wd.onbeforeunload = ()=>{

            }
        });

        //Xóa hàng trong bảng sản phẩm
        $('body').on('click', '.delete-row', function(){
            var row = $('.product_row').length;
            if(row > 1){
                $(this).parents('tr').remove();
            }else{
                $(this).parents('tr').find('.price input').val('');
                $(this).parents('tr').find('.numbers input').val('');
                $(this).parents('tr').find('.unit input').val('');
                $(this).parents('tr').find('.discount_percent input').val('');
                $(this).parents('tr').find('.total input').val('');
                $(this).parents('tr').find('.code input').val('');
                $(this).parents('tr').find('.discount input').val('');
                $(this).parents('tr').find('.select2').val(null).trigger('change');
            }
            updateTotal();
            updatePriceProduct();
            updateDiscountTotal();
        });

        //Xóa hàng trong bảng quà tặng
        $('body').on('click', '.delete-row-gift', function(){
            var row = $('.gift_row').length;
            if(row > 1){
                $(this).parents('tr').remove();
            }else{
                $(this).parents('tr').find('.code_gift input').val('');
                $(this).parents('tr').find('.numbers_gift input').val('');
                $(this).parents('tr').find('.unit_gift input').val('');
                $(this).parents('tr').find('.select2').val(null).trigger('change');
            }
        });

    });
</script>

