<?php
	$dateFormat = new \ZendX\Functions\Date();

	// Head
	$xhtmlHead  = '<tr>';
	$xhtmlHead .= '<th>STT</th>';
	$xhtmlHead .= '<th>Ngày nhập</th>';
	$xhtmlHead .= '<th>Sản phẩm quan tâm</th>';
	$xhtmlHead .= '<th>Hành động</th>';
	$xhtmlHead .= '<th>Kết quả</th>';
	$xhtmlHead .= '<th>Nội dung/Ghi chú</th>';
	$xhtmlHead .= '<th>Hẹn chăm sóc lại</th>';
	$xhtmlHead .= '<th>Người tạo</th>';
	$xhtmlHead .= '</tr>';
	
	$xhtmlItems = '';
	if($this->items->count() > 0) {
		$index = 0;
		foreach ($this->items AS $item) {
			$index++;
			$id             = $item->id;
			$created        = $dateFormat->formatToView($item->created, 'd/m/Y H:i');
			$action_id		= $this->sale_history_action[$item->action_id]['name'];
			$result_id		= $this->sale_history_result[$item->result_id]['name'];
			$product_id     = $this->product_interest[$item->product_id]['name'];
			$content		= $item->content;
			$return			= $dateFormat->formatToView($item->return);
			$user_id        = $item->user_id ? $this->user[$item->user_id]['name'] : '';
			$sale_group_id  = $item->sale_group_id ? ' - '. $this->sale_group[$item->sale_group_id]['name'] : '';
			$sale_branch_id = $item->sale_branch_id ? ' - '. $this->sale_branch[$item->sale_branch_id]['name'] : '';
	
			$xhtmlItems .= '<tr id="tr_'. $id .'">
	    							<td>'. $index .'</td>
	    							<td>'. $created .'</td>
	    							<td>'. $product_id .'</td>
	    							<td>'. $action_id .'</td>
	    							<td>'. $result_id .'</td>
	    							<td>'. $content .'</td>
	    							<td>'. $return .'</td>
	    							<td>'. $user_id . $sale_group_id . $sale_branch_id .'</td>
	    						</tr>';
		}
	}
?>

<?php
if($this->params['data']['modal'] != 'success') { 
?>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
<?php
} 
?>
	<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminFormModal" id="adminFormModal">
    	<div class="table-manager" id="table-manager">
    		<div class="table-scrollable">
    			<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<?php echo $xhtmlHead;?>
    				</thead>
    				<tbody>
    					<?php echo $xhtmlItems;?>
    				</tbody>
    			</table>
    		</div>
    	</div>
    </form>
<?php
if($this->params['data']['modal'] != 'success') { 
?>
</div>
<div class="modal-footer">
	<button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>
<?php
} 
?>
