<?php
    $dateFormat = new \ZendX\Functions\Date();
    $number = new \ZendX\Functions\Number();

    $myForm = $this->myForm;
    $myForm->prepare();
    
    $arrControl = array(
        array('name' => 'close', 'caption' => 'Quay lại danh sách', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-arrow-left', 'attributes' => array('class' => 'btn')),
    );
    
    $elements = array(
        array('div' => '', 'boxClass' => 'col-md-12', 'boxId' => 'result_check_contact'),
        array('element' => $myForm->get('file_import'), 'label' => 'Chọn file cần import dữ liệu <a href="'. URL_FILES .'/demo/ImportContact.xlsx"><b>(Tải file mẫu)</b></a>', 'validate' => array('require' => true), 'boxClass' => 'col-md-3'),
        // array('element' => $myForm->get('marketing_channel_id'), 'label' => 'Nguồn Marketing', 'boxClass' => 'col-md-3'),
        // array('element' => $myForm->get('type'), 'label' => 'Phân loại liên hệ', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        // array('element' => $myForm->get('user_id'), 'label' => 'Người quản lý', 'validate' => array('require' => true), 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('submit'), 'label' => ''),
    );
    
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminForm" id="adminForm" enctype="multipart/form-data">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
	
    <?php echo $this->flashMessenger()->render();?>
	<?php echo @$this->xViewElementErrors($elements);?>
	
    <div class="page-content">
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
		<?php
		if(!empty($this->import) && !empty($this->sheetData)) {  
		?>
    	<div class="row">
			<div class="col-md-12">
			    <div class="table-manager" id="table-manager">
                    <div class="table-scrollable">
        				<table class="table table-striped table-bordered table-hover">
            				<thead>
            					<tr>
            					    <th class="col-80">Công cụ</th>
            						<th class="col-50">STT</th>
                                    <th>Ngày ra contact</th>
                                    <th>Tên khách hàng</th>
            						<th>Số điện thoại</th>
            						<th>Email</th>
                                    <th>Địa chỉ</th>
                                    <th>Giới tính</th>
                                    <th>Level</th>
                                    <th>Tổng doanh thu</th>
            						<th>Ghi chú</th>
                                    <th>Người phụ trách</th>
                                    <th>Mã khách hàng</th>
                                    <th>Nhóm khách hàng</th>
                                    <th>Đặt lịch gọi lại</th>
                                    <th>Thông tin gọi lại</th>
                                    <th>Người phụ trách</th>
                                    <th>Sinh nhật</th>
                                    <th>Ngành nghề</th>
                                    <th>Quốc gia</th>
            					</tr>
            				</thead>
            				<tbody>
            					<?php
            					$index = 0;
            					foreach ($this->sheetData AS $key => $val) { 
            					    if((int)$val['C'] > 0) {
            							$index++;
            							
                					    $phone = $number->formatToData(trim($val['C']));
            							if(substr($phone, 0, 1) != '0') {
            								$phone = '0'. $phone;
            							}
            					?>
            					<tr id="tr_<?php echo $index;?>" data-index="<?php echo $index;?>">
            					    <td><a href="javascript:;" data-index="<?php echo $index;?>" class="btn btn-xs default">Import</a></td>
        							<td><?php echo $index;?></td>
                                    <td><span class="date"><?php echo trim($val['E']);?></span></td>
                                    <td><span class="name"><?php echo trim($val['A']);?></span></td>
        							<td><span class="phone"><?php echo $phone;?></span></td>
                                    <td><span class="email"><?php echo trim($val['R']);?></span></td>
        							<td><span class="address"><?php echo trim($val['D']);?></span></td>
                                    <td><span class="sex"><?php echo trim($val['B']);?></span></td>
                                    <td><span class="level"><?php echo trim($val['F']);?></span></td>
                                    <td><span class="contract_total"><?php echo trim($val['S']);?></span></td>
        							<td><span class="note"><?php echo trim($val['I']);?></span></td>
                                    <td><span class="care"><?php echo trim($val['N']);?></span></td>
                                    <td><span class="contact_code"><?php echo trim($val['Q']);?></span></td>
                                    <td><span class="contact_group"><?php echo trim($val['Y']);?></span></td>
                                    <td><span class="history_return"><?php echo trim($val['J']);?></span></td>
                                    <td><span class="history_content"><?php echo trim($val['K']);?></span></td>
                                    <td><span class="user_id"><?php echo trim($val['N']);?></span></td>
                                    <td><span class="birthday"><?php echo trim($val['AB']);?></span></td>
                                    <td><span class="contact_work"><?php echo trim($val['AC']);?></span></td>
                                    <td><span class="contact_country"><?php echo trim($val['AE']);?></span></td>
        						</tr>
        						<?php
            					    }
            					} 
        						?>
        					</tbody>
            			</table>
        			</div>
    			</div>
			</div>
		</div>
		<?php
		} else {
			echo '<div class="alert alert-danger">Không có dữ liệu import</div>';
		}
		?>
	</div>
</form>

<?php $this->headScript()->captureStart() ?>
	<?php
	if(!empty($this->import) && !empty($this->sheetData)) {  
	?>
	function startImportContact(index) {
		var item = '#tr_'+ index;
        console.log(item);
        console.log($(item).size());
		
		if($(item).size() > 0) {
		    var data = {
		    	'source_group_id': $('select[name="source_group_id"]').val(),
		    	'type': $('select[name="type"]').val(),
		    	'user_id': $('select[name="user_id"]').val()
		    };
		    $(item +' span').each(function() {
		        data[$(this).attr('class')] = $(this).text();
		    });
            console.log(data);

            $.ajax({
    			url: "<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => $this->params['action']));?>",
    			type: 'POST',
    			data: data,
    			beforeSend: function() {
    				$(item + ' .btn').html('Đang xử lý ...').removeClass('default').addClass('yellow');
    			},
    			success: function(result) {
    				setTimeout(function(){
    					$(item).removeClass('active');
    					if(result == 'Hoàn thành') {
    						$(item + ' .btn').html('Hoàn thành').removeClass('yellow').addClass('green');
    					} else {
    						$(item + ' .btn').html(result).removeClass('yellow').addClass('red');
    					}

    				    var index_next = parseInt(index) + 1;
    				    startImportContact(index_next); 
    			    }, 100);
    			}
    		});
		} else {
			alert('Import thành công');
		}
	}
    startImportContact(1);
    <?php
	}
    ?>
<?php $this->headScript()->captureEnd() ?>