<?php
    $dateFormat = new \ZendX\Functions\Date();

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="col-40">TT</th>';
    $xhtmlHead .= '<th>Ngày quản lý</th>';
    $xhtmlHead .= '<th>Điện thoại</th>';
    $xhtmlHead .= '<th>Tên</th>';
    $xhtmlHead .= '<th>Email</th>';
    $xhtmlHead .= '<th>Năm sinh</th>';
    $xhtmlHead .= '<th>Tỉnh thành</th>';
    $xhtmlHead .= '<th>Phân loại</th>';
    $xhtmlHead .= '<th>Người quản lý</th>';
    $xhtmlHead .= '</tr>';
    
    // Danh sách
    $xhtmlItems = '';
    if($this->items->count() > 0) {
        $index = 0;
        foreach ($this->items AS $item) {
            $index                  = $index + 1;
            
            $id                     = $item->id;
            $date                   = $dateFormat->formatToView($item->date, 'd/m/Y H:i');
            $phone                  = $item->phone;
            $name                   = $item->name;
            $email                  = $item->email;
            $birthday_year          = $item->birthday_year;
            $location_city_id       = $this->location_city[$item->location_city_id]['name'];
            $user_id                = $item->user_id ? $this->user[$item->user_id]['name'] : '';
            $sale_group_id          = $item->sale_group_id ? ' - '. $this->sale_group[$item->sale_group_id]['name'] : '';
            $sale_branch_id         = $item->sale_branch_id ? ' - '. $this->sale_branch[$item->sale_branch_id]['name'] : '';
            
            $type_color             = !empty($this->sale_contact_type[$item->type]['color']) ? ' style="color: '. $this->sale_contact_type[$item->type]['color'] .'"' : '';
            $type                   = '<span'. $type_color .'>'. $this->sale_contact_type[$item->type]['name'] .'</span>';
            
            $contract_total         = '';
            if(!empty($item->contract_total)) {
                $contract_total     = '<div style="color: #35aa47">Hợp đồng ('. $item->contract_total .')</div>';
            }
            
            $store                  = '';
            if(!empty($item->store)) {
                $store              = '<div><a href="'. $this->url('routeAdmin/default', array('controller' => 'contact', 'action' => 'store', 'id' => $id)) .'" class="btn btn-xs red" style="margin: 2px 0 0;">Nhập lại kho</a></div>';
            }
            
            $options                = $item->options ? unserialize($item['options']) : array();
            
            $history_created        = $dateFormat->formatToView($item['history_created']);
            $history_return         = $dateFormat->formatToView($item['history_return'], 'd/m/Y');
            $history_return_content = $options['history_return_content'];
            $history_created_by     = $options['history_created_by'] ? $this->user[$options['history_created_by']]['name'] : '';
            $history_content        = $options['history_content'];
            $history_action         = $this->sale_history_action[$options['history_action_id']]['name'];
            $history_result         = $this->sale_history_result[$options['history_result_id']]['name'];
            
            $x_history = '';
            if(!empty($history_created)) {
            	$x_history  = $history_created .' bởi '. $history_created_by;
            	$x_history .= '<div>'. $history_action .': '. $history_result .'</div>';
            	$x_history .= '<a style="font-size: 11px;" href="javascript:;" title="Xem lịch sử chăm sóc" onclick="javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'history-list')) .'\', {\'id\': \''. $id .'\'});">Chăm sóc khác</a>';
            }
            
            $x_history_return = '';
            if(!empty($history_return)) {
                $x_history_return = $history_return .'<div>'. $history_return_content .'</div>';
            }
            
            // Link Action
            $linkView               = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'view', 'id' => $id));
            $linkEdit               = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form', 'id' => $id));
            $linkHistory            = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'form', 'id' => $id, 'code' => 'history'));
            
            // Control Action
            $controlView            = $this->linkAdminHtml('javascript:;', array('type' => 'icon', 'title' => 'Xem chi tiết', 'class' => 'btn btn-xs blue', 'icon' => 'fa fa-info', 'onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'view')) .'\', {\'id\': \''. $id .'\'});'));
            $controlEdit            = $this->linkAdminHtml($linkEdit, array('type' => 'icon', 'title' => 'Sửa', 'class' => 'btn btn-xs yellow', 'icon' => 'fa fa-edit'));
            $controlHistory         = $this->linkAdminHtml('javascript:;', array('type' => 'icon', 'title' => 'Thêm lịch sử chăm sóc', 'class' => 'btn btn-xs purple', 'icon' => 'fa fa-history', 'onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'history-add')) .'\', {\'id\': \''. $id .'\'});'));
            $controlPassword        = $this->linkAdminHtml('javascript:;', array('type' => 'icon', 'title' => 'Đổi mật khẩu', 'class' => 'btn btn-xs default', 'icon' => 'fa fa-lock', 'onclick' => 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'change-password', 'id' => $id)) .'\', {\'id\': \''. $id .'\'});'));
            $controls               = $controlHistory . $controlView . $controlEdit . $controlPassword;
            
            $xhtmlItems .= '<tr id="tr_'. $id .'">
    							<td>'. $index .'</td>
    							<td>'. $date .'</td>
    							<td>'. $phone . $store .'</td>
    							<td>'. $name .'</td>
    							<td>'. $email .'</td>
    							<td>'. $birthday_year .'</td>
    							<td>'. $location_city_id .'</td>
    							<td>'. $type . $contract_total .'</td>
    							<td>'. $user_id . $sale_group_id . $sale_branch_id .'</td>
    						</tr>';
        }
?>
<div class="table-manager" id="table-manager">
	<div class="table-scrollable">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<?php echo $xhtmlHead;?>
			</thead>
			<tbody>
				<?php echo $xhtmlItems;?>
			</tbody>
		</table>
	</div>
</div>
<?php
    } else {
        echo '<div class="alert alert-danger" style="margin-bottom: 10px;">Không tìm thấy dữ liệu nào</div>';
    } 
?>
