<?php
$name    = 'Không có tên trong danh sách!';
$phone   = 'Số lạ';
$address = 'Không tìm thấy địa chỉ';
if ($this->user['name']) {
    $name = $this->user['name'];
}
if (!empty($this->user['phone']) && $this->user['phone'] == $this->phone_number) {
    $phone = $this->user['phone'];
} elseif (!empty($this->user['phone_2']) && $this->user['phone_2'] == $this->phone_number) {
    $phone = $this->user['phone_2'];
} elseif (!empty($this->user['phone_3']) && $this->user['phone_3'] == $this->phone_number) {
    $phone = $this->user['phone_3'];
} else {
    $phone = $this->phone_number;
}
if ($this->user['address']) {
    $address = $this->user['address'];
}
?>
<div class="container">
    <form action="" method="post" class="vcall-form" accept-charset="utf-8">
        <div class="row">
            <div class="col-md-6">
                <div class="vcall-action">
                    <div class="status-bar">
                        <span class="vcall_user" id="vcall_user"></span>
                        <span class="icon volume"></span>
                        <span class="icon g"></span>
                        <span class="icon pin"></span>
                    </div>
                    <div class="vcall-body">
                        <div class="detail">
                            <div class="avatar">
                                <div class="img-cover"><img src="http://ele.langtech/public/files/users/thumb/user-male.png" alt=""></div>
                            </div>
                            <div class="name"><?php echo $name; ?></div>
                            <div class="info">
                                <span class="phone"><?php echo $phone; ?></span>
                                <span class="address"><?php echo $address; ?></span>
                            </div>
                            <div class="call-status" id="call-status">Chưa có hành động</div>
                        </div>
                        <div class="tool">
                            <button type="button" class="btn btn-vcall hangup hidden" title="nhấn để gác máy"></button>
                            <button type="button" class="btn btn-vcall up" title="nhấn để gọi"></button>
                        </div>
                    </div>
                </div>
                <div>
                    <video id="remoteVideo" playsinline autoplay class="hidden"></video>
                </div>
                <div>
                    <video id="localVideo" playsinline autoplay class="hidden"></video>
                </div>
            </div>
        </div>
        <input type="hidden" value="<?php echo $phone; ?>" id="toCallNumber">
    </form>
</div>
