<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
    $dateFormat = new \ZendX\Functions\Date();

    $cookie_name = '';
    $cookie_phone = "user";
    $cookie_email = "user";
    setcookie($cookie_name, $cookie_phone, time() + (84600 * 7));
    if(isset($_POST['name']) && !empty($_POST['name'])){
        $cookie_value=$_POST['name'];
        setcookie($cookie_value, time() + 3600, '/');
    }
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
            ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/top.php';?>
    <div class="box_header" id="box_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <a href="" class="logo"><img src="<?php echo $urlImg;?>/logo.png"></a>
                </div>
                <div class="col-md-4">
                    <span class="hotline hidden-xs hidden-sm">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <?php
                            $hotline = explode(' - ', $setting['General.System.Hotline']['value']);
                            foreach ($hotline AS $key => $val) {
                                if($key == 0) {
                                    echo '<a href="tel:'. str_replace('.', '', $val) .'">'. $val .'</a>';
                                } else {
                                    echo ' - <a href="tel:'. str_replace('.', '', $val) .'">'. $val .'</a>';
                                }
                            }
                        ?>
                    </span>
                </div>
                <div class="col-md-7">
                    <div class="clr"></div>
                    <ul class="menu hidden-xs hidden-sm">
                        <li><a href="javascript:;" class="go_box btn_book" data-box="box_dangKy">Đăng ký ngay</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <span class="hotline">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <?php
                        $hotline = explode(' - ', $setting['General.System.Hotline']['value']);
                        foreach ($hotline AS $key => $val) {
                            if($key == 0) {
                                echo '<a href="tel:'. str_replace('.', '', $val) .'">'. $val .'</a>';
                            } else {
                                echo ' - <a href="tel:'. str_replace('.', '', $val) .'">'. $val .'</a>';
                            }
                        }
                    ?>
                </span>
                <a href="javascript:;" class="go_box btn_book" data-box="box_dangKy form">Đăng ký ngay</a>
            </div>
        </div>
    </div>
    <!-- end box_header -->

    <div class="box_banner" id="box_banner">
        <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>
    </div>
    <!-- end box_banner -->

    <div class="box_formDangKy" id="box_dangKy">
        <div class="container">
            <div class="container_box">
                <div class="col-md-12">
                    <div class="border_title">
                        <div class="formDangKy_title">
                            Đăng ký nhanh tay, nhận ngay ưu đãi
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="container">
                        <div class="formDangKyNgay">
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <div class="timer">
                                        <div class="price text-center">
                                            <div class="col-md-5 price_left">7.000.000 VNĐ</div>
                                            <div class="col-md-7 price_right">CHỈ CÒN 6.000.000 VNĐ</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="price_title">
                                        Thời gian ưu đãi còn:
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="end_sales">
                                        <div id="countdown">
                                            <div id='tiles'></div>
                                            <div class="clock" id="clock">
                                                <div class="boxe"><span id="days"></span>ngày</div>
                                                <div class="boxe"><span id="hours"></span>giờ</div>
                                                <div class="boxe"><span id="minutes"></span>phút</div>
                                                <div class="boxe"><span id="seconds"></span>giây</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <div class="mainForm">
                                    <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">
                                        <div class="form" id="box_dangKy">
                                            <div class="box_content">
                                                <div class="step_1">
                                                    <div class="col-md-12">
                                                        <div class="form-group" id="input-ddl_course_id">
                                                            <?php
                                                                $courses = $this->getHelperPluginManager()->getServiceLocator()->get('Admin\Model\PageTable')->listItem(array('speaker' => '1561433054-k97e-179k-8x5w-i9f9jy9157v3', 'category' => ''), array('task' => 'list-page'));
                                                            ?>
                                                            <select id="ddl_course_id" class="form-control">
                                                                <option value="">Chọn khóa học tham gia</option>
                                                                <?php
                                                                    foreach ($courses as $course) {

                                                                        $city_list = array(
                                                                            '1515592631-4119-4wp5-bvf6-508266bh4390',
                                                                            '1515772408-os39-361d-439b-810tgw5430nb',
                                                                            '1515857484-8213-4827-05s6-26z725603988'
                                                                        );

                                                                        $courses_time = '';
                                                                        foreach ($city_list as $city) {

                                                                            if (!empty(unserialize($course['course_options'])[$city]['date'])) {

                                                                                $course_date    = unserialize($course['course_options'])[$city]['date'] ? unserialize($course['course_options'])[$city]['date'] : '';

                                                                                $courses_time   .= 'data-'.$city.'="'.$dateFormat->formatToView($course_date, 'Y-m-d').'"';
                                                                            }
                                                                        }

                                                                        $price_list = '';
                                                                        foreach (unserialize($course['course_options'])['course_price'] as $key => $value) {

                                                                            if (!empty($value)) {
                                                                                $price_list .= 'data-'.$key.'='.str_replace(',', '', $value).' ';
                                                                            }
                                                                        }
                                                                        echo '<option value="'.$course['id'].'" '.$price_list.' data-form-id="'.$course['form_id'].'" '.$courses_time.'>'.$course['name'].'</option>';
                                                                    }
                                                                ?>
                                                            </select>
                                                         </div>
                                                    </div>
                                                    <div class="col-md-12" id="ddl_course"></div>
                                                    <div class="col-md-12">
                                                        <div class="form-group" id="input-name">
                                                            <input name="name" type="text" class="form-control" placeholder="Họ và tên">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group" id="input-phone">
                                                            <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group" id="input-email">
                                                            <input name="email" type="text" class="form-control" placeholder="Email">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 number_left">
                                                        <div class="form-group" id="input-number">
                                                            <input name="number" type="number" class="form-control" min="0" placeholder="Số vé">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 price2_right">
                                                        <div class="form-group" id="input-price">
                                                            <input name="price" type="text" class="form-control mask_currency" placeholder="Thành tiền" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                    
                                                <div class="step_2 hidden">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" id="input-company_name">
                                                            <input name="company_name" type="text" class="form-control" placeholder="Công ty">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <?php
                                                            $company_position = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-position" )), array('task' => 'cache'));
                                                        ?>
                                                        <div class="form-group" id="input-company_position">
                                                            <select name="company_position" class="form-control">
                                                                <option class="company_position" value="">Chức vụ</option>
                                                                <?php
                                                                    foreach ($company_position AS $val) {
                                                                        $id     = $val['id'];
                                                                        $name   = $val['name'];
                                                                ?>  
                                                                <option class="company_position" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                                <?php } ?>
                                                            </select> 
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <?php
                                                            $company_problem = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-problem" )), array('task' => 'cache'));
                                                        ?>
                                                        <div class="form-group" id="input-company_problem">
                                                            <select name="company_problem[]" class="selectpicker form-control" multiple data-selected-text-format="count > 4" title="Vấn đề các anh/Chị đang gặp phải.">
                                                                <?php
                                                                    foreach ($company_problem AS $value) {
                                                                        $id     = $value['id'];
                                                                        $name   = $value['name'];
                                                                ?>  
                                                                <option class="company_problem" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                                                <?php } ?>
                                                            </select> 
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group" id="input-content">
                                                            <input name="content" type="text" class="form-control" placeholder="Anh/Chị vui lòng mô tả chi tiết vấn đề của mình">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="btnSuccess">
                                                        <input type="hidden" name="course_id" value="">
                                                        <input type="hidden" name="form_id" value="">
                                                        <input type="hidden" name="form_data_id" value="">
                                                        <input type="hidden" name="type" value="form">
                                                        <?php 
                                                            if ($link == '') {
                                                                $input = '<input type="hidden" name="source" value="landing_page">';
                                                            }else{
                                                                $input = '<input type="hidden" name="source" value="'.$link.'">';
                                                            }
                                                            ?>
                                                        <?php
                                                            echo $input;
                                                        ?>
                                                        <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                                        <div class="button-register step_1" style="width: 100%;" onclick="javascript:formRegisterDefault('frmRegister');">
                                                            <input type="button" class="btn-register text-center" value="Đăng ký ngay">
                                                        </div>
                                                        <div class="button-register step_2 hidden" style="width: 100%;" onclick="javascript:formRegisterDefaultUpdate('frmRegister');">
                                                            <input type="button" class="btn-register text-center" value="Hoàn tất">
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box_courses">
        <div class="container">
            <div class="courses_option">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Khóa học cùng Mr. Tony Dzung</legend>
                    <div class="control-group">
                        <div class="col-md-12">
                            <div class="box_category">
                                <div class="col-md-2 col-xs-6">
                                    <div class="category" data-category="1521186924-jd85-u9q8-vk2j-351522c77fd5">Lãnh đạo, quản trị</div>
                                </div>
                                <div class="col-md-2 col-xs-6">
                                    <div class="category" data-category="1521256944-vua2-9fh5-zt7e-69j5ugc948oe">Nhân sự</div>
                                </div>
                                <div class="col-md-2 col-xs-6">
                                    <div class="category" data-category="1521187025-4x7j-82o4-6y4u-85w0j1m0id21">Bán hàng</div>
                                </div>
                                <div class="col-md-2 col-xs-6">
                                    <div class="category" data-category="1521187025-4x7j-82o4-6y4u-85w0j1m0id21">Marketing</div>
                                </div>
                                <div class="col-md-2 col-xs-6">
                                    <div class="category" data-category="1521866337-v332-c731-nd59-17ek79lp605v">Tài chính</div>
                                </div>
                                <div class="col-md-2 col-xs-6">
                                    <div class="category" data-category="1521187016-3x04-9890-1c49-8l161q80a268">Quản trị bản thân</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="courses_list">
                <div class="courses_item">
                    <?php
                        $items = $this->getHelperPluginManager()->getServiceLocator()->get('Admin\Model\PageTable')->listItem(array('speaker' => '1561433054-k97e-179k-8x5w-i9f9jy9157v3', 'category' => '', 'limit' => 6), array('task' => 'list-page'));

                        foreach ($items as $item) {
                            $course_options = unserialize($item['course_options']);
                            $item_url       = $item['meta_url'] ? $item['meta_url'] : $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));

                            if ($item['layout'] == 'giai-dap-van-de-quan-tri-nhan-su/index') {
                                $item_url   = $item_url.'/dang-ky';
                            }

                            $name           = '<a href="https://hbr.edu.vn'. str_replace('.html', '', str_replace('//', '/', $item_url)) .'" target="_blank" title="'. $item['name'] .'">'. $item['name'] .'</a>';

                            $image          = '<a href="https://hbr.edu.vn'. str_replace('.html', '', str_replace('//', '/', $item_url)) .'" target="_blank" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                            
                            $city_list      = array(
                                '1515592631-4119-4wp5-bvf6-508266bh4390',
                                '1515772408-os39-361d-439b-810tgw5430nb',
                                '1515857484-8213-4827-05s6-26z725603988'
                            );
                            $location       = '';
                            foreach ($city_list as $value) {
                                if (!empty($course_options[$value]['date'])) {
                                    $course_date    = $course_options[$value]['date'] ? '<span class="date"> - '. $dateFormat->formatToView($course_options[$value]['date']) .'</span>' : '';
                                    $course_time    = $course_options[$value]['time'] ? '<span class="date">'. $course_options[$value]['time'] .'</span>' : '';
                                    $course_address = $course_options[$value]['name'] ? '<span class="address">'. $course_options[$value]['name'] .'</span>' : '';
                                    $location  .= 'Thời gian: ' . $course_time . $course_date .'<br>Địa điểm: ' . $course_address .'<br>';
                                }
                            }

                            echo '<div class="col-md-4">
                                <div class="item clearfix">
                                    <div class="image">'. $image .'</div>
                                        <div class="info">
                                            <h2 class="title">'. $name .'</h2>
                                            <div class="location">'. $location .'</div>
                                        </div>
                                    </div>
                                </div>';  
                        }
                    ?>
                </div>
                <input type="hidden" name="page" value="1">
                <input type="hidden" name="number" value="5">
            </div>
        </div>
    </div>

    <div class="box_courses_other">
        <div class="container">
            <div class="courses_option">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Khóa học cùng chuyên gia khác</legend>
                    <div class="control-group">
                        <div class="col-md-12">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-search">
                                    <div class="form-group">
                                        <select class="form-control" id="speaker_id">
                                            <option value="">- Tất cả chuyên gia -</option>
                                            <option value="1515859385-5x53-u041-8627-650804t28412">TS.Alok</option>
                                            <option value="1561433054-k97e-179k-8x5w-i9f9jy9157v3">Mr.Tony Dzung</option>
                                            <option value="1515859381-0yse-v36o-703g-887ylw8vp734">ThS. Phạm Thu Thủy</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="box_category">
                                <div class="col-md-2 col-xs-6">
                                    <div class="category" data-category="1521186924-jd85-u9q8-vk2j-351522c77fd5">Lãnh đạo, quản trị</div>
                                </div>
                                <div class="col-md-2 col-xs-6">
                                    <div class="category" data-category="1521256944-vua2-9fh5-zt7e-69j5ugc948oe">Nhân sự</div>
                                </div>
                                <div class="col-md-2 col-xs-6">
                                    <div class="category" data-category="1521187025-4x7j-82o4-6y4u-85w0j1m0id21">Bán hàng</div>
                                </div>
                                <div class="col-md-2 col-xs-6">
                                    <div class="category" data-category="1521187025-4x7j-82o4-6y4u-85w0j1m0id21">Marketing</div>
                                </div>
                                <div class="col-md-2 col-xs-6">
                                    <div class="category" data-category="1521866337-v332-c731-nd59-17ek79lp605v">Tài chính</div>
                                </div>
                                <div class="col-md-2 col-xs-6">
                                    <div class="category" data-category="1521187016-3x04-9890-1c49-8l161q80a268">Quản trị bản thân</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="courses_list">
                <div class="courses_item_other">
                    <?php
                        $items = $this->getHelperPluginManager()->getServiceLocator()->get('Admin\Model\PageTable')->listItem(array('speaker' => '', 'category' => ''), array('task' => 'list-page'));

                        $d = 0;
                        foreach ($items as $item) {
                            $course_options = unserialize($item['course_options']);
                            if (!empty($course_options['course_teacher_id'])) {
                                $d++;
                                if($d >= 10) break;
                                
                                $item_url       = $item['meta_url'] ? $item['meta_url'] : $this->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));

                                if ($item['layout'] == 'giai-dap-van-de-quan-tri-nhan-su/index') {
                                    $item_url   = $item_url.'/dang-ky';
                                }

                                $name           = '<a href="https://hbr.edu.vn'. str_replace('.html', '', str_replace('//', '/', $item_url)) .'" target="_blank" title="'. $item['name'] .'">'. $item['name'] .'</a>';

                                $image          = '<a href="https://hbr.edu.vn'. str_replace('.html', '', str_replace('//', '/', $item_url)) .'" target="_blank" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                                
                                $city_list      = array(
                                    '1515592631-4119-4wp5-bvf6-508266bh4390',
                                    '1515772408-os39-361d-439b-810tgw5430nb',
                                    '1515857484-8213-4827-05s6-26z725603988'
                                );
                                $location       = '';
                                foreach ($city_list as $value) {
                                    if (!empty($course_options[$value]['date'])) {
                                        $course_date    = $course_options[$value]['date'] ? '<span class="date"> - '. $dateFormat->formatToView($course_options[$value]['date']) .'</span>' : '';
                                        $course_time    = $course_options[$value]['time'] ? '<span class="date">'. $course_options[$value]['time'] .'</span>' : '';
                                        $course_address = $course_options[$value]['name'] ? '<span class="address">'. $course_options[$value]['name'] .'</span>' : '';
                                        $location  .= 'Thời gian: ' . $course_time . $course_date .'<br>Địa điểm: ' . $course_address .'<br>';
                                    }
                                }

                                echo '<div class="col-md-4">
                                    <div class="item clearfix">
                                        <div class="image">'. $image .'</div>
                                            <div class="info">
                                                <h2 class="title">'. $name .'</h2>
                                                <div class="location">'. $location .'</div>
                                            </div>
                                        </div>
                                    </div>';
                            }
                        }
                    ?>
                </div>
            </div>
        </div>
    </div>
    
    <?php
    echo $this -> headScript()
               -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] .'/me.js?v='. date('dmyHis'), 'text/javascript')
               -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->
    
    <script>
        function loadCourse(category_id, insert, teacher_id, position) {
            if(insert == 'html') {
                $('input[name="page"]').val(1);
            } else {
                var page_next = parseInt($('input[name="page"]').val()) + 1;
                $('input[name="page"]').val(page_next);
            }

            $.ajax({
                type: "POST",
                url: '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-page')); ?>',
                data: {
                    speaker     : teacher_id,
                    category    : category_id,
                    limit       : 6,
                    page: $('input[name="page"]').val(),
                    number: $('input[name="number"]').val(),
                },
                cache: false,
                beforeSend: function() {
                    $('body').append('<div class="page-loading"><div class="loader"></div></div>');
                },
                success: function(result){
                    if(insert == 'append') {
                        if (position == 'tony') {
                            $('.courses_item').append(result);
                        } else {
                            $('.courses_item_other').append(result);
                        }
                    } else {
                        if (position == 'tony') {
                            $('.courses_item').html(result);
                        } else {
                            $('.courses_item_other').html(result);
                        }
                        if(result == '') {
                            if (position == 'tony') {
                                $('.courses_item').html('<div class="alert alert-danger">Hiện tại chưa có khóa học nào</div>');
                            } else {
                                $('.courses_item_other').html('<div class="alert alert-danger">Hiện tại chưa có khóa học nào</div>');
                            }
                           
                        }
                    }
                    
                    $('body .page-loading').remove();
                }
            });
        };

        $(document).ready(function() {
            $('.box_courses .box_category .category').click(function() {
                $('.category').removeClass('active');
                $(this).addClass('active');
                var category = $(this).data('category');
                loadCourse(category, 'html', '1561433054-k97e-179k-8x5w-i9f9jy9157v3', 'tony');
            });

            $('.box_courses_other .box_category .category').click(function() {
                $('.category').removeClass('active');
                $(this).addClass('active');
                var category = $(this).data('category');
                loadCourse(category, 'html', '', 'other');
            });

            $('.box_courses_other #speaker_id').change(function() {
                var selectedSpeaker = $(this).children("option:selected").val();
                loadCourse('', 'html', selectedSpeaker, 'other');
            });
        });
    </script>

    <script type="text/javascript">

        $('.mask_currency').autoNumeric("init",{
            mDec: 0,
            aSep: '.',
            aDec: ',',
        });

        function getToday() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = dd + '/' + mm + '/' + yyyy;
            return today;
        }

        $(document).ready(function() {

            $('select[id="ddl_course_id"] > option').each(function() {
                var hanoi   = $(this).attr('data-1515592631-4119-4wp5-bvf6-508266bh4390');
                var hcm     = $(this).attr('data-1515772408-os39-361d-439b-810tgw5430nb');

                if (new Date(hanoi) - new Date() < 0) {
                    $(this).remove();
                }

                if (new Date(hcm) - new Date() < 0) {
                    $(this).remove();
                }
            });

            $('select[id="ddl_course_id"]').change(function(){

                var feenormal, feesale, fee01, fee02, fee03to05, feeup05 = 0;
                var feenormal   = $('option:selected', this).attr('data-normal');
                var feesale     = $('option:selected', this).attr('data-sale');
                var fee01       = $('option:selected', this).attr('data-01');
                var fee02       = $('option:selected', this).attr('data-02');
                var fee03to05   = $('option:selected', this).attr('data-03to05');
                var feeup05     = $('option:selected', this).attr('data-up05');
                var course_form = $('option:selected', this).attr('data-form-id');
                var date_hn     = $('option:selected', this).attr('data-1515592631-4119-4wp5-bvf6-508266bh4390');
                var date_hcm    = $('option:selected', this).attr('data-1515772408-os39-361d-439b-810tgw5430nb');

                date_hn = new Date(date_hn);
                var today = new Date();
                if (date_hn - today < 0) {
                    $('#countdown').hide();
                    $('.end_sales').html('<div class="discount_expired" style="color: #fff; font-size: 30px; text-align: center; border: 2px dashed #fff; padding: 20px 30px; font-weight: 700;">KHÓA HỌC NÀY ĐÃ KẾT THÚC!</div>');

                } else {

                    $('.end_sales').html('<div id="countdown">' +
                                            '<div id="tiles"></div>' +
                                            '<div class="clock" id="clock">' +
                                            '<div class="boxe"><span id="days"></span>ngày</div>' +
                                            '<div class="boxe"><span id="hours"></span>giờ</div>' +
                                            '<div class="boxe"><span id="minutes"></span>phút</div>' +
                                            '<div class="boxe"><span id="seconds"></span>giây</div>' +
                                            '</div>' +
                                        '</div>');
                }

                var location_data = '';
                if (date_hn && !date_hcm) {
                    location_data = '<option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội - Diễn ra ngày: '+ new Date(date_hn).toLocaleDateString('en-GB') +'</option>';
                } else if (date_hcm && !date_hn) {
                    location_data = '<option value="1471419543-77s5-83it-g000-9j600uz74951">Hồ Chí Minh - Diễn ra ngày: '+ new Date(date_hcm).toLocaleDateString('en-GB') +'</option>';
                } else {
                    location_data = '<option value="1515592631-4119-4wp5-bvf6-508266bh4390">Hà Nội - Diễn ra ngày: '+ new Date(date_hn).toLocaleDateString('en-GB') +'</option><option value="1515772408-os39-361d-439b-810tgw5430nb">Hồ Chí Minh - Diễn ra ngày: '+ new Date(date_hcm).toLocaleDateString('en-GB') +'</option>';
                }

                $('#ddl_course').html(
                    '<div class="col-md-12" id="ddl_course_location">' +
                        '<div class="form-group" id="input-location_city_id">' +
                            '<select name="location_city_id" class="form-control">' +
                                '<option value="">Chọn địa điểm tham gia</option>' +
                                location_data +
                            '</select>' +
                        '</div>' +
                    '</div>'
                );
                                
                $('.price_left').autoNumeric("init", {
                    mDec: 0,
                    aSep: '.',
                    aDec: ',',
                });
                $('.price_left').html(feenormal.replace(/(.)(?=(\d{3})+$)/g,'$1.') + ' VND');
                $('.price_right').html('CHỈ CÒN ' + feesale.replace(/(.)(?=(\d{3})+$)/g,'$1.') + ' VND');
                $('input[name=form_id]').val(course_form);

                $('input[type="number"]').bind('keyup change', function(){
                    var price = parseInt($(this).val()) * feenormal;
                    if($(this).val() >= 1) {
                        price = parseInt($(this).val()) * fee01;
                    }
                    if($(this).val() >= 2) {
                        price = parseInt($(this).val()) * fee02;
                    }
                    if($(this).val() >= 3) {
                        price = parseInt($(this).val()) * fee03to05;
                    }
                    if($(this).val() >= 5) {
                        price = parseInt($(this).val()) * feeup05;
                    }
                    $(".mask_currency").autoNumeric("set", price);
                });
            });
        });
    </script>

    <script>
        var timer;
        var then = '<?php echo date('Y-m-d'); ?> 23:59:59';
        var now = new Date();

        var compareDate = new Date(then) - now.getDate();
        timer = setInterval(function () {
            timeBetweenDates(compareDate);
        }, 1000);

        function timeBetweenDates(toDate) {
            var dateEntered = new Date(toDate);
            var now = new Date();
            var difference = dateEntered.getTime() - now.getTime();

            if (difference <= 0) {
                clearInterval(timer);
            } else {
                var seconds = Math.floor(difference / 1000);
                var minutes = Math.floor(seconds / 60);
                var hours = Math.floor(minutes / 60);
                var days = Math.floor(hours / 24);

                hours %= 24;
                minutes %= 60;
                seconds %= 60;

                $("#days").text(days);
                $("#hours").text(hours);
                $("#minutes").text(minutes);
                $("#seconds").text(seconds);
            }
        }  
    </script>
</body>
</html>
