
@font-face {
	font-family: 'Roboto-Bold';
	src:url('Roboto-Bold.eot');
	src:url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Bold.woff') format('woff'), 
		url('Roboto-Bold.woff2') format('woff2'), 
		url('Roboto-Bold.ttf')  format('truetype'), 
		url('Roboto-Bold.svg#Roboto-Bold') format('svg');
}

@font-face {
	font-family: 'Roboto-Italic';
	src:url('Roboto-Italic.eot');
	src:url('Roboto-Italic.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Italic.woff') format('woff'), 
		url('Roboto-Italic.woff2') format('woff2'), 
		url('Roboto-Italic.ttf')  format('truetype'), 
		url('Roboto-Italic.svg#Roboto-Italic') format('svg');
}

@font-face {
	font-family: 'Roboto-LightItalic';
	src:url('Roboto-LightItalic.eot');
	src:url('Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-LightItalic.woff') format('woff'), 
		url('Roboto-LightItalic.woff2') format('woff2'), 
		url('Roboto-LightItalic.ttf')  format('truetype'), 
		url('Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
}

@font-face {
	font-family: 'Roboto-Light';
	src:url('Roboto-Light.eot');
	src:url('Roboto-Light.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Light.woff') format('woff'), 
		url('Roboto-Light.woff2') format('woff2'), 
		url('Roboto-Light.ttf')  format('truetype'), 
		url('Roboto-Light.svg#Roboto-Light') format('svg');
}

@font-face {
	font-family: 'Roboto-Medium';
	src:url('Roboto-Medium.eot');
	src:url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Medium.woff') format('woff'), 
		url('Roboto-Medium.woff2') format('woff2'), 
		url('Roboto-Medium.ttf')  format('truetype'), 
		url('Roboto-Medium.svg#Roboto-Medium') format('svg');
}

@font-face {
	font-family: 'Roboto-MediumItalic';
	src:url('Roboto-MediumItalic.eot');
	src:url('Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-MediumItalic.woff') format('woff'), 
		url('Roboto-MediumItalic.woff2') format('woff2'), 
		url('Roboto-MediumItalic.ttf')  format('truetype'), 
		url('Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
}

@font-face {
	font-family: 'Roboto-Regular';
	src:url('Roboto-Regular.eot');
	src:url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Regular.woff') format('woff'), 
		url('Roboto-Regular.woff2') format('woff2'), 
		url('Roboto-Regular.ttf')  format('truetype'), 
		url('Roboto-Regular.svg#Roboto-Regular') format('svg');
}

@font-face {
	font-family: 'DP-Bold';
	src:url('DP-Bold.eot');
	src:url('DP-Bold.eot?#iefix') format('embedded-opentype'),  
		url('DP-Bold.woff') format('woff'), 
		url('DP-Bold.woff2') format('woff2'), 
		url('DP-Bold.ttf')  format('truetype'), 
		url('DP-Bold.svg#DP-Bold') format('svg');
}

@font-face {
	font-family: 'UTM-Bebas_1';
	src:url('UTM-Bebas_1.eot');
	src:url('UTM-Bebas_1.eot?#iefix') format('embedded-opentype'),  
		url('UTM-Bebas_1.woff') format('woff'), 
		url('UTM-Bebas_1.woff2') format('woff2'), 
		url('UTM-Bebas_1.ttf')  format('truetype'), 
		url('UTM-Bebas_1.svg#UTM-Bebas_1') format('svg');
}

@font-face {
	font-family: 'iCielNovecentosans-DemiBold';
	src:url('iCielNovecentosans-DemiBold.eot');
	src:url('iCielNovecentosans-DemiBold.eot?#iefix') format('embedded-opentype'),  
		url('iCielNovecentosans-DemiBold.woff') format('woff'), 
		url('iCielNovecentosans-DemiBold.woff2') format('woff2'), 
		url('iCielNovecentosans-DemiBold.ttf')  format('truetype'), 
		url('iCielNovecentosans-DemiBold.svg#iCielNovecentosans-DemiBold') format('svg');
}

@font-face {
	font-family: 'RobotoCondensed-Bold';
	src:url('RobotoCondensed-Bold.eot');
	src:url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),  
		url('RobotoCondensed-Bold.woff') format('woff'), 
		url('RobotoCondensed-Bold.woff2') format('woff2'), 
		url('RobotoCondensed-Bold.ttf')  format('truetype'), 
		url('RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
}
