<?php
    $myForm = $this->myForm;
    $myForm->prepare();
    
    $arrControl = array(
        array('name' => 'save', 'caption' => 'Lưu', 'link' => 'javascript:;', 'icon' => 'fa-check', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save\');', 'class' => 'btn')),
        array('name' => 'save-new', 'caption' => 'Lưu &amp; Mới', 'link' => 'javascript:;', 'icon' => 'fa-paste', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-new\');', 'class' => 'btn')),
        array('name' => 'save-close', 'caption' => 'Lưu &amp; Đóng', 'link' => 'javascript:;', 'icon' => 'fa-save', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-close\');', 'class' => 'btn')),
        array('name' => 'close', 'caption' => 'Hủy', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),
    );
    
    // Set lại các giá trị của từng element
    $myForm->get('location_district_id')->setAttributes(array('data-parent' => $myForm->get('location_city_id')->getValue()));
    
    $elements = array(
        array('section' => 'Thông tin khách hàng', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('phone'), 'label' => 'Số điện thoại', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('name'), 'label' => 'Họ và tên', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('sex'), 'label' => 'Giới tính', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('location_city_id'), 'label' => 'Tỉnh thành', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('location_district_id'), 'label' => 'Quận huyện', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('location_town_id'), 'label' => 'Phường xã', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('email'), 'label' => 'Email', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('address'), 'label' => 'Địa chỉ', 'boxClass' => 'col-md-2'),
        array('div' => '', 'boxClass' => 'col-md-12'),
        array('section' => 'Thông tin đơn hàng', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('date'), 'label' => 'Ngày tạo', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('payment'), 'label' => 'phương thức thanh toán', 'boxClass' => 'col-md-2 error'),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true)),
    );
    
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminForm" id="adminForm" class="">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
	
    <?php echo $this->flashMessenger()->render();?>
	<?php echo @$this->xViewElementErrors($elements);?>
	
    <div class="page-content">
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
        <div class="contract_product">
            <table class="table table-striped table-bordered table-hover table-product">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã sản phẩm</th> 
                        <th>Tên sản phẩm</th>
                        <th>Đơn vị tính</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Chiết khấu(%)</th>
                        <th>Chiết khấu(đ)</th>
                        <th>Thành tiền</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody class="product_body">
                    <?php
                        $contract_product = $this->params['data']['contract_product'];
                        if(!empty($contract_product['code'][0])) {
                            for ($i = 0; $i < count($contract_product['code']); $i++) {
                                if(!empty($contract_product['code'][$i])) {
                                    $code               = $contract_product['code'][$i];
                                    $unit               = $contract_product['unit_product'][$i];
                                    $numbers            = $contract_product['numbers'][$i];
                                    $price              = $contract_product['price'][$i];
                                    $discount_percent   = $contract_product['discount_percent'][$i];
                                    $discount           = $contract_product['discount'][$i];
                                    $total              = $contract_product['total'][$i];
                                    $product_id         = $contract_product['product_id'][$i];
                        ?>
                        <tr class="product_row">
                            <td></td>
                            <td class="code"><input class="form-control" type="text" name="contract_product[code][]" value="<?php echo $code; ?>" readonly></td> 
                            <td class="products">
                                <select class="select-product select2 select2_basic form-control" name="contract_product[product_id][]">
                                    <option value="">- Chọn -</option>
                                    <?php 
                                        foreach ($this->products as $value) {
                                            if ($value['type'] != 'tang-kem'){
                                                $selected_product_id = ($value['id'] == $product_id) ? ' selected="selected"' : "";
                                    ?>
                                        <option value="<?php echo $value['id'] ?>" data-info='<?php echo json_encode($value) ?>'<?php echo $selected_product_id;?>><?php echo $value["name"] ?></option>
                                    <?php
                                            }
                                        }
                                    ?>
                                </select>
                            </td>
                            <td class="unit"><input class="form-control" type="text" name="contract_product[unit][]" value="<?php echo $unit; ?>" readonly="readonly"></td>
                            <td class="numbers"><input class="form-control" type="number" name="contract_product[numbers][]" value="<?php echo $numbers; ?>" min="1"></td>
                            <td class="price"><input class="form-control" type="number" name="contract_product[price][]" value="<?php echo $price; ?>" min="0" readonly></td>
                            <td class="discount_percent"><input class="form-control" type="text" name="contract_product[discount_percent][]" value="<?php echo $discount_percent; ?>" min="0"></td>
                            <td class="discount"><input class="form-control" type="text" name="contract_product[discount][]" value="<?php echo $discount; ?>" readonly></td>
                            <td class="total"><input class="form-control" type="text" name="contract_product[total][]" value="<?php echo $total; ?>" readonly></td>
                            <td><i class="fa fa-trash delete-row" aria-hidden="true" style="color:red; margin: 5px 0 0 5px; font-size: 20px;"></i></td>
                        </tr>
                    <?php
                            }
                        }
                    } else { ?>
                        <tr class="product_row">
                            <td></td>
                            <td class="code"><input class="form-control" type="text" name="contract_product[code][]" readonly></td> 
                            <td class="products">
                                <select class="select-product select2 select2_basic form-control" name="contract_product[product_id][]">
                                    <option value="">- Chọn -</option>
                                    <?php 
                                        foreach ($this->products as $value) {
                                            if ($value['type'] != 'tang-kem'){
                                    ?>
                                        <option value="<?= $value['id'] ?>" data-info='<?= json_encode($value) ?>'><?= $value["name"] ?></option>
                                    <?php
                                            }
                                        }
                                    ?>
                                </select>
                            </td>
                            <td class="unit"><input class="form-control" type="text" name="contract_product[unit][]" readonly="readonly"></td>
                            <td class="numbers"><input class="form-control" type="number" name="contract_product[numbers][]" min="1"></td>
                            <td class="price"><input class="form-control" type="number" name="contract_product[price][]" min="0" readonly></td>
                            <td class="discount_percent"><input class="form-control" type="text" name="contract_product[discount_percent][]" min="0"></td>
                            <td class="discount"><input class="form-control" type="text" name="contract_product[discount][]" readonly></td>
                            <td class="total"><input class="form-control" type="text" name="contract_product[total][]" readonly></td>
                            <td><i class="fa fa-trash delete-row" aria-hidden="true" style="color:red; margin: 5px 0 0 5px; font-size: 20px;"></i></td>
                        </tr>
                    <?php } ?>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Tổng</td>
                        <td></td> 
                        <td></td> 
                        <td></td> 
                        <td></td> 
                        <td class="total_price_product" style="padding: 10px 0 10px 19px;"></td> 
                        <td></td> 
                        <td class="total_discount" style="padding: 10px 0 10px 19px;"></td>
                        <td class="total_price" style="padding: 10px 0 10px 19px;"></td> 
                    </tr>
                </tfoot>
            </table>
            <a href="javascript:void(0);" class="btn btn-default" id="add_row_product" style="margin-bottom: 5px; background-color: #5cb85c; color: white;">Thêm sản phẩm</a>
        </div>

        <div class="hidden">
            <input type="hidden" name="total_price" value="" >
            <input type="hidden" name="total_discount" value="" >
            <input type="hidden" name="total_price_product" value="" >
        </div>

        <div class="contract_gift">
            <table class="table table-striped table-bordered table-hover table-gift">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã sản phẩm</th> 
                        <th>Tên sản phẩm</th>
                        <th>Đơn vị tính</th>
                        <th>Số lượng</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody class="gift_body">
                    <?php
                        $contract_gift = $this->params['data']['contract_gift'];
                        if(!empty($contract_gift['code'][0])) {
                            for ($i = 0; $i < count($contract_gift['code']); $i++) {
                                if(!empty($contract_gift['code'][$i])) {
                                    $code               = $contract_gift['code'][$i];
                                    $unit               = $contract_gift['unit'][$i];
                                    $numbers            = $contract_gift['numbers'][$i];
                                    $product_id         = $contract_gift['product_id'][$i];
                        ?>
                        <tr class="gift_row">
                            <td></td>
                            <td class="code_gift"><input class="form-control" type="text" name="contract_gift[code][]" value="<?php echo $code; ?>"></td> 
                            <td>
                                <select class="select-product select2 select2_basic form-control" name="contract_product[product_id][]">
                                    <option value="">- Chọn -</option>
                                    <?php 
                                        foreach ($this->products as $value) {
                                            if ($value['type'] == 'tang-kem'){
                                                $selected_product_id = ($value['id'] == $product_id) ? ' selected="selected"' : "";
                                    ?>
                                        <option value="<?php echo $value['id'] ?>" data-info='<?php echo json_encode($value) ?>'<?php echo $selected_product_id;?>><?php echo $value["name"] ?></option>
                                    <?php
                                            }
                                        }
                                    ?>
                                </select>
                            </td>
                            <td class="unit_gift"><input class="form-control" type="text" name="contract_gift[unit][]" value="<?php echo $unit; ?>"></td>
                            <td class="numbers_gift"><input class="form-control" type="number" name="contract_gift[numbers][]" min="1" value="<?php echo $numbers; ?>"></td>
                            <td><i class="fa fa-trash delete-row-gift" aria-hidden="true" style="color:red; margin: 5px 0 0 5px; font-size: 20px;"></i></td>
                        </tr>
                    <?php }}}else{ ?>
                        <tr class="gift_row">
                            <td></td>
                            <td class="code_gift"><input class="form-control" type="text" name="contract_gift[code][]"></td> 
                            <td>
                                <select class="select-product select2 select2_basic form-control" name="contract_product[product_id][]">
                                    <option value="">- Chọn -</option>
                                    <?php 
                                        foreach ($this->products as $value) {
                                            if ($value['type'] == 'tang-kem'){
                                                $selected_product_id = ($value['id'] == $product_id) ? ' selected="selected"' : "";
                                    ?>
                                        <option value="<?php echo $value['id'] ?>" data-info='<?php echo json_encode($value) ?>'<?php echo $selected_product_id;?>><?php echo $value["name"] ?></option>
                                    <?php
                                            }
                                        }
                                    ?>
                                </select>
                            </td>
                            <td class="unit_gift"><input class="form-control" type="text" name="contract_gift[unit][]"></td>
                            <td class="numbers_gift"><input class="form-control" type="number" name="contract_gift[numbers][]" min="1"></td>
                            <td><i class="fa fa-trash delete-row-gift" aria-hidden="true" style="color:red; margin: 5px 0 0 5px; font-size: 20px;"></i></td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
            <a href="javascript:void(0);" class="btn btn-default" id="add_row_gift" style="margin-bottom: 5px; background-color: #5cb85c; color: white;">Thêm quà tặng</a>
        </div>
	</div>
</form>

<?php $this->headScript()->captureStart() ?>
	// Xử lý load tỉnh thành
	$('select[name="location_city_id"]').change(function() {
		var select = 'input[name="location_district_id"]';
		var parent = $(select).parent();
		$('.select2-container', parent).select2('val', '');
		$(select).attr('data-parent', $(this).val());
    });
    
    // Xử lý load Quận huyện => Phường xã
    $('input[name="location_district_id"]').change(function() {
        var select = 'input[name="location_town_id"]';
        var parent = $(select).parent();
        $('.select2-container', parent).select2('val', '');
        $(select).attr('data-parent', $(this).val());
    });
    
    // Kiểm tra thông tin khách hàng
    if($('input[name="phone"]').val()) {
        var val = $('input[name="phone"]').val().trim();
        checkContactToElement(val, null);
    }
    
    $('input[name="phone"]').blur(function() {
        var val = $(this).val().trim();
        checkContactToElement(val, 'element');
    });
    
    $('input[name="phone"]').keypress(function (event) {
		if(event.charCode == 13) {
			$('input[name="phone"]').blur();
		}
	});

    $(document).ready(function(e){
        $("body").on("change", ".select-product", function(){
            var tr_parent = $(this).parents("tr");
            var info = $(this).find("option:selected").data('info');
            console.log(info);
            if(info){
                tr_parent.find('td.code input').val(info.code);
                tr_parent.find('td.price input').val(info.price);
                tr_parent.find('td.unit input').val(info.unit_product);
            }else{
                tr_parent.find('td input').val('');
                // tr_parent.find('td input').val('');
                updateTotal();
                updatePriceProduct();
                updateDiscountTotal();
            }

        });

        //hàm tính tiền cho bảng sản phẩm
        $("body").on("change", ".numbers input, .discount_percent input", function(){
            // updatePrice();
            var tr_parent = $(this).parents("tr");
            var number = parseInt(tr_parent.find(".numbers input").val());
            if(!number || number < 0){
                number = 1;
                tr_parent.find(".numbers input").val(number);
            }      
            var price = parseInt(tr_parent.find(".price input").val());   
            if(!price || price < 0){
                price = 0;
                tr_parent.find(".price input").val(price);
            } 
            var discount_percent = parseInt(tr_parent.find(".discount_percent input").val())/100;
            if(!discount_percent || discount_percent < 0){
                discount_percent = 0;
                tr_parent.find(".discount_percent input").val(discount_percent);
            }
            tr_parent.find(".discount input").val(number*price*discount_percent);
            tr_parent.find(".total input").val(number*price - number*price*discount_percent);
            updateTotal();
            updatePriceProduct();
            updateDiscountTotal();
        });


        //tổng tiền của mỗi sản phảm
        function updatePrice(){
            var tr_parent = element.parents("tr");
            var number = parseInt(tr_parent.find(".numbers input").val());
            if(!number || number < 0){
                number = 1;
                tr_parent.find(".numbers input").val(number);
            }      
            var price = parseInt(tr_parent.find(".price input").val());   
            if(!price || price < 0){
                price = 0;
                tr_parent.find(".price input").val(price);
            } 
            var discount_percent = parseInt(tr_parent.find(".discount_percent input").val())/100;
            if(!discount_percent || discount_percent < 0){
                discount_percent = 0;
                tr_parent.find(".discount_percent input").val(discount_percent);
            }
            tr_parent.find(".discount input").val(number*price*discount_percent);
            tr_parent.find(".total input").val(number*price - number*price*discount_percent);
        };

        //tổng tiền của tất cả sác sản phẩm chưa trừ chiết khấu
        function updatePriceProduct(){
            var total_price_product = 0;
            $.each($('.product_row'), function (index, value) {
                var p = $(this).find('.price input').val() ? $(this).find('.price input').val() : 0;
                var numbs = $(this).find('.numbers input').val() ? $(this).find('.numbers input').val() : 0;
                total_price_product += (parseInt(p)*parseInt(numbs));
            });
            $(".total_price_product").html(total_price_product);
            $("input[name=total_price_product]").val(total_price_product);
        }

        //tổng tiền của chiết khấu
        function updateDiscountTotal(){
            var total_discount = 0;
            $.each($('.product_row'), function (index, value) {
                var p = $(this).find('.discount input').val()?$(this).find('.discount input').val():0;
                total_discount += parseInt(p);
            });
            $(".total_discount").html(total_discount);
            $("input[name=total_discount]").val(total_discount);
        }

        //tổng tiền của hóa đơn sau khi trừ chiết khấu
        function updateTotal(){
            var total_price = 0;
            $.each($('.product_row'), function (index, value) {
                var t = $(this).find('.total input').val()?$(this).find('.total input').val():0;
                total_price += parseInt(t);

              
            });
            $(".total_price").html(total_price);
            $('input[name=total_price]').val(total_price);
        }

        

        //updatePrice();
        updateTotal();
        updatePriceProduct();
        updateDiscountTotal();

        //Nút thêm một hàng trong bảng sản phẩm
        $('#add_row_product').on('click', function(){
            var table = $(this).parent().find('.table-product');
            table.find('select.select2').select2('destroy');
            var tr    = $(".product_row:last");
            var clone = tr.clone();
            clone.appendTo('.product_body');
            clone.find('input').val('');
            clone.find('select.select2').val('');
            table.find('select.select2').select2();
        });

        //Nút thêm sản phẩm phần quà tặng
        $('#add_row_gift').on('click', function(){
            var table = $(this).parent().find('.table-gift');
            table.find('select.select2').select2('destroy');
            var tr    = $(".gift_row:last");
            var clone = tr.clone();
            clone.appendTo('.gift_body');
            clone.find('input').val('');
            clone.find('select.select2').val('');
            table.find('select.select2').select2();
        });

        //Nút gọi điện
        function popupwindow(url, title, w, h) {
            var left = (screen.width/2)-(w/2);
            var top = (screen.height/2)-(h/2)-100;
            let newWindow = window.open(url, title, 'toolbar=yes, location=no, directories=no, status=no, menubar=yes, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
            return newWindow;
        }
        $('[call_for]').on('click', function () {
            let call_for    = $(this).attr('call_for');
            let phone_number = $(call_for).val();
            let target_url = '<?php echo $this->url('routeAdmin/default', array('controller' => 'contact', 'action' => 'vcall'));?>'+'id/'+phone_number;
            let wd = popupwindow(target_url,'_blank','600','600');
            wd.onbeforeunload = ()=>{

            }
        });

        //Xóa hàng trong bảng sản phẩm
        $('body').on('click', '.delete-row', function(){
            var row = $('.product_row').length;
            if(row > 1){
                $(this).parents('tr').remove();
            }else{
                $(this).parents('tr').find('.price input').val('');
                $(this).parents('tr').find('.numbers input').val('');
                $(this).parents('tr').find('.unit input').val('');
                $(this).parents('tr').find('.discount_percent input').val('');
                $(this).parents('tr').find('.total input').val('');
                $(this).parents('tr').find('.code input').val('');
                $(this).parents('tr').find('.discount input').val('');
                $(this).parents('tr').find('.select2').val(null).trigger('change');
            }
            updateTotal();
            updatePriceProduct();
            updateDiscountTotal();
        });

        //Xóa hàng trong bảng quà tặng
        $('body').on('click', '.delete-row-gift', function(){
            var row = $('.gift_row').length;
            if(row > 1){
                $(this).parents('tr').remove();
            }else{
                $(this).parents('tr').find('.code_gift input').val('');
                $(this).parents('tr').find('.numbers_gift input').val('');
                $(this).parents('tr').find('.unit_gift input').val('');
                $(this).parents('tr').find('.select2').val(null).trigger('change');
            }
        });

    });
<?php $this->headScript()->captureEnd() ?>