<?php
    $myForm = $this->myForm;
    $myForm->prepare();
    
    $elementContact = array(
        array('section' => 'Thông tin khách hàng', 'boxClass' => 'col-md-12'),
        array('element' => $this->contact['phone'], 'label' => 'Số điện thoại', 'boxClass' => 'col-md-3'),
        array('element' => $this->contact['name'], 'label' => 'Họ tên', 'boxClass' => 'col-md-3'),
        array('element' => $this->contact['email'], 'label' => 'Email', 'boxClass' => 'col-md-3'),
        array('element' => $this->contact['birthday'], 'label' => 'Ngày sinh', 'boxClass' => 'col-md-3'),
    );
    $xhtmlContact = $this->partialLoop($this->params['module'] . '/partial/form-view.phtml', $elementContact);
    
    $color_price_owed       = 'text-info';
    if(($this->contract['price_paid'] / $this->contract['price_total'] * 100) < 60) {
        $color_price_owed   = 'text-red';
    } elseif (($this->contract['price_paid'] / $this->contract['price_total'] * 100) < 100) {
        $color_price_owed   = 'text-purple';
    }
    $elementContract = array(
        array('section' => 'Thông tin hợp đồng', 'boxClass' => 'col-md-12'),
        array('element' => '<span class="mask_currency text-info">'. $this->contract['price'] .'</span>', 'label' => 'Đơn giá', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-info">'. $this->contract['price_promotion'] .'</span>', 'label' => 'Chiết khấu', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-info">'. $this->contract['price_total'] .'</span>', 'label' => 'Thành tiền', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-purple">'. $this->contract['price_paid'] .'</span>', 'label' => 'Đã thanh toán', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-info">'. $this->contract['price_accrued'] .'</span>', 'label' => 'Đã chi', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency '. $color_price_owed .'">'. $this->contract['price_owed'] .'</span>', 'label' => 'Công nợ', 'boxClass' => 'col-md-2'),
    );
    $xhtmlContract = $this->partialLoop($this->params['module'] . '/partial/form-view.phtml', $elementContract);
    
    $elements = array(
        array('section' => 'Thông tin thanh toán', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('date'), 'label' => 'Ngày hóa đơn', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('code'), 'label' => 'Mã hóa đơn', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('type'), 'label' => 'Phân loại', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('bill_type_id'), 'label' => 'Hình thức', 'validate' => array('require' => true), 'boxClass' => 'col-md-3'),
        array('element' => $myForm->get('paid_price'), 'label' => 'Tiền thu', 'validate' => array('require' => true), 'boxClass' => 'col-md-3 hidden', 'boxId' => 'input_paid_price'),
        array('element' => $myForm->get('accrued_price'), 'label' => 'Tiền chi', 'validate' => array('require' => true), 'boxClass' => 'col-md-3 hidden', 'boxId' => 'input_accrued_price'),
        array('element' => $myForm->get('note'), 'label' => 'Nội dung/Ghi chú', 'validate' => array('require' => true), 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('modal'), 'validate' => array('require' => true)),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true)),
    );
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<?php
if($this->params['data']['modal'] != 'success') { 
?>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
<?php
} 
?>
    <?php echo @$this->xViewElementErrors($elements);?>
	<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminFormModal" id="adminFormModal">
    	<div class="row">
			<?php echo $xhtmlContact;?>
		</div>
    	<div class="row">
			<?php echo $xhtmlContract;?>
		</div>
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
    </form>
<?php
if($this->params['data']['modal'] != 'success') { 
?>
</div>
<div class="modal-footer">
	<button type="button" class="btn green save-close">Lưu & Đóng</button>
	<button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>
<?php
} 
?>

<script type="text/javascript">
    function optionBill(type) {
    	if(type == 'Thu') {
    		$('#input_paid_price').removeClass('hidden');
    		$('#input_accrued_price').addClass('hidden');
    	} else if(type == 'Chi') {
    		$('#input_paid_price').addClass('hidden');
    		$('#input_accrued_price').removeClass('hidden');
    	} else {
    		$('#input_paid_price').addClass('hidden');
    		$('#input_accrued_price').addClass('hidden');
    	}
    }
    optionBill('<?php echo $myForm->get('type')->getValue();?>');
    
    $('select[name="type"]').change(function() {
    	optionBill($(this).val());
    });
</script>
