<?php
    $myForm = $this->myForm;
    $myForm->prepare();
    
    // Set lại các giá trị của từng element
    
    $elements = array(
        array('section' => 'Thông tin đơn hàng', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('date'), 'label' => 'Ngày tạo', 'validate' => array('require' => true), 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('payment'), 'label' => 'phương thức thanh toán', 'boxClass' => 'col-md-2'),
        array('element' => $myForm->get('id'), 'validate' => array('require' => true)),
        array('element' => $myForm->get('modal'), 'validate' => array('require' => true)),
    );
    
    //$contract = $this->contract;
    $options = !empty($contract['options']) ? unserialize($contract['options']) : array();
    $contract_pro = $options['product'];
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);    
?>

<?php
if($this->params['data']['modal'] != 'success') { 
?>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
<?php
} 
?>
    <?php echo @$this->xViewElementErrors($elements);?>
	<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminFormModal" id="adminFormModal">
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
		
		<div class="contract_product">
            <table class="table table-striped table-bordered table-hover table-product">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã sản phẩm</th> 
                        <th>Tên sản phẩm</th>
                        <th>Đơn vị tính</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Chiết khấu(%)</th>
                        <th>Chiết khấu(đ)</th>
                        <th>Thành tiền</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody class="product_body">
                    <?php
                        $contract_product = $this->params['data']['contract_product'];
                        if(!empty($contract_product['code'][0])) {
                            for ($i = 0; $i < count($contract_product['code']); $i++) {
                                if(!empty($contract_product['code'][$i])) {
                                    $code               = $contract_product['code'][$i];
                                    $unit               = $contract_product['unit_product'][$i];
                                    $numbers            = $contract_product['numbers'][$i];
                                    $price              = $contract_product['price'][$i];
                                    $discount_percent   = $contract_product['discount_percent'][$i];
                                    $discount           = $contract_product['discount'][$i];
                                    $total              = $contract_product['total'][$i];
                                    $product_id         = $contract_product['product_id'][$i];
                        ?>
                        <tr class="product_row">
                            <td></td>
                            <td class="code"><input class="form-control" type="text" name="contract_product[code][]" value="<?php echo $code; ?>" readonly></td> 
                            <td class="products">
                                <select class="select-product select2 select2_basic form-control" name="contract_product[product_id][]">
                                    <option value="">- Chọn -</option>
                                    <?php 
                                        foreach ($this->products as $value) {
                                            if ($value['type'] != 'tang-kem'){
                                                $selected_product_id = ($value['id'] == $product_id) ? ' selected="selected"' : "";
                                    ?>
                                        <option value="<?php echo $value['id'] ?>" data-info='<?php echo json_encode($value) ?>'<?php echo $selected_product_id;?>><?php echo $value["name"] ?></option>
                                    <?php
                                            }
                                        }
                                    ?>
                                </select>
                            </td>
                            <td class="unit"><input class="form-control" type="text" name="contract_product[unit][]" value="<?php echo $unit; ?>" readonly="readonly"></td>
                            <td class="numbers"><input class="form-control" type="number" name="contract_product[numbers][]" value="<?php echo $numbers; ?>" min="1"></td>
                            <td class="price"><input class="form-control" type="number" name="contract_product[price][]" value="<?php echo $price; ?>" min="0" readonly></td>
                            <td class="discount_percent"><input class="form-control" type="text" name="contract_product[discount_percent][]" value="<?php echo $discount_percent; ?>" min="0"></td>
                            <td class="discount"><input class="form-control" type="text" name="contract_product[discount][]" value="<?php echo $discount; ?>" readonly></td>
                            <td class="total"><input class="form-control" type="text" name="contract_product[total][]" value="<?php echo $total; ?>" readonly></td>
                            <td><i class="fa fa-trash delete-row" aria-hidden="true" style="color:red; margin: 5px 0 0 5px; font-size: 20px;"></i></td>
                        </tr>
                    <?php
                            }
                        }
                    } else { 
                        foreach ($contract_pro as $product_detail){
                            ?>
                            <tr class="product_row">
                                <td></td>
                                <td class="code"><input class="form-control" type="text" name="contract_product[code][]" readonly value="<?php echo $product_detail['code']; ?>"></td> 
                                <td class="products">
                                    <select class="select-product select2 select2_basic form-control" name="contract_product[product_id][]">
                                        <option value="">- Chọn -</option>
                                        <?php 
                                            foreach ($this->products as $value) {
                                                if ($value['type'] != 'tang-kem'){
                                        ?>
                                            <option value="<?= $value['id'] ?>" data-info='<?= json_encode($value) ?>' <?php echo ($product_detail['product_id'] == $value['id'])?'selected':false;?>><?= $value["name"] ?></option>
                                        <?php
                                                }
                                            }
                                        ?>
                                    </select>
                                </td>
                                <td class="unit"><input class="form-control" type="text" name="contract_product[unit][]" readonly="readonly" value="<?php echo $product_detail['unit']; ?>"></td>
                                <td class="numbers"><input class="form-control" type="number" name="contract_product[numbers][]" min="1" value="<?php echo $product_detail['numbers']; ?>"></td>
                                <td class="price"><input class="form-control" type="number" name="contract_product[price][]" min="0" readonly value="<?php echo $product_detail['price']; ?>"></td>
                                <td class="discount_percent"><input class="form-control" type="text" name="contract_product[discount_percent][]" min="0" value="<?php echo $product_detail['discount_percent']; ?>"></td>
                                <td class="discount"><input class="form-control" type="text" name="contract_product[discount][]" readonly value="<?php echo $product_detail['discount']; ?>"></td>
                                <td class="total"><input class="form-control" type="text" name="contract_product[total][]" readonly value="<?php echo $product_detail['total']; ?>"></td>
                                <td><i class="fa fa-trash delete-row" aria-hidden="true" style="color:red; margin: 5px 0 0 5px; font-size: 20px;"></i></td>
                            </tr>
                        <?php
                        }
                    } ?>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Tổng</td>
                        <td></td> 
                        <td></td> 
                        <td></td> 
                        <td></td> 
                        <td class="total_price_product" style="padding: 10px 0 10px 19px;"></td> 
                        <td></td> 
                        <td class="total_discount" style="padding: 10px 0 10px 19px;"></td>
                        <td class="total_price" style="padding: 10px 0 10px 19px;"></td> 
                    </tr>
                </tfoot>
            </table>
            <a href="javascript:void(0);" class="btn btn-default" id="add_row_product" style="margin-bottom: 5px; background-color: #5cb85c; color: white;">Thêm sản phẩm</a>
        </div>

        <div class="hidden">
            <input type="hidden" name="total_price" value="" >
            <input type="hidden" name="total_discount" value="" >
            <input type="hidden" name="total_price_product" value="" >
        </div>

    </form>
<?php
if($this->params['data']['modal'] != 'success') { 
?>
</div>
<div class="modal-footer">
	<button type="button" class="btn green save-close">Lưu & Đóng</button>
	<button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>
<?php
} 
?>
<script type="text/javascript">
    $(document).ready(function(e){
        $(".modal").on("change", ".select-product", function(){
            var tr_parent = $(this).parents("tr");
            var info = $(this).find("option:selected").data('info');
            console.log(info);
            if(info){
                tr_parent.find('td.code input').val(info.code);
                tr_parent.find('td.price input').val(info.price);
                tr_parent.find('td.unit input').val(info.unit_product);
            }else{
                tr_parent.find('td input').val('');
                // tr_parent.find('td input').val('');
                updateTotal();
                updatePriceProduct();
                updateDiscountTotal();
            }

        });

        //hàm tính tiền cho bảng sản phẩm
        $(".modal").on("change", ".numbers input, .discount_percent input", function(){
            // updatePrice();
            var tr_parent = $(this).parents("tr");
            var number = parseInt(tr_parent.find(".numbers input").val());
            if(!number || number < 0){
                number = 1;
                tr_parent.find(".numbers input").val(number);
            }      
            var price = parseInt(tr_parent.find(".price input").val());   
            if(!price || price < 0){
                price = 0;
                tr_parent.find(".price input").val(price);
            } 
            var discount_percent = parseInt(tr_parent.find(".discount_percent input").val())/100;
            if(!discount_percent || discount_percent < 0){
                discount_percent = 0;
                tr_parent.find(".discount_percent input").val(discount_percent);
            }
            tr_parent.find(".discount input").val(number*price*discount_percent);
            tr_parent.find(".total input").val(number*price - number*price*discount_percent);
            updateTotal();
            updatePriceProduct();
            updateDiscountTotal();
        });


        //tổng tiền của mỗi sản phảm
        function updatePrice(){
            var tr_parent = element.parents("tr");
            var number = parseInt(tr_parent.find(".numbers input").val());
            if(!number || number < 0){
                number = 1;
                tr_parent.find(".numbers input").val(number);
            }      
            var price = parseInt(tr_parent.find(".price input").val());   
            if(!price || price < 0){
                price = 0;
                tr_parent.find(".price input").val(price);
            } 
            var discount_percent = parseInt(tr_parent.find(".discount_percent input").val())/100;
            if(!discount_percent || discount_percent < 0){
                discount_percent = 0;
                tr_parent.find(".discount_percent input").val(discount_percent);
            }
            tr_parent.find(".discount input").val(number*price*discount_percent);
            tr_parent.find(".total input").val(number*price - number*price*discount_percent);
        };

        //tổng tiền của tất cả sác sản phẩm chưa trừ chiết khấu
        function updatePriceProduct(){
            var total_price_product = 0;
            $.each($('.product_row'), function (index, value) {
                var p = $(this).find('.price input').val() ? $(this).find('.price input').val() : 0;
                var numbs = $(this).find('.numbers input').val() ? $(this).find('.numbers input').val() : 0;
                total_price_product += (parseInt(p)*parseInt(numbs));
            });
            $(".total_price_product").html(total_price_product);
            $("input[name=total_price_product]").val(total_price_product);
        }

        //tổng tiền của chiết khấu
        function updateDiscountTotal(){
            var total_discount = 0;
            $.each($('.product_row'), function (index, value) {
                var p = $(this).find('.discount input').val()?$(this).find('.discount input').val():0;
                total_discount += parseInt(p);
            });
            $(".total_discount").html(total_discount);
            $("input[name=total_discount]").val(total_discount);
        }

        //tổng tiền của hóa đơn sau khi trừ chiết khấu
        function updateTotal(){
            var total_price = 0;
            $.each($('.product_row'), function (index, value) {
                var t = $(this).find('.total input').val()?$(this).find('.total input').val():0;
                total_price += parseInt(t);

              
            });
            $(".total_price").html(total_price);
            $('input[name=total_price]').val(total_price);
        }

        

        //updatePrice();
        updateTotal();
        updatePriceProduct();
        updateDiscountTotal();

        //Nút thêm một hàng trong bảng sản phẩm
        $('#add_row_product').on('click', function(){
            var table = $(this).parent().find('.table-product');
            table.find('select.select2').select2('destroy');
            var tr    = $(".product_row:last");
            var clone = tr.clone();
            clone.appendTo('.product_body');
            clone.find('input').val('');
            clone.find('select.select2').val('');
            table.find('select.select2').select2();
        });

        //Nút thêm sản phẩm phần quà tặng
        $('#add_row_gift').on('click', function(){
            var table = $(this).parent().find('.table-gift');
            table.find('select.select2').select2('destroy');
            var tr    = $(".gift_row:last");
            var clone = tr.clone();
            clone.appendTo('.gift_body');
            clone.find('input').val('');
            clone.find('select.select2').val('');
            table.find('select.select2').select2();
        });

        //Xóa hàng trong bảng sản phẩm
        $('.modal').on('click', '.delete-row', function(){
            var row = $('.product_row').length;
            if(row > 1){
                $(this).parents('tr').remove();
            }else{
                $(this).parents('tr').find('.price input').val('');
                $(this).parents('tr').find('.numbers input').val('');
                $(this).parents('tr').find('.unit input').val('');
                $(this).parents('tr').find('.discount_percent input').val('');
                $(this).parents('tr').find('.total input').val('');
                $(this).parents('tr').find('.code input').val('');
                $(this).parents('tr').find('.discount input').val('');
                $(this).parents('tr').find('.select2').val(null).trigger('change');
            }
            updateTotal();
            updatePriceProduct();
            updateDiscountTotal();
        });

        //Xóa hàng trong bảng quà tặng
        $('.modal').on('click', '.delete-row-gift', function(){
            var row = $('.gift_row').length;
            if(row > 1){
                $(this).parents('tr').remove();
            }else{
                $(this).parents('tr').find('.code_gift input').val('');
                $(this).parents('tr').find('.numbers_gift input').val('');
                $(this).parents('tr').find('.unit_gift input').val('');
                $(this).parents('tr').find('.select2').val(null).trigger('change');
            }
        });

    });
</script>
