<?php
    $dateFormat = new \ZendX\Functions\Date();
    
    $myForm = $this->myForm;
    $myForm->prepare();
    
    $elementContact = array(
        array('section' => 'Thông tin khách hàng', 'boxClass' => 'col-md-12'),
        array('element' => $this->contact['phone'], 'label' => 'Số điện thoại', 'boxClass' => 'col-md-3'),
        array('element' => $this->contact['name'], 'label' => 'Họ tên', 'boxClass' => 'col-md-3'),
        array('element' => $this->contact['email'], 'label' => 'Email', 'boxClass' => 'col-md-3'),
    );
    $xhtmlContact = $this->partialLoop($this->params['module'] . '/partial/form-view.phtml', $elementContact);
    
    $color_price_owed       = 'text-info';
    if(($this->contract['price_paid'] / $this->contract['price_total'] * 100) < 60) {
        $color_price_owed   = 'text-red';
    } elseif (($this->contract['price_paid'] / $this->contract['price_total'] * 100) < 100) {
        $color_price_owed   = 'text-purple';
    }
    $elementContract = array(
        array('section' => 'Thông tin hợp đồng', 'boxClass' => 'col-md-12'),
        array('element' => '<span class="mask_currency text-info">'. $this->contract['price'] .'</span>', 'label' => 'Đơn giá', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-info">'. $this->contract['price_promotion'] .'</span>', 'label' => 'Chiết khấu', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-info">'. $this->contract['price_total'] .'</span>', 'label' => 'Thành tiền', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-purple">'. $this->contract['price_paid'] .'</span>', 'label' => 'Đã thanh toán', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency text-info">'. $this->contract['price_accrued'] .'</span>', 'label' => 'Đã chi', 'boxClass' => 'col-md-2'),
        array('element' => '<span class="mask_currency '. $color_price_owed .'">'. $this->contract['price_owed'] .'</span>', 'label' => 'Công nợ', 'boxClass' => 'col-md-2'),
    );
    $xhtmlContract = $this->partialLoop($this->params['module'] . '/partial/form-view.phtml', $elementContract);
    
    $date_diff = $dateFormat->diff(date('Y-m-d'), $this->edu_class['public_date']);
    if($date_diff <= $this->settings['General.Contract.DayMoveClass']['value']) {
        $note = '<div class="col-sm-12"><div class="alert alert-warning">Khi chuyển lớp Giáo vụ sẽ là người xác nhận</div></div>';
        $myForm->get('pending')->setValue('1');
    }
    $elements = array(
        array('section' => 'Thông tin chuyển lớp', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('edu_class_id'), 'label' => 'Chọn lớp học muốn chuyển sang', 'validate' => array('require' => true), 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('move_content'), 'label' => 'Nguyên nhân/Lý do chuyển lớp', 'validate' => array('require' => true), 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('id')),
        array('element' => $myForm->get('modal')),
        array('element' => $myForm->get('pending')),
    );
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
    
    $flag = 0;
    /* if($dateFormat->diff(date('Y-m-d'), $this->edu_class['end_date']) <= 0) {
        $xhtml = '<div class="col-sm-12"><div class="alert alert-danger">Lớp học đã kết thúc bạn không thể chuyển lớp</div></div>';
        $flag = 1;
    } */
?>

<?php
if($this->params['data']['modal'] != 'success') { 
?>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
<?php
} 
?>
    <?php echo @$this->xViewElementErrors($elements);?>
	<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminFormModal" id="adminFormModal">
    	<div class="row">
			<?php echo $xhtmlContact;?>
		</div>
    	<div class="row">
			<?php echo $xhtmlContract;?>
		</div>
    	<div class="row">
			<?php echo $xhtml;?>
    	    <?php echo $note;?>
		</div>
    </form>
<?php
if($this->params['data']['modal'] != 'success') { 
?>
</div>
<div class="modal-footer">
    <?php
    if($flag == 0) { 
    ?>
	<button type="button" class="btn green save-close">Lưu & Đóng</button>
	<?php
    } 
	?>
	<button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>
<?php
} 
?>
