<?php
    $dateFormat = new \ZendX\Functions\Date();
    
    $myForm = $this->myForm;
    $myForm->prepare();
    
    $elementContact = array(
        array('section' => 'Thông tin khách hàng', 'boxClass' => 'col-md-12'),
        array('element' => $this->contact['phone'], 'label' => 'Số điện thoại', 'boxClass' => 'col-md-3'),
        array('element' => $this->contact['name'], 'label' => 'Họ tên', 'boxClass' => 'col-md-3'),
        array('element' => $this->contact['email'], 'label' => 'Email', 'boxClass' => 'col-md-3'),
    );
    $xhtmlContact = $this->partialLoop($this->params['module'] . '/partial/form-view.phtml', $elementContact);
    
    $contract_options = !empty($this->contract['options']) ? unserialize($this->contract['options']) : array();
    $contract_edu_class_ids = !empty($this->contract['edu_class_ids']) ? unserialize($this->contract['edu_class_ids']) : array();
    
    $elementContract = array(
        array('section' => 'Thông tin bảo lưu', 'boxClass' => 'col-md-12'),
        array('element' => $contract_edu_class_ids[$this->contract['edu_class_id']]['reserve_sessions'], 'label' => 'Số buổi đã học', 'boxClass' => 'col-md-3'),
        array('element' => $dateFormat->formatToView($this->contract['reserve_date_begin']), 'label' => 'Bảo lưu từ ngày', 'boxClass' => 'col-md-3'),
        array('element' => $dateFormat->formatToView($this->contract['reserve_date_end']), 'label' => 'Hạn cuối bảo lưu', 'boxClass' => 'col-md-3'),
        array('element' => $contract_edu_class_ids[$this->contract['edu_class_id']]['reserve_content'], 'label' => 'Nguyên nhân/Lý do bảo lưu', 'boxClass' => 'col-md-12'),
    );
    $xhtmlContract = $this->partialLoop($this->params['module'] . '/partial/form-view.phtml', $elementContract);
    
    $elements = array(
        array('section' => 'Chọn lớp học bảo lưu', 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('edu_class_id'), 'label' => 'Lớp học', 'validate' => array('require' => true), 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('id')),
        array('element' => $myForm->get('modal'))
    );
    
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<?php
if($this->params['data']['modal'] != 'success') { 
?>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title"><?php echo $this->caption;?></h4>
</div>
<div class="modal-body">
<?php
} 
?>
    <?php echo @$this->xViewElementErrors($elements);?>
	<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminFormModal" id="adminFormModal">
    	<div class="row">
			<?php echo $xhtmlContact;?>
		</div>
    	<div class="row">
			<?php echo $xhtmlContract;?>
		</div>
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
    </form>
<?php
if($this->params['data']['modal'] != 'success') { 
?>
</div>
<div class="modal-footer">
	<button type="button" class="btn green save-close">Lưu & Đóng</button>
	<button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
</div>
<?php
} 
?>
