<?php
    $dateFormat = new \ZendX\Functions\Date();
    $number = new \ZendX\Functions\Number();

    $myForm = $this->myForm;
    $myForm->prepare();
    
    $arrControl = array(
        array('name' => 'close', 'caption' => 'Quay lại danh sách', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-arrow-left', 'attributes' => array('class' => 'btn')),
    );
    
    $elements = array(
        array('div' => '', 'boxClass' => 'col-md-12', 'boxId' => 'result_check_contract'),
        array('element' => $myForm->get('file_import'), 'label' => 'Chọn file cần import dữ liệu <a href="'. URL_FILES .'/demo/ImportContract.xlsx"><b>(Tải file mẫu)</b></a>', 'validate' => array('require' => true), 'boxClass' => 'col-md-12'),
        array('element' => $myForm->get('submit'), 'label' => ''),
    );

    
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminForm" id="adminForm" enctype="multipart/form-data">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
	
    <?php echo $this->flashMessenger()->render();?>
	<?php echo @$this->xViewElementErrors($elements);?>
	
    <div class="page-content">
    	<div class="row">
			<?php echo $xhtml;?>
		</div>
		<?php
		if(!empty($this->import) && !empty($this->sheetData)) {  
		?>
    	<div class="row">
			<div class="col-md-12">
			    <div class="table-manager" id="table-manager">
                    <div class="table-scrollable">
        				<table class="table table-striped table-bordered table-hover">
            				<thead>
            					<tr>
            					    <th class="col-80">Công cụ</th>
            						<th class="col-50">STT</th>
                                    <th>Ngày tạo</th> <!-- B -->
                                    <th>Mã đơn hàng</th> <!-- C -->
                                    <th>Người tạo</th> <!-- D -->
                                    <th>Số điện thoại</th> <!-- G -->
                                    <th>Mã KH</th> <!-- E -->
                                    <th>Địa chỉ</th> <!-- I -->
                                    <th>Mã vận đơn</th> <!-- J -->
                                    <th>Mã kho</th> <!-- K -->
                                    <th>Mã sản phẩm</th> <!-- L -->
                                    <th>Số lượng</th> <!-- Q -->
                                    <th>Giá bán</th> <!-- S -->
                                    <th>VAT(%)</th> <!-- T -->
                                    <th>CK(%)</th> <!-- U -->
                                    <th>CK(D)</th><!-- V -->
                                    <th>Thành tiền</th> <!-- W -->
                                    <th>Doanh số</th> <!-- Y -->
                                    <th>Doanh thu sau CK</th> <!-- AA -->
                                    <th>Phí vận chuyển</th><!-- AB -->
                                    <th>Doanh thu trước thuế</th><!-- AD -->
                                    <th>VAT(D)</th><!-- AE -->
                                    <th>Doanh thu</th><!-- AF -->
                                    <th>Đã thanh toán</th><!-- AG -->
                                    <th>Còn lại</th><!-- AH -->
                                    <th>Hình thức thanh toán</th><!-- AK -->
                                    <th>Ngày thanh toán</th><!-- AM -->
                                    <th>Nguồn đơn hàng</th><!-- AN -->
                                    <th>Trạng thái ship</th><!-- AO -->
                                    <th>Ghi chú</th><!-- AP -->
                                    <th>Ngày chuyển ship</th><!-- AQ -->
            					</tr>
            				</thead>
            				<tbody>
            					<?php
            					$index = 0;
            					foreach ($this->sheetData AS $key => $val) { 
            					    if((int)$val['G'] > 0) {
            							$index++;
            							
                					    $phone = $number->formatToData(trim($val['G']));
            							if(substr($phone, 0, 1) != '0') {
            								$phone = '0'. $phone;
            							}
            					?>
            					<tr id="tr_<?php echo $index;?>" data-index="<?php echo $index;?>">
            					    <td><a href="javascript:;" data-index="<?php echo $index;?>" class="btn btn-xs default">Import</a></td>
        							<td><?php echo $index;?></td>   
                                    <td><span class="ct_created"><?php echo trim($val['B']);?></span></td> <!-- B -->
                                    <td><span class="ct_code"><?php echo trim($val['C']);?></span></td> <!-- C -->
                                    <td><span class="ct_create_uid"><?php echo trim($val['D']);?></span></td> <!-- D -->
                                    <td><span class="ct_phone"><?php echo $phone;?></span></td>  <!-- G -->
                                    <td><span class="ct_contact_code"><?php echo trim($val['E']);?></span></td> <!-- E -->
                                    <td><span class="ct_address"><?php echo trim($val['I']);?></span></td> <!-- I -->
                                    <td><span class="ct_post_id"><?php echo trim($val['J']);?></span></td> <!-- J -->
                                    <td><span class="ct_ware_id"><?php echo trim($val['K']);?></span></td> <!-- K -->
                                    <td><span class="ct_pro_code"><?php echo trim($val['L']);?></span></td> <!-- L -->
                                    <td><span class="ct_pro_num"><?php echo trim($val['Q']);?></span></td> <!-- Q -->
                                    <td><span class="ct_pro_price"><?php echo trim($val['S']);?></span></td> <!-- S -->
                                    <td><span class="ct_vat_p"><?php echo trim($val['T']);?></span></td> <!-- T -->
                                    <td><span class="ct_ck_p"><?php echo trim($val['U']);?></span></td> <!-- U -->
                                    <td><span class="ct_ck_d"><?php echo trim($val['V']);?></span></td> <!-- V -->
                                    <td><span class="ct_money"><?php echo trim($val['W']);?></span></td>  <!-- W -->
                                    <td><span class="ct_ds"><?php echo trim($val['Y']);?></span></td>  <!-- Y -->
                                    <td><span class="ct_dt_ck"><?php echo trim($val['AA']);?></span></td>  <!-- AA -->
                                    <td><span class="ct_post_money"><?php echo trim($val['AB']);?></span></td> <!-- AB -->
                                    <td><span class="ct_dt_t"><?php echo trim($val['AD']);?></span></td> <!-- AD -->
                                    <td><span class="ct_vat_d"><?php echo trim($val['AE']);?></span></td> <!-- AE -->
                                    <td><span class="ct_dt"><?php echo trim($val['AF']);?></span></td> <!-- AF -->
                                    <td><span class="ct_paid"><?php echo trim($val['AG']);?></span></td> <!-- AG -->
                                    <td><span class="ct_rest"><?php echo trim($val['AH']);?></span></td> <!-- AH -->
                                    <td><span class="ct_pay_type"><?php echo trim($val['AK']);?></span></td> <!-- AK -->
                                    <td><span class="ct_pay_date"><?php echo trim($val['AM']);?></span></td> <!-- AM -->
                                    <td><span class="ct_source"><?php echo trim($val['AN']);?></span></td> <!-- AN -->
                                    <td><span class="ct_ship_status"><?php echo trim($val['AO']);?></span></td> <!-- AO -->
                                    <td><span class="ct_note"><?php echo trim($val['AP']);?></span></td> <!-- AP -->
                                    <td><span class="ct_ship_dated"><?php echo trim($val['AQ']);?></span></td> <!-- AQ -->
        						</tr>
        						<?php
            					    }
            					} 
        						?>
        					</tbody>
            			</table>
        			</div>
    			</div>
			</div>
		</div>
		<?php
		} else {
			echo '<div class="alert alert-danger">Không có dữ liệu import</div>';
		}
		?>
	</div>
</form>

<?php $this->headScript()->captureStart() ?>
	<?php
	if(!empty($this->import) && !empty($this->sheetData)) {  
	?>
	function startImportContract(index) {
		var item = '#tr_'+ index;
		
		if($(item).size() > 0) {
		    var data = {
		    	'source_group_id': $('select[name="source_group_id"]').val(),
		    	'type': $('select[name="type"]').val(),
		    	'user_id': $('select[name="user_id"]').val()
		    };
		    $(item +' span').each(function() {
		        data[$(this).attr('class')] = $(this).text();
		    });
            console.log(data);

            $.ajax({
    			url: "<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => $this->params['action']));?>",
    			type: 'POST',
    			data: data,
    			beforeSend: function() {
    				$(item + ' .btn').html('Đang xử lý ...').removeClass('default').addClass('yellow');
    			},
    			success: function(result) {
    				setTimeout(function(){
    					$(item).removeClass('active');
    					if(result == 'Hoàn thành') {
    						$(item + ' .btn').html('Hoàn thành').removeClass('yellow').addClass('green');
    					} else {
    						$(item + ' .btn').html(result).removeClass('yellow').addClass('red');
    					}

    				    var index_next = parseInt(index) + 1;
    				    startImportContract(index_next); 
    			    }, 100);
    			}
    		});
		} else {
			alert('Import thành công');
		}
	}
    startImportContract(1);
    <?php
	}
    ?>
<?php $this->headScript()->captureEnd() ?>