<?php
    $dateFormat = new \ZendX\Functions\Date();

    $myForm = $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('filter_keyword'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_begin'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_date_end'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_sale_branch'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_sale_group'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_user'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_product'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('filter_reset'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('order')),
        array('element' => $myForm->get('order_by')),
    );
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);

    // Head
    $xhtmlHead  = '<tr>';
    $xhtmlHead .= '<th class="table-checkbox col-40"><input type="checkbox" class="group-checkable" data-set="#table-manager .checkboxes"/></th>';
    $xhtmlHead .= '<th>Công cụ</th>';
    $xhtmlHead .= '<th>Ngày Tạo</th>';
    $xhtmlHead .= '<th>Mã đơn hàng</th>';
    $xhtmlHead .= '<th>Người tạo</th>';
    if($this->params['ssFilter']['filter_date_type'] == 'date_debt') {
        $xhtmlHead .= '<th>Nộp tiền cuối</th>';
    }
    $xhtmlHead .= '<th>Mã KH</th>';
    $xhtmlHead .= '<th>Tên KH</th>';
    $xhtmlHead .= '<th>Điện thoại</th>';
    $xhtmlHead .= '<th>Email</th>';
    $xhtmlHead .= '<th>Địa chỉ</th>';
    $xhtmlHead .= '<th>Loại đơn</th>'; // chưa có
    $xhtmlHead .= '<th>Mã vận đơn</th>';
    $xhtmlHead .= '<th>Đơn vị CP</th>';
    $xhtmlHead .= '<th>Mã kho</th>';
    $xhtmlHead .= '<th>Mã sản phẩm</th>';
    $xhtmlHead .= '<th>Tên sản phẩm</th>';
    $xhtmlHead .= '<th>Mô tả</th>';
    $xhtmlHead .= '<th>Đơn vị tính</th>';
    $xhtmlHead .= '<th>Nhóm sản phẩm</th>';
    $xhtmlHead .= '<th>Số lượng</th>';
    $xhtmlHead .= '<th>Số lượng tặng</th>';
    $xhtmlHead .= '<th>Đơn giá</th>';
    $xhtmlHead .= '<th>VAT(%)</th>';
    $xhtmlHead .= '<th>CK(%)</th>';
    $xhtmlHead .= '<th>CK(D)</th>';
    $xhtmlHead .= '<th>Thành tiền</th>';
    $xhtmlHead .= '<th>Phí vận chuyển</th>';
    $xhtmlHead .= '<th>Doanh thu</th>';
    $xhtmlHead .= '<th>Đã thanh toán</th>';
    $xhtmlHead .= '<th>Còn lại</th>';
    $xhtmlHead .= '<th>Hình thức thanh toán</th>';
    $xhtmlHead .= '<th>Ngày thanh toán</th>';
    $xhtmlHead .= '<th>Nguồn đơn hàng</th>';
    $xhtmlHead .= '<th>Trạng thái thực</th>';
    $xhtmlHead .= '<th>Ghi chú</th>';
    $xhtmlHead .= '<th>Ngày chuyển ship</th>';
    $xhtmlHead .= '<th>Cân nặng</th>';

    // $xhtmlHead .= '<th>Ghi chú</th>';
	$xhtmlHead .= '</tr>';
    
    // Danh sách
    $xhtmlItems = '';
    if($this->items->count() > 0) {
    	$stt = 0;
        foreach ($this->items AS $key => $item) {
        	$stt++;
        	$cid                    = @$this->xFormInput('cid[]', $item->id, array('type' => 'checkbox', 'class' => 'checkboxes'));
        	$id                     = $item->id;
        	$index                  = $item->index;
            $code                   = $item->code;
            $date                   = $dateFormat->formatToView($item->date);
            $contact_phone          = $item->contact_phone;
            $contact_name           = $item->contact_name;
            $price                  = $item->price;
            $price_promotion        = $item->price_promotion;
            $price_total            = $item->price_total;
            $price_paid             = $item->price_paid;
            $price_accrued          = $item->price_accrued;
            $price_owed             = $item->price_owed;
            $product_id             = $item->product_id ? $this->product[$item->product_id]['name'] : '';
            $user_id                = $item->user_id ? $this->user[$item->user_id]['name'] : '';
            $sale_group_id          = $item->sale_group_id ? '<br>'.  $this->sale_group[$item->sale_group_id]['name'] : '';
            $sale_branch_id         = $item->sale_branch_id ? ' - '. $this->sale_branch[$item->sale_branch_id]['name'] : '';
            $created                = $dateFormat->formatToView($item->created, 'd/m/Y H:i:s');
            $created_by             = $this->user[$item->created_by]['name'];
            $sale_group_created_by  = $this->user[$item->created_by]['sale_group_id'] ? '<br>'.  $this->sale_group[$this->user[$item->created_by]['sale_group_id']]['name'] : '';
            $sale_branch_created_by = $this->user[$item->created_by]['sale_branch_id'] ? ' - '.  $this->sale_branch[$this->user[$item->created_by]['sale_branch_id']]['name'] : '';
            
            $options                = $item->options ? unserialize($item['options']) : array();
            $pending                = $item->pending ? unserialize($item['pending']) : array();
            $products               = $options['product'];
            $contact_code           = $item->contact_code;
            $address                = $item->address;
            $tracking_code          = $item->tracking_code;
            $ware_id                = $item->ware_id;
            $transport_fee          = $item->transport_fee;
            $transport_status       = $item->transport_status;
            $transport_dated        = $item->transport_dated;
            $transport_service      = $item->transport_service;
            $weight                 = $item->weight;
            $payment                = $this->payment[$item->payment]['name'];
            
            if (!empty($products)){
                $product_name       = '';
                $product_code       = '';
                $product_unit       = '';
                $product_group      = '';
                $product_sumary     = '';
                $price_product      = '';
                $number             = '';
                $discount           = '';
                $vat                = '';
                $ck_percent         = '';
                $ck_d               = '';
            
                $total              = 0;
                $sales              = 0;
                
                foreach ($this->vat AS $key => $vats){
                    $vat = $vats['name'].'%';
                }
                
                foreach ($products AS $product){
                    $product_name       .= ($product['product_id']   ? $this->product[$product['product_id']]['name'] : '').'<br>';
                    $product_code       .= ($product['product_id']   ? $this->product[$product['product_id']]['code'] : '').'<br>';
                    $product_unit       .= ($product['product_id']   ? $this->product[$product['product_id']]['unit_product'] : '').'<br>';
                    $product_sumary     .= ($product['product_id']   ? $this->product[$product['product_id']]['sumary_product'] : '').'<br>';
                    $product_group      .= ($product['product_id']   ? $this->product[$product['product_id']]['group_product'] : '').'<br>';
                    $vat                .= $product['vat_percent'].'<br>';
                    $unit                = $product['unit'];
                    $number             .= ($product['numbers']).'</br>';
                    $price_product      .= number_format($product['price']?(int)$product['price']:0, 0, '.' ,',').'<br>';
                    $discount_percent    = $product['discount_percent'];
                    $discount           .= number_format($product['discount']?(int)$product['discount']:0, 0, '.' ,',').'<br>';
                    $total              += $product['total'];
                    $sales              += $product['sales'];
                    $totalCost          = ($total*$vat)/100 + $total;
                }
            } 
            
            
            // Link Action
            $linkView               = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'view', 'id' => $id));
            $linkEdit               = 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'edit')) .'\', {\'id\': \''. $id .'\'});';
            $linkEditNote           = 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'edit-note')) .'\', {\'id\': \''. $id .'\'});';
            $linkDelete             = $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'delete', 'id' => $id));
            $linkBillAdd            = 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'bill-add')) .'\', {\'id\': \''. $id .'\'});';
            $linkContactEdit        = 'javascript:popupAction(\''. $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'contact-edit')) .'\', {\'id\': \''. $item['contact_id'] .'\'});';
            
            // Control Action
            $controlView            = $this->linkAdminHtml($linkView, array('type' => 'icon', 'title' => 'Xem chi tiết', 'class' => 'btn btn-xs blue', 'icon' => 'fa fa-info'));
            
            $controls               = $controlView;
            $controls              .= '<div class="btn-group">
    									<button class="btn green btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
    									   <i class="fa fa-cog"></i> <i class="fa fa-angle-down"></i>
    									</button>
    									<ul class="dropdown-menu" role="menu">
    										<li><a href="javascript:;" onclick="'. $linkContactEdit .'"><i class="fa fa-user"></i> Sửa khách hàng</a></li>
    										<li><a href="javascript:;" onclick="'. $linkEdit .'"><i class="fa fa-edit"></i> Sửa đơn hàng</a></li>
										    <li><a href="javascript:;" onclick="'. $linkEditNote .'"><i class="fa fa-file-text-o"></i> Sửa ghi chú</a></li>
    									    <li class="divider"></li>
    										<li><a href="'. $linkDelete .'"><i class="fa fa-trash"></i> Xóa</a></li>
    									</ul>
    								</div>';
            $xhtmlItems .= '<tr id="tr_'. $id .'" data-id="'. $id .'">
    							<td>'. $cid .'</td>
							    <td class="controls">'. $controls .'</td>
                                <td>'. $date .'</td>
                                <td>'. $code .'</td>
                                <td>'. $user_id.'</td>
							    '. $bill_date_end .'
    							<td>'. $contact_code .'</td>
                                <td>'. $contact_name .'</td>
                                <td>'. $contact_phone .'</td>
                                <td>'. $contact_email .'</td>
                                <td>'. $address .'</td>
                                <td>-----Loại đơn-----</td> 
                                <td>'. $tracking_code .'</td>
                                <td>'. $transport_service .'</td>
                                <td>'. $ware_id .'</td>
							    <td>'. $product_code .'</td>
                                <td>'. $product_name .'</td>
                                <td>'. $product_sumary .'</td>
                                <td>'. $product_unit .'</td>
                                <td>'. $product_group .'</td>
                                <td>'. $number .'</td>
                                <td>---Số lượng tặng-------</td>
    							<td><span class="mask_currency">'. $price_product .'</span></td>
                                <td>'. $vat .'</td>
                                <td>'. $discount_percent .'</td>
                                <td class="mask_currency">'. $discount .'</td>
    							<td class="text-right"><span class="mask_currency text-primary">'. number_format($totalCost) .'</span></td>
                                <td>'.$transport_fee.'</td>
                                <td class="mask_currency text-right">'. $sales .'</td>
                                <td class="mask_currency text-right">'. $options['pay'][0]['paid'] .'</td>
                                <td class="mask_currency text-right">'. $options['pay'][0]['rest'] .'</td>
                                <td>'. $payment .'</td>
                                <td>'. $options['pay'][0]['pay_date'] .'</td>
                                <td>------Nguồn đơn hàng----</td>
                                <td>'. $transport_status .'</td>
                                <td>'. $options['note'] .'</td>
                                <td>'. $transport_dated .'</td>
                                <td>'. $weight .'</td>
    						</tr>';
        }
    }
    
    // Control
    $arrControl = array(
        array( 'name' => 'add', 'caption' => 'Thêm', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'add')), 'icon' => 'fa-plus', 'attributes' => array( 'onclick' => '', 'class' => 'btn' ) ),
        array( 'name' => 'print', 'caption' => 'In đơn hàng', 'link' => 'javascript:;',  'icon' => 'fa-print', 'attributes' => array( 'onclick' => 'javascript:contractPrint();') ),
        array( 
            'name' => 'tool', 'caption' => 'Công cụ', 'link' => 'javascript:;', 'icon' => 'fa-link', 'attributes' => array( 'class' => 'btn dropdown-toggle', 'data-toggle' => 'dropdown', 'data-hover' => 'dropdown' ), 
            'children' => array( 
                array('name' => 'transfer',
                    'caption' => 'Chuyển quyền quản lý',
                    'link' => 'javascript:;',
                    'icon' => 'fa-refresh',
                    'attributes' => array( 'onclick' => 'javascript:contactChangeUser();') ),
                array( 'name' => 'divider' ), 
                array( 'name' => 'import', 'caption' => 'Import dữ liệu', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'import')), 'icon' => 'fa fa fa-upload'),
                array( 'name' => 'importUpdate', 'caption' => 'Cập nhật đơn hàng từ đơn vị vận chuyển', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'importUpdate')), 'icon' => 'fa fa-wrench'),
                array( 'name' => 'export', 'caption' => 'Xuất bản excel', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'export')), 'icon' => 'fa-file-excel-o') 
            ), 'children-class' => 'dropdown-menu pull-right' ),
    );
?>
<form action="<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'filter')); ?>" name="adminFormFilter" id="adminFormFilter" method="post">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-index.phtml', array( 'control' => $arrControl, 'params' => $this->params));?>
		</div>
		<div class="clearfix"></div>
	</div>
    <?php echo $this->flashMessenger()->render();?>
    <div class="page-filter">
    	<div class="row">
    		<?php echo $xhtmlFilter;?>
    	</div>
    </div>
    <div class="page-content">
    	<div class="table-manager" id="table-manager">
    		<div class="table-scrollable">
    			<table class="table table-striped table-bordered table-hover">
    				<thead>
    					<?php echo $xhtmlHead;?>
    				</thead>
    				<tbody>
    					<?php echo $xhtmlItems;?>
    				</tbody>
    			</table>
    		</div>
    		<?php
            	echo $this->paginationControl(\ZendX\Paginator\Paginator::createPaginator($this->count, $this->params['paginator']), 'sliding', $this->params['module'] . '/partial/paginator.phtml', array('currentURL' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'options' => $this->params['paginator']['options'])); 
        	?>
    	</div>
	</div>
</form>
