<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
* { box-sizing: border-box; -moz-box-sizing: border-box; }
body { margin: 0; padding: 30px 0; font: 14px; background-color: #333; font-family: "Roboto";}
.box_title{font-weight: 700; text-align: center; padding-bottom: 20px; font-size: 25px; text-transform: uppercase;}
.address_company{font-weight: 500; text-align: center; padding-bottom: 20px; font-size: 18px;}
.title{font-weight: 700; text-align: center; padding-bottom: 20px; font-size: 25px; text-transform: uppercase;}
.wrapper{ padding: 30px 50px;}
.page { width: 30cm; min-height: 20cm; padding: 0; margin: 10px auto; border: 0; background-color: #FFF; position: relative;}
.page .company{ padding: 0 0 20px; font-size: 11pt; line-height: 15pt;}
.page .table{width: 100%; margin-bottom: 20px;}
.page .table_top tbody tr td{width: 50%; float: left;border: 1px solid #ddd; padding: 10px 15px; margin: 0;} 
.page .table tbody tr td{border: 1px solid #ddd; padding: 10px 15px; margin: 0;} 
.item{text-align: center; font-weight: 500; font-size: 21px;}
.item .note{text-align: center; font-weight: 400; font-size: 15px;}

</style>
<?php 
$dateFormat = new \ZendX\Functions\Date();
$number = new \ZendX\Functions\Number();

foreach ($this->items AS $key => $item) {
    $code                   = $item->code;
    $name                   = $item->contact_name;
    $user                   = $this->user[$item->user_id]['name'];
    $address                = $item->address;
    $phone                  = $item->phone;
    $payment                = $this->payment[$item->payment]['name'];
    $company_department_id  = $this->user[$item->user_id]['company_department_id'];
    $company_department     = $this->company_department[$company_department_id]['name'];
    $created                = $dateFormat->formatToView($item->created, 'd/m/Y');
    $options                = !empty($item->options) ? unserialize($item->options) : array();
    
    $products = $options['product'];
    if (!empty($products)){
        $product_name       = '';
        $price_product      = '';
        $number             = '';
        $discount           = '';
        $total              = 0;
        $total_product      = 0;
        $total_number       = 0;
        $xhtmlProduct = '';
        $i= 0;
        foreach ($products AS $product){
            $i++;
            $product_name       = ($product['product_id'] ? $this->product[$product['product_id']]['name'] : '').'<br>';
            $product_code       = ($product['product_id'] ? $this->product[$product['product_id']]['code'] : '').'<br>';
            $unit               = $product['unit'];
            $number             = ($product['numbers']).'</br>';
            $price_product      = number_format($product['price']?(int)$product['price']:0, 0, '.' ,',').'<br>';
            $discount_percent   = $product['discount_percent'];
            $discount           = number_format($product['discount']?(int)$product['discount']:0, 0, '.' ,',').'<br>';
            $total              = $product['total'];
            $total_number       += $product['numbers'];
            $total_product      += $total;
            foreach ($this->vat AS $key => $vats){
                $vat = $vats['name'];
            }
            
            $sale_vat           = ($total_product * $vat)/100;
           
            $transport_fee      = 0;
            if ($total_number < 3){
                $transport_fee = 30000;
            }
    
            $xhtmlProduct .= '<tr id="tr_'. $id .'" data-id="'. $id .'">
    							<td>'. $i .'</td>
							    <td>'. $product_code .'</td>
							    <td>'. $product_name .'</td>
							    <td>'. $unit .'</td>
							    <td>'. $number .'</td>
    							<td><span class="mask_currency">'. $price_product .'</span></td>
    							<td><span class="mask_currency">'. $discount_percent .'</span></td>
    							<td><span class="mask_currency">'. $discount .'</span></td>
    							<td><span class="mask_currency text-primary">'. number_format($total) .' VNĐ</span></td>
    						</tr>';
        }
    }
?>
<div class="page">
    <div class="wrapper">
        <div class="company">
            <div class="box_title">Công Ty Cổ Phần Elepharma</div>
            <div class="address_company">Số 10, hẻm 1, ngách 8 Ngõ 118 Nguyễn Khánh Toàn, Quan Hoa, Cầu Giấy, Hà Nội</div>
        </div>
        <div class="title">ĐƠN HÀNG : <?php echo $code; ?></div>
        <table class="table table_top table-striped table-bordered table-hover table-product">
            <tbody class="product_body">
                <tr class="product_row">
                    <td>Tên Khách Hàng : <?php echo $name; ?></td>
                    <td>Người Thực Hiện : <?php echo $user; ?></td>
                </tr>
                <tr class="product_row">
                    <td>Địa Chỉ : <?php echo $address; ?></td>
                    <td>Phòng Ban : <?php echo $company_department; ?></td>
                </tr>
                <tr class="product_row">
                    <td>Điện Thoại : <?php echo $phone; ?></td>
                    <td>Ngày Đặt Hàng : <?php echo $created; ?></td>
                </tr>
                <tr class="product_row">
                    <td>Người Nhận : <?php echo $name; ?></td>
                    <td>Phương Thức Thanh Toán : <?php echo $payment; ?></td>
                </tr>
            </tbody>
        </table>
        
        <table class="table table-striped table-bordered table-hover table-product">
        	<thead>
        		<tr>
        			<th>STT</th>
        			<th>Mã Sản Phẩm</th>
        			<th>Tên Sản Phẩm</th>
        			<th>Đơn Vị Tính</th>
        			<th>Số Lượng</th>
        			<th>Đơn Giá</th>
        			<th>CK %</th>
        			<th>Chiết Khấu ( Đ )</th>
        			<th>Thành Tiền</th>
        		</tr>
        	</thead>
            <tbody class="product_body">
                <?php echo $xhtmlProduct; ?>
            </tbody>
            <tbody class="product_body">
            	<tr>
                	<td colspan="8">VAT (%)</td>
                	<td class="mask_currency"><?php echo number_format($vat); ?> %</td>
                </tr>
                <tr>
                	<td colspan="8">Phí vận chuyển</td>
                	<td class="mask_currency"><?php echo number_format($transport_fee); ?> VNĐ</td>
                </tr>
                <tr>
                	<td colspan="8">Tổng</td>
                	<td class="mask_currency"><?php echo number_format($total_product + $transport_fee + $sale_vat); ?> VNĐ</td>
                </tr>
            </tbody>
        </table>
        <div class="sign">
        	<div class="col-sm-4">
        		<div class="item">
        			<div class="name">Người lập đơn</div>
        			<div class="note">(Ký, họ tên)</div>
        		</div>
        	</div>
        	<div class="col-sm-4">
        		<div class="item">
        			<div class="name">Người giao hàng</div>
        			<div class="note">(Ký, họ tên)</div>
        		</div>
        	</div>
        	<div class="col-sm-4">
        		<div class="item">
        			<div class="name">Người nhận hàng</div>
        			<div class="note">(Ký, họ tên)</div>
        		</div>
        	</div>
        </div>
    </div>
</div>
<?php 
}
?>

