<?php
    $dateFormat = new \ZendX\Functions\Date();
    
    $contact_options    = !empty($this->contact['options']) ? unserialize($this->contact['options']) : array();
    $contract_options   = !empty($this->item['options']) ? unserialize($this->item['options']) : array();
    $contract_pending   = !empty($this->item['pending']) ? unserialize($this->item['pending']) : array();
    $user               = $this->user[$this->item['user_id']]['company_department_id'];
    $company_department = $this->company_department[$user]['name'];
    $payment            = $this->payment[$this->item['payment']]['name'];

    $products = $contract_options['product'];
    if (!empty($products)){
        foreach ($this->vat AS $key => $vats){
            $vat = $vats['name'].'%';
        }
        $product_name       = '';
        $price_product      = '';
        $number             = '';
        $discount           = '';
        $total              = 0;
        $xhtmlProduct = '';
        $i= 0;
        foreach ($products AS $product){
            $i++;
            $product_name       = ($product['product_id'] ? $this->product[$product['product_id']]['name'] : '').'<br>';
            $product_code       = ($product['product_id'] ? $this->product[$product['product_id']]['code'] : '').'<br>';
            $unit               = $product['unit'];
            $number             = ($product['numbers']).'</br>';
            $price_product      = number_format($product['price']?(int)$product['price']:0, 0, '.' ,',').'<br>';
            $discount_percent   = $product['discount_percent'];
            $discount           = number_format($product['discount']?(int)$product['discount']:0, 0, '.' ,',').'<br>';
            $total              = $product['total'];
            $total_product      += $total;
            $total_number       += $product['numbers'];
            $totalCost          = ($total_product*$vat)/100 + $total_product;
            $transport_fee      = 0;
            if ($total_number < 3){
                $transport_fee = 30000;
            }
            
            $xhtmlProduct .= '<tr id="tr_'. $id .'" data-id="'. $id .'">
    							<td>'. $i .'</td>
							    <td>'. $product_code .'</td>
							    <td>'. $product_name .'</td>
							    <td>'. $unit .'</td>
							    <td>'. $number .'</td>
    							<td><span class="mask_currency">'. $price_product .'</span></td>
    							<td><span class="mask_currency">'. $discount_percent .'</span></td>
    							<td><span class="mask_currency">'. $discount .'</span></td>
    							<td><span class="mask_currency text-primary">'. number_format($total) .'</span></td>
    						</tr>';
        }
    }
    
    // Đơn hàng
    $arrControl = array(
        array('name' => 'close', 'caption' => 'In Đơn Hàng', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'print', 'id' => $this->item['id'])), 'onclick' => '', 'icon' => 'fa-print', 'attributes' => array('class' => 'btn', 'target' => '_blank')),
        array('name' => 'close', 'caption' => 'Quay lại', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-arrow-left', 'attributes' => array('class' => 'btn')),
    );
    
?>
<form method="post" action="" class="horizontal-form adminForm" role="form" name="adminForm" id="adminForm" class="">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="contract_product">
        <div class="container">
        	<h3 class="title text-center">ĐƠN HÀNG : <?php echo $this->item['code']; ?></h3>
        	<table class="table table-striped table-bordered table-hover table-product">
                <tbody class="product_body">
                    <tr class="product_row">
                        <td>Tên Khách Hàng : <?php echo $this->contact['name']; ?></td>
                        <td>Người Thực Hiện : <?php echo $this->user[$this->item['user_id']]['name']; ?></td>
                    </tr>
                    <tr class="product_row">
                        <td>Địa Chỉ : <?php echo $this->item['address']; ?></td>
                        <td>Phòng Ban : <?php echo $company_department; ?></td>
                    </tr>
                    <tr class="product_row">
                        <td>Điện Thoại : <?php echo $this->item['phone']; ?></td>
                        <td>Ngày Đặt Hàng : <?php echo $dateFormat->formatToView($this->item['created'], 'd/m/Y'); ?></td>
                    </tr>
                    <tr class="product_row">
                        <td>Người Nhận : <?php echo $this->contact['name']; ?></td>
                        <td>Phương Thúc Thanh Toán : <?php echo $payment; ?></td>
                    </tr>
                </tbody>
            </table>
            
            <table class="table table-striped table-bordered table-hover table-product">
            	<thead>
            		<tr>
            			<th>STT</th>
            			<th>Mã Sản Phẩm</th>
            			<th>Tên Sản Phẩm</th>
            			<th>Đơn Vị Tính</th>
            			<th>Số Lượng</th>
            			<th>Đơn Giá</th>
            			<th>Giảm theo %</th>
            			<th>Tổng Chiết Khấu</th>
            			<th>Thành Tiền</th>
            		</tr>
            	</thead>
                <tbody class="product_body">
                    <?php echo $xhtmlProduct; ?>
                </tbody>
                <tbody class="product_body">
                	<tr>
                    	<td colspan="8">VAT( % )</td>
                    	<td class="mask_currency"><?php echo $vat; ?></td>
                    </tr>
            		<tr>
                    	<td colspan="8">Phí vận chuyển</td>
                    	<td class="mask_currency"><?php echo number_format($transport_fee); ?></td>
                    </tr>
                    <tr>
                    	<td colspan="8">Tổng</td>
                    	<td class="mask_currency"><?php echo number_format($totalCost + $transport_fee); ?></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <?php echo $this->flashMessenger()->render();?>
</form>

<?php $this->headScript()->captureStart() ?>
    // Load danh sách hóa đơn của hợp đồng
    load_action('#load_bill', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-bill'));?>', {contract_id: '<?php echo $this->item['id'];?>'});
    
    // Load danh sách vật phẩm đã phát
    load_action('#load_matter', '<?php echo $this->url('routeAdmin/default', array('controller' => 'api', 'action' => 'list-matter'));?>', {contract_id: '<?php echo $this->item['id'];?>'});

<?php $this->headScript()->captureEnd() ?>