<?php
    // Thiết lập Meta
    $this->headTitle('Điền mã kích hoạt');
    $this->headMeta()
         ->appendName('description', $this->settings['General.Meta.Description']['description'])
         ->appendName('keywords', $this->settings['General.Meta.Keywords']['description']);
?>
<div class="box_wrapper">
	<div class="box_activeCode">
	    <?php
	    if(!empty($this->result)) {
	        echo '<div class="text-success">'. $this->result .'</div>';
	    } else {
	    ?>
        <div class="box_title">Kích hoạt khóa học của bạn</div>
        <div class="box_description">Nhập mã mà bạn nhận được vào bên dưới:</div>
        <div class="box_content">
            <form method="post">
                <div class="form-group">
                    <input class="form-input" type="text" id="code" name="code" required="required" placeholder="Nhập mã kích hoạt" value="<?php echo $this->params['data']['code'];?>">
                </div>
                <div class="form-button">
                    <button type="submit" id="submit" name="submit" class="btn">Kích hoạt</button>
                </div>
                <?php
                if(!empty($this->error)) {
                    echo '<div class="text-error">'. $this->error .'</div>';
                } 
                ?>
            </form>
        </div>
        <div class="box_note">Lưu ý: Mỗi khoá học chỉ cần kích hoạt 1 lần duy nhất. Không lặp lại bước này ở lần vào học sau.</div>
        <?php
	    } 
        ?>
	</div>
</div>
