<?php
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('company_name'), 'label' => '', 'validate' => array('require' => true), 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('company_position'), 'label' => '', 'validate' => array('require' => true), 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('company_size'), 'label' => '', 'validate' => array('require' => true), 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('company_career'), 'label' => '', 'validate' => array('require' => true), 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('company_problem'), 'label' => '', 'validate' => array('require' => true), 'boxClass' => 'col-md-6'),
    );
    
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>


<div class="user_box_login">
    <div class="box_content">
        <div class="title">THÔNG TIN TỔ CHỨC</div>
        <div class="text">Cảm ơn anh/chị đã đăng kí tham gia khóa học online miễn phí tại HBR.<br>Hi vọng anh/chị có thể cung cấp thêm một số thông tin về tổ chức để HBR có thể nghiên cứu phát triển<br>các bài giảng hỗ trợ anh/chị tối ưu nhất.</div>
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post" autocomplete="off" class="form">
                    <div class="box_content">
                    	<?php echo $this->flashMessenger()->render();?>
					    <?php //echo @$this->xViewElementErrors($elements);?>
	                    <div class="row">
	    				    <?php echo $xhtml;?>
	    				    <div class="col-md-6">
	    				    	<div class="form-button">
                                    <button type="submit" name="register-submit" class="form-control btn1">GỬI THÔNG TIN</button>
	    				        </div>
	    			        </div>
				        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document ).ready(function() {
    alert ('a');
    });
</script>