<div class="user_box_login">
	<form action="" method="post" autocomplete="off" class="form">
		<div class="box_title">LẤY LẠI MẬT KHẨU</div>
		<div class="box_text">Vui lòng nhập địa chỉ email của bạn để lấy lại mật khẩu.</div>
		<div class="box_content">
			<div class="row">
				<div class="col-sm-6">
                    <div class="form-group">
						<input type="text" class="form-control" name="email" value="<?php echo $this->params['data']['email'];?>" placeholder="Email đăng nhập">
                    </div>
                    <?php
                    if(!empty($this->result['error'])) {
                        echo '<div class="alert alert-danger">'. $this->result['error'] .'</div>';
                    }
                    ?>
                    <?php echo $this->flashMessenger()->render();?>
                    <div class="form-button">
                        <button type="submit" name="submit" class="form-control btn_submit">Đặt lại mật khẩu</button>
                    </div>
				</div>
			</div>
         </div>
	</form>
</div>
