<?php
    // Thiết lập Meta
    $this->headMeta()
         ->appendName('description', $this->settings['General.Meta.Description']['description'])
         ->appendName('keywords', $this->settings['General.Meta.Keywords']['description']);
?>
<div class="page_user">
	<div class="profile-detail">
		<div class="row">
			<div class="col-sm-2">
			    <div class="avatar">
				    <img src="<?php echo $this->params['template']['urlImg'] . '/no-avatar-200.jpg';?>">
				</div>
			</div>
			<div class="col-sm-10">
			    <?php echo $this->flashMessenger()->render();?>
				<div class="info name">Họ tên: <?php echo $this->contact['name'];?></div>
				<div class="info email">Email: <span><?php echo $this->contact['email'];?></span></div>
				<div class="info phone">Phone: <span><?php echo $this->contact['phone'];?></span></div>
				<div class="info address">Address: <span><?php echo $this->contact['address'];?></span></div>
				<div class="config">
				    <?php
                        if ($this->contact['phone'] == '1111111111' || $this->contact['phone'] == '2222222222' || $this->contact['phone'] == '3333333333' || $this->contact['phone'] == '4444444444' || $this->contact['phone'] == '5555555555') {
                    ?>
                    <?php
                        } else {
                    ?>
                        <a href="<?php echo $this->url('routeUser/default', array('controller' => 'index', 'action' => 'update-profile'));?>" class="btn btn-sm default">Sửa thông tin</a>
                        <?php
                            if($this->contact['password_status'] != 2) { 
                        ?>
                        <a href="<?php echo $this->url('routeUser/default', array('controller' => 'index', 'action' => 'change-password'));?>" class="btn btn-sm default">Đổi mật khẩu</a>
                        <?php
                            } 
                        ?>
                    <?php
                        }
                    ?>
				</div>
			</div>
		</div>
	</div>
	<div class="course">
		<ul class="nav nav-tabs">
        	<li class="active"><div class="course-title" data-toggle="tab" href="#course-title">Khóa học của tôi</div></li>
        	<li><div class="course-title" data-toggle="tab" href="#payment-title">Lịch sử giao dịch</div></li>
      	</ul>
      	<div class="tab-content">
    		
    		<div class="course-content box_course tab-pane fade in active" id="course-title">
    		    <div class="gridCourse">
    		    <?php
            	if(count($this->contact_course) >= 0 ) {
            	    echo '<div class="row">';
            	    $xhtml_list = '';
                    $course_list_id  = '';
            	    foreach ($this->contact_course AS $item) {
            	        if ($item['contact_id'] == $this->contact['id']){
            	            $checked           = $item['checked'] ? date_format(date_create($item['checked']), 'd/m/Y H:i') : '';
            	            $payment_id        = $item->payment_id ? $this->payment[$item->payment_id]['name'] : '';
            	            $course_item       = $item['course_id'] ? $this->course_item_default[$item['course_id']]['name'] : '';
            	            $course_image      = $item['course_id'] ? $this->course_item_default[$item['course_id']]['image_thumb'] : '';
            	            $price             = $item['course_id'] ? $this->course_item_default[$item['course_id']]['price'] : '';
            	            $price_sale        = $item['course_id'] ? $this->course_item_default[$item['course_id']]['price_sale'] : '';
            	            $price_sale_percent= $item['course_id'] ? $this->course_item_default[$item['course_id']]['price_sale_percent'] : '';
            	            $code              = $item->code;

                            $course_id         .= ($item['course_id']).' ';

            	            $price_product     = $price - $price_sale;
            	            if(!empty($code)) {
            	                $payment_id  .= '<div class="text-danger">Mã kích hoạt</div>';
            	            }
            	             
            	            $pending = '<span style="color:#ff0000;">Chờ thanh toán</span>';
            	            if($item['pending'] == 1) {
            	                $pending = '<span style="color:#3c763d;">Đã thanh toán</span>';
            	            }
            	            $item_url = '';
            	            if ($item['pending'] == 1){
            	                $item_url 		= $this->url('routeUser/default', array('controller' => 'course', 'action' => 'item', 'id' => $item['course_id']));
            	            } else {
            	                $item_url = 'class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"';
            	            }

            	            $name           = '<a href="'. $item_url .'" title="'. $course_item .'">'. $course_item .'</a>';
            	            $image          = '<a href="'. $item_url .'"><img src="'. $course_image .'"></a>';
            	            $image_medium   = '<a href="'. $item_url .'"><img src="'. $item['course_image_medium'] .'"></a>';
            	            $teacher        = $item['teacher_name'];
            	             
            	            $product        = $item['product'] ? unserialize($item['product']) : array();
            	            $nameProduct    = '';
            	            $totalPrice     = 0;
            	            $i              = 0;

                            $image_product = '';
                            $name_product  = '';
                            if (!empty($item['course_id'])) {
                                $image_product = '<a href="'. $item_url .'" title="'. $course_item .'"><img src="'. $course_image .'" ></a>';
                                $name_product  = $name; 
                                $key = 1;
                                $xhtml_list .= '<tr>
                                                <th scope="row">'.$key++.'</th>
                        						<td><div>'.$name_product.'</div></td>
                        						<td><span class="mask_currency">'.$price_product.'</span>đ</td>
                        						<td>'.$payment_id.'</td>
                        						<td>'.$pending.'</td>
                        						<td>'.$checked.'</td>
    	                                   </tr>';
                                
                                echo '<div class="col-md-25 col-sm-3">
                                        <div class="item">
                                            <div class="image">'.$image_product.'</div>
                                            <div class="name">'.$name_product.'</div>
                                            <div class="pay">'.$pending.'</div>
                                        </div>
                                    </div>';
                            }
                            
                            $product_id = '';
            	            foreach ($product AS $value){
            	                $course_url 		= '';
            	                if ($item['pending'] == 1){
            	                    $course_url 		= $this->url('routeUser/default', array('controller' => 'course', 'action' => 'item', 'id' => $value['product']['id']));
            	                } else {
            	                    $course_url = 'class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"';
            	                }
            	                $i++;

                                $product_id                    .= $value['product']['id'].' ';
            	                $product_name                  = '<a href="'. $course_url .'">'. $this->course_item_default[$value['product']['id']]['name'] .'</a>';
            	                $product_price                 = $this->course_item_default[$value['product']['id']]['price'];
            	                $product_price_sale            = $this->course_item_default[$value['product']['id']]['price_sale'];
            	                $product_price_sale_percent    = $this->course_item_default[$value['product']['id']]['price_sale_percent'];
            	                $image_thumb                   = $this->course_item_default[$value['product']['id']]['image'];
            	                $product_image                 = '<a href="'. $course_url .'"><img src="'. $image_thumb .'"></a>';
            	                $nameProduct .= '<div class="row"><div class="col-xs-8 mask_currency">'. $value['product']['name'] . '</div><div class="col-xs-4 mask_currency">'. $price . '</div></div>';
            	                $course_price = $product_price - $product_price_sale;

                                if (!empty($product_id)) {
                                    $course_list_id .= $product_id;
                                } else {
                                    $course_list_id .= $course_id;
                                }

                	            if (!empty($product_image)){
                	                $image_product = $product_image;
                	                $name_product  = $product_name;
                	            } else {
                	                $image_product = $image;
                	                $name_product  = $name;
                	            }
                	            $key = 1;
                	            

                                echo '<div class="col-md-25 col-sm-3">
                                        <div class="item">
                                            <div class="image">'.$image_product.'</div>
                                            <div class="name">'.$name_product.'</div>
                                            <div class="pay">'.$pending.'</div>
                                        </div>
                                    </div>';
                                
                                $xhtml_list .= '<tr>
                                                <th scope="row">'.$key++.'</th>
                        						<td><div>'.$name_product.'</div></td>
                        						<td><span class="mask_currency">'.$course_price.'</span>đ</td>
                        						<td>'.$payment_id.'</td>
                        						<td>'.$pending.'</td>
                        						<td>'.$checked.'</td>
    	                                   </tr>';
                            }
            	?>
            	<?php
            	        }
            	    }
            	    echo '</div>';
                	} else if($this->contact['group'] != 'full'){
                	    echo '<div class="alert-basic alert-danger">Bạn chưa có khóa học nào</div>';
                	} 
        	    ?>
            	</div>
    		</div>
        	<div class="payment tab-pane fade" id="payment-title">
        		<div class="payment-content">
        			<table class="table">
        				<thead>
        					<tr>
        						<th>STT</th>
        						<th>Khóa học</th>
        						<th>Số tiền</th>
        						<th>Phương thức</th>
        						<th>Trạng thái</th>
        						<th>Kích hoạt</th>
        					</tr>
        				</thead>
        				<tbody>
    						<?php echo $xhtml_list ?>
        				</tbody>
        			</table>
        		</div>
        	</div>
    	</div>
	</div>
</div>
	
<div class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <div class="modal-body">
            <p>Bạn chưa kích hoạt hoặc thanh toán khóa học này, vui lòng thanh toán hoặc kích hoạt khóa học để được học khóa học của HBR.</p>
            <p>Xin cảm ơn</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

<?php
if(count($this->course_item) > 0) {
    $arr_course_id = explode(" ", trim($course_list_id));
    for ($i=0; $i < count($arr_course_id); $i++) { 
        $id =  $arr_course_id[$i];
        $xhtml = '';
        foreach ($this->course_item AS $key => $item) {
            $alias          = $item['alias'];
            $item_url       = $this->url('routeUser/default', array('controller' => 'course', 'action' => 'item', 'id' => $item['id']));
            $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
            $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
            $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
            $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
            $description    = nl2br($item['description']);
            $course_category_name = $item['category_id'] ? $this->course_category[$item['category_id']]['name'] : '';
            /*if ($id != '1553672500-5c4y-821w-26rl-z6wrv2040k30' ) {
                $xhtml .= '<div class="col-xs-6 col-sm-3">
                        <div class="item">
                            <div class="image">'. $image .'</div>
                            <div class="info">
                                <h3 class="title">'. $name .'</h3>
                            </div>
                        </div>
                    </div>';
                    echo '<pre>';
                    print_r($this->contact['id']);
                    echo  '</pre>';
            } else*/
            if($this->contact['phone'] == '1111111111') {
                if ($key < 7) {
                    $xhtml .= '<div class="col-xs-6 col-sm-3">
                        <div class="item">
                            <div class="image">'. $image .'</div>
                            <div class="info">
                                <h3 class="title">'. $name .'</h3>
                            </div>
                        </div>
                    </div>';
                }
            } elseif ($this->contact['phone'] == '2222222222') {
                if ($key < 16) {
                    $xhtml .= '<div class="col-xs-6 col-sm-3">
                        <div class="item">
                            <div class="image">'. $image .'</div>
                            <div class="info">
                                <h3 class="title">'. $name .'</h3>
                            </div>
                        </div>
                    </div>';
                }
            } elseif($this->contact['speaker_care'] == '1514948756-6i1o-sfz3-4668-5b253763g4n8'){
                if ($key >= 16 && $key < 21) {
                    if ($this->contact['phone'] == '3333333333' && $course_category_name == 'Nhân sự') {
                        $xhtml .= '<div class="col-xs-6 col-sm-3">
                            <div class="item">
                                <div class="image">'. $image .'</div>
                                <div class="info">
                                    <h3 class="title">'. $name .'</h3>
                                </div>
                            </div>
                        </div>';
                    } elseif ($this->contact['phone'] == '4444444444' && $course_category_name == 'Sale - Maketing') {
                        $xhtml .= '<div class="col-xs-6 col-sm-3">
                            <div class="item">
                                <div class="image">'. $image .'</div>
                                <div class="info">
                                    <h3 class="title">'. $name .'</h3>
                                </div>
                            </div>
                        </div>';
                    } elseif ($this->contact['phone'] == '5555555555') {
                        $xhtml .= '<div class="col-xs-6 col-sm-3">
                            <div class="item">
                                <div class="image">'. $image .'</div>
                                <div class="info">
                                    <h3 class="title">'. $name .'</h3>
                                </div>
                            </div>
                        </div>';
                    }
                }
            } else {
               if ($key < 16) {
                    $xhtml .= '<div class="col-xs-6 col-sm-3">
                        <div class="item">
                            <div class="image">'. $image .'</div>
                            <div class="info">
                                <h3 class="title">'. $name .'</h3>
                            </div>
                        </div>
                    </div>';
                }
            }
        }
    }
    
    if(!empty($xhtml)) {
?>
<div class="user_box_page_list">.
	<div class="row">
		<div class="col-sm-12">
		<div class="course-title">Khóa học tặng kèm</div>
  			<div class="user_box_content">
  				<div class="box_content">
  					<div class="courseGrid">
  						<div class="row">
  							<?php echo $xhtml;?>
  						</div>
  					</div>
  				</div>
  			</div>
		</div>
	</div>
</div>
<?php
    }
}
?>
<?php $this->headScript()->captureStart() ?>

<?php $this->headScript()->captureEnd() ?>