<div class="user_box_login">
	<form action="" method="post" autocomplete="off" class="form">
		<div class="box_title">ĐĂNG NHẬP TÀI KHOẢN</div>
		<div class="box_content">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<input type="text" class="form-control" name="email" required="required" value="<?php echo $this->params['data']['email'];?>" placeholder="Email đăng nhập">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" required="required" placeholder="Mật khẩu">
					</div>
					<?php
	                if(!empty($this->result['error'])) {
	                    echo '<div class="alert alert-danger">'. $this->result['error'] .'</div>';
	                }
	                ?>
	                <div class="form-group">
                		<label class="remember" for="remember"><input type="checkbox" name="" id="remember"> Nhớ mật khẩu cho tôi</label>
                		<a class="forgot" href="<?php echo $this->url('routeUser/default', array('controller' => 'index', 'action' => 'forgot-password'));?>">Quên mật khẩu?</a> 
                		Hoặc 
                		<a class="forgot" href="<?php echo $this->url('routeUser/default', array('controller' => 'index', 'action' => 'register'));?>">Đăng ký</a>
	                </div>
	                <div class="form-button">
	                    <button type="submit" name="register-submit" class="form-control btn_submit">ĐĂNG NHẬP NGAY</button>
	                </div>
				</div>
			</div>
		</div>
	</form>	
</div>
