<div class="user_box_login">
	<form action="" method="post" autocomplete="off" class="form">
		<div class="box_title">ĐĂNG KÝ TÀI KHOẢN</div>
		<div class="box_text">Với hơn 100 bài giảng trải rộng trên các chủ đề nổi bật như Bán hàng, Marketing, Nhân sự... từ các chuyên gia hàng đầu<br>trong nước và thế giới, HBR hi vọng có thể cung cấp cho Anh/Chị hệ thống kiến thức khoa học, kèm các công cụ quan trọng & các kỹ năng<br>cần thiết về Lãnh đạo & Quản trị.</div>
		<div class="box_link">Bạn đã có tài khoản?<a href="<?php echo $this->url('routeUser/default', array('controller' => 'index', 'action' => 'login'));?>">Đăng nhập tại đây</a></div>
		<div class="box_content">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<input type="text" class="form-control" name="name" value="<?php echo $this->params['data']['name'];?>" placeholder="Họ và tên">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="phone" value="<?php echo $this->params['data']['phone'];?>" placeholder="Điện thoại">
					</div>
					
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<input type="text" class="form-control" name="email" value="<?php echo $this->params['data']['email'];?>" placeholder="Email đăng nhập">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Mật khẩu">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<?php
		            if(!empty($this->result['error'])) {
		                echo '<div class="alert alert-danger">'. $this->result['error'] .'</div>';
		            }
		            ?>
					<div class="form-button">
                        <button type="submit" name="register-submit" class="form-control btn_submit">ĐĂNG KÝ TÀI KHOẢN</button>
                    </div>
				</div>
			</div>
		</div>
	</form>
</div>
