<?php
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('company_name'), 'label' => 'Tên công ty', 'validate' => array('require' => true), 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('company_position'), 'label' => 'Chức vụ/ Vị trí', 'validate' => array('require' => true), 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('company_size'), 'label' => 'Quy mô công ty', 'validate' => array('require' => true), 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('company_career'), 'label' => 'Chuyên ngành hoạt động', 'validate' => array('require' => true), 'boxClass' => 'col-md-6'),
        array('element' => $myForm->get('company_problem'), 'label' => 'Anh/Chị mong muốn được HBR hỗ trợ trong lĩnh vực nào', 'validate' => array('require' => true), 'boxClass' => 'col-md-12 multicheck'),
    );
    
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>

<div class="user_box_login">
	<form action="" method="post" autocomplete="off" class="form">
        <div class="box_title">THÔNG TIN TỔ CHỨC</div>
        <div class="box_text">Cảm ơn anh/chị đã đăng kí tham gia khóa học online miễn phí tại HBR.<br>Hi vọng anh/chị có thể cung cấp thêm một số thông tin về tổ chức để HBR có thể nghiên cứu phát triển<br>các bài giảng hỗ trợ anh/chị tối ưu nhất.</div>
        <div class="box_content">
		    <?php echo @$this->xViewElementErrors($elements);?>
			<div class="row">
				<?php echo $xhtml;?>
				<div class="col-md-6">
					<div class="form-button">
						<button type="submit" name="register-submit" class="form-control btn_submit">CẬP NHẬT THÔNG TIN</button>
					</div>
				</div>
			</div>
        </div>
	</form>
</div>
