<?php
    $myForm				= $this->myForm;
    $myForm->prepare();
    
    $elements = array(
        array('element' => $myForm->get('name'), 'label' => 'Họ và tên', 'validate' => array('require' => true), 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('phone'), 'label' => 'Điện thoại', 'validate' => array('require' => true), 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('email'), 'label' => 'Email', 'validate' => array('require' => true), 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('sex'), 'label' => 'Giới tính', 'validate' => array('require' => true), 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('birthday_year'), 'label' => 'Năm sinh', 'validate' => array('require' => true), 'boxClass' => 'col-md-4'),
        array('element' => $myForm->get('location_city_id'), 'label' => 'Tỉnh thành', 'validate' => array('require' => true), 'boxClass' => 'col-md-4'),
    );
    
    $xhtml = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
?>


<div class="user_box_login">
	<form action="" method="post" autocomplete="off" class="form">
        <div class="box_title">CẬP NHẬT THÔNG TIN CÁ NHÂN</div>
        <div class="box_content">
		    <?php echo @$this->xViewElementErrors($elements);?>
			<div class="row">
				<?php echo $xhtml;?>
				<div class="col-md-4">
					<div class="form-button">
						<button type="submit" name="register-submit" class="form-control btn_submit">CẬP NHẬT THÔNG TIN</button>
					</div>
				</div>
			</div>
        </div>
	</form>
</div>