<?php 
$item       = $this->viewModel['item'];
$itemAll    = $this->viewModel['itemAll'];
$params     = $this->viewModel['params'];
$template   = '/' . basename(__DIR__);
$urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
$settings   = $this->viewModel['settings'];

if(!empty($_GET['course_id']) && !empty($_GET['contact_id']) && !empty($_GET['token'])) {
    $contact        = $this->getHelperPluginManager()->getServiceLocator()->get('Api\Model\HbrContactTable')->getItem(array('data' => array('id' => $_GET['contact_id'])));
    $item_group     = $this->getHelperPluginManager()->getServiceLocator()->get('Api\Model\HbrCourseGroupTable')->listItem(array('course_item_id' => $_GET['course_id']), array('task' => 'list-all'));
    $item_detail    = $this->getHelperPluginManager()->getServiceLocator()->get('Api\Model\HbrCourseDetailTable')->listItem(array('item_id' => $_GET['course_id']), array('task' => 'list-all'));

    $video_id       = $_GET['video_id'];
    if(empty($video_id)) {
        $video_current = current($item_detail);
        $video_id = $video_current['id'];
    }
    $item_item      = $this->getHelperPluginManager()->getServiceLocator()->get('Api\Model\HbrCourseDetailTable')->getItem(array('id' => $video_id));
    if(!empty($contact) && !empty($item_item)) {
?>
<html>
<head>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/header.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';?>
</head>
<body class="body">
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>
    
    <div class="user_box_course_detail ">
        <div class="box_content">
            <?php
            if(!empty($item_item['video'])) {
                $filename = 'https://media.hbr.edu.vn/hbr/'. $item_item['item_id'] .'_'. $item_item['video'] .'.mp4/playlist.m3u8';
                if(strpos($item_item['video'], 'youtube') > 0) {
                    $filename = $item_item['video'];
                    $urlValue = strip_tags($filename);
                    if (stripos($urlValue, "https://youtu.be") !== false) {
                        $idVideo = explode('be/', $urlValue);
                    } elseif (stripos($urlValue, "https://www.youtube.com/embed") !== false) {
                        $idVideo = explode('embed/', $urlValue);
                    } else {
                        $idVideo = explode('?v=', $urlValue);
                    }
                    
                    $id = $idVideo[1];
                    if (strpos($idVideo[1], '?')) {
                        $idVideo = explode('?', $idVideo[0]);
                    }
                    if (strpos($idVideo[1], '&')) {
                        $idVideoTmp = explode('&', $idVideo[1]);
                        $id = $idVideoTmp[0];
                    }
                    
                    $xvideo = '<div class="info_video"><div class="embed-responsive embed-responsive-16by9" id="video">
                                    <iframe id="video" class="embed-responsive-item" src="//www.youtube.com/embed/'. $id .'?rel=0&autoplay=1"></iframe>
                                </div></div>';
                    echo $xvideo;
                    /*echo '<div class="info_video"><div id="video_course_youtube"></div></div>';
                    echo '<script type="text/javascript">
                            jwplayer("video_course_youtube").setup({
                                file: "'. $item_item['video'] .'",
                                autostart: false,
                                width: "100%",
                                aspectratio: "16:9"
                            });
                        </script>';*/
                } else {
                    echo '<div class="info_video"><div id="video_course"></div></div>';
                }
            }
            ?>
            
            <div class="menuList_content">
                <div class="menu">
                <?php
                foreach ($item_group AS $value) {
                    $group_id = $value['id'];
                    $group_name = $value['name'];
                    $i = 0;
                    echo '<div class="group">'. $group_name .'</div>';
                    foreach ($item_detail AS $key => $val) {
                        if ($val['group_id'] == $group_id){
                            $i++;

                            $link_video  = DOMAIN .'/xem-video-free?video_id='. $val['id'];
                            $link_video .= '&course_id='. $_GET['course_id'];
                            $link_video .= '&contact_id='. $_GET['contact_id'];
                            $link_video .= '&token='. $_GET['token'];

                            $name = '<a href="'. $link_video .'">'.$i.'. '. $val['name'] .'</a>';
                            $class = ($video_id == $val['id']) ? ' active' : '';
                            
                            echo '<div class="item'. $class .'">
                                    <div class="title">'. $name .'</div>
                                </div>';
                        }
                    }
                }
                ?>
                </div>
            </div>
        </div>
    </div>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/layout/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    
    <script type="text/javascript">
        flowplayer(function (api, root) {
            flowplayer.common.xhrGet("https://media.hbr.edu.vn/auth", api.load);
        });

        window.onload = function () {
            flowplayer("#video_course", {
                ratio: 9/16,
                //splash: true,
                bgcolor: "#333333",
                share: false,
                autoplay: true,
                clip: {
                    sources: [{
                        type: "application/x-mpegurl",
                        src:  "<?php echo $filename; ?>" 
                    }]
                }
            });
        };
    </script>
</body>
</html>
<?php
    }
}
?>
