<form method="post" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">
    <div class="page-content">
        <div class="alert alert-danger" role="alert">
        	Xóa bộ nhớ tạm thành công. <a href="javascript:window.history.go(-1);">Bấm vào đây</a> để quay lại trang trước
        </div>
    </div>
</form>