<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
	echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
	
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/top.php';?>
    <div class="box_header" id="box_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><a href="" class="logo"><img src="<?php echo $urlImg;?>/logo.png"></a></div>
                <div class="col-md-10">
                    <div class="clr"></div>
                    <ul class="menu hidden-xs hidden-sm">
                        <li><a href="javascript:;" class="go_box" data-box="box_gioiThieu">Giới thiệu</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_thongTin">Thông tin khóa học</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_aiNen">Đối tương tham gia</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_khoaHoc">Nội dung khóa học</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_dienGia">Diễn giả</a></li>
                        <li><a href="javascript:;" class="go_box btn_book" data-box="box_khoaHoc">Đăng ký ngay</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <span class="hotline">
                    <i class="fa fa-phone" aria-hidden="true"></i> 
                    <?php
                    $hotline = explode(' - ', $setting['General.System.Hotline']['value']);
                    foreach ($hotline AS $key => $val) {
                        if($key == 0) {
                            echo '<a href="tel:'. str_replace('.', '', $val) .'">'. $val .'</a>';
                        } else {
                            echo ' - <a href="tel:'. str_replace('.', '', $val) .'">'. $val .'</a>';
                        }
                    }
                    ?>
                </span>
                <a href="javascript:;" class="go_box btn_book" data-box="box_khoaHoc">Đăng ký ngay</a>
                <a href="javascript:;" class="menu-item">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- end box_header -->

    <div class="box_banner" id="box_banner">
        <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>
    </div>
    <!-- end box_banner -->

    <div class="box_gioiThieu" id="box_gioiThieu">
        <div class="container">
            <div class="box_content">
                <div class="content_1">
                    <div class="title">
                        <p>Cách mạng công nghiệp 4.0 <br>doanh nghiệp nắm bắt cơ hội hay... <br>gục ngã trước thử thách? <img alt="icon" src="<?php echo $urlImg;?>/icon-1.png"></p>
                    </div>
                    <p class="detail">Sức mạnh của kinh tế thị trường và cuộc cách mạng công nghiệp 4.0 đang tác động mạnh mẽ đến toàn bộ mọi hoạt động kinh tế xã hội, thay đổi hoàn toàn hệ thống sản xuất và quản trị hiện nay.</p>
                </div>
                <div class="content_2">
                    <div class="image"><img src="<?php echo $urlImg;?>/diengia.jpg"></div>
                    <div class="info">
                        <div class="title">THEO TS .LÊ THẨM DƯƠNG</div>
                        <div class="box">CƠ HỘI =  NHU CẦU + KHẢ NĂNG ĐÁP ỨNG</div>
                        <div class="text">Nhưng hiện tại khả năng đáp ứng của các doanh nghiệp của Việt Nam vẫn còn nhiều yếu kém. Đối mặt với nhiều nguy cơ trong sự cạnh tranh khốc liệt, các doanh nghiệp Việt Nam bắt buộc phải quan tâm tới những giải pháp nâng cao năng lực cạnh tranh cho toàn hệ thống, đặc biệt là các cấp lãnh đạo, quản lý nhằm định hướng đúng đắn cho các hoạt động kinh doanh, vượt qua đối thủ, giành được thị phần và tạo dựng được vị thế cạnh tranh lâu dài.</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- end box_gioiThieu -->
    
    <div class="box_triThuc" id="box_triThuc">
        <div class="box_content">
            <div class="left"></div>
            <div class="right">
                <div class="w3-content w3-section">
                    <div class="mySlides">
                        <div class="info">
    				        <p class="detail">Nếu ví doanh nghiệp / tổ chức như con tàu và vai trò của người lãnh đạo như thuyền trưởng, chúng ta có thể xem xét sự thành công và phát triển của doanh nghiệp nhìn từ phương diện vai trò của người lãnh đạo, ngoài những ý chí và bản lĩnh cần phải có, lãnh đạo phải kiến tạo, biến đổi và dẫn dắt được doanh nghiệp…. giống như con tàu ra khơi, không những đạt được những mục tiêu kinh tế mà còn phải đến được những bến bờ xã hội tươi đẹp.</p>
    				        <p class="text">THEO <span>TRI THỨC TRẺ</span></p>
    				    </div>
    				    <div class="info">
        				    <p class="detail">Có một câu hỏi lớn khiến các CEO hay những người muốn-trở-thành CEO luôn trăn trở là: Khả năng lãnh đạo & quản lý là tố chất trời sinh hay do rèn luyện mà thành? Không có gì đáng ngạc nhiên khi câu trả lời là: cả hai. Bên cạnh việc “xông pha thực địa” để mài giũa kinh nghiệm và duy trì một trực giác tốt, các nhà lãnh đạo, quản lý cần phải liên tục cập nhật cho mình những nền tảng kiến thức cần thiết nhất, mới nhất để nâng cao năng lực quản trị theo khoa học và giảm bớt các quyết định theo cảm tính đầy rủi ro </p>
        				    <p class="text"><span>-	CEO Thời 4.0  -</span></p>
    				    </div>
				    </div>
				    <div class="img">
    				    <img alt="image" src="<?php echo $urlImg;?>/image-1.jpg">
    				    <img alt="image" src="<?php echo $urlImg;?>/image-2.jpg">
				    </div>
				</div>
            </div>
        </div>
    </div>
    <!-- end box_trithuc -->
    
    <div class="box_thongTin" id="box_thongTin">
        <div class="container">
            <div class="box_content">
                <div class="text">Theo mô hình “Phát triển quản lý & lãnh đạo” đặc biệt của Trường Doanh Nhân HBR, chương trình đào tạo “Quản Trị Điều Hành Chuyên Nghiệp” giúp trang bị những tri thức toàn diện nhất, những năng lực cốt lõi nhất mà một lãnh đạo, quản lý trong công ty/ tổ chức cần phải có. Chương trình được đào tạo trực tiếp và duy nhất bởi TS Lê Thẩm Dương – Chuyên gia cố vấn quản trị doanh nghiệp hàng đầu Việt Nam.</div>
                <div class="info">
                    <h3 class="title">THÔNG TIN KHÓA HỌC</h3>
                    <div class="item">
                        <div class="key">ĐỊA ĐIỂM</div>
                        <div class="value">HÀ NỘI & TP. HỒ CHÍ MINH</div>
                    </div>
                    <div class="item">
                        <div class="key">LỊCH HỌC</div>
                        <div class="value">8H30 - 17H00, CÁC NGÀY THỨ 7 & CHỦ NHẬT</div>
                    </div>
                    
                    <div class="item">
                        <div class="key">THỜI LƯỢNG</div>
                        <div class="value">12 MODULE / 12 THÁNG</div>
                    </div>
                    
                    <div class="item">
                        <div class="key">CHUYÊN GIA</div>
                        <div class="value">TIẾN SĨ LÊ THẨM DƯƠNG</div>
                    </div>
                    
                    <div class="item">
                        <div class="key">HỌC PHÍ</div>
                        <div class="value">
                            <span class="text">5.000.000Đ/ 1 MODULE</span>
                            <a href="javascript:;" class="btn btn-info btn-lg go_box" data-box="box_dangKy">thông tin ưu đãi <i class="fa fa-caret-down"></i> </a>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="key">HOTLINE</div>
                        <div class="value">082.999.6886 Hoặc 082.999.6633</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- end box_thongTin -->
    
        <div class="box_aiNen" id="box_aiNen">
            <div class="box_content">
                <h3 class="box_title">ĐỐI TƯỢNG THAM DỰ</h3>
                <div class="list_item">
                    <div class="item item_1">
                        <img alt="image" class="img-responsive" src="<?php echo $urlImg;?>/image-3.jpg">
                        <p class="title">Cấp lãnh đạo</p>
                        <p class="detail">Cấp lãnh đạo doanh nghiệp: Chủ tịch, CEO, Hội đồng quản trị, Hội đồng thành viên, Ban giám đốc, Ban lãnh đạo, Trợ lý Chủ tịch, Trợ lý CEO…</p>
                    </div>
                    
                    <div class="item item_2">
                        <img alt="image" class="img-responsive" src="<?php echo $urlImg;?>/image-4.jpg">
                        <p class="title">Cấp quản lý</p>
                        <p class="detail">Các nhà quản lý cấp trung trong doanh nghiệp: các giám đốc chức năng, các Trưởng/Phó các phòng, ban bộ phận… trong doanh nghiệp.</p>
                    </div>
                    
                    <div class="item item_3">
                        <img alt="image" class="img-responsive" src="<?php echo $urlImg;?>/image-5.jpg">
                        <p class="title">Nhân viên</p>
                        <p class="detail">Những người có hoài vọng trở thành một “nhà quản lý & lãnh đạo doanh nghiệp” trong tương lai</p>
                    </div>
                    
                </div>
            </div>
        </div>
    <!-- end box_aiNen -->
    
    <div class="box_dieuKien" id="box_dieuKien">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="img"></div>
                </div>
                
                <div class="col-md-6 col-sm-12">
                    <div class="info">
                        <h3 class="title">ĐIỀU KIỆN THAM DỰ</h3>
                        <p class="detail">Để cam kết chất lượng và hiệu quả của khóa đào tạo, yêu cầu học viên phải đáp ứng đủ các điều kiện tham dự sau:</p>
                        <div class="text_1">Trên 22 tuổi (chương trình này không phù hợp với học viên dưới 23 tuổi); </div>
                        <div class="text_2">
                            <p class="item">Đáp ứng một trong hai điều kiện sau: </p>
                            <ul>
                                <li>Từng hoặc đang đảm nhiệm vị trí quản lý, có vai trò quan trọng trong công ty; </li>
                                <li>Có kinh nghiệm làm thực tế ít nhất 03 năm </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_aiNen -->

    <div class="box_loiIch" id="box_loiich">
        <div class="container">
            <div class="box_title">LỢI ÍCH KHÓA ĐÀO TẠO</div>
            <div class="box_detail">Tham gia <a href="https://hbr.edu.vn/alok-mini-mba" style="color:#fff">khóa học CEO tại Hà Nội</a>, học viên sẽ được trang bị tư duy và kiến thức của <br>một nhà Quản Trị Điều Hành Chuyên Nghiệp:</div>
            <div class="box_content">
                <div class="item">
                    <div class="item_content item_1">
                        <p>Kiến thức nền tảng trên nhiều lĩnh vực, đặc biệt là kiến thức về công nghệ, cập nhật các xu hướng mới để có sự chuẩn bị phù hợp cho doanh nghiệp khi đối mặt với thách thức trong thời đại 4.0.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item_content item_2">
                        <p>Được trang bị tư duy và nhận thức cốt lõi của một nhà lãnh đạo, quản lý trong môi trường kinh doanh toàn cầu.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item_content item_3">
                        <p>Cung cấp khung năng lực – một bức chân dung cụ thể của một CEO chuyên nghiệp: Biết được ai phù hợp; Phải làm như thế nào; Cần trải nghiệm những gì để trở thành một nhà Quản trị điều hành chuyên nghiệp.</p>
                    </div>
                </div>
                
                <div class="item">
                    <div class="item_content item_4">
                        <p>Có tầm nhìn rõ ràng cho con đường sự nghiệp, trở thành CEO - một nghề <br>quản trị thực sự.</p>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
    <!-- end box_loiich -->
    
    <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">
        <div class="box_khoaHoc" id="box_khoaHoc">
            <div class="container">
                <h3 class="box_title">NỘI DUNG KHÓA ĐÀO TẠO</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-xs-1">MODULE</th>
                                <th class="col-xs-3">TÊN CHỦ ĐỀ</th>
                                <th class="col-xs-2">ĐỊA ĐIỂM</th>
                                <th class="col-xs-2">THỜI GIAN TỔ CHỨC</th>
                                <th class="col-xs-2">HỌC PHÍ</th>
                                <th class="col-xs-2">
                                    <select class="selectall form-control input-xs">
                                        <option value="">CHỌN MUA</option>
                                        <option value="HN">HÀ NỘI</option>
                                        <option value="HCM">HỒ CHÍ MINH</option>
                                    </select>
                                </th>
                            </tr>
                        </thead>
            
                        <tbody class="points_table_scrollbar" id="input-workshop">
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">1</td>
                                <td class="col-xs-3 text" rowspan="2">XÂY DỰNG & VẬN HÀNH “CHIẾN LƯỢC CÔNG TY”</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">05 & 06/01/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15415841267v23cho0m223]" type="checkbox" value="HN - Xây dựng & Vận hành chiến lượng công ty" class="hn"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">16 & 17/02/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1541410487g8523n26j065]" type="checkbox" value="HCM - Xây dựng & Vận hành chiến lượng công ty" class="hcm"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">2</td>
                                <td class="col-xs-3 text" rowspan="2">Thiết kế, vận hành & tối ưu "Mô Hình Kinh Doanh"</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">09 & 10/03/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1545363307s2l5k1318315]" type="checkbox" value="HN - Thiết kế, vận hành & tối ưu Mô Hình Kinh Doanh" class="hn"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">16 & 17/03/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15481310754582w165758u]" type="checkbox" value="HCM - Thiết kế, vận hành & tối ưu Mô Hình Kinh Doanh" class="hcm"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">3</td>
                                <td class="col-xs-3 text" rowspan="2">Xây dựng & vận hành " Chiến Lược Nhân Sự Hiện Đại"  </td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">06 & 07/04/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1545363366525gy984t33e]" type="checkbox" value="HN - Xây dựng & vận hành Chiến Lược Nhân Sự Hiện Đại" class="hn"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">04 & 05/05/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1548131126680m2952847j]" type="checkbox" value="HCM - Xây dựng & vận hành Chiến Lược Nhân Sự Hiện Đại" class="hcm"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">4</td>
                                <td class="col-xs-3 text" rowspan="2">Xây dựng và vận hành "Hệ Thống Tuyển Dụng & Đào Tạo Nhân Sự Chuyên Nghiệp"</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">11 & 12/05/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15453634027614035t45v1]" type="checkbox" value="HN - Xây dựng và vận hành Hệ Thống Tuyển Dụng & Đào Tạo Nhân Sự Chuyên Nghiệp" class="hn"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">18 & 19/05/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1548131153hv421518z397]" type="checkbox" value="HCM - Xây dựng và vận hành Hệ Thống Tuyển Dụng & Đào Tạo Nhân Sự Chuyên Nghiệp" class="hcm"></label></td>
                            </tr>

                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">5</td>
                                <td class="col-xs-3 text" rowspan="2">Xây dựng , tổ chức & vận hành " Hệ thống Marketing hiện đại" </td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">15 & 16/06/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15453634705vb4r4y67546]" type="checkbox" value="HN - Xây dựng , tổ chức & vận hành Hệ thống Marketing hiện đại" class="hn"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">22 & 23/06/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[154813119368v7057d02ia]" type="checkbox" value="HCM - Xây dựng , tổ chức & vận hành Hệ thống Marketing hiện đại" class="hcm"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">6</td>
                                <td class="col-xs-3 text" rowspan="2">Xây dựng, tổ chức & vận hành" Hệ thống bán hàng chuyên nghiệp" . </td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">13 & 14/07/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15453635001u64yx0d76e2]" type="checkbox" value="HN - Xây dựng, tổ chức & vận hành Hệ thống bán hàng chuyên nghiệp" class="hn"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">20 & 21/07/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[154813129622h0uag0w771]" type="checkbox" value="HCM - Xây dựng, tổ chức & vận hành Hệ thống bán hàng chuyên nghiệp" class="hcm"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">7</td>
                                <td class="col-xs-3 text" rowspan="2">XÂY DỰNG VÀ PHÁT TRIỂN "THƯƠNG HIỆU LÃNH ĐẠO & TỔ CHỨC"</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">10 & 11/08/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15453636898a63n3czw00j]" type="checkbox" value="HN - XÂY DỰNG VÀ PHÁT TRIỂN THƯƠNG HIỆU LÃNH ĐẠO & TỔ CHỨC" class="hn"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">17 & 18/08/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1548131326x3ui245512o0]" type="checkbox" value="HCM - XÂY DỰNG VÀ PHÁT TRIỂN THƯƠNG HIỆU LÃNH ĐẠO & TỔ CHỨC" class="hcm"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">8</td>
                                <td class="col-xs-3 text" rowspan="2">Xây dựng năng lực lãnh đạo</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">14 & 15/09/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15453637160687q290450k]" type="checkbox" value="HN - Xây dựng năng lực lãnh đạo" class="hn"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">21 & 22/09/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[154813136072kyb7c04866]" type="checkbox" value="HCM - Xây dựng năng lực lãnh đạo" class="hcm"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">9</td>
                                <td class="col-xs-3 text" rowspan="2">Tài chính dành cho Sếp</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">12 & 13/10/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15453637495i5buv512c82]" type="checkbox" value="HN - Tài chính dành cho Sếp" class="hn"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">19 & 20/10/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[154813139280b0j0992l06]" type="checkbox" value="HCM - Tài chính dành cho Sếp" class="hcm"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">10</td>
                                <td class="col-xs-3 text" rowspan="2">Chiến lược nguồn vốn</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">16 & 17/11/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1545363780qi1949p2w638]" type="checkbox" value="HN - Chiến lược nguồn vốn" class="hn"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">23 & 24/11/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[154813141821t66uwx7l33]" type="checkbox" value="HCM - Chiến lược nguồn vốn" class="hcm"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">11</td>
                                <td class="col-xs-3 text" rowspan="2">Quản trị rủi ro cho doanh nghiệp</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">21 & 22/12/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1545363808096j512b8707]" type="checkbox" value="HN - Quản trị rủi ro cho doanh nghiệp" class="hn"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">14 & 15/12/2019</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[154813145366423l711ah8]" type="checkbox" value="HCM - Quản trị rủi ro cho doanh nghiệp" class="hcm"></label></td>
                            </tr>

                            <tr class="odd">
                                <td class="col-xs-1" rowspan="2">12</td>
                                <td class="col-xs-3 text" rowspan="2">Kỹ năng mềm dành cho CEO</td>
                                <td class="col-xs-2">HÀ NỘI</td>
                                <td class="col-xs-2">04 & 05/01/2020</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[1545363839v60iw246439y]" type="checkbox" value="HN - Quản trị rủi ro cho doanh nghiệp" class="hn"></label></td>
                            </tr>
                            
                            <tr class="odd">
                                <td class="col-xs-2">TP. HCM</td>
                                <td class="col-xs-2">11 & 12/01/2020</td>
                                <td class="col-xs-2">5.000.000 đ</td>
                                <td class="col-xs-2"><label>Chọn mua<input name="workshop[15481314774o220ae8bn7g]" type="checkbox" value="HCM - Quản trị rủi ro cho doanh nghiệp" class="hcm"></label></td>
                            </tr>

                            <tr class="odd">
                                <td class="col-xs-3 text" colspan="5" style="text-align: right;">TỔNG HỌC PHÍ</td>
                                <td class="col-xs-2"><span class="total_price mask_currency">0</span></td>
                            </tr>

                            <tr class="odd">
                                <td class="col-xs-3 text" colspan="5" style="text-align: right;">ƯU ĐÃI CÒN</td>
                                <td class="col-xs-2"><span class="total_price_sale mask_currency">0</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end box_loiich -->
        
        <div class="box_dangKy" id="box_dangKy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                    <div class="title_1">ƯU ĐÃI ĐẶC BIỆT</div>
                        <div class="uudai">
                            <div class="text">HỌC PHÍ: 5.000.000Đ/ MODULE</div>
                            <div class="box_content">
                                <p class="text_1">Ưu đãi khi đăng ký theo nhóm</p>
                                <div class="table">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td>01 vé : 4.500.000đ/ 01 Module</td>
                                        </tr>
                                        <tr>
                                            <td>2 - 6 vé : 4.000.000đ/ 01 Module</td>
                                        </tr>
                                        <tr>
                                            <td>7 - 12 vé : 3.500.000đ/ 01 Module</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="text_2">Học viên cũ và đăng ký theo nhóm vui lòng liên hệ Hotline <span>082.999.6886 Hoặc 082.999.6633</span> để nhận ưu đãi và hỗ trợ riêng.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="title_2">ĐĂNG KÝ THAM DỰ KHÓA ĐÀO TẠO</div>
                        <div class="form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" id="input-location_city_id">
                                        <select name="location_city_id" class="form-control">
                                            <option value=""  selected="selected">Chọn địa điểm tham gia</option>
                                            <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                            <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                        </select>
                                     </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group" id="input-name">
                                        <input name="name" type="text" class="form-control" placeholder="Họ và tên">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" id="input-phone">
                                        <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" id="input-email">
                                        <input name="email" type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" id="input-company_name">
                                        <input name="company_name" type="text" class="form-control" placeholder="Công ty">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <?php
                                        $company_position = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-position" )), array('task' => 'cache'));
                                    ?>
                                    <div class="form-group" id="input-company_position">
                                        <select name="company_position" class="form-control">
                                            <option class="company_position" value="">Chức vụ</option>
                                            <?php
                                                foreach ($company_position AS $val) {
                                                    $id     = $val['id'];
                                                    $name   = $val['name'];
                                            ?>  
                                            <option class="company_position" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                            <?php } ?>
                                        </select> 
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" id="input-number">
                                        <a href="javascript:;" class="go_box btn_book" data-box="box_khoaHoc"><input name="number" type="text" class="form-control" placeholder="Vui lòng chọn module" readonly></a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" id="input-price">
                                        <input name="price" type="text" class="form-control mask_currency" placeholder="Thành tiền" readonly>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <?php
                                        $company_problem = $this->getHelperPluginManager()->getServiceLocator()->get('User\Model\DocumentTable')->listItem(array( "where" => array( "code" => "company-problem" )), array('task' => 'cache'));
                                    ?>
                                    <div class="form-group" id="input-company_problem">
                                        <select name="company_problem[]" class="selectpicker form-control" multiple data-selected-text-format="count > 4" title="Vấn đề các anh/Chị đang gặp phải.">
                                            <?php
                                                foreach ($company_problem AS $value) {
                                                    $id     = $value['id'];
                                                    $name   = $value['name'];
                                            ?>  
                                            <option class="company_problem" value="<?php echo $id; ?>"><?php echo $name; ?></option>
                                            <?php } ?>
                                        </select> 
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" id="input-content">
                                        <input name="content" type="text" class="form-control" placeholder="Anh/Chị vui lòng mô tả chi tiết vấn đề của mình">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="btnSuccess">
                                        <input type="hidden" name="form_id" value="<?php echo $item['form_id'];?>">
                                        <input type="hidden" name="type" value="form">
                                        <?php 
                                        if ($link == '') {
                                            $input = '<input type="hidden" name="source" value="landing_page">';
                                        }else{
                                            $input = '<input type="hidden" name="source" value="'.$link.'">';
                                        }
                                        ?>
                                        <?php
                                        echo $input;
                                        ?>
                                        <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                        <input type="button" onclick="javascript:formRegisterCRM('frmRegister');" class="btn-dangky input-lg btn-blue" value="Đăng ký ngay">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <div class="box_thanhToan" id="box_thanhToan">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="thanhToan">
                        <div class="box_title">THÔNG TIN TÀI KHOẢN</div>
                        <div class="box_content">
                            <div class="item">
                                <div class="item_title"><b>1. Chuyển khoản</b></div>
                                <div class="item_detail">
                                    Vui lòng liên hệ Hotline <span>082.999.6886</span> hoặc <span>082.999.6633</span> để được tư vấn rõ hơn.
                                </div>
                            </div>
                            <div class="item">
                                <p class="item_title"><b>2. Nộp tiền mặt trực tiếp</b></p>
                                <p class="item_detail">Tại văn phòng của Langmaster, tầng 15 tòa nhà CTM Complex, số 139 Cầu Giấy, Hà Nội.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="dangKy">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0066982756643!2d105.79666931548647!3d21.032417985996346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab46d9c86b9b%3A0x4879c19d8ad4be47!2zMTM5IEPhuqd1IEdp4bqleSwgUXVhbiBIb2EsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1516414158828" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_thanhtoan -->
    
   <div class="box_dienGia" id="box_dienGia">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                </div>
                <div class="col-md-6 col-sm-12 content">
                    <div class="box_title">
                        <div class="title_1">CHUYÊN GIA ĐÀO TẠO</div>
                        <div class="title_2">TS. Lê Thẩm Dương</div>
                    </div>
                    <div class="box_content">
                        <p>Là một trong những cố vấn của Thống đốc ngân hàng nhà nước Việt Nam, khách mời thường xuyên của chương trình CEO chìa khóa thành công VTV1. Chuyên gia tư vấn quản trị cho rất nhiều tập đoàn và doanh nghiệp vừa và nhỏ trong và ngoài nước.</p>
                        <p>Khách mời, chủ toạ thường xuyên của các diễn đàn cấp quốc gia và khu vực như diễn đàn “Triển vọng kinh tế, tìm vốn cho doanh nghiệp vừa và nhỏ, Thị trường chứng khoán Việt Nam qua từng giai đoạn, các giải pháp hạn chế lạm phát.</p>
                        <p>Trực tiếp giảng dạy tại các NH BIDV, Nông nghiệp & Phát triển Nông thôn, Công thương Việt Nam, Ngoại thương Việt Nam – với số lượng lớn các chi nhánh và các ngân hàng cổ phần, dầu khí, Nam Á, Á Châu, Việt Á.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_dienGia -->

    <?php echo $this->blkDocument($this->arrParams, 'feedback', array('cache' => true, 'type' => array('ltd')));?>
    
    <div class="box_comment">
        <?php
        $link_page = explode('?', $_SERVER['REQUEST_URI']);
        $link_page = 'http://'. $_SERVER['HTTP_HOST'] . $link_page[0];
        ?>
        <div class="container">
            <div class="fb-comments" data-href="<?php echo $link_page;?>" width="1200" data-numposts="10" order_by="reverse_time"></div>
        </div>
    </div>

    <div class="box_images">
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-7.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-8.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-9.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-10.jpg"></div></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-11.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-13.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-14.jpg"></div></td>
            </tr>
        </table>
    </div>
    
    <?php
    echo $this -> headScript()
               -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] .'/me.js?v='. date('dmyHis'), 'text/javascript')
               -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->
    
    <script type="text/javascript">
    $(document).ready(function() {
        var maxSlides = 3;
        var slideWidth = 368; 
        if ($(window).width() < 800) {
            maxSlides = 1;
            slideWidth = 0;
        }
        $('#box_student').show();
        $('#box_student .slider').bxSlider({
            auto: true,
            autoControls: false,
            minSlides: 1,
            maxSlides: maxSlides,
            moveSlides: 1,
            slideWidth: slideWidth,
            slideMargin: 48,
            adaptiveHeight: true,
            responsive: true
        });

        $('.mySlides').bxSlider({
            auto: true,
            autoControls: false,
            minSlides: 1,
            maxSlides: 1,
            moveSlides: 1,
            slideWidth: 600,
            slideMargin: 0,
            adaptiveHeight: true,
            pause:9000,
            responsive: true
        });
    });

    // Hiệu ứng text các box
    if ($(window).width() > 991) {
        $('.box_thongTin .box_content .info .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp2 animated-2s fadeInUp');}
        });
        $('.box_loiich .item .item_content p').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-3s fadeInUp');}
        });
        $('.box_triThuc .row_1 .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-2s fadeInUp');}
        });
        $('.box_aiNen .box_content .item').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-1s fadeInUp');}
        });
        $('.box_dieukien .info').one('inview', function (event, visible) {
            if (visible) {$(this).addClass('animated delayp3 animated-0.5s fadeInRight');}
        });
    }

    $('.mask_currency').autoNumeric("init",{
        mDec: 0,
        aSep: '.',
        aDec: ',', 
    });

    function updatePrice() {
        var total = 0;
        $('#input-workshop input').each(function() {
            if($(this).is(':checked')) {
                total++;
            }
        });

        var total_price = total * 5000000;
        var total_price_sale = total * 5000000;
        if(total < 2) {
            total_price_sale = total * 4500000;
        } else if(total >= 2 && total <= 6) {
            total_price_sale = total * 4000000;
        } else if(total >= 7 && total <= 12) {
            total_price_sale = total * 3500000;
        }

        $('#input-workshop .total_price').autoNumeric('set', total_price);
        $('#input-workshop .total_price_sale').autoNumeric('set', total_price_sale);
        $('#input-number input').val(total);
        $('#input-price input').autoNumeric('set', total_price_sale);
    }

    $('#input-workshop input').click(function() {
        updatePrice();
    });

    $('select.selectall').change(function() {
        var val = $(this).val();
        if(val == 'HN') {
            $('#input-workshop input.hn').prop("checked", true);
            $('#input-workshop input.hcm').prop("checked", false);
        } else if(val == 'HCM') {
            $('#input-workshop input.hn').prop("checked", false);
            $('#input-workshop input.hcm').prop("checked", true);
        } else if(val == 'ALL') {
            $('#input-workshop input.hn').prop("checked", true);
            $('#input-workshop input.hcm').prop("checked", true);
        } else {
            $('#input-workshop input.hn').prop("checked", false);
            $('#input-workshop input.hcm').prop("checked", false);
        }

        updatePrice();
    });
    </script>
</body>
</html>
