<?php 
    $item       = $this->viewModel['item'];
    $itemAll    = $this->viewModel['itemAll'];
    $params     = $this->viewModel['params'];
    $template   = '/' . basename(__DIR__);
    $urlImg     = $this->arrParams['template']['urlThemeTemplate'] . $template . '/images';
    $settings   = $this->viewModel['settings'];
?>
<html>
<head>
    <?php 
	// Title
	echo $this->headTitle($item['name']);
	
	// Meta
	echo $this->headMeta()
              ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
			  ->setCharset('utf-8');
	
	// CSS
    echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->arrParams['template']['urlImg'] . '/favicon.png', 'type' => 'image/x-icon'), 'PREPEND')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/font-awesome.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/fancybox.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/animate.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/bootstrap-select.min.css')
              ->appendStylesheet($this->arrParams['template']['urlThemeTemplate'] . $template .'/css/style.css');
              
    include_once $this->arrParams['template']['pathHtml'] . '/js/header.php';
    ?>
    <meta property="og:image" content="<?php echo 'http://'. $_SERVER['HTTP_HOST'] . $item['image_course'];?>" />
</head>
<body>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/body.php';?>

    <div class="box_header" id="box_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><a href="" class="logo"><img src="<?php echo $urlImg;?>/logo.png"></a></div>
                <div class="col-md-10">
                    <div class="clr"></div>
                    <ul class="menu hidden-xs hidden-sm">
                        <li><a href="javascript:;" class="go_box" data-box="box_gioiThieu">Giới thiệu</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_thongTin">Thông tin khoá học</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_noiDung">Nội dung</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_doiTuong">Đối tượng</a></li>
                        <li><a href="javascript:;" class="go_box" data-box="box_dienGia">Chuyên gia</a></li>
                        <li><a href="javascript:;" class="go_box btn_book" data-box="box_dangKy">Đăng ký ngay</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu_mobile hidden-md hidden-lg">
                <a href="javascript:;">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- end box_header -->

    <div class="box_banner" id="box_banner">
        <div class="image"><a href="javascript:;" class="go_box" data-box="box_dangKy"><img class="img-responsive" src="<?php echo $item['image'];?>"></a></div>
    </div>
    <!-- end box_banner -->

    <div class="box_gioiThieu" id="box_gioiThieu">
        <div class="container">
            <div class="title text-center">VẤN ĐỀ NHỨC NHỐI TẠI CÁC DOANH NGHIỆP VỪA & NHỎ VIỆT NAM </div>
            <div class="box_content">   
                <div class="col-md-6 left">
                    <p>Tháng 7 năm 2018, Forbes Việt Nam công bố danh sách 40 thương hiệu có giá trị nhất Việt Nam. Đứng đầu danh sách là Vinamilk, với giá trị thương hiệu tương đương hơn 2,2 tỷ USD, theo sau là các ông lớn Viettel và VNPT với giá trị tương ứng là 1,39 tỷ USD và 416 triệu USD, đánh dấu bước ngoặt quan trọng của các doanh nghiệp Việt Nam trong việc bước chân vào “Câu lạc bộ thương hiệu tỷ đô-la”. Các thuật ngữ như “định vị thương hiệu” hay “tạo dựng sự khác biệt” dần trở thành xu thế của thời đại, được nhắc đến nhiều trong các cuộc thảo luận của các doanh chủ hay giám đốc thương hiệu, giám đốc truyền thông.</p>
                </div>
                <div class="col-md-6 right">
                    <div class="image"><img src="<?php echo $urlImg;?>/gt1.jpg"></div>
                </div>          
                <div class="col-md-6 left">
                    <div class="image"><img src="<?php echo $urlImg;?>/gt2.jpg"></div>
                </div>
                <div class="col-md-6 right">
                    <p>Trong bối cảnh ấy, một câu hỏi quan trọng được đặt ra, đó là làm thế nào để các thương hiệu Việt Nam, đặc biệt là những thương hiệu của các doanh nghiệp vừa và nhỏ, có thể “hiện thực hóa” định vị thương hiệu của mình. Hay nói một cách khác, với lượng vốn ít, nhân lực hạn chế và chưa có uy tín trên thị trường, làm sao để các doanh nghiệp vừa và nhỏ Việt Nam có thể tận dụng tối ưu các công cụ truyền thông và nguồn lực sẵn có để thực sự xây dựng giá trị hiện hữu cho thương hiệu của mình, từ đó chiếm được một chỗ trong ngăn trí nhớ chật hẹp của khách hàng, cũng như nắm giữ chìa khoá để thu hút & giữ chân nhân tài, tạo dựng lợi thế cạnh tranh bền vững cho doanh nghiệp.</p>
                </div>       
                <div class="clr"></div>   
            </div>
            <div class="bottom">Một sản phẩm có thể lỗi thời nhanh chóng, nhưng một thương hiệu thành công sống mãi với thời gian <br><span>"- Stephen King -"</span></div>
        </div>
    </div>
    
    <div class="box_thongTin" id="box_thongTin">
        <div class="box_title">KHÓA HỌC</div>
        <div class="detail">TỪ TỐT ĐẾN VĨ ĐẠI - CON ĐƯỜNG XÂY DỰNG DOANH NGHIỆP TỚI TRƯỜNG TỒN</div>
        <div class="box_content">
            <div class="text">Với mong muốn mang đến cho Ban lãnh đạo, các Cấp Quản lý doanh nghiệp một hệ thống kiến thức khoa học, kèm với các công cụ quan trọng & các kỹ năng cần thiết trong việc xây dựng và phát triển thương hiệu cho các nhà lãnh đạo và bản thân doanh nghiệp, <span>Trường doanh nhân HBR</span> kết hợp cùng <span>TS Lê Thẩm Dương</span> đã nghiên cứu, thiết kế và triển khai khóa học: <span>"TỪ TỐT ĐẾN VĨ ĐẠI - CON ĐƯỜNG XÂY DỰNG DOANH NGHIỆP TỚI TRƯỜNG TỒN"</span></div>
            <div class="info">
                <div class="item animated delayp2 animated-2s fadeInUp">
                    <div class="key">HÀ NỘI</div>
                    <div class="value">
                        <p>20 & 21/4/2019</p>
                        <p>Phòng hội trường tầng 1, trung tâm văn hóa Ulis - Jonathan KS Choi, ĐH Quốc Gia Hà Nội, 144 Xuân Thủy</p>
                    </div>
                </div>
                <div class="item animated delayp2 animated-2s fadeInUp">
                    <div class="key">TP. HCM</div>
                    <div class="value">
                        <p>27 & 28/4/2019</p>
                        <p>Phòng Ballroom Lầu 9, KS Sen Việt, 33 Cao Thắng, Phường 2, Quận 3, TP.HCM</p>
                    </div>
                </div>
                <div class="item">
                    <div class="key">CHUYÊN GIA</div>
                    <div class="value">TS LÊ THẨM DƯƠNG  - CHUYÊN GIA CỐ VẤN QUẢN TRỊ DOANH NGHIỆP</div>
                </div>
                <div class="item">
                    <div class="key">Học phí</div>
                    <div class="value">5.000.000đ</div>
                </div>
                <div class="item">
                    <div class="key">ƯU ĐÃI</div>
                    <div class="value">ƯU ĐÃI ƯU ĐÃI LỚN KHI ĐĂNG KÝ THEO NHÓM VÀ TRƯỚC NGÀY 20/3/2019:<br>
                                        1 vé: 4.250.000Đ/ HỌC VIÊN<br>
                                        2 - 5 vé: 4.000.000đ/ học viên<br>
                                        HỌC VIÊN CŨ VUI LÒNG LIÊN HỆ HOTLINE ĐỂ NHẬN ƯU ĐÃI RIÊNG.<br>
                    </div>
                </div>
                <div class="item">
                    <div class="key">HOTLINE</div>
                    <div class="value">082.999.6886 hoặc 082.999.6633</div>
                </div>

                <div class="item">
                    <div class="key"></div>
                    <div class="value btn_book">
                        <a href="javascript:;" class="go_box" data-box="box_dangKy">ĐĂNG KÝ KHÓA HỌC</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- end box_thongTin -->
    
    <div class="box_muctieu" id="box_mucTieu">
        <div class="left"></div>
        <div class="right">
            <div class="box_content">
                <div class="box_title">LỢI ÍCH KHÓA HỌC</div>
                <div class="item item-1 animated delayp3 animated-2s fadeInUp">Nắm vững kiến thức nền tảng trong việc xây dựng và phát triển thương hiệu cá nhân, thương hiệu lãnh đạo và thương hiệu tổ chức</div>
                <div class="item item-2 animated delayp3 animated-2s fadeInUp">Hiểu rõ cách thức xây dựng thương hiệu lãnh đạo và tổ chức trong việc gây dựng uy tín, chiếm lĩnh tâm trí khách hàng, thu hút & giữ chân nhân tài, tạo dựng lợi thế cạnh tranh bền vững cho doanh nghiệp.</div>
                <div class="item item-3 animated delayp3 animated-2s fadeInUp">Sử dụng thành thạo các công cụ để truyền thông thương hiệu</div>
                <div class="item item-4 animated delayp3 animated-2s fadeInUp">Tháo gỡ vướng mắc, tư vấn chiến lược xây dựng thương hiệu cho các nhà lãnh đạo & doanh nghiệp</div>
            </div>
        </div>
    </div>

    <div class="box_noiDung" id="box_noiDung">
        <div class="container">
            <div class="title text-center">NỘI DUNG KHOÁ HỌC</div>
            <div class="item animated delayp3 animated-3s fadeInUp animated-1.5s fadeInRight" id="item1">
                <div class="info text-center">Phần 1: Tổng quan về thương hiệu</div>
                <div class="list">
                    <p>Định nghĩa và tầm quan trọng của việc xây dựng thương hiệu</p>
                    <p>Phân loại thương hiệu và các yếu tố tạo nên thương hiệu</p>
                    <p>Khi nào cần xây dựng thương hiệu?</p>
                </div>
            </div>
            <div class="item animated delayp3 animated-3s fadeInUp animated-1.5s fadeInRight" id="item2">
                <div class="info text-center">Phần 2: Xây dựng và phát triển thương hiệu cá nhân</div>
                <div class="list list-hide">
                    <p>Tầm quan trọng và các yếu tố tác động đến việc xây dựng thương hiệu cá nhân</p>
                    <p>Thiết kế chiến lược xây dựng thương hiệu cá nhân</p>
                    <p>Các bước xây dựng và phát triển thương hiệu cá nhân thành công</p>
                    <p>Những công cụ đơn giản xây dựng thương hiệu cá nhân</p>
                    <p>Kiểm tra, điều chỉnh & đo lường việc xây dựng thương hiệu cá nhân</p>
                </div>
            </div>
            <div class="item animated delayp3 animated-3s fadeInUp animated-1.5s fadeInRight" id="item3">
                <div class="info text-center">Phần 3: Xây dựng và phát triển thương hiệu nhà lãnh đạo</div>
                <div class="list list-hide">
                    <p>Sự khác biệt giữa thương hiệu cá nhân và thương hiệu lãnh đạo</p>
                    <p>Những yếu tố nền tảng để xây dựng thương hiệu lãnh đạo</p>
                    <p>Các hình mẫu lãnh đạo nổi tiếng</p>
                    <p>Thiết kế chiến lược xây dựng thương hiệu lãnh đạo</p>
                    <p>Các bước xây dựng và phát triển thương hiệu lãnh đạo</p>
                    <p>Quản trị rủi ro, kiểm tra & điều chỉnh trong việc xây dựng thương hiệu lãnh đạo</p>
                </div>
            </div>
             <div class="item animated delayp3 animated-3s fadeInUp animated-1.5s fadeInRight" id="item4">
                <div class="info text-center">Phần 4: Xây dựng và phát triển thương hiệu tổ chức</div>
                <div class="list list-hide">
                    <p>Vai trò và tầm quan trọng của thương hiệu tổ chức</p>
                    <p>Định vị và định giá thương hiệu cho tổ chức</p>
                    <p>Xây dựng và phát triển thương hiệu nhà tuyển dụng - chìa khoá cốt lõi thu hút & giữ chân nhân tài</p>
                    <p>Thiết kế chiến lược xây dựng và thương hiệu tổ chức</p>
                    <p>Các bước truyền thông thương hiệu tổ chức</p>
                    <p>Quản trị rủi ro, kiểm tra & điều chỉnh trong việc xây dựng thương hiệu tổ chức</p>
                </div>
            </div>
        </div>      
    </div>
    
    <div class="box_doiTuong" id="box_doiTuong">
        <div class="row">
            <div class="col-md-6 left"><div class="image"></div></div>
            <div class="col-md-6 right">
                <div class="title">AI NÊN THAM DỰ</div>
                <div class="content">
                    <p>Ban lãnh đạo doanh nghiệp: Chủ tịch, Thành viên HĐQT, Ban cố vấn doanh nghiệp</p>
                    <p>Ban giám đốc: Tổng GĐ, các GĐ chức năng</p>
                    <p>Trưởng phòng ban, bộ phận, đội nhóm… của các công ty trong và ngoài nước</p>
                    <p>Các chuyên gia muốn cập nhật thêm kiến thức, kỹ năng và xu hướng mới trong lĩnh vực Thương hiệu</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_aiNen -->


    <div class="box_dienGia" id="box_dienGia">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 content">
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="box_title">
                        <div class="title-1">CHUYÊN GIA ĐÀO TẠO</div>
                        <div class="title-2">TS. LÊ THẨM DƯƠNG</div>
                    </div>
                    <div class="box_content">                       
                        <p>Là một trong những cố vấn của Thống đốc ngân hàng nhà nước Việt Nam, khách mời thường xuyên của chương trình CEO chìa khóa thành công VTV1. Chuyên gia tư vấn quản trị cho rất nhiều tập đoàn và doanh nghiệp vừa và nhỏ trong và ngoài nước.</p>
                        <p>Khách mời, chủ toạ thường xuyên của các diễn đàn cấp quốc gia và khu vực như diễn đàn “Triển vọng kinh tế, tìm vốn cho doanh nghiệp vừa và nhỏ, Thị trường chứng khoán Việt Nam qua từng giai đoạn, các giải pháp hạn chế lạm phát.</p>     
                        <p>Trực tiếp giảng dạy tại các NH BIDV, Nông nghiệp & Phát triển Nông thôn, Công thương Việt Nam, Ngoại thương Việt Nam – với số lượng lớn các chi nhánh và các ngân hàng cổ phần, dầu khí, Nam Á, Á Châu, Việt Á.</p>    
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <form action="#" id="frmRegister" name="frmRegister" method="POST" class="">
        <div class="box_dangKy" id="box_dangKy">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title_1">ƯU ĐÃI ĐẶC BIỆT</div>
                            <div class="uudai">
                                <div class="text"> Ưu đãi lớn khi đăng ký theo nhóm và trước ngày 20/03/2018</div>
                                <div class="box_content">
                                    <div class="table">
                                        <table class="table table-bordered">
                                            <tbody>
                                            <tr>
                                                <td class="item">1 vé: 4.250.000Đ/ Học viên</td>
                                            </tr>
                                            <tr>
                                                <td class="item">2-5 vé: 4.000.000Đ/ Học viên</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                <p class="text_2">Học viên cũ và đăng ký theo nhóm vui lòng liên hệ Hotline <span>082.999.6886</span> hoặc <span>082.999.6633</span> để nhận ưu đãi và hỗ trợ riêng.</p>
                            </div>
                        </div>
                    
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="dangKy">
                            <div class="box_title">ĐĂNG KÝ THAM DỰ <br>KHÓA ĐÀO TẠO</div>
                            <div class="box_content">
                                <div class="row">
                                    <div class="col-md-12">
                                    	<div class="form-group" id="input-location_city_id">
                                            <select name="location_city_id" class="form-control">
                                                <option value=""  selected="selected">Chọn địa điểm tham gia</option>
                                                <option value="1471419030-5m0i-1336-1k80-275892616r50">Hà Nội</option>
                                                <option value="1471419543-77s5-83it-g000-9j600uz74951">TP Hồ Chí Minh</option>
                                            </select>
                                         </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" id="input-name">
                                            <input name="name" type="text" class="form-control" placeholder="Họ và tên">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-phone">
                                            <input name="phone" type="text" class="form-control" placeholder="Điện thoại">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-email">
                                            <input name="email" type="text" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-number">
                                            <input name="number" type="number" class="go_box form-control" placeholder="Số vé" min="0">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="input-price">
                                            <input name="price" type="text" class="form-control mask_currency" placeholder="Học phí" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="btnSuccess">
                                            <input type="hidden" name="course_id" value="">
                                            <input type="hidden" name="form_id" value="<?php echo $item['form_id'];?>">
                                            <input type="hidden" name="type" value="form">
                                            <?php 
                                            if ($link == '') {
                                                $input = '<input type="hidden" name="source" value="landing_page">';
                                            }else{
                                                $input = '<input type="hidden" name="source" value="'.$link.'">';
                                            }
                                            ?>
                                            <?php
                                            echo $input;
                                            ?>
                                            <input type="hidden" name="source_detail" value="<?php echo $_SERVER['HTTP_REFERER'];?>">
                                            <input type="button" onclick="javascript:formRegisterCRM('frmRegister');" class="input-lg btn-blue" value="Đăng ký ngay">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end box_dangKy -->
    
    <div class="box_thanhToan" id="box_thanhToan">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="thanhToan">
                        <div class="box_title">THÔNG TIN TÀI KHOẢN</div>
                        <div class="box_content">
                            <div class="item">
                                <div class="item_title"><b>1. Chuyển khoản</b></div>
                                <div class="item_detail">
                                    Vui lòng liên hệ Hotline <span>082.999.6886</span> hoặc <span>082.999.6633</span> để được tư vấn rõ hơn.
                                </div>
                            </div>
                            <div class="item">
                                <p class="item_title"><b>2. Nộp tiền mặt trực tiếp</b></p>
                                <p class="item_detail">Tại văn phòng của Langmaster, tầng 15 tòa nhà CTM Complex, số 139 Cầu Giấy, Hà Nội.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="dangKy">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0066982756643!2d105.79666931548647!3d21.032417985996346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab46d9c86b9b%3A0x4879c19d8ad4be47!2zMTM5IEPhuqd1IEdp4bqleSwgUXVhbiBIb2EsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1516414158828" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end box_thanhtoan -->

    <div class="box_comment">
        <div class="container">
            <div class="fb-comments" data-href="" data-width="100%" data-numposts="10" data-order-by="reverse_time"></div>
        </div>
    </div>

    <div class="box_images">
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-5.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-6.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-7.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-8.jpg"></div></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><div><img src="<?php echo $urlImg;?>/image-9.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-10.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-11.jpg"></div></td>
                <td><div><img src="<?php echo $urlImg;?>/image-12.jpg"></div></td>
            </tr>
        </table>
    </div>
    
    <?php
    echo $this -> headScript()
               -> appendFile($this->arrParams['template']['urlJs'] . '/jquery.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] . '/bootstrap.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlJs'] .'/me.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlPlugin'] .'/numeric.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/jquery.inview.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/fancybox.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bxslider.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/bootstrap-select.min.js', 'text/javascript')
               -> appendFile($this->arrParams['template']['urlThemeTemplate'] . $template .'/js/me.js', 'text/javascript');
    ?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/box/footer.php';?>
    <?php include_once $this->arrParams['template']['pathHtml'] . '/js/footer.php';?>
    <!-- end box_footer -->
    
    <script type="text/javascript">
    $(document).ready(function() {
    	var maxSlides = 3;
        var slideWidth = 368; 
        if ($(window).width() < 800) {
            maxSlides = 1;
            slideWidth = 0;
        }
        $('#bxslider').show();
        $('#bxslider').bxSlider({
            auto: true,
            autoControls: false,
            minSlides: 1,
            maxSlides: maxSlides,
            moveSlides: 1,
            slideWidth: slideWidth,
            slideMargin: 48,
            adaptiveHeight: true,
            responsive: true
        });

        $('.mySlides').bxSlider({
            auto: true,
            autoControls: false,
            minSlides: 1,
            maxSlides: 1,
            moveSlides: 1,
            slideWidth: 600,
            slideMargin: 0,
            adaptiveHeight: true,
            responsive: true
        }, 9000);
    });

    $('.mask_currency').autoNumeric("init",{
        mDec: 0,
        aSep: '.',
        aDec: ',', 
    });

    $('.box_noiDung .info , .box_noiDung .list').click(function() {
        var parent = $(this).parents('.item');
        var id = "#" + $(parent).attr("id");
        $(id + ' .list').slideToggle();
        /* $(this).css('padding','50px 24px 20px 60px'); */
    });
   

     $('input[type="number"]').bind('keyup change', function(){
        var price = parseInt($(this).val()) * 5000000;
        // $('.mask_currency').val(price);
        $(".mask_currency").autoNumeric("set", price);
     });   

     // Thêm course_id
    $('select[name="location_city_id"]').change(function(e) {
      // this  gives me the value after the change event.
        if ($(this).val() == '1471419030-5m0i-1336-1k80-275892616r50') {
            $('input[name="course_id"]').val('1519985703-0x02-1138-z44f-1329564xd9a4')
        }else if ($(this).val() == '1471419543-77s5-83it-g000-9j600uz74951'){
            $('input[name="course_id"]').val('1519810069-8on1-2304-7gki-7148c6r64b8f')
        }
    });
    </script>
</body>
</html>
