<?php
if(count($categories) > 0) {
    foreach ($categories AS $category) {
        $class          = $view->cycle(array('odd', 'even'))->next();
        $category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias']));
        
        $box_title      = '<h2 class="title font-title"><a href="'. $category_url .'" title="'. $category['name'] .'">'. $category['name'] .'</a></h2>';
        
        $items          = $category['items'];
        
        $xhtml          = '';
        if(count($items) > 0) {
            foreach ($items AS $key => $item) {
                $item_url       = $item['meta_url'] ? $item['meta_url'] : $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                
                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                $description    = $item['description'];
                
                $xhtml .= '<div class="item clearfix">
	                        <div class="image font-title">
	                            '. $item['course_code'] .'
	                        </div>
	                        <div class="info">
	                            <h3 class="title">'. $name .'</h3>
	                        </div>
	                    </div>';
            }
        }
        
        $result = '<div class="box_courseHighlight" id="box_courseHighlight">
                    <div class="box_content">
                        <div class="box_title">'. $box_title .'</div>
                        <div class="box_info">'. nl2br($category['description']) .'</div>
                        <div class="box_item clearfix">
                           	'. $xhtml .'
                        </div>
                    </div>
                </div>';
    }
}
?>