<?php
$dateFormat = new \ZendX\Functions\Date();

if(count($categories) > 0) {
    foreach ($categories AS $category) {
        $category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias']));
		$category_title = '<h2 class="title font-title"><a href="'. $category_url .'" title="'. $category['name'] .'">'. $category['name'] .'</a></h2>';
		$category_image = '<img src="'. $category['image'] .'" alt="'. $category['name'] .'">';
		$category_desc  = nl2br($category['description']);
        
        $items          = $category['items'];
        $xhtml          = '';
        if(count($items) > 0) {
            foreach ($items AS $key => $item) {
            	if($key > 0) {
	                $item_url       = $item['meta_url'] ? $item['meta_url'] : $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
	                
	                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
	                $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
	                $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
	                $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
	                $description    = nl2br($item['description']);
	                $created        = $dateFormat->getText($item['created']);
	                
	                $xhtml .= '<h3 class="item">'. $name .'</h3>';
            	}                
            }
        }
        
        $item_first = $items[0];
        $item_first_url = $item_first['meta_url'] ? $item_first['meta_url'] : $view->url('routePostItem', array( 'category_alias' => $item_first['category_alias'], 'alias' => $item_first['alias']));
        
        $result .= '<div class="box_defaultCategoryLeft">
                        <div class="box_title">'. $category_title .'</div>
                        <div class="box_content">
                            <div class="item_first clearfix">
                                <div class="image"><a href="'. $item_first_url .'"><img src="'. $item_first['image_thumb'] .'" alt="'. $item_first['name'] .'"></a></div>
                               	<div class="info">
                                	<h3 class="title"><a href="'. $item_first_url .'">'. $item_first['name'] .'</a></h3>
                                	<div class="category"><a href="'. $view->url('routePostCategory', array( 'category_alias' => $item['category_alias'])) .'" title="'. $item['category_name'] .'">'. $item['category_name'] .'</a> - <span class="date">'. $created .'</span></div>
                                	<div class="desc">'. $description .'</div>
                               	</div>
   	                        </div>
                            '. $xhtml .'
                        </div>
                    </div>';
    }
}
?>