<?php
if(count($categories) > 0) {
	foreach ($categories AS $category){
		$category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias']));
		$category_title = '<h2 class="title"><a href="'. $category_url .'" title="'. $category['name'] .'">'. $category['name'] .'</a></h2>';
		$category_image = '<img src="'. $category['image'] .'" alt="'. $category['name'] .'">';
		$category_desc  = nl2br($category['description']);
        
		$xhtml = '';
		$childs = $category['childs'];
		if(count($childs) > 0){
			unset($childs[0]);
           	foreach ($childs AS $key => $child) {
               	array_shift($child);
               	$xhtml .= '<h3 class="item"><a href="'. $view->url('routePostCategory', array( 'alias' => $child['alias'])) .'" title="'. $child['name'] .'">'. $child['name'] .'</a></h3>';
           	}
       	}
		
		$result = '<div class="box_defaulrLeftCategory">
       	              <div class="box_title">'. $category_title .'</div>
                      <div class="box_content">
   	                      <div class="item_first">
                              <div class="image">'. $category_image .'</div>
                              <div class="desc">'. $category_desc .'</div>
   	                      </div>
   	                      '. $xhtml .'
                      </div>
                  </div>';
	}
}
?>