<?php
if(count($categories) > 0) {
    $xhtml = '';
	foreach ($categories AS $index => $categorie){
		$category_url   = $view->url('routePostCategory', array( 'alias' => $categorie['alias'], 'index' => $categorie['index']));
		$box_title   = '<a href="'. $category_url .'" title="'. $categorie['name'] .'">'. $categorie['name'] .'</a>';
       
		$xhtml .= '<div class="item" style="background-image: url('. $categorie['image'] .'); background-position: top center;">';
    		$childs = $categorie['childs'];
    		if(count($childs) > 0){
    			unset($childs[0]);
    			$xhtml .= '<div class="item_content index_'. $index .'">';
    			$xhtml .= '<div class="icon"><img src="'. $categorie['icon'] .'"></div>';
    			$xhtml .= '<div class="title">'. $box_title .'</div>';
    			$xhtml .= '<div class="list">';
               	foreach ($childs AS $key => $child) {
                   	array_shift($child);
                   	$child_url   = $view->url('routePostCategory', array( 'alias' => $child['alias'], 'index' => $child['index']));
                   	$name = $child['name'];
                   	$xhtml .= sprintf('<div class="list_item"><a href="%s" title="%s" class="%s">%s</a></div>', $child_url, $name, $name, $name);
               	}
               	$xhtml .= '</div>';
               	$xhtml .= '</div>';
           	}
       	$xhtml .= '</div>';
	}
	
   	$result = sprintf('<div class="box_productHomeCategory">
                          <div class="content">%s<div class="clr"></div></div>
                      </div>', $xhtml);
}
?>