<?php
if(count($categories) > 0) {
    $xhtml = '';
    
	foreach ($categories AS $key_cat => $categorie){
		$category_url   = $view->url('routePostCategory', array( 'alias' => $categorie['alias'], 'index' => $categorie['index']));
		$box_title   = '<h2 class="title"><a href="'. $category_url .'" title="'. $categorie['name'] .'">'. $categorie['name'] .'</a></h2>';
       
		$childs = $categorie['childs'];
		$items = $categorie['items'];

		$xhtmlAll = '';
		$xhtmlNoiBat = '';
		if(count($items) > 0){
		    $xhtmlNoiBat.= '<ul>';
		    foreach ($items AS $key => $item) {
		        $item_url         = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
		        $name             = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. ($key + 1) .'. '. $item['name'] .'</a>';
		        $image            = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
		        $image_medium     = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
		        $image_thumb      = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
		        $description      = nl2br($item['description']);
		        
		        if($item['box_highlight'] == 1) {
    		        $xhtmlNoiBat .= '<li><div class="item">
        			                     <div class="image">'. $image .'</div>
        			                     <div class="info">
        			                         <h2 class="title">'. $name .'</h2>
        			                         <div class="description">'. $description.'</div>
        		                         </div>
        			                     <div class="clr"></div>
        			                </div></li>';
		        }
		        
		        $xhtmlAll .= '<div class="item"><h3 class="title">'. $name .'</h3></div>';
			}
			$xhtmlNoiBat.= '</ul>';
       	}
        
       	if($key_cat % 2 == 0) {
           	$result .= sprintf('
                <div class="box_home_1">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-sm-push-4">
                                <div class="box_default_highlight_category">
                                    <div class="box_content">%s</div>
                                </div>
                          	</div>
                          	<div class="col-sm-4 col-sm-pull-8">
                                <div class="box_default_left">
                                    <div class="box_title">%s</div>
                                    <div class="box_content">
                                        %s
                                    </div>
                                </div>
                          	</div>
                        </div>
                    </div>
                </div>', $xhtmlNoiBat, $box_title, $xhtmlAll);
       	} else {
       	    $result .= sprintf('
                <div class="box_home_3">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="box_default_highlight_category">
                                    <div class="box_content">%s</div>
                                </div>
                          	</div>
                          	<div class="col-sm-4">
                                <div class="box_default_left">
                                    <div class="box_title">%s</div>
                                    <div class="box_content">
                                        %s
                                    </div>
                                </div>
                          	</div>
                        </div>
                    </div>
                </div>', $xhtmlNoiBat, $box_title, $xhtmlAll);
       	}
	}
}
?>