<?php
$dateFormat = new \ZendX\Functions\Date();

if(count($categories) > 0) {
    foreach ($categories AS $category) {
        $category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias']));
		$category_title = '<h2 class="title font-title"><a href="'. $category_url .'" title="'. $category['name'] .'">'. $category['name'] .'</a></h2>';
		$category_image = '<img src="'. $category['image'] .'" alt="'. $category['name'] .'">';
		$category_desc  = nl2br($category['description']);
        
        $items          = $category['items'];
        $xhtml          = '';
        if(count($items) > 0) {
            foreach ($items AS $key => $item) {
                $item_url       = $item['meta_url'] ? $item['meta_url'] : $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                
                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                $description    = nl2br($item['description']);
                $created        = $dateFormat->getText($item['created']);
                
                $xhtml .= '<div class="col-sm-6">
                            <div class="item">
                                <div class="image">
                                    '. $image .'
                                </div>
                                <div class="info">
                                    <h3 class="title"><a href="'. $category_url .'" title="'. $item['category_name'] .'">'. $item['category_name'] .'</a> - <span class="date">'. $created .'</span></h3>
                                    <div class="desc">'. $description .'</div>
                                </div>
                            </div>
                        </div>';
            }
        }
        
        $result .= '<div class="box_defaultCategoryRight">
                        <div class="box_title">'. $category_title .'</div>
                        <div class="box_content">
                            <div class="row">
                                '. $xhtml .'
                            </div>
                        </div>
                    </div>';
    }
}
?>