<?php
if(count($categories) > 0) {
    foreach ($categories AS $category) {
        $class          = $view->cycle(array('odd', 'even'))->next();
        $category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias']));
        
        $box_title      = '<h2 class="title"><a href="'. $category_url .'" title="'. $category['name'] .'">'. $category['name'] .'</a></h2><a href="'. $category_url .'" class="view_all">Xem tất cả</a>';
        
        $items          = $category['items'];
        
        $xhtml          = '';
        if($items->count() > 0) {
            foreach ($items AS $key => $item) {
                $item_url       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                
                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                $description    = $item['description'];
                
                $xhtml .= sprintf('<div class="item">
                                        <div class="image">
                                            %s
                                        </div>
                                        <h3 class="title">%s</h3>
                                    </div>', $image_thumb, $name
                );
            }
        }
        
        $result .= sprintf('
            <div class="box_productCategoryLeft">
                <div class="box_title">%s</div>
                <div class="box_content">
                    <div class="productGrid">
                        %s
                    </div>
                </div>
            </div>', $box_title, $xhtml
        );
    }
}
?>