<?php
if(count($categories) > 0) {
    foreach ($categories AS $category) {
        $class          = $view->cycle(array('odd', 'even'))->next();
        $category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias']));
        
        $box_title      = '<h2 class="title"><a href="'. $category_url .'" title="'. $category['name'] .'">'. $category['name'] .'</a></h2><a href="'. $category_url .'" class="view_all">Xem tất cả</a>';
        
        $items          = $category['items'];
        
        $xhtml          = '';
        if(count($items) > 0) {
            foreach ($items AS $key => $item) {
                $item_url       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                $linkOrder      = $view->url('routePost/default', array( 'controller' => 'product', 'action' => 'add-cart', 'id' => $item['id']));
                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                $description    = nl2br($item['description']);
                $price			= 'Giá: <span class="value">Liên hệ</span>';
                if(!empty($item['product_price'])) {
                	if(!empty($item['product_sale_percent'])) {
                		$price	= $item['product_price'] - ($item['product_sale_percent'] / 100 * $item['product_price']);
                		$price	= '<span class="value"><span class="mask_currency">'. $price .'</span> đ</span> <span class="old"><span class="mask_currency">'. $item['product_price'] .' </span> đ</span>';
                	} else {
                		$price	= '<span class="value"><span class="mask_currency">'. $item['product_price'] .'</span> đ</span>';
                	}
                }
                
                $xhtml .= sprintf('
                	<div class="col-xs-6 col-sm-3 min-height">
                        <div class="item">
                            <div class="image">
                                %s
                            </div>
                            <div class="info">
                                <h3 class="title">%s</h3>
                            </div>
                            <div class="control">
                                <a href="%s" class="add_card"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Mua hàng</a>
                            </div>
                        </div>
                    </div>', $image_medium, $name, $item_url
                );
            }
        }
        
        $result .= sprintf('
            <div class="box_productCategoryHome">
                <div class="box_title">%s</div>
                <div class="box_content">
                    <div class="productGrid">
                        <div class="row">
                        	%s
                        </div>
                    </div>
                </div>
            </div>', $box_title, $xhtml
        );
    }
}
?>