<?php
if(count($categories) > 0) {
	foreach ($categories AS $categorie){
		$category_url   = $view->url('routePostCategory', array( 'alias' => $categorie['alias'], 'index' => $categorie['index']));
		$box_title   = '<a href="'. $category_url .'" title="'. $categorie['name'] .'">'. $categorie['name'] .'</a>';
       
		$childs = $categorie['childs'];
       
		if(count($childs) > 0){
			$xhtml .= '<ul>';
			$parentRight = array();
			$maxLevel = 1;
			$minLevel = 1;
			$i = 0;
			foreach ($childs AS $menu) {
			    if($i > 0) {
			        $name   = $menu['name'];
			        $icon   = $menu['icon'] ? $menu['icon'] : 'link';
			
			        $link = $view->url('routePostCategory', array('alias' => $menu['alias']));
			         
			        if($menu['level'] > $maxLevel) {
			            $maxLevel = $menu['level'] - 1;
			        }
			        
			        $class = '';
			        if($menu['id'] == $params['meta']['category_id']) {
			            $class = 'seletced active';
			        }
			         
			        if($menu['right'] - $menu['left'] == 1) {
			            $xhtml .= sprintf('<li class="%s"><a href="%s"><span class="title">%s</span></a></li>', $class, $link, $name);
			             
			            for ($j = $minLevel; $j < $maxLevel; $j++) {
			                if(in_array($menu['right'] + $j, $parentRight)) {
			                    $xhtml .= '</ul></li>';
			                }
			            }
			        } else {
			            $class = !empty($class) ? ' '. $class : $class;
			            $parentRight[] = $menu['right'];
			            $xhtml .= sprintf('<li class="dropdown%s"><a href="javascript:;"><span class="title">%s</span></a><ul class="children">', $class, $name);
			        }
			    }
			    $i++;
			}
			$xhtml .= '</ul>';
       	}
       
	}
	
   	$result = sprintf('<div class="box_category" id="box_category">
                          <h4 class="box_title">%s</h4>
                          <div class="box_content">%s</div>
                      </div>', $box_title, $xhtml);
}
?>

<?php $view->headScript()->captureStart() ?>
	$(document).ready(function() {
	    $("#box_category ul li.seletced").parents("li").addClass("selected active");
		$("#box_category ul li.dropdown>a").click(function() {
		    $("li", $(this).parent().parent()).removeClass('active');
		    $($(this).parent()).addClass('active');
		    $(">li ul.children", $(this).parent().parent()).slideUp();
		    $('>ul.children:first', $(this).parent()).slideDown();
		});
	});
<?php $view->headScript()->captureEnd() ?>