<?php
if(count($categories) > 0) {
    foreach ($categories AS $category) {
        $category_url   = $view->url('routePostCategory', array( 'alias' => $category['alias']));
        $category_name  = '<h2 class="title font-title"><a href="'. $category_url .'" title="'. $category['name'] .'">'. $category['name'] .'</a></h2>';
        $category_desc  = nl2br($category['description']);
        
        $items          = $category['items'];
        $xhtml          = '';
        if(count($items) > 0) {
            foreach ($items AS $key => $item) {
                $item_url       = $view->url('routePostItem', array( 'category_alias' => $item['category_alias'], 'alias' => $item['alias']));
                
                $name           = '<a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a>';
                $image          = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
                $image_medium   = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
                $image_thumb    = '<a href="'. $item_url .'" title="'. $item['name'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
                $description    = nl2br($item['description']);
                
                $xhtml .= '<div class="item">
		                    <div class="image">
		                        <a href="'. $item_url .'" title="'. $item['name'] .'">
		                            <img alt="'. $item['name'] .'" src="'. $item['image'] .'">
		                            <span class="wrap"><span class="text">'. $description .'</span></span>
		                        </a>
		                    </div>
		                    <div class="title font-title"><a href="'. $item_url .'" title="'. $item['name'] .'">'. $item['name'] .'</a></div>
			            </div>';
            }
        }
        
        $result = '<div class="box_teacher">
            	    <div class="container">
            	        <div class="box_title">'. $category_name .'</div>
            	        <div class="box_content clearfix">
        	            <div class="bxslider" id="bxslider">
            		    '. $xhtml .'
        		        </div>
        		        </div>
    		        </div>
                </div>';
    }
}
?>

