@font-face {
	font-family: 'Roboto-Bold';
	src:url('Roboto-Bold.eot');
	src:url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Bold.woff') format('woff'), 
		url('Roboto-Bold.woff2') format('woff2'), 
		url('Roboto-Bold.ttf')  format('truetype'), 
		url('Roboto-Bold.svg#Roboto-Bold') format('svg');
}

@font-face {
	font-family: 'Roboto-Italic';
	src:url('Roboto-Italic.eot');
	src:url('Roboto-Italic.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Italic.woff') format('woff'), 
		url('Roboto-Italic.woff2') format('woff2'), 
		url('Roboto-Italic.ttf')  format('truetype'), 
		url('Roboto-Italic.svg#Roboto-Italic') format('svg');
}

@font-face {
	font-family: 'Roboto-LightItalic';
	src:url('Roboto-LightItalic.eot');
	src:url('Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-LightItalic.woff') format('woff'), 
		url('Roboto-LightItalic.woff2') format('woff2'), 
		url('Roboto-LightItalic.ttf')  format('truetype'), 
		url('Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
}

@font-face {
	font-family: 'Roboto-Light';
	src:url('Roboto-Light.eot');
	src:url('Roboto-Light.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Light.woff') format('woff'), 
		url('Roboto-Light.woff2') format('woff2'), 
		url('Roboto-Light.ttf')  format('truetype'), 
		url('Roboto-Light.svg#Roboto-Light') format('svg');
}

@font-face {
	font-family: 'Roboto-Regular';
	src:url('Roboto-Regular.woff') format('woff'), 
		url('Roboto-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto-Medium';
	src:url('Roboto-Medium.eot');
	src:url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Medium.woff') format('woff'), 
		url('Roboto-Medium.woff2') format('woff2'), 
		url('Roboto-Medium.ttf')  format('truetype'), 
		url('Roboto-Medium.svg#Roboto-Medium') format('svg');
}

@font-face {
	font-family: 'Roboto-MediumItalic';
	src:url('Roboto-MediumItalic.eot');
	src:url('Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-MediumItalic.woff') format('woff'), 
		url('Roboto-MediumItalic.woff2') format('woff2'), 
		url('Roboto-MediumItalic.ttf')  format('truetype'), 
		url('Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
}

@font-face {
	font-family: 'Roboto-Regular';
	src:url('Roboto-Regular.eot');
	src:url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Regular.woff') format('woff'), 
		url('Roboto-Regular.woff2') format('woff2'), 
		url('Roboto-Regular.ttf')  format('truetype'), 
		url('Roboto-Regular.svg#Roboto-Regular') format('svg');
}

@font-face {
	font-family: 'Roboto-Thin';
	src:url('Roboto-Thin.eot');
	src:url('Roboto-Thin.eot?#iefix') format('embedded-opentype'),  
		url('Roboto-Thin.woff') format('woff'), 
		url('Roboto-Thin.woff2') format('woff2'), 
		url('Roboto-Thin.ttf')  format('truetype'), 
		url('Roboto-Thin.svg#Roboto-Thin') format('svg');
}

@font-face {
	font-family: 'HelveticaNeue-Medium';
	src:url('HelveticaNeue-Medium.eot');
	src:url('HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),  
		url('HelveticaNeue-Medium.woff') format('woff'), 
		url('HelveticaNeue-Medium.woff2') format('woff2'), 
		url('HelveticaNeue-Medium.ttf')  format('truetype'), 
		url('HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
}

@font-face {
	font-family: 'HelveticaNeue';
	src:url('HelveticaNeue.eot');
	src:url('HelveticaNeue.eot?#iefix') format('embedded-opentype'),  
		url('HelveticaNeue.woff') format('woff'), 
		url('HelveticaNeue.woff2') format('woff2'), 
		url('HelveticaNeue.ttf')  format('truetype'), 
		url('HelveticaNeue.svg#HelveticaNeue') format('svg');
}

@font-face {
	font-family: 'HelveticaNeue-Bold';
	src:url('HelveticaNeue-Bold.eot');
	src:url('HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  
		url('HelveticaNeue-Bold.woff') format('woff'), 
		url('HelveticaNeue-Bold.woff2') format('woff2'), 
		url('HelveticaNeue-Bold.ttf')  format('truetype'), 
		url('HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
}

@font-face {
	font-family: 'OpenSans-Regular';
	src:url('OpenSans-Regular.eot');
	src:url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),  
		url('OpenSans-Regular.woff') format('woff'), 
		url('OpenSans-Regular.woff2') format('woff2'), 
		url('OpenSans-Regular.ttf')  format('truetype'), 
		url('OpenSans-Regular.svg#Montserrat-SemiBold') format('svg');
}

@font-face {
	font-family: 'RobotoCondensed-Bold';
	src:url('RobotoCondensed-Bold.eot');
	src:url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),  
		url('RobotoCondensed-Bold.woff') format('woff'), 
		url('RobotoCondensed-Bold.woff2') format('woff2'), 
		url('RobotoCondensed-Bold.ttf')  format('truetype'), 
		url('RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
}

@font-face {
    font-family: 'UTM Alexander';
    src: url('UTMAlexander.eot');
    src: url('UTMAlexander.eot?#iefix') format('embedded-opentype'),
        url('UTMAlexander.woff2') format('woff2'),
        url('UTMAlexander.woff') format('woff'),
        url('UTMAlexander.ttf') format('truetype');
}

@font-face {
    font-family: 'UTM Aptima';
    src: url('UTMAptima.eot');
    src: url('UTMAptima.eot?#iefix') format('embedded-opentype'),
        url('UTMAptima.woff2') format('woff2'),
        url('UTMAptima.woff') format('woff'),
        url('UTMAptima.ttf') format('truetype');
}

