<?php
if($items->count() > 0) {
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        $url            = $item['url'];
        $name           = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = $item['description'];
        $content        = htmlspecialchars_decode($item['content']);
        
        $xhtml .= '<div class="item">
					<a href="'. $url .'">
						<img src="'. $item['image'] .'" alt="'. $item['name'] .'">
						<span>Xem chi tiết</span>
					</a>
				</div>';
    } 
    
    $result = '<div class="box_adsHome" id="box_adsHome">
                    <div class="box_content">
                        <div class="box_title"><h2 class="title font-title">Các loại hình đào tạo</h2></div>
    			        <div class="box_info">Là một trong những đơn vị tiên phong và hàng đầu tổ chức khóa học về quản trị cao cấp cho các doanh nghiệp Việt Nam, <br>HBR tập trung khai thác 3 loại hình đào tạo chính:</div>
                        <div class="box_item clearfix">
            		    '. $xhtml .'
        		        </div>
    		        </div>
                </div>';
}
?>
