<?php
if($items->count() > 0) {
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        $url            = $item['url'];
        $name           = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = $item['description'];
        $content        = htmlspecialchars_decode($item['content']);
        
        $xhtml .= $image;
    } 
    
    $result = '<div class="box_adsKhacbiet" id="box_adsKhacbiet">
        	    <div class="container">
        	        <div class="nav nav-tabs">
                        <div class="active col-md-2"><a data-toggle="tab" href="#'.$item['name'].'">'.$item['name'].'</a></div>
                    </div>
        	    </div>
        	</div>';
}
?>

