<?php
if($items->count() > 0) {
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        $url            = $item['url'];
        $name           = $item['name'];
        $image          = '<a class="item" href="'. $url .'" target="'. $item['target'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a class="item" href="'. $url .'" target="'. $item['target'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a class="item" href="'. $url .'" target="'. $item['target'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = $item['description'];
        $content        = htmlspecialchars_decode($item['content']);
        
        $xhtml .= sprintf('
        	<li>%s</li>', $image
        );
    } 
    
    $result = sprintf('
        <div class="box_bxslider" id="box_bxslider">
            <div class="box_content">
                <ul class="bxslider">
                	%s
                </ul>
            </div>
        </div>', $xhtml
    );
}
?>
<?php $view->headScript()->captureStart() ?>
    $(document).ready(function() {
    	$("#box_bxslider").show();
        $("#box_bxslider .bxslider").bxSlider({
        	auto: true,
            minSlides: 1,
            maxSlides: 1,
            //mode: "fade",
            //slideWidth: 360,
            slideMargin: 0,
            moveSlides: 1,
            responsive: true,
            pause: 5000,
            speed: 1500
        });
    });
<?php $view->headScript()->captureEnd() ?>