<?php
if($items->count() > 0) {
    $xhtml = '';
    
    foreach ($items AS $key => $item) { 
        $url            = $view->url('routeTeacher', array('alias' => $item['alias']));
        $name           = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = nl2br($item['description']);
        $content        = htmlspecialchars_decode($item['content']);
        //$background 	= $item['file'] ? ' style="background: url('. $item['file'] .') no-repeat top left #FFF"' : '';
        $video          = $item['file'];

        $xhtml .= '<li>
                        <div class="item">
                            <div class="image"><a href="javascript:;" onclick="play_video(\''.$video.'?autoplay=1\')"><img alt="'. $item['name'] .'" src="'. $item['image'] .'"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                	</li>';
    } 
    
    $result = '<div class="box_student" id="box_student">
                    <div class="container">
                        <div class="box_title"><h2 class="title font-title">CÂU CHUYỆN THÀNH CÔNG</h2></div>
                        <div class="box_content">
                            <ul class="slider">
                		    '. $xhtml .'
            		        </ul>
                        </div>
                    </div>
            	</div>';
}
?>
                
<?php $view->headScript()->captureStart() ?>
    // Popup video
    function play_video(url) {
        var html = '';
        html += '<div class="popup_video" onclick="close_popup()">';
            html += '<div class="popup_content">';
                html += '<div class="embed-responsive embed-responsive-16by9">';
                    html += '<iframe class="embed-responsive-item" src="'+ url +'" frameborder="0" allowfullscreen></iframe>';
                html += '</div>';
                html += '<a href="javascript:void(0)" onclick="close_popup()" class="popup_close"><i class="fa fa-times"></i></a>';
            html += '</div>';
        html += '</div>';
        $('body').append(html);
    }
    
    // Close Popup video
    function close_popup() {
        $('.popup_video').remove();
    }
<?php $view->headScript()->captureEnd() ?>
