<?php
if($items->count() > 0) {
    $xhtml = '';
    
    foreach ($items AS $key => $item) { 
        if(!empty($options['type'])) {
            if(!in_array($item['type'], $options['type'])) {
                continue;
            }
        }
        $url            = $view->url('routeTeacher', array('alias' => $item['alias']));
        
        $video_id       = explode('/embed/', $item['file']);
        if(!empty($video_id[1])) {
            $video_id   = $video_id[1];
        } else {
            $video_id   = explode('?v=', $item['file']);
            if(!empty($video_id[1])) {
                $video_id = explode('&', $video_id[1]);
                $video_id = $video_id[0];
            } else {
                $video_id = $item['file'];
            }
        }
        
        $name           = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'">'. $item['name'] .'</a>';
        $image          = !empty($item['image']) ? $item['image'] : 'https://i3.ytimg.com/vi/'. $video_id .'/maxresdefault.jpg?v=1';
        $description    = nl2br($item['description']);
        $content        = htmlspecialchars_decode($item['content']);

        $xhtml .= '<li>
                        <div class="item">
                            <div class="image"><a href="javascript:;" onclick="play_video(\'https://www.youtube.com/embed/'. $video_id .'?autoplay=1\')"><img alt="'. $item['name'] .'" src="'.$image.'"><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                        </div>
                	</li>';
    } 
    
    $result = '<div class="box_student" id="box_student">
                    <div class="box_title"><h2 class="title font-title">CÂU CHUYỆN THÀNH CÔNG</h2></div>
                    <div class="box_content">
                        <div class="container">
                            <ul class="slider">
                		    '. $xhtml .'
            		        </ul>
                        </div>
        		        <div class="go_box input-lg btn-blue" data-box="box_dangKy">Đăng ký ngay</div>
                    </div>
            	</div>';
}
?>
                
<?php $view->headScript()->captureStart() ?>
    // Popup video
    function play_video(url) {
        var html = '';
        html += '<div class="popup_video" onclick="close_popup()">';
            html += '<div class="popup_content">';
                html += '<div class="embed-responsive embed-responsive-16by9">';
                    html += '<iframe class="embed-responsive-item" src="'+ url +'" frameborder="0" allowfullscreen></iframe>';
                html += '</div>';
                html += '<a href="javascript:void(0)" onclick="close_popup()" class="popup_close"><i class="fa fa-times"></i></a>';
            html += '</div>';
        html += '</div>';
        $('body').append(html);
    }
    
    // Close Popup video
    function close_popup() {
        $('.popup_video').remove();
    }
<?php $view->headScript()->captureEnd() ?>
