<?php
if($items->count() > 0) {
    $xhtml = '';
    foreach ($items AS $key => $item) { 
        $url            = $view->url('routeTeacher/default', array('alias' => $item['alias']));
        $url            = 'javascript:;';
        $name           = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'">'. $item['name'] .'</a>';
        $image          = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'"><img src="'. $item['image'] .'" alt="'. $item['name'] .'"></a>';
        $image_medium   = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'"><img src="'. $item['image_medium'] .'" alt="'. $item['name'] .'"></a>';
        $image_thumb    = '<a href="'. $url .'" title="'. $item['name'] .'" target="'. $item['target'] .'"><img src="'. $item['image_thumb'] .'" alt="'. $item['name'] .'"></a>';
        $description    = nl2br($item['description']);
        $content        = htmlspecialchars_decode($item['content']);
        
        $xhtml .= '<div class="item">
                    <div class="image">
                        <a href="'. $url .'" title="'. $item['name'] .'">
                            <img alt="'. $item['name'] .'" src="'. $item['image'] .'">
                            <span class="wrap"><span class="text">'. $description .'</span></span>
                        </a>
                    </div>
                    <div class="title font-title"><a href="'. $url .'" title="'. $item['name'] .'">'. $item['name'] .'</a></div>
                    <div class="info">'. $item['info'] .'</div>
	            </div>';
    } 
    
    $result = '<div class="box_teacher">
            	    <div class="container">
            	        <div class="box_title"><h2 class="title font-title"><a href="javascript:;">Giảng viên của HBR</a></h2></div>
            	        <div class="box_info">Giảng viên của HBR đều là những chuyên gia diễn giả hàng đầu đang làm việc và nghiên cứu tại các công ty tập đoàn nổi tiếng trong nước và quốc tế, sở hữu kiến thức chuyên môn vững vàng, khả năng ứng dụng vào thực tiễn linh hoạt cùng phương pháp giảng dạy khoa học, dễ hiểu.</div>
            	        <div class="box_content clearfix">
            		    '. $xhtml .'
        		        </div>
    		        </div>
                </div>';
}
?>
