@charset "utf-8";
@import "../fonts/font.css";

body{ font-size: 17px; font-family: "Roboto-Regular"; background: #eaeaea;}
body,h1,h2,h3,h4,h5,h6,form,input,select,p,textarea { margin: 0px; padding: 0; }
img { border: none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; }
b { font-family: "Roboto-Bold", "Segoe UI";}
a { color: #0e1329; text-decoration: none; transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
a:hover { color: #000; text-decoration: none;}
a:focus { color: #000; text-decoration: none;}
ul{list-style: none;}
.clr { clear: both; }
input[type="date"]::-webkit-inner-spin-button {display: none;}

.box_header{ background-color: #FFF; width: 100%; top: 0; left: 0; z-index: 99999; position: relative; height: 70px;}
.box_header .container{ position: relative;}
.box_header .logo{ display: inline-block; margin-top: 20px; line-height: 100%;}
.box_header .menu{ padding: 18px 0 0; list-style: none; float: right; margin: 0;}
.box_header .menu li{ display: inline-block; padding-left: 40px; text-align: center; vertical-align: middle;}
.box_header .menu li a{ font-size: 15px; color: #282828; font-family: "SVNKelsonSansRegular"; padding: 8px 0 6px; display: inline-block; text-transform: uppercase;}
.box_header .menu li a.active{color: #ed1c24;}
.box_header .menu li a:hover{ color: #ed1c24;}
.box_header .menu li a.btn_book{ border-radius: 10px;display: inline-block; background: #eb1c3b; color: #FFF; padding: 0; width: 120px; height: 30px; line-height: 28px; font-weight: normal; font-family: "SVNKelsonSansRegular";}
.box_header .menu li a.btn_book.active{ background-color: #202b53;}
.box_header .menu_mobile{ position: absolute; top: 10px; right: 10px; width: 30px;}
.box_header .menu_mobile .item{ display: block; height: 2px; background-color: #CCC; margin-bottom: 4px;}

.box_header.sticky{ position: fixed; top: 0px; z-index: 99999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out; padding: 0 0; backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transition: transform 2s ease-in-out; -webkit-transition: -webkit-transform 2s ease-in-out; -moz-transition: transform 2s ease-in-out; }
.box_header.sticky .menu li a.last{ padding-right: 20px;}
.box_header.sticky .box_user{ display: block; padding: 10px 0 0;}
.box_header.sticky .box_user li a{ display: inline-block; padding: 5px 20px; color: #404041; font-size: 13px; font-weight: 600; height: auto; line-height: normal;}
.box_header.sticky .box_user li a:hover{ color: #0088cc;}
.box_header.sticky .box_user_login{ display: block;}
.box_header.sticky .box_user_login .dropdown-toggle{ background: none !important; height: 50px; line-height: 50px; margin: 0 0 0 20px;}
.box_header.sticky .box_user_login .dropdown-toggle:focus{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle:hover{ background: none;}
.box_header.sticky .box_user_login .dropdown-toggle img{ vertical-align: top; margin-top: 5px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:BEFORE{ right: 12px;}
.box_header.sticky .box_user_login.navbar-nav>li>.dropdown-menu:AFTER{ right: 13px;}
.box_header.sticky .box_user_login.navbar-nav>li>a{ padding: 15px 20px;}
.box_header.sticky .box_user_login.navbar-nav>li>a:hover{ background: none; color: #000;}

.box_banner {margin-bottom: 100px;}
.box_banner .image img{ width: 100%;}

.box_gioiThieu .img img{width: 100%; box-shadow:3px 5px 5px 0 #9a9a9a;}
.box_gioiThieu .text{padding-left: 40px;}
.box_gioiThieu .box_title{ font-size: 30px; font-family: "SVNKelsonSansBold"; color: #1e2b52; text-transform: uppercase; padding-bottom: 60px; text-align: center;}
.box_gioiThieu .text .item{position: relative; font-family: "Roboto-LightItalic"; color: #4c4b4d; font-size: 15px; line-height: 23px; padding-bottom: 10px;}
.box_gioiThieu .text .item:before{position: absolute; content: ""; background: url("../images/icon-1.png") no-repeat top left; width: 30px; height: 30px; top: 5px; left: -30px;}
.box_gioiThieu .box_content{width: 800px; max-width: 100%; margin: 0 auto; margin-top: 50px;}
.box_gioiThieu .box_content .detail{ color: #111; font-family: "Roboto-LightItalic"; padding-bottom: 15px; font-size: 17px; line-height: 23px; position: relative;}
.box_gioiThieu .box_content .detail .note{color: #fff; font-family: "SVNKelsonSansBold"; font-size: 20px; padding-top: 20px;}
.box_gioiThieu .box_content .detail .note a{color: #eb1c3c;}
.box_gioiThieu .box_content .detail span{font-size: 25px; line-height: 25px; color: #f0aa38;}
.box_gioiThieu .box_content .box_title{position: relative; padding: 40px 60px; background: #1e2b52; margin: 15px 0 0 0;  font-size: 17px; line-height: 25px; text-align: center; color: #fff; text-transform: uppercase;}
.box_gioiThieu .box_content .box_title:before{position: absolute; content: ""; background: url("../images/icon-15.png") no-repeat top center; width: 30px; height: 30px; top: 30px; left: 35px;}
.box_gioiThieu .box_content .box_title .title{position: relative; font-size: 25px; padding-top: 15px;}
.box_gioiThieu .box_content .box_title .title span{position: relative; z-index: 1000; color: #ed1c24;}
.box_gioiThieu .box_content .info .value{padding: 25px 0; font-size: 17px; line-height: 23px; font-family: "Roboto-Light"; color: #1f1f1f;}
.box_gioiThieu .box_content .info .value span{font-weight: bold;}

.box_thongTin{ background: url(../images/banner-1.jpg) no-repeat top center; margin: 50px auto; padding: 50px 0;}
.box_thongTin .box_title{ font-size: 17px; line-height: 33px;height: 33px; color: #fff; font-family: "SVNKelsonSansBold"; width: 220px; text-align:center; max-width: 100%; margin: 0 auto; background: #ed1c24;}
.box_thongTin .detail{margin-top:20px; margin-bottom:65px; font-size: 30px; line-height: 45px; color: #fff; font-family: "DP-Bold"; text-align: center;}
.box_thongTin .box_content{border-top: 5px solid #ed1c24; width: 1000px; max-width: 100%; background: #fff; margin: 0 auto; padding: 70px 100px 55px 100px;; position: relative; }
.box_thongTin .box_content .text{padding-bottom: 50px;}
.box_thongTin .box_content .text span{font-weight: bold;}
.box_thongTin .box_content .info .item{ display: table; font-family: "Roboto-Medium"; font-size: 17px; margin-bottom: 20px; line-height: 30px;}
.box_thongTin .box_content .info .item .key{font-family: "SVNKelsonSansBold"; display: table-cell; font-size:22px; width: 150px; max-width:100%; vertical-align: middle; color: #1e2b52;}
.box_thongTin .box_content .info .item .value{text-transform: uppercase; display: table-cell; font-family: "SVNKelsonSansBold"; font-size:22px; width: 650px; max-width:100%; border: 1px solid #222831;  color: #1e2b52; vertical-align: middle; padding:15px 50px; background: #fff;}
.box_thongTin .box_content .info .item .value .btn{background: #ebebeb; border: 1px solid #898989; color: #eb1c3b; font-size: 15px; font-family: "SVNKelsonSansBold"; float: right; text-transform: uppercase;}
.box_thongTin .box_content .info .item .value .btn .fa{color: #898989; padding-left: 5px;}
.box_thongTin .box_content .info .item .value.btn_book{display:none; font-family: "SVNKelsonSansBold"; background: -webkit-linear-gradient(left, #0039ae 25%,#7db9e8 100%); border: none; color: #FFF; text-align: center; font-size: 30px; line-height: 25px;height: 70px;}
.box_thongTin .box_content .info .item .value.btn_book a{ color: #FFF;}
.box_thongTin .box_content .info .item:hover .value { color: #ec1c3c;}
.box_thongTin .box_content .title{font-size: 30px; line-height: 25px;font-family: "SVNKelsonSansBold"; margin-bottom: 35px; color: #eb1c3b;}
.box_thongTin .box_content .right{font-family: "Roboto-Bold";}

.box_aiNen{margin-bottom: 80px;}
.box_aiNen .container{width: 1000px; max-width: 100%;}
.box_aiNen .title{font-size: 30px; line-height: 25px; font-family: "SVNKelsonSansBold"; color: #152b50; margin-bottom: 60px; padding-bottom: 20px; }
.box_aiNen .item{padding: 30px 35px 55px 35px; background: #fff; height: 280px;}
.box_aiNen .item .image{padding-bottom: 30px;}
.box_aiNen .item .title-item{text-align: center; font-family: "Roboto-Medium"; font-size: 17px; color: #1e2b52;}
.box_aiNen .text{font-family: "Roboto-Light"; text-align: center; font-size: 17px;}

.box_loiich{ height: 600px;}
.box_loiich .box_content .box_left{  background: url("../images/banner-3.jpg") no-repeat left center; vertical-align: top; max-width: 100%; width: 50%; float: left; height: 600px; background-size: cover;}
.box_loiich .box_content .box_right{ width: 50%; vertical-align: middle; max-width: 100%; float: right; height: 600px; background: #fff;}
.box_loiich .box_content .box_info{ width: 600px; max-width: 100%; font-size: 18px; line-height: 30px; font-family: "Roboto-Regular"; padding-left: 65px;}
.box_loiich .box_content .box_info .title{font-size: 30px; font-family: "SVNKelsonSansBold"; color: #152b50; padding: 35px 0 35px 45px;}
.box_loiich .box_content .box_info .item{position: relative; font-family: "Roboto-Light"; font-size: 17px; line-height: 24px; padding-bottom: 30px;}
.box_loiich .box_content .box_info .item:before{position: absolute; content: ""; width: 20px; height: 20px; background: url("../images/icon-1.png") no-repeat top center; top: 5px; left: -40px;}

.box_dienGia{ background: url("../images/banner-5.jpg") no-repeat center; font-size: cover; color: #FFF; height: 763px; max-width: 100%; padding: 100px 0; background-size: cover;}
.box_dienGia .box_title .title_1{font-size: 35px; font-family: "SVNKelsonSansBold"; line-height: 50px; }
.box_dienGia .box_title .title_2{font-size: 15px; font-family: "Roboto-Light"; line-height: 23px; padding:20px 0;}
.box_dienGia .box_content .text{ font-size: 17px; padding-top: 20px; font-family: "Roboto-Bold";}
.box_dienGia .box_content .item{padding-bottom:5px; position: relative; font-size: 15px; line-height:24px; color: #fff; font-family: "Roboto-Light";}
.box_dienGia .box_content .item a{color: white;}
.box_dienGia .box_content ul{list-style: url(../images/icon-9.png); padding-top: 20px; padding-left: 20px;}
.box_dienGia .box_content ul p{padding-left: 0px;}

.box_khoaHoc{margin-bottom: 70px;}
.box_khoaHoc .total_price {font-size: 19px; text-decoration: line-through;text-transform: lowercase;} 
.box_khoaHoc .total_price_sale {color:#FF0000;font-size: 22px;text-transform: lowercase;} 
.box_khoaHoc .table-responsive1{height: 500px; overflow-y: scroll;}
.box_khoaHoc .table-responsive1::-webkit-scrollbar{width: 3px; height: 0; background: #eee;}
.box_khoaHoc .table-responsive1::-webkit-scrollbar-thumb{border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: #D62929;}
.box_khoaHoc .box_title{font-family: "SVNKelsonSansBold"; font-size: 30px; line-height:25px; margin-bottom: 40px; color: #152b50; text-align: center; margin-top: 50px;}
.box_khoaHoc .table {text-align: center;font-size: 15px;}
.box_khoaHoc .table th{vertical-align: middle; height: 50px; color: #fff; background: #152b50; text-align: center; font-size: 15px; line-height: 35px; font-family: "Roboto-Medium";}
.box_khoaHoc .table td{text-transform:uppercase; vertical-align: middle; font-size: 15px; line-height: 23px; font-family: "Roboto-Medium"; border: 1px solid #ccc;}
.box_khoaHoc .table thead tr th{border: 1px solid #ccc;}
.box_khoaHoc .table thead tr th select{ text-align-last:center; }
.box_khoaHoc .table .odd {background: #ffffff;color: #000;}
.box_khoaHoc .table .odd .text{text-align: left; padding: 20px 30px 20px 30px;}
.box_khoaHoc .table .odd input{margin-left: 10px; margin-top: 3px; vertical-align: text-top;}
.box_khoaHoc .btn_book{margin-top: 20px; border-radius: 10px;display: inline-block; background: -webkit-linear-gradient(left, #ff0000 0%,#ca4444 100%); color: #FFF; padding: 0; width: 215px; text-align: center; float: right; height: 30px; line-height: 28px; font-weight: normal; font-family: "SVNKelsonSansBold";}

.box_dangKy{background: url("../images/banner-4.jpg") no-repeat; background-size: cover; padding: 80px 0 50px ;}
.box_dangKy .uudai{background: #fff; width: 90%; max-width: 100%;}
.box_dangKy .title_1{font-size:30px; line-height:27px; font-family: "SVNKelsonSansBold"; color: #fff; padding: 0 0 50px 0; width:90%; max-width:100%; text-align: center;}
.box_dangKy .uudai .text{height: 95px; text-align: center; font-size: 23px; line-height: 95px; color: #fff; background: #eb1c3c; font-family: "SVNKelsonSansBold";}
.box_dangKy .uudai .box_content{color: #111; font-family: "Roboto-Bold"; font-size: 20px; line-height: 27px; text-align: center;}
.box_dangKy .uudai .box_content .text_1{padding: 25px 0; font-family: "Roboto-Light";}
.box_dangKy .uudai .box_content .table{padding: 0 60px; margin-bottom: 0;}
.box_dangKy .uudai .box_content .table>tbody>tr>td{height: 55px; vertical-align: inherit; padding: 0; font-size: 17px; line-height: 27px; font-family: "Roboto-Bold"; text-align: center;}
.box_dangKy .uudai .box_content .text_2{padding: 20px 60px 25px 60px; font-size: 17px; line-height: 27px; font-family: "Roboto-Regular";}
.box_dangKy .uudai .box_content .text_2 span{font-size: 17px; line-height: 27px; font-family: "Roboto-Bold";}
.box_dangKy .title_2{font-size:30px; line-height:40px; font-family: "SVNKelsonSansBold"; color: #fff; text-align: center; line-height: 40px; margin-top: -50px; padding-bottom: 50px;}
.box_dangKy .form .form-row .col-md-6{padding-left: 0;}
.box_dangKy .form .form-row .group{padding-right: 0;}
.box_dangKy .form .btnSuccess .btn-blue{ transition: color 0.15s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s; border-radius: 0; border:0; background: #eb1c3c; color: #fff; height: 60px; font-size: 25px; line-height: 27px; text-transform:uppercase; font-family: "SVNKelsonSansBold"; text-align: center; width: 100%;}
.box_dangKy .form .btnSuccess .btn-blue:hover{background: #202b53;}
.box_dangKy .form-control{ font-family: "Roboto-Medium"; border-radius: 0; background: rgba(255, 255, 255, 0.8) !important; color: #585858 !important; height: 57px; padding: 0 45px; font-size: 17px; border: 1px solid transparent;}
.box_dangKy .alert{ border-radius: 0;}
.box_dangKy input{color: #fff;}
.box_dangKy label{font-weight: normal;}
.box_dangKy input::placeholder{color: #585858 !important; font-family: "Roboto-Medium"; font-weight:normal; font-size: 17px; line-height: 27px;}
.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 100%; background: rgba(255, 255, 255, 0.8) !important; height: 57px; border-radius: 0; padding: 0 40px; font-family: "Roboto-Regular"; font-size: 17px;}
.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{color: #111; height: 57px; background: rgba(255, 255, 255, 0) !important; border-radius: 0; border: 0; font-family: "Roboto-Regular"; font-size: 17px;}
.box_dangKy .btn-group.open .dropdown-toggle{color: #111; height: 57px; background: rgba(255, 255, 255, 0) !important; border-radius: 0; border: 0; font-family: "Roboto-Regular"; font-size: 17px;}
.box_dangKy .bootstrap-select>.dropdown-toggle{color: #111; height: 57px; background: rgba(255, 255, 255, 0) !important; border-radius: 0; border: 0; font-family: "Roboto-Regular"; font-size: 17px;}

.box_thanhToan{  color: #30373d; position: relative; margin: 50px 0;}
.box_thanhToan .thanhToan { padding: 0 15px 0 15px;}
.box_thanhToan .thanhToan .box_title{ font-family: "SVNKelsonSansBold"; padding-bottom: 20px; color: #202b53 ; font-size: 35px; line-height:45px; text-transform: uppercase;}
.box_thanhToan .thanhToan .item { margin-bottom: 30px;}
.box_thanhToan .thanhToan .item .item_title{ font-family: "HelveticaNeue-Medium"; padding-bottom: 5px; font-size:17px; line-height: 45px;}
.box_thanhToan .thanhToan .item .item_detail{ font-size: 18px; padding-bottom: 20px;line-height: 23px;font-family: "Roboto-Regular";}
.box_thanhToan .thanhToan .item .item_detail span{font-family: "Roboto-Bold";}
.box_thanhToan .thanhToan .item .item_image{ width: 300px; max-width: 100%; margin: 0 auto; background: #f2ad21; color: #FFF; border-radius: 5px; padding: 28px 0;}
.box_thanhToan .thanhToan .item .item_image .image_title{font-family:"Roboto-Medium"; background: #FFF; color: #49556a; text-align: center; height: 38px; line-height: 38px;}
.box_thanhToan .thanhToan .item .item_image .image_desc{ padding: 15px; font-size: 15px; font-family:"Roboto-Medium"; line-height: 30px; color: #111;}
.box_thanhToan .dangKy{border: 2px solid #007acf;}

.box_student{padding: 90px 0 0; background: url("../images/bg_student.jpg") no-repeat top center; background-size: cover;}
.box_student .box_title .title{ text-align: center; color: #FFF; text-transform: uppercase; font-size: 25px; font-weight: 700; padding-bottom: 22px; position: relative; margin-bottom: 50px;}
.box_student .box_title .title:AFTER{ content: ""; position: absolute; bottom: 0; left: 50%; width: 50px; height: 5px; margin-left: -25px; background: -webkit-linear-gradient(left, #0039ae 25%,#7db9e8 100%);}
.box_student .item{min-height: 280px;}
.box_student .item .fa{position: absolute; font-size: 50px; color: #fff; top: 50%; left: 50%; margin: -25px 0 0 -25px; }
.box_student .item .image{ margin-bottom: 12px; text-align: center; padding-top: 20px;}
.box_student .item .image img{ width: auto; display: inline-block; width: 100%;}
.box_student .item .name{ font-size: 15px; font-weight: 500; text-transform: uppercase; text-align: center; margin-bottom: 2px; color: #0f2a51;}
.box_student .item .info{ color: #a1a1a1; font-size: 13px; text-align: center;}
.box_student .item .content{ font-size: 14px; padding-top: 20px;}
.box_student .bx-wrapper { position: relative; padding-bottom: 0;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a{ background-color: #FFF; width: 12px; height: 12px; display: inline-block; text-indent: -99999px; margin: 0 8px; border: 0; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; border-radius: 50% !important;}
.box_student .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.box_student .bx-wrapper .bx-pager.bx-default-pager a.active{ background-color: #d3a23b;}
.box_student .bx-wrapper .bx-viewport{ max-height: 520px;}
.box_student .bx-pager{ display: none; position: absolute; bottom: 0px; left: 0; width: 100%; margin: 0; padding: 0; text-align: center; z-index: 999;}
.box_student .bx-pager-item{ display: inline-block;}
.box_student .bx-controls-direction{display: contents; position: absolute; top: 13px; right: 0; z-index: 9999;}
.box_student .bx-controls-direction a{ display: inline-block; width: 20px; height: 20px; margin-top: 0; text-indent: -99999px; overflow: hidden;}
.box_student .bx-controls-direction a.bx-prev, 
.box_student .bx-controls-direction a.bx-prev:hover{ background: url("../images/prev.png") no-repeat center center; background-size: 100%; margin-right: 30px; position: absolute; top: 40%; margin-top: -10px; right: 100%;}
.box_student .bx-controls-direction a.bx-next,
.box_student .bx-controls-direction a.bx-next:hover{ background: url("../images/next.png") no-repeat center center; background-size: 100%; left: auto; position: absolute; top: 40%; margin-top: -10px; right: -4%;}
.box_student .item a{display: block; position: relative;}

.box_images{ overflow: hidden; background: #fff;}
.box_images img{ width: 100%; transform: scale(1); transition: transform .5s;}
.box_images img:hover{ transform: scale(1.2); position: relative; z-index: 1;} 
.box_images table{ width: 100%;} 
.box_images table td{ padding: 2px; overflow: hidden;} 
.box_images table div{ overflow: hidden;} 

.box_comment{ padding: 40px 0; background: #fff;}
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {min-width: 100% !important;}

.box_footer{ padding: 60px 0 60px; position: relative; background: #071831; color: #FFF;}
.box_footer .box_title{ text-transform: uppercase; margin-bottom: 30px; padding-top: 10px;}
.box_footer .wrap{ margin: 0 -15px;}
.box_footer .col{ float: left; padding: 0 15px; font-size: 14px;}
.box_footer .col-1 .logo{ margin-bottom: 18px;}
.box_footer .col-1 .slogan{ margin-bottom: 15px; padding-bottom: 15px; position: relative;}
.box_footer .col-1 .slogan:before{position: absolute; content: ""; width: 70px; height: 5px; background: #fff; bottom: 0; left: 0;}
.box_footer .col-1 .address{ font-size: 13px; margin-bottom: 2px;}
.box_footer .col-1 .address .fa{ width: 16px;}
.box_footer .col-1 .hotline{ font-size: 13px; margin-bottom: 15px;}
.box_footer .col-1 .hotline .fa{ width: 16px;}
.box_footer .col-1 .social {padding-top: 10px;}
.box_footer .col-1 .social a{ display: inline-block; margin-right: 5px;}
.box_footer .col-4 .input-group .form-control{ border: 0; border-radius: 0;}
.box_footer .col-4 .langtech .title{font-size: 16px; text-transform: uppercase; font-weight: 500; padding: 20px 0;}
.box_footer .col-4 .input-group .input-group-addon{ border: 0; border-radius: 0; background-color: #d3a23b; color: #FFF; cursor: pointer; transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}
.box_footer .col-4 .input-group .input-group-addon:HOVER{ background-color: #C9353D;}
.box_footer a{ color: #FFF;}
.box_footer a:HOVER{ color: #d3a23b;}

.btn_Dangky{width: 70px; background: #eb1c3b; padding: 15px; position: fixed; top: 50%; margin-top: -35px; text-align: center; font-size: 17px; font-weight: bold; text-transform: uppercase; color: #fff; border-radius: 10px 0 0 10px; height: auto; right: 0;}
.btn_Dangky:hover{cursor: pointer; background: #0e0e1a; transition: color 0.7s ease-in-out 0s,  background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}

.box_menuFooter ul{ margin: 0; padding: 0; list-style: none;}
.box_menuFooter ul>li{ display: block;}
.box_menuFooter ul>li>a{ text-transform: uppercase; margin-bottom: 5px; display: block; font-size: 13px;}
.box_menuFooter ul>li>ul{ display: none;}

.box_adsFooter{ overflow: hidden; margin-right: 40px;}
.box_adsFooter a{ display: inline-block; font-size: 10px; padding: 5px 10px 3px; border: 1px solid #FFF; border-radius: 14px; text-transform: uppercase; margin: 0 5px 5px 0;}
.box_adsFooter a:HOVER{ background-color: #FFF; color: #071831 !important;}

.popup_video{ background: url("../images/loader.gif") no-repeat center 40% rgba(0, 0, 0, 0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999;}
.popup_video .popup_content{ width: 80%; margin: 0 auto; margin-top: 5%; position: relative;}
.popup_video .popup_close{ position: absolute; top: -18px; right: -13px; font-size: 30px; color: #FF0000; line-height: 100%;}
.has-error .form-control{border: 1px solid #ec1c3c;}

.page-loading { position: fixed; top: 0; left: 0; z-index: 99999999; width: 100%; height: 100%; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.6); }
.loader { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 0; font-size: 10px; width: 8px; height: 8px; border-radius: 50% !important; text-indent: -9999em; -webkit-animation: load 1.3s infinite linear; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); opacity: 0.8; }

/* Defined */
@-webkit-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@-moz-keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }
@keyframes mySticky { from { margin-top: -150px } to { magrin-top: 0 } }

@-webkit-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@-moz-keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }
@keyframes load { 0%, 100% { box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 12.5% { box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 25% { box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 37.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 50% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 62.5% { box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1; } 75% { box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1; } 87.5% { box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1; } }

iframe[name="google_conversion_frame"]{ height: 0;}

/*RESPONSIVE*/


@media ( max-width : 1200px){
}

@media ( min-width : 1200px) {
  	.popup_video .popup_content{ width: 60%;}
}

@media ( max-width : 1000px) {
	.menu_mobile_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 99998;}

	.box_header{ height: 43px; position: fixed; border: 0; padding: 0 0 10px 0;}
	.box_header.sticky{ position: fixed; top: 0px; z-index: 999; border-bottom: 1px solid #EEE; -webkit-animation: mySticky 1s; -moz-animation: mySticky 1s; animation: mySticky 1s; animation-timing-function: none; -webkit-animation-timing-function: none; -moz-animation-timing-function: none; padding: 0 0; backface-visibility: none; -moz-backface-visibility: none; -webkit-backface-visibility: none; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: none; -webkit-transition: none; -moz-transition: none; }
	.box_header .container{ position: relative;}
	.box_header .logo{ margin-top: 8px !important;}
	.box_header .logo img{ height: 20px;}
	.box_header .menu_mobile{ top: 13px;}
	.box_header .menu_mobile .item{ background-color: #999;}
	.box_header .menu{ position: fixed; top: 0; left: 0; z-index: 99999; width: 60%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: auto; margin: 0; padding: 20px 0;}
	.box_header .menu li{ display: block; padding: 15px 20px;}
	.box_header .menu li a{ text-transform: uppercase; color: #FFF;}
	.box_header .menu li a:hover{ color: #FFF;}
	.box_header .menu li a.my_btn{ font-size: 16px;}
	.box_header .menu li:first-child{ padding-left: 20px; }
	.box_header .menu{ margin: 0 !important;}

	.box_aiNen .item{width: 100%; margin-top: 10px;}
	
	.box_loiich{background: #fff;}
	.box_loiich .box_content{display: inline-block; height: auto;}
	.box_loiich .box_content .title{padding: 20px 0;}
	.box_loiich .clearfix:before{display: none;}
	.box_loiIch .box_title{padding-top: 35px;}
	.box_loiIch .box_detail{margin-bottom: 40px;}
	.box_loiIch .item .item_content p{padding: 15px 0; font-size: 15px;}
	.box_loiIch .item .item_content{padding: 0 15px 0 70px ; margin-left: 15px; }
	.box_loiich .box_content .box_left{display: none;}
	.box_loiich .box_content .box_right{width: 100%; padding: 0 70px;}
	.box_loiich .box_content .box_info{margin-left: 0px; padding: 15px; width: 100%; }

	.box_thongTin .box_content{padding: 0;}
	.box_aiNen .box_content .list_item .item{margin: 0 25px;}
	
	.popup_video .popup_content{ width: calc(100% - 40px); top: 10%;}

	.box_student .item{padding: 0 25px;}
	.box_student .bx-controls-direction a.bx-next, .box_student .bx-controls-direction a.bx-next:hover{right: -1%;}
	.box_student .bx-controls-direction a.bx-prev, .box_student .bx-controls-direction a.bx-prev:hover{right: 90%;}
}

@media ( max-width : 768px) {
	body{ color: #282828; font-size: 15px;}
	br{display: none;}

	.box_banner{margin-bottom: 50px;}
	.box_banner .image img{ margin-top: 43px; }
	
	.box_header.sticky{ padding: 0px;}
	
	.box_gioiThieu{ margin-bottom: 50px;}
	.box_gioiThieu .box_content{padding: 0 15px;}
	.box_gioiThieu .img{padding-bottom: 25px;}
	.box_gioiThieu .box_content .box_title{font-size: 25px; margin-bottom: 30px;}
	.box_gioiThieu .text .item{font-size: 15px;}
	.box_gioiThieu .box_content .detail{font-size: 15px;}
	.box_gioiThieu .box_content .info .value{font-size: 15px;}

	.box_thongTin{padding-bottom: 50px; margin:0; background: #1e2b52;}
	.box_thongTin .detail{margin: 20px 0; padding: 0 10px;}
	.box_thongTin .box_title{padding: 0;}
	.box_thongTin .info{padding: 15px 0;}
	.box_thongTin .box_content .info .item .value .btn{padding: 5px 15px;}
	.box_thongTin .box_content .text{ padding: 10px 10px 30px 10px; font-size: 15px;}
	.box_thongTin .box_content .info .item{ display: block; padding: 0 20px;}
	.box_thongTin .box_content .info .title{font-size: 25px; text-align: center; padding: 50px 0; margin: 0;}
	.box_thongTin .box_content .info .item .key{ display: block; width: auto;}
	.box_thongTin .box_content .info .item .value{ display: block; width: auto; padding: 10px; font-size: 15px;}
	.box_thongTin .box_content .info .item .value.btn_book a{line-height: 50px;}
	
	.box_aiNen{padding: 50px 0; margin: 0;}
	.box_aiNen .title{margin-bottom: 35px;}
	.box_aiNen .item{height: auto;}

	.box_loiich{height: auto; margin-bottom: 50px;}
	.box_loiich .box_content .box_right{padding: 0; height: auto; padding-bottom: 30px;}
	.box_loiich .box_content .box_info .item{padding-left: 35px;}
	.box_loiich .box_content .box_info .item:before{left: 0;}

	.box_khoaHoc{margin-bottom: 50px;}
	.box_khoaHoc .box_title{padding-left: 15px; font-size: 25px;}
	.box_khoaHoc .table th{font-size: 12px;}
	.box_khoaHoc .table td{font-size: 11px; text-align: left;}
	.box_khoaHoc .table .odd .text{padding: 0 5px;}
	.box_khoaHoc .table .odd .col-xs-2{padding: 0 5px;}
	.box_khoaHoc .table th{padding: 5px; font-size: 9px; line-height: 15px;}
	.box_khoaHoc .table th.col-xs-1, .box_khoaHoc .table th.col-xs-3, .box_khoaHoc .table th.col-xs-2{padding: 0 5px;}
	.box_khoaHoc .table select, .box_khoaHoc .table select option{font-size: 10px; padding: 2px;}

	.box_dangKy{background: #202A4E; margin-bottom: 50px; padding: 0;}
	.box_dangKy .title_1{width: 100%; padding: 50px 0; font-size: 25px;}
	.box_dangKy .uudai .box_content .text_1{padding: 20px 0;}
	.box_dangKy .title_2{line-height: 45px; padding: 0 0 50px 0; font-size: 25px; margin: 0;}
	.box_dangKy .form {margin-bottom: 50px;}
	.box_dangKy .form .form-control{height: 40px; font-size: 14px; padding: 0 15px;}
	.box_dangKy .form .form-group input::placeholder{font-size: 14px;}
	.box_dangKy .form .btnSuccess .btn-blue{height: 40px; font-size: 17px; vertical-align: middle; line-height: 20px;}
	.box_dangKy .form .form-row .col-md-6{padding-right: 0;}
	.box_dangKy .uudai{padding: 0; width: 100%;}
	.box_dangKy .uudai .box_content .table{padding: 0 15px;}
	.box_dangKy .uudai .box_content .table>tbody>tr>td{font-size: 17px; height: 45px;}
	.box_dangKy .uudai .box_content .text_2{padding: 30px 15px; margin-bottom: 40px;}57.box_dangKy .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ height: 40px; padding: 0; font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle.bs-placeholder{ height: 40px; font-size: 14px;}
	.box_dangKy .btn-group.open .dropdown-toggle{ height: 40px font-size: 14px;}
	.box_dangKy .bootstrap-select>.dropdown-toggle{ height: 40px;font-size: 14px;}
	
	.box_dienGia{ padding: 30px 0; background: #202A4E; height: auto; margin-bottom: 50px;}
	.box_dienGia .image{ margin-bottom: 20px;}
	.box_dienGia .image img{ width: 100%;}
	.box_dienGia .box_title .title_1{ font-size: 25px; line-height: 35px; position: relative; padding-bottom: 500px;}
	.box_dienGia .box_title .title_1:before{position: absolute; content: ""; background: url("../images/diengia.jpg") no-repeat top center; bottom: 0; width: 100%; height: 500px;}
	.box_dienGia .box_title .title_2 img{display: none;}
	.box_dienGia .content{ padding: 0 15px;}
	.box_dienGia .box_title{ font-size: 35px; padding-left: 0;}
	.box_dienGia .box_content{ font-size: 17px; padding: 0; width: 100%;}
	.box_dienGia .box_content p{ font-size: 13px; padding-left: 0;}
	
	.box_thanhToan{ padding: 0 0 30px 0; }
	.box_thanhToan .container .box_title{ margin: 0; padding: 0 15px 30px; font-size: 25px; text-align: center; padding: 0;}
	.box_thanhToan .container{ padding: 0 10px;}
	.box_thanhToan .info{ padding: 30px;}
	.box_thanhToan .info .title{ padding: 0;}
	.box_thanhToan .info .head{ padding-top: 30px; padding-bottom: 10px;}
	.box_thanhToan .form{ padding: 30px;}
	.box_thanhToan .bank{ padding: 0 30px 50px;}
	.box_thanhToan .bank .title{ padding-bottom: 0;}
	.box_thanhToan .bank .item{ padding-top: 30px;}

	.box_images{margin: 0;}

	.box_footer{padding: 40px 10px;}
}

@media(max-width:480px){
	.box_gioiThieu{padding-bottom: 0;}
	.box_gioiThieu .image img{width: 100%;}
	.box_gioiThieu p{padding: 0 10px; font-size: 15px;}
	.box_gioiThieu .text{padding: 0 10px 0 35px; font-size: 24px;}
	.box_gioiThieu .info .text-1, .box_gioiThieu .info .text-2{padding-right: 10px;}
	.box_gioiThieu .info .title{font-size: 25px;}
	.box_gioiThieu .text .item:before{left: -35px;}
	.box_gioiThieu .box_content .detail{padding: 20px 10px 20px 40px; margin: 40px 0}
	.box_gioiThieu .box_content .detail:before{left: 5px; top: 8px;}

	.box_thongTin{margin-top: 0; padding: 50px 15px;}
	.box_thongTin .box_title{margin-bottom: 0;}
	.box_thongTin .box_content .info .title{padding: 15px 0;}
	.box_thongTin .box_content .info .item .key{font-size: 20px;}
	.box_thongTin .box_content .info .item .value{font-size: 12px;}
	.box_thongTin .box_content .info .item .value .text{font-size: 12px;}
	.box_thongTin .box_content .info .item .value .btn{font-size: 12px; padding: 5px;}
	
	.box_aiNen .title{font-size: 25px; padding: 0;}
	.box_aiNen .item{padding: 30px 15px; height: auto;}

	.box_loiich .box_content .box_info .title{font-size: 25px; }
	.box_loiich .box_content .box_info .item{font-size: 15px;}
	
	.box_khoaHoc .box_title{padding: 0 15px; font-size: 20px; text-align: center; padding-bottom: 30px;}
	
	.box_dangKy .uudai .box_content .text_2{font-size: 15px;}
	.box_dangKy .uudai .text{height: 60px; line-height: 60px; font-size: 17px;}

	.box_thongTin .box_content .info .item .value.btn_book{font-size: 20px;}
	
	.box_thanhToan .dangKy .box_title{font-size: 30px;margin-top: 25px;}
	.box_thanhToan .container .box_title{font-size: 25px;padding-bottom: 0;}
	.box_thanhToan .dangKy{padding: 0;}
	.box_thanhToan .dangKy .box_content{margin-top: 15px;}
}