<?php 
    $myForm = $this->myForm;
    $myForm->prepare();
    $string = new \ZendX\Functions\Gid();
    $random = $string->random();
    
    $elements = array(
        array('element' => $myForm->get('date_begin'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('date_end'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('company_branch_id'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        //array('element' => $myForm->get('company_group_id'), 'boxClass' => 'col-md-2 col-sm-4 col-xs-6'),
        array('element' => $myForm->get('submit'), 'boxClass' => 'col-md-1 col-sm-4 col-xs-6'),
    );
    $xhtmlFilter = $this->partialLoop($this->params['module'] . '/partial/form-default.phtml', $elements);
    
?>
<div class="report" id="adminReport_<?php echo $random; ?>">
    <div class="report-control">
    	<div class="title pull-left"><?php echo $this->caption;?></div>
		<div class="clearfix"></div>
	</div>
	<div class="report-filter">
	    <form>
    	    <div class="row">
                <?php echo $xhtmlFilter;?>
            </div>
        </form>
	</div>
	<div class="report-wrapper">
    	<div class="report-content">
            
        </div>
    </div>
</div>

<script type="text/javascript">
<!--
$(document).ready(function() {
    var idReport = '#adminReport_<?php echo $random; ?>';
    var ajaxUrl = "<?php echo $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => $this->params['action'])); ?>?code=<?php echo $_GET["code"]; ?>";
    function report_<?php echo $random?>() {
        $.ajax({
    		url: ajaxUrl,
    		type: 'POST',
    		data: $(idReport + ' form').serialize(),
    		beforeSend: function() {
    			pageLoading('loading', idReport + ' .report-content');
    		},
    		success: function(result) {
    			result = JSON.parse(result);
    			console.log(result);
    			// Load dữ liệu ra table
    		    var htmlTable = '';
    		    var htmlReport = '';
    		    $.each( result['question'], function( key, value ) {
    		    	htmlTable += '<div class="row"><div class="col-sm-6"><table class="table table-bordered table-report">';
    		    	htmlTable += '<thead>';
    		    	htmlTable += '<tr>';
    		    	htmlTable += '<th colspan="2" class="box_title">'+ result['name'][key] +'</th>';
    		    	htmlTable += '</tr>';
    		    	htmlTable += '<tr>';
    		    	htmlTable += '<th>Tên</th>';
    		    	htmlTable += '<th>Tổng</th>';
    		    	htmlTable += '</tr>';
    		    	htmlTable += '</thead>';
    		    	htmlTable += '<tbody>';
    				$.each( value, function( key2, value2 ) {
    					htmlTable += '<tr>';
    						htmlTable += '<td><b>'+ value2['name'] +'</b></td>';
    						htmlTable += '<td class="mask_currency">'+ value2['y'] +'</td>';
    					htmlTable += '</tr>';
					});
    				htmlTable += '</tbody>';
    				htmlTable += '</table>';
    				htmlTable += '</div>';
    				
    				htmlTable += '<div class="col-sm-6">';
    				htmlTable += '<div id="container_'+ key +'"></div>';
    				htmlTable += '</div></div><hr />';
  		    	});
    		    $(idReport + ' .report-content').html(htmlTable);

    		    $.each( result['question']  , function( key, value ) {
    		    	var data = [];
    				$.each( value, function( key2, value2 ) {
    					data.push({name : value2['name'], y : value2['y']});
					});
					
        		    Highcharts.chart('container_' + key, {
    	                chart: {  
    	                    type: 'pie'
    	                },
    	                title: {
    	                    text: ''
    	                },
    	                tooltip: {
    	                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    	                },
    	                plotOptions: {
    	                    pie: {
    	                        allowPointSelect: true,
    	                        cursor: 'pointer',
    	                        dataLabels: {
    	                            enabled: true,
    	                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
    	                            style: {
    	                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
    	                            }
    	                        }
    	                    }
    	                },
    	                series: [{
    	                    name: 'Brands',
    	                    colorByPoint: true,
    	                    data: data
    	                }]
    	            });
    		    });
    			Form.init();
    		}
    	});
    }
    report_<?php echo $random?>();
    $(idReport + ' form button[name="submit"]').click(function() {
    	report_<?php echo $random?>();
    });
    $(idReport + ' form select').change(function() {
    	report_<?php echo $random?>();
    });
});
//-->
</script>


