<?php
    $arrControl = array(
        array('name' => 'save-close', 'caption' => 'Đồng ý xóa', 'link' => 'javascript:;', 'icon' => 'fa-save', 'attributes' => array('onclick' => 'javascript:controlSubmitForm(\'save-close\');', 'class' => 'btn')),
        array('name' => 'close', 'caption' => 'Quay lại', 'link' => $this->url('routeAdmin/default', array('controller' => $this->params['controller'], 'action' => 'index')), 'onclick' => '', 'icon' => 'fa-times', 'attributes' => array('class' => 'btn')),
    );
?>

<form method="post" action="" class="horizontal-form form-tab" role="form" name="adminForm" id="adminForm">
    <div class="page-control">
    	<div class="title pull-left">
    		<?php echo $this->caption;?>
    	</div>
    	<div class="control pull-right">
			<?php echo $this->partial($this->params['module'] . '/partial/control-default.phtml', array( 'control' => $arrControl )); ?>
		</div>
		<div class="clearfix"></div>
	</div>
	
    <?php echo $this->flashMessenger()->render();?>
	
    <div class="page-content">
    	<div class="row">
			<div class="col-md-12"><div class="alert alert-danger">Nếu xóa phần tử <b><?php echo $this->item['name'];?></b>, toàn bộ dữ liệu đã nhập sẽ bị xóa. Bạn có chắc chắn muốn xóa?</div></div>
		</div>
	</div>
</form>