
@font-face {
	font-family: 'SVN-NexaBold';
	src:url('../../../fonts/SVN-NexaBold.eot');
	src:url('../../../fonts/SVN-NexaBold.eot?#iefix') format('embedded-opentype'),  
		url('../../../fonts/SVN-NexaBold.woff') format('woff'), 
		url('../../../fonts/SVN-NexaBold.woff2') format('woff2'), 
		url('../../../fonts/SVN-NexaBold.ttf')  format('truetype'), 
		url('../../../fonts/SVN-NexaBold.svg#SVN-NexaBold') format('svg');
}

@font-face {
	font-family: 'SVN-NexaLight';
	src:url('../../../fonts/SVN-NexaLight.eot');
	src:url('../../../fonts/SVN-NexaLight.eot?#iefix') format('embedded-opentype'),  
		url('../../../fonts/SVN-NexaLight.woff') format('woff'), 
		url('../../../fonts/SVN-NexaLight.woff2') format('woff2'), 
		url('../../../fonts/SVN-NexaLight.ttf')  format('truetype'), 
		url('../../../fonts/SVN-NexaLight.svg#SVN-NexaLight') format('svg');
}

@font-face {
	font-family: 'HelveticaNeue-Medium';
	src:url('../../../fonts/HelveticaNeue-Medium.eot');
	src:url('../../../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),  
		url('../../../fonts/HelveticaNeue-Medium.woff') format('woff'), 
		url('../../../fonts/HelveticaNeue-Medium.woff2') format('woff2'), 
		url('../../../fonts/HelveticaNeue-Medium.ttf')  format('truetype'), 
		url('../../../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
}

@font-face {
	font-family: 'HelveticaNeue';
	src:url('../../../fonts/HelveticaNeue.eot');
	src:url('../../../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),  
		url('../../../fonts/HelveticaNeue.woff') format('woff'), 
		url('../../../fonts/HelveticaNeue.woff2') format('woff2'), 
		url('../../../fonts/HelveticaNeue.ttf')  format('truetype'), 
		url('../../../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
}

@font-face {
	font-family: 'HelveticaNeue-Bold';
	src:url('../../../fonts/HelveticaNeue-Bold.eot');
	src:url('../../../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  
		url('../../../fonts/HelveticaNeue-Bold.woff') format('woff'), 
		url('../../../fonts/HelveticaNeue-Bold.woff2') format('woff2'), 
		url('../../../fonts/HelveticaNeue-Bold.ttf')  format('truetype'), 
		url('../../../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
}

@font-face {
	font-family: 'DP-Bold';
	src:url('../../../fonts/DP-Bold.eot');
	src:url('../../../fonts/DP-Bold.eot?#iefix') format('embedded-opentype'),  
		url('../../../fonts/DP-Bold.woff') format('woff'), 
		url('../../../fonts/DP-Bold.woff2') format('woff2'), 
		url('../../../fonts/DP-Bold.ttf')  format('truetype'), 
		url('../../../fonts/DP-Bold.svg#DP-Bold') format('svg');
}

@font-face {
	font-family: 'Montserrat-SemiBold_0';
	src:url('../../../fonts/Montserrat-SemiBold_0.eot');
	src:url('../../../fonts/Montserrat-SemiBold_0.eot?#iefix') format('embedded-opentype'),  
		url('../../../fonts/Montserrat-SemiBold_0.woff') format('woff'), 
		url('../../../fonts/Montserrat-SemiBold_0.woff2') format('woff2'), 
		url('../../../fonts/Montserrat-SemiBold_0.ttf')  format('truetype'), 
		url('../../../fonts/Montserrat-SemiBold_0.svg#Montserrat-SemiBold_0') format('svg');
}

@font-face{
	font-family:'SVNKelsonSansBold';
	src:url('../../../fonts/SVN-Kelson-Sans-Bold.eot');
	src:url('../../../fonts/SVN-Kelson-Sans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../../fonts/SVN-Kelson-Sans-Bold.woff2') format('woff2'),
		url('../../../fonts/SVN-Kelson-Sans-Bold.woff') format('woff'),
		url('../../../fonts/SVN-Kelson-Sans-Bold.ttf') format('truetype'),
		url('../../../fonts/SVN-Kelson-Sans-Bold.svg#SVNKelsonSansBold') format('svg');
}

@font-face{
	font-family:'SVNKelsonSansRegular';
	src:url('../../../fonts/SVN-Kelson-Sans-Regular.eot');
	src:url('../../../fonts/SVN-Kelson-Sans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../../fonts/SVN-Kelson-Sans-Regular.woff2') format('woff2'),
		url('../../../fonts/SVN-Kelson-Sans-Regular.woff') format('woff'),
		url('../../../fonts/SVN-Kelson-Sans-Regular.ttf') format('truetype'),
		url('../../../fonts/SVN-Kelson-Sans-Regular.svg#SVNKelsonSansRegular') format('svg');
}

@font-face {
	font-family: 'UTM-Bebas_1';
	src:url('../../../fonts/UTM-Bebas_1.eot');
	src:url('../../../fonts/UTM-Bebas_1.eot?#iefix') format('embedded-opentype'),  
		url('../../../fonts/UTM-Bebas_1.woff') format('woff'), 
		url('../../../fonts/UTM-Bebas_1.woff2') format('woff2'), 
		url('../../../fonts/UTM-Bebas_1.ttf')  format('truetype'), 
		url('../../../fonts/UTM-Bebas_1.svg#UTM-Bebas_1') format('svg');
}

@font-face {
	font-family: 'iCielNovecentosans-DemiBold';
	src:url('../../../fonts/iCielNovecentosans-DemiBold.eot');
	src:url('../../../fonts/iCielNovecentosans-DemiBold.eot?#iefix') format('embedded-opentype'),  
		url('../../../fonts/iCielNovecentosans-DemiBold.woff') format('woff'), 
		url('../../../fonts/iCielNovecentosans-DemiBold.woff2') format('woff2'), 
		url('../../../fonts/iCielNovecentosans-DemiBold.ttf')  format('truetype'), 
		url('../../../fonts/iCielNovecentosans-DemiBold.svg#iCielNovecentosans-DemiBold') format('svg');
}

